/* SIDEBAR VARIABLES */
/* SPRITE SA DO PRZECZYSZCZENIA, ZA DUZO OBRAZKOW TAM WPADA NIEPOTRZEBNIE */
/**



 NEW GLOBAL VARS



 **/
/***********************************************/
/* REVIEW BLOCK VARIABLES */
/* CMS VARIABLES */
/* HEADER VARIABLES */
/* CHECKOUT HEADER VARIABLES */
/* TOP MENU VARIABLES */
/* DROPDOWN VARIABLES */
/* CART DROPDOWN VARIABLES */
/* SEARCH DROPDOWN VARIABLES */
/* FOOTER VARIABLES */
/* CART VARIABLES */
/* HAMBURGER MENU VARIABLES */
/* FAQ VARIABLES */
/* COOKIE BAR VARIABLES */
/* PRODUCT VARIABLES */
/* MY ACCOUNT VARIABLES */
/* RMA VARIABLES */
/* SIDEBAR COLORS */
/* PRODUCT SITE COLORS */
/* LISTING */
/*FOOTER*/
/* line 1, ../sass/slick/_topslider.scss */
#topSlider {
  display: none;
  border: 1px solid #dbdbdb; }
/* line 4, ../sass/slick/_topslider.scss */
#topSlider.slick-initialized {
  display: block; }
/* line 7, ../sass/slick/_topslider.scss */
#topSlider .slick-slide {
  display: inline-block;
  vertical-align: top;
  float: none;
  position: relative; }
/* line 12, ../sass/slick/_topslider.scss */
#topSlider .slick-slide .topSlideImages img {
  width: 100%;
  height: auto; }
/* line 15, ../sass/slick/_topslider.scss */
#topSlider .slick-slide .topSlideImages img.small {
  width: auto;
  margin: 0 auto; }
/* line 20, ../sass/slick/_topslider.scss */
#topSlider .slick-slide .topSlideCaptions {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  text-shadow: rgba(255, 255, 255, 0.6) 0 1px 1px;
  color: #4f4f4f;
  text-align: center; }
@media screen and (max-width: 1199px) {
  /* line 20, ../sass/slick/_topslider.scss */
  #topSlider .slick-slide .topSlideCaptions {
    bottom: 10px; } }
@media screen and (max-width: 991px) {
  /* line 20, ../sass/slick/_topslider.scss */
  #topSlider .slick-slide .topSlideCaptions {
    bottom: 5px; } }
@media screen and (max-width: 767px) {
  /* line 20, ../sass/slick/_topslider.scss */
  #topSlider .slick-slide .topSlideCaptions {
    display: none; } }
/* line 39, ../sass/slick/_topslider.scss */
#topSlider .slick-slide .topSlideCaptions a {
  margin: 0 auto; }
/* line 41, ../sass/slick/_topslider.scss */
#topSlider .slick-slide .topSlideCaptions a span {
  display: block; }
/* line 43, ../sass/slick/_topslider.scss */
#topSlider .slick-slide .topSlideCaptions a span i {
  color: #008733; }
/* line 46, ../sass/slick/_topslider.scss */
#topSlider .slick-slide .topSlideCaptions a span + span, #topSlider .slick-slide .topSlideCaptions a span + a span {
  margin-top: 20px; }
@media screen and (max-width: 1199px) {
  /* line 46, ../sass/slick/_topslider.scss */
  #topSlider .slick-slide .topSlideCaptions a span + span, #topSlider .slick-slide .topSlideCaptions a span + a span {
    margin-top: 10px; } }
@media screen and (max-width: 991px) {
  /* line 46, ../sass/slick/_topslider.scss */
  #topSlider .slick-slide .topSlideCaptions a span + span, #topSlider .slick-slide .topSlideCaptions a span + a span {
    margin-top: 5px; } }
/* line 56, ../sass/slick/_topslider.scss */
#topSlider .slick-slide .topSlideCaptions a + a span, #topSlider .slick-slide .topSlideCaptions a + span {
  margin-top: 20px; }
@media screen and (max-width: 1199px) {
  /* line 56, ../sass/slick/_topslider.scss */
  #topSlider .slick-slide .topSlideCaptions a + a span, #topSlider .slick-slide .topSlideCaptions a + span {
    margin-top: 10px; } }
@media screen and (max-width: 991px) {
  /* line 56, ../sass/slick/_topslider.scss */
  #topSlider .slick-slide .topSlideCaptions a + a span, #topSlider .slick-slide .topSlideCaptions a + span {
    margin-top: 5px; } }
/* line 68, ../sass/slick/_topslider.scss */
#topSlider .slick-track {
  background-color: #ffffff; }
/* line 71, ../sass/slick/_topslider.scss */
#topSlider ul.slick-dots {
  position: absolute;
  right: 0;
  bottom: 0;
  list-style: none;
  padding: 5px 20px;
  margin: 0; }
/* line 79, ../sass/slick/_topslider.scss */
#topSlider ul.slick-dots li {
  display: inline-block;
  height: 10px;
  width: 10px;
  position: relative; }
/* line 84, ../sass/slick/_topslider.scss */
#topSlider ul.slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: transparent;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0; }
/* line 97, ../sass/slick/_topslider.scss */
#topSlider ul.slick-dots li.slick-active button {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  margin: -1px; }
/* line 103, ../sass/slick/_topslider.scss */
#topSlider ul.slick-dots li + li {
  margin-left: 5px; }

/* line 1, ../sass/slick/_boxesslider.scss */
#boxesSlider {
  margin-top: 15px;
  text-align: center;
  position: relative; }
/* line 6, ../sass/slick/_boxesslider.scss */
#boxesSlider .boxesSlide {
  background-color: #fff;
  display: inline-block;
  vertical-align: top;
  float: none;
  border: 1px solid #dbdbdb;
  margin: 0 5px 2px 0; }
/* line 13, ../sass/slick/_boxesslider.scss */
#boxesSlider .boxesSlide.mobile {
  margin-bottom: 10px; }
/* line 15, ../sass/slick/_boxesslider.scss */
#boxesSlider .boxesSlide.mobile:nth-child(odd) {
  margin-right: 10px; }
/* line 18, ../sass/slick/_boxesslider.scss */
#boxesSlider .boxesSlide.mobile:nth-last-child(1), #boxesSlider .boxesSlide.mobile:nth-last-child(2) {
  margin-bottom: 0; }
/* line 22, ../sass/slick/_boxesslider.scss */
#boxesSlider .boxesSlide .boxesSlideIn {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: #ffffff; }
/* line 29, ../sass/slick/_boxesslider.scss */
#boxesSlider.boxesSliderHasArrows {
  padding-left: 40px;
  padding-right: 40px; }
/* line 32, ../sass/slick/_boxesslider.scss */
#boxesSlider.boxesSliderHasArrows .boxesArrow {
  display: block;
  color: #b99;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  height: 100%;
  top: 0;
  cursor: pointer; }
/* line 41, ../sass/slick/_boxesslider.scss */
#boxesSlider.boxesSliderHasArrows .boxesArrow.boxesArrowNext {
  right: 9px; }
/* line 44, ../sass/slick/_boxesslider.scss */
#boxesSlider.boxesSliderHasArrows .boxesArrow.boxesArrowPrev {
  left: 9px; }
/* line 47, ../sass/slick/_boxesslider.scss */
#boxesSlider.boxesSliderHasArrows .boxesArrow i {
  transition: margin 200ms ease; }
/* line 52, ../sass/slick/_boxesslider.scss */
#boxesSlider .boxesArrow {
  display: none; }
