.button {
	@include inline-block;
	border:none;
	@include border-radius(0px);
	outline:none;
	text-decoration: none!important;
	text-transform: uppercase;
	&.btn-social {
		border-radius: 0px;
		background:$allMap;
		border:none;
		cursor: pointer;
		&.small {
			font-size: 13.33px;
			color:$color_545151;
			padding-left:36px;
			text-transform: none;
			line-height: image-height(sprite-file($allMap, google-small-l));
			text-align: center;
			&.g-plus {
				@include sprite($allMap, google-small-l);
				@include sprite-dimensions($allMap, google-small-l);
				&:hover {
					@include sprite($allMap, google-small-h);
				}
				&:active {
					@include sprite($allMap, google-small-a);
				}
			}
			&.fb {
				@include sprite($allMap, fb-small-l);
				@include sprite-dimensions($allMap, fb-small-l);
				&:hover {
					@include sprite($allMap, fb-small-h);
				}
				&:active {
					@include sprite($allMap, fb-small-a);
				}
			}
		}
		&.medium {
			font-size: 13.33px;
			color:$color_545151;
			padding-left:52px;
			text-transform: none;
			line-height: image-height(sprite-file($allMap, google-medium-l));
			&.g-plus {
				@include sprite($allMap, google-medium-l);
				@include sprite-dimensions($allMap, google-medium-l);
				&:hover {
					@include sprite($allMap, google-medium-h);
				}
				&:active {
					@include sprite($allMap, google-medium-a);
				}
			}
			&.fb {
				@include sprite($allMap, fb-medium-l);
				@include sprite-dimensions($allMap, fb-medium-l);
				&:hover {
					@include sprite($allMap, fb-medium-h);
				}
				&:active {
					@include sprite($allMap, fb-medium-a);
				}
			}

		}
	}
	&.button-primary {
		padding: 10px 15px;
		color:$colorBtnPrimary;
		font-family: $fontRegular;
		text-align: center;
		white-space:nowrap;
		&:hover {
			opacity: 0.8;
		}
		@include primaryButtonGradient;

		@media (max-width: $screen-xs-max) {
			padding: 10px 15px;
			@media screen and (-webkit-min-device-pixel-ratio:0) {
				font-weight: bold;
			}
		}
		@media (max-width: 360px) {
			padding: 10px 10px;
			@media screen and (-webkit-min-device-pixel-ratio:0) {
				font-weight: normal;
			}
		}
		@media (max-width: 319px) {
			padding: 10px 10px;
		}
		&.large {
			padding: 10px 15px;
			font-size: 14px;
		}
		&.medium {
			padding: 5px 15px;
			font-size: 14px;
			font-weight: normal;
		}
		&.small {
			padding: 2.5px 15px;
			font-size: 14px;
			font-weight: normal;
		}
	}
	&.button-secondary {
		padding: 1.5px 15px;
		color:$color_fff;
		font-weight: bold;
		font-size: 16px;
		font-family: $fontRegular;
		min-width: 148px;
		text-align: center;
		background:$color_000;
		border:1px solid $color_c5c5c5;
		border-radius: 0;

		&:hover,
		&.hover {
			background: $color_515151;
		}
		&:active,
		&:focus,
		&.active {
			background: $color_c6a662;
			border-color:$color_c6a662;
		}
	}
	&.button-third {
		padding: 6px 18px;
		background: #adadad !important;
		background: -moz-linear-gradient(-80deg, #adadad 0%, #adadad 100%) !important;
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #adadad), color-stop(100%, #adadad)) !important;
		background: -webkit-linear-gradient(-80deg, #adadad 0%, #adadad 100%) !important;
		background: -o-linear-gradient(-80deg, #adadad 0%, #adadad 100%) !important;
		background: -ms-linear-gradient(-80deg, #adadad 0%, #adadad 100%) !important;
		background: linear-gradient(135deg, #adadad 0%, #adadad 100%) !important;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$startColor, endColorstr=$stopColor,GradientType=1 ) !important;
		color:$color_fff;
		&:hover,
		&.hover,
		&:focus,
		&.focus {
			background: #444444 !important;
			background: -moz-linear-gradient(-80deg, #444444 0%, #444444 100%) !important;
			background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #444444), color-stop(100%, #444444)) !important;
			background: -webkit-linear-gradient(-80deg, #444444 0%, #444444 100%) !important;
			background: -o-linear-gradient(-80deg, #444444 0%, #444444 100%) !important;
			background: -ms-linear-gradient(-80deg, #444444 0%, #444444 100%) !important;
			background: linear-gradient(135deg, #444444 0%, #444444 100%) !important;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$startColor, endColorstr=$stopColor, GradientType=1) !important;
			border-color: #444444;
		}
	}
}