<?xml version="1.0"?>
<config>
    <modules>
        <GH_Integrator>
            <version>0.0.2</version>
        </GH_Integrator>
    </modules>
    <global>
        <models>
            <ghintegrator>
                <class>GH_Integrator_Model</class>
	            <resourceModel>ghintegrator_resource</resourceModel>
            </ghintegrator>
	        <ghintegrator_resource>
		        <class>GH_Integrator_Model_Resource</class>
		        <entities>
			        <log>
				        <table>gh_integrator_log</table>
			        </log>
		        </entities>
	        </ghintegrator_resource>
        </models>
        <helpers>
            <ghintegrator>
                <class>GH_Integrator_Helper</class>
            </ghintegrator>
        </helpers>
	    <resources>
		    <ghintegrator_setup>
			    <setup>
				    <module>GH_Integrator</module>
			    </setup>
		    </ghintegrator_setup>
	    </resources>
	    <blocks>
		    <ghintegrator>
			    <class>GH_Integrator_Block</class>
		    </ghintegrator>
	    </blocks>
    </global>
    <frontend>
        <routers>
            <ghintegrator>
                <use>standard</use>
                <args>
                    <module>GH_Integrator</module>
                    <frontName>ghintegrator</frontName>
                </args>
            </ghintegrator>
            <ghapi>
                <args>
                    <modules>
                        <GH_Integrator before="GH_Api">GH_Integrator</GH_Integrator>
                    </modules>
                </args>
            </ghapi>
        </routers>
        <translate>
            <modules>
                <GH_Integrator>
                    <files>
                        <default>GH_Integrator.csv</default>
                    </files>
                </GH_Integrator>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <GH_Integrator>
                    <files>
                        <default>GH_Integrator.csv</default>
                    </files>
                </GH_Integrator>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ghintegrator>
                                            <title>GH Integrator</title>
                                        </ghintegrator>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
	    <layout>
		    <updates>
			    <ghintegrator>
				    <file>ghintegrator.xml</file>
			    </ghintegrator>
		    </updates>
	    </layout>
    </adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<ghintegrator>
					<use>admin</use>
					<module>GH_Integrator</module>
					<frontname>ghintegrator</frontname>
				</ghintegrator>
				<args>
					<modules>
						<ghintegrator before="Mage_Adminhtml">GH_Integrator_Adminhtml</ghintegrator>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
</config>