<?xml version="1.0"?>
<config>
    <modules>
        <GH_Integrator>
            <version>0.0.1</version>
        </GH_Integrator>
    </modules>
    <global>
        <models>
            <ghintegrator>
                <class>GH_Integrator_Model</class>
            </ghintegrator>
        </models>
        <helpers>
            <ghintegrator>
                <class>GH_Integrator_Helper</class>
            </ghintegrator>
        </helpers>
	    <resources>
		    <ghintegrator_setup>
			    <setup>
				    <module>GH_Integrator</module>
			    </setup>
		    </ghintegrator_setup>
	    </resources>
    </global>
    <frontend>
        <routers>
            <ghintegrator>
                <use>standard</use>
                <args>
                    <module>GH_Integrator</module>
                    <frontName>ghintegrator</frontName>
                </args>
            </ghintegrator>
        </routers>
        <translate>
            <modules>
                <GH_Integrator>
                    <files>
                        <default>GH_Integrator.csv</default>
                    </files>
                </GH_Integrator>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <GH_Integrator>
                    <files>
                        <default>GH_Integrator.csv</default>
                    </files>
                </GH_Integrator>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ghintegrator>
                                            <title>GH Integrator</title>
                                        </ghintegrator>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>