<?xml version="1.0"?>
<config>
	<sections>
		<ghintegrator translate="label" module="ghintegrator">
			<label>GH Integrator Options</label>
			<tab>ghapi</tab>
			<sort_order>10</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>0</show_in_website>
			<show_in_store>0</show_in_store>
			<groups>
				<hours translate="label" module="ghintegrator">
					<label>Integration Hours</label>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<description translate="label">
							<label>Description</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment><![CDATA[Insert hours separated by commas<br />e.g. 10:00,12:00,13:00]]></comment>
						</description>
						<price translate="label">
							<label>Price</label>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment><![CDATA[Insert hours separated by commas<br />e.g. 10:00,12:00,13:00]]></comment>
						</price>
						<stock translate="label">
							<label>Stock</label>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment><![CDATA[Insert hours separated by commas<br />e.g. 10:00,12:00,13:00]]></comment>
						</stock>
					</fields>
				</hours>
                <ftp translate="label" module="ghintegrator">
                    <label>Integration FTP server</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <login translate="label">
                            <label>Login</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </login>
                        <password translate="label">
                            <label>Password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </password>
                        <host translate="label">
                            <label>Host</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </host>
                    </fields>
                </ftp>
			</groups>
		</ghintegrator>
	</sections>
</config>