<?xml version="1.0"?>
<config>
  <modules>
    <ZolagoOs_Pwr>
      <version>0.0.1</version>
    </ZolagoOs_Pwr>
  </modules>
  <global>
    <models>
      <zospwr>
        <class>ZolagoOs_Pwr_Model</class>
        <resourceModel>zospwr_resource</resourceModel>
      </zospwr>
      <zospwr_resource>
        <class>ZolagoOs_Pwr_Model_Resource</class>
        <entities>
          <point>
            <table>zospwr_point</table>
          </point>
        </entities>
      </zospwr_resource>
    </models>
    <blocks>
      <zospwr>
        <class>ZolagoOs_Pwr_Block</class>
      </zospwr>
    </blocks>
    <helpers>
      <zospwr>
        <class>ZolagoOs_Pwr_Helper</class>
      </zospwr>
    </helpers>
    <resources>
      <zospwr_setup>
        <setup>
          <module>ZolagoOs_Pwr</module>
        </setup>
      </zospwr_setup>
    </resources>
  </global>
  <frontend>
    <translate>
      <modules>
        <ZolagoOs_Pwr>
          <files>
            <default>ZolagoOs_Pwr.csv</default>
          </files>
        </ZolagoOs_Pwr>
      </modules>
    </translate>
  </frontend>
  <adminhtml>
    <translate>
      <modules>
        <ZolagoOs_Pwr>
          <files>
            <default>ZolagoOs_Pwr.csv</default>
          </files>
        </ZolagoOs_Pwr>
      </modules>
    </translate>
  </adminhtml>
  <crontab>
    <jobs>
      <zospwr_update_points>
        <schedule>
          <!-- Run 3:00 everyday  -->
          <cron_expr>3 0 * * *</cron_expr>
        </schedule>
        <run>
          <model>zospwr/observer::updateAllPoints</model>
        </run>
      </zospwr_update_points>
    </jobs>
  </crontab>
  <default>
    <carriers>
      <zospwr>
        <active>0</active>
        <title>Paczka w Ruchu</title>
        <api>https://api-test.paczkawruchu.pl/WebServicePwR/WebServicePwRTest.asmx?wsdl</api>
        <tracking_url>https://www.paczkawruchu.pl/#/pl/sledz-przesylke/%s</tracking_url>
        <partner_id>TEST000782</partner_id>
        <partner_key>E8651567B6</partner_key>
        <min_insurance_value>300</min_insurance_value>
        <cod_allowed>1</cod_allowed>
      </zospwr>
    </carriers>
  </default>
</config>
