<?xml version="1.0"?>
<config>
    <sections>
        <carriers>
            <groups>
                <zospwr translate="label" module="zospwr">
                    <label>Paczka w ruchu</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <api translate="label">
                            <label>Adres API - Paczka w Ruchu</label>
                            <comment/>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api>
                        <pwr_id translate="label">
                            <label>ID:</label>
                            <comment>ID klienta</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </pwr_id>
                        <pwr_key translate="label">
                            <label>Klucz:</label>
                            <comment>Klucz</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </pwr_key>
                    </fields>
                </zospwr>
            </groups>
        </carriers>
    </sections>
</config>