ol.breadcrumb {
	background:none;
	font-family: 'OpenSansRegular';
	font-size: 11px;
	li {
		font-size: 11px;
		&:not(:first-child):before {
			font-family: FontAwesome;
			font-size: 11px;
			text-align: right;
			color:#000;
		}
		a:link,
		a:visited {
			color:#000;
			font-family: 'OpenSansRegular';
			font-size: 11px;			
		}
		a:hover {
			text-decoration: underline;
		}
		&.active {
			color:#000;			
		}
	}
}