b, strong {
	font-weight: normal !important;
	font-family: $fontBlack !important;
}

.browsehappy {
	background:#fff;
	text-align: center;
	color:red;
}

.modal-content {
	button.close {
    background:$allMap;
	@include sprite($allMap, btn-close);
	@include sprite-dimensions($allMap, btn-close);
    opacity: 1;
    color: #fff;
    text-shadow: none;
}
}
