//MODAL AND MOBILE MENU CONTENT
#seller_description, #brand_description {
  img {
    max-width: 60%;
    float: left;
    padding: 0 15px 20px 0;
  }

  .modal-content {
    ul {
      margin-left: 10px;
      overflow: hidden;
      li {
        list-style: initial;
        margin-left: 15px;
      }
    }
  }
}

#terms_delivery, //warunki dostawy i zwrotu
#trigger_conditions_shipping //shopping cart popup
{
  .delivery-table {
    padding-bottom: 10px;
    div.row {
      padding-top: 18px;
      padding-bottom: 18px;
      border: 1px solid $gray-lighter;
    }
    div.row:not(:last-child) {
      border-bottom: none;
    }
  }
  h4 {
    padding: 10px 0 !important;
  }
  h4:first-child {
    padding-top: 0px !important;
  }
  ul {
    margin-left: 10px;
    margin-bottom: 10px;
    li {
      list-style: initial;
      margin-left: 10px;
      display: list-item;
    }
  }
  a {
    color: $brand-primary;
    text-decoration: underline;
  }
}

#trigger_conditions_shipping //shopping cart popup
{
  @media (min-width: $screen-md) {
    h4:first-child {
      padding-top: 15px !important;
    }

    .delivery-table {
      max-width: 600px;
    }
  }
  @media (max-width: $screen-sm) {
    .delivery-table {
      max-width: 450px;
    }
  }
  .modal-dialog {
    .panel-heading {
      padding: 0 10px 0 25px;

      h2 {
        height: 18px;
        font-size: 18px;
        font-family: latoregular, sans-serif;
        line-height: 18px;
        text-transform: uppercase;
        text-align: left;
      }
    }
    .panel-body {
      padding-top: 12px !important;
    }
  }

}

.top_bottom #shop_nav_mobile, //vendor page
#seller-box-bundle //product page
{


  .vendor-menu-mobile-content {
    li {
      img {
        max-width: 100%;
        padding: 0 0 20px 0;
      }
      ul {
        display: block;
        padding-left: 10px !important;
        margin-bottom: 10px;
        li {
          list-style: initial;
          //margin-left: 20px;
          display: list-item;
          height: auto;
        }
      }
      h4 {
        padding: 10px 0 !important;
      }
      h4:first-child {
        padding-top: 0px !important;
      }
    }

    h4 {
      padding: 10px 0 !important;
    }
    h4:first-child {
      padding-top: 0px !important;
    }
    img {
      max-width: 100%;
      padding: 0 0 20px 0;
    }
    ul {
      display: block;
      padding-left: 10px !important;
      margin-bottom: 10px !important;
      li {
        list-style: initial;
        margin-left: 20px;
        display: list-item;
        height: auto;
      }
    }
    a {
      color: $brand-primary;
      text-decoration: underline;
      display: inline !important;
      text-transform: none;
      font-size: 12px !important;
      padding-left: 0 !important;
    }

    .delivery-table {
      //padding-bottom: 20px;
      div.row {
        padding-top: 18px;
        padding-bottom: 18px;
        border: 1px solid $gray-lighter;
      }
      div.row:not(:last-child) {
        border-bottom: none;
      }
      max-width: 450px;
    }
  }
}
.title_section_with_logo {
  //.title_section_title_wrapper {
  //  padding-top: 10px;
  //
  //}
  .title_section_logo_wrapper {
    position: absolute;
    right: 25px;
    top: 0px;
    width: 20%;
    text-align: right;
    img {
      max-width: 100%;

    }
  }
  .title_section_logo_wrapper img {
    max-width: 100%;
  }
}

#trigger_conditions_shipping {
  .title_section_with_logo {
    //.title_section_title_wrapper {
    //  padding-top: 0px !important;
    //}
  }
}
.no-padding {
  padding: 0;
}
//MODAL AND MOBILE MENU CONTENT