<?xml version="1.0"?>
<config>
    <modules>
        <ZolagoOs_IAIShop>
            <version>0.1.2</version>
        </ZolagoOs_IAIShop>
    </modules>
    <global>
        <helpers>
            <zosiaishop>
                <class>ZolagoOs_IAIShop_Helper</class>
            </zosiaishop>
        </helpers>
        <models>
            <zosiaishop>            	
                <class>ZolagoOs_IAIShop_Model</class>
                <resourceModel>zosiaishop_resource</resourceModel>
            </zosiaishop>
            <zosiaishop_ghapi>
               	<class>ZolagoOs_IAIShop_Model_GHAPI</class>
            </zosiaishop_ghapi>
            <zosiaishop_resource>
            	<class>ZolagoOs_IAIShop_Model_Resource</class>
            	<entities>
            		<log>
            			<table>zos_iaishop_log</table>
            		</log>
            	</entities>
            </zosiaishop_resource>
        </models>
        <resources>
            <zosiaishop_setup>
                <setup>
                    <module>ZolagoOs_IAIShop</module>
                </setup>
            </zosiaishop_setup>
        </resources>
        <blocks>
            <zosiaishop>
                <class>ZolagoOs_IAIShop_Block</class>
            </zosiaishop>
        </blocks>
        <udropship>
        	<vendor>
        		<fields>
  			    <zosiaishop_vendor_access_allow>
                        	<label>IAI-Shop API Access</label>
                        	<type>select</type>
                        	<source>yesno</source>
                        	<fieldset>ghapi_vendor_access</fieldset>
                        	<position>2</position>
	                    </zosiaishop_vendor_access_allow>
  			    <zosiaishop_vendor_gallery_email>
                        	<label>Default customer email for integrated orders</label>
                        	<type>text</type>
                        	<fieldset>ghapi_vendor_access</fieldset>
                        	<position>6</position>
	                    </zosiaishop_vendor_gallery_email>
        		</fields>
        	</vendor>
        </udropship>        
    </global>
    <frontend>
        <routers>
            <zosiaishop>
                <use>standard</use>
                <args>
                    <module>ZolagoOs_IAIShop</module>
                    <frontName>iaishop</frontName>
                </args>
            </zosiaishop>
        </routers>
        <layout>
            <updates>
                <zosiaishop>
                    <file>zosiaishop.xml</file>
                </zosiaishop>
            </updates>
        </layout>
        <translate>
            <modules>
                <ZolagoOs_IAIShop>
                    <files>
                        <default>ZolagoOs_IAIShop.csv</default>
                    </files>
                </ZolagoOs_IAIShop>
            </modules>
        </translate>
        <secure_url>
            <zosiaishop_settings>/iaishop/settings</zosiaishop_settings>
            <zosiaishop_settings>/iaishop/settings/save</zosiaishop_settings>
        </secure_url>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <ZolagoOs_IAIShop>
                    <files>
                        <default>ZolagoOs_IAIShop.csv</default>
                    </files>
                </ZolagoOs_IAIShop>
            </modules>
        </translate>
        <layout>
            <updates>
                <zosiaishop>
                    <file>zosiaishop.xml</file>
                </zosiaishop>
            </updates>
        </layout>    
    </adminhtml>
    <admin>
    		<routers>
			<adminhtml>
				<zosiaishop>
					<use>admin</use>
					<module>ZolagoOs_IAIShop</module>
					<frontname>zosiaishop</frontname>
				</zosiaishop>
				<args>
					<modules>
						<zosiaishop before="Mage_Adminhtml">ZolagoOs_IAIShop_Adminhtml</zosiaishop>
					</modules>
				</args>
			</adminhtml>
		</routers>

    </admin>
    <crontab>
        <jobs>
            <zosiaishop_iaishop_sync>
                <schedule>
                    <!-- Run evry 5 min  -->
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>zosiaishop/observer::syncIAIShop</model>
                </run>
            </zosiaishop_iaishop_sync>
        </jobs>
    </crontab>
</config>