<?xml version="1.0"?>
<config>
    <modules>
        <ZolagoOs_IAIShop>
            <version>0.1.0</version>
        </ZolagoOs_IAIShop>
    </modules>
    <global>
        <models>
            <zolagoosiaishop>
                <class>ZolagoOs_IAIShop_Model</class>
            </zolagoosiaishop>
        </models>
        <helpers>
            <zolagoosiaishop>
                <class>ZolagoOs_IAIShop_Helper</class>
            </zolagoosiaishop>
        </helpers>
    </global>
    <frontend>
        <routers>
            <zolagoosiaishop>
                <use>standard</use>
                <args>
                    <module>ZolagoOs_IAIShop</module>
                    <frontName>iaishop</frontName>
                </args>
            </zolagoosiaishop>
        </routers>
    </frontend>
</config>