<?xml version="1.0"?>
<config>
	<modules>
		<Zolago_Rma>
			<version>0.0.1</version>
		</Zolago_Rma>
	</modules>
	<global>
		<models>
			<zolagorma>
				<class>Zolago_Rma_Model</class>
				<resourceModel>zolagorma_resource</resourceModel>
			</zolagorma>
			<zolagorma_resource>
				<class>Zolago_Rma_Model_Resource</class>
				<entities>
				</entities>
			</zolagorma_resource>
		</models>
		<blocks>
			<zolagorma>
				<class>Zolago_Rma_Block</class>
			</zolagorma>
		</blocks>
		<helpers>
			<zolagorma>
				<class>Zolago_Rma_Helper</class>
			</zolagorma>
		</helpers>
		<!-- 
		<resources>
			<zolagorma_setup>
				<setup>
					<module>Zolago_Rma</module>
				</setup>
			</zolagorma_setup>
		</resources>
		<events>
		</events>
		-->
	</global>
	<frontend>
		<routers>
			<udrma>
				<args>
					<modules>
						<Zolago_Rma before="Unirgy_Rma">Zolago_Rma</Zolago_Rma>
					</modules>
				</args>
			</udrma>
		</routers>
		<layout>
			<updates>
				<zolagorma>
					<file>zolagorma.xml</file>
				</zolagorma>
			</updates>
		</layout>
		<translate>
			<modules>
				<Zolago_Rma>
					<files>
						<default>Zolago_Rma.csv</default>
					</files>
				</Zolago_Rma>
			</modules>
		</translate>
	</frontend>
</config>
