<?xml version="1.0"?>
<config>
	<modules>
		<Zolago_Rma>
			<version>0.0.2</version>
		</Zolago_Rma>
	</modules>
	<global>
		<models>
			<zolagorma>
				<class>Zolago_Rma_Model</class>
				<resourceModel>zolagorma_resource</resourceModel>
			</zolagorma>
			<zolagorma_resource>
				<class>Zolago_Rma_Model_Resource</class>
				<entities>
				</entities>
			</zolagorma_resource>
			<urma>
				<rewrite>
					<rma>Zolago_Rma_Model_Rma</rma>
				</rewrite>
			</urma>
		</models>
		<blocks>
			<zolagorma>
				<class>Zolago_Rma_Block</class>
			</zolagorma>
		</blocks>
		<helpers>
			<zolagorma>
				<class>Zolago_Rma_Helper</class>
			</zolagorma>
		</helpers>
		<fieldsets>
			<!-- PO -> RMA -->
			<zolagopo_convert_po>
				<entity_id>
					<to_urma>udpo_id</to_urma>
				</entity_id>
				<increment_id>
					<to_urma>udpo_increment_id</to_urma>
				</increment_id>
			</zolagopo_convert_po>
		</fieldsets>
		<!-- 
		<resources>
			<zolagorma_setup>
				<setup>
					<module>Zolago_Rma</module>
				</setup>
			</zolagorma_setup>
		</resources>
		<events>
		</events>
		-->
	</global>
	<frontend>
		<routers>
			<sales>
                <args>
                    <modules>
                        <zolagorma before="Mage_Sales">Zolago_Rma</zolagorma>
                    </modules>
                </args>
            </sales>
			<urma>
				<args>
					<modules>
						<Zolago_Rma before="Unirgy_Rma">Zolago_Rma</Zolago_Rma>
					</modules>
				</args>
			</urma>
		</routers>
		<layout>
			<updates>
				<zolagorma>
					<file>zolagorma.xml</file>
				</zolagorma>
			</updates>
		</layout>
		<translate>
			<modules>
				<Zolago_Rma>
					<files>
						<default>Zolago_Rma.csv</default>
					</files>
				</Zolago_Rma>
			</modules>
		</translate>
	</frontend>
</config>
