<?xml version="1.0" encoding="UTF-8"?>

<config>
    <sections>
        <urma>
            <groups>
                <general>
                    <fields>
                        <statuses>
                            <frontend_model>zolagorma/adminhtml_systemConfigFormField_optionsDefinition</frontend_model>
                            <backend_model>udropship/systemConfig_backend_rowsSortable</backend_model>
                        </statuses>
                        <zolagorma_reason_for_returned_shipment>
                            <label>RMA reason for undelivered shipments</label>
                            <frontend_type>select</frontend_type>
                            <source_model>zolagorma/system_source_reasons</source_model>
                            <sort_order>10000</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </zolagorma_reason_for_returned_shipment>
                        <zolagorma_reason_for_returned_shipment>
                            <label>RMA reason for undelivered shipments</label>
                            <frontend_type>select</frontend_type>
                            <source_model>zolagorma/system_source_reasons</source_model>
                            <sort_order>10000</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </zolagorma_reason_for_returned_shipment>
                        <zolagorma_automatic_return_cost translate="label" module="zolagorma">
                            <label>Cost of return package in PLN (ex. 12.50)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>9000</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </zolagorma_automatic_return_cost>
                        <zolagorma_reclamation_ids translate="label" module="zolagorma">
                            <label>Ids of reasons which are reclamations</label>
                            <comment>Insert ids of reasons separated by comma</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>9500</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </zolagorma_reclamation_ids>
                    </fields>
                </general>
		   </groups>
        </urma>
        <design>
            <groups>
                <rma_document translate="label">
                    <label>Rma document</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <rma_logo translate="label">
                            <label>Logo on RMA pdf documents src</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </rma_logo>
                    </fields>
                </rma_document>
            </groups>
        </design>
        <sales_pdf>
            <groups>
                <rma_pdf>
                    <label>RMA Document for Customer</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <rma_document_file>
                            <label>Pdf file with regulations</label>
                            <frontend_type>file</frontend_type>
                            <backend_model>adminhtml/system_config_backend_file</backend_model>
                            <upload_dir>media/rma/static</upload_dir>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </rma_document_file>
                    </fields>
                </rma_pdf>
            </groups>
        </sales_pdf>
    </sections>
</config>