<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Mapper>
            <version>0.0.1</version>
        </Zolago_Mapper>
    </modules>
    <global>
       <resources>
            <zolagomapper_setup>
                <setup>
                    <module>Zolago_Mapper</module>
                </setup>
            </zolagomapper_setup>
        </resources>
		
		<models>
			<zolagomapper>
				<class>Zolago_Mapper_Model</class>
				<resourceModel>zolagomapper_resource</resourceModel>
			</zolagomapper>
			<zolagomapper_resource>
				<class>Zolago_Mapper_Model_Resource</class>
				<entities>
					<mapper>
						<table>zolago_mapper</table>
					</mapper>
					<mapper_category>
						<table>zolago_mapper_category</table>
					</mapper_category>
					<index>
						<table>zolago_mapper_index</table>
					</index>
					<queue_product>
						<table>zolago_mapper_queue_product</table>
					</queue_product>
					<queue_mapper>
						<table>zolago_mapper_queue_mapper</table>
					</queue_mapper>
				</entities>
			</zolagomapper_resource>
		</models>
		<helpers>
			<zolagomapper>
				<class>Zolago_Mapper_Helper</class>
			</zolagomapper>
		</helpers>
		<blocks>
			<zolagomapper>
				<class>Zolago_Mapper_Block</class>
			</zolagomapper>
		</blocks>
    </global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Zolago_Mappers before="Mage_Adminhtml">Zolago_Mapper_Adminhtml</Zolago_Mappers>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<zolagomapper>
					<file>zolagomapper.xml</file>
				</zolagomapper>
			</updates>
		</layout>
		<translate>
			<modules>
				<zolagomapper>
					<files>
						<default>Zolago_Mapper.csv</default>
					</files>
				</zolagomapper>
			</modules>
		</translate>
	</adminhtml>
</config>
