<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Mapper>
            <version>0.0.2</version>
        </Zolago_Mapper>
    </modules>
    <global>
       <resources>
            <zolagomapper_setup>
                <setup>
                    <module>Zolago_Mapper</module>
                </setup>
            </zolagomapper_setup>
        </resources>
		
		<models>
			<zolagomapper>
				<class>Zolago_Mapper_Model</class>
				<resourceModel>zolagomapper_resource</resourceModel>
			</zolagomapper>
			<zolagomapper_resource>
				<class>Zolago_Mapper_Model_Resource</class>
				<entities>
					<mapper>
						<table>zolago_mapper</table>
					</mapper>
					<mapper_category>
						<table>zolago_mapper_category</table>
					</mapper_category>
					<index>
						<table>zolago_mapper_index</table>
					</index>
					<queue_product>
						<table>zolago_mapper_queue_product</table>
					</queue_product>
					<queue_mapper>
						<table>zolago_mapper_queue_mapper</table>
					</queue_mapper>
				</entities>
			</zolagomapper_resource>
		</models>
		<helpers>
			<zolagomapper>
				<class>Zolago_Mapper_Helper</class>
			</zolagomapper>
		</helpers>
		<blocks>
			<zolagomapper>
				<class>Zolago_Mapper_Block</class>
			</zolagomapper>
		</blocks>
		<events>
            <zolago_mapper_save_after>
                <observers>
                    <zolagomapper>
                        <type>singleton</type>
                        <class>zolagomapper/observer</class>
                        <method>zolagoMapperSaveAfter</method>
                    </zolagomapper>
                </observers>
            </zolago_mapper_save_after>
            <zolago_mapper_delete_before>
                <observers>
                    <zolagomapper>
                        <type>singleton</type>
                        <class>zolagomapper/observer</class>
                        <method>zolagoMapperDeleteBefore</method>
                    </zolagomapper>
                </observers>
            </zolago_mapper_delete_before>
            <zolago_mapper_delete_after>
                <observers>
                    <zolagomapper>
                        <type>singleton</type>
                        <class>zolagomapper/observer</class>
                        <method>zolagoMapperDeleteAfter</method>
                    </zolagomapper>
                </observers>
            </zolago_mapper_delete_after>
            <catalog_product_save_after>
                <observers>
                    <zolagomapper>
                        <type>singleton</type>
                        <class>zolagomapper/observer</class>
                        <method>catalogProductSaveAfter</method>
                    </zolagomapper>
                </observers>
            </catalog_product_save_after>
            <catalog_product_attribute_update_after>
                <observers>
                    <zolagomapper>
                        <type>singleton</type>
                        <class>zolagomapper/observer</class>
                        <method>catalogProductAttributeUpdateAfter</method>
                    </zolagomapper>
                </observers>
            </catalog_product_attribute_update_after>
		</events>
    </global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Zolago_Mappers before="Mage_Adminhtml">Zolago_Mapper_Adminhtml</Zolago_Mappers>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<zolagomapper>
					<file>zolagomapper.xml</file>
				</zolagomapper>
			</updates>
		</layout>
		<translate>
			<modules>
				<Zolago_Mapper>
					<files>
						<default>Zolago_Mapper.csv</default>
					</files>
				</Zolago_Mapper>
			</modules>
		</translate>
	</adminhtml>
    <crontab>
        <jobs>
            <zolagomapper_process_product_queue>
                <schedule>
                    <!-- Run every 2 minutes -->
                    <cron_expr>*/2 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>zolagomapper/observer::processProductQueue</model>
                </run>
            </zolagomapper_process_product_queue>
            <zolagomapper_process_mapper_queue>
                <schedule>
                    <!-- Run every 15 minutes -->
                    <cron_expr>7,23,37,53 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>zolagomapper/observer::processMapperQueue</model>
                </run>
            </zolagomapper_process_mapper_queue>
        </jobs>
    </crontab>
</config>
