<?xml version="1.0"?>
<config>
    <modules>
        <GH_Beacon>
            <version>0.0.2</version>
        </GH_Beacon>
    </modules>
    <global>
        <models>
            <ghbeacon>
                <class>GH_Beacon_Model</class>
                <resourceModel>ghbeacon_resource</resourceModel>
            </ghbeacon>
            <ghbeacon_resource>
                <class>GH_Beacon_Model_Resource</class>
                <entities>
                    <data>
                        <table>gh_beacon_data</table>
                    </data>
                </entities>
            </ghbeacon_resource>
        </models>
        <helpers>
            <ghbeacon>
                <class>GH_Beacon_Helper</class>
            </ghbeacon>
        </helpers>
        <resources>
            <ghbeacon_setup>
                <setup>
                    <module>GH_Beacon</module>
                </setup>
            </ghbeacon_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <ghbeacon>
                <use>standard</use>
                <args>
                    <module>GH_Beacon</module>
                    <frontName>ghbeacon</frontName>
                </args>
            </ghbeacon>
        </routers>
        <translate>
            <modules>
                <GH_Beacon>
                    <files>
                        <default>GH_Beacon.csv</default>
                    </files>
                </GH_Beacon>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <GH_Beacon>
                    <files>
                        <default>GH_Beacon.csv</default>
                    </files>
                </GH_Beacon>
            </modules>
        </translate>
    </adminhtml>
</config>