/* ----------
 * 002 - Site
 */

#sb-site, .sb-site {
	overflow-x: hidden;
}

/* ---------------
 * 003 - Slidebars
 */

.sb-slidebar {
	background-color: $colorHamburgerBg;
	> header {
		background: $colorHamburgerBg;

		a, a:visited {
			line-height: 57px;
			color: $colorHamburgerText;
			font-size: 14px;
			text-decoration: underline;
		}
	}
}

.sb-menu > li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	background: $colorHamburgerBgItem;
	&:last-child {
		border-bottom: none;
	}
}

.sb-menu li a {
	color: $colorHamburgerText;
	&:hover {
		text-decoration: underline;
	}
}

.sb-menu li ul {
	color: $colorHamburgerText2;
	background: $colorHamburgerBgItem2;
	list-style: none;
}

.sb-menu li li {
}

.sb-menu li ul ul {
	color: $colorHamburgerText3;
	background: $colorHamburgerBgItem3;
}

.sb-menu > li > a {
	text-transform: uppercase;
}

.sb-menu > li > ul > li > a {
	text-transform: uppercase;
	border-top: 1px solid $colorHamburgerBorder2;
}

.sb-menu > li > ul > li:first-child > a {
	border-top: none;
}

.sb-menu > li > ul > li > ul > li > a {
	border-top: 1px solid $colorHamburgerBorder3;
}

.sb-menu > li > ul > li > ul > li:first-child > a {
	border-top: none;
}

.sb-menu li a.sb-submenu-active + ul {
	display: block;
}

.sb-menu li a.sb-toggle-submenu {
	background: url('../images/arrow-menu-sliding-wite.png') 90% 50% no-repeat;
}

.sb-menu li a.sb-submenu-active {
	background: url('../images/arrow-menu-sliding-active.png') 90% 50% no-repeat;
}

.sb-menu li ul a.sb-toggle-submenu {
	background: url('../images/arrow-menu-sliding-wite.png') 90% 50% no-repeat;
}

.sb-menu li ul a.sb-submenu-active {
	background: url('../images/arrow-menu-sliding-active.png') 90% 50% no-repeat;
}

.sb-menu > li.separator,
.sb-menu li.separator {
	background: $colorHamburgerBgSeparator;
}

/* ---------------
 * 003 - Slidebars
 */
.fb-slidebar-header {

	background: $colorHamburgerBgHeader;

	a, a:visited {
		line-height: 53px;
		color: $colorHamburgerTextHeader;
		font-size: 14px;
		text-transform: uppercase;
		@include max-screen($screen-sm-max) {
			height: 41px;
			line-height: 41px;
		}
		i {
			font-size: 20px;
			float: left;
			line-height: 53px;
			@include max-screen($screen-sm-max) {
				line-height: 41px;
			}
		}
	}
}

.fb-slidebar {
	background-color: $colorHamburgerBg;

	> header {
		background: $colorHamburgerBgHeader;
		a, a:visited {
			line-height: 53px;
			color: $colorHamburgerTextHeader;
			font-size: 14px;
			text-transform: uppercase;
			i {
				font-size: 20px;
				float: left;
				line-height: 53px;
			}
		}
	}

}

html, body, #sb-site, .sb-site, .sb-slidebar, #fb-site, .fb-site, .fb-slidebar {
	/* Set box model to prevent any user added margins or paddings from altering the widths or heights. */
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	width: 100%;
}

html {
	height: 100%; /* Site is as tall as device. */
}

body {
	min-height: 100%;
	position: relative; /* Required for static Slidebars to function properly. */
}

html.sb-site-lock.sb-active:not(.sb-static) {
	overflow: hidden; /* Prevent site from scrolling when a Slidebar is open, except when static Slidebars are only available. */
}

/* ----------
 * 002 - Site
 */

#sb-site, .sb-site {
	/* You may now use .sb-site as your site container if you wish to use your own id. However please make sure you don't set any of the following styles any differently on your id. */
	width: 100%;
	position: relative;
	z-index: 1; /* Site sits above Slidebars */
	background: $color_f2f1f0;
}

#sb-site.open {

	-webkit-transform: translate(242px);
	-moz-transform: translate(242px);
	-o-transform: translate(242px);
	transform: translate(242px);
}

.sb-open {
	#sb-site.open {

		-webkit-transform: translate(288px);
		-moz-transform: translate(288px);
		-o-transform: translate(288px);
		transform: translate(288px);
	}
}

/* ---------------
 * 003 - Slidebars
 */

.sb-slidebar {
	height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 0; /* Slidebars sit behind sb-site. */
	display: none; /* Initially hide the Slidebars. Changed from visibility to display to allow -webkit-overflow-scrolling. */
	background-color: $colorHamburgerBg; /* Default Slidebars background colour, overwrite this with your own css. */
	-webkit-transform: translate(0px); /* Fixes issues with translated and z-indexed elements on iOS 7. */
	-webkit-overflow-scrolling: touch; /* Adds smooth native scrolling for iOS & Android devices. */
	&.open {
		display: block;
		-webkit-transform: translate(288px);
		-moz-transform: translate(288px);
		-o-transform: translate(288px);
		transform: translate(288px);
	}
	> header {
		position: relative;
		height: 57px;
		a, a:visited {
			display: block;
			height: 57px;
			margin-left: 15px;
		}
	}
	.sb-slidebar-inner {
		height: 100%;
		padding-top: 57px;
		margin-top: -57px;
		nav {
			height: 100%;
			overflow-y: auto;
		}
	}
	a {
		cursor: pointer;
	}
	.hamburger-ico {
		width: 20px;
		height: 20px;
		margin: 0 12px;
		g path, path {
			fill: $colorHamburgerIcon;
		}
	}
	.sb-slidebar-inner > nav > ul.sb-menu > li > a.sb-toggle-submenu {
		background-image: none;
	}
}

.sb-left {
	left: 0; /* Set Slidebar to the left. */
}

.sb-right {
	right: 0; /* Set Slidebar to the right. */
}

html.sb-static .sb-slidebar,
.sb-slidebar.sb-static {
	position: absolute; /* Makes Slidebars scroll naturally with the site, and unfixes them for Android Browser < 3 and iOS < 5. */
}

.sb-slidebar.sb-active {
	display: block; /* Makes Slidebars visibile when open. Changed from visibility to display to allow -webkit-overflow-scrolling. */
	z-index: 1100; // 1000 is header z-index
}

.sb-slidebar.sb-style-overlay {
	z-index: 9999; /* Set z-index high to ensure it overlays any other site elements. */
}

/* Slidebar widths for browsers/devices that don't support media queries. */
.sb-slidebar {
	width: 288px;
}

.sb-width-thin {
	width: 288px;;
}

.sb-width-wide {
	width: 288px;;
}

@media (max-width: 480px) { /* Slidebar widths on extra small screens. */
	.sb-slidebar {
		width: 288px;;
	}

	.sb-width-thin {
		width: 288px;;
	}

	.sb-width-wide {
		width: 288px;;
	}
}

@media (min-width: 481px) { /* Slidebar widths on small screens. */
	.sb-slidebar {
		width: 288px;;
	}

	.sb-width-thin {
		width: 288px;;
	}

	.sb-width-wide {
		width: 288px;;
	}
}

@media (min-width: 768px) { /* Slidebar widths on medium screens. */
	.sb-slidebar {
		width: 288px;;
	}

	.sb-width-thin {
		width: 288px;;
	}

	.sb-width-wide {
		width: 288px;;
	}
}

@media (min-width: 992px) { /* Slidebar widths on large screens. */
	.sb-slidebar {
		width: 288px;;
	}

	.sb-width-thin {
		width: 288px;;
	}

	.sb-width-wide {
		width: 288px;;
	}
}

@media (min-width: 1200px) { /* Slidebar widths on extra large screens. */
	.sb-slidebar {
		width: 288px;;
	}

	.sb-width-thin {
		width: 288px;;
	}

	.sb-width-wide {
		width: 288px;;
	}
}

.sb-hide {
	display: none;
}

.sb-menu {
	margin: 0px;
	padding-left: 0;
	margin-bottom: 12px;
}

.sb-menu li {
	width: 100%;
	padding: 0;
	margin: 0;

}

.sb-menu li a {
	width: 100%;
	padding: 16px 0px 16px 0;
	display: inline-block;
}

.sb-menu li ul {
	margin: 0px;
	padding-left: 0;
	display: none;
}

.sb-menu li li {
}

.sb-menu > li > ul > li > a {
	padding-left: 36px;
}

.sb-menu > li > ul > li:first-child > a {
	border-top: none;
}

.sb-menu > li > ul > li > ul > li > a {
	padding-left: 54px;
	font-size: 15px;
}

.sb-menu li a.sb-submenu-active + ul {
	display: block;
}

.sb-menu > li.separator,
.sb-menu li.separator {
	height: 12px;
	display: block;
}