@import "../vendor/bootstrap/variables";
@import "media-queries";


// NEW BREAKPOINT 

//@screen-sxs:                 480px;
//@screen-sxs-max:             @screen-sxs;
//@screen-phone:               @screen-sxs-max;

// NEW FOR LISTING ( FOR TABLETS )
// NOW YOU CAN USE OLD BOOTSTRAP DEFAULT:
// XS(480) -> XS-MAX(767) -> SM(768) -> SM-MAX(991) -> MD(992) -> MD-MAX(1199) -> LG(1200)
//
// AND NEW FOR LISTING
// XS(480) -> XS-MAX(767) -> SM-TO-SMMD(768) -> SM-TO-SMMD-MAX(809) -> SMMD(810) -> SMMD-MAX(991) -> MD(992) -> MD-MAX(1199) -> LG(1200)

// Small screen / tablet
$screen-sm-to-smmd:            $screen-sm !default;                 // 768px
$screen-sm-to-smmd-min:        $screen-sm-to-smmd;

$screen-smmd:                  810px !default;
$screen-smmd-min:              $screen-smmd !default;          // 810px

// So media queries don't overlap when required, provide a maximum
$screen-sm-to-smmd-max:        ($screen-smmd-min - 1) !default; // 809px
$screen-smmd-max:              ($screen-md-min - 1) !default;  // 991px

//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// SM-TO-SMMD
$container-sm-to-smmd:         ((740px + $grid-gutter-width)) !default; //770
// SMMD
$container-smmd:               ((950px + $grid-gutter-width)) !default; //980

$global-image-path: "../images";
// #{$global-image-path}

$icon-font-path: "../fonts/glyphicons/";
$icon-font-name:          "glyphicons-halflings-regular" ;
$icon-font-svg-id:        "glyphicons_halflingsregular" ;

$panel-bottom: #FEFEFE;
$panel-top: #FCFCFC;
$body-bg:               #ffff00;
$color-gold: #ff0000;
$color-gray1: #999;
$color-gray2: #ebebeb;
$color-gray3: #ededed;
$color-gray4: #949494;
$bc-primary : $gray-lighter;
$color-black: #000000;
$bc-secondary : #d9d9d9;

$color_000000: #000000;
$color_000: #000;
$color_020202: #020202;
$color_111: #111;
$color_1a1a1a: #1a1a1a;
$color_1d1e1c: #1d1e1c;
$color_1dd80a: #1dd80a;
$color_1dd8a0: #1dd8a0;
$color_1e1e1e: #1e1e1e;
$color_222222: #222222;
$color_242424: #242424;
$color_2a2a2a: #2a2a2a;
$color_2d2d2d: #2d2d2d;
$color_2e2e2e: #2e2e2e;
$color_2ecc71: #2ecc71;
$color_313131: #313131;
$color_333:	#333;
$color_333333: #333333;
$color_383838: #383838;
$color_3c763d: #3c763d;
$color_3ca89b: #3ca89b;
$color_484848: #484848;
$color_4f4f4f: #4f4f4f;
$color_515151: #515151;
$color_545151: #545151;
$color_555556: #555556;
$color_555: #555;
$color_565655: #565655;
$color_5a5a5a: #5a5a5a;
$color_5e5e5e: #5e5e5e;
$color_626262: #626262;
$color_646464: #646464;
$color_656565: #656565;
$color_6c6c6c: #6c6c6c;
$color_6d5920: #6d5920;
$color_6fffcf: #6fffcf;
$color_73f2ba: #73f2ba;
$color_757575: #757575;
$color_777: #777;
$color_7b6c35: #7b6c35;
$color_7c7c7c: #7c7c7c;
$color_7fce25: #7fce25;
$color_828282: #828282;
$color_858585: #858585;
$color_869791: #869791;
$color_888888: #888888;
$color_8b8b8b: #8b8b8b;
$color_907c3d: #907c3d;
$color_948551: #948551;
$color_949494: #949494;
$color_959595: #959595;
$color_999999: #999999;
$color_999: #999;
$color_9F9F9F: #9F9F9F;
$color_a4a4a4: #a4a4a4;
$color_a6a6a6: #a6a6a6;
$color_a94442: #a94442;
$color_aaa: #aaa;
$color_adadad: #adadad;
$color_aeaeae: #aeaeae;
$color_aefbe1: #aefbe1;
$color_afafaf: #afafaf;
$color_b08944: #b08944;
$color_b0b0b0: #b0b0b0;
$color_b8b8b8: #b8b8b8;
$color_bbb: #bbb;
$color_bcbaba: #bcbaba;
$color_bcbcbc: #bcbcbc;
$color_bfbfbf: #bfbfbf;
$color_c2c2c2: #c2c2c2;
$color_c4c4c4: #c4c4c4;
$color_c5c5c5: #c5c5c5;
$color_C6A662: #C6A662;
$color_c6a662: #c6a662;
$color_c9ac6d: #c9ac6d;
$color_ccc: #ccc;
$color_cccccc: #cccccc; 
$color_d0cfcf: #d0cfcf;
$color_d2d2d2: #d2d2d2;
$color_d3d3d3: #d3d3d3;
$color_d6d6d6: #d6d6d6;
$color_d9d9d9: #d9d9d9;
$color_dad8d8: #dad8d8;
$color_dbdbdb: #dbdbdb;
$color_dcdcdc: #dcdcdc;
$color_dddce1: #dddce1;
$color_dddddd: #dddddd;
$color_de0e59: #de0e59;
$color_dedcd1: #dedcd1;
$color_dedce1: #dedce1;
$color_deeaca: #deeaca;
$color_e2e1e1: #e2e1e1;
$color_e3e3e3: #e3e3e3;
$color_e5621b: #e5621b;
$color_e5e5e5: #e5e5e5;
$color_e6e6e6: #e6e6e6;
$color_e84c3d: #e84c3d;
$color_e8e7e6: #e8e7e6;
$color_e8e8e8: #e8e8e8;
$color_ea687e: #ea687e;
$color_ebeaed: #ebeaed;
$color_ebebeb: #ebebeb;
$color_ec4920: #ec4920;
$color_ec49a0: #ec49a0;
$color_ec695d: #ec695d;
$color_ececec: #ececec;
$color_ededed: #ededed;
$color_f0f0f0: #f0f0f0;
$color_f1f1f1: #f1f1f1;
$color_f2e6e6: #f2e6e6;
$color_f2f1f0: #f2f1f0;
$color_F2F1F0: #F2F1F0;
$color_f2f2f2: #f2f2f2;
$color_f5f5f5: #f5f5f5;
$color_f5f6f6: #f5f6f6;
$color_f7f6f7: #f7f6f7;
$color_f8f7f5: #f8f7f5;
$color_f8f8f7: #f8f8f7;
$color_fb6c35: #fb6c35;
$color_fd002a: #fd002a;
$color_fe002b: #fe002b;
$color_fefefe: #fefefe;
$color_ffd9fc: #ffd9fc;
$color_fff000: #000fff;
$color_ffffff: #ffffff;
$color_fff: #fff;



$validation-error: #e84c3d;

@mixin border-all($size:1px) {
    
}

@mixin bc-primary($bs:1px)  {
    border: $bs solid $bc-primary;
}

@mixin bc-secondary($bs:1px)  {
    border: $bs solid $bc-secondary;
}

@mixin reset-m {
    margin: 0;
    padding: 0;
}
@mixin reset-l {
    @include reset-m;
    list-style: none;
}
@mixin cfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin reset-full {
    a:link,
    a:visited,
    a:hover,
    a:focus {
        margin:0px;
        padding:0px;
        background:0px;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="submit"],
    button,
    textarea {
        margin:0px;
        padding:0px;
        background:0px;
        border:none;
    }
}

// FONT
$fontLight: latolight, sans-serif;
$fontRegular: latoregular, sans-serif;
$fontBlack: latoblack, sans-serif;
// SPRITES MAP 
$allMap: sprite-map("sprites/all/*.png", $layout: smart, $spacing:50px);

/*$icoMapDesktop: sprite-map("desktop/ico/*.png");
$icoMapMobile: sprite-map("mobile/ico/*.png");
$bulletMap: sprite-map("sprites/bullet/*.png");
$arrowMap: sprite-map("sprites/arrow/*.png");
$socialMap: sprite-map("sprites/social/*.png"); 
$followUsMap: sprite-map("sprites/follow_us/*.png"); 
$formIcoMap: sprite-map("sprites/form_feedback/*.png");
$formMap: sprite-map("sprites/form/*.png");
$btnSocialMap: sprite-map("sprites/btn-social/*.png");
$flagMap: sprite-map("sprites/flags/*.png");*/
//////////////////////////////////////////////
 

// Dodatkowe sprites
$btnCheck: sprite-map("sprites/check_filter/*.png", $spacing:200px);
$checkboxMap: sprite-map("sprites/checkbox/*.png", $spacing:200px);
$radioMap: sprite-map("sprites/radio/*.png", $spacing:200px);
$selectMap: sprite-map("sprites/select/*.png");
$bgMap: sprite-map("sprites/bg/*.png"); 