<?xml version="1.0"?>
<config>
	<modules>
		<Zolago_Dropship>
			<version>0.0.1</version>
		</Zolago_Dropship>
	</modules>
	<global>
		<models>
			<zolagodropship>
				<class>Zolago_Dropship_Model</class>
			</zolagodropship>
			<udropship>
				<rewrite>
					<session>Zolago_Dropship_Model_Session</session>
				</rewrite>
			</udropship>
		</models>
		<helpers>
		  <zolagodropship>
			<class>Zolago_Dropship_Helper</class>
		  </zolagodropship>
			<udropship>
				<rewrite>
					<data>Zolago_Dropship_Helper_Data</data>
				</rewrite>
			</udropship>
		</helpers>
		<blocks>
			<zolagodropship>
				<class>Zolago_Dropship_Block</class>
			</zolagodropship>
			<udropship>
				<rewrite>
					<vendor_preferences>Zolago_Dropship_Block_Vendor_Preferences</vendor_preferences>
					<vendor_shipment_info>Zolago_Dropship_Block_Vendor_Shipment_Info</vendor_shipment_info>
				</rewrite>
			</udropship>
		</blocks>
		<helpers>
			<zolagodropship>
				<class>Zolago_Dropship_Helper</class>
			</zolagodropship>
		</helpers>
		<resources>
			<zolagodropship_setup>
				<setup>
					<module>Zolago_Dropship</module>
				</setup>
			</zolagodropship_setup>
		</resources>
		<udropship>
            <vendor>
                <fieldsets>
                    <marketing>
                        <legend>Marketing content</legend>
                        <position>120</position>
                    </marketing>
                    <dhl>
                        <legend>DHL</legend>
                        <position>140</position>
                    </dhl>
                </fieldsets>

                <fields>
                	<marketing_store_information>
                        <label>Main store menu - marketing store information</label>
                        <type>wysiwyg</type>
                        <fieldset>marketing</fieldset>
                        <position>10</position>
                    </marketing_store_information>
                	<terms_seller_information>
                        <label>Main store menu - terms - seller information</label>
                        <type>wysiwyg</type>
                        <fieldset>marketing</fieldset>
                        <position>20</position>
                    </terms_seller_information>
                	<terms_delivery_information>
                        <label>Main store menu - terms - delivery information</label>
                        <type>wysiwyg</type>
                        <fieldset>marketing</fieldset>
                        <position>30</position>
                    </terms_delivery_information>
                	<terms_return_information>
                        <label>Product - terms - return information</label>
                        <type>wysiwyg</type>
                        <fieldset>marketing</fieldset>
                        <position>40</position>
                    </terms_return_information>
                	<store_delivery_headline>
                        <label>Product - store section - delivery headline</label>
                        <type>text</type>
                        <fieldset>marketing</fieldset>
                        <position>50</position>
                    </store_delivery_headline>
                	<store_return_headline>
                        <label>Product - store section - return headline</label>
                        <type>text</type>
                        <fieldset>marketing</fieldset>
                        <position>60</position>
                    </store_return_headline>
                	<product_short_information>
                        <label>Product - short delivery and returns information</label>
                        <type>wysiwyg</type>
                        <fieldset>marketing</fieldset>
                        <position>70</position>
                    </product_short_information>
					<!-- DHL -->
                	<use_dhl>
                        <label>Use DHL</label>
                        <type>select</type>
                        <fieldset>dhl</fieldset>
                        <source>yesno</source>
						<frontend_model>udropship/adminhtml_vendor_helper_form_dependSelect</frontend_model>
						<depend_fields>
                            <dhl_login>1</dhl_login>
                            <dhl_password>1</dhl_password>
                        </depend_fields>
                        <position>10</position>
                    </use_dhl>
                	<dhl_login>
                        <label>Dhl login</label>
                        <type>text</type>
                        <fieldset>dhl</fieldset>
                        <position>20</position>
                    </dhl_login>
                	<dhl_password>
                        <label>Dhl password</label>
                        <type>password</type>
                        <fieldset>dhl</fieldset>
                        <position>30</position>
                    </dhl_password>
					<!-- category -->
					<root_category>
                        <label>Root categories</label>
						<frontend_model>zolagodropship/adminhtml_vendor_helper_form_category</frontend_model>
						<backend_model>adminhtml/system_config_backend_serialized</backend_model>
                        <fieldset>microsite</fieldset>
						<only_admin>1</only_admin>
                        <position>600</position>
                    </root_category>
				</fields>
			</vendor>
		</udropship>
		<events>
			<sales_order_shipment_track_save_before>
				<observers>
					<add_zolago_dhl_data>
						<class>zolagodropship/observer</class>
						<method>addZolagoDhlData</method>
					</add_zolago_dhl_data>
				</observers>				
			</sales_order_shipment_track_save_before>
		</events>		
	</global>
	<frontend>
		<block>
			<zolagodropship>
				<class>Zolago_Dropship_Block_Pos</class>
			</zolagodropship>
		</block>
		<events>
			<core_locale_set_locale>
                <observers>
                    <bind_locale>
                        <class>zolagodropship/observer</class>
                        <method>bindLocale</method>
                    </bind_locale>
                </observers>
            </core_locale_set_locale>
		</events>
		<routers>
			<zolagodropship>
				<use>standard</use>
				<args>
					<module>Zolago_Dropship</module>
					<frontName>zolagdropship</frontName>
				</args>
			</zolagodropship>
			<udropship>
				<args>
					<modules>
						<Zolago_Dropship before="Unirgy_Dropship">Zolago_Dropship</Zolago_Dropship>
					</modules>
				</args>
			</udropship>
		</routers>
		<layout>
			<updates>
				<zolagodropship>
					<file>zolagodropship.xml</file>
				</zolagodropship>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<udropshipadmin>
				<args>
					<modules>
						<zolagodropshipl before="Unirgy_Dropship_Adminhtml">Zolago_Dropship_Adminhtml</zolagodropshipl>
					</modules>
				</args>
			</udropshipadmin>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<zolagodropship>
					<files>
						<default>Zolago_Dropship.csv</default>
					</files>
				</zolagodropship>
			</modules>
		</translate>
	</adminhtml>
</config>
