<?xml version="1.0"?>
<config>
  <modules>
    <Zolago_Dropship>
      <version>0.0.1</version>
    </Zolago_Dropship>
  </modules>
  <global>
    <models>
      <zolagodropship>
        <class>Zolago_Dropship_Model</class>
      </zolagodropship>
    </models>
    <!--
    <helpers>
      <zolagowishlist>
        <class>Zolago_Wishlist_Helper</class>
      </zolagowishlist>
    </helpers>
    -->
    <blocks>
      <zolagodropship>
        <class>Zolago_Dropship_Block</class>
      </zolagodropship>
    </blocks>
    <resources>
      <zolagodropship_setup>
        <setup>
          <module>Zolago_Dropship</module>
        </setup>
      </zolagodropship_setup>
    </resources>
  </global>
  <frontend>
    <block>
        <zolagodropship>
            <class>Zolago_Dropship_Block_Pos</class>
        </zolagodropship>
    </block>
    <routers>
      <zolagodropship>
        <use>standard</use>
        <args>
          <module>Zolago_Dropship</module>
          <frontName>zolagdropship</frontName>
        </args>
      </zolagodropship>
      <udropship>
        <args>
          <modules>
            <Zolago_Dropship before="Unirgy_Dropship">Zolago_Dropship</Zolago_Dropship>
          </modules>
        </args>
      </udropship>
    </routers>
    <layout>
      <updates>
        <zolagodropship>
          <file>zolagodropship.xml</file>
        </zolagodropship>
      </updates>
    </layout>
  </frontend>
</config>
