<?xml version="1.0"?>
<!--
/**
 * ZolagoOs LLC
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.unirgy.com/LICENSE-M1.txt
 *
 * @category   ZolagoOs
 * @package    ZolagoOs_OmniChannel
 * @copyright  Copyright (c) 2008-2009 ZolagoOs LLC (http://www.unirgy.com)
 * @license    http:///www.unirgy.com/LICENSE-M1.txt
 */
 -->
<config>
    <sections>
        <zolagoos>
            <groups>
                <vendor>
                    <fields>
                        <max_shipping_time translate="label,comment">
                            <label>Max shipping time</label>
							<comment>Time after which 1 day will be added to maximum shipping days</comment>
                            <frontend_type>time</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max_shipping_time>
                        <max_shipping_days translate="label,comment">
                            <label>Max shipping days</label>
							<comment>Number of days</comment>
							<validate>validate-number validate-zero-or-greater</validate>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max_shipping_days>
					</fields>
				</vendor>
            </groups>
		</zolagoos>
    </sections>
</config>
