// InPost locker view in checkout step I

#checkout {
  .inpost-wrapper {
    display: block;
    margin-top: 5px;
    .panel-body {
      padding: 25px 25px 15px 25px;
      @media (max-width: $screen-xs-min) {
        padding-left: 10px;
        padding-right: 10px;
      }
      .form-group {
        margin-bottom: 5px;
        .inpost-info {
          margin-bottom: 10px;
        }
        .telephone-for-locker {
          @media(min-width: $screen-sm-min) {
            max-width: 100%;
          }
          margin-bottom: 10px;
        }
      }
    }
    .figure-button-wrapper {
      direction: rtl;
    }
    figure.inpost-img {
      min-height: 60px;
      display: inline-table;
      vertical-align: middle;
      border: 1px solid $gray-lighter;
      padding: 5px;
      background-color: $color_ffffff;
      div {
        display: table-cell;
        vertical-align: middle;
        img {
          max-height: 51px;
        }
      }
    }
  }
  .change-locker {
    width: 99px;
    margin-top: 10px;
  }
  .sidebar-deliverypayment {
    .delivery-type {
      margin-bottom: 0;
      dd {
        word-wrap: break-word;
        max-width: 130px;
        &.location-description {
          @include min-screen($screen-sm-min) {
            width: 100%;
            max-width: 100%;
          }
        }
      }
      @include max-screen($screen-sm-max) {
        dd {
          width: 50%;
          max-width: 50%;
        }
      }
      .delivery-type-logo {
        img, .truck {
          max-width: 80px;
          position: absolute;
          right: 0;
          border: 1px solid $color_000000;
          padding: 5px;
          top: 0;
        }
        .truck {
          width: 80px;
          text-align: center;
        }
      }
    }
  }
}