


#shopping-cart {
  #cart-shipping-methods {
    header {
      margin-bottom: 30px;
      h2 {
        font-size: 18px;
        font-family: latoregular, sans-serif;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
      }
    }
  }
  #change-shipping-type {
    bottom: -22px;
    position: relative;
  }
  .shipping-data-additional img,
  .shipping-data-additional figure {
    padding: 5px 7px;
    border: 1px solid $gray;
  }
  .shipping-data-additional figure {
    width: 84px;
    text-align: center;
  }
  .shipping-method-selected-container {
    margin-bottom: 40px;
  }

  .data_shipping_item {
    cursor: pointer;
  }

  //Modal content
  #select_inpost_point {
    @media (max-width: $screen-xs){
      .modal-dialog {
        width: 92%;
        margin: 40px auto;
      }
    }

    .modal-body {
      overflow-x: hidden !important;
      .shipping_select_point_data {
        margin: 20px 0;
        .shipping_select_point_data_container {
          margin: 20px 0;
          padding: 20px 0;
          border-top: 1px solid $gray;
          border-bottom: 1px solid $gray;

          .button-third {
            &.reverted {
              width: 200px;
              background: #1e1e1e;
              border: 2px solid #1e1e1e;
              box-shadow: inset 1px 1px 0 0 #1e1e1e;
              color: #FFFFFF;
            }
            margin: 20px 0 0 0;
          }
        }
      }

      .main_container {
        @media(max-width: $screen-xs) {
          padding: 0;
        }

        .map_filter_container {
          @media(max-width: $screen-xs) {
            padding: 0;
          }
        }
      }


      .delivery-marker-window {
        max-width: 200px;
      }
      .map_delivery_container_show {
        text-decoration: underline;
        display: none;
        @media(max-width: $screen-xs) {
          display: block;
        }
      }
      .map_delivery_container_show_up {
        @media(max-width: $screen-sm) {
          margin-bottom: 20px;
        }
      }

      .gui-label {
        color: $gray;
      }
    }

  }

}