#shopping-cart {
    #change-shipping-type {
        bottom: -22px; position: relative;
    }
    .shipping-data-additional img,
    .shipping-data-additional figure
    {
        padding: 5px 7px;
        border: 1px solid $gray;
    }
    .shipping-data-additional figure {
        width: 84px;
        text-align: center;
    }
    .shipping-method-selected-container {
        margin-bottom: 40px;
    }
    .delivery-marker-window {
        max-width: 160px;
    }
    .data_shipping_item {
        cursor: pointer;
    }

    //Modal content
    #select_inpost_point {
        .shipping_select_point_data {
            margin: 20px 0;
            .shipping_select_point_data_container {
                margin: 20px 0;
                padding: 20px 0;
                border-top: 1px solid $gray;
                border-bottom: 1px solid $gray;


                .button-third {
                    &.reverted {
                        width: 200px;
                        background: #1e1e1e;
                        border: 2px solid #1e1e1e;
                        box-shadow: inset 1px 1px 0 0 #1e1e1e;
                        color: #FFFFFF;
                    }
                    margin: 20px 0 0 0;
                }
            }
        }


        .gui-label {
            color: $gray;
        }
        
        select.select2 {
            
        }
    }


}