.block-inspiration {
	.rwdCarousel {
	//	width: 100%;
		padding:15px 55px;
		position:relative;
		//display: inline-block;
		.item {
			.carousel-caption {
				position:static;
				margin:0px;
				padding:0px;
				span {
					display:block;
					padding:0px;
					margin:0px;
					font-family: $fontRegular;
					text-shadow:none;
					&.title-caption {
						font-family: $fontRegular;
						text-transform: uppercase;
						padding: 5px 0px;
						display: block;
						margin: 0 auto;
						margin-top: 5px;
						color:#000;
					}
					&.body-caption {
						color: #8b8b8b;
						padding: 5px 0px;
						display: block;
						margin: 0 auto;
					}
					&.seemore-caption {
						color: #484848;
						text-transform: uppercase;
						padding: 5px 0px;
						display: block;
						margin: 0 auto;
						font-size: 11px;
					}

				}
			}
			&:hover {
				.carousel-caption {
					span {
						text-decoration: underline;
						}
					}
				}
		}
	}

	#rwd-inspiration .item{
	  background: #fff;
	  margin: 5px;
	  color: #515151;
	  text-align: center;
	    img {
		  	width:100%;
		  	height:auto;
		}
	}
}