.rv-wrapper {
    margin: 20px auto;
    position: relative;
}
/** Carousel **/

.rv {
    position: relative;
    overflow: hidden;
    width:81.97278911564626%;
    @media (min-width: 360px) and (max-width: 536px) { width:252px; }
    @media (min-width: 537px) and (max-width: 720px) { width:391px; }
    @media (min-width: 721px) and (max-width: 889px) { width:528px; }
    @media (min-width: 890px) and (max-width: 1059px) { width:667px; }
    @media (min-width: 1060px) and (max-width: 1225px) { width:808px; }
}

.rv ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.rv li {
    float: left;
}


.rv>ul>li {padding: 0; width:114px; text-align: center; margin:0 23px 0 0;}
.rv>ul>li>a {text-decoration: none;text-align: center; display:block; width:114px; }
.rv>ul>li>a:hover {text-decoration: underline;}
.rv {margin:0 auto;}
.rv-control-prev,.rv-control-next {position:absolute;background: transparent;top:27%; font-size: 36px;	color:#b7b7b7 !important;}
.rv-control-prev {
    left: 40px;
    @media (max-width: $screen-xs-max) {
        left: 0px;
    }
    i {
       @media (max-width: $screen-xs-max) {
        font-size: 18px;
       } 
    }
}
.rv-control-next {
    right: 0px;
    @media (max-width: $screen-xs-max) {
        right: 0px;
    }
    i {
       @media (max-width: $screen-xs-max) {
        font-size: 18px;
       } 
    }
}
.rv-control-prev:hover {}
.rv-control-next:hover {}
.rv-wrapper .canvas-left, .rv-wrapper .canvas-right {width: auto;}

.rv>ul>li>a>span {display: block;width: 112px;margin: 10px auto 0;font-weight: normal;font-size: 12px; text-align: left;}
.rv>ul>li>a>img {
	width:100%; height:142px; border:1px solid #e5e5e5;
}
.rv>ul>li>a:hover {text-decoration: underline;}