<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Campaign>
            <version>0.1.1</version>
        </Zolago_Campaign>
    </modules>
    <global>
       <resources>
            <zolagocampaign_setup>
                <setup>
                    <module>Zolago_Campaign</module>
                </setup>
            </zolagocampaign_setup>
        </resources>
		<models>
			<zolagocampaign>
				<class>Zolago_Campaign_Model</class>
				<resourceModel>zolagocampaign_resource</resourceModel>
			</zolagocampaign>
			<zolagocampaign_resource>
				<class>Zolago_Campaign_Model_Resource</class>
				<entities>
					<campaign>
						<table>zolago_campaign</table>
					</campaign>
					<campaign_website>
						<table>zolago_campaign_website</table>
					</campaign_website>
					<campaign_product>
						<table>zolago_campaign_product</table>
					</campaign_product>
                    <campaign_product_tmp>
                        <table>zolago_campaign_product_tmp</table>
                    </campaign_product_tmp>
                    <campaign_placement>
                        <table>zolago_campaign_placement</table>
                    </campaign_placement>
				</entities>
			</zolagocampaign_resource>
		</models>
		<helpers>
			<zolagocampaign>
				<class>Zolago_Campaign_Helper</class>
			</zolagocampaign>
		</helpers>
		<blocks>
			<zolagocampaign>
				<class>Zolago_Campaign_Block</class>
			</zolagocampaign>
		</blocks>
		<events>
            <campaign_save_after>
                <observers>
                    <zolago_catalog_converter>
                        <class>Zolago_Campaign_Model_Observer</class>
                        <method>campaignAfterUpdate</method>
                    </zolago_catalog_converter>
                </observers>
            </campaign_save_after>
            <campaign_product_remove_update_after>
                <observers>
                    <zolagocampaign_remove_products>
                        <class>Zolago_Campaign_Model_Observer</class>
                        <method>productAttributeRevert</method>
                    </zolagocampaign_remove_products>
                </observers>
            </campaign_product_remove_update_after>
            <adminhtml_store_edit_form_prepare_form>
                <!-- @see Zolago_Campaign_Model_Observer::addFieldsToAdminStoreEdit() -->
                <observers>
                    <zolagocampaign_add_fields_to_store_edit>
                        <class>Zolago_Campaign_Model_Observer</class>
                        <method>addFieldsToAdminStoreEdit</method>
                    </zolagocampaign_add_fields_to_store_edit>
                </observers>
            </adminhtml_store_edit_form_prepare_form>
		</events>
    </global>
	<frontend>
		<routers>
			<zolagocampaign>
				<use>standard</use>
				<args>
					<module>Zolago_Campaign</module>
					<frontName>campaign</frontName>
				</args>
			</zolagocampaign>
		</routers>
		<layout>
			<updates>
				<zolagocampaign>
					<file>zolagocampaign.xml</file>
				</zolagocampaign>
			</updates>
		</layout>
		<translate>
			<modules>
				<Zolago_Campaign>
					<files>
						<default>Zolago_Campaign.csv</default>
					</files>
				</Zolago_Campaign>
			</modules>
		</translate>
		<secure_url>
		    <zolagocampaign_vendor>/campaign/vendor/</zolagocampaign_vendor>
		    <zolagocampaign_placement>/campaign/placement/</zolagocampaign_placement>
		</secure_url>
	</frontend>

    <crontab>
        <jobs>
            <zolagocampaign_set_campaign_attributes>
                <schedule>
                    <!-- Run every 5 minutes -->
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>zolagocampaign/observer::setProductAttributes</model>
                </run>
            </zolagocampaign_set_campaign_attributes>
            <zolagocampaign_unset_campaign_attributes>
                <schedule>
                    <!-- Run every 5 minutes -->
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>zolagocampaign/observer::unsetCampaignAttributes</model>
                </run>
            </zolagocampaign_unset_campaign_attributes>
            <zolagocampaign_attach_products_to_campaigns>
                <schedule>
                    <cron_expr>7 1,9,11,13,15,17,19 * * *</cron_expr>
                </schedule>
                <run>
                    <model>zolagocampaign/observer::attachProductsToCampaignBySalesRule</model>
                </run>
            </zolagocampaign_attach_products_to_campaigns>
        </jobs>
    </crontab>
</config>
