.stores-map {
  margin-bottom: 50px;
  #map-list-container {
    @media (min-width: $screen-md) {
      padding-left: 0;
    }
    .search-by-map {
      @media (min-width: $screen-md) {
        padding-left: 0;
      }
      h4 {
        text-transform: uppercase;
        padding-top: 0;
        @media (min-width: $screen-sm-min) {
          font-size: 24px;
        }
      }

      a.stores-map-show-all {
        color: $colorLink;
        top: 5px;
        position: relative;

        &:hover {
          color: $colorLinkHover;
        }
      }
    }

    .search-by-map-list {
      padding-top: 20px;

      @media (min-width: $screen-md) {
        padding-left: 0;
      }
      h4 {
        text-transform: uppercase;
        padding: 0;
      }
      ul {
        padding-left: 5px;
        list-style: none;
      }
      ul.search-by-map-list-html {
        .store-info-item {
          border-top: 1px solid $bc-secondary;
          padding: 20px 5px 20px 0;
          .left-column {
            padding-left: 0;
          }
          .right-column {
            padding-right: 0;
            .buttons {
              .row {
                .button {
                  @media (max-width: $screen-xs-max) {
                    width: 100%;
                  }
                }

                &:not(:first-child) {
                  margin-top: 5px;
                }
              }

            }

          }
        }
      }

      .button-third {
        width: 165px;
        min-width: 165px;
        @media (max-width: $screen-xs) {
          padding: 7px 5px;
          width: 140px;
          min-width: 140px;
        }
        @media (max-width: 350px) {
          width: 125px;
          min-width: 125px;
        }
      }

    }
  }

  #map-container {
    padding: 0;
    border: 1px solid $bc-secondary;
    @include transition(all 0.2s ease-in-out);
    @include box-shadow($bc-secondary 0 2px 5px);
    @media (max-width: $screen-sm) {
      clear: both;
    }

    #map {
      width: 100%;
      height: 450px;

      @media (max-width: $screen-md) {
        width: 85%;
        height: 400px;
        margin: 10px auto;
      }
      @media (max-width: $screen-sm) {
        width: 85%;
        height: 300px;
        margin: 10px auto;
      }

      .marker-window {
        max-width: 225px;
      }
    }
  }

  .pos_info {
    p {
      padding: 0 0 10px 0;
      margin: 0;
      line-height: 1.5em;
      font-size: 14px;
      color: #4f4f4f;
      font-weight: 400;
      @media (max-width: $screen-xs-max) {
        text-align: justify;
      }
    }

    .shop_name {
      font-weight: 600;
      padding: 0 0 3px 0;
    }
    .space_left {
      margin-left: 3px !important;
    }
    .space_left br {
      line-height: 1.1em;
    }
  }
}