.order-view {
    #content-main {
        .panel {            
            &.panel-default {
                border-color:$color_bfbfbf;
	            &.order-view-mobile {
					@media (max-width: 400px) {
						margin: 0 -20px 10px;
					}
	            }
            }
            background-color: $color_ffffff;
        }
    }
}
