#header-main {
  .category-attribute-long-name {
    text-align: center;
    @media (max-width: $screen-sm-to-smmd-max) {
      text-align: left;
    }
  }
  .category-attribute-description {
    text-align: center;
    margin-bottom: 30px;

    @media (max-width: $screen-sm-to-smmd-max) {
      display: none;
    }
  }
}