#logIn {
	.main {
		
		header {
			h2 {
				font-weight: bold;
				font-family: $fontRegular;
			}
		}
	}
	
	.form-list {
		list-style: none;
		label {
			font-weight: normal;
			line-height: 16px;
			white-space:nowrap;
			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				text-align: left;
			}
		}
		input[type="text"],
		input[type="email"],
		input[type="password"] {
			line-height: 29px;
		}
		input[type="text"]:focus,
		input[type="email"]:focus,
		input[type="password"]:focus {
			background:$color_fff;
		}
		.forgot-password {
			white-space: nowrap;
			font-size: 12px;
			&.visible-sm.visible-xs {
				@media (max-width: 330px) {
					right: 0;
					left: auto;
				}
				left: 157px;
			}
		}
		.form-checkbox {
			
			label {
				line-height: 17px;
			}
			.badge {
				border-radius: 0;
				background: $color_5e5e5e;
				font-weight: normal;
				cursor:pointer;
			}
		}	
	}
	footer {
		border-top:1px solid $bc-primary;
		text-align: left;
	}
}
#logIn {
	.column-block {
		.col-02 {
			.footer-section {
				border:none!important;				
			}
		}
	}
}