.node-type-customer-account-registration {
	.main {
		.section {
			header {
				h2 {
					font-weight: bold;
					font-family: $fontRegular;
				}
			}
		}
	}
}

#form-registration {
	label {
		font-weight: normal;
		line-height: 28px;
		white-space:nowrap;
		text-align: right;
		@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
			text-align: left;
		}
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			text-align: left;
		}
	}
	input[type="text"],
	input[type="email"],
	input[type="password"] {
		line-height: 29px;
	}
	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="password"]:focus {
		background:$color_fff;
	}
	#connect {
		@media (max-width: $screen-xs-max) {
		text-align: left;
		}
	}
	.form-checkbox {
		label {
		white-space: normal;
		text-align: left;
		line-height: 18px;
		}
	} 
}
  
#lub {
	span {
		text-align: center;
	}
}

.sidebar-second {
	.p {
		h2 {
			font-size: 18px;
			font-family: $fontRegular;
			line-height: 18px;
			text-transform: uppercase;
			text-align: left;
			cursor: pointer;
			white-space: nowrap;
			&:before {
				background: $color-accent;
				}
		}
		h4 {
			font-size: 13px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}

/*******************************************************************************/
/** My account																  **/
/*******************************************************************************/

.my-account{
	color: $color_333;
  @media (min-width: $screen-xs-min) {
    border: 1px solid $gray-lighter;
  }
  #account-edit .page-title h1 {
	@include max-screen(768px) {
	  padding: 20px 16px 0;
	}
	@include max-screen(470px) {
	  padding: 20px 7px 0;
	}
  }
	.page-title{
		margin-bottom: 8px;
		h1{
			color: $color_333;
			background: $body-bg;
			padding: 20px 15px;
			@include max-screen(768px) {
				padding: 20px 16px 0;
				margin-bottom: 20px;
			}
			@include max-screen(470px) {
				padding: 20px 7px 0;
				margin-bottom: 20px;
			}
			text-transform: uppercase;
			font-size: 0; //deletes gap between inline-blocks
			span {
				vertical-align: middle;
				font-size: 30px;
				@media (max-width: $screen-xs-max) {
					font-size: 20px;
				}
				@media (max-width: $screen-sm-max) {
					display: inline-block;
					width: 75%;
				}
			}
			span.back-sm,span.back-xs {
				text-transform: none;
				display: none;
				width:24%;
				height: 100%;
				text-align: right;
				background: $body-bg;
				font-size: 14px;
			}
			span.back-sm {
				@media (min-width: $screen-xs-min + 1) and (max-width: $screen-xs-max) {
					display: inline-block;
				}
			}
			span.back-xs {
				@media (max-width: $screen-xs) {
					display: inline-block;
				}
			}
		}
	}
	
}
#account-edit .form-container{
	padding:0;
}

.my-account .box-wrapper{
	//border-right: 1px solid $color-gray3;
}

.my-account .background-wrapper{
	background: $body-bg;
	padding: 0 15px 20px;
	@include max-screen(768px) {
		margin: 0;
		padding: 0 16px 15px;
	}
	@include max-screen(470px) {
		margin: 0;
		padding: 0 7px 15px;
	}
}
.newsletter-manage-index .my-account .background-wrapper {
  .col-md-12 {
    padding-left: 0;
    padding-right: 0;
  }
}
.my-account .data-table .products{
	@media (max-width: $screen-sm-max){
		display:none;
	}
}
.my-account .data-table .order-no{
	@media (max-width: 560px){
		display:none;
	}
}

.my-account .data-table .status{
	@media (max-width: 480px){
		display:none;
	}
}

.my-account .data-table .total{
	@media (max-width: $screen-md-max){
		display:none;
	}
}