.order-view {
	color:$color_000;
	#content-main {
        #back {
          margin-top: 10px;
        }
		section {
			> header {
				h1 {
					font-size: 24px;
					font-weight: normal;
					font-family: $fontRegular;
					text-transform: uppercase;
					@media (max-width: $screen-xs-max) {
						font-size: 18px;
						text-align: center;
					}
				}
			}
			> footer {
				a#clearAllShopping {
					line-height: image-height(sprite-file($allMap, remove-table-item));
					font-size: 10px;
					text-transform: uppercase;
				}
			}
		}
		.tableWrapper {
			.table-row {
                .panel-heading {
                    padding-bottom: 0px;
                    margin-bottom: 0px;
                }

				.table-cell {
					text-align: center;
					@media (max-width: $screen-xs-max) {
						text-align: left;
					}
					&.cell-01.td {
						text-align: left;
					}
					&.cell-02 {
						@media (max-width: $screen-xs-max) {
						text-align: left;
                		}
					}
					&.cell-04.td {
	                	text-align: right;
	                }
					&.cell-05 {
						text-align: left;
					}
					figure {
						border:1px solid $color_f1f1f1;
					}
					.description_checked_product {
						.product_name {
							font-size: 16px;
							color:$color_000;
						}
						.product_size {
							font-size: 12px;
						}
						.product_availability {
							.icons-checked,
							.icons-interjection {
								font-size: 12px;
								text-transform: none;
							}
							
						}
					}
					.product_price {
						font-size: 16px;
						font-family: $fontRegular;
						span {
							font-size: 11px;
							color:$color_565655;
							text-decoration:line-through;
						}
					}
					.amount_product {
						text-align: center;
						font-size: 11px;
						border:1px solid $gray;
						line-height: 22px;
					}
					&.cell-03 {

						.select-group.medium {
							.button-select {
								font-size: 11px;
								text-align: center;
							}
						}
					}
					&.cell-04 {
						&.td {
							//font-size: 16px;
                            //font-family: $fontBlack;
						}
                		
                	}

				}
			}
		}
		.tableWrapper {
			.table-footer-group {
				.table-row {
					.table-cell {
						&.td {
							border-top: 1px solid $color_ebeaed;
						}
						&.cell-01 {
							p {
								font-size: 14px;
								white-space: nowrap;
								@media (max-width: $screen-xs-max) {
									font-size: 11px;
								}
							}
						}						
						&.label_value {
							text-align: right;
							font-size: 16px;
							@media (max-width: $screen-xs-max) {
								.value_quality_price {
									margin-bottom:0px;
								}
								.quality_price {
									margin-bottom:0px;
								}
							}
						}
						&.cell-04 {
							text-align: right;						
						}
						
					}
				}		
			}
		}
	}
}
