#scrollTop {
	width: 43px;
	height: 43px;
	position: fixed;
	right: -43px;
	color: $colorIcon;
	border:1px solid $colorIcon;
	border-radius:100%;
	transition: all 0.25s ease-in-out 0s;
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	line-height: 20px;
	opacity: 0;
	transition: all 300ms ease;
	cursor: pointer;
	z-index: 1000;
	animation-name: bounceIn;
		background-color: $color_fff;
	&.show {
		opacity: 1;
	}
	&.hover {
		background-color: $color_262626;
		color: $color_fff;
		border-color: $color_262626;
	}
	i {
		position:relative;
		top:7px;
	}
}