@import "dimensions/global";
@import "dimensions/header";
@import "dimensions/sidebar";
@import "dimensions/mainpage";
@import "dimensions/list-product";
@import "dimensions/rv";
@import "dimensions/customer-account-registered";
@import "dimensions/summary-delivery-payment";