<?xml version="1.0"?>
<config>
    <modules>
        <GH_AttributeRules>
            <version>0.0.2</version>
        </GH_AttributeRules>
    </modules>
    <global>
        <models>
            <gh_attributerules>
                <class>GH_AttributeRules_Model</class>
                <resourceModel>gh_attributerules_resource</resourceModel>
            </gh_attributerules>
            <gh_attributerules_resource>
                <class>GH_AttributeRules_Model_Resource</class>
                <entities>
                    <gh_attribute_rules>
                        <table>gh_attribute_rules</table>
                    </gh_attribute_rules>
                </entities>
            </gh_attributerules_resource>
        </models>
        <blocks>
            <gh_attributerules>
                <class>GH_AttributeRules_Block</class>
            </gh_attributerules>
        </blocks>
        <helpers>
            <gh_attributerules>
                <class>GH_AttributeRules_Helper</class>
            </gh_attributerules>
        </helpers>
        <resources>
            <gh_attributerules_setup>
                <setup>
                    <module>GH_AttributeRules</module>
                </setup>
            </gh_attributerules_setup>
        </resources>
        <events>
            <change_product_attribute_after>
                <observers>
                    <gh_attributerules_save_rule>
                        <class>GH_AttributeRules_Model_Observer</class>
                        <method>saveProductAttributeRule</method>
                    </gh_attributerules_save_rule>
                </observers>
            </change_product_attribute_after>
        </events>
    </global>
    <frontend>
        <secure_url>
            <ghattributerules>/ghattributerules</ghattributerules>
        </secure_url>
        <translate>
            <modules>
                <GH_AttributeRules>
                    <files>
                        <default>GH_AttributeRules.csv</default>
                    </files>
                </GH_AttributeRules>
            </modules>
        </translate>
        <routers>
            <gh_attributerules>
                <use>standard</use>
                <args>
                    <module>GH_AttributeRules</module>
                    <frontName>ghattributerules</frontName>
                </args>
            </gh_attributerules>
            <udropship>
                <args>
                    <modules>
                        <GH_AttributeRules before="ZolagoOs_OmniChannel">GH_AttributeRules</GH_AttributeRules>
                    </modules>
                </args>
            </udropship>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <GH_AttributeRules>
                    <files>
                        <default>GH_AttributeRules.csv</default>
                    </files>
                </GH_AttributeRules>
            </modules>
        </translate>
    </adminhtml>
</config>