<?xml version="1.0"?>
<config>
    <modules>
        <GH_AttributeRules>
            <version>0.0.1</version>
        </GH_AttributeRules>
    </modules>
    <global>
        <models>
            <gh_attributerules>
                <class>GH_AttributeRules_Model</class>
                <resourceModel>gh_attributerules_resource</resourceModel>
            </gh_attributerules>
            <gh_attributerules_resource>
                <class>GH_AttributeRules_Model_Resource</class>
                <entities>
                    <attribute_rules>
                        <table>gh_attribute_rules</table>
                    </attribute_rules>
                </entities>
            </gh_attributerules_resource>
        </models>
        <blocks>
            <gh_attributerules>
                <class>GH_AttributeRules_Block</class>
            </gh_attributerules>
        </blocks>
        <helpers>
            <gh_attributerules>
                <class>GH_AttributeRules_Helper</class>
            </gh_attributerules>
        </helpers>
        <resources>
            <gh_attributerules_setup>
                <setup>
                    <module>GH_AttributeRules</module>
                </setup>
            </gh_attributerules_setup>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <GH_AttributeRules>
                    <files>
                        <default>GH_AttributeRules.csv</default>
                    </files>
                </GH_AttributeRules>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <GH_AttributeRules>
                    <files>
                        <default>GH_AttributeRules.csv</default>
                    </files>
                </GH_AttributeRules>
            </modules>
        </translate>
    </adminhtml>
</config>