.recently-viewed {
	h3.title-section {
		padding-top:0px;
		padding-bottom:0px;
		margin-left: -15px;
		
		@media (max-width: $screen-xs-max) {
			font-size: 11px;
			font-family: 'OpenSansRegular'!important;
			padding-left:20px;
		}
		&:before {
			@media (max-width: $screen-xs-max) {
			  content: ' ';
			  display: block;
			  width: 18px;
			  height: 18px;
			  background: #6fffcf;
			  position: absolute;
			  left: -15px;
				top: -4px;
			}
		}
	}
	.box_listing_product {
		figure {
			&.img_product {
				margin-bottom: 10px;
			}
		}
		.name_product {
			padding:0px;
		}
	}
	.item {
		margin:0 20px;
		background: #fff;
		color: #515151;
		@media (max-width: $screen-xs-max) {
			margin:0 5px;
		}
		img {
			border:1px solid #f5f6f6;
		}
		a {
			&:hover {
				
			}
		}
	}
	.customNavigation {
			a {
				font-size: 48px;
				margin-top:0px;
				background:$arrowMap;
				@media (max-width: $screen-xs-max) {
					margin-top:6px;	
				}
				
				&.prev {
				left:10px;
				
				@include sprite($arrowMap, arrow-slider-latest-left-l);
				@include sprite-dimensions($arrowMap, arrow-slider-latest-left-l);
				@media (max-width: $screen-xs-max) {
					@include sprite($arrowMap, arrow-rwd-slider-prev-mobile);
					@include sprite-dimensions($arrowMap, arrow-rwd-slider-prev-mobile);
				}
				&:hover {
					@include sprite($arrowMap, arrow-slider-latest-left-h);
					@include sprite-dimensions($arrowMap, arrow-slider-latest-left-h);
					@media (max-width: $screen-xs-max) {
						@include sprite($arrowMap, arrow-rwd-slider-prev-mobile-h);
						@include sprite-dimensions($arrowMap, arrow-rwd-slider-prev-mobile-h);
					}
				}
			}
			&.next {
				right:10px;
				@include sprite($arrowMap, arrow-slider-latest-right-l);
				@include sprite-dimensions($arrowMap, arrow-slider-latest-right-l);
				@media (max-width: $screen-xs-max) {
					@include sprite($arrowMap, arrow-rwd-slider-next-mobile);
					@include sprite-dimensions($arrowMap, arrow-rwd-slider-next-mobile);
				}
				&:hover {
					@include sprite($arrowMap, arrow-slider-latest-right-h);
					@include sprite-dimensions($arrowMap, arrow-slider-latest-right-h);
					@media (max-width: $screen-xs-max) {
						@include sprite($arrowMap, arrow-rwd-slider-next-mobile-h);
						@include sprite-dimensions($arrowMap, arrow-rwd-slider-next-mobile-h);
					}
				}
			}
			}
		}

}