/var/*
/media/*
/app/etc/local.xml
/.htaccess
/nbproject/*
/sitemap.xml
/catalog.xml
*.orig
/phpinfo.php
/testResult/*
/phpmyadmin
/dev/*
*.DS_Store
/downloader/
/app/etc/solrbridge.conf
bin/
/vendor/
/.project
/.vagrant/
/puphpet/
Vagrantfile
composer.*
