/var/*
/media/*
/app/etc/local.xml
/.htaccess
/nbproject/*
/sitemap.xml
/catalog.xml
*.orig
/phpinfo.php
/testResult/*
/dev/*
*.DS_Store
/downloader/
/app/etc/solrbridge.conf
.idea
.idea/
.sass-cache
listingrev2
skin/frontend/modago/default_orig
skin/frontend/modago/default_orig_2
/vendor/
/Vagrantfile
/puphpet/
bin/
/vendor/
/.project
/.vagrant/
Vagrantfile
composer.*
app/code/community/Alanstormdotcom
app/etc/modules/Alanstormdotcom_Configviewer.xml
app/etc/modules/Alanstormdotcom_Layoutviewer.xml
/info.php
skin/frontend/modago/default/css/bootstrap.css
skin/frontend/modago/default/css/layout.css
skin/frontend/modago/default/css/design.css
skin/frontend/modago/default/css/typography.css
skin/frontend/modago/default/css/stylesheet.css
skin/frontend/modago/default/css/slick.css
skin/frontend/modago/default/css/gh.css
skin/frontend/modago/default/images/sprites/select-*
skin/frontend/modago/default/images/sprites/all-*
skin/frontend/modago/default/images/sprites/check_filter-*
skin/frontend/modago/default/images/sprites/bg-*
skin/frontend/modago/default/images/sprites/checkbox-*
skin/frontend/modago/default/images/sprites/radio-*
skin/frontend/modago/vissavi/css/bootstrap.css
skin/frontend/modago/vissavi/css/layout.css
skin/frontend/modago/vissavi/css/design.css
skin/frontend/modago/vissavi/css/typography.css
skin/frontend/modago/vissavi/css/stylesheet.css
skin/frontend/modago/vissavi/css/slick.css
skin/frontend/modago/vissavi/css/gh.css
skin/frontend/modago/vissavi/images/sprites/select-*
skin/frontend/modago/vissavi/images/sprites/all-*
skin/frontend/modago/vissavi/images/sprites/check_filter-*
skin/frontend/modago/vissavi/images/sprites/bg-*
skin/frontend/modago/vissavi/images/sprites/checkbox-*
skin/frontend/modago/vissavi/images/sprites/radio-*
lib/mPDF/ttfontdata
