<?xml version="1.0"?>
<config>
	<modules>
		<SolrBridge_Solrsearch>
			<version>1.9.6.4</version>
		</SolrBridge_Solrsearch>
	</modules>
	<admin>
		<routers>
			<solrbridge_admin>
				<use>admin</use>
				<args>
					<module>SolrBridge_Solrsearch</module>
					<frontName>solrbridge_admin</frontName>
				</args>
			</solrbridge_admin>
		</routers>
	</admin>
	<frontend>
		<routers>
			<solrsearch>
				<use>standard</use>
				<args>
					<module>SolrBridge_Solrsearch</module>
					<frontName>search</frontName>
				</args>
			</solrsearch>
		</routers>
		<translate>
			<modules>
				<SolrBridge_Solrsearch>
					<files>
						<default>SolrBridge_Solrsearch.csv</default>
					</files>
				</SolrBridge_Solrsearch>
			</modules>
		</translate>
		<layout>
			<updates>
				<solrsearch>
					<file>solrsearch.xml</file>
				</solrsearch>
			</updates>
		</layout>
		<events>
			<controller_action_layout_render_before_catalog_category_view>
                <observers>
                    <solr_search_observer>
                        <type>singleton</type>
                        <class>solrsearch/observer</class>
                        <method>handleLayoutRender</method>
                    </solr_search_observer>
                </observers>
            </controller_action_layout_render_before_catalog_category_view>
			<controller_action_layout_render_before_solrsearch_index_index>
                <observers>
                    <solr_search_observer>
                        <type>singleton</type>
                        <class>solrsearch/observer</class>
                        <method>handleLayoutRender</method>
                    </solr_search_observer>
                </observers>
            </controller_action_layout_render_before_solrsearch_index_index>
            <controller_action_layout_load_before>
            	<observers>
                    <solr_search_observer>
                        <type>singleton</type>
                        <class>solrsearch/observer</class>
                        <method>handleCatalogLayoutRender</method>
                    </solr_search_observer>
                </observers>
            </controller_action_layout_load_before>
		</events>
	</frontend>
	<global>
		<models>
			<solrsearch>
				<class>SolrBridge_Solrsearch_Model</class>
				<resourceModel>solrsearch_resource</resourceModel>
			</solrsearch>
			<solrsearch_resource>
				<class>SolrBridge_Solrsearch_Model_Resource</class>
				<deprecatedNode>solrsearch_mysql4</deprecatedNode>
				<entities>
					<logs>
						<table>solrbridge_solrsearch_logs</table>
					</logs>
				</entities>
			</solrsearch_resource>
		</models>
		<resources>
			<solrsearch_setup>
				<setup>
					<module>SolrBridge_Solrsearch</module>
				</setup>
			</solrsearch_setup>
		</resources>
		<events>
			<adminhtml_catalog_product_attribute_edit_prepare_form>
				<observers>
					<solr_search_observer>
						<type>singleton</type>
						<class>SolrBridge_Solrsearch_Model_Observer</class>
						<method>addSearchWeightFieldToAttributeForm</method>
					</solr_search_observer>
				</observers>
			</adminhtml_catalog_product_attribute_edit_prepare_form>
		</events>
		<blocks>
			<solrsearch>
				<class>SolrBridge_Solrsearch_Block</class>
			</solrsearch>
		</blocks>
		<helpers>
			<solrsearch>
				<class>SolrBridge_Solrsearch_Helper</class>
			</solrsearch>
		</helpers>
		<cache>
            <types>
                <solrbridge_solrsearch translate="label,description" module="solrbridge_solrsearch">
                    <label>SolrBridge</label>
                    <description>SolrBrige Autocomplete Cache</description>
                    <tags>solrbridge_solrsearch</tags>
                </solrbridge_solrsearch>
            </types>
        </cache>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<solrsearch>
					<file>solrsearch.xml</file>
				</solrsearch>
			</updates>
		</layout>
		<events>
			<catalog_product_delete_after>
				<observers>
					<solr_search>
						<class>solrsearch/observer</class>
						<method>productDeleteAfter</method>
					</solr_search>
				</observers>
			</catalog_product_delete_after>
			<catalog_product_save_after>
				<observers>
					<solr_search>
						<class>solrsearch/observer</class>
						<method>productAddUpdate</method>
					</solr_search>
				</observers>
			</catalog_product_save_after>
			<after_reindex_process_catalog_product_price>
				<observers>
					<solr_search>
						<class>solrsearch/observer</class>
						<method>catalogReindexPriceAfter</method>
					</solr_search>
				</observers>
			</after_reindex_process_catalog_product_price>
			<end_process_event_catalog_product_catalog_reindex_price>
				<observers>
					<solr_search>
						<class>solrsearch/observer</class>
						<method>catalogReindexPriceAfter</method>
					</solr_search>
				</observers>
			</end_process_event_catalog_product_catalog_reindex_price>
			
			<catalogrule_after_apply>
				<observers>
					<solr_search>
						<class>solrsearch/observer</class>
						<method>catalogRuleApplyAfter</method>
					</solr_search>
				</observers>
			</catalogrule_after_apply>
			
			<!-- 
			<end_process_event_catalog_product_mass_action>
				<observers>
					<solr_search>
						<class>solrsearch/observer</class>
						<method>productMassUpdateAfter</method>
					</solr_search>
				</observers>
			</end_process_event_catalog_product_mass_action>
			<catalog_product_attribute_update_before>
				<observers>
					<solr_search>
						<class>solrsearch/observer</class>
						<method>productMassUpdateBefore</method>
					</solr_search>
				</observers>
			</catalog_product_attribute_update_before>
			 -->
			<catalog_category_prepare_save>
				<observers>
					<solr_search>
						<class>solrsearch/observer</class>
						<method>categorySaveBefore</method>
					</solr_search>
				</observers>
			</catalog_category_prepare_save>
			<end_process_event_catalog_category_save>
				<observers>
					<solr_search>
						<class>solrsearch/observer</class>
						<method>categorySaveAfter</method>
					</solr_search>
				</observers>
			</end_process_event_catalog_category_save>
			<catalog_entity_attribute_save_after>
				<observers>
					<solr_search>
						<class>solrsearch/observer</class>
						<method>entityAttributeSaveAfter</method>
					</solr_search>
				</observers>
			</catalog_entity_attribute_save_after>
			<tag_save_after>
				<observers>
					<solr_search>
						<class>solrsearch/observer</class>
						<method>productTagSaveAfter</method>
					</solr_search>
				</observers>
			</tag_save_after>
			<model_save_after>
				<observers>
					<solr_search>
						<class>solrsearch/observer</class>
						<method>productModelSaveAfter</method>
					</solr_search>
				</observers>
			</model_save_after>
			<admin_system_config_changed_section_solrbridgeindices>
				<observers>
					<solr_search>
						<class>solrsearch/observer</class>
						<method>generateIndexTables</method>
					</solr_search>
				</observers>
			</admin_system_config_changed_section_solrbridgeindices>
			<admin_system_config_changed_section_solrbridge>
				<observers>
					<solr_search>
						<class>solrsearch/observer</class>
						<method>generateStaticConfig</method>
					</solr_search>
				</observers>
			</admin_system_config_changed_section_solrbridge>
			<catalogsearch_query_save_commit_after>
				<observers>
					<solr_search>
						<class>solrsearch/observer</class>
						<method>generateIgnoreSearchTermsConfig</method>
					</solr_search>
				</observers>
			</catalogsearch_query_save_commit_after>
		</events>
	</adminhtml>
	<default>
		<solrbridge>
			<settings>
				<allow_part_of_word>1</allow_part_of_word>
				<included_subproduct>0</included_subproduct>
				<allow_ignore_term>0</allow_ignore_term>
			</settings>
		</solrbridge>
	</default>
</config>