/* DROPDOWN SEARCH & MASKET */
.dropdown {
    position: absolute;
    z-index: 9999999;
    display: none;
}


.dropdown .dropdown-panel {
    min-width: 160px;
    max-width: 370px;
    list-style: none;
    background: #FFF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    padding: 4px 0;
    margin: 0;
    background: #2a2a2a;
    color:#fff;
}


#dropdown-search { /* PANEL WYSZUKIWANIA */
    padding:0px;
    top:56px !important;
    left:0px !important;
    right:auto !important;
    @include max-screen($screen-sm-max) {
        top:40px !important;
    }
    .searchDropdown {
        width: 320px;
        background: #2a2a2a;
        @include border-radius(0px);
        top: 54px;
        padding: 20px;
         .form-group {
            float: none; 
             width: 100% !important;
//             &.styledSelected {
//                margin-bottom:15px !important;
//             }
            input[type="text"] {
                height: 26px;
                width: 100%  !important;
                color: #7f7f7f;
                background-color:#fff;
                line-height: 26px;
                font-size: 12px;
                float: none;
                border:1px solid #e2e1e1;
                border-right:1px solid #e2e1e1;
                 @include border-radius(0px);
                box-shadow: none;
                margin-bottom: 15px;
            }

            select {
             height: 34px;
            width: 100%;
            color: #7f7f7f;
            line-height: 34px;
            font-size: 12px;
            float: none;
            border:1px solid #e2e1e1;
            border-right:1px solid #e2e1e1;
             @include border-radius(0px);
              margin-bottom: 15px;
         }

        }
    }
    .dropdown-panel {
        width:370px;
        max-width: 370px;
        @include max-screen($screen-sm-max) {
                width:360px;
                max-width: 360px;
            }
        .dropdown-panel-inner {
            box-sizing:border-box;
            width:350px;
            margin:0 auto;
        }
    }
}




#dropdown-basket {  /* PANEL KOSZYKA */
    padding:0px;
    top:56px !important;
    right:5px !important;
    left:auto !important;
	a{color: #fff; }
    @include max-screen($screen-sm-max) {
        top:40px !important;
    }
    @include max-screen($screen-sm) {
       right:0px !important;
    }
    .dropdown-panel {
        width:370px;
        max-width: 370px;
        @include max-screen($screen-sm-max) {
                width:360px;
                max-width: 360px;
            }
        .dropdown-panel-inner {
            box-sizing:border-box;
            width:350px;
            margin:0 auto;
        }
    }

    table {
        width:100%;
            td {
                padding: 8px 0;
                vertical-align: top;
                img {
                    border: 1px solid #adadad;
                }
                &+td {
                    padding-left: 5px;
                }
                p {
                margin:0px;
                padding:0px;
                font-size: 12px;
                line-height: 1.3;
                }
            }
        }
    .summary_basket {
        @include clearfix;
        padding: 25px 15px;
        margin: 25px 0 0 0;
        font-size: 11px;
        border-top:1px solid #949494;
            ul {
                float:left;
            }
            ul,li {
                @include no-bullet;
                @include reset-m;
            }
            li {
                line-height: 1.5;
                text-align: left;
            }
        
        }
    }

#popup-after-add-to-cart  {  /* PANEL KOSZYKA */
    table {
        width:100%;

        td {
            padding: 8px 0;
            vertical-align: top;
            img {
                border: 1px solid #adadad;
            }
            &+td {
                padding-left: 5px;
            }
            p {
                margin:0px;
                padding:0px;
                font-size: 12px;
                line-height: 1.3;
            }
        }
    }
}



