
	.sbHolder{
		background-color: #fff;
		border: solid 1px #afafaf;
		font-family: Arial, sans-serif;
		font-size: 11px;
		font-weight: normal;
		color:#1e1e1e;
		height: 29px;
		position: relative;
		width: 200px;
		&:hover {
			border-color:#4f4f4f;
		}
	}
	#sidebar {
		.sbHolder{
			width:149px;
		}
	}
	.sbHolder:focus .sbSelector{
		
	}
	.sbSelector{
		display: block;
		height: 30px;
		left: 0;
		line-height: 30px;
		outline: none;
		overflow: hidden;
		position: absolute;
		text-indent: 10px;
		top: 0;
		width: 170px;
		&:link,
		&:visited,
		&:hover {
			color: #1e1e1e;
			outline: none;
			text-decoration: none;
		}
	}
	.sbToggle{

		background: $selectMap;
		@include sprite($selectMap, select_styled);	
		@include sprite-dimensions($selectMap, select_styled);
		line-height:  image-height(sprite-file($selectMap, select_styled));
		height:  image-height(sprite-file($selectMap, select_styled));
		width:  image-width(sprite-file($selectMap, select_styled));
		display: block;		
		outline: none;
		position: absolute;
		right: 0;
		top: 0;
		
		&:link {
			@include sprite($selectMap, select_styled);
		}
		&:visited {
			@include sprite($selectMap, select_styled);
		}
		&:hover {
			@include sprite($selectMap, select_styled_hover);
		}
	}
	.sbHolderDisabled{
		@include sprite($selectMap, select_styled_disabled);
		background-color: #3C3C3C;
		border: solid 1px #515151;
		.sbHolder{
			
		}
		.sbToggle{
			background: url(../images/select-icons.png) 0 -66px no-repeat;
		}
	}

	.sbOptions{
		background-color: #fff;
		border: solid 1px #afafaf;

		list-style: none;
		left: -1px;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 30px;
		width: 200px;
		z-index: 1;
		overflow-y: auto;
		li{
			padding: 0 0 0 0;
			display:block !important;
			float:none !important;
			margin-left:0px !important;
		}
		a {
			border-bottom: dotted 1px #515151;
			display: block;
			outline: none;
			padding: 7px 10px 7px 10px;
			&:link,
			&:visited {
				color:#1e1e1e;
				text-decoration: none;
			}
			&:hover,
			&:focus,
			&.sbFocus{
				color:#1e1e1e;
				background:#f2f1f0;
			}
		}
		li {
			&.last {
				a {
					border-bottom: none;
				}
			}
		}
		.sbDisabled{
			border-bottom: dotted 1px #515151;
			color: #999;
			display: block;
			padding: 7px 0 7px 3px;
		}
		.sbGroup{
			border-bottom: dotted 1px #515151;
			color: #EBB52D;
			display: block;
			font-weight: bold;
			padding: 7px 0 7px 3px;
		}
		.sbSub{
		padding-left: 17px;
		}
	}

	#sidebar {
		.sbOptions{
			width:149px;
		}
	}