.filter-size {
     
      label {
        width:38px;
        height:38px;
        display:inline-block;
        position:relative;
        cursor:pointer;
        margin-left:12px;
        margin-bottom:12px;
        &:nth-child(3n+1) {
          margin-left: 0;
        }
        span {
          width:38px;
          height:38px;
          border:1px solid $gray;
          text-align:center;
          line-height: 38px;
          font-size:14px;
          color:#313131;
          display:block;
          position:absolute;
          top:0px;
          left:0px;
          background:#fff;
          
        }
        &:hover {
          span {
             background-color:#999;
            border-color:#999;
            color:#fff;
          }
           
          }
        input[type=checkbox]:hover + span  {
            background-color:#999;
            border-color:#999;
            color:#fff;
        }
        input[type=checkbox]:checked {
          outline:none!important;
        }
         input[type=checkbox]:checked + span,
         input.checked + span  {
            background:#000;
            border-color:#000;
            color:#fff;

        }
      }
    }
.filter-longlist {

      input[type="text"] {
        padding:0 23px 0 5px;
        float:left;
        height:23px;
        width:122px;
        border:1px solid #d6d6d6;
        float:left;
        &:focus {
          outline:none;
        }
      }
      input[type="image"] {
        height:23px;
        margin-left: 2px;
        float:left;
        outline:none;
      }
      .form-group {
        position:relative;
      }
      > .form-group {
        margin-bottom: 15px;
      }
      .longListSearch {
        &+label {
          position:absolute;
          right:0px;
          top:0px;
          display:inline-block;
          padding:0px;
          margin:0px;
          height:23px;
          width:23px;
          i {
            position:static;
            margin: 4px 0 0 4px;
            color:#000;
          }
        }
      }    
    }
#filter_price {
      &> .form-checkbox {
        margin-left: 0px;
      }
      .form-horizontal {
        &+.form-horizontal {  
           margin-left: 5px;
        }
        input {
          margin:0 5px;
          &[type="text"] {
            padding:0px;
            margin:0px 5px;
            text-align: center;
            height:22px;
            width:38px;
          }
        }
        label {
          font-weight: normal
        }
        [type="image"] {
          width:34px;
          height:19px;
        }
      }
      #checkSlider {
        float: left;
        margin: 0 14px 0 -16px;
        position:relative;
        top:2px;
      }
      #od_do {
        padding-left:16px;
        #slider-range {
          margin-top:10px;
        }

        .form-horizontal {
          width:40px;
          float:left;
          margin-left:-6px;
         & + .form-horizontal {
          margin-left:11px;
          }
        }
        .form-action {
          margin-bottom: 5px;
          margin-right: -7px;
          float: right;
          width: 35px;
          position:relative;
          left:-3px;
          .btn {
            position:relative;
            top:0px;
            &.black {
              width:35px!important;
              height:22px!important;
              line-height: 21px!important;
              font-size: 15px!important;
              min-width: 35px;
              padding:0px;
            }
            
          }
        }
      }
    }
.filter-color {
      [type="checkbox"] {
        outline:none!important;
        margin:3px 0 0 3px;
      }
      label {
        display:inline-block;
        width:34px;
        height:34px;
        margin:5px 7px;
        position:relative;
        &:nth-child(3n+1) {
          margin-left: 0;
        }
        > span {
          display:block;
          width:33px;
          height:33px;
          padding:3px;
          position:absolute;
          background:#fff;
          top:0px;
          left:0px;
          @include border-radius(5px);
          span {
            display:inline-block;
            width:27px;
            height:27px;
            border:1px solid $gray;
          }
          
        }
        [type="checkbox"]:hover + span {
          background:#999;
          cursor:pointer;
        }
        [type="checkbox"]:checked + span,
        span.checked {
          background:#000;
        }
        &:hover span {
          background:#999;
          cursor:pointer;
        }
      }
    }

.longListItemst {
  margin:0px !important;
  padding:5px 0 5px 0;
  list-style: none;
  //max-height:126px;
  //overflow-y:auto;
  margin-bottom: 10px;
  li {
    padding-left: 5px;
    padding-right: 19px;
    .form-group {
      margin-bottom: 5px;
    }
    &.lastChecked {
      border-bottom: 1px solid #d0cfcf;
      margin-bottom:5px;
    }
  }
} 

#filter_style, .filter-droplist, .filter-enum {
  .select-group {
    &.medium {
      width:140px;
      max-width: 140px;
      .button-select {
        width:140px;
        min-width:140px;
      }
    }
  }
}

span.checked {
          background:#000;
        }