html, body, #sb-site, .sb-site, .sb-slidebar, #fb-site, .fb-site, .fb-slidebar {
	/* Set box model to prevent any user added margins or paddings from altering the widths or heights. */
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body {
	width: 100%;
	overflow-x: hidden; /* Stops horizontal scrolling. */
}

html {
	height: 100%; /* Site is as tall as device. */
}

body {
	min-height: 100%;
	position: relative; /* Required for static Slidebars to function properly. */
}

html.sb-site-lock.sb-active:not(.sb-static) {
	overflow: hidden; /* Prevent site from scrolling when a Slidebar is open, except when static Slidebars are only available. */
}

/* ----------
 * 002 - Site
 */

#sb-site, .sb-site {
	/* You may now use .sb-site as your site container if you wish to use your own id. However please make sure you don't set any of the following styles any differently on your id. */
	width: 100%;
	position: relative;
	z-index: 1; /* Site sits above Slidebars */
	background: #F2F1F0;
}

#sb-site.open {
	
	-webkit-transform:translate(242px); 
	-moz-transform:translate(242px); 
	-o-transform:translate(242px);
	transform:translate(242px); 
}
.sb-open {
	#sb-site.open {
		
		-webkit-transform:translate(288px); 
		-moz-transform:translate(288px); 
		-o-transform:translate(288px);
		transform:translate(288px); 
	}
}

/* ---------------
 * 003 - Slidebars
 */

.sb-slidebar {
	height: 100%;
	overflow:hidden;
	position: fixed;
	top: 0;
	z-index: 0; /* Slidebars sit behind sb-site. */
	display: none; /* Initially hide the Slidebars. Changed from visibility to display to allow -webkit-overflow-scrolling. */
	background-color: #2d2d2d; /* Default Slidebars background colour, overwrite this with your own css. */
	-webkit-transform: translate(0px); /* Fixes issues with translated and z-indexed elements on iOS 7. */
	-webkit-overflow-scrolling: touch; /* Adds smooth native scrolling for iOS & Android devices. */
	&.open {
		display: block;
		-webkit-transform:translate(288px); 
		-moz-transform:translate(288px); 
		-o-transform:translate(288px);
		transform:translate(288px); 
	}
	> header {
		position:relative;
		height:53px;
		background:#2d2d2d;
		 @include max-screen($screen-sm-max) {
		       height:41px;
		    }
		a:link,
		a:visited {
			display:block;
			height:53px;
			line-height: 53px;
			margin-left: 15px;
			color:#fff;
			font-size: 14px;
			text-transform: uppercase;
			@include max-screen($screen-sm-max) {
			      height:41px;
			      line-height: 41px;
			   }
			i {
				font-size: 20px;
				float: left;
				line-height: 53px;
				margin-right: 15px;
				@include max-screen($screen-sm-max) {
			      
			      line-height: 41px;
			   }
			}
		}
		/*&:before {
			content:' ';
			height:53px;
			width:53px;
			position:absolute;
			top:0px;
			right:-53px;
			background:#2d2d2d;
			z-index: 990
		}*/
	}
	.sb-slidebar-inner {
		overflow-y: auto;
		height: 100%;
		nav {
			padding-bottom: 30px;
		}
	}
}

.sb-left {
	left: 0; /* Set Slidebar to the left. */
}

.sb-right {
	right: 0; /* Set Slidebar to the right. */
}

html.sb-static .sb-slidebar,
.sb-slidebar.sb-static {
	position: absolute; /* Makes Slidebars scroll naturally with the site, and unfixes them for Android Browser < 3 and iOS < 5. */
}

.sb-slidebar.sb-active {
	display: block; /* Makes Slidebars visibile when open. Changed from visibility to display to allow -webkit-overflow-scrolling. */
	z-index: 1;
}

.sb-slidebar.sb-style-overlay {
	z-index: 9999; /* Set z-index high to ensure it overlays any other site elements. */
}

/* Slidebar widths for browsers/devices that don't support media queries. */
	.sb-slidebar {
		width: 288px;
	}
	
	.sb-width-thin {
		width: 288px;;
	}
	
	.sb-width-wide {
		width: 288px;;
	}

@media (max-width: 480px) { /* Slidebar widths on extra small screens. */
	.sb-slidebar {
		width: 288px;;
	}
	
	.sb-width-thin {
		width: 288px;;
	}
	
	.sb-width-wide {
		width: 288px;;
	}
}

@media (min-width: 481px) { /* Slidebar widths on small screens. */
	.sb-slidebar {
		width: 288px;;
	}
	
	.sb-width-thin {
		width: 288px;;
	}
	
	.sb-width-wide {
		width: 288px;;
	}
}

@media (min-width: 768px) { /* Slidebar widths on medium screens. */
	.sb-slidebar {
		width: 288px;;
	}
	
	.sb-width-thin {
		width: 288px;;
	}
	
	.sb-width-wide {
		width: 288px;;
	}
}

@media (min-width: 992px) { /* Slidebar widths on large screens. */
	.sb-slidebar {
		width: 288px;;
	}
	
	.sb-width-thin {
		width: 288px;;
	}
	
	.sb-width-wide {
		width: 288px;;
	}
}

@media (min-width: 1200px) { /* Slidebar widths on extra large screens. */
	.sb-slidebar {
		width: 288px;;
	}
	
	.sb-width-thin {
		width: 288px;;
	}
	
	.sb-width-wide {
		width: 288px;;
	}
}

/* ---------------
 * 004 - Animation
 */

.sb-slide, #sb-site, .sb-site, .sb-slidebar {
	-webkit-transition: -webkit-transform 400ms ease;
	   -moz-transition: -moz-transform 400ms ease;
	     -o-transition: -o-transform 400ms ease;
	        transition: transform 400ms ease;
	-webkit-transition-property: -webkit-transform, left, right; /* Add left/right for Android < 4.4. */
	-webkit-backface-visibility: hidden; /* Prevents flickering. This is non essential, and you may remove it if your having problems with fixed background images in Chrome. */
}

/* --------------------
 * 005 - Helper Classes
 */
 
.sb-hide { 
	display: none; /* Optionally applied to control classes when Slidebars is disabled over a certain width. */
}


.sb-menu {
	margin:0px;
	padding-left: 0;
	margin-bottom: 12px;
}
.sb-menu  li {
width: 100%;
padding: 0;
margin: 0;

}
.sb-menu > li {
border-bottom: 1px solid rgba(255, 255, 255, 0.1);
background: #000;
}
.sb-menu li a {
width: 100%;
padding: 16px 0px 16px 0;
display: inline-block;
color: #f2f2f2;
	&:hover {
		text-decoration: underline;
	}
}
.sb-menu  li ul {
	margin: 0px;
	padding-left: 0;
	background: #2d2d2d;
	list-style: none;
	display: none;
}
.sb-menu  li li {
	}
.sb-menu  li ul ul {
	background: #555556;
}
.sb-menu > li > a {
	text-transform: uppercase;
	padding-left: 18px;
}
.sb-menu > li > ul > li > a {
	text-transform: uppercase;
	margin-left:18px;
	padding-left: 18px;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sb-menu > li > ul > li:first-child > a {

	border-top:none;
}
.sb-menu > li > ul > li > ul > li > a {
	margin-left:39px;
	padding-left: 18px;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sb-menu > li > ul > li > ul > li:first-child > a {
	border-top: none;
}

.sb-menu li a.sb-submenu-active + ul{
	display: block;
}


.sb-menu  li a.sb-toggle-submenu {
	background: url('../images/arrow-menu-sliding-wite.png') 251px 50% no-repeat;
}
.sb-menu  li a.sb-submenu-active {
	background: url('../images/arrow-menu-sliding-active.png') 241px 50% no-repeat;
}

.sb-menu  li ul a.sb-toggle-submenu {
	background: url('../images/arrow-menu-sliding-wite.png') 223px 50% no-repeat;
}
.sb-menu  li ul a.sb-submenu-active {
	background: url('../images/arrow-menu-sliding-active.png') 223px 50% no-repeat;
}
.sb-menu > li.separator,
.sb-menu li.separator {
	height:12px;
	background: #2E2E2E ;
	display: block;
}




html, body, #fb-site, .fb-site, .fb-slidebar {
	/* Set box model to prevent any user added margins or paddings from altering the widths or heights. */
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body {
	width: 100%;
	overflow-x: hidden; /* Stops horizontal scrolling. */
}

html {
	height: 100%; /* Site is as tall as device. */
}

body {
	min-height: 100%;
	position: relative; /* Required for static Slidebars to function properly. */
}

html.fb-site-lock.fb-active:not(.fb-static) {
	overflow: hidden; /* Prevent site from scrolling when a Slidebar is open, except when static Slidebars are only available. */
}

/* ----------
 * 002 - Site
 */

#fb-site, .fb-site {
	/* You may now use .fb-site as your site container if you wish to use your own id. However please make sure you don't set any of the following styles any differently on your id. */
	width: 100%;
	position: relative;
	z-index: 1; /* Site sits above Slidebars */
	background: #F2F1F0;
}

/* ---------------
 * 003 - Slidebars
 */
.fb-slidebar-header {
		position:relative;
		height:51px;
		background:#000;
		margin: 0 -20px;
		border-bottom: 3px solid #c6a662;
		 @include max-screen($screen-sm-max) {
		       height:41px;
		    }
		a:link,
		a:visited {
			display:block;
			height:53px;
			line-height: 53px;
			margin-left: 15px;
			color:#fff;
			font-size: 14px;
			text-transform: uppercase;
			@include max-screen($screen-sm-max) {
			      height:41px;
			      line-height: 41px;
			   }
			i {
				font-size: 20px;
				float: left;
				line-height: 53px;
				margin-right: 15px;
				@include max-screen($screen-sm-max) {
			      
			      line-height: 41px;
			   }
			}
		}
		/*&:before {
			content:' ';
			height:53px;
			width:53px;
			position:absolute;
			top:0px;
			right:-53px;
			background:#2d2d2d;
			z-index: 990
		}*/
	}
.fb-slidebar {
	height: 100%;
	overflow:hidden;
	position: fixed;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:20px;

	top: 0;
	z-index: 0; /* Slidebars sit behind fb-site. */
	display: none; /* Initially hide the Slidebars. Changed from visibility to display to allow -webkit-overflow-scrolling. */
	background-color: #fff; /* Default Slidebars background colour, overwrite this with your own css. */
	-webkit-transform: translate(0px); /* Fixes issues with translated and z-indexed elements on iOS 7. */
	-webkit-overflow-scrolling: touch; /* Adds smooth native scrolling for iOS & Android devices. */
	&.open {
		display:block;
		z-index: 900;
		overflow:hidden;
	}
	> header {
		position:relative;
		height:53px;
		background:#2d2d2d;
		a:link,
		a:visited {
			display:block;
			height:53px;
			line-height: 53px;
			margin-left: 15px;
			color:#fff;
			font-size: 14px;
			text-transform: uppercase;
			i {
				font-size: 20px;
				float: left;
				line-height: 53px;
				margin-right: 15px;
			}
		}
		/*&:before {
			content:' ';
			height:53px;
			width:53px;
			position:absolute;
			top:0px;
			right:-53px;
			background:#2d2d2d;
			z-index: 990
		}*/
	}
	.fb-slidebar-inner {
		overflow-y: auto;
		overflow-x: hidden;
		height: 100%;
		width: 210px;
	}
}

.fb-left {
	left: 0; /* Set Slidebar to the left. */
}

.fb-right {
	right: 0; /* Set Slidebar to the right. */
}

html.fb-static .fb-slidebar,
.fb-slidebar.fb-static {
	position: absolute; /* Makes Slidebars scroll naturally with the site, and unfixes them for Android Browser < 3 and iOS < 5. */
}

.fb-slidebar.fb-active {
	display: block; /* Makes Slidebars visibile when open. Changed from visibility to display to allow -webkit-overflow-scrolling. */
}

.fb-slidebar.fb-style-overlay {
	z-index: 9999; /* Set z-index high to ensure it overlays any other site elements. */
}

/* Slidebar widths for browsers/devices that don't support media queries. */
	.fb-slidebar {
		width: 242px;
	}
	
	.fb-width-thin {
		width: 242px;
	}
	
	.fb-width-wide {
		width: 242px;
	}

@media (max-width: 480px) { /* Slidebar widths on extra small screens. */
	.fb-slidebar {
		width: 242px;
	}
	
	.fb-width-thin {
		width: 242px;
	}
	
	.fb-width-wide {
		width: 242px;
	}
}

@media (min-width: 481px) { /* Slidebar widths on small screens. */
	.fb-slidebar {
		width: 242px;
	}
	
	.fb-width-thin {
		width: 242px;
	}
	
	.fb-width-wide {
		width: 242px;
	}
}

@media (min-width: 768px) { /* Slidebar widths on medium screens. */
	.fb-slidebar {
		width: 242px;
	}
	
	.fb-width-thin {
		width: 242px;
	}
	
	.fb-width-wide {
		width: 242px;
	}
}

@media (min-width: 992px) { /* Slidebar widths on large screens. */
	.fb-slidebar {
		width: 242px;
	}
	
	.fb-width-thin {
		width: 242px;
	}
	
	.fb-width-wide {
		width: 242px;
	}
}

@media (min-width: 1200px) { /* Slidebar widths on extra large screens. */
	.fb-slidebar {
		width: 242px;
	}
	
	.fb-width-thin {
		width: 242px;
	}
	
	.fb-width-wide {
		width: 242px;
	}
}

/* ---------------
 * 004 - Animation
 */

.fb-slide, #fb-site, .fb-site, .fb-slidebar {
	-webkit-transition: -webkit-transform 400ms ease;
	   -moz-transition: -moz-transform 400ms ease;
	     -o-transition: -o-transform 400ms ease;
	        transition: transform 400ms ease;
	-webkit-transition-property: -webkit-transform, left, right; /* Add left/right for Android < 4.4. */
	-webkit-backface-visibility: hidden; /* Prevents flickering. This is non essential, and you may remove it if your having problems with fixed background images in Chrome. */
}

/* --------------------
 * 005 - Helper Classes
 */
 
.fb-hide { 
	display: none; /* Optionally applied to control classes when Slidebars is disabled over a certain width. */
}


