#navCategory {
	padding:0px 0;
	margin-top:4px;
	h3 {
		margin:0px;
		padding:10px 0 10px 5px;
		float:left;
	}
	.backToCategory {
		float:right;
		padding:10px 5px 10px 0px;

	}
	#nav_category_mobile {
		clear:both;
		> li {
			display:block;
		    > a:link,
		    > a:visited {
		    position:relative;
			display:block;
			padding-left: 30px !important;
		    }
		}
	}
}
.node-type-page-shop #navCategory {
  margin-top:0px;
}