@import "../vendor/bootstrap/variables";
@import "media-queries";


// NEW BREAKPOINT 

//@screen-sxs:                 480px;
//@screen-sxs-max:             @screen-sxs;
//@screen-phone:               @screen-sxs-max;

// NEW FOR LISTING ( FOR TABLETS )
// NOW YOU CAN USE OLD BOOTSTRAP DEFAULT:
// XS(480) -> XS-MAX(767) -> SM(768) -> SM-MAX(991) -> MD(992) -> MD-MAX(1199) -> LG(1200)
//
// AND NEW FOR LISTING
// XS(480) -> XS-MAX(767) -> SM-TO-SMMD(768) -> SM-TO-SMMD-MAX(809) -> SMMD(810) -> SMMD-MAX(991) -> MD(992) -> MD-MAX(1199) -> LG(1200)

// Small screen / tablet
$screen-sm-to-smmd:            $screen-sm !default;                 // 768px
$screen-sm-to-smmd-min:        $screen-sm-to-smmd;

$screen-smmd:                  810px !default;
$screen-smmd-min:              $screen-smmd !default;          // 810px

// So media queries don't overlap when required, provide a maximum
$screen-sm-to-smmd-max:        ($screen-smmd-min - 1) !default; // 809px
$screen-smmd-max:              ($screen-md-min - 1) !default;  // 991px

//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// SM-TO-SMMD
$container-sm-to-smmd:         ((740px + $grid-gutter-width)) !default; //770
// SMMD
$container-smmd:               ((950px + $grid-gutter-width)) !default; //980

$global-image-path: "../images";
// #{$global-image-path}

$icon-font-path: "../fonts/glyphicons/";
$icon-font-name:          "glyphicons-halflings-regular" ;
$icon-font-svg-id:        "glyphicons_halflingsregular" ;

$body-bg:               #fff;

$bc-primary : $gray-lighter;
$bc-secondary : #d9d9d9;

$panel-top: #FCFCFC;
$panel-bottom: #FEFEFE;

$color-gold: #c6a662;
$color-black: #000000;
$color-gray1: #949494;
$color-gray2: #ededed;
$color-gray3: #ebebeb;
$color-gray4: #999;
$validation-error: #e84c3d;

@mixin border-all($size:1px) {
    
}

@mixin bc-primary($bs:1px)  {
    border: $bs solid $bc-primary;
}

@mixin bc-secondary($bs:1px)  {
    border: $bs solid $bc-secondary;
}

@mixin reset-m {
    margin: 0;
    padding: 0;
}
@mixin reset-l {
    @include reset-m;
    list-style: none;
}
@mixin cfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin reset-full {
    a:link,
    a:visited,
    a:hover,
    a:focus {
        margin:0px;
        padding:0px;
        background:0px;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="submit"],
    button,
    textarea {
        margin:0px;
        padding:0px;
        background:0px;
        border:none;
    }
}

// FONT
$fontLight: latolight, sans-serif;
$fontRegular: latoregular, sans-serif;
$fontBlack: latoblack, sans-serif;
// SPRITES MAP 
$allMap: sprite-map("sprites/all/*.png", $layout: smart, $spacing:50px);

/*$icoMapDesktop: sprite-map("desktop/ico/*.png");
$icoMapMobile: sprite-map("mobile/ico/*.png");
$bulletMap: sprite-map("sprites/bullet/*.png");
$arrowMap: sprite-map("sprites/arrow/*.png");
$socialMap: sprite-map("sprites/social/*.png"); 
$followUsMap: sprite-map("sprites/follow_us/*.png"); 
$formIcoMap: sprite-map("sprites/form_feedback/*.png");
$formMap: sprite-map("sprites/form/*.png");
$btnSocialMap: sprite-map("sprites/btn-social/*.png");
$flagMap: sprite-map("sprites/flags/*.png");*/
//////////////////////////////////////////////
 

// Dodatkowe sprites
$btnCheck: sprite-map("sprites/check_filter/*.png", $spacing:200px);
$checkboxMap: sprite-map("sprites/checkbox/*.png", $spacing:200px);
$radioMap: sprite-map("sprites/radio/*.png", $spacing:200px);
$selectMap: sprite-map("sprites/select/*.png");
$bgMap: sprite-map("sprites/bg/*.png"); 