.rma {
	.po-list-sm {
		display: none;
		@media(max-width: $screen-xs-max) {
			display: table;
		}
	}
	.po-list-md {
		display: none;
		@media(min-width: $screen-sm-min) {
			display: table;
		}
	}
	.rma-po-list {
		p {
			font-size: 15px;
		}
		table.po-list-table {
			border: 1px solid $colorBorderRmaPoList;
			thead tr th, tbody tr td {
				background-color: $colorBackgroundRmaPoList;
				border: none;
				vertical-align: top;
			}
			thead tr th {
				text-transform: uppercase;
			}
			tbody tr td {
				border-top: 1px solid $colorBorderRmaPoList;
				&:last-child {
					text-align: right;
					padding-right: 20px;
					width: 100px;
				}
				&:first-child {
					padding-left: 15px;
				}
				&:nth-child(3) {
					padding: 0;
					width: 330px;
				}
			}
			table.po-items-table {
				max-width: 300px;
				tbody tr {
					td {
						border-top: none;
						padding: 10px;
						&:last-child {
							text-align: inherit;
							padding-left: 5px;
							width: auto;
						}
						&:first-child {
							padding-left: 5px;
							padding-right: 5px;
							img {
								border: 1px solid $colorBorderRmaPoListImage;
							}
						}
					}
					&:last-child td {
						padding-bottom: 20px;
					}
					&:first-child td {
						padding-top: 20px;
					}
				}
			}
            @media (min-width:$screen-sm-min) and (max-width: 900px)  {
                .po-number {
                    display: none;
                }
            }
		}
	}
	.po-list-table-mobile {
		width: 100%;
		border: 1px solid $colorBorderRmaPoList;
		tr:first-child td {
			border-top: none;
		}
		td {
			border-top: 1px solid $colorBorderRmaPoList;
			padding: 15px 10px;
			table {
				width: 100%;
				tr {
					&:first-child {
						td {
							padding: 0;
							&:nth-child(2) {
								text-align: right;
							}
						}
					}
					td {
						border-top: none;
						padding: 20px 0 0 0;
						vertical-align: middle;
						span {
							display: block;
						}
						span.product-attribute {
							margin-top: -3px;
							margin-bottom: 4px;
						}
					}
				}
			}
		}
	}
	.rma-po-empty {
		padding-bottom: 100px;
	}
}
.product-attribute {
	font-size: 12px;
}
.nowrap {
	white-space: nowrap;
}
.bold {
	font-family: $fontBlack;
	font-weight: normal;
}