<?xml version="1.0"?>
<!--
/**
 * Altima Lookbook Free Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Altima
 * @package    Altima_LookbookFree
 * @author     Altima Web Systems http://altimawebsystems.com/
 * @email      support@altima.net.au
 * @copyright  Copyright (c) 2012 Altima Web Systems (http://altimawebsystems.com/)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
	<tabs>
		<altima translate="label comment" module="lookbook">
	            <label>Altima</label>
	            <sort_order>500</sort_order>
		</altima>
	</tabs>
    <sections>
        <lookbook translate="label comment" module="lookbook">
            <tab>altima</tab>
            <label>LookBook Free</label>
            <frontend_type>text</frontend_type>
            <sort_order>800</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label comment" module="lookbook">
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                          <label>Enabled</label>
                          <frontend_type>select</frontend_type>
                          <source_model>adminhtml/system_config_source_yesno</source_model>
                          <sort_order>10</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                        </enabled>
                        <min_image_width translate="label">
                            <label>Minimal Image Width (px)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Integer value. Must be less then Maximal Image Width.]]></comment>
                        </min_image_width>
                        <min_image_height translate="label">
                            <label>Minimal Image Height (px)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Integer value. Must be less then Maximal Image Height.]]></comment>
                        </min_image_height>
                        <max_image_width translate="label">
                            <label>Maximal Image Width (px)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Integer value. Must be greater then Minimal Image Width.]]></comment>
                        </max_image_width>
                        <max_image_height translate="label">
                            <label>Maximal Image Height (px)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Integer value. Must be greater then Minimal Image Height.]]></comment>
                        </max_image_height>
                        <max_upload_filesize translate="label">
                            <label>Uploaded file max size (bytes)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Integer value. Must be less then upload_max_filesize and post_max_size in php.ini]]></comment>
                        </max_upload_filesize>
                        <allowed_extensions translate="label">
                            <label>Allowed extensions</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Comma separated file extensions. Example, "jpg,gif,png"]]></comment>
                        </allowed_extensions>
                        <effects translate="label">
                          <label>Effect</label>
                          <frontend_type>multiselect</frontend_type>
                          <source_model>lookbook/config_source_effect</source_model>
                          <sort_order>80</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                          <can_be_empty>1</can_be_empty>
                          <comment><![CDATA[You can use more than one effect or leave empty to use the random effect.]]></comment>
                        </effects>
                        <navigation translate="label">
                          <label>Show navigation</label>
                          <frontend_type>select</frontend_type>
                          <source_model>adminhtml/system_config_source_yesno</source_model>
                          <sort_order>90</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                          <comment><![CDATA[If YES the navigation button (prev, next and play/stop buttons) will be visible, if NO they will be always hidden.]]></comment>
                        </navigation>
                        <navigation_hover translate="label">
                          <label>Navigation on hover state only</label>
                          <frontend_type>select</frontend_type>
                          <source_model>adminhtml/system_config_source_yesno</source_model>
                          <sort_order>100</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                          <comment><![CDATA[If YES the navigation button (prev, next and play/stop buttons) will be visible on hover state only, if NO they will be visible always.]]></comment>
                        </navigation_hover>
                        <thumbnails translate="label">
                          <label>Show thumbnails</label>
                          <frontend_type>select</frontend_type>
                          <source_model>adminhtml/system_config_source_yesno</source_model>
                          <sort_order>110</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                          <comment><![CDATA[If YES the thumbnails will be visible, if NO will show the pagination.]]></comment>
                        </thumbnails>
                        <pause translate="label">
                            <label>Pause</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Milliseconds between the end of the sliding effect and the start of the next one]]></comment>
                        </pause>
                        <transition_duration translate="label">
                            <label>Transition duration</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Length of the sliding effect in milliseconds.]]></comment>
                        </transition_duration>                                                                                 
                    </fields>
                </general>
            </groups>
        </lookbook>
    </sections>
</config>
