<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Freshmail>
            <version>0.0.1</version>
        </Zolago_Freshmail>
    </modules>
    <global>
        <models>
            <zolagofreshmail>
                <class>Zolago_Freshmail_Model</class>
                <resourceModel>zolagofreshmail_resource</resourceModel>
            </zolagofreshmail>
            <zolagofreshmail_resource>
                <class>Zolago_Freshmail_Model_Resource</class>
            </zolagofreshmail_resource>
            <snowfreshmail>
                <rewrite>
                    <observer>Zolago_Freshmail_Model_Observer</observer>
                </rewrite>
            </snowfreshmail>
        </models>
        <blocks>
            <zolagofreshmail>
                <class>Zolago_Freshmail_Block</class>
            </zolagofreshmail>
            <snowfreshmail>
                <rewrite>
                    <popup>Zolago_Freshmail_Block_Popup</popup>
                </rewrite>
            </snowfreshmail>
        </blocks>
        <helpers>
            <zolagofreshmail>
                <class>Zolago_Freshmail_Helper</class>
            </zolagofreshmail>
        </helpers>
        <resources>
            <zolagofreshmail_setup>
                <setup>
                    <module>Zolago_Freshmail</module>
                </setup>
            </zolagofreshmail_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <snowfreshmail>
                    <file>zolagofreshmail.xml</file>
                </snowfreshmail>
            </updates>
        </layout>
    </frontend>
</config>