<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Blog>
            <version>0.0.1</version>
        </Zolago_Blog>
    </modules>
    <global>
        <models>
            <zolagoblog>
                <class>Zolago_Blog_Model</class>
                <resourceModel>zolagoblog_resource</resourceModel>
            </zolagoblog>
            <zolagoblog_resource>
                <class>Zolago_Blog_Model_Resource</class>
            </zolagoblog_resource>
        </models>
        <blocks>
            <zolagoblog>
                <class>Zolago_Blog_Block</class>
            </zolagoblog>
            <zolagosolrsearch>
                <rewrite>
                    <catalog_product_list_header_category>Zolago_Blog_Block_Solrsearch_Catalog_Product_List_Header_Category</catalog_product_list_header_category>
                </rewrite>
            </zolagosolrsearch>
        </blocks>
        <helpers>
            <zolagoblog>
                <class>Zolago_Blog_Helper</class>
            </zolagoblog>
        </helpers>
        <resources>
            <zolagoblog_setup>
                <setup>
                    <module>Zolago_Blog</module>
                </setup>
            </zolagoblog_setup>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <Zolago_Blog>
                    <files>
                        <default>Zolago_Blog.csv</default>
                    </files>
                </Zolago_Blog>
            </modules>
        </translate>
    </frontend>
</config>