<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_FilterColors>
            <version>0.1.0</version>
        </Zolago_FilterColors>
    </modules>
    <global>
        <blocks>
            <zolago_filtercolors>
                <class>Zolago_FilterColors_Block</class>
            </zolago_filtercolors>
            <manapro_filtercolors>
                <rewrite>
                    <column_image>Zolago_FilterColors_Block_Column_Image</column_image>
                </rewrite>
            </manapro_filtercolors>
        </blocks>
        <helpers>
            <zolago_filtercolors>
                <class>Zolago_FilterColors_Helper</class>
            </zolago_filtercolors>
        </helpers>
    </global>
</config>