#header-main {
  background-color: #fff;
  .category-attribute-long-name {
    padding-top: 0px;
    font-size: 2.2em;
    //text-align: center;
    //@media (max-width: $screen-sm-to-smmd-max) {
    //  text-align: left;
    //}
    @media (max-width: $screen-xs-max) {
      padding-top: 30px;
    }
  }
  .category-attribute-description {
    color: #777;
    //text-align: center;
    //margin-bottom: 30px;

    @media (max-width: $screen-sm-to-smmd-max) {
      display: none;
    }


    .read-more-wrap {
      p {
        margin-bottom: 0;
      }
    }

    .read-more-state {
      display: none;
    }

    .read-more-target {
      opacity: 0;
      position: absolute;
      z-index: -1;
    }

    .read-more-state:checked ~ .read-more-wrap .read-more-target {
      opacity: initial;
      position: initial;
      z-index: initial;
      transition: opacity .25s ease;
    }

    .read-more-state ~ .read-more-wrap .read-more-text:after {
      content: '...';
    }

    .read-more-state:checked ~ .read-more-wrap .read-more-text:after {
      content: '';
    }

    .read-more-trigger, .read-less-trigger {
      cursor: pointer;
      font-weight: 400;
      margin-left: 5px;
    }

    .read-more-state ~ .read-more-wrap .read-less-trigger {
      display: none;
    }

    .read-more-state:checked ~ .read-more-wrap .read-more-trigger {
      display: none;
    }

    .read-more-state ~ .read-more-wrap .read-more-trigger {
      display: inline-block;
    }

    .read-more-state:checked ~ .read-more-wrap .read-less-trigger {
      display: inline-block;
    }

  }
}