
.data-table{
	width: 100%;
	box-sizing: border-box;
	td,th{
		border: 1px $color_d7d7d7 solid;
		color: $color_333;
	}
	td{
		&.top{vertical-align: top;}
		&.middle{vertical-align: middle;}
		&.bottom{vertical-align: bottom;}
		padding: 20px 10px;
	}
	th{
		padding: 15px 10px;
		font-weight: normal;
		font-family: $fontBlack;
		background: $panel-top;
		letter-spacing: -0.5px;
	}
	&.table-top{
		td,th{
			vertical-align: top;
		}
	}
}
.data-table.no-border{
	td,th{
		border: 0;
	}
}
.data-table.fixed{
	table-layout: fixed;
}