<?xml version="1.0"?>
<config>
    <modules>
        <GH_Wfirma>
            <version>0.0.1</version>
        </GH_Wfirma>
    </modules>
    <global>
        <models>
            <ghwfirma>
                <class>GH_Wfirma_Model</class>
            </ghwfirma>
        </models>
        <helpers>
            <ghwfirma>
                <class>GH_Wfirma_Helper</class>
            </ghwfirma>
        </helpers>
    </global>
    <frontend>
        <routers>
            <ghwfirma>
                <use>standard</use>
                <args>
                    <module>GH_Wfirma</module>
                    <frontName>ghwfirma</frontName>
                </args>
            </ghwfirma>
        </routers>
        <translate>
            <modules>
                <GH_Wfirma>
                    <files>
                        <default>GH_Wfirma.csv</default>
                    </files>
                </GH_Wfirma>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <GH_Wfirma>
                    <files>
                        <default>GH_Wfirma.csv</default>
                    </files>
                </GH_Wfirma>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ghwfirma>
                                            <title>wFirma - All</title>
                                        </ghwfirma>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>