<?xml version="1.0"?>
<config>
    <modules>
        <Modago_Integrator>
            <version>1.2.11</version>
        </Modago_Integrator>
    </modules>
    <global>
        <models>
            <modagointegrator>
                <class>Modago_Integrator_Model</class>
				<resourceModel>modagointegrator_resource</resourceModel>
            </modagointegrator>
			<modagointegrator_resource>
				<class>Modago_Integrator_Model_Resource</class>
				<entities>
					<log>
						<table>modagointegrator_log</table>
					</log>
				</entities>
			</modagointegrator_resource>
		</models>
		<blocks>
			<modagointegrator>
				<class>Modago_Integrator_Block</class>
			</modagointegrator>
		</blocks>
        <helpers>
            <modagointegrator>
                <class>Modago_Integrator_Helper</class>
            </modagointegrator>
        </helpers>
        <resources>
            <modagointegrator_setup>
                <setup>
                    <module>Modago_Integrator</module>
                </setup>
            </modagointegrator_setup>
        </resources>
        <events>
            <sales_order_shipment_track_save_after>
                <observers>
                    <modagointegrator_observer>
                        <type>singleton</type>
                        <class>Modago_Integrator_Model_Observer</class>
                        <method>send_track_info</method>
                    </modagointegrator_observer>            
                </observers>
            </sales_order_shipment_track_save_after>
            <sales_order_shipment_save_before>
                <observers>
                    <modagointegrator_observer>
                        <type>singleton</type>
                        <class>Modago_Integrator_Model_Observer</class>
                        <method>check_order_changes</method>
                    </modagointegrator_observer>            
                </observers>
            </sales_order_shipment_save_before>
        </events>
    </global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<modagointegrator before="Mage_Adminhtml">Modago_Integrator_Adminhtml</modagointegrator>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
    <adminhtml>
        <translate>
            <modules>
                <Modago_Integrator>
                    <files>
                        <default>Modago_Integrator.csv</default>
                    </files>
                </Modago_Integrator>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <modagointegrator>
                                            <title>Modago Integrator</title>
                                        </modagointegrator>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <adminhtml_init_system_config>
                <observers>
                    <modagointegrator_add_config_carrier_mapper_fields>
                        <class>modagointegrator/observer</class>
                        <method>addConfigCarrierMapperFields</method>
                    </modagointegrator_add_config_carrier_mapper_fields>
                </observers>
            </adminhtml_init_system_config>
        </events>
    </adminhtml>
    <frontend>
        <secure_url>
            <zintegration>/zintegration</zintegration>
        </secure_url>
        <routers>
            <zintegration>
                <use>standard</use>
                <args>
                    <module>Modago_Integrator</module>
                    <frontName>zintegration</frontName>
                </args>
            </zintegration>
        </routers>
    </frontend>
    <default>
        <modagointegrator>
            <authentication>
                <integration_store>0</integration_store>
            </authentication>
			<api_settings>
				<active>0</active>
			</api_settings>
			<api_advanced_settings>
				<log_days>365</log_days>
				<batch_size>100</batch_size>
				<block_shipping>1</block_shipping>
			</api_advanced_settings>
            <orders>
                <mapped_cod>cashondelivery</mapped_cod>
            </orders>
        </modagointegrator>
        <payment>
            <zolagopayment>
                <active>0</active>
                <title>Zolago payment system</title>
                <model>modagointegrator/payment_zolagopayment</model>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
            </zolagopayment>
        </payment>
        <carriers>
          <zolagoshipment>
            <active>1</active>
            <sallowspecific>0</sallowspecific>
            <model>modagointegrator/shipping_zolagoshipment</model>
            <title>Carrier shipment</title>
            <specificerrmsg>This shipping method is currently unavailable.</specificerrmsg>
          </zolagoshipment>
        </carriers>
    </default>
</config>
