<?xml version="1.0"?>
<config>
    <modules>
        <Modago_Integrator>
            <version>0.0.1</version>
        </Modago_Integrator>
    </modules>
    <global>
        <models>
            <modagointegrator>
                <class>Modago_Integrator_Model</class>
            </modagointegrator>
        </models>
        <helpers>
            <modagointegrator>
                <class>Modago_Integrator_Helper</class>
            </modagointegrator>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Modago_Integrator>
                    <files>
                        <default>Modago_Integrator.csv</default>
                    </files>
                </Modago_Integrator>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <modagointegrator>
                                            <title>Modago Integrator</title>
                                        </modagointegrator>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <secure_url>
            <zintegration>/zintegration</zintegration>
        </secure_url>
        <routers>
            <zintegration>
                <use>standard</use>
                <args>
                    <module>Modago_Integrator</module>
                    <frontName>zintegration</frontName>
                </args>
            </zintegration>
        </routers>
    </frontend>
    <default>
        <modagointegrator>
            <authentication>
                <integration_store>0</integration_store>
            </authentication>
            <api>
                <log_days>365</log_days>
                <batch_size>100</batch_size>
                <mapped_cod>cashondelivery</mapped_cod>
            </api>
        </modagointegrator>
        <payment>
            <zolagopayment>
                <active>0</active>
                <title>Zolago payment</title>
                <model>modagointegrator/payment_zolagopayment</model>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
            </zolagopayment>
        </payment>
    </default>
</config>