<?xml version="1.0"?>
<config>
	<tabs>
		<modago> <!-- no translate as it's our store name -->
			<label>Modago</label>
			<sort_order>101</sort_order>
		</modago>
	</tabs>
	<sections>
		<modagointegrator translate="label" module="modagointegrator">
			<label>Integrator</label>
			<tab>modago</tab>
			<sort_order>10</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>0</show_in_website>
			<show_in_store>0</show_in_store>
			<groups>
				<authentication translate="label" module="modagointegrator">
					<label>Authentication</label>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<external_id translate="label">
							<label>Vendor ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</external_id>
						<secret translate="label">
							<label>Secret key</label>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</secret>
					</fields>
				</authentication>
			</groups>
		</modagointegrator>
	</sections>
</config>