<?xml version="1.0"?>
<config>
	<tabs>
		<modago> <!-- no translate as it's our store name -->
			<label>Modago</label>
			<sort_order>101</sort_order>
		</modago>
	</tabs>
	<sections>
		<modagointegrator translate="label" module="modagointegrator">
			<label>Modago integration</label>
			<tab>modago</tab>
			<sort_order>10</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>0</show_in_website>
			<show_in_store>0</show_in_store>
			<groups>
				<authentication translate="label" module="modagointegrator">
					<label>Product feeds settings</label>
					<comment><![CDATA[Settings for this section can be obtained from Modago support team (integracja@zolago.com)]]></comment>
					<expanded>1</expanded>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<external_id translate="label">
							<label>Vendor ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</external_id>
						<secret translate="label">
							<label>Secret key</label>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</secret>
						<integration_store translate="label">
							<label>Price source</label>
							<frontend_type>select</frontend_type>
							<source_model>modagointegrator/system_config_source_store</source_model>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>Shop/Language whose price is charged</comment>
						</integration_store>
					</fields>
				</authentication>
				<api_settings>
					<label>API settings for modago orders import and processing</label>
					<expanded>1</expanded>
					<sort_order>20</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<enabled translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</enabled>
						<api_url translate="label">
							<!-- for test only -->
							<depends>
							    <enabled>1</enabled>
							</depends>
							<label>API Url</label>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<validate>required-entry</validate>
						</api_url>
						<login translate="label">
							<depends>
							    <enabled>1</enabled>
							</depends>
							<label>Partner ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<validate>required-entry</validate>
						</login>
						<api_key translate="label">
							<depends>
							    <enabled>1</enabled>
							</depends>
							<label>API Key</label>
							<frontend_type>text</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</api_key>
						<password translate="label">
							<depends>
							    <enabled>1</enabled>
							</depends>
							<label>API Password</label>
							<frontend_type>password</frontend_type>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<validate>required-entry</validate>
						</password>
						<connection_tester translate="label">
							<depends>
							    <enabled>1</enabled>
							</depends>
							<label>Test connection to API</label>
							<frontend_model>modagointegrator/adminhtml_modagoapi_form_field_connectiontester</frontend_model>
							<comment>This button tests the connection to Modago API for saved settings</comment>
							<sort_order>60</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</connection_tester>
					</fields>
				</api_settings>
				<orders translate="label" module="modagointegrator">
					<expanded>1</expanded>
					<label>New orders settings</label>
					<comment><![CDATA[New orders from Modago will be placed using this configuration.]]></comment>
					<sort_order>30</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<store translate="label">
							<label>Storeview to place new orders</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_store</source_model>
							<comment>New orders will be places in this storeview</comment>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<validate>required-entry</validate>
						</store>
						<prefix translate="label">
							<label>Order number prefix</label>
							<frontend_type>text</frontend_type>
							<sort_order>13</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<validate>required-entry</validate>
						</prefix>
						<simple_only translate="label">
							<label>Only simple products in order</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<comment>In new orders should be only simple products (without configurable/bundle etc.)</comment>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</simple_only>
						<mapped_cod>
							<label>Map 'Cash on Delivery' to</label>
							<comment>This payment method is Cash on Delivery</comment>
							<frontend_type>select</frontend_type>
							<source_model>modagointegrator/payment_source_payment</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</mapped_cod>
					</fields>
				</orders>
				<carriers>
					<label>Settings for couriers and shipping methods</label>
					<comment><![CDATA[These setting are used to map your shipping methods to couriers that are be supported by Modago system. Please map all your shipping methods that you use for registering tracking number for shipments. Based on the mapping we will know which courier to poll for tracking info.]]></comment>
					<expanded>1</expanded>
					<sort_order>40</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<label_vendor_carriers>
							<label>Your shimpent method</label>
							<frontend_model>modagointegrator/adminhtml_modagoapi_form_field_carrierlabel</frontend_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</label_vendor_carriers>
						<!-- Vendor carriers part start -->
							<!-- @see Modago_Integrator_Model_Observer::addConfigCarrierMapperFields -->
						<!-- Vendor carriers part end -->
					</fields>
				</carriers>
				<api_advanced_settings>
					<label>Module advanced settings</label>
					<comment><![CDATA[Change these settings carefully and consult Modago support team before changes.]]></comment>
					<sort_order>50</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
					    <module_version>
					        <label>Module version</label>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<frontend_model>modagointegrator/adminhtml_label</frontend_model>
							<sort_order>5</sort_order>
					    </module_version>
						<log_days translate="label">
							<label>Keep logs for</label>
							<comment>Days</comment>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<validate>validate-digits validate-zero-or-greater required-entry</validate>
						</log_days>
						<batch_size translate="label">
							<label>Batch size</label>
							<comment>The maximum size of batch messages from API to be processed</comment>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<validate>validate-digits validate-zero-or-greater required-entry</validate>
						</batch_size>
						<block_shipping>
							<label>Block shipping</label>
							<comment>Block shipping after order change in Modago API</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</block_shipping>
					</fields>
				</api_advanced_settings>
			</groups>
		</modagointegrator>
		<payment translate="label" module="modagointegrator">
			<groups>
				<zolagopayment translate="label">
					<label>Zolago payment</label>
					<frontend_type>text</frontend_type>
					<sort_order>31</sort_order>
					<show_in_default>0</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</active>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</title>
						<order_status translate="label">
							<label>New Order Status</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status_new</source_model>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</order_status>
						<allowspecific translate="label">
							<label>Payment from Applicable Countries</label>
							<frontend_type>allowspecific</frontend_type>
							<sort_order>40</sort_order>
							<source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</allowspecific>
						<specificcountry translate="label">
							<label>Payment from Specific Countries</label>
							<frontend_type>multiselect</frontend_type>
							<sort_order>50</sort_order>
							<source_model>adminhtml/system_config_source_country</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<can_be_empty>1</can_be_empty>
						</specificcountry>
						<instructions translate="label">
							<label>Instructions</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>60</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</instructions>
						<min_order_total translate="label">
							<label>Minimum Order Total</label>
							<frontend_type>text</frontend_type>
							<sort_order>70</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</min_order_total>
						<max_order_total translate="label">
							<label>Maximum Order Total</label>
							<frontend_type>text</frontend_type>
							<sort_order>80</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</max_order_total>
						<sort_order translate="label">
							<label>Sort Order</label>
							<frontend_type>text</frontend_type>
							<sort_order>90</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</sort_order>
					</fields>
				</zolagopayment>
			</groups>
		</payment>
	</sections>
</config>