<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_DropshipMicrosite>
            <version>0.0.2</version>
        </Zolago_DropshipMicrosite>
    </modules>
    <global>
        <blocks>
            <zolagodropshipmicrosite>
                <class>Zolago_DropshipMicrosite_Block</class>
            </zolagodropshipmicrosite>
        </blocks>
        <helpers>
            <zolagodropshipmicrosite>
                <class>Zolago_DropshipMicrosite_Helper</class>
            </zolagodropshipmicrosite>
            <umicrosite>
                <rewrite>
                    <data>Zolago_DropshipMicrosite_Helper_Datarewrite</data>
                    <protected>Zolago_DropshipMicrosite_Helper_Protected</protected>
                </rewrite>
            </umicrosite>
        </helpers>
        <models>
            <zolagodropshipmicrosite>
                <class>Zolago_DropshipMicrosite_Model</class>
            </zolagodropshipmicrosite>
        </models>
        <resources>
            <zolagodropshipmicrosite_setup>
                <setup>
                    <module>Zolago_DropshipMicrosite</module>
                </setup>
            </zolagodropshipmicrosite_setup>
        </resources>

        <events>
            <udropship_vendor_login>
                <observers>
                    <umicrosite>
                        <type>disabled</type>
                    </umicrosite>
                </observers>                
            </udropship_vendor_login>
            <udropship_vendor_logout>
                <observers>
                    <umicrosite>
                        <type>disabled</type>
                    </umicrosite>
                </observers>                
            </udropship_vendor_logout>
            <catalog_controller_category_init_after>
                <observers>
                    <microsite_category_init_after>
                        <model>zolagodropshipmicrosite/observer</model>
                        <method>validateVendorCategory</method>
                    </microsite_category_init_after>
                </observers>
            </catalog_controller_category_init_after>
        </events>
    </global>
    <frontend>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <change_vendor_design>
                        <class>zolagodropshipmicrosite/observer</class>
                        <method>changeVendorDesign</method>
                    </change_vendor_design>
                </observers>
            </controller_action_layout_load_before>

            <!-- disable 404 on brandshop product -->
            <catalog_controller_product_init>
                <observers>
                    <umicrosite>
                        <type>disabled</type>
                    </umicrosite>
                </observers>
            </catalog_controller_product_init>

            <!-- enable own observer -->
            <catalog_controller_product_init>
                <observers>
                    <zolagodropshipmicrosite>
                        <class>zolagodropshipmicrosite/observer</class>
                        <method>catalogControllerProductInit</method>
                    </zolagodropshipmicrosite>
                </observers>
            </catalog_controller_product_init>

            <core_locale_set_locale>
                <observers>
                    <bind_locale>
                        <class>zolagodropshipmicrosite/observer</class>
                        <method>bindLocale</method>
                    </bind_locale>
                </observers>
            </core_locale_set_locale>
        </events>
        <translate>
            <modules>
                <Zolago_DropshipMicrosite>
                    <files>
                        <default>Zolago_DropshipMicrosite.csv</default>
                    </files>
                </Zolago_DropshipMicrosite>
            </modules>
        </translate>
    </frontend>
</config>
