<?xml version="1.0"?>
<config>
	<modules>
		<Zolago_Operator>
			<version>0.0.3</version>
		</Zolago_Operator>
	</modules>
	<global>
		<models>
			<zolagooperator>
				<class>Zolago_Operator_Model</class>
				<resourceModel>zolagooperator_resource</resourceModel>
			</zolagooperator>
			<zolagooperator_resource>
				<class>Zolago_Operator_Model_Resource</class>
				<entities>
					<operator>
						<table>zolago_operator</table>
					</operator>
					<operator_pos>
						<table>zolago_operator_pos</table>
					</operator_pos>
				</entities>
			</zolagooperator_resource>
		</models>
		<blocks>
			<zolagooperator>
				<class>Zolago_Operator_Block</class>
			</zolagooperator>
		</blocks>
		<helpers>
			<zolagooperator>
				<class>Zolago_Operator_Helper</class>
			</zolagooperator>
		</helpers>
		<resources>
			<zolagooperator_setup>
				<setup>
					<module>Zolago_Operator</module>
				</setup>
			</zolagooperator_setup>
		</resources>
	</global>
	<frontend>
		<routers>
			<zolagooperator>
				<use>standard</use>
				<args>
					<module>Zolago_Operator</module>
					<frontName>zolagooperator</frontName>
				</args>
			</zolagooperator>			
			<udropship>
				<args>
					<modules>
						<Zolago_Operator before="ZolagoOs_OmniChannel">Zolago_Operator_Dropship</Zolago_Operator>
					</modules>
				</args>
			</udropship>
		</routers>
		<layout>
			<updates>
				<zolagooperator>
					<file>zolagooperator.xml</file>
				</zolagooperator>
			</updates>
		</layout>
		<translate>
			<modules>
				<Zolago_Operator>
					<files>
						<default>Zolago_Operator.csv</default>
					</files>
				</Zolago_Operator>
			</modules>
		</translate>
		<events>
            <controller_action_predispatch>
                <observers>
                    <zolagooperator>
                        <type>singleton</type>
                        <class>zolagooperator/observer</class>
                        <method>handleControllerActionPredispatch</method>
                    </zolagooperator>
                </observers>
            </controller_action_predispatch>
		</events>
	</frontend>
</config>
