@import "../../other/variable";
.header_top {
    height: 57px;
}

/* USER MENU */
.user-navigation  {
            @include reset-l;
            a {
                position:relative;
            }
            
        }
/* HEADER BOTTOM */
.not-content-mode.sm-to-smmd-plus-smmd, .this-is-search.sm-to-smmd-plus-smmd {
  #nav_desc {
    @media (max-width: $screen-xs-max) {
      display: none !important;
    }
  }
}

.header_bottom {
     #nav_desc {
        &.navigation > li > a:hover,
        &.navigation > li > a.active,
        &.navigation > li > a.forceActive {
            position:relative;
            &:before {
                content: ' ';
                height:4px;
                width: 100%;
                position:absolute;
                left:0px;
                bottom:-6px;
            }
        }
    }
// END NAV DESCOPT

    #nav_mobile {
        > li {
            > a:link,
            > a:visited {
            position:relative;
            }
            li {
                a {
                   display:block;
                   width:100%;
                }
            }
        }
    }
}
.node-type-page-shop {
    #name-shop {
        margin-right: -15px;
        margin-left: -15px;
    }
}



.top_bottom {
        
        
     #shop_nav_mobile {
        margin:0px;
        padding:0px;
        > li {
            > a:link,
            > a:visited {
            position:relative;
            display:block;
            }
            
            ul {
                display:none;
                
            }
            li {

                a {
                   display:block;
                   width:100%;
                }
            }
        }
    }


  .vendor-top-bottom-header {
    height: 72px;
    .logo-part {
      padding-left: 0px;

      .vendor-top-bottom-header-label {
        display: block;
        float: left;
        font-weight: normal;
        margin-right: 0px;
        padding-left: 0;
        padding-top: 40px;
        text-transform: uppercase;
        vertical-align: middle;
        width: auto;
        position: relative;

        box-sizing: border-box;
        padding-right: 10px;
      }

    }

    .vendor-top-bottom-header-logo {
      background-position: left center;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      height: 52px;
      margin: 10px 0;
      max-height: 52px;
      max-width: 170px;
      padding: 0 !important;
      width: 100%;
      position: relative;
      line-height: 72px;

      box-sizing: border-box;
      float: left;
    }
    .vendor-top-bottom-header-links {
      display: table-cell;
      height: 58px;
      position: absolute;
      right: 0;
      top: 17px;
      li {
        display: block;
        float: left;
        padding: 20px 0 0 15px;
        a {
          color: #000000;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }

}

#vendor-nobanners {
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
  #vendor-nobanners-stripes {
    height: 5px;
    position: absolute;
    z-index: 10;
    top: 17px;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
  }
  h2 {
    background-color: #F2F1F0;
  }
}
