@import "../../other/variable";
.header_top {
    height: 57px;
}

/* USER MENU */
.user-navigation  {
            @include reset-l;
            a {
                position:relative;
            }
            
        }
/* HEADER BOTTOM */
.header_bottom {
     #nav_desc {
        &.navigation > li > a:hover,
        &.navigation > li > a.active  {
            position:relative;
            &:before {
                content: ' ';
                height:4px;
                width: 100%;
                position:absolute;
                left:0px;
                bottom:-6px;
            }
        }
    }
// END NAV DESCOPT

    #nav_mobile {
        > li {
            > a:link,
            > a:visited {
            position:relative;
            }
            li {
                a {
                   display:block;
                   width:100%;
                }
            }
        }
    }
}
.node-type-page-shop {
    #name-shop {
        margin-right: -15px;
        margin-left: -15px;
    }
}



.top_bottom {
        
        
     #shop_nav_mobile {
        margin:0px;
        padding:0px;
        > li {
            > a:link,
            > a:visited {
            position:relative;
            display:block;
            }
            
            ul {
                display:none;
                
            }
            li {

                a {
                   display:block;
                   width:100%;
                }
            }
        }
    }


  .vendor-top-bottom-header {
    height: 72px;
    .logo-part {
      padding-left: 0px;

      .vendor-top-bottom-header-label {
        display: block;
        float: left;
        padding-top: 40px;
        vertical-align: middle;
        font-weight: normal;
        margin-right: 10px;
        a:link, a:visited {
          text-transform: uppercase;
        }
      }

    }

    .vendor-top-bottom-header-logo {
      display: block;
      padding: 10px 0;
      img {
        max-height: 52px;
        max-width: 170px;
      }
    }
    .vendor-top-bottom-header-links {
      display: table-cell;
      height: 58px;
      position: absolute;
      right: 0;
      top: 17px;
      li {
        display: block;
        float: left;
        padding: 20px 0 0 25px;
        a {
          color: #000000;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }

}