

.descripionProduct-box-bundle {
  border:1px solid #d9d9d9;
  padding:9px 9px 0px;
  text-align:center;
  margin-bottom: 10px;
  @media (max-width: $screen-xs-max) {
    margin-bottom: 0px;
    padding-bottom:0px;
  }
  .seller-label {
    font-size: 18px;
    color:#1d1e1c;
    text-transform: uppercase;
    margin-top: 9px;
    margin-bottom: 13px;
    display:block;
    @media (max-width: $screen-xs-max) {

      float:left;
      text-align: left;
      clear: left;
      margin-left:25px;
      display: inline-block;
      margin-bottom: 7px;
    }
  }
  figure {
    margin-bottom:14px;
    @media (max-width: $screen-xs-max) {
      position:absolute;
      height: 100%;
      right:35px;
      top: 50%;
      //            top: 0;
      transform: translateY(-50%);
      display: inline-block;
      line-height: 60px;
      //            			top:16px;
    }
  }
  .seller {
    font-size: 12px;
    color:#000;
    margin-bottom: 17px;
    a {
      @extend .seller;
    }
    @media (max-width: $screen-xs-max) {
      float:left;
      text-align: left;
      clear: left;
      margin-left:13px;
      display: inline-block;
      margin-bottom: 10px;
    }
  }
  .block {
    padding:12px 0;
    border-top:1px solid #ebeaed;

  }
  .seller-box-description  {
    &.block {
      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        border-top: none;
      }

    }
  }
  h3 {
    font-size: 11px;
    color:#000;
    text-transform: uppercase;
    margin:0px;
    display:block;
    text-align: left;
    padding:0 0 0 10px;
    position:relative;
    a {
      font-size: 11px;
      color:#000;
      text-decoration: none;
      display:block;


    }
    span#average_note_client {
      padding-top:5px;
      display:block;
      position:relative;
      overflow:hidden;
      span.note {
        margin-right: 0px;
        float: left;
        &+span {
          font-size: 11px;
          color:#646464;
          font-family: $fontRegular;
          line-height: 13px;
          float: left;
        }
      }

    }
  }
}

#seller-box-bundle {
  border:1px solid #d9d9d9;
  padding:9px 9px 0px;
  text-align:center;
  margin-bottom: 10px;
  @media (max-width: $screen-xs-max) {
    margin-bottom: 0px;
    padding-bottom:0px;
  }
  .seller-label {
    font-size: 18px;
    color:#1d1e1c;
    text-transform: uppercase;
    margin-top: 3px;
    margin-bottom: 0px;
    display:block;
    @media (max-width: $screen-xs-max) {
      float:left;
      text-align: left;
      clear: left;
      margin-left:25px;
      display: inline-block;
    }
  }
  figure {
    margin-top: 0px;
    margin-bottom:10px;
    transform: translateY(0%) !important;
    top: 0;
    position: static;
    padding-left: 10px;
    img {
      max-width: 120px;
      max-height: 60px;
    }
    @media (max-width: $screen-xs-max) {
      position:static;
      height: 100%;
      right:35px;
      text-align: left;
      width: 45%;

      top: 50%;
      //            top: 0;
      transform: translateY(50%);
      display: inline-block;
      line-height: 60px;
      //            			top:16px;

    }
  }
  .seller {
    font-size: 12px;
    color:#000;
    margin-bottom: 15px;

    @media (max-width: $screen-xs-max) {
      float:right;
      width:50%;
      text-align: left;
      clear: left;
      margin-bottom: 10px;
      min-height: 65px;
      padding: 0 15px;
    }
    .seller-info {
      @media (max-width: $screen-xs-max) {
        margin: auto;
      }
    }
    a {
      @media (max-width: $screen-xs-max) {
        width: 100%;
        float:left;
        text-align: left;
        clear: left;
//        margin-left:13px;
        display: inline-block;
        margin-bottom: 10px;
      }
    }
  }
  .block {
    padding:12px 0;
    border-top:1px solid #ebeaed;

  }
  .seller-box-description  {
    &.block {
      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        border-top: none;
      }

    }
  }
  h3 {
    font-size: 11px;
    color:#000;
    text-transform: uppercase;
    margin:0px;
    display:block;
    text-align: left;
    padding:0 0 0 10px;
    position:relative;
    a {
      font-size: 11px;
      color:#000;
      text-decoration: none;
      display:block;


    }
    span#average_note_client {
      padding-top:5px;
      display:block;
      position:relative;
      overflow:hidden;
      span.note {
        margin-right: 0px;
        float: left;
        &+span {
          font-size: 11px;
          color:#646464;
          font-family: $fontRegular;
          line-height: 13px;
          float: left;
        }
      }

    }
  }

}

.descripionProduct-box-bundle {
  .descripionProduct-label {
    margin-top: 3px;
    display:block;
    margin-bottom:10px;
  }
}

.seller-box-description {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    margin-top: 10px;
  }
  span {
    position:relative;
  }
  .bullet-plusik {

    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      left: 195px;
    }

    @media  (min-width: 1045px) and (max-width:1161px) {
      left:168px;
    }
    @media  (max-width:1044px) {
      left:180px;
    }
    @media  (max-width:991px) {
      left: 195px;
    }


  }
}
.seller-box-question {
  span {
    position:relative;
  }
  .bullet-plusik {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      left: 195px;
    }

    @media  (min-width: 1045px) and (max-width:1161px) {
      left:168px;
    }
    @media  (max-width:1044px) {
      left:180px;
    }
    @media  (max-width:991px) {
      left: 195px;
    }

  }
}
.descripionProduct-box-comments {
  span {
    position:relative;
  }
  .bullet-plusik {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      left: 198px;
    }

    @media  (min-width: 1045px) and (max-width:1161px) {
      left:172px;
    }
    @media  (max-width:1044px) {
      left:180px;
    }
    @media  (max-width:991px) {
      left: 198px;
    }
  }
}


#seller-box-bundle {
  @media (max-width: $screen-xs-max) {
    margin-left: -15px;
    margin-right: -15px;
  }
  > .row {
    > .col-lg-12 {
      @media (max-width: $screen-xs-max) {
        padding-left:0px;
        padding-right: 0px;
      }
    }
  }
  .panel-group {
    margin-top: 10px;
    margin-bottom: 0px;
  }
}