.sidebar {
  .section {
  }
  h3 {
    &:before {
      content: ' ';
    }
  }
  dl {
    dt {
     padding-left: 5px;
     display:block;
    }
  }
  .action {
	margin-top: 10px;
    margin-bottom: 5px;
   
  } 
}

.current-filter {   
   dt {
       margin-right:20px;
       margin-bottom: 7px;
   }
   dd {
       margin-right:20px;
       .label {
           display:block;
           float:left;
           padding:0px 20px 0 6px;
           min-width: 60px;
           display:inline-block;
           float:left;
           height:21px;
           margin:0px 15px 7px 0;
           position:relative;
       }
           .fa {
               position:absolute;
               right:5px;
               top:4px;
               margin-left:5px;
           }      
       &.action {
         margin-left: 0px; 
       }

   }
}

.sidebar {
  .go_read_filter {
    margin-bottom: 5px;
    display: inline-block;
  }
  #filter_recommended_products, #filter_product_flag_facet, #filter_flags_facet {
    label {
      position:relative;
      span {
      display:inline-block;
      height:17px;
      width:85px;
      padding-left: 0;
      &+.suffix {
        position:absolute;
        left:115px;
        top:0px;
        width:auto;
      }
    }
}

    .form-group {
      &+.action {
        margin-top:10px;
      }
    }
  }
}




.filter-type {
  .form-group {
    margin-bottom: 10px;
  }
  table {
  
    td {
      margin:0px;
      padding:5px 0;
      > div {
        position:relative;
        width:31px;
        height:31px;
      }
      &.first-td {
        width:31px;
        height:31px;
      }
      &.last-td {
        padding-left: 10px;
        min-height:31px;
        padding-top: 0px;
        padding-bottom: 11px;
      }
      label {
        cursor:pointer;
        position: static;
        float: none;
        display: inline;
      }
      img {
        position:absolute;
        left:0px;
        top:-4px;
		width:31px;
		height:31px;
      }
    }
  }
}      
  
#filter_style, .filter-droplist, .filter-enum, .filter-icon {
  padding-left: 0px;
}

  .block-filter {
    form {
      #filter_price {
        #slider-range {
          margin-bottom: 10px;
          margin-left: -16px;
          width:147px;
        }
        #od_do {
          margin-top: 10px;
          }
        }
        .form-group {
          margin-bottom: 8px;
            input[type=checkbox].css-checkbox + label.css-label,
            input[type=radio].css-radio + label.css-label {
                padding-left:23px;
                height:auto;
                min-height:17px; 
                display:inline-block;
                img {
                  float: left;
                  position: relative;
                  top: 2px;
                  margin-right: 5px;
                }
            }
        }            
    }   
}

.longListWrapper {
  max-height:151px;
}

.longListWrapper .scrollable {
  max-height:145px;

}
.filter-longlist{
  .mCSB_scrollTools {
    width:12px;
	margin:  6px 2px 4px 0;
    .mCSB_dragger {
      height:39px!important;
      max-height: 39px!important;
      min-height: 39px!important;
      .mCSB_dragger_bar {
         width:12px;
         border-radius: 0;
      }
      
    }
    
    .mCSB_buttonDown {
      bottom: -5px;
    }
    a {
      &+.mCSB_draggerContainer {
        margin: 18px 0 20px;
        }
    }
    .mCSB_draggerRail {
       width:12px;
    }
  }
  .mCSB_inside {
    > .mCSB_container {
      margin-right: 0;
      }
  }
  .action.clear{
	  margin-top: 15px;
  }
}



.fb-slidebar-inner {
  .current-filter {
    @media (max-width: 767px) { 
       padding-top: 3px;
       //
       line-height: 24px;
      }
  }
}