// Modal (popup) for last checkout step
// after customer submit order
.checkout #popup-after-submit-order {
  .modal-body {
    overflow: hidden !important;
  }

  .popup-message {
    h3 {
      font-family: $fontLight;
      text-transform: uppercase;
      padding-top: 40px;
      padding-bottom: 0px;
    }
    @media(max-width: $screen-xs-max) {
      h3 {
        font-size: 20px;
        margin-top: -20px;
      }
    }
    h4 {
      font-family: $fontRegular;
    }
  }
  .popup-spinner-wrapper {
    text-align:center;
    font-size: 6em;
    margin-top: 25px;
  }
  // add to modal body if payment method don't have payment page between thank-you-page
  .one-line {
    .popup-message {
      h3 {
        padding-top: 50px;
      }
      h4 {
        display: none;
      }
    }
    .popup-spinner-wrapper {
      margin-top: 15px;
    }
  }
}