<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_SalesManago>
            <version>0.1.0</version>
        </Zolago_SalesManago>
    </modules>
    <frontend>
        <events>
            <customer_login>
                <observers>
                    <zolago_salesmanago_observer>
                        <type>singleton</type>
                        <class>Zolago_SalesManago_Model_Observer</class>
                        <method>add_cart_event</method>
                    </zolago_salesmanago_observer>
                </observers>
            </customer_login>
            <customer_register_success>
                <observers>
                    <salesmanago_tracking_observer>
                        <type>disabled</type>
                    </salesmanago_tracking_observer>
                    <zolago_salesmanago_observer>
                        <type>singleton</type>
                        <class>Zolago_SalesManago_Model_Observer</class>
                        <method>customer_register_success</method>
                    </zolago_salesmanago_observer>
                </observers>
            </customer_register_success>
            <newsletter_subscriber_save_before>
                <observers>
                    <salesmanago_tracking_observer>
                        <type>disabled</type>
                    </salesmanago_tracking_observer>
                </observers>
            </newsletter_subscriber_save_before>
            <newsletter_subscriber_save_after>
                <observers>
                    <zolago_salesmanago_observer>
                        <type>singleton</type>
                        <class>Zolago_SalesManago_Model_Observer</class>
                        <method>newsletter_subscriber_save_after</method>
                    </zolago_salesmanago_observer>
                </observers>
            </newsletter_subscriber_save_after>

        </events>
        <routers>
            <frontend>
                <args>
                    <modules>
                        <zolago_salesmanago before="SalesManago_Tracking">Zolago_SalesManago</zolago_salesmanago>
                    </modules>
                </args>
            </frontend>
        </routers>
    </frontend>
    <global>
        <models>
            <zolagosalesmanago>
                <class>Zolago_SalesManago_Model</class>
                <resourceModel>zolago_salesmanago_resource</resourceModel>
            </zolagosalesmanago>
            <zolagosalesmanago_resource>
                <class>Zolago_SalesManago_Model_Resource</class>
            </zolagosalesmanago_resource>
            <salesmanago>
                <rewrite>
                    <observer>Zolago_SalesManago_Model_Observer</observer>
                </rewrite>
            </salesmanago>
        </models>
        <blocks>
            <zolagosalesmanago>
                <class>Zolago_SalesManago_Block</class>
            </zolagosalesmanago>
        </blocks>
        <helpers>
            <zolagosalesmanago>
                <class>Zolago_SalesManago_Helper</class>
            </zolagosalesmanago>
            <tracking>
                <rewrite>
                    <data>Zolago_SalesManago_Helper_Data</data>
                </rewrite>
            </tracking>
        </helpers>
        <events>
            <customer_register_success>
                <observers>
                    <salesmanago_tracking_observer>
                        <type>disabled</type>
                    </salesmanago_tracking_observer>
                </observers>
            </customer_register_success>
            <newsletter_subscriber_save_before>
                <observers>
                    <salesmanago_tracking_observer>
                        <type>disabled</type>
                    </salesmanago_tracking_observer>
                </observers>
            </newsletter_subscriber_save_before>
            <checkout_cart_save_after>
                <observers>
                    <salesmanago_tracking_observer>
                        <type>disabled</type>
                    </salesmanago_tracking_observer>
                </observers>
            </checkout_cart_save_after>

            <checkout_cart_product_add_after>
                <observers>
                    <salesmanago_tracking_observer>
                        <type>singleton</type>
                        <class>Zolago_SalesManago_Model_Observer</class>
                        <method>add_cart_event</method>
                    </salesmanago_tracking_observer>
                </observers>
            </checkout_cart_product_add_after>
            <sales_quote_remove_item>
                <observers>
                    <salesmanago_tracking_observer>
                        <type>singleton</type>
                        <class>Zolago_SalesManago_Model_Observer</class>
                        <method>add_cart_event</method>
                    </salesmanago_tracking_observer>
                </observers>
            </sales_quote_remove_item>
            <checkout_cart_update_items_after>
                <observers>
                    <salesmanago_tracking_observer>
                        <type>singleton</type>
                        <class>Zolago_SalesManago_Model_Observer</class>
                        <method>add_cart_event</method>
                    </salesmanago_tracking_observer>
                </observers>
            </checkout_cart_update_items_after>
        </events>
	    <resources>
		    <zolagosalesmanago_setup>
			    <setup>
				    <module>Zolago_SalesManago</module>
				    <class>SalesManago_Tracking_Model_Resource_Setup</class>
			    </setup>
		    </zolagosalesmanago_setup>
		    <zolagosalesmanago_write>
			    <connection>
				    <use>core_write</use>
			    </connection>
		    </zolagosalesmanago_write>
		    <zolagosalesmanago_read>
			    <connection>
				    <use>core_read</use>
			    </connection>
		    </zolagosalesmanago_read>
	    </resources>
    </global>
</config>