@font-face {
	font-family: 'latoblack';
	src: url('../fonts/lato/lato-black-webfont.eot');
	src: url('../fonts/lato/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/lato/lato-black-webfont.woff') format('woff'),
	url('../fonts/lato/lato-black-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'latolight';
	src: url('../fonts/lato/lato-light-webfont.eot');
	src: url('../fonts/lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/lato/lato-light-webfont.woff') format('woff'),
	url('../fonts/lato/lato-light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'latoregular';
	src: url('../fonts/lato/lato-regular-webfont.eot');
	src: url('../fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/lato/lato-regular-webfont.woff') format('woff'),
	url('../fonts/lato/lato-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}