.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
select.form-control {
  min-width: 50px;
}
.btn-xs,
.btn-group-xs > .btn {
  font-size: 11.05px !important;
}
.table dl {
  margin: 0;
}
.messages {
  padding-left: 0;
  list-style: none;
  padding-top: 20px;
  margin: 0 20px;
}
.messages,
.messages > li ul {
  padding-left: 0;
  list-style: none;
}
.messages > li {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.messages > li h4 {
  margin-top: 0;
  color: inherit;
}
.messages > li .alert-link {
  font-weight: bold;
}
.messages > li > p,
.messages > li > ul {
  margin-bottom: 0;
}
.messages > li > p + p {
  margin-top: 5px;
}
.messages > li.error-msg {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.messages > li.error-msg hr {
  border-top-color: #e4b9c0;
}
.messages > li.error-msg .alert-link {
  color: #843534;
}
.messages > li.success-msg {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.messages > li.success-msg hr {
  border-top-color: #c9e2b3;
}
.messages > li.success-msg .alert-link {
  color: #2b542c;
}
.messages > li.notice-msg {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.messages > li.notice-msg hr {
  border-top-color: #f7e1b5;
}
.messages > li.notice-msg .alert-link {
  color: #66512c;
}
.inline-block {
  display: inline-block;
}
.input-group-addon.no-border {
  border: 0;
  background: transparent;
}
.after-filed-label {
  margin-top: 7px;
  margin-left: -20px;
}
.z-grid .filter {
  position: static;
}
.nobr {
  white-space: nowrap !important;
}
.form-inline label {
  font-weight: normal;
}
.z-grid .form-inline .form-group {
  display: inline-block;
}
.z-grid .text-holder {
  display: inline-block;
}
.z-grid .main-buttons {
  margin-left: 20px;
}
.z-grid .btn-search {
  margin-left: 10px;
}
.z-grid hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.z-grid entry-edit {
  display: inline-block;
}
.z-grid .outer-span label {
  display: none;
}
.z-grid .inline-form-text {
  padding-top: 5px;
}
.z-grid .table-striped tbody > tr.row-selected td {
  background-color: rgba(147, 175, 236, 0.13) !important;
}
.z-grid .sort-arrow-asc:after,
.z-grid .sort-arrow-desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 9.75px;
  color: #94b86e;
}
.z-grid .sort-arrow-asc:after {
  content: "\e093";
}
.z-grid .sort-arrow-desc:after {
  content: "\e094";
}
.z-grid .hor-scroll {
  width: 100%;
  overflow: auto;
}
.z-grid .range-line:first-child {
  margin-bottom: 5px;
}
.z-grid .range-line .label {
  display: none;
}
.z-grid .table thead > tr > th {
  vertical-align: top;
}
.a-center {
  text-align: center;
}
.dl-horizontal.dl-z {
  margin-bottom: 0;
  margin-top: 10px;
}
.dl-horizontal.dl-z dt,
.dl-horizontal.dl-z dd {
  min-height: 24px;
}
.shipping-info .dl-horizontal.dl-z dt {
  width: 150px;
}
.shipping-info .dl-horizontal.dl-z dd {
  margin-left: 160px;
}
.widget-content.orders,
.widget-content.rma {
  min-height: 150px;
}
.widget-content.orders .alert,
.widget-content.rma .alert {
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.widget-content.orders .with-alert,
.widget-content.rma .with-alert {
  min-height: 190px;
}
.widget-content.rma {
  min-height: 200px;
}
.widget-content.bottom-info {
  min-height: 146px;
}
.page-heading {
  margin-top: 10px;
  margin-bottom: 30px;
}
.page-heading h3 {
  margin-bottom: 10px;
  color: #555555;
  font-weight: 400;
  font-size: 20px;
}
.page-heading .tageline {
  display: block;
  font-size: 11px;
  color: #888888;
  font-weight: normal;
}
.main-actions {
  margin-top: 25px;
}
.main-actions p {
  margin-top: 10px;
}
.shipping-info .btn-primary {
  margin-top: 46px;
}
.shipping-info p {
  margin-top: 52px;
}
.comments dl {
  margin-bottom: 10px;
}
.comments dl dt,
.comments dl dd {
  margin-bottom: 5px;
}
.comments small {
  font-weight: normal;
  color: #adadad;
}
table.foot-empty-cells tfoot td:empty {
  visibility: hidden;
}
.icon-checked-action {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0px 14px -5px 10px;
  opacity: 0.7;
  background: url(../../images/icon-checked-actions.png);
}
.select2-highlighted .text-muted {
  color: #fff;
}
#status-holder .btn {
  white-space: normal;
}
@media (min-width: 768px) and (max-width: 1400px) {
  .dl-horizontal.dl-z dt {
    width: 120px;
  }
  .dl-horizontal.dl-z dd {
    margin-left: 130px;
  }
  .shipping-info .dl-horizontal.dl-z dt {
    width: 100px;
  }
  .shipping-info .dl-horizontal.dl-z dd {
    margin-left: 110px;
  }
}
/*POIG*/
.udropship-vendor-login #poig {
  float: right;
  margin: 380px -5px 50px -5px;
}
/*Register*/
.umicrosite-vendor-register .messages {
  margin: 0;
  padding-top: 0;
}
.umicrosite-vendor-register .page-title {
  float: none;
  text-align: center;
  padding-bottom: 0;
}
.umicrosite-vendor-register .widget.box .widget-header h4 {
  margin: 10px 0;
}
.umicrosite-vendor-register #registration-form {
  margin-bottom: 50px;
}
.udropship-vendor_settings-info .widget.box .widget-header h4 {
  margin: 10px 0;
}
.udropship-vendor_settings-shipping .widget.box .widget-header h4 {
  margin: 10px 0;
}
.udropship-vendor_settings-rma .widget.box .widget-header h4 {
  margin: 10px 0;
}
#control-battons div div {
    float: left;
	margin-top:12px;
	margin-left:8px;
}
#control-battons #input_search {
	float:left;
}
#control-battons #search_button {
	padding-left:6px;
	padding-right:6px;
	width:26px;
}
#control-battons div.input-group {
	margin-top:0px;
	margin-left:0px;
}
#uploader_wrapper {
	margin-left:8px;
	margin-top:12px;
}
.clearbr {
	clear:both;
}
/*fix for horizontal scroll for grid*/
.grid-hscroll-1500w .z-grid{
    min-width: 1500px!important;
}
.grid-hscroll-1400w .z-grid{
    min-width: 1400px!important;
}
.grid-hscroll-1150w .z-grid{
    min-width: 1150px!important;
}
.grid-hscroll-950w .z-grid{
    min-width: 950px!important;
}
.grid-hscroll-700w .z-grid{
    min-width: 700px!important;
}
@media (max-width: 767px) {
    .udpo-vendor-index.grid-hscroll-fix {
        overflow: auto!important;
    }
    .udpo-vendor_aggregated-index.grid-hscroll-fix {
        overflow: auto!important;
    }
    .udqa-vendor-questions.grid-hscroll-fix {
        overflow: auto!important;
    }
    .urma-vendor-index.grid-hscroll-fix {
        overflow: auto!important;
    }
}
/*fix for horizontal scroll for grid end*/

/* cursor pointer for rows with links */
.table tbody tr[title^=http] td {
	cursor: pointer;
}



.mass-images-help {
    margin: 20px 10px;
}

/* help section */
#sidebar-help-wrapper {
	z-index: 1020;
	width: 0;
	height: 100%;
	position: fixed;
	right: 0;
	top:0;
	padding-top:52px;
	background-color: #f9f9f9;
	transition: width .5s ease;
}
#sidebar-help-wrapper.help-open {
	box-shadow: rgba(0, 0, 0, .2) 0 12px 6px 0;
	width: 500px;
}
#sidebar-help-wrapper #sidebar-help {
	width: 500px;
	border-left: 4px solid #d1d1d1;
	height: 100%;
	padding: 10px;
	position:relative;
}
#sidebar-help-wrapper #sidebar-help .sidebar-help-content-container {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index:1;
	top:0;
	left:0
}
#sidebar-help-wrapper #sidebar-help .sidebar-help-content-container .sidebar-help-content {
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: 20px;
}
#sidebar-help-wrapper #sidebar-help .sidebar-help-content-container .sidebar-help-content > div {
	margin: 0 !important;
}
.help-btn.help-open {
	color: #ffffff !important;
	background: #334d63 !important;
	box-shadow: 1px 0 0 rgba(0, 0, 0, 0.25) inset, -1px 0 0 rgba(0, 0, 0, 0.25) inset !important;
}

/**
 * Nowe ikonki
 */

.ania-icon-wrong {
    background: url(../../images/ania-icons/wrong.png);
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: 25px;
}
.ania-icon-notaccepted {
    background: url(../../images/ania-icons/notaccepted.png);
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: 25px;
}
.ania-icon-new {
    background: url(../../images/ania-icons/new.png);
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: 25px;
}
.ania-icon-hourglass {
    background: url(../../images/ania-icons/hourglass-icon.png);
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: 25px;
}
.ania-icon-enabled {
    background: url(../../images/ania-icons/enabled.png);
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: 25px;
}
.ania-icon-accepted {
    background: url(../../images/ania-icons/accepted.png);
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: 25px;
}
.icon-product-preview {
    background: url(../../images/icon-product-preview.png);
    width: 28px;
    height: 21px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: 5px;
}
#productPreviewModal a{
    line-height: 30px;
    font-size: 15px;
}
@media screen and (min-width: 768px) {
	#shippingModal .modal-dialog {
		width: 730px;
	}
}
.no-padding-left {
    padding-left: 0;
}

.udropship-statements-periodic .event-date-big {
    font-size: 18px;
    font-weight: bold;
}
.udropship-statements-periodic .wrapper-date-from-to-statement_period,
.udropship-statements-periodic .important-cell
{
    font-size: 15px;
    font-weight: bold;
}
.grid_row_highlighted {
/*	background-color: #60a1ea !important; */
	background-color: #999 !important;
}

#editShippingMethodModal input[name=udropship_method] {
    height: 0;
    visibility: hidden;
    width: 0;
}
#editShippingMethodModal .tab-content {
    padding: 20px 0;
}
#editShippingMethodModal .map_filter_container {
    margin-top: 20px;
}