/*******************************************************************************
 *
 * No LESS-based rules here
 *
 ******************************************************************************/
.z-grid .grid tbody tr td.status-enabled {
    background: none repeat scroll 0 0 #2EC029 !important;
}
.z-grid .grid tbody tr td.status-disabled {
    background: none repeat scroll 0 0 #C24A4A !important;
}
.gecko select.form-control, textarea.form-control {
    padding: 4px 0;
}
.filter-field-100.element-wrapper .form-control {
    min-width: 90px;
}

#zolagocatalog_mass_grid_loading {
    background: url(../../img/bootsrap/ajax-loading-input.gif);
    color: transparent;
    background-repeat: no-repeat;
}
.required {
    content:"*";
    color:red;
}

.z-grid .range-line.date {
    margin-bottom: 5px;
}
.grid .filter .hasDatepicker {
    position: relative;
    z-index: 1;
}

#login-vendor .messages {
    margin: 0 4px;
}
#login-vendor .messages > li {
    margin-bottom: 0;
}


.validation-advice {
    color: #b94a48;
}

.validation-failed.form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.validation-failed.form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483
}

#zolagocatalog_mass_grid_submit {
    position: absolute;
    left: 50%;
}

#zolagocatalog_mass_grid_foot .totals.a-center:not(:empty) {
    height: 60px;
}

#catalog_image_grid_table .mass-thumb-image {
    float: left;
    text-align:center;
    margin:2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: rgba(0, 0, 0, 0.4);
}

#vendor_campaign_product_grid .form-group {
    margin: 0 5px;
    border-top: none;
}
#zolagocampaign_campaign_banner_grid .form-group {
    margin: 0 5px;
}


#edit-campaign .form-group .radio-buttons label,
#edit-card .form-group .radio-buttons label {
    position: relative;
    top: -2px;
    margin: 0 8px 0 4px;
}
#edit-campaign input.datetimepicker,
#edit-card  input.datetimepicker {
    width: 150px;
}
#edit-campaign .icon-calendar,
#edit-card  .icon-calendar {
    cursor: pointer;
}

#edit-card .has-error.help-block {
    margin-top: 7px;
    margin-bottom: 10px;
}

#edit-card input[type="radio"], #edit-card input[type="checkbox"] {
    margin: 2px 0 0 0;
}

#edit-card .radio-buttons, #edit-card .datetimepicker-wrapper {
    width: inherit !important;
}

/*Banners*/
.widget-content div[data-type="slider"] {
    border: 1px solid #d3d3d3;
    margin-bottom: 5px;
}
.widget-content div[data-type="url-container-item"] {
    padding: 5px;
    clear: both;
}
.modal-lg {
	width: 900px;
}
.campaign-list .banner-item {
    list-style: none;
    border: 1px solid #d3d3d3;
    padding: 2px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: white;
    min-height: 300px;
    overflow: hidden;
    width: 23%;
    float: left;
    cursor: move;
}

.banner-positions {
    border: 1px solid lightgrey;
    clear: both;
    display: inline-block;
    margin-bottom: 20px;
    min-height: 310px;
    width: 100%;
    padding: 10px;
}

.banner-preview-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.banner-item .row {
    margin: 10px auto 0 auto;
}


#basicModal .row, #editModal .row {
    margin: 10px auto;
}
.placements-categories .actions .list-group .list-group-item .align-right,
.placements-categories .actions .dd-item .align-right
{
    float: right;
    padding-left: 10px;
    padding-right: 0;
}
.help-block-message {
	margin-top: 5px;
	margin-bottom: 10px;
}
/******************************************************************************
 * Dojo grid 
 ******************************************************************************/

#grid-holder{
	height: 600px;
}


#grid-holder .field-expander,
#grid-holder .field-selector{
		width: 25px;
		text-align: center;
	}
#grid-holder .ui-state-default {
	border:0;
}


#grid-holder .collapsed .expando {
	display: none;
}
#grid-holder .dgrid-sort-arrow {
	margin:0;
}
#grid-holder .text-overflow,
#grid-holder th.dgrid-cell{
	text-overflow: ellipsis;
	white-space: nowrap;
}
#grid-holder td.editable {
	font-weight: bold;
}
#grid-holder td.editable.popup-trigger,
#grid-holder .expando td.editable
{
	font-weight: normal;
}
#grid-holder td.editable.popup-trigger{
	color: #4d7496;
}
#grid-holder td.editable.popup-trigger:hover{
	text-decoration: underline;
}
#grid-holder .dgrid-row:hover td.editable.popup-trigger{
	color: #000
}
#grid-holder  .align-right {
	text-align: right;
}
#grid-holder  .align-center {
	text-align: center;
}
#grid-holder  .column-short {
	width: 60px;
}
#grid-holder  .column-medium {
	width: 100px;
}
#grid-holder  .column-long {
	width: 150px;
}

#grid-holder  .field-skuv {
	width: 120px;
}
#grid-holder  .field-name {
	width: 250px;
}

#grid-holder .dgrid-no-data span,
#grid-holder .dgrid-loading span{
   position: absolute;
   top: 50%;
   width: 100%;
   margin-top: -5px;
   color: #aaa;
   text-align: center;
}

#grid-holder .filterable input,
#grid-holder .filterable select{
	border: 1px #ddd solid;
	background: #fff;
	height: 20px;
	display: block;
	width: 100%;
	padding: 0px !important;
}

#grid-holder .filterable .range-field{
	display: inline-block;
	width: 49.5%;
}
#grid-holder .filterable .range-field-from{
	margin-right: 1%;
}

#grid-holder .expando {
	/* style of area containing summary, expanded on click */
	background: #f9f9f9;
	border-bottom: 1px #ddd solid;
	font-size: 11px;
}

#grid-holder .dgrid-row:hover .expando,
#grid-holder .dgrid-selected .expando {
	/* style of area containing summary, expanded on click */
	background: #F1F4F9;
	
}

#grid-holder .expando{
	display: table;
	width: 100%;
}
#grid-holder .expando > div{
	display: table-cell;
	width: 50%;
}
#grid-holder div.sub-row-left{
	border-right: 1px #dddddd solid;
}
#grid-holder .table-subrow{
	margin:  0 !important;
	border-collapse: collapse;
	border: none;
	empty-cells: show;
}
#grid-holder .table-subrow input[type="checkbox"]{
	margin-top: 0 !important;
}

#grid-holder .table-subrow td{
	padding: 4px 6px 2px 6px;
}
#grid-holder .table-subrow tr.header-row td{
	font-weight: bold;
}
#grid-holder .table-subrow tr:first-child td{
	table-layout: fixed;
	border-top:0;
}
#grid-holder .table-subrow tr td.sub-checkbox {
	text-align: center;
	width: 25px;
	padding-left: 8px;
	padding-right: 8px;
}
#grid-holder .sub-row-pos,
#grid-holder .sub-row-loading
{
	display: block;
	padding: 1px 2px;
	
}

#grid-holder .sub-row-actions
{
	padding: 4px 6px;
	
}

#grid-holder .sub-row-actions a{
	display: inline-block;
	margin-right: 10px;
}

#grid-holder .campaign-date{
	width: 250px;
}

/******************************************************************************
 * Modal 
 ******************************************************************************/

.price-modal table{
	table-layout: fixed;
}
.price-modal tbody td{
	text-align: right;
	color: #999;
}
.price-modal .minimal-price td{
	font-weight: bold;
}
.price-modal .minimal-price td.caption{
	text-align: left;
}
.price-modal tbody td.effective-price{
	color: #468847;
	font-weight:bold;
}

.price-modal tbody td.option-text,
.price-modal tbody td.price-deviation{
	color: inherit;
}
.price-modal tbody td.option-text,
.price-modal tbody td.price-deviation{
	text-align: left;
}
.price-modal table .price-deviation{
	padding-top:4px;
	padding-bottom:3px;
}
.price-modal table .price-deviation input{
	height: 20px;
	padding: 0 2px !important;
}
.help-block{
	color: inherit;
}

.price-modal .help-block{
	font-weight: bold;
}

.price-modal .form-group{
	margin:0 !important;
	border:0 !important;
	padding:0 15px !important;
}

/* Bootstrap responsive text-align */
.text-xs-left {
	text-align: left;
}
.text-xs-right {
	text-align: right;
}
.text-xs-center {
	text-align: center;
}
.text-xs-justify {
	text-align: justify;
}
@media (min-width: 768px) {
	.text-sm-left {
		text-align: left;
	}
	.text-sm-right {
		text-align: right;
	}
	.text-sm-center {
		text-align: center;
	}
	.text-sm-justify {
		text-align: justify;
	}
}
@media (min-width: 992px) {
	.text-md-left {
		text-align: left;
	}
	.text-md-right {
		text-align: right;
	}
	.text-md-center {
		text-align: center;
	}
	.text-md-justify {
		text-align: justify;
	}
}
@media (min-width: 1200px) {
	.text-lg-left {
		text-align: left;
	}
	.text-lg-right {
		text-align: right;
	}
	.text-lg-center {
		text-align: center;
	}
	.text-lg-justify {
		text-align: justify;
	}
}

/******************************************************************************
 * Loader
 ******************************************************************************/
#vendor-loading{
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: 100000000;
}
#vendor-loading.with-progress{
	opacity: 0.8;
	background-color: #fff;
	background-image: url(../../img/bootsrap/ajax-loading.gif);
	background-position: center center;
	background-repeat: no-repeat;
}
#vendor-loading.show-process {
	background-image: url(../../img/bootsrap/ajax-loading.gif) !important;
}
/* Po details */

#items .discount .tooltip-inner{
	max-width: 600px !important;
	font-size: 11px;
	font-weight: normal;
}
#items .discount .po-item-tooltip{
	cursor: pointer;
}
#items .discount table,
#items .discount table th,
#items .discount table td{
	border:0;
	background: none;
}


/* bootstrap centered columns */
.row-centered {
	text-align:center;
}
.col-centered {
	display:inline-block;
	float:none;
	/* reset the text-align */
	text-align:left;
	/* inline-block space fix */
	margin-right:-4px;
}

/* vendor register form */
@media (min-width: 982px) {
	#vendor-register-row, #login-vendor {
		margin-top: 70px !important;
	}
}
@media (max-width: 981px) {
	#vendor-register-row, #login-vendor {
		margin-top: 20px !important;
	}

}
#vendor_contact .control-label {
    text-align: right;
}
#edit-question .form-group div.col-md-10 {
    padding-top: 7px;
}
#rmaRefundItems tr {
	cursor: pointer;
}
#rmaRefundItems tr:hover td {
	background-color: #f5f5f5;
}
#rmaRefundItems td {
	vertical-align: middle;
}
#rmaRefundItems input[type=text] {
	width: 75px;
}
#rmaRefundForm .has-error {
	color: #b94a48;
}
.radio-buttons {
    padding-top: 7px;
}
.form-horizontal .form-group.subsection {
	background: #f9f9f9 none repeat scroll 0 0;
	margin-left: -10px;
	margin-right: -10px;
	padding: 10px;
}
.form-horizontal .form-group.subsection .control-label {
	padding: 0;
}


#showAttributeRules .hiddenRow.in {
	display: table-cell !important
}
#showAttributeRules table.table {
	margin-bottom: 0 !important;
}
#showAttributeRules .checkbox-column {
	width: 3%;
}
#showAttributeRules .show-details-column-short {
	width: 4% !important;
}
#showAttributeRules .show-details-column {
	width: 4.5% !important;
	border-right: none;
}
#showAttributeRules .attribute-column {
	border-left: none;
}
.accordion-toggle {
	cursor: pointer;
}
.prefix-lvl-1 {
	border: none;
	width: 4%;
}
.prefix-lvl-2 {
	border: none;
	width: 7%;
}
.table-lvl-1 tr:first-child > td {
	border-top: none;
}
#showAttributeRules .collapsing {
	-webkit-transition: 0.01s;
	transition: 0.01s;
}

#showAttributeRules-trigger,
#changesHistory-trigger
{
	color: #4d7496;
	background-color: #ffffff;
	border: none;
	font-size: 11px !important;
	padding: 0;
	cursor: pointer;
}
.show-changes-history-details {
	margin: 10px 0;
	cursor: pointer;
}
.icon-repeat.icon-flipped:before {
	transform: scale(-1, 1);
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
}

#showAttributeRules div.tooltip-wrapper {
    display: inline-block;
}
.regulation-docs-list {
    padding-left: 0px;
}
.regulation-docs-list li {
    list-style: none;
	margin-bottom: 5px;
}

@media (max-width: 767px) {
	.udropship-vendor-accept a.navbar-brand {
		display: block !important;
		padding: 0 0 0 10px;
	}
}

.no-padding {
    padding: 0;
}
.vendor-image {
	list-style-type: none;
	/*height: 110px;*/
    padding: 0 5px;
}
.vendor-image li {
    display: block;
    float: left;
    /*cursor: default !important;*/
    position: relative;
    height: 100px;
    width: 100px;
    background: #ffffff;
}
.vendor-image li.vendor-image-placeholder {
    /*background-color: #fffeec;*/
    float: left;
    text-align: center;
    margin: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: rgba(0, 0, 0, 0.4);
    position: relative;
    height: 100px;
    width: 100px;
    display: block;
}

.vendor-image li .vendor-image-controls {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000000;
    width: 36px;
    height: 100px;
    opacity: 0.8;
    display: none;
	z-index: 1;
}
.vendor-image li:hover .vendor-image-controls {
    display: block;
}
.vendor-image li .vendor-image-controls a {
    text-decoration: none;
    color: #ffffff;
    padding: 3px 12px 3px 10px;
    display: block;
    float: left;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.vendor-image li:hover {
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
    -o-transform:scale(1.5);
    transform:scale(1.5);
	z-index: 100;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: rgba(0, 0, 0, 0.4);
    cursor: move !important;


}


.udprod-vendor_image-index .hor-scroll {
    overflow: initial;
}

.vendor-image .vendor-image-refresh {
	display: none;
	color: #000000;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	background: white;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin-left: -10px;
	margin-top: -10px;
	border-radius: 5px;
}

#vendorImageZoom .modal-body {
    text-align: center;
}
.vendor-image-upload {
    width: 36px;
}

.vendor-image-upload .icon-upload {
    font-size: 18px;
}
.vendor-image-upload .btn-file {
    position: relative;
    overflow: hidden;
	font-size: 14px;
	cursor: pointer !important;
}

.vendor-image-upload .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    filter: alpha(opacity=0);
    opacity: 0;
	width:1px;
	height:1px;
	pointer-events:none;
}

.vendor-image .mass-thumb-image .icon-ban-circle {
top: -75px;
right: 0px;
position: relative;
font-size: 4em;
opacity: 0.40;
}

.vendor-image .mass-thumb-image .icon-ban-circle:hover {
-webkit-transform:scale(1.5);
-moz-transform:scale(1.5);
-o-transform:scale(1.5);
transform:scale(1.5);
z-index: 0;
}

/* Zarządzaj opisami produktów */
#product-image-popup {
    overflow: hidden;
	width: 590px;
	height: 768px;
}
#product-image-popup .modal-dialog {
	margin: 0;
	padding: 10px;
}
#product-image-popup .modal-dialog .modal-content .modal-header {
    cursor: move;
}
#product-image-popup .rwd-carousel {
    overflow: hidden;
}
#product-image-popup .rwd-carousel .rwd-wrapper {
    text-align: center;
}

#product-image-popup .rwd-carousel .rwd-item {
    float: left;
    padding: 5px;
}
#product-image-popup .product-image-popup-arrow-left {
    text-align: right;
}
#product-image-popup .rwd-controls .rwd-prev .icon,
#product-image-popup .rwd-controls .rwd-next .icon {
    font-size: 25px;
}
#product-image-popup .rwd-controls .rwd-prev.disabled,
#product-image-popup .rwd-controls .rwd-next.disabled {
    color: #d3d3d3;
}

#refundModalSimple label[for=refund].has-error {
    width: 200%;
}

div .view_lupa {
	position: absolute;
	bottom: 2%;
	right: 10px;
	z-index: 900;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	background: url('/skin/frontend/modago/gallery/images/sprites/all-s399d59bcea.png');
	background-position: -181px -451px;
	height: 49px;
	width: 49px;
}
.error.help-block {
	color: #b94a48;
}
.fa-spin {
	-webkit-animation: spin 2s infinite linear;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}
.fa {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; }
.fa-spinner:before {
	content: "\f110";
	font-size: 3em;
}
#spinner_block {
	text-align: center;
	padding: 20px 0 0;
}



#poPickUpAddPaymentForm label[for=payment-pickup-amount].has-error {
	position: absolute;
}