/*******************************************************************************
 *
 * No LESS-based rules here
 *
 ******************************************************************************/
.z-grid .grid tbody tr td.status-enabled {
    background: none repeat scroll 0 0 #2EC029 !important;
}
.z-grid .grid tbody tr td.status-disabled {
    background: none repeat scroll 0 0 #C24A4A !important;
}
.gecko select.form-control, textarea.form-control {
    padding: 4px 0;
}
.filter-field-100.element-wrapper .form-control {
    min-width: 90px;
}

#zolagocatalog_mass_grid_loading {
    background: url(../../img/bootsrap/ajax-loading-input.gif);
    color: transparent;
    background-repeat: no-repeat;
}
.required {
    content:"*";
    color:red;
}

.z-grid .range-line.date {
    margin-bottom: 5px;
}
.grid .filter .hasDatepicker {
    position: relative;
    z-index: 1;
}

#login-vendor .messages {
    margin: 0 4px;
}
#login-vendor .messages > li {
    margin-bottom: 0;
}


.validation-advice {
    color: #b94a48;
}

.validation-failed.form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.validation-failed.form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483
}

#zolagocatalog_mass_grid_submit {
    position: absolute;
    left: 50%;
}

#zolagocatalog_mass_grid_foot .totals.a-center:not(:empty) {
    height: 60px;
}

#catalog_image_grid_table .mass-thumb-image {
    float: left;
    text-align:center;
    margin:2px;
}

#zolagocampaign_campaign_product_grid .form-group {
    margin: 0px;
    border-top: none;
}
#zolagocampaign_campaign_product_grid .pull-right .form-group {
    padding-top: 17px;
}

/*Banners*/
.widget-content div[data-type="slider"] {
    border: 1px solid #d3d3d3;
    margin-bottom: 5px;
}
.widget-content div[data-type="url-container-item"] {
    padding: 5px;
    clear: both;
}
.modal-lg {
	width: 900px;
}
.campaign-list .banner-item {
    list-style: none;
    border: 1px solid #d3d3d3;
    padding: 2px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: white;
    min-height: 300px;
    overflow: hidden;
    width: 23%;
}

.banner-positions {
    border: 1px solid lightgrey;
    clear: both;
    display: inline-block;
    margin-bottom: 20px;
    min-height: 310px;
    width: 100%;
    padding: 10px;
}


.banner-preview-image {
    /*max-height: 30%;*/
    /*max-width: 95%;*/
}
.image-preview-big {
    /*width: 540px;*/
    /*height: 185px;*/
}
.banner-preview-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.banner-item .row {
    margin: 10px auto 0 auto;
}


#basicModal .row, #editModal .row {
    margin: 10px auto;
}
