<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Cms>
            <version>0.0.1</version>
        </Zolago_Cms>
    </modules>
    <global>
		<helpers>
			<zolagocms>
				<class>Zolago_Cms_Helper</class>
			</zolagocms>
		</helpers>
        <blocks>
			<zolagocms>
				<class>Zolago_Cms_Block</class>
			</zolagocms>
			<cms>
				<rewrite>
					<page>Zolago_Cms_Block_Page</page>
				</rewrite>
			</cms>
        </blocks>
    </global>
    <frontend>
        <routers>
            <cms>
                <use>standard</use>
                <args>
                    <module>Zolago_Cms</module>
                    <frontName>cms</frontName>
                </args>
            </cms>
        </routers>
    </frontend>
</config>
