<!--@subject {{var store_name}} – Newsletter subscription success @-->
<body style="font-family: sans-serif;">
<div>
	<a href="{{store url=""}}"><img src="cid:logo.png" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
</div>
<div>
	<p>
		{{var store_name}} newsletter subscription has been successful!
	</p>
	{{depend use_coupon}}
	<p>
		Your coupon code: <strong>{{var coupon.getCode()}}</strong>
		<br />
		{{var rule.getDescription()}}
	</p>
	{{/depend}}
</div>
<div>
	<p>
		Thank you and please visit us again!<br/>
		<a href="{{store url=""}}">{{var store.getFrontendName()}}</a> staff
	</p>
</div>
</body>