<!--@subject {{var store_name}} – Zaproszenie do newslettera @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"var subscriber.getConfirmationLink()":"Subscriber Confirmation Url"}
@-->
<body style="font-family: sans-serif;">
<div>
    <a href="{{store url=""}}"><img src="cid:logo.png" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
</div>
<div>
    <p>
        Dziękujemy za zapisanie się do newslettera {{var store_name}}!
    </p>
</div>
<div>
    <p>
        To start receiving our newsletter you have to confirm your e-mail address first. To do so
        <a href="{{var subscriber.getConfirmationLink()}}" target="_blank">click here</a>
        or copy link below to your browser.<br/><br/>
        <a href="{{var subscriber.getConfirmationLink()}}">{{var subscriber.getConfirmationLink()}}</a>
    </p>
</div>
<div>
    <p>
        Thank you and please visit us again!<br/>
        <a href="{{store url=""}}">{{var store.getFrontendName()}}</a> staff
    </p>
</div>
</body>