<!--@subject {{var store_name}} – Newsletter unsubscription success @-->
<body style="font-family: sans-serif;">
<div>
	<a href="{{store url=""}}"><img src="cid:logo.png" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
</div>
<div>
	<p>
		We're sorry to hear that you no longer want to receive {{var store_name}} newsletter.
	</p>
</div>
<div>
	<p>
		Thank you and please visit us again!<br/>
		<a href="{{store url=""}}">{{var store.getFrontendName()}}</a> staff
	</p>
</div>
</body>