<?xml version="1.0"?>
<config>
    <modules>
        <GH_Dhl>
            <version>0.1.0</version>
        </GH_Dhl>
    </modules>
    <global>
        <models>
            <ghdhl>
                <class>GH_Dhl_Model</class>
                <resourceModel>ghdhl_resource</resourceModel>
            </ghdhl>
            <ghdhl_resource>
                <class>GH_Dhl_Model_Resource</class>
                <entities>
                    <dhl>
                        <table>gh_dhl</table>
                    </dhl>
                </entities>
            </ghdhl_resource>
        </models>
        <blocks>
            <ghdhl>
                <class>GH_Dhl_Block</class>
            </ghdhl>
        </blocks>
        <helpers>
            <ghdhl>
                <class>GH_Dhl_Helper</class>
            </ghdhl>
        </helpers>
        <resources>
            <ghdhl_setup>
                <setup>
                    <module>GH_Dhl</module>
                </setup>
            </ghdhl_setup>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <GH_Dhl>
                    <files>
                        <default>GH_Dhl.csv</default>
                    </files>
                </GH_Dhl>
            </modules>
        </translate>
        <layout>
            <updates>
                <ghdhl>
                    <file>ghdhl.xml</file>
                </ghdhl>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ghdhl before="Mage_Adminhtml">GH_Dhl_Adminhtml</ghdhl>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>