<?xml version="1.0"?>
<config>
    <modules>
        <GH_Dhl>
            <version>0.1.8</version>
        </GH_Dhl>
    </modules>
    <global>
        <models>
            <ghdhl>
                <class>GH_Dhl_Model</class>
                <resourceModel>ghdhl_resource</resourceModel>
            </ghdhl>
            <ghdhl_resource>
                <class>GH_Dhl_Model_Resource</class>
                <entities>
                    <dhl>
                        <table>gh_dhl</table>
                    </dhl>
                    <dhl_vendor>
                        <table>gh_dhl_vendor</table>
                    </dhl_vendor>
                </entities>
            </ghdhl_resource>
        </models>
        <blocks>
            <ghdhl>
                <class>GH_Dhl_Block</class>
            </ghdhl>
        </blocks>
        <helpers>
            <ghdhl>
                <class>GH_Dhl_Helper</class>
            </ghdhl>
        </helpers>
        <resources>
            <ghdhl_setup>
                <setup>
                    <module>GH_Dhl</module>
                </setup>
            </ghdhl_setup>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <GH_Dhl>
                    <files>
                        <default>GH_Dhl.csv</default>
                    </files>
                </GH_Dhl>
            </modules>
        </translate>
        <layout>
            <updates>
                <ghdhl>
                    <file>ghdhl.xml</file>
                </ghdhl>
            </updates>
        </layout>
        <events>
            <udropship_adminhtml_vendor_tabs_after>
                <observers>
                    <ghdhl>
                        <class>ghdhl/observer</class>
                        <method>udropship_adminhtml_vendor_tabs_after</method>
                    </ghdhl>
                </observers>
            </udropship_adminhtml_vendor_tabs_after>
            <udropship_adminhtml_vendor_edit_prepare_form>
                <observers>
                    <ghdhl>
                        <class>ghdhl/observer</class>
                        <method>udropship_adminhtml_vendor_edit_prepare_form</method>
                    </ghdhl>
                </observers>
            </udropship_adminhtml_vendor_edit_prepare_form>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ghdhl before="Mage_Adminhtml">GH_Dhl_Adminhtml</ghdhl>
                    </modules>
                </args>
            </adminhtml>
            <ghdhladmin>
                <use>admin</use>
                <args>
                    <module>GH_Dhl_Adminhtml</module>
                    <frontName>ghdhladmin</frontName>
                </args>
            </ghdhladmin>
        </routers>
    </admin>
</config>