#header {
	//    min-height: 65px;
}

/* HEADER TOP */
.headroom {
	transition: all 200ms linear;
}

.headroom--pinned {
	top: -40px !important;
}

body {
	@media screen and (max-height: 749px) {
		.headroom--unpinned {
			top: 0 !important;
		}
	}
	@include max-screen($screen-xs-max) {
		.headroom--unpinned {
			top: -95px !important;
		}
	}
	.headroom--top {
		margin-top: 0 !important;
		@include max-screen($screen-xs-max) {
			position: static !important;
			margin-top: -85px !important;
			transition: none !important;
		}
	}
	&.sb-open > header {
		margin-left: 288px;
		width: 100%;
		.header_top {
			left: 288px;
		}
	}
}

.header_top {
	@include max-screen($screen-xs-max) {
		position: fixed;
	}
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 1000;

	> .container-fluid {
		position: relative;
	}
	#header_top_block_left {
		position: absolute;
		left: 0px;
		top: 0px;
		z-index: 20;
		@include max-screen($screen-sm-max) {
			display: none;
		}
	}
	#header_top_block_center {
		position: absolute;
		top: 1px;
		//width: 160px;
		width: 250px;
		@include max-screen($screen-xs-max) {
			width: 160px;
		}
		z-index: 10;
		left: 0;
		margin-left: 0;
		img {
			width: 100%;
			height: auto;
			margin-top: 15px;
			@include max-screen($screen-xs-max) {
				margin-top: 5px;
			}
		}

		@include max-screen(470px) {
			width: 150px;
			top: 3px;
			left: -10px;
			margin-left: 0;
		}
		@include max-screen(365px) {
			width: 140px;
			top: 6px;
			left: -10px;
			margin-left: 0;
		}
	}
	#header_top_block_right {
		width: 100%;
		padding-left: 265px;
		@include max-screen($screen-xs-max) {
			padding-left: 105px;
		}
		position: absolute;
		right: -10px;
		top: 0px;
		nav {
			width: 70%;
			float: left;
			margin-top: 23px;
			@include max-screen($screen-xs-max) {
				width: 0;
			}
			@include min-screen($screen-sm) {
				width: 80%
			}
			#navigation {
				text-align: center;
			}
		}
		@include max-screen($screen-xs-max) {
			padding-left: 105px !important;
		}
		#user_menu {
			width: auto;
			padding-right: 15px;
			@include max-screen($screen-xs-max) {
				padding-right: 5px;
			}
			@include min-screen($screen-sm) {
				margin-top: 23px;
				padding-right: 10px;
			}
		}
		.header_icon {
			margin-top: 3px;
			width: 22px;
			height: 22px;
			+ span {
				display: block;
				margin-top: 3px;
			}
			@include max-screen($screen-sm-max) {
				margin-top: 2px;
			}
		}
		svg.header_icon path, svg.header_icon g, svg.header_icon g path {
			fill: $colorIconHeader;
		}
	}
	.block_toggle_menu {
		float: left;
		@include sprite-dimensions($allMap, ico_menu);
		margin-right: 3.74%;
		@include max-screen($screen-sm-max) {
			height: 18px;
			width: 17px;
			margin-right: 5px;
			margin-left: 10px;
		}
	}
	.block_search {
		float: right;
		margin-top: 16px;
		margin-right: 5px;
		.button-search {
			border-radius: 0;
			width: 39px;
			height: 35px;
			padding: 0;
			position: relative;
			//border-left:1px solid $colorAccentBlocks;
			border-top:1px solid $colorAccentBlocks;
			border-bottom:1px solid $colorAccentBlocks;
			border-right:1px solid $colorAccentBlocks;
			background: $colorHeaderUserAccountMobileBtnBg;
			@include min-screen($screen-xs-max) {
				background: $colorHeaderUserAccountDesktopBtnBg;
			}

			&:before {
				font-family: FontAwesome;
				font-size: 16px;
				content: $fa-var-search;
				color: $colorHeaderSearchBtn;
				position: absolute;
				top: 0;
				left: 0;
				width: 39px;
				height: 35px;
				line-height: 32px;
				text-align: center;
			}
		}
	}
}

/* USER MENU */
.user-navigation {
	@include reset-l;
	top: -4px;
	width: 100%;
	text-align: right;
	@include max-screen($screen-xs-max) {
		margin-top: -3px;
		height: 54px !important;

	}
	@include min-screen($screen-sm) {
		position: relative;
	}
	li {
		padding: 0 0 0 0;
		margin-left: 0;
		width: 40px;
		height: 60px;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;

		@include min-screen($screen-md-min) {
			a:hover, &.open {
				//background-color: $colorIconHoverBgHeader;

				color: #252525;
				@include transition(color 0.3s ease-in-out);

				svg.header_icon path, svg.header_icon g, svg.header_icon g path {
					fill: $colorIconHoverHeader !important;
				}
				span {
					color: $colorIconTextHoverHeader;
				}
			}
		}
		&#link_search {
			width: auto !important;
		}
		&#link_search.not-open, &#link_search.not-open:hover {
			background-color: transparent;
		}
		&#link_menu.not-open, &#link_menu.not-open:hover {
			background-color: transparent;
		}
		&#link_account {
			display: none;
			@media (min-width: 420px) and (max-width: $screen-xs-max) {
				display: inline-block;
			}
		}
		@include min-screen($screen-sm-min) {
			&#link_basket {
				height: 61px;
			}
		}


		@include max-screen($screen-sm-max) {
			width: 40px;
			//width: 60px;
			&:hover, &#link_search.open {
				//background-color: $colorIconHoverBgHeader !important;
				a svg {
					path, g {
						fill: $colorIconHover !important;
					}
				}
			}
			&#link_search.open {
				height: 59px !important;
			}
		}
		@include max-screen(410px) {
			width: 40px;
		}
		@include max-screen(360px) {
			width: 33px;
			&:hover, a:hover {
				background-color: transparent;
			}
		}
		a:link,
		a:visited {
			font-size: 22px;
			@include max-screen($screen-xs-max) {
				padding-top: 8px !important;
			}
			@include min-screen($screen-sm-min) {
				padding-top: 8px !important;
			}
		}
		a:hover {
			color: #252525;
			@include transition(color 0.3s ease-in-out);
		}
		&.no-badge {
			a:link,
			a:visited {
				@include max-screen($screen-sm-max) {
					padding-top: 14px !important;
				}
				@include min-screen($screen-md) {
					padding-top: 10px !important;
				}
			}
		}
		&#link_your_account {
			@include max-screen(539px) {
				display: none;
			}
		}
		&#link_search .header_icon {
			margin-top: -1px;
		}
	}
	a {
		@include reset-m;
		position: relative;
		height: 60px;
		padding-bottom: 2px;
		display: block;
		padding-top: 11px;
		@include max-screen($screen-xs-max) {
			height: 46px;
			padding-top: 8px;
		}
		&#toggleSearch {
			//padding-top: 17px;
			font-size: 22px;
		}

		&#link_basket_icon {
			@include min-screen($screen-sm-min) {
				border: 1px solid #EBEBEB;
				padding-top: 0 !important;
				height: 35px !important;
				top: 11px;
				background: $colorHeaderUserAccountDesktopBtnBg;
			}
		}
	}

	li {
		.dropdown {
			ul.searchDropdown {
			}
		}
	}
}

/* HEADER BOTTOM */
.header_bottom {
	#navigation {
		@include max-screen($screen-sm-max) {
			margin-left:0px;
		}
	}
	#nav_desc {
		&.navigation > li > a:hover,
		&.navigation > li > a.active,
		&.navigation > li > a.forceActive {
			position: relative;
			&:before {
				content: ' ';
				height: 3px;
				width: 100%;
				position: absolute;
				left: 0;
				bottom: -3px;
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;
			}
		}
	}

	// NAV DESKPOT
	//#nav_desc {
	.navigation {
		margin: 0 0 3px -10px;
		padding: 0;
		li {
			display: inline-block;
			height: 41px;
			@include max-screen($screen-xs-max) {
				display: block;
			}
			a:link,
			a:visited {
				padding: 14px 13px 9px !important;
			}

			/* === SUBMENU === */
			ul {
				display: none;
				li {
					margin-left: 38px;

				}
			}
		}
	}
	//}
	// END NAV DESCOPT

	#nav_mobile {
		> li {
			display: block;
			height: auto;
			> a:link,
			> a:visited {
				text-decoration: none;
				position: relative;
				display: block;
				padding-left: 15px;
				i.fa {
					position: absolute;
					right: 7px;
					top: 50%;
					margin-top: -8px;
				}
			}
			> a:hover {
				text-decoration: underline;
			}

			ul {
				&.open {
					-webkit-padding-start: 0px !important;
					display: block;
					padding-left: 0px !important;
				}
			}
			li {
				margin-left: 0;
				a {
					width: 249px;
					display: block;
					padding-left: 25px !important;

				}

			}
		}
	}
}

[class^=ico_] {
	&.ico_basket {
		@include max-screen($screen-sm-max) {
			margin-right: 4px;
		}
		> span {
			@include max-screen($screen-sm-max) {
				top: 11px !important;
			}
		}
	}
	&.ico_favorites {
		> span {
			top: 10px !important;
			@include max-screen($screen-sm-max) {
				top: 9px !important;
			}
		}
	}
}

.node-type-page-shop {
	#header {
		min-height: 40px;
		@media (min-width: $screen-md-min) {
			min-height: 56px;
		}
	}
}

.top_bottom {
	// NAV DESKPOT
	//#nav_desc {
	.navigation {
		margin-left: -10px;
		margin-right: 0px;
		margin-top: 4px;
		margin-bottom: 3px;
		padding: 0px;
		li {
			display: inline-block;
			height: 41px;
			@include max-screen($screen-sm - 1) {
				display: block;
			}
			a:link,
			a:visited {
				padding: 8px 20px 8px 10px !important;
			}

			/* === SUBMENU === */
			ul {
				display: none;
				li {
					margin-left: 38px;

				}
			}
		}
	}
	//}
	// END NAV DESCOPT

	#shop_nav_mobile {
		> li {
			display: block;
			height: auto;
			> a:link,
			> a:visited {

				position: relative;
				display: block;
				padding-left: 15px;
				i.fa {
					position: absolute;
					right: 7px;
					top: 50%;
					margin-top: -8px;
				}
			}
			> a:hover {
			}

			ul {
				&.open {
					-webkit-padding-start: 0px !important;
					display: block;
				}
			}
			li {
				margin-left: 0;
				a {
					width: 249px;
					display: block;
					padding-left: 25px !important;

				}
				a:hover {

				}
			}
		}
	}
}

.header_top {
	background-color: $colorBgBlocksHeader;
	&.headroom--pinned.headroom--not-top {
		border-bottom: 1px solid $colorAccentBlocksHeader;
	}
}

/* USER MENU */
.user-navigation {
	list-style: none;
	a {
		text-align: center;
		text-transform: uppercase;
		font-size: 9px;
		color: $colorIconTextHeader;
		text-decoration: none;
		&:hover {
			background: none;
		}
	}

	.dropdown {
		ul.searchDropdown {
			@include border-radius(0);
		}
	}
}

/* HEADER BOTTOM */
.header_bottom {
	background: $colorBgBlocksMenuTop;
	border-top: 1px solid $colorAccentBlocksMenuTop;
	border-bottom: 1px solid $colorAccentBlocksMenuTop;
	//@media(max-width: $screen-xs-max) {
	//	border-top: none;
	//}
	#nav_desc {
		&.navigation > li > a:hover,
		&.navigation > li > a.active,
		&.navigation > li > a.forceActive {
			background: none;
			font-weight: 700;
			letter-spacing: 0px;
		}
	}

	// NAV DESKPOT
	//#nav_desc {
	.navigation {
		li {
			a:link,
			a:visited {
				font-size: 14px;
				color: $colorMainNavigationStripe;
				font-family: $fontRegular;
				font-weight: 500;
				font-style: normal;
				text-transform: uppercase;
				line-height: 45px;
				@media(max-width: $screen-sm-max) {
					font-size: 15px;
					line-height: 46px;
				}
			}
			a:hover {
				background: none;
				font-weight: 700;
			}
			/* === SUBMENU === */
			ul {
				li {
					a:link,
					a:visited {
						font-size: 14px;
					}
				}
			}
		}
	}
	//}
	// END NAV DESCOPT
	#nav_mobile {
		.nav {
			li {
				a:link,
				a:visited {
					line-height: 29px !important;
				}
			}
		}
	}
	#nav_mobile {
		> li {
			> a:link,
			> a:visited {
				border-top: 1px solid $color_dedce1;
				position: relative;
				line-height: 29px;

			}
			&:first-child {
				> a {
					border-top: none;
				}
			}
			ul {
				&.open {
					border-top: 1px solid $color_dedce1;
					padding-left: 0px !important;
				}
			}
			li {

				a {
					border-top: 1px solid $color_f7f6f7;
					line-height: 18px;
				}

				&:first-child {
					a {
						border-top: none;
					}

				}
			}
		}
	}
}

.top_bottom {
	.navigation {
		li {
			a:link,
			a:visited {
				font-size: 18px;
				color: $color_000;
				font-family: $fontRegular;
				font-weight: 400;
				font-style: normal;
				text-transform: uppercase;
				line-height: 49px;
				@include screen(769px, 800px) {
					font-size: 16px;
				}
				@include max-screen($screen-sm) {
					font-size: 16px;
				}
			}
			a:hover {
				background: none;
			}
			/* === SUBMENU === */
			ul {
				li {
					a:link,
					a:visited {
						font-size: 14px;
					}
				}
			}
		}
	}
	#shop_nav_mobile {
		.nav {
			li {
				a:link,
				a:visited {
					line-height: 29px !important;
				}
			}
		}
	}
	#shop_nav_mobile {
		list-style: none;
		> li {
			> a:link,
			> a:visited {
				border-top: 1px solid $color_dedce1;
				line-height: 29px;
			}
			&:first-child {
				> a {
					border-top: none;
				}
			}
			ul {
				&.open {
					border-top: 1px solid $color_dedce1;
					padding-left: 0px;
				}
			}
			li {

				a {
					border-top: 1px solid $color_f7f6f7;
					line-height: 26px;

				}

				&:first-child {
					a {
						border-top: none;
					}

				}
			}
		}
	}
}

#link_basket {
	&.open a {
		//border-bottom: 4px solid $colorIconHoverBgHeader;
	}
}

@import "../../other/variable";
.header_top {
	height: 132px;
	@include max-screen($screen-xs-max) {
		height: 87px;
		border-bottom: 1px solid $colorAccentBlocksHeader;
		&.headroom {
			border-bottom: none;
		}
	}
}
.checkout {
	.header_top {
		height: 65px;
		border-bottom: 1px solid $color_ebebeb;
		padding: 10px 0 0;
	}
}

/* USER MENU */
.user-navigation {
	@include reset-l;
	a {
		position: relative;
	}

}

/* HEADER BOTTOM */
.not-content-mode.sm-to-smmd-plus-smmd, .this-is-search.sm-to-smmd-plus-smmd {
	#nav_desc {
		@media (max-width: $screen-xs-max) {
			display: none !important;
		}
	}
}

.header_bottom {
	#nav_mobile {
		> li {
			> a:link,
			> a:visited {
				position: relative;
			}
			li {
				a {
					display: block;
					width: 100%;
				}
			}
		}
	}
}

.node-type-page-shop {
	#name-shop {
		margin-right: -15px;
		margin-left: -15px;
	}
}

.top_bottom {

	#shop_nav_mobile {
		margin: 0;
		padding: 0;
		> li {
			> a:link,
			> a:visited {
				position: relative;
				display: block;
			}

			ul {
				display: none;

			}
			li {

				a {
					display: block;
					width: 100%;
				}
			}
		}
	}

	.vendor-top-bottom-header {
		height: 72px;
		.logo-part {
			padding-left: 0;

			.vendor-top-bottom-header-label {
				display: block;
				float: left;
				font-weight: normal;
				margin-right: 0;
				padding-left: 0;
				padding-top: 40px;
				text-transform: uppercase;
				vertical-align: middle;
				width: auto;
				position: relative;

				box-sizing: border-box;
				padding-right: 10px;
			}

		}

		.vendor-top-bottom-header-logo {
			background-position: left center;
			background-repeat: no-repeat;
			background-size: contain;
			display: block;
			height: 52px;
			margin: 10px 0;
			max-height: 52px;
			max-width: 170px;
			padding: 0 !important;
			width: 100%;
			position: relative;
			line-height: 72px;

			box-sizing: border-box;
			float: left;
		}
		.vendor-top-bottom-header-links {
			display: table-cell;
			height: 58px;
			position: absolute;
			right: 0;
			top: 17px;
			li {
				display: block;
				float: left;
				padding: 20px 0 0 15px;
				a {
					color: $color_000000;
					text-transform: uppercase;
					cursor: pointer;
				}
			}
		}
	}

}

#vendor-nobanners {
	position: relative;
	margin-top: 10px;
	margin-bottom: 20px;
	#vendor-nobanners-stripes {
		height: 5px;
		position: absolute;
		z-index: 10;
		top: 17px;
		left: 0px;
		right: 0px;
		border-bottom: 1px solid $color_000000;
		border-top: 1px solid $color_000000;
	}
	h2 {
		background-color: $color_f2f1f0;
	}
}