#review-form {
	h4 {
		padding-top:10px;
		strong{
			text-transform: uppercase;
		}
	}
	input[type="text"],
	input[type="email"],
	input[type="password"] {
		height: 29px;
		line-height: 29px;
		padding:0 0 0 15px
	}
	label {
		font-weight: normal;
	}
	.title {
		.topHint {
			right: -175px !important;
			top:23px;
			@media (max-width: 767px) {
				display:none!important
			}
		}
	}
	.form-radio {
		float:left;
		margin-right: 20px;
	}
	.nickname_field {
		margin-top:-15px;
		label {
			line-height: 29px;
		}
		.col-sm-6 {
			position:relative;
		}
		.topHint {
			right: -150px !important;
			top:0;
			@media (max-width: 767px) {
				display:none!important
			}
		}
	}
}

.review-summary-table {
	width:300px;
	border:none;
	caption {
		text-align: left;
		font-weight: bold;
	}
	tr,th,td {
		text-align: left;
		border:none!important;
	}
	th {
		width:100px;
		font-weight: normal;
		padding:4px 8px 4px 0px!important;
	}
	td {
		padding:4px 8px 4px 0px!important;
	}
}