.user-navigation {
	#link_favorites {
		.badge {
			top: -1px !important;
			@include max-screen($screen-sm-max) {
				top: -6px !important;
				&.badgeSingle {
					right: -6px !important;
				}
				&.badgeDouble {
					right: -10px !important;
				}
				&.badgeTriple {
					right: -14px !important;
				}
			}
		}
	}

	.badgeHolder {
		position: relative;
		width: 24px;
		margin: 0 auto 3px auto;
		.badge {
			padding: 2px 4px 1px 2px;
			position: absolute !important;
			top: 0 !important;
			right: -15px !important;
			&.badgeSingle {
				right: -7px !important;
			}
			&.badgeDouble {
				right: -12px !important;
			}
			&.badgeTriple {
				right: -18px !important;
			}

			@include max-screen($screen-sm-max) {
				top: -5px !important;
				padding: 3px 3px 2px 2px;
				&.badgeSingle {
					right: -4px !important;
				}
				&.badgeDouble {
					right: -7px !important;
				}
				&.badgeTriple {
					right: -10px !important;
				}
			}
			@include max-screen(410px) {
				right: -13px !important;
			}
		}
	}
	a {
		position:relative;
	}
}

@-moz-document url-prefix() { 
  .user-navigation {
  	a {
  		&.dropdown-toggle {
	  		.badge {
	  			@include max-screen($screen-sm-max) {
	  				top:12px;
	  			}
  			}
  		}
  	}
  }
}
#link_basket {
    top: -1px;
	&.open a {
		border-bottom: 4px solid #2a2a2a;
	}
}