<?xml version="1.0"?>

<config>
    <modules>
        <Zolago_Reports>
            <version>0.0.1</version>
        </Zolago_Reports>
    </modules>
    <global>
        <models>
            <reports>
                <rewrite>
                    <product_index_viewed>Zolago_Reports_Model_Product_Index_Viewed</product_index_viewed>
                    <event_observer>Zolago_Reports_Model_Event_Observer</event_observer>
                </rewrite>
            </reports>
            <reports_resource>
                <rewrite>
                    <product_index_viewed>Zolago_Reports_Model_Resource_Product_Index_Viewed</product_index_viewed>
                    <product_index_viewed_collection>Zolago_Reports_Model_Resource_Product_Index_Viewed_Collection</product_index_viewed_collection>
                </rewrite>
            </reports_resource>
        </models>
        <resources>
            <zolagoreports_setup>
                <setup>
                    <module>Zolago_Reports</module>
                </setup>
            </zolagoreports_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <catalog_controller_product_view>
                <observers>
                    <reports>
                        <type>disabled</type>
                    </reports>
                </observers>
            </catalog_controller_product_view>
            <ajax_get_account_information_after>
                <observers>
                    <reports>
                        <class>reports/event_observer</class>
                        <method>ajaxAddLastViewed</method>
                    </reports>
                </observers>
            </ajax_get_account_information_after>
        </events>
    </frontend>
</config>
