#items-product {
	.item {
        .box_listing_product {
		border:1px solid $color_ebebeb;
		background: $color_fff;
/*		//height:550px;
        @include transition-property(box-shadow);
        @include transition-duration(0.1s);
        @include transition-timing-function(ease-in);
        //@include transition-delay(0.2s);
        &:hover,
        &.hover {
            box-shadow: 0 0 3px 2px $color_bcbaba;
            }*/
        }
	}
}
.box_listing_product {
    background:$color_fff;
    .name_product {
        font-size: 12px;
    }
    .price {
        color:$color_fd002a;
        font-size: 20px;
        font-family:$fontRegular;
        .old {
	        display: block;
            color:$color_000;
            text-decoration:line-through;
            font-size:15px;
        }
        .like {
            font-size:11px;
            font-family:$fontBlack;
            color:$color_000;
	        .like_count {
		        display: inline-block;
		        vertical-align: middle;
		        margin-right: 3px;
	        }
            .toolLike {
                background: $color_fff;
                text-align: center;
                background-clip: padding-box;
                box-shadow: 0 0px 2px rgba(0, 0, 0, 0.5);
                border: 1px solid rgba(0, 0, 0, 0.5);
                &:before,
                &:after {
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                }
                &:before {
                    border-top: 10px solid rgba(0, 0, 0, 0.5);
                }
                &:after{
                    border-top: 10px solid $color_fff;
                }
            }   
        }
    }
    .promotion {
            background:$color_aefbe1;
            border:2px solid $color_ffd9fc;
            font-size:14px;
            text-align:center;
            color:$gray-dark;
            p {
                color:$gray-dark;
                font-style: italic;
                font-family:$fontBlack;
            }
        }
}
.shapes_listing {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjFmMCIgc3RvcC1vcGFjaXR5PSIwLjAxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQyJSIgc3RvcC1jb2xvcj0iI2YyZjFmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYxZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(242,241,240,0.01) 0%, rgba(242,241,240,1) 42%, rgba(242,241,240,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,241,240,0.01)), color-stop(42%,rgba(242,241,240,1)), color-stop(100%,rgba(242,241,240,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(242,241,240,0.01) 0%,rgba(242,241,240,1) 42%,rgba(242,241,240,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(242,241,240,0.01) 0%,rgba(242,241,240,1) 42%,rgba(242,241,240,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(242,241,240,0.01) 0%,rgba(242,241,240,1) 42%,rgba(242,241,240,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(242,241,240,0.01) 0%,rgba(242,241,240,1) 42%,rgba(242,241,240,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03f2f1f0', endColorstr='#f2f1f0',GradientType=0 ); /* IE6-8 */
    text-align:center;
    
}
.addNewPositionListProductWrapper {
    text-align: center;
}
.addNewPositionListProduct {
    &:link,
    &:visited {
      background:$color_000;
      text-align:center;
      line-height: 38px;
      font-size: 12px;
      color:$color_fff;
      outline:none;
      
    }
    &:hover {
          color:$color_fff;
      }  
    &:hover,
    &.hover {
        background: $color_b08944; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYjA4OTQ0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzcwNWUyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
        background: -moz-linear-gradient(-80deg,  $color_b08944 0%, $color_705e29 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$color_b08944), color-stop(100%,$color_705e29)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(-80deg,  $color_b08944 0%,$color_705e29 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-80deg,  $color_b08944 0%,$color_705e29 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(-80deg,  $color_b08944 0%,$color_705e29 100%); /* IE10+ */
        background: linear-gradient(135deg,  $color_b08944 0%,$color_705e29 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_b08944', endColorstr='$color_705e29',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

    }
    &:active,
    &:focus,
    &.active {
        background: $color_6d5920; /* Old browsers */
        background: -moz-linear-gradient(-80deg,  $color_6d5920 0%, $color_af8438 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$color_6d5920), color-stop(100%,$color_af8438)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(-80deg,  $color_6d5920 0%,$color_af8438 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-80deg,  $color_6d5920 0%,$color_af8438 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(-80deg,  $color_6d5920 0%,$color_af8438 100%); /* IE10+ */
        background: linear-gradient(135deg,  $color_6d5920 0%,$color_af8438 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_6d5920', endColorstr='$color_af8438',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



    }
    
}
#items-product {
    .item {
        .box_listing_product {
            &:hover,
            &.hover {
                .name_product {
                    text-decoration: underline;
                }
            }
        }
    }
}