
/* CLONE MENU */

#clone_submenu {

    .view-all-category {
        float:right;
        margin-right:50px!important;
        i {
            margin-left:5px;
        }
    }
    ul {
        border: none;
            dl {
                dd {
                  a {
                    &[data-description="ReadMore"] {
                        i {
                            margin-left:5px;
                        }
                    }
                }
            }
           

        }
    //END UL
    }
// END CLONE MENU
} 

/* CLONE MENU */

#clone_submenu {
    .col-left {
        width:78.2312925170068%;
        float:left;
           @include max-screen($screen-md-max) {
                 width:72.231293%;
            }
            @include max-screen($screen-sm-max) {
                 width:100%;
            }
    }
    .col-righ {
        width:22.02380952380952%;
        float:left;
        img {
            width:100%;
            height:auto;        }
    }
    ul {
        position:relative !important;
        margin: 0px;
        padding:47px 0;
            > li {
                > a {
                   padding:6px 15px; 
                }
            }
            dl {
                //width:175px;
                @include max-screen($screen-sm-max) {
                      //width:155px;
                }
                dt {
                    margin-bottom:10px;
                }
                dd {
                    margin-bottom:18px;
                }
           

        }
        a.closeSubMenu:link,
        a.closeSubMenu:visited { 
            float:right;
            margin-right: 15px;
            overflow:hidden;
            border:none;
            display:inline-block;
            width:93px;
            height:26px;
        }
    //END UL
    }
// END CLONE MENU
} 