.user-navigation {
	a {
		position:relative;
		.badge {
		    background:$color_fe002b;
		    @include border-radius(3px);
		    color: $color_fff;
		    font-size: 11px;
		    text-align: center;
		    font-style: normal;
		    padding: 5px 5px 5px 3px;
		    position:absolute;
		    top:11px;
		    right:10px;
		   @include max-screen($screen-sm-max) {
		        @include border-radius(2px);
		        font-size: 10px;
		        font-style: normal;
		        padding: 3px 3px 2px 2px;
		        top:9px;
		    	right:-3px;
		   }
		}
		&.dropdown-toggle {
			.badge {
				right:15px;
				top:11px;
				 @include max-screen($screen-sm-max) {
				 	right:4px;
				 }
			}
		}
	}
}

@-moz-document url-prefix() { 
  .user-navigation {
  	a {
  		&.dropdown-toggle {
	  		.badge {
	  			@include max-screen($screen-sm-max) {
	  				top:12px;
	  			}
  			}
  		}
  	}
  }
}
#link_basket {
    top: -1px;
}