#new-rma{
	.rma-bordered{
		border: 1px $colorBorderRma solid;
		margin-bottom: 30px;
	}

	.desc-holder{
		width: 49%;
		float: left;
		@media (max-width: $screen-xs-max) {
			width: auto;
			float: none;
			margin:0;
        }
	}
	.reason-holder{
		width: 49%;
		float:right;
		margin-left: 2%;
		@media (max-width: $screen-xs-max) {
			width: auto;
			float: none;
			margin: 20px 0 0 0;
        }
		@media (max-width: $screen-xs-min) {
			margin: 5px 0 0 0;
		}
	}



	.condition-wrapper {

		margin-top: -6px;
		.select2-container{
			display: block;
			width: auto;
			margin-left: 110px;
			margin-bottom: 5px;
			@media (max-width: $screen-xs-min) {
				margin-left:0;
			}
		}
		&.has-error, &.has-success{
			.select2-container{
				//border-color: $gray-light;
			}
		}
		label{
			width: 110px;
			float: left;
			margin-top: 6px;
			@media (max-width: $screen-xs-min) {
				float:none;
				margin-bottom:0;
			}
		}
		.error{
			display: none;
		}
		&.active{
			.error{
				display: block;
			}
		}
	}
	.step-1{
		h5{
			font-family: $fontBlack;
			border-bottom: $colorBorderRma 1px solid;
			padding: 12px 12px 11px 10px;
		}
		.table-wrapper{
			margin: 20px 25px;
		}
		table td{
			padding:7px 5px 8px 5px;
			label{
				font-weight: normal;
			}
		}
		textarea{
			box-sizing: border-box;
			height: 100px;
			-moz-box-sizing: border-box;
		}
		.error{
			padding-left:0 !important;
		}
		.form-ico-times{
			display: none;
		}
		.comment_text{
			margin-bottom: 5px;
		}
		.form-group{
			margin-bottom:0;
		}
	}
	.step-2 {
	}
}
.rma-section{
	margin-bottom: 15px;
	border: 1px $colorBorderRma solid;
	padding: 15px;
	p{
		margin:0;
	}
}
.rma-caption{
	padding:0;
	border:0;
}
.rma-monit{
	min-height: 70px;
	padding: 16px 16px 16px 82px;
	border: 1px $colorAccentRma solid;
	background: url('../images/rma_monit.png') 16px 13px no-repeat;
	@include box-shadow(rgba(0,0,0,0.2) 0 3px 5px);
	p{padding:0; margin-bottom: 15px;}
	p:last-child{margin:0;}
	.download-doc{
		display: inline-block;
	}
}

.rma-status{
	p{
		margin-bottom: 15px;
	}
}

.rma-content{
	p{
		margin-bottom: 15px;
	}

	table td{
		vertical-align: top;
		padding-bottom: 15px;
	}
	table tbody tr:last-child td{
		padding-bottom: 0;
	}
	.img{
		width: 60px;
	}
	.desc{
        padding-left: 70px;
        padding-bottom: 15px;
        @media (min-width: $screen-sm-min) and (max-width: 870px) {
            padding-left: 0;
            margin-top: 10px!important;
        }
	} 
	.comment-text{
		margin-top: 15px;
		word-wrap: break-word; 
	}
}
.rma-comments{
	p{
		margin-bottom: 15px;
	}
	table{
		border-collapse: collapse;
		table-layout: fixed;
		width: 100%;
	}
	table td{
		padding-top: 6px; 
		vertical-align: top;
		padding-bottom: 6px;
	}
	td.author{
		width: 130px;
	}
	td.desc{
		padding-left: 10px;
		word-wrap: break-word;
		p{
			margin:0;
			word-wrap: break-word;
		}
	}
	@media (max-width: $screen-xs-min) {
		table,tr,td{
			display: block;
			padding-left:0 !important;
		}
	}
}
.rma-cancel{
	text-align: right;
	a{
		color: $colorRmaCancel;
		text-decoration: underline;
	}
}

.rma-connect-vendor {
	margin-bottom: 15px;
}

.rma-connect-vendor-pannel {
	margin-bottom: 0;

	p {
		cursor: pointer;
		display: block;
		padding-bottom: 23px;
	}
	.glyphicon-comment {
		float: left;
		margin-right: 5px;
		margin-top: 3px;
	}
	.caption {
		display: block;
		float: left;
	}
	.fa {
		float: right;
	}
}

.rma-connect-vendor-form {
	display: none;
	border-top: none;
	#rma-connect-vendor-form {
		label.error {
			padding-left: 0px !important;
		}
	}
	#question_text {
		font-size: 14px;
	}
}

.sales-rma-view .messages {
	@media (max-width: $screen-sm) {
		margin-top: -10px;
		margin-bottom: 40px;
	}
}



#step-2 {
	
	form{
		input[type="text"]{
			line-height: 29px;
			height: 29px;
			padding: 0 15px 0 15px;
		}
		label{
			font-size: 12px;
			line-height: 29px;
			padding-right: 20px;
			text-align: right;
			font-weight: normal;
			&.double-line {
				line-height: 1.2;
			}
			&.error{
				padding-left: 0 !important;
			}
		}
	}
	.border-top {
		padding-top: 15px;
		border-top: 1px solid $colorBorderRma;
	}
	.form-group {
		margin-bottom: 10px;
	}
	.panel-default, .panel{
		border-radius: 0;
		-webkit-box-shadow: none;
		 box-shadow:none; 
	}
	.panel-default{
		.additional{
			margin: 15px 0;
		}
		.change_address{
			margin: 5px;
		}
		.add-new{
			margin-bottom:0;
			.panel-body {
				h4{
					margin:0;
					padding:5px;
				}
				
				-webkit-box-shadow: 0;
				 box-shadow:0; 
				border: 1px $colorBorderRma solid;
				padding: 10px;
				cursor: pointer;
			}
		}
	}
	.panel-body{
		border-radius: 0;
		padding: 15px;
		position: relative;
		dl{
			margin:0;
		}
		.action a{
			padding-right: 10px;
		}
		.btn-select {
			position: absolute;
			right: 15px;
			bottom: 15px;
		}
	}
	.panel-body-with-footer {
		padding-bottom: 0px;
	}
	.panel-footer {
		background-color: $colorRmaFooter;
		padding: 5px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.bank-account-rma, .bank-account-rma:focus {
		width: 270px;
		padding-right: 3px;
		-webkit-box-shadow: inset 2px 2px 7px rgba(1, 1, 1, 0.1);
		box-shadow: inset 2px 2px 7px rgba(1, 1, 1, 0.1);
		border: 1px solid $colorBorderRma;
		color: $colorRma;
	}

	#pickup-date-form {
		.field {
			margin-bottom: 15px;
		}

		input[type=radio]{
			display:none;
		}
		label[for^="carrier_date"]{
			display:inline-block;
			width: 20%;
			font-weight: normal;
			padding: 15px 0;
			font-size: 12px;
			line-height: 20px;
			color: $colorRmaCarrier;
			text-align: center;
			vertical-align: middle;
			cursor: pointer;
			background-color: $colorBackgroundRmaCarrier;
			border: 1px solid $colorBorderRmaCarrier;

		}

		.label-1 {
			margin: 0 -2px 0 0;
		}
		.label-2,.label-3,.label-4,.label-5 {
			margin: 0 -2px 0;
		}

		@media (max-width: $screen-xs-max) {//767px
			input[type=radio] + label{
				width: 33.333%;
				min-width: 140px;
			}

			.label-1 {
				margin: 0 -2px 0 0;
			}
			.label-2 {
				margin: 0 -2px 0;
			}

			.label-3 {
				margin: 0 0 0 -2px;
			}
			.label-4 {
				margin: -1px -2px 0 0;
			}
			.label-5 {
				margin: -1px -2px 0;
			}
		}

		@media (max-width: 515px) {
			input[type=radio] + label{
				width: 50%;
			}
			.label-1 {
				margin: 0;
			}
			.label-2 {
				margin: 0 -2px 0 -4px;
			}
			.label-3 {
				margin: -1px 0 0;
			}
			.label-4 {
				margin: -1px -2px 0 -4px;
			}
			.label-5 {
				margin: -1px 0 0;
			}

		}

		@media (max-width: 380px) {
			input[type=radio] + label{
				width: 100%;
				margin: -1px 0 0;
			}
		}

		input[type=radio]:checked + label{
			outline: 0;
			background-color: $colorAccentRma;
			color: $colorRmaCarrierActive;
			font-family: $fontBlack;
		}
		.rma-dayname {
			text-transform: uppercase;
		}


		.choose-date, .carrier-time-from {
			font-weight: normal;
		}

		.choose-time {
			border: 1px solid rgb(204, 204, 204);
			padding: 0 20px 10px;
			margin-right: 4px;
			@media (max-width: 515px) {
				margin-right: 2px;
			}
			@media (max-width: 380px) {
				margin-right: 0;
			}
		}

	}
	.input-box {
		margin-bottom: 20px;
	}
	.ui-widget-header {
		background-color: $color-accent;
	}
	#time {
		span {
			background-color: rgb(204, 204, 204);
		}
	}
	#pickup-time-from, #pickup-time-to {
		font-family: $fontBlack;
		font-size: 14px;
	}
	#pickup-time-from {
		margin-left: 7px;
	}

	#wrapper-choosen-pickup-time {
		background-color: $colorBackgroundRmaCarrierChosen;
		padding: 7px;
		line-height: 25px;

		@media (max-width: 370px) {
			line-height: 25px;
		}
	}
	#slider-range{
		margin-bottom: 10px;
	}
	#pickup-date-form-panel {

		.choose-time {
			background-color: $colorBackgroundRmaCarrierTime;

		}
	}

	.legend {
		font-size: 15px;
		padding: 15px 0;
	}

	.legend-big {
		text-transform: uppercase;
		font-size: 20px;
		padding-top: 0;
		padding-bottom: 5px;
	}
	#customer-account-wrapper {
		.legend {
			padding: 15px;
		}
		#customer-account{
			@media (max-width: 335px) {
				width: 90%;
			}
		}
        margin-bottom: 20px;
	}

}

/* noUiSlider plugin
 * Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-ms-touch-action: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.noUi-target {
	position: relative;
}
.noUi-base {
	width: 100%;
	height: 100%;
	position: relative;
}
.noUi-origin {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}
.noUi-handle {
	position: relative;
	z-index: 1;
}
.noUi-stacking .noUi-handle {
	/* This class is applied to the lower origin when
	   its values is > 50%. */
	z-index: 10;
}
.noUi-stacking + .noUi-origin {
	/* Fix stacking order in IE7, which incorrectly
	   creates a new context for the origins. */
	*z-index: -1;
}
.noUi-state-tap .noUi-origin {
	-webkit-transition: left 0.3s, top 0.3s;
	transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
	cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
	height: 18px;
}
.noUi-horizontal .noUi-handle {
	width: 34px;
	height: 28px;
	left: -17px;
	top: -6px;
}
.noUi-vertical {
	width: 18px;
}
.noUi-vertical .noUi-handle {
	width: 28px;
	height: 34px;
	left: -6px;
	top: -17px;
}

/* Styling;
 */
.noUi-background {
	background: $colorBackgroundCarrierTimePicker;
	box-shadow: inset 0 1px 1px $colorShadowRma;
}
.noUi-connect {
	background: $colorAccentCarrierTimePicker;
	box-shadow: inset 0 0 3px $colorShadowRma3;
	-webkit-transition: background 450ms;
	transition: background 450ms;
}
.noUi-origin {
	border-radius: 2px;
}
.noUi-target {
	border-radius: 4px;
	border: 1px solid $colorBorderRma;
	box-shadow: inset 0 1px 1px $colorShadowRma2, 0 3px 6px -5px $colorShadowRma;
}
.noUi-target.noUi-connect {
	box-shadow: inset 0 0 3px $colorShadowRma3, 0 3px 6px -5px $colorShadowRma;
}

/* Handles and cursors;
 */
.noUi-dragable {
	cursor: w-resize;
}
.noUi-vertical .noUi-dragable {
	cursor: n-resize;
}
.noUi-handle {
	border: 1px solid $colorBorderCarrierTimePicker;
	border-radius: 3px;
	background: $colorBackgroundCarrierTimePicker;
	cursor: default;
	box-shadow: inset 0 0 1px $colorShadowRma,
		inset 0 1px 7px $colorShadowRma2,
		0 3px 6px -3px $colorShadowRma3;
}
.noUi-active {
	box-shadow: inset 0 0 1px $colorShadowRma3,
		inset 0 1px 7px $colorShadowRma2,
		0 3px 6px -3px $colorShadowRma;
}

/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
	content: "";
	display: block;
	position: absolute;
	height: 14px;
	width: 1px;
	background: $colorBackgroundCarrierTimePickerPseudo;
	left: 14px;
	top: 6px;
}
.noUi-handle:after {
	left: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
	width: 14px;
	height: 1px;
	left: 6px;
	top: 14px;
}
.noUi-vertical .noUi-handle:after {
	top: 17px;
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
	background: $colorBackgroundCarrierTimePickerDisabled;
}
[disabled] .noUi-handle {
	cursor: not-allowed;
}

.sales-rma-courier {
  #step-2 {
    .panel-default {
      .add-new {
        margin-bottom: 20px;
      }
    }
  }
  #customer-account-wrapper {
    display: none;
  }
}

.sales-po-newrma, .sales-rma-courier {
  .panel {
    .panel-body {
      .current-rma-address, .current-rma-date, .top-panel {
        background: none repeat scroll 0 0 $colorBackgroundRmaCarrier;
        border-bottom: 1px solid $colorBorderRma;
        margin: -15px -15px 0;
        padding: 15px;
      }
      .current-rma-date {
        margin: -15px -15px -15px;
      }
    }
    .panel-footer {
      background: none repeat scroll 0 0 transparent;
      border: medium none;
      padding: 0 15px 15px;
    }
  }
  dd.separator {
    margin-top: 15px;
  }
}

.sales-rma-view .title-section .headerTop h2 {
	font-family: $fontRegular;
	font-weight: bold;
	margin: 0 -15px 15px;
}