.tableWrapper {
        border-top: 1px solid $bc-secondary;
        .table-header-group {
        	border-bottom: 1px solid $color_ebeaed;
        	@media (max-width: $screen-xs-max) {
        		border:none;
        		text-transform: uppercase;
        		font-size: 11px;
        	}
        }
        .table-row {
            display: block;
             .table-cell {
                vertical-align: top;
                &.cell-02 {
                	@media (max-width: $screen-xs-max) {
						text-align: left;
                	}
                }
            }
        }
    }

.node-type-shopping-cart {
	color:$color_555;
	#content-main {
		section {
			> header {
				h1 {
					font-size: 28px;
					font-weight: normal;
					font-family: $fontRegular;
					text-transform: uppercase;
					@media (max-width: $screen-xs-max) {
						font-size: 18px;
						text-align: center;
					}
				}
			}
			> footer {
				a#clearAllShopping {
					line-height: image-height(sprite-file($allMap, remove-table-item));
					font-size: 10px;
					text-transform: uppercase;
				}
			}
		}
		.tableWrapper {
			.table-row {
				.table-cell {
					text-align: center;
					@media (max-width: $screen-xs-max) {
						text-align: left;
					}
					&.cell-01.td {
						text-align: left;
					}
					&.cell-02 {
						@media (max-width: $screen-xs-max) {
						text-align: left;
                		}
					}
					&.cell-04.td {
	                	text-align: right;
	                }
					&.cell-05 {
						text-align: left;
					}
					figure {
						border:1px solid $color_f1f1f1;
					}
					.description_checked_product {
						.product_name {
							font-size: 16px;
							color:$color_000;
						}
						.product_size {
							font-size: 12px;
						}
						.product_availability {
							.icons-checked,
							.icons-interjection {
								font-size: 12px;
								text-transform: none;
							}

						}
					}
					.product_price {
						font-size: 16px;
						font-family: $fontRegular;
						span {
							font-size: 11px;
							color:$color_565655;
							text-decoration:line-through;
						}
					}
					.amount_product {
						text-align: center;
						font-size: 11px;
						border:1px solid $gray;
						line-height: 22px;
					}
					&.cell-03 {
						.select-group.medium {
							.button-select {
								font-size: 11px;
								text-align: center;
							}
						}
					}
					&.cell-04 {
						&.td {
							font-size: 16px;
                			font-family: $fontRegular;
						}

                	}

				}
			}
		}
		.tableWrapper {
			.table-footer-group {
				.table-row {
					.table-cell {
						&.td {
							border-top: 1px solid $color_ebeaed;
						}
						&.cell-01 {
							p {
								font-size: 14px;
								word-wrap: break-word;
								@media (max-width: $screen-xs-max) {
									font-size: 11px;
								}
							}
						}
						&.label_value {
							text-align: right;
							font-size: 16px;
							@media (max-width: $screen-xs-max) {
								text-align: left;
								font-size: 13px;
							}
						}
						&.cell-04 {
							text-align: right;
						}

					}
				}
			}
			@media (max-width: 767px) {
				border-top: none;
			}
		}
	}
}
.value_quality_price {
	@media (min-width:380px) and (max-width:767px) {
		white-space: nowrap;
	}
}

.bubble {
		background:$color_e5e5e5;
		@include border-radius(5px);
		text-align: center;
		&:before {
			background:$allMap;
			@include sprite($allMap, bubble_arrow);
		p {
			font-size: 11.46px;
			strong {
				font-size: 13.43px;
			}
		}
	}
	}
#sidebar-secondary {
	#cart-summary {
        border: 1px solid $color_ebebeb;
		margin-top: 77px;
		@media (max-width:$screen-sm-max) {
			margin-top: 20px;
		}
		header {
			h2 {
				padding: 0 0 10px;
				color: #000;
				font-size: 18px;
				font-family: $fontRegular;
				text-transform: uppercase;
				strong {
					font-weight: bold;
				}
			}
		}
		.form-action p{
			margin-bottom:0;
		}
		#product_summary {
			list-style: none;
			li {
				text-transform: none;
				span + span {
					text-transform: none;
				}
				span:first-child {
					font-size: 16px;
					@include max-screen($screen-sm-max) {
						font-size: 13px;
						text-transform: none;
					}
//					line-height: 0px;
				}
				span:last-child {
					font-size: 16px;
					font-family: $fontBlack;
					text-align: right;
				}
			}
		}
		#discount_voucher {
			.form-group {
				input[type="text"] {
					background:$allMap repeat-x;
				    @include sprite($allMap, bg-form-text-coupon);
					line-height: image-height(sprite-file($allMap, bg-form-text-coupon))+2;
					border:1px solid $color_d6d6d6;
					font-size: 12px;
				}
				input[type="submit"] {
					background:$color_000;
					line-height: 22px;
					border:none;
					color:$color_fff;
					font-size: 12px;
					text-align: center;
					text-transform: uppercase;
				}

              .coupon-errors {
                &:not(:empty) {
                  clear: both;
                  color: red;
                  display: block;
                  padding-top: 8px;
                }
              }
			}
			.coupon-list {
				dt {
					text-transform: uppercase;
					font-size: 11px;
				}
				dd {
					background:$bgMap repeat-x;
				    @include sprite($bgMap, bg-coupon);
					line-height: image-height(sprite-file($bgMap, bg-coupon));
					box-shadow:0 0 9px rgba(1,1,1, 0.21);
					border-left: 1px solid $color_ededed;
					border-right: 1px solid $color_ededed;
					i {
						cursor:pointer;
					}
				}
			}
		}
		#sum_price {
			text-transform: uppercase;
			color:$color_000;
			.val_value_sum_price {
				font-size: 18px;
			}
			.value_sum_price {
				font-size: 16px;
				font-family: $fontRegular;
				text-transform: none;
			}
		}
		.form-action {
			text-align: center;
			@media (min-width:641px) and (max-width:767px) {
				text-align: center;
			}
			@media (min-width:640px) and (max-width:640px) and (orientation : landscape) {
				text-align: right;
			}
			@media (min-width:481px) and (max-width:639px)  {
				text-align: center;
			}
			@media (min-width:480px) and (max-width:480px) and (orientation : landscape) {
				text-align: right;
			}
		}
		.button.button-primary {
			font-family: $fontRegular;
			&:focus {
				outline:none;
			}
			&:hover {
				opacity: 0.8;
			}
		}
		.shipping-method-selector {
			.panel {
				border: none;
				margin: 0;
				padding: 0;
				.panel-body {
					padding: 12px 0;
				}
			}
		}
	}
	#payment-methods {
		> header {
			h2 {
				font-size: 18px;
				font-family: $fontRegular;
				strong {
					font-family: $fontBlack;
				}
			}
		}
	}
}

#aside-shopping-cart {
	a#clearAllShopping {
		line-height: image-height(sprite-file($allMap, remove-table-item));
		font-size: 10px;
		text-transform: uppercase;
	}
}





.table-cart {
	.colgroup-01 {
		figure {
			border:1px solid $color_f1f1f1;
		}
		.description_checked_product {
			.product_name {
				font-size: 14px;
				color:$color_000;
                a:hover {
                    text-decoration: underline;
                }
			}
			.product_size {
				font-size: 12px;
			}
			.product_availability {
				.icons-checked,
				.icons-interjection {
					font-size: 12px;
					text-transform: none;
				}
			}
		}
	}
	.colgroup-02 {
		.colgroup {
			> div {
				text-align: center;
				@media (max-width: $screen-sm-min) {
					text-align: left;
				}
			}
			.cena {

				.stara_cena {
					vertical-align: middle;
					font-size: 11px;
					color: $color_565655;
					text-decoration: line-through;
				}
			}
			.ilosc {
				@media (max-width: $screen-xs-max) {
					.select-group.medium {
							.button-select {
								font-size: 11px;
								text-align: center;
							}
						}
					}

				.amount_product {
					text-align: center;
					font-size: 11px;
					border: 1px solid $gray;
					line-height: 22px;
				}
			}
			.wartosc {
				font-weight: bold;
			}
			.usun {
				text-align: center;
			}
			&.naglowek {
				.cena,
				.ilosc,
				.wartosc,
				.usun {
					font-weight: normal;
				}
			}

		}
		.stara_cena,
		.cena_zakupu {
			white-space: nowrap;
			@media (min-width: $screen-sm-min) {
				white-space: nowrap;
			}
		}
	}
}

.node-type-shopping-cart {
	 #content-main {
	 	.conditions_shipping {
	 		.panel-heading {
	 			h2 {
	 				font-size: 18px;
	 			}
	 		}
	 	}
	}
}

#trigger_conditions_shipping {
	.modal-dialog {
		* {
			border:none;
			box-shadow: none;
		}
		.panel {
			border:none!important;
		}

		.panel-heading {
			h2 {
			font-size: 18px;
			}
		}
		.panel-body {
			font-size: 14px;
		}
	}
}


.modal {
	&.learn_more {
		h2.title_section{
			font-size: 18px!important;
		}
	}
}

.tableWrapper {
	display: block;
	&.group_01 {
		width:397px;
		float:left;
	}
	&.group_02 {
		width:391px;
		float:left;
	}
	.table-header-group {
		@media (max-width: $screen-xs-max) {
			margin-bottom: -5px;
		}
		.table-row {
			@media (max-width: $screen-xs-max) {
				margin-bottom: 0;
			}
		}

	}
	.table-footer-group {
		.table-row {
			@media (max-width: $screen-xs-max) {
				margin-bottom: 0;
			}
		}
	}
	.table-row {
		display: block;
		@media (max-width: $screen-xs-max) {
			margin-bottom: 0px;
		}
		.table-cell {
			display: inline-block;
			float:left;
			&.th {
				padding-bottom: 7px;
				@media (max-width: $screen-xs-max) {
					margin-bottom: 0px;
				}
			}

			&.cell-01 {
				width:50.5703422053%; //397px;
				@media (max-width: $screen-xs-max) {
					width:100%;
				}
			}
			&.cell-02 {
				width:22.0%; // 175px;
				@media (max-width: $screen-xs-max) {
					width:80px;
				}
			}
			&.cell-03 {
				width:6.9708491762%; //55px;
				@media (max-width: $screen-xs-max) {
					width:96px;
					padding-left:13px;
				}
			}
			&.cell-04 {
				width:17.321926%; //113px;
				@media (max-width: $screen-xs-max) {
					width:87px;
				}

			}
			&.cell-05 {
				width:3.08365%; //48px;
				@media (max-width: $screen-xs-max) {
					width:35px;
				}
			}
		}
	}
}

.node-type-shopping-cart {
	#content-main {
		section {
			> header {
				h1 {
					margin:22px 0 25px 0px;
					padding:0px;
					@media (max-width: $screen-xs-max) {
						margin: 10px 0
					}
				}
			}
			> footer {
				padding-bottom: 15px;
				a#clearAllShopping {
					i {
						position:relative;
						top:2px;
						margin-right: 1.267427122940431%;
					}
				}
				#btn_continue_shopping {
					float:right;
					height:28px;
					position:relative;
					top:-5px;
				}
			}
		}
		.tableWrapper {
			.table-row {
				.table-cell {
					&.td {
						padding:15px 0 15px 0;
						@media (max-width: $screen-xs-max) {
							padding:0 0 15px 0;
						}
					}
					&.cell-01.td {
						padding-left:3.422053231939163%;
						@media (max-width: $screen-xs-max) {
							padding-left:12px;
						}
					}
					&.cell-02 {
						@media (max-width: $screen-xs-max) {
							padding-left:12px;
						}
					}
					&.cell-04.td {
						padding-right: 2.534854245880862%;
						@media (max-width: $screen-xs-max) {
							padding-top: 23px;
						}
					}
					&.cell-05 {
						.delet_product {
							display: inline-block;
							margin-top: 5px;
							@media (max-width: $screen-xs-max) {
								@include inline-block;
								position: relative;
								top: 22px;
								margin-top: 0px;
							}
						}
					}
					figure {
						float:left;
						width:55px;
						margin-right: 3.168567807351077%;
						@media (max-width: $screen-xs-max) {
							margin-right:12px;
						}
					}
					.description_checked_product {
						float:left;
						position:relative;
						padding-top:3px;
						min-height: 69px;
						.product_name {
							margin-bottom: 5px;
						}
						.product_availability {
							position:absolute;
							bottom:-8px;
							left:0px;
							.icons-checked,
							.icons-interjection {
								display:inline-block;
								width:250px;
								padding-left: 15px;
							}

						}
					}
					.product_price {
						position:relative;
						span {
							margin-right: 10px;
							@media (max-width: $screen-xs-max) {
								@include inline-block;
								margin-left:0px!important;
								width:80px!important;
							}
						}
					}
					.amount_product {
						width:22px;
						height:22px;
						text-align: center;
					}
					&.cell-03 {
						padding-left:12px;
						//						.styledSelected {
						//							top:12px;
						//							width:60px;
						//						}
						.select-group.medium {
							width:60px;
							margin-top: 13px;
							.button-select {
								min-width: 60px;
							}
						}
					}
				}
			}
		}
		.tableWrapper {
			.table-footer-group {
				display:block;
				.table-row {
					.table-cell {
						display:block;

						&.cell-01 {
							width:31.93916349809886%;
							@media (max-width: $screen-xs-max) {
								width:100%;
							}
							p {
								margin-bottom: 0px;
								&+a {
									position:relative;
								}
							}
						}
						&.cell-02 {
							width:1px;
							float:left;
							display:inline-block;
						}
						&.cell-03 {
							width:47.52851711026616%;
							@media (max-width: $screen-xs-max) {
								width:50%;
							}
						}
						&.cell-04 {
							width:17.11026615969582%;
							@media (max-width: $screen-xs-max) {
								width:50%;
								padding-top: 6px!important;
							}
						}
						&.cell-05{
							width:3.29531051964512%;
						}
						&.cell-04 {
							padding-right: 2.534854245880862%;
						}

					}
				}
			}
		}
	}
}
.value_quality_price {
	margin-bottom: 15px;
	text-transform: uppercase;
	font-size: 14px;
	@media (max-width: $screen-xs-max) {
		padding-top: 11px;
	}
}
.value_quality_delivery {
	position:relative;

}
.bubble {
	width:187px;
	position:absolute;
	top: -31px;
	right: 161px;
	@media (max-width: $screen-xs-max) {
		position:relative;
		top:inherit;
		right:inherit;
		margin-left:11px;
		margin-top:-5px;
		margin-bottom: 10px;
	}
	> div {
		padding:15px;
	}
	&:before {
		content:' ';
		@include inline-block;
		@include sprite-dimensions($allMap, bubble_arrow);
		position:absolute;
		top:20px;
		right:-26px;
	}
	p {
		margin:0px;
		padding:0px;
	}
}
.quality_price {
	margin-bottom: 15px;
	display:block;
	@media (max-width: $screen-xs-max) {
		margin-bottom: 11px;
		padding-right: 9px;
	}
	@media(max-width: 379px) {
		margin-top: 12px;
	}
}
.quality_delivery {
	@media (max-width: $screen-xs-max) {
		margin-bottom: 11px;
		padding-right: 9px;
	}
}

.node-type-shopping-cart {
	#sidebar-secondary {
		@media (min-width: $screen-md-min) {
			padding-left: 0px;
		}
	}
}

#sidebar-secondary {
	aside {
		margin-bottom: 12px;
	}
	.col-sidebar-cart-summary {
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			width:40%;
			float:left;
		}
	}
	#cart-summary {
		padding:24px 15px;
		@media (max-width: $screen-md-max) {
			position:relative;
			padding:24px 27px;
		}
		@media (max-width: $screen-xs-max) {
			padding: 10px 15px;
		}
		> header {
			margin-bottom: 30px;
			h2 {
				margin: 0;
				padding: 0;
			}
		}
		#product_summary {
			margin: 0px 0px 8px;
			padding:0px;
			li {
				margin-bottom: 4px;
				overflow:hidden;
				span + span{
					@media (max-width: 360px) {
						float:right;
						margin-right: 17px;
					}
				}
				span:first-child {
					@include inline-block;
					width:174px;
				}
				span:last-child {
					@include inline-block;
					float: right;
					margin-right: 0px;
					font-size: 16px;
					font-family: latoregular, sans-serif;
					@media (max-width: $screen-sm-max) {
						float: right;
						margin-right: 0px;
					}
				}
			}
		}
		.button.button-third {
			padding: 6px 18px;
			background: #adadad !important;
			background: -moz-linear-gradient(-80deg, #adadad 0%, #adadad 100%) !important;
			background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #adadad), color-stop(100%, #adadad)) !important;
			background: -webkit-linear-gradient(-80deg, #adadad 0%, #adadad 100%) !important;
			background: -o-linear-gradient(-80deg, #adadad 0%, #adadad 100%) !important;
			background: -ms-linear-gradient(-80deg, #adadad 0%, #adadad 100%) !important;
			background: linear-gradient(135deg, #adadad 0%, #adadad 100%) !important;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$startColor, endColorstr=$stopColor,GradientType=1 ) !important;
			color:$color_fff;
			&:hover,
			&.hover,
			&:focus,
			&.focus {
				background: #444444 !important;
				background: -moz-linear-gradient(-80deg, #444444 0%, #444444 100%) !important;
				background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #444444), color-stop(100%, #444444)) !important;
				background: -webkit-linear-gradient(-80deg, #444444 0%, #444444 100%) !important;
				background: -o-linear-gradient(-80deg, #444444 0%, #444444 100%) !important;
				background: -ms-linear-gradient(-80deg, #444444 0%, #444444 100%) !important;
				background: linear-gradient(135deg, #444444 0%, #444444 100%) !important;
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$startColor, endColorstr=$stopColor, GradientType=1) !important;
				border-color: #444444;;
			}
		}
		.checkout-logo {
			padding: 5px 15px;
			width: 120px;
		}
		#discount_voucher {
			margin-bottom: 36px;
			margin-top: 15px;
			.form-group {
				margin-bottom:11px;
				.info_discount_voucher {
					@include inline-block;
					margin-bottom: 8px;
					clear: both;
					float: left;
				}

				input[type="text"] {
					@include inline-block;
					height: image-height(sprite-file($allMap, bg-form-text-coupon))+2;
					max-width: image-width(sprite-file($allMap, bg-form-text-coupon));
					padding:0px 7px;
					width:56.38629283489097%;
					margin-right:10px;
					float:left;
					clear:left;
				}
				input[type="submit"] {
					@include inline-block;
					line-height: 22px;
					height: 22px;
					width:72px;
					float:left;
				}
				a.btn {
					background: $color_008733 !important;
				}
			}
			.coupon-list {
				margin-bottom:0px;
				dt {
					@include inline-block;
					margin-bottom: 6px;
					@media (max-width: 360px) {
						display:block;
					}
				}
				dd {
					@include inline-block;
					height: image-height(sprite-file($bgMap, bg-coupon));
					padding: 0 5px;
					padding-right: 20px;
					position:relative;
					width:auto;
					display:block;
					i {
						position:absolute;
						right: 4px;
						top:5px;
						cursor:pointer;

					}
				}
			}
		}
		#sum_price {
			margin-bottom: 13px;
			.val_value_sum_price {
				@include inline-block;
			}
			.value_sum_price {
				@include inline-block;
				float: right;
				margin-right: 0px;
				@media (max-width: $screen-sm-max) {
					float: right;
					margin-right: 0px;
				}

			}
		}
		.form-action {
			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				position:absolute;
				bottom: 41px;
				right: 15px;
				width: 100%;
				max-width: 250px;
			}
		}
		.button.button-primary {
			width:100%;
			max-width: 225px;
			margin:0 auto;

		}
	}
	#payment-methods {
		padding:24px 15px;
		@media (max-width: $screen-md-max) {
			padding:24px 27px;
		}
		@media (max-width: $screen-xs-max) {
			padding: 10px 15px;
		}
		> header {
			margin-bottom: 27px;
			h2 {
				margin: 0;
				padding: 0;
			}
		}
		.payment-methods-list {
			@media(min-width: 1200px)  {
				margin-left:-2px;
				margin-right: -2px;
			}
			a {
				@include inline-block;
				max-width: 83px;
				margin-bottom: 12px;
				&:nth-child(4n+0) {
					@media (max-width: $screen-xs-max) {

					}
				}
				img {
					width:100%;
					height:auto;
				}
			}
		}
		br {
			@media(min-width:640px) and (max-width:991px) {
				display:none;
			}
		}
	}
}

#aside-shopping-cart {
	padding: 15px 5px;
	padding-top: 15px;
	margin:0 5px 0;
	a#clearAllShopping {
		i {
			position:relative;
			top:2px;
			margin-right: 10px;
		}
	}
	#btn_continue_shopping {
		float:right;
		height:28px;
		position:relative;
		top:-5px;
	}
}





.table-cart {
	.colgroup-01 {
		width:100%;
		float:left;
		padding: 15px;
		@media (min-width: $screen-sm-min) {
			width:50%;
		}
		@media (max-width: $screen-xs-max) {
			padding: 15px 15px 0;
		}
		@media (max-width: 400px) {
			padding-left: 5px;
		}
		figure {
			float:left;
			width:55px;
			margin-right: 3.168567807351077%;
			@media (max-width: $screen-xs-max) {
				margin-right:12px;
			}
		}
		.description_checked_product {
			//float:left;
			position:relative;
			padding-top:3px;
			min-height: 69px;
			padding-bottom: 20px;
			margin-left: 64px;
			font-size: 14px;
			text-transform: uppercase;
			.product_name {
				margin-bottom: 5px;
				@media(min-width: 1100px) {
					padding-right: 25px;
				}
			}
			.product_availability {
				position:absolute;
				bottom:-8px;
				left:0px;
				.icons-checked,
				.icons-interjection {
					display:inline-block;
					width:250px;
					padding-left: 15px;
				}
			}
			.product_size {
				text-transform: none;
			}
		}
	}
	.colgroup-02 {
		width:100%;
		float:left;
		position:relative;
		padding-right: 15px;
		@media (max-width: 400px) {
			padding-right: 5px;
		}
		@media (min-width: $screen-sm-min) {
			width:50%;
		}
		.colgroup {
			width:100%;
			padding:15px 0;
			@media (min-width: $screen-sm-min) {
				padding:20px 0;
			}
			> div {
				@media (max-width: $screen-sm-min) {
					padding-left: 15px;
				}
			}
			&.naglowek {
				.wartosc {
					@media (max-width: $screen-sm-min) {
						padding-left: 5px;
					}
				}
			}
			.wartosc {
				@media (max-width: $screen-sm-min) {
					padding-left: 0px;
				}
			}
			.usun {
				@media (max-width: $screen-sm-min) {
					padding-left: 0px;
				}
			}
			.col {
				margin-right:15px;
			}
			.cena {
				width:33.333%;
				float:left;
				.cart-price {
					color: $color_8a8a8a;
					font-size: 16px;
				}
				.stara_cena {
					display: inline-block;
					zoom: 1;
					margin-left: 0px !important;
					width: 80px !important;
					margin-right: 10px;
				}
				@media (min-width: $screen-md-min) {
					position:relative;
					padding-top: 7px;
				}
			}
			.ilosc {
				width:33.333%;
				float:left;
				.select-group.medium {
					display:none;
				}
				@media (max-width: $screen-xs-max) {
					.select-group.medium {
						width: 60px;
						margin-top: 13px;
						display:block;
					}
					.select-group.medium {
						width:60px;
						margin: 0px 0px 0px 5px;
						.button-select {
							min-width: 60px;
						}
					}
				}

				.amount_product {
					width: 22px;
					height: 22px;
					margin:0 auto;
					@media (max-width: $screen-xs-max) {
						display:none!important;
					}
				}

				.selectboxit-container .selectboxit {
					border-color: #d5d5d5;
				}
				div.qty,  a.qty_less, a.qty_more,  div.qty_label {
					float: left;
					width: 32px;
					height: 32px;
					border: 1px solid #f1f1f1;
					text-align: center;
					padding: 1px 0 0;
					font-size: 20px;
					color: #7e7e7e;
					@media (max-width: 430px) {
						width: 22px;
					}
				}
				a.qty_less, a.qty_more {
					display: block;
				}
				div.qty input {
					width: 100%;
					border: none;
					text-align: center;
					font-size: 16px;
					outline: none !important;
				}
				.quantity_blocks{
					width: 96px;
					margin: 0 auto;
					@media (max-width: $screen-xs-max) {
						margin: 0;
					}
					.error {
						padding: 0 !important;
						display: none;
					}
				}
				@media (max-width: $screen-xs-max) {
					a.qty_less, a.qty_more {
						display: none;
					}
					div.qty {
						width: 70px;
					}
				}
			}
			.wartosc {
				width:33.333%;
				float:left;
				font-weight: bold;
				padding-top: 11px;
				@media (min-width: $screen-md-min) {
					padding-top: 3px;

				}
			}
			.usun {
				i {
					color: #8a8a8a;
					&:hover {
						color: #000;
					}
				}
				width:15px;
				float:right;
				padding-top: 5px;
			}
			&.naglowek {

				padding-right: 15px;
				@media (min-width: $screen-sm-min) {
					position:absolute;
					top:-38px;
					left:0px;
					padding-right: 30px;
					display:none;
				}
				.cena,
				.ilosc,
				.wartosc,
				.usun {
					padding-top:0px!important;
					text-transform: uppercase;
				}
				.cena {
					padding-top: 0px!important;

				}
				.wartosc {
					@media (min-width: $screen-md-min) {
						padding-top: 0px;
					}
				}
			}

		}
		.stara_cena,
		.cena_zakupu {
			display:block;
			position: relative;
			top: -5px;
			@media (min-width: $screen-sm-min) {
				display:inline-block;
			}

		}

		.stara_cena {
			@media (min-width: 1100px) {
				position: absolute;
				top: 5px;
				left: -50px;
			}
		}
	}
}

.table-cart {
	.table-row{
		.colgroup-01 {
			.colgroup.naglowek {
				display: none;
			}
		}
		&:first-child {
			.colgroup-02 {
				.colgroup.naglowek {
					@media (min-width: $screen-sm-min) {
						top:-55px;
						display:block;
					}
				}
			}
			.colgroup-01 {
				.colgroup.naglowek {
					top:75px;
					display:block;
					position: absolute;
					.product{
						text-transform: uppercase;
					}
					@media (min-width: $screen-md-min) {
						top:97px;
					}
				}
			}
		}
	}
}

.node-type-shopping-cart {
	#content-main {
		.conditions_shipping {
			display:none;
			margin:15px;
			.panel-heading {
				padding:17px 0px 17px 25px;
				margin:0px;
				h2 {
					margin:0;
					padding:0px;
				}
			}
			.panel-body {
				padding:0px 25px
			}
		}
	}
}

#trigger_conditions_shipping {
	.modal-dialog {
		.modal-content,
		.modal-body {
			padding:0px;
		}
		.panel-heading {
			padding: 16.86px 0px 0px 29.41px!important;
			h2 {
				margin:0px;
				padding:0px;
			}
		}
		.panel-body {
			padding: 0 29.41px 0 29.41px!important;
		}
	}
}

.node-type-shopping-cart {
	#content-main {
		.panel {
			&.panel-default {
				@include border-radius(1px);
				border-color:$color_ebebeb;
				padding: 15px;
			}
			.panel-heading {
				background:transparent;
				border: none;
				font-size: 18px;
				color: $colorFont;
				height: 25px;
				strong {
					max-width: 300px;
					display: inline-block;
					padding-right: 15px;
					vertical-align: top;
					@include max-screen($screen-md-max) {
						max-width: 33%;
					}
					@include max-screen($screen-sm-max) {
						max-width: 36%;
					}
					@include max-screen($screen-xs-max) {
						max-width: none;
					}
				}
			}
		}
	}
}

.node-type-shopping-cart {
	#content-main {
		.panel {
			.panel-heading {
				padding:14.86px 0 0 29.41px;
				position:relative;
				margin-bottom: 13px;
				@media (max-width: $screen-xs-max) {
					padding:14.86px 0 0px 29.41px;
				}
			}
			.panel-body {
				padding:0;
			}
		}
		.main {
			padding-right: 0;
		}
	}
	#shopping-cart {
		.main {
			border: none;
			padding-left: 0;
		}
	}
	.a-right {
		.cart-price {
			color: $color_8a8a8a;
			font-size: 16px;
			font-family: $fontRegular;
		}
	}
}
