@import (reference) "../../boostrap/less/bootstrap.less"; 
@import "../../melon/less/general/variables.less";

select.form-control{
	min-width: 50px; 
} 
.btn-xs{
	font-size: @fontSizeSmall !important;
}
.z-grid .filter{
	
	position: static;   
}
.nobr{
	white-space: nowrap !important;
}
.form-inline label{   
	font-weight: normal;
} 
.z-grid {
	
	hr{
		margin-top: 10px; 
		margin-bottom: 10px;
	}
	entry-edit{
		display: inline-block;
	}
	.outer-span label{
		display: none; 
	}
	.inline-form-text{
		padding-top: 5px;
	}
	.table-striped tbody > tr.row-selected td{
		background-color: rgba(147,175,236,0.13) !important;
	}
	.sort-arrow-asc:after,
	.sort-arrow-desc:after{
		.glyphicon();
		font-size: @fontSizeMini;
		color: @green; 
	}
	.sort-arrow-asc:after{ 
		content: "\e093"; 
	}
	.sort-arrow-desc:after{
		content: "\e094"; 
	}
	.hor-scroll{
		width: 100%;
		overflow: auto;  
	}
}
.a-center {
	text-align: center;
}
.dl-horizontal.dl-z{

	dt,dd{
		min-height: @inputHeight;
	}
	margin-bottom: 0;
	margin-top: 10px;
}
.widget-content.orders{
	.alert{
		margin-bottom:0;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	min-height: 220px;
}
table.foot-empty-cells tfoot td:empty{
	visibility: hidden;
}

@media (min-width: 768px) and (max-width: 1200px) {

	.dl-horizontal.dl-z{
		dt{
			width: 120px;
		}
		dd{
			margin-left: 130px;
		}
	}
}