.sidebar {
	.section {
		.content {
			text-align:left;
		}
	}
}


.sidebar-first {
	&.node-type-main_categories {
		#sidebar {
			@media (max-width: $screen-xs-max) {
				background:none;
			}
			.sidebar {
				background:none;
				border:none;
				box-shadow: none;
			}
			.section {
				background:$color_fff;
				border-top: 3px solid $colorAccentSidebarAccount;
				border-left: 1px solid $colorBorderSidebarAccount;
				border-right: 1px solid $colorBorderSidebarAccount;
			}
		}
	}
}
