#account-edit {
	label {
		font-weight: 400;
	}
	input {
		color: inherit;
		max-width: 250px;
	}
	div.lastname-margin, div.confirmation-margin {
		margin-top: 10px;
		@media(max-width: $screen-sm-max) {
			margin-top: 0;
		}
	}
	label.lastname-margin, label.confirmation-margin {
		margin-top: 10px;
	}
	.account_data_container {
		padding-bottom: 20px;
		.account_data {
			height: 34px;
			line-height: 34px;
		}
		div:first-child, label {
			text-align: left;
			@media(min-width: $screen-md-min) {
				text-align: right;
				line-height: 34px;
			}
		}
	}
	.account_phone_desc {
		padding-top: 10px;
	}
	.accountfix {
		height: auto;
		@media(min-width: $screen-md-min) {
			height: 0px;
		}
	}
	.account_data_separator {
		border-top: 1px solid $color_ebebeb;
		padding: 0;
		margin: 0;
		&#account_data_separator_1 {
			padding-bottom: 15px;
			margin-top: -7px;
		}
		&#account_data_separator_2 {
			margin-top: -10px;
			padding-bottom: 20px;
		}
		&#account_data_separator_3, &#account_data_separator_4 {
			margin-top: 15px;
			padding-top: 15px;
		}
	}
	.account_submit_container {
		text-align: right;
	}
	.account_editpassword_submit_container {
		.submit-container {
			max-width: 250px;
		}
	}

}
.my-account .has-feedback .form-control {
	padding-right: inherit !important;
}

body.customer-account-password {
	.social-login-caption {
		@media(max-width: $screen-sm-max) {
			margin-top: 10px;
		}
	}
	.social-login-button-container {
		@media(min-width: $screen-md-min) {
			text-align: right;
		}
	}
}