#checkout  {
	#content-main {
		> .main {
			padding:30px 30px;
			@media (max-width:480px) {
				padding:30px 15px;
			}
		}
	}
	section {
		header {
			margin-left:-30px;
			margin-bottom:30px;
			h2 {
				@media (max-width:480px) {
					padding-left: 45px;
				}
				&:before {
					@media (max-width:480px) {
					left: 14px;
					}
				}
			}
			p {
				margin-left: 35px;
			}
		}
	}
	h4 {
		margin-top:10px;
		margin-bottom:15px;
		padding:0;
	}
    h4.number_order {
      margin-bottom: 10px;
    }
	fieldset {
		> h4 {
			margin-top:0px;
		}
	}
	.panel {
		.panel-body {
			position:relative;
			.current-addres,
			.top-panel {
				margin:-15px -15px 0 -15px;
				padding:15px;
                -webkit-backface-visibility: hidden;
			}
			.top-panel {
				h4 {
					margin-top: 0px;
					margin-bottom: 15px;
					&.default {
						margin-top:10px;
					}
				}
				&+.panel-default {
						margin-top:15px;
					&+.panel-default {
						margin-top:0px;
					}
				}
			}
			dl.pull-left {
				
			}
			.btn-select {
				position:absolute;
				right:15px;
				bottom:15px;
				@media (max-width:360px) {
					position:static;
					margin-top:15px;
					clear:both;
					float: none!important;
				}
			}

            h4.addressbook-add-new>strong {
                padding-left: 10px;
            }
		}
		.panel-heading {
				padding-top: 25px;
			}
		.panel-footer {
			padding: 0 15px 15px;
		}
		.panel {
			.form-group {
				.form-group {
					margin-bottom: 0px;
					padding-right: 5px;
					&.col-xs-6 {
						@media(min-width: 730px) and (max-width:767px) {
							max-width:264px!important
						}
					}
					&+.form-group {
						padding-right: 15px;
						padding-left: 5px;
					}
				}
			}
			
		}
	}

    .add-new {
        display: block;
        .panel-body {
            padding: 10px;
            cursor: pointer;
            h4 {
                margin-bottom: 10px;
            }
        }
    }

	
	dd.separator {
		margin-top:15px;
		&.large {
			@media(min-width:481px) {
				margin-top: 25px;
			}
			
		}
	}
	dd.action {
		a {
			margin-right: 15px;
		}
	}
	#invoice {
		margin-bottom: 15px;
	}
	.staining_delivery_address {
		position:absolute;
		right:15px;
		bottom: -7px;
		margin-top:-10px;
		@media (max-width:640px) {
				position: static;
				padding-top: 15px;
				display: block;
				clear: both;
				margin-bottom: 0px;
				}
	}
	.border-top {
		padding-top: 15px;
		@media (max-width:767px) {
			padding-top: 6px;
		}
	}
	.sidebar-second {
		.main {
			padding:30px 30px;
			margin-bottom: 15px;
			@media (max-width:767px) {
				padding:15px 15px;
			}
		}
		.main {
			&.p {
				h2 {
					padding-left: 25px;
				}
			}
		}
		header {
			margin-left:-30px;
			margin-bottom:15px;
			@media (max-width:767px) {
				margin-left:-15px;
			}
			@media (max-width:480px) {
				margin-left:-30px;
			}
			&.open{
				margin-bottom:-5px;
			}
		}
		h2 {
			padding: 0px;
			position: relative;
			display: block;
			height: 18px;
			overflow: hidden;
			padding-left: 25px;
			margin-bottom: 8px;
			margin-top: 0px;
			@media (max-width:480px) {
					padding-left:45px;
				}
			&:before {
				content: ' ';
				display: block;
				width: 18px;
				height: 18px;
				position: absolute;
				left: 0px;
				top: 0px;
				@media (max-width:480px) {
					left: 14px;
				}
				}
		}
		ul,ol {
			margin-left:0px;
			padding-left:25px;
		}
	}
	#sidebar {
		.main {
			padding:15px 30px;
			margin-bottom: 15px;
			@media (max-width:480px) {
				padding:15px 15px;
			}
		}
		header {
			margin-left:-30px;
			margin-bottom:15px;
			
		}
		h2 {
			padding: 0px;
			position: relative;
			display: block;
			height: 18px;
			overflow: hidden;
			padding-left: 25px;
			margin-bottom: 8px;
			margin-top: 0px;
			@media (max-width:480px) {
					padding-left:45px;
				}
			&:before {
				content: ' ';
				display: block;
				width: 18px;
				height: 18px;
				position: absolute;
				left: 0px;
				top: 0px;
				@media (max-width:480px) {
					left: 14px;
				}
				}
		}
		
		ul,ol {
			margin-left:-15px;
			margin-right:-15px;
			padding-left:0;
		}
		.list-group {
			li {
				border:none;
				&.list-group-item {
					padding:5px 0px 5px 5px;
				}
			}
		}
	}
	form {
		.form-group {
			margin-bottom: 10px;
			@media(max-width:767px) {
				margin-bottom: 15px;
			} 
			.form-group {
				margin-bottom: 0px;
			}
		}
		
		fieldset {
			margin-bottom: 15px;
			&.no-border {
				margin-bottom: 20px;
			}
			&.default_pay {
				.form-radio {
					margin-top:15px;
				}
			}
			&#doc_pay {
				.form-radio {
					
						@media(min-width:361px) and (max-width:767px) {
							width:150px!important;
						}
					
				}
			}
			legend {
				padding-bottom: 15px;
				margin-bottom: 15px;
				&.first {
					@media(max-width:760px) {
					margin-bottom: 6px;
					}
				}
				
			}
		}

		label {
			padding-right: 2px;
		}

		.form-checkbox {
			margin-bottom: 15px;
			margin-left: 20px;

          &.agreement-container {
            border: 1px solid $color-gray2;
            margin-right: 59px;
            margin-left: 13px;
            &.has-error {
              border: 1px solid $validation-error;
            }
          }

			@media (max-width: 767px) {
				margin-bottom: 10px;
			}
			@media (max-width: 480px) {
				//margin-left:0px;
			}
			&.default_pay {
				@media (max-width: 480px) {
					margin-left: 15px;
				}
			}
			
			label {
				height:auto;

			}
		}
      .form-radio {
        label {
          padding-left: 30px;
          width: 100%;
          strong {
            font-weight: normal;
            font-family: latoblack;
          }
          span {
            position: relative;
            margin-bottom: -6px;
            @media (max-width: $screen-xs) {
              margin-bottom: 12px;
            }
          }
          span.label-wrapper {
            padding-left: 0;
            padding-right: 0;

            @media (max-width: $screen-xs) {
              width: 100%;
            }
          }
          span.payment-with-description {
            top: -6px;
            @media (max-width: $screen-xs) {
              margin-bottom: 0px;
            }
          }
        }
      }

		#pay_01 {
			.form-radio {
				label {
					
					span {
						
						@media (max-width: 360px) {
							top: -6px;
						}
					}
				}
			}
		}
		#pay_02 {
			.selected_bank {
				padding-top:12px;
			}
		}
		

		input[type="text"],
		input[type="email"],
		input[type="password"],
		input[type="tel"] {
			height:29px;
			padding:0 15px 0 15px;
		}
		#remember_data {
			> .row {
				margin-bottom: 20px;
				&+.row {
					margin-bottom: 0;
				}
			}
		}
		#add_pass {
			
		}
		#login_social {
			position:relative;
			@media (min-width: $screen-sm-min) { 
			top:-32px;
			margin-bottom: -30px;
			}
			p {
				margin-bottom: 10px;
			}
			a {
				margin-right: 10px;
				&.g-plus {
					@media (min-width: $screen-sm-min) and (max-width: $screen-md-max){ 
					margin-bottom: 5px;
					}
					@media (max-width:339px) {
						margin-left:-10px
					}
				}
				&.fb {
					margin-right: 0px;
					@media (min-width: $screen-sm-min) and (max-width: $screen-md-max){ 
					margin-bottom: 5px;
					}
					@media (max-width:339px) {
						margin-right:-10px
					}
				}
			}
		}
      #payment_form_zolagopayment_gateway,
      #payment_form_zolagopayment_cc {
        margin: 0px;
        padding: 0px;
        li {

        }
        .form-group {
          position: relative;
        }
        label {
          position: relative;
          top: -25px;
          left: -3px;
          padding-left: 0px;

          min-height: 67px;
          padding-right: 0px;

          @media (max-width: $screen-sm-min) {
            width: 100%;
          }
          @media (max-width: $screen-md-min) {
            display: block;
          }
          img {
//            margin-bottom: 5px;
            height: auto;
          }
          span {
            position: static;

          }
        }
      }
		.action {
			a {
				position:relative;
				//top:12px;
			}
			button {
				min-width: 120px;
			}
		}
		#remember_data {
			.row {
			margin-bottom: 0px;
			p {
				margin-bottom: 15px;
			}
			} 
		}
		.default_delivery {
			margin-bottom: 0px;
			&.small-no-float {
				@media(max-width:530px) {
					float:none!important;
					margin-bottom: 10px;
					clear:both;
				}
			}
			
		}
		.phone {
			@media (max-width:525px){
					display:inline-block;
					margin-bottom: 0px;
				}
				@media (max-width:359px){
					display:block;
					margin-bottom: 0px;
				}
			span {
				
				@media (max-width:359px){
					display:block;
					
				}
			}
		}
		#back {
			position:relative;
			top:12px;
		}
	}
}


#checkout {
	#content-main {
		@media(max-width: $screen-xs-max) {
		padding-left: 0px;
		padding-right: 0px;
		}
	
	}
	.sidebar-second {
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			//margin-top:-15px;
		}
		@media(max-width: $screen-sm-max) {
		padding-left: 15px;
		padding-right: 15px;
		}
		@media(max-width: $screen-xs-max) {
		padding-left: 0px;
		padding-right: 0px;
		}
	}
	.current-addres {
		+ .panel {
			margin-top: 15px;
			&+ .panel {

			}
		}
		
	}
		.toggle {
				display:none;
			
		}
		.panel-body {
			dl {
				margin-bottom: 0px;
				&.pull-left {
					&.small-no-float {
						@media (max-width:360px) {
							//clear:both;
							float: none!important;
						}
					}
				}
				&+figure {
					@media (max-width:480px) {
					width: 115px;
					}
					img {
						@media (max-width:480px) {
						width: 100%;
						}	
					}
				}
			}
			.panel {
				margin-bottom:15px;
				margin-top:15px;
				&.selected {
					.selected_bank {
						display:block;
						margin-top: 21px;
					}
				}
			}
            .panel:first-child {
                margin-top: 15px;
            }
		}
		#block_invoice {
			display:none;
		}
		.button-primary {
			min-width: 130px;
		}
		.default_pay {
		> .panel {
			> .panel-body {
				> .panel {
					display:block;
					&:last-child {
						margin-bottom: 0px;
					}
				}
			}
		} 
		.selected_bank {
			display:none;
		}
		.flag_pay_method {
          @media (max-width: $screen-xs) {
            display: none;
          }
		}
	}

    .tooltip {
        z-index: 999;
    }
}


.logged {
	#checkout {
		.default_pay {
		> .panel {
			> .panel-heading {
				padding-bottom: 0px;
				&+ .panel-body {
					.default_pay_selected_bank {
						figure {
						position:relative;
						top:-35px;
						margin-bottom: -20px;
						}
					}
				}
			}
			
			> .panel-body {
				> .panel {
					display:none;	
					}
					.form-checkbox.default_pay {
						margin-bottom: 0px;
					}
				} 
			}
		}
	}
}

#invoice_data {
	display:none;
}
.checkout-success {
  .see-this-order {
    font-size: 11px;
  }
}

#checkout-onepage-social-login {
	margin-top: -15px;
}

p.text-potwierdzenie {
	margin: 0;
	@media(max-width: $screen-sm-max) {
		margin-bottom: 15px;
	}
}