.order-view {
	#content-main {
		width:100%;
		margin-left:0px;
		> .main {
			padding:30px;
		}
		section {
			> header {
				margin-bottom:30px;
				margin-left: -30px;
				h1 {
					margin:22px 0 25px 0px;
					padding:0px;
					@media (max-width: $screen-xs-max) {
						margin: 10px 0
					}
				}
				h2 {
					  font-weight: bold;
					  font-family: "latoregular"; 
	
				}
				.table-cart {
					width:100%;
					margin-bottom:10px;
				}
				p {
					margin-bottom:0px;
                    margin-left:35px;

				}
			}
			> footer {
			 	padding-bottom: 15px;
				a#clearAllShopping {
					i {
						position:relative;
						top:2px;
						margin-right: 1.267427122940431%;
					}
				}
				#btn_continue_shopping {
					float:right;
					height:28px;
					position:relative;
					top:-5px;
				}
			}
		}		
		.headerTop {
			display: block;
			#order_header {
				height:26px;
			}
			.order-date {
				float:right;
				font-size:85%;
			}
		}
		.tableWrapper {
			.table-row {
				.table-cell {
					&.td {
						padding:15px 0 15px 0;
						@media (max-width: $screen-xs-max) {
							padding:0 0 15px 0;
						}
					}
					&.cell-01.td {
						padding-left:3.422053231939163%;
						@media (max-width: $screen-xs-max) {
							padding-left:12px;
						}
					}
					&.cell-02 {
						@media (max-width: $screen-xs-max) {
						padding-left:12px;
                		}
					}
					&.cell-04.td {
						padding-right: 2.534854245880862%;
						@media (max-width: $screen-xs-max) {
							padding-top: 23px;
						}
	                }
					&.cell-05 {
						.delet_product {
							display: inline-block;
							margin-top: 5px;
							@media (max-width: $screen-xs-max) {
								@include inline-block;
							position: relative;
							top: 22px;
							margin-top: 0px;
							}
						}
					}
					figure {
						float:left;
						width:55px;
						margin-right: 3.168567807351077%;
						@media (max-width: $screen-xs-max) {
							margin-right:12px;
						}
					}
					.description_checked_product {
						float:left;
						position:relative;
						padding-top:3px;
						min-height: 69px;
						.product_name {
							margin-bottom: 5px;
						}
						.product_availability {
							position:absolute;
							bottom:-8px;
							left:0px;
							.icons-checked,
							.icons-interjection {
								display:inline-block;
								width:250px;
								padding-left: 15px;
							}
							
						}
					}
					.product_price {
						position:relative;
						span {
							margin-right: 10px;
		                	@media (max-width: $screen-xs-max) {
								@include inline-block;
								margin-left:0px!important;
								width:80px!important;
							}
						}
					}
					.amount_product {
						width:22px;
						height:22px;
						text-align: center;
					}
					&.cell-03 {
						padding-left:12px;
//						.styledSelected {
//							top:12px;
//							width:60px;
//						}
						.select-group.medium {
							width:60px;
							margin-top: 13px;
							.button-select {
								min-width: 60px;
							}
						}
					}
				}
			}
		}
		.tableWrapper {
			.table-footer-group {
				display:block;
				.table-row {
					.table-cell {
						display:block;
						@media (max-width: $screen-xs-max) {
							padding-bottom:0px;
						}						
						&.cell-01 {
							width:31.93916349809886%;
							@media (max-width: $screen-xs-max) {
								width:100%;
							}
							p {
								margin-bottom: 0px;
								&+a {
									position:relative;
								}
							}
						}
						&.cell-02 {
							width:1px;
							float:left;
							display:inline-block;
						}
						&.cell-03 {
							width:47.52851711026616%;
							@media (max-width: $screen-xs-max) {
								width:67%;
							}
						}
						&.cell-04 {
							width:17.11026615969582%;
							@media (max-width: $screen-xs-max) {
								width:30%;
								padding-top: 6px!important;
								padding-left:6px;
								.quality_price {
									padding-top:5px;
									margin-top:0px;
									margin-bottom:0px;
								}
							}
						}
						&.cell-05{
							width:3.29531051964512%;
						}
						&.cell-04 {
							padding-right: 4.5%;
						}
						
					}
				}		
			}
		}
	}
}