.tableWrapper {
        display: block;
        &.group_01 {
			width:397px;
			float:left;
        }
        &.group_02 {
			width:391px;
			float:left;
        }
        .table-header-group {
        	@media (max-width: $screen-xs-max) {
        		margin-bottom: -5px;
        	}
        	.table-row {
        		@media (max-width: $screen-xs-max) {
        			margin-bottom: 0;
        		}
        	}
        	 
        }
        .table-footer-group {
        	.table-row {
        		@media (max-width: $screen-xs-max) {
        			margin-bottom: 0;
        		}
        	}
        }
        .table-row {
            display: block;
            @media (max-width: $screen-xs-max) {
            	margin-bottom: 0px;
            }
             .table-cell {
                display: inline-block;
                float:left;
                &.th {
                	padding-bottom: 7px;
                	@media (max-width: $screen-xs-max) {
                		margin-bottom: 0px;
                	}
                }
                
                &.cell-01 {
                	width:50.5703422053%; //397px;
                	@media (max-width: $screen-xs-max) {
                		width:100%;
                	}
                }
                &.cell-02 {
                	width:22.0%; // 175px;
                	@media (max-width: $screen-xs-max) {
						width:80px;
                	}
                }
                &.cell-03 {
                	width:6.9708491762%; //55px;
                	@media (max-width: $screen-xs-max) {
						width:96px;
						padding-left:13px;
                	}
                }
                &.cell-04 {
                	width:17.321926%; //113px;
                	@media (max-width: $screen-xs-max) {
						width:87px;
					}
 
                }
                &.cell-05 {
                	width:3.08365%; //48px;
                	@media (max-width: $screen-xs-max) {
						width:35px;
                	}
                }
            }
        }
    }

.node-type-shopping-cart {
	#content-main {
		section {
			> header {
				h1 {
					margin:22px 0 25px 0px;
					padding:0px;
					@media (max-width: $screen-xs-max) {
						margin: 10px 0
					}
				}
			}
			> footer {
			 	padding-bottom: 15px;
				a#clearAllShopping {
					i {
						position:relative;
						top:2px;
						margin-right: 1.267427122940431%;
					}
				}
				#btn_continue_shopping {
					float:right;
					height:28px;
					position:relative;
					top:-5px;
				}
			}
		}
		.tableWrapper {
			.table-row {
				.table-cell {
					&.td {
						padding:15px 0 15px 0;
						@media (max-width: $screen-xs-max) {
							padding:0 0 15px 0;
						}
					}
					&.cell-01.td {
						padding-left:3.422053231939163%;
						@media (max-width: $screen-xs-max) {
							padding-left:12px;
						}
					}
					&.cell-02 {
						@media (max-width: $screen-xs-max) {
						padding-left:12px;
                		}
					}
					&.cell-04.td {
						padding-right: 2.534854245880862%;
						@media (max-width: $screen-xs-max) {
							padding-top: 23px;
						}
	                }
					&.cell-05 {
						.delet_product {
							display: inline-block;
							margin-top: 5px;
							@media (max-width: $screen-xs-max) {
								@include inline-block;
							position: relative;
							top: 22px;
							margin-top: 0px;
							}
						}
					}
					figure {
						float:left;
						width:55px;
						margin-right: 3.168567807351077%;
						@media (max-width: $screen-xs-max) {
							margin-right:12px;
						}
					}
					.description_checked_product {
						float:left;
						position:relative;
						padding-top:3px;
						min-height: 69px;
						.product_name {
							margin-bottom: 5px;
						}
						.product_availability {
							position:absolute;
							bottom:-8px;
							left:0px;
							.icons-checked,
							.icons-interjection {
								display:inline-block;
								width:250px;
								padding-left: 15px;
							}
							
						}
					}
					.product_price {
						position:relative;
						span {
							margin-right: 10px;
		                	@media (max-width: $screen-xs-max) {
								@include inline-block;
								margin-left:0px!important;
								width:80px!important;
							}
						}
					}
					.amount_product {
						width:22px;
						height:22px;
						text-align: center;
					}
					&.cell-03 {
						padding-left:12px;
//						.styledSelected {
//							top:12px;
//							width:60px;
//						}
						.select-group.medium {
							width:60px;
							margin-top: 13px;
							.button-select {
								min-width: 60px;
							}
						}
					}
				}
			}
		}
		.tableWrapper {
			.table-footer-group {
				display:block;
				.table-row {
					.table-cell {
						display:block;
						
						&.cell-01 {
							width:31.93916349809886%;
							@media (max-width: $screen-xs-max) {
								width:100%;
							}
							p {
								margin-bottom: 0px;
								&+a {
									position:relative;
								}
							}
						}
						&.cell-02 {
							width:1px;
							float:left;
							display:inline-block;
						}
						&.cell-03 {
							width:47.52851711026616%;
							@media (max-width: $screen-xs-max) {
								width:50%;
							}
						}
						&.cell-04 {
							width:17.11026615969582%;
							@media (max-width: $screen-xs-max) {
								width:50%;
								padding-top: 6px!important;
							}
						}
						&.cell-05{
							width:3.29531051964512%;
						}
						&.cell-04 {
							padding-right: 2.534854245880862%;
						}
						
					}
				}		
			}
		}
	}
}
.value_quality_price {
	margin-bottom: 15px;
	@media (max-width: $screen-xs-max) {
		padding-top: 11px;
	}
}
.value_quality_delivery {
	position:relative;

}
.bubble {
		width:187px;
		position:absolute;
		top: -31px;
		right: 161px;
		@media (max-width: $screen-xs-max) {
			position:relative;
			top:inherit;
			right:inherit;
			margin-left:11px;
			margin-top:-5px;
			margin-bottom: 10px;
		}
		> div {
			padding:15px;
		}
		&:before {
			content:' ';
			@include inline-block;
			@include sprite-dimensions($allMap, bubble_arrow);
			position:absolute;
			top:20px;
			right:-26px;
		}
		p {
			margin:0px;
			padding:0px;
		}
	}
.quality_price {
		margin-bottom: 15px;
		display:block;
		@media (max-width: $screen-xs-max) {
			margin-bottom: 11px;
			padding-right: 9px;
		}
		@media(max-width: 379px) {
			margin-top: 12px;
		}
	}
.quality_delivery {
	@media (max-width: $screen-xs-max) {
			margin-bottom: 11px;
			padding-right: 9px;
		}
}

.node-type-shopping-cart {
	#sidebar-secondary {
		@media (min-width: $screen-md-min) {
			padding-left: 0px;
		}
	}
}

#sidebar-secondary {
	aside {
		margin-bottom: 12px;
	}
	#cart-summary {
		padding:24px 15px;
		@media (max-width: $screen-md-max) {
			position:relative;
			padding:24px 27px;
		}
		@media (max-width: $screen-xs-max) {
			padding: 10px 15px;
		}
		> header {
			margin-bottom: 30px;
			h2 {
				margin: 0;
				padding: 0;
			}
		}
		#product_summary {
			margin: 0px 0px 8px;
			padding:0px;
			li {
				margin-bottom: 4px;
				overflow:hidden;
				span + span{
					@media (max-width: 360px) {
						float:right;
						margin-right: 17px;
					}
				}
				span:first-child {
					@include inline-block;
					width:174px;
				}
				span:last-child {
					@include inline-block;
					float: right;
					margin-right: 0px;
					@media (max-width: $screen-sm-max) {
						float: right;
						margin-right: 0px;
					}
				}
			}
		}
		#discount_voucher {
			//margin-bottom: 36px;
			.form-group {
				margin-bottom:11px; 
				.info_discount_voucher {
					@include inline-block;
					margin-bottom: 8px;
					clear: both;
					float: left;
				}
				
				input[type="text"] {
					@include inline-block;	
					height: image-height(sprite-file($allMap, bg-form-text-coupon))+2;
					max-width: image-width(sprite-file($allMap, bg-form-text-coupon));
					padding:0px 7px;
					width:56.38629283489097%;
					margin-right:10px;
					float:left;
					clear:left;
				}
				input[type="submit"] {
					@include inline-block;
					line-height: 22px;
					height: 22px;
					width:72px;
					float:left;
				}
			}
			.coupon-list {
				margin-bottom:0px;
				dt {
					@include inline-block;
					margin-bottom: 6px;
					@media (max-width: 360px) {
						display:block;
					}
				}
				dd {
				    @include inline-block;
					height: image-height(sprite-file($bgMap, bg-coupon));
					padding: 0 5px;
					padding-right: 20px;
					position:relative;
					width:auto;
					display:block;
					i {
						position:absolute;
						right: 4px;
						top:5px;
						cursor:pointer;

					}
				}
			}
		}
		#sum_price {
			margin-bottom: 13px;
			.val_value_sum_price {
				@include inline-block;
			}
			.value_sum_price {
				@include inline-block;
				float: right;
				margin-right: 0px;
				@media (max-width: $screen-sm-max) {
					float: right;
					margin-right: 0px;
				}
				
			}
		}
		.form-action {
			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				position:absolute;
				bottom: 41px;
				right: 15px;
				width: 100%;
				max-width: 250px;
			}
		}
		.button.button-primary {
				width:100%;
				max-width: 225px;
				margin:0 auto;
			
		}
	}
	#payment-methods {
		padding:24px 15px;
		@media (max-width: $screen-md-max) {
			padding:24px 27px;
		}
		@media (max-width: $screen-xs-max) {
			padding: 10px 15px;
		}
		> header {
			margin-bottom: 27px;
			h2 {
				margin: 0;
				padding: 0;
			}
		}
		.payment-methods-list {
			@media(min-width: 1200px)  {
				margin-left:-2px;
				margin-right: -2px;
			}
			a {
				@include inline-block;
				max-width: 83px;
				margin-bottom: 12px;
				&:nth-child(4n+0) {
					@media (max-width: $screen-xs-max) {

					}
				}
				img {
					width:100%;
					height:auto;
				}
			}
		}
		br {
			@media(min-width:640px) and (max-width:991px) {
				display:none;
			}
		}
	}
}

#aside-shopping-cart {
	padding: 15px 5px;
	padding-top: 15px;
	margin:0 5px 0;
				a#clearAllShopping {
					i {
						position:relative;
						top:2px;
						margin-right: 10px;
					}
				}
				#btn_continue_shopping {
					float:right;
					height:28px;
					position:relative;
					top:-5px;
				}
}





.table-cart {
	.colgroup-01 {
		width:100%;
		float:left;
		padding: 15px;
		@media (min-width: $screen-sm-min) {
			width:50%;
		}
		@media (max-width: $screen-xs-max) {
		padding: 15px 15px 0;
		}
		@media (max-width: 400px) {
			padding-left: 5px;
		}
		figure {
			float:left;
			width:55px;
			margin-right: 3.168567807351077%;
			@media (max-width: $screen-xs-max) {
				margin-right:12px;
			}
		}
		.description_checked_product {
			//float:left;
			position:relative;
			padding-top:3px;
			min-height: 69px;
			padding-bottom: 20px;
			margin-left: 64px;
			.product_name {
				margin-bottom: 5px;
				@media(min-width: 1100px) {
					padding-right: 25px;
				}
			}
			.product_availability {
				position:absolute;
				bottom:-8px;
				left:0px;
				.icons-checked,
				.icons-interjection {
					display:inline-block;
					width:250px;
					padding-left: 15px;
				}
				
			}
		}
	}
	.colgroup-02 {
		width:100%;
		float:left;
		position:relative;
		padding-right: 15px;
		@media (max-width: 400px) {
			padding-right: 5px;
		}
		@media (min-width: $screen-sm-min) {
			width:50%;
		}
		.colgroup {
			width:100%;
			padding:15px 0;
			@media (min-width: $screen-sm-min) {
				padding:20px 0;
			}
			> div {
				@media (max-width: $screen-sm-min) {
					padding-left: 15px;
				}
			}
			&.naglowek {
				.wartosc {
					@media (max-width: $screen-sm-min) {
						padding-left: 5px;
					}
				}
			}
			.wartosc {
				@media (max-width: $screen-sm-min) {
				padding-left: 0px;
				}
			}
			.usun {
				@media (max-width: $screen-sm-min) {
					padding-left: 0px;
				}
			}
			.col {
				margin-right:15px;
			}
			.cena {
				width:33.333%;
				float:left;
				.stara_cena {
					display: inline-block;
					zoom: 1;
					margin-left: 0px !important;
					width: 80px !important;
					margin-right: 10px;
				}
				@media (min-width: $screen-md-min) {
					position:relative;
					padding-top: 7px;
				}
			}
			.ilosc {
				width:33.333%;
				float:left;
				.select-group.medium {
					display:none;
				}
				@media (max-width: $screen-xs-max) {
					.select-group.medium {
						width: 60px;
						margin-top: 13px;
						display:block;
						}
					.select-group.medium {
							width:60px;
							margin: 0px 0px 0px 5px;
							.button-select {
								min-width: 60px;
							}
						}
					}
				
				.amount_product {
					width: 22px;
					height: 22px;
					margin:0 auto;
					@media (max-width: $screen-xs-max) {
						display:none!important;
					}
				}
			}
			.wartosc {
				width:33.333%;
				float:left;
				font-weight: bold;
				padding-top: 11px;
				@media (min-width: $screen-md-min) {
				padding-top: 3px;
				
				}
			}
			.usun {
				width:15px;
				float:right;
				padding-top: 5px;
			}
			&.naglowek {
				
				padding-right: 15px;
				@media (min-width: $screen-sm-min) {
					position:absolute;
					top:-38px;
					left:0px;
					padding-right: 30px;
					display:none;
				}
				.cena,
				.ilosc,
				.wartosc,
				.usun {
					padding-top:0px!important;}
				.cena {
					padding-top: 0px!important;

				}
				.wartosc {
					@media (min-width: $screen-md-min) {
					padding-top: 0px;
					}
				}
			}
			
		}
		.stara_cena,
		.cena_zakupu {
			display:block;
			position: relative;
			top: -5px;
			@media (min-width: $screen-sm-min) {
				display:inline-block;
			}

		} 

		.stara_cena {
			@media (min-width: 1100px) {
				position: absolute;
				top: 5px;
				left: -50px;
			}
		}
	}
}

.table-cart {
	.table-row{
		&:first-child {
			.colgroup-02 {
				.colgroup.naglowek {
					@media (min-width: $screen-sm-min) {
					top:-50px;
					display:block;
					}
				}
			}
		}
	}
}

.node-type-shopping-cart {
	 #content-main {
	 	.conditions_shipping {
	 		display:none;
	 		margin:15px;
	 		.panel-heading {
	 			padding:17px 0px 17px 25px;
	 			margin:0px;
	 			h2 {
	 				margin:0;
	 				padding:0px;
	 			}
	 		}
	 		.panel-body {
	 			padding:0px 25px
	 		}
	 	}
	 }
}

#trigger_conditions_shipping {
	.modal-dialog {
		.modal-content,
		.modal-body {
			padding:0px;
		}
		.panel-heading {
			padding: 16.86px 0px 0px 29.41px!important;
			h2 {
			margin:0px;
			padding:0px;
			}
		}
		.panel-body {
			padding: 0 29.41px 0 29.41px!important;
		}
	}
}

