<?xml version="1.0"?>
<config>
    <modules>
        <ZolagoOs_OrdersExport>
            <version>0.0.1</version>
        </ZolagoOs_OrdersExport>
    </modules>
    <global>
        <models>
            <zosordersexport>
                <class>ZolagoOs_OrdersExport_Model</class>
                <resourceModel>zosordersexport_resource</resourceModel>
            </zosordersexport>
            <zosordersexport_resource>
                <class>ZolagoOs_OrdersExport_Model_Resource</class>
            </zosordersexport_resource>
        </models>
        <blocks>
            <zosordersexport>
                <class>ZolagoOs_OrdersExport_Block</class>
            </zosordersexport>
        </blocks>
        <helpers>
            <zosordersexport>
                <class>ZolagoOs_OrdersExport_Helper</class>
            </zosordersexport>
        </helpers>
        <resources>
            <zosordersexport_setup>
                <setup>
                    <module>ZolagoOs_OrdersExport</module>
                </setup>
            </zosordersexport_setup>
        </resources>
    </global>
    <crontab>
        <jobs>
            <zolagoosordersexport_export_orders>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run>
                    <model>zosordersexport/observer::cronExportOrders</model>
                </run>
            </zolagoosordersexport_export_orders>
        </jobs>
    </crontab>
</config>