<?xml version="1.0"?>
<config>
	<modules>
		<Zolago_DropshipMicrositePro>
			<version>0.0.1</version>
		</Zolago_DropshipMicrositePro>
	</modules>
	<global>
	    <cms>
	        <block>
	            <tempate_filter>zolagoudmspro/templateFilter</tempate_filter>
	        </block>
	    </cms>
        <blocks>
            <udmspro>
                <rewrite>
                    <vendor_register>Zolago_DropshipMicrositePro_Block_Vendor_Register</vendor_register>
                </rewrite>
            </udmspro>
            <zolagoudmspro>
                <class>Zolago_DropshipMicrositePro_Block</class>
            </zolagoudmspro>
        </blocks>
		<models>
			<zolagoudmspro>
                <class>Zolago_DropshipMicrositePro_Model</class>
            </zolagoudmspro>            
		</models>
        <helpers>
            <udmspro>
                <rewrite>
                    <data>Zolago_DropshipMicrositePro_Helper_Data</data>
                </rewrite>
            </udmspro>
        </helpers>
		<udropship>
		    <address>
		        <fieldsets>
		            <vendor_preferences>
		                <legend>Addresses</legend>
		                <position>80</position>
		            </vendor_preferences>
                    <company_registration_data>
                        <legend>Company data</legend>
                        <position>1</position>
                    </company_registration_data>
                    <company_contact_data>
                        <legend>Company contact data</legend>
                        <position>2</position>
                    </company_contact_data>
                    <executive_data>
                        <legend>Main person responsible for cooperation</legend>
                        <position>3</position>
                    </executive_data>
                    <administrator_data>
                        <legend>Main person responsible for system administration</legend>
                        <position>4</position>
                    </administrator_data>
                    <rma_contact_data>
                        <legend>RMA contact data</legend>
                        <position>6</position>
                    </rma_contact_data>
                    <rma_executive_data>
                        <legend>RMA executive</legend>
                        <position>7</position>
                    </rma_executive_data>
		        </fieldsets>
		    </address>
		    <vendor>
		        <fields>





		        </fields>
		    </vendor>
		</udropship>
	</global>
	<frontend>
		<routers>
            <umicrosite>
                <args>
                    <modules>
                        <udmspro before="ZolagoOs_OmniChannelMicrosite">Zolago_DropshipMicrositePro</udmspro>
                    </modules>
                </args>
            </umicrosite>
			<udmspro>
				<args>
					<modules>
						<udmspro before="ZolagoOs_OmniChannelMicrositePro">Zolago_DropshipMicrositePro</udmspro>
					</modules>
				</args>
			</udmspro>
		</routers>
        <translate>
            <modules>
                <Zolago_DropshipMicrositePro>
                    <files>
                        <default>Zolago_DropshipMicrositePro.csv</default>
                    </files>
                </Zolago_DropshipMicrositePro>
            </modules>
        </translate>
		<events>
			<controller_action_layout_load_before>
            	<observers>
                    <zolagoudmspro>
                        <type>singleton</type>
                        <class>zolagoudmspro/observer</class>
                        <method>handleCatalogLayoutRender</method>
                    </zolagoudmspro>
                </observers>
            </controller_action_layout_load_before>
        </events>
	</frontend>
</config>
