<?xml version="1.0"?>
<config>
	<modules>
		<Zolago_DropshipMicrositePro>
			<version>0.0.1</version>
		</Zolago_DropshipMicrositePro>
	</modules>
	<global>
        <blocks>
            <udmspro>
                <rewrite>
                    <vendor_register>Zolago_DropshipMicrositePro_Block_Vendor_Register</vendor_register>
                </rewrite>
            </udmspro>
            <zolagoudmspro>
                <class>Zolago_DropshipMicrositePro_Block</class>
            </zolagoudmspro>
        </blocks>
		<models>
			<zolagoudmspro>
                <class>Zolago_DropshipMicrositePro_Model</class>
            </zolagoudmspro>
		</models>
        <helpers>
            <udmspro>
                <rewrite>
                    <data>Zolago_DropshipMicrositePro_Helper_Data</data>
                </rewrite>
            </udmspro>
        </helpers>
		<udropship>
		    <address>
		        <fieldsets>
		            <vendor_preferences>
		                <legend>Addresses</legend>
		                <position>80</position>
		            </vendor_preferences>
                    <company_registration_data>
                        <legend>Company registration data</legend>
                        <position>1</position>
                    </company_registration_data>
                    <company_contact_data>
                        <legend>Company contact data</legend>
                        <position>2</position>
                    </company_contact_data>
                    <executive_data>
                        <legend>Main person responsible for cooperation</legend>
                        <position>3</position>
                    </executive_data>
                    <administrator_data>
                        <legend>Main person responsible for system administration</legend>
                        <position>4</position>
                    </administrator_data>
                    <rma_data>
                        <legend>RMA address</legend>
                        <position>5</position>
                    </rma_data>
		        </fieldsets>
		    </address>
		    <vendor>
		        <fields>
                    <!--Company registration data-->
		            <company_name>
		                <label>Company name</label>
		                <fieldset>company_registration_data</fieldset>
		                <type>text</type>
                        <position>1</position>
		            </company_name>
                    <street>
                        <label>Street and number</label>
                        <fieldset>company_registration_data</fieldset>
                        <type>text</type>
                        <position>2</position>
                    </street>
                    <city>
                        <label>City</label>
                        <fieldset>company_registration_data</fieldset>
                        <type>text</type>
                        <position>3</position>
                    </city>
                    <zip>
                        <label>Zip/Postal Code</label>
                        <fieldset>company_registration_data</fieldset>
                        <type>text</type>
                        <position>4</position>
                    </zip>
		            <tax_no>
		                <label>NIP</label>
		                <fieldset>company_registration_data</fieldset>
		                <type>text</type>
                        <position>5</position>
		            </tax_no>
                    <!--Company registration data-->

                    <!--Company contact data-->
		            <www>
		                <label>Vendor WWW page</label>
		                <fieldset>company_contact_data</fieldset>
		                <type>text</type>
		            </www>
		            <contact_email>
		                <label>Contact email</label>
		                <fieldset>company_contact_data</fieldset>
		                <type>text</type>
                        <reg_class>validate-email</reg_class>
		            </contact_email>
		            <contact_telephone>
		                <label>Contact phone</label>
		                <fieldset>company_contact_data</fieldset>
		                <type>text</type>
		            </contact_telephone>
                    <!--Company contact data-->


                    <!--Main person responsible for cooperation-->
                    <executive_firstname>
                        <fieldset>executive_data</fieldset>
                        <label>Executive firstname</label>
                        <type>text</type>
                        <position>1</position>
                    </executive_firstname>
                    <executive_lastname>
                        <fieldset>executive_data</fieldset>
                        <label>Executive lastname</label>
                        <type>text</type>
                        <position>2</position>
                    </executive_lastname>
                    <executive_telephone>
                        <fieldset>executive_data</fieldset>
                        <label>Executive Phone</label>
                        <type>text</type>
                        <position>3</position>
                    </executive_telephone>
                    <executive_telephone_mobile>
                        <fieldset>executive_data</fieldset>
                        <label>Executive Phone Mobile</label>
                        <type>text</type>
                        <position>4</position>
                    </executive_telephone_mobile>
                    <!--Main person responsible for cooperation-->

                    <!--Main person responsible for system administration-->
                    <administrator_firstname>
                        <fieldset>administrator_data</fieldset>
                        <label>Administrator first name</label>
                        <type>text</type>
                        <position>1</position>
                    </administrator_firstname>
                    <administrator_lastname>
                        <fieldset>administrator_data</fieldset>
                        <label>Administrator last name</label>
                        <type>text</type>
                        <position>2</position>
                    </administrator_lastname>
                    <administrator_telephone>
                        <fieldset>administrator_data</fieldset>
                        <label>Administrator phone</label>
                        <type>text</type>
                        <position>3</position>
                    </administrator_telephone>
                    <administrator_telephone_mobile>
                        <fieldset>administrator_data</fieldset>
                        <label>Administrator phone mobile</label>
                        <type>text</type>
                        <position>4</position>
                    </administrator_telephone_mobile>
                    <!--Main person responsible for system administration-->

                    <!--RMA address-->
                    <rma_email>
                        <fieldset>rma_data</fieldset>
                        <label>RMA contact data: Email</label>
                        <type>text</type>
                    </rma_email>
                    <rma_telephone>
                        <fieldset>rma_data</fieldset>
                        <label>RMA contact data: Phone</label>
                        <type>text</type>
                    </rma_telephone>
                    <rma_executive_telephone>
                        <fieldset>rma_data</fieldset>
                        <label>RMA executive: Phone</label>
                        <type>text</type>
                    </rma_executive_telephone>
                    <rma_executive_telephone_mobile>
                        <fieldset>rma_data</fieldset>
                        <label>RMA executive: Mobile</label>
                        <type>text</type>
                    </rma_executive_telephone_mobile>
                    <rma_executive_email>
                        <fieldset>rma_data</fieldset>
                        <label>RMA executive: Email</label>
                        <type>text</type>
                    </rma_executive_email>
                    <!--RMA address-->




                    <billing_email>
                        <fieldset>vendor_info</fieldset>
                        <label>Billing person email</label>
                        <reg_class>validate-email</reg_class>
                        <type>text</type>
                    </billing_email>
                    <billing_street>
                        <fieldset>vendor_info</fieldset>
                        <label>Billing Street Address</label>
                        <type>text</type>
                    </billing_street>
                    <billing_city>
                        <fieldset>vendor_info</fieldset>
                        <label>Billing City</label>
                        <type>text</type>
                    </billing_city>
                    <billing_zip>
                        <fieldset>vendor_info</fieldset>
                        <label>Billing Zip/Postal Code</label>
                        <type>text</type>
                    </billing_zip>

		        </fields>
		    </vendor>
		</udropship>
	</global>
	<frontend>
		<routers>
            <umicrosite>
                <args>
                    <modules>
                        <udmspro before="Unirgy_DropshipMicrosite">Zolago_DropshipMicrositePro</udmspro>
                    </modules>
                </args>
            </umicrosite>
			<udmspro>
				<args>
					<modules>
						<udmspro before="Unirgy_DropshipMicrositePro">Zolago_DropshipMicrositePro</udmspro>
					</modules>
				</args>
			</udmspro>
		</routers>
        <translate>
            <modules>
                <Zolago_DropshipMicrositePro>
                    <files>
                        <default>Zolago_DropshipMicrositePro.csv</default>
                    </files>
                </Zolago_DropshipMicrositePro>
            </modules>
        </translate>
		<events>
			<controller_action_layout_load_before>
            	<observers>
                    <zolagoudmspro>
                        <type>singleton</type>
                        <class>zolagoudmspro/observer</class>
                        <method>handleCatalogLayoutRender</method>
                    </zolagoudmspro>
                </observers>
            </controller_action_layout_load_before>
        </events>
	</frontend>
</config>
