<config>
    <sections>
        <design>
            <groups>
                <rma_document translate="label">
                    <label>Rma document</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <rma_logo translate="label">
                            <label>Logo on RMA pdf documents src</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </rma_logo>
                    </fields>
                </rma_document>
            </groups>
        </design>
    </sections>
</config>
