<?xml version="1.0"?>
<config>
    <modules>
        <Snowdog_Freshmail>
            <version>2.0.2</version>
        </Snowdog_Freshmail>
    </modules>
    <global>
        <helpers>
            <snowfreshmail>
                <class>Snowdog_Freshmail_Helper</class>
            </snowfreshmail>
        </helpers>
        <blocks>
            <snowfreshmail>
                <class>Snowdog_Freshmail_Block</class>
            </snowfreshmail>
            <adminhtml>
                <rewrite>
                    <newsletter_subscriber_grid>Snowdog_Freshmail_Block_Adminhtml_Newsletter_Subscriber_Grid</newsletter_subscriber_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <snowfreshmail>
                <class>Snowdog_Freshmail_Model</class>
                <resourceModel>snowfreshmail_resource</resourceModel>
            </snowfreshmail>
            <snowfreshmail_resource>
                <class>Snowdog_Freshmail_Model_Resource</class>
                <entities>
                    <api_request>
                        <table>snowfreshmail_api_request</table>
                    </api_request>
                    <custom_data>
                        <table>snowfreshmail_custom_data</table>
                    </custom_data>
                </entities>
            </snowfreshmail_resource>
        </models>
        <resources>
            <snowfreshmail_setup>
                <setup>
                    <module>Snowdog_Freshmail</module>
                </setup>
            </snowfreshmail_setup>
        </resources>
        <events>
            <customer_save_after>
                <observers>
                    <snowfreshmail>
                        <class>snowfreshmail/observer</class>
                        <method>customerSaveAfter</method>
                    </snowfreshmail>
                </observers>
            </customer_save_after>
            <newsletter_subscriber_save_after>
                <observers>
                    <snowfreshmail>
                        <class>snowfreshmail/observer</class>
                        <method>newsletterSubscriberSaveAfter</method>
                    </snowfreshmail>
                </observers>
            </newsletter_subscriber_save_after>
            <newsletter_subscriber_delete_after>
                <observers>
                    <snowfreshmail>
                        <class>snowfreshmail/observer</class>
                        <method>newsletterSubscriberDeleteAfter</method>
                    </snowfreshmail>
                </observers>
            </newsletter_subscriber_delete_after>
        </events>
    </global>
    <frontend>
        <routers>
            <snowfreshmail>
                <use>standard</use>
                <args>
                    <module>Snowdog_Freshmail</module>
                    <frontName>freshmail</frontName>
                </args>
            </snowfreshmail>
        </routers>
        <layout>
            <updates>
                <snowfreshmail>
                    <file>snowfreshmail.xml</file>
                </snowfreshmail>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <freshmail before="Mage_Adminhtml">Snowdog_Freshmail_Adminhtml</freshmail>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <controller_action_predispatch_adminhtml_newsletter_subscriber_index>
                <observers>
                    <snowfreshmail>
                        <class>snowfreshmail/observer</class>
                        <method>predispatchAdminhtmlNewsletterSubscriberIndex</method>
                    </snowfreshmail>
                </observers>
            </controller_action_predispatch_adminhtml_newsletter_subscriber_index>
            <admin_system_config_changed_section_snowfreshmail>
                <observers>
                    <snowfreshmail>
                        <class>snowfreshmail/observer</class>
                        <method>adminSystemConfigChangedSectionFreshmail</method>
                    </snowfreshmail>
                </observers>
            </admin_system_config_changed_section_snowfreshmail>
            <adminhtml_init_system_config>
                <observers>
                    <snowfreshmail>
                        <class>snowfreshmail/observer</class>
                        <method>adminhtmlInitSystemConfig</method>
                    </snowfreshmail>
                </observers>
            </adminhtml_init_system_config>
        </events>
        <translate>
            <modules>
                <snowfreshmail>
                    <files>
                        <default>Snowdog_Freshmail.csv</default>
                    </files>
                </snowfreshmail>
            </modules>
        </translate>
        <layout>
            <updates>
                <snowfreshmail>
                    <file>snowfreshmail.xml</file>
                </snowfreshmail>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <snowfreshmail>
                        <class>snowfreshmail/observer</class>
                        <method>layoutGenerateBlocksAfter</method>
                    </snowfreshmail>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </frontend>
    <default>
        <snowfreshmail>
            <popup_settings>
                <popup_time>180</popup_time>
                <popup_count>3</popup_count>
            </popup_settings>
            <popup_design>
                <formcontainer_width>550</formcontainer_width>
                <formcontainer_width_calculation>px</formcontainer_width_calculation>
                <formcontainer_background_color>FFFFFF</formcontainer_background_color>
                <formcontainer_border_color>CBCBCB</formcontainer_border_color>
                <formcontainer_border_width>0</formcontainer_border_width>
                <formcontainer_border_radius>0</formcontainer_border_radius>
                <formcontainer_vertical_padding>15</formcontainer_vertical_padding>
                <formcontainer_horizontal_padding>15</formcontainer_horizontal_padding>
                <form_photo_size>original_size</form_photo_size>
                <form_photo_alignment>center</form_photo_alignment>
                <textheader_display>1</textheader_display>
                <textheader_color>000000</textheader_color>
                <textheader_size>26</textheader_size>
                <textheader_alignment>center</textheader_alignment>
                <subheader_display>1</subheader_display>
                <subheader_color>444444</subheader_color>
                <subheader_size>16</subheader_size>
                <subheader_alignment>center</subheader_alignment>
                <label_width>30</label_width>
                <label_width_calculation>%</label_width_calculation>
                <label_position>inline-block</label_position>
                <label_color>333333</label_color>
                <label_size>12</label_size>
                <label_style>normal</label_style>
                <label_text_alignment>left</label_text_alignment>
                <field_width>50</field_width>
                <field_width_calculation>%</field_width_calculation>
                <field_height>32</field_height>
                <field_height_calculation>px</field_height_calculation>
                <field_color>000000</field_color>
                <field_size>12</field_size>
                <field_border_color>444444</field_border_color>
                <field_border_width>1</field_border_width>
                <agreement_display>1</agreement_display>
                <agreement_color>444444</agreement_color>
                <agreement_size>12</agreement_size>
                <agreement_alignment>left</agreement_alignment>
                <button_width>150</button_width>
                <button_width_calculation>px</button_width_calculation>
                <button_height>40</button_height>
                <button_alignment>center</button_alignment>
                <button_size>12</button_size>
                <button_color>FFF</button_color>
                <button_background_color>FF0006</button_background_color>
                <button_border_color>FFF</button_border_color>
                <button_border_width>0</button_border_width>
                <button_hovered_background_color>FF3636</button_hovered_background_color>
                <button_hovered_border_color>FF3636</button_hovered_border_color>
                <button_hovered_color>FFFFFF</button_hovered_color>
                <success_color>000000</success_color>
                <error_color>000000</error_color>
            </popup_design>
            <popup_messages>
                <popup_title>Subscribe to our newsletter</popup_title>
                <popup_text>Get updates direct to your inbox.</popup_text>
                <agreement_text>Send me your newsletter (you can unsubscribe at any time).</agreement_text>
                <button_text>Sign me up!</button_text>
            </popup_messages>
            <messages>
                <submission_success>Your sign up was sucessful! Please check your email inbox.</submission_success>
                <submission_failure>Oops. Something went wrong. Please try again later.</submission_failure>
                <already_subscribed>Given email address is already subscribed, thank you!</already_subscribed>
                <invalid_email>Please provide a valid emaill address.</invalid_email>
                <empty_field_value>Please fill all the required fields.</empty_field_value>
            </messages>
            <request_logs>
                <clean_after_day>14</clean_after_day>
            </request_logs>
        </snowfreshmail>
    </default>
    <crontab>
        <jobs>
            <snowfreshmail_run_subscribers_sync_batch>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>snowfreshmail/cron::runSubscribersSyncBatch</model>
                </run>
            </snowfreshmail_run_subscribers_sync_batch>
            <snowfreshmail_process_queue>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>snowfreshmail/cron::processRequests</model>
                </run>
            </snowfreshmail_process_queue>
            <snowfreshmail_clean_request_logs>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>snowfreshmail/cron::cleanRequestLogs</model>
                </run>
            </snowfreshmail_clean_request_logs>
        </jobs>
    </crontab>
</config>
