<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <GH_Statements>
            <version>0.3.0</version>
        </GH_Statements>
    </modules>
    <global>
        <helpers>
            <ghstatements>
                <class>GH_Statements_Helper</class>
            </ghstatements>
        </helpers>
        <models>
            <ghstatements>
                <class>GH_Statements_Model</class>
                <resourceModel>ghstatements_resource</resourceModel>
            </ghstatements>
            <ghstatements_resource>
                <class>GH_Statements_Model_Resource</class>
                <entities>
                    <calendar>
                        <table>gh_statements_calendar</table>
                    </calendar>
                    <calendar_item>
                        <table>gh_statements_calendar_item</table>
                    </calendar_item>
	                <statement>
		                <table>gh_statements</table>
	                </statement>
	                <order>
		                <table>gh_statements_orders</table>
	                </order>
	                <refund>
		                <table>gh_statements_refunds</table>
	                </refund>
	                <track>
		                <table>gh_statements_tracks</table>
	                </track>
                    <rma>
                        <table>gh_statements_rma</table>
                    </rma>
                    <marketing>
                        <table>gh_statements_marketing</table>
                    </marketing>
                    <vendor_balance>
                        <table>gh_vendor_balance</table>
                    </vendor_balance>
                </entities>
            </ghstatements_resource>
        </models>
        <blocks>
            <ghstatements>
                <class>GH_Statements_Block</class>
            </ghstatements>
        </blocks>
        <resources>
            <ghstatements_setup>
                <setup>
                    <module>GH_Statements</module>
                </setup>
            </ghstatements_setup>
        </resources>
    </global>
    <frontend>
        <secure_url>
            <udropship_statements>/udropship/statements/</udropship_statements>
        </secure_url>
        <routers>
            <ghstatements>
                <use>standard</use>
                <args>
                    <module>GH_Statements</module>
                    <frontName>statements</frontName>
                </args>
            </ghstatements>
            <udropship>
                <args>
                    <modules>
                        <GH_Statements before="Unirgy_Dropship">GH_Statements_Dropship</GH_Statements>
                    </modules>
                </args>
            </udropship>
        </routers>
        <translate>
            <modules>
                <GH_Statements>
                    <files>
                        <default>GH_Statements.csv</default>
                    </files>
                </GH_Statements>
            </modules>
        </translate>
        <layout>
            <updates>
                <ghstatements>
                    <file>ghstatements.xml</file>
                </ghstatements>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>	
            <modules>
                <GH_Statements>
                    <files>
                        <default>GH_Statements.csv</default>
                    </files>
                </GH_Statements> 
            </modules>
        </translate>
        <layout>
            <updates>
                <ghstatements>
                    <file>ghstatements.xml</file>
                </ghstatements>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ghstatements before="Mage_Adminhtml">GH_Statements_Adminhtml</ghstatements>
                    </modules>
                </args>
            </adminhtml>
            <ghstatementsadmin>
                <use>admin</use>
                <args>
                    <module>GH_Statements_Adminhtml</module>
                    <frontName>ghstatementsadmin</frontName>
                </args>
            </ghstatementsadmin>
        </routers>
    </admin>
    <default>
        <ghstatements>
            <general>
                <tax_for_commission>1.23</tax_for_commission>
            </general>
        </ghstatements>
    </default>
    <crontab>
        <jobs>
            <ghstatements_callendar>
                <schedule>
                    <!-- Run 0:00 everyday  -->
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>ghstatements/observer::processStatements</model>
                </run>
            </ghstatements_callendar>
            <ghstatements_balance>
                <schedule>
                    <!-- Run 0:00 everyday  -->
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>ghstatements/observer::calculateVendorBalance</model>
                </run>
            </ghstatements_balance>
        </jobs>
    </crontab>
</config>
