<?xml version="1.0"?>
<config>
    <default>
        <solrbridge>
            <settings>
                <logs_length_hours>48</logs_length_hours>
            </settings>
        </solrbridge>
    </default>
    <modules>
        <Zolago_Solrsearch>
            <version>0.0.9</version>
        </Zolago_Solrsearch>
    </modules>
	<admin>
		<routers>
			<solrbridge_admin>  
				<args>  
					<modules>
                        <Zolago_Solrsearch before="SolrBridge_Solsearch">Zolago_Solrsearch</Zolago_Solrsearch>
                    </modules>
				</args>
			</solrbridge_admin>
		</routers>
	</admin>
    <global>
		<resources>
            <zolagosolrsearch_setup>
                <setup>
                    <module>Zolago_Solrsearch</module>
                </setup>
            </zolagosolrsearch_setup>
        </resources>
        <models>
            <zolagosolrsearch>
                <class>Zolago_Solrsearch_Model</class>
                <resourceModel>zolagosolrsearch_resource</resourceModel>
            </zolagosolrsearch>
            <zolagosolrsearch_resource>
                <class>Zolago_Solrsearch_Model_Resource</class>
				<entities>
					<queue_item>
						<table>zolago_solrsearch_queue_item</table>
					</queue_item>
				</entities>
            </zolagosolrsearch_resource>
			<solrsearch>
				<rewrite>
					<data>Zolago_Solrsearch_Model_Data</data>
					<indexer>Zolago_Solrsearch_Model_Indexer</indexer>
					<solr>Zolago_Solrsearch_Model_Solr</solr>
					<ultility>Zolago_Solrsearch_Model_Ultility</ultility>					
				</rewrite>
			</solrsearch>
        </models>
        <helpers>
            <zolagosolrsearch>
                <class>Zolago_Solrsearch_Helper</class>
            </zolagosolrsearch>
        </helpers>
        <blocks>
            <zolagosolrsearch>
                <class>Zolago_Solrsearch_Block</class>
            </zolagosolrsearch>
			<solrsearch>
				<rewrite>
					<faces>Zolago_Solrsearch_Block_Faces</faces>
					<faces_price>Zolago_Solrsearch_Block_Faces_Price</faces_price>
					<faces_range>Zolago_Solrsearch_Block_Faces_Range</faces_range>
					<adminhtml_logs>Zolago_Solrsearch_Block_Adminhtml_Logs</adminhtml_logs>
				</rewrite>
			</solrsearch>
        </blocks>
		<events>
			
			<!-- Converter stock save -->
			<zolagocatalog_converter_stock_save_before>
				<observers>
					<zolagosolrsearch>
						<class>zolagosolrsearch/observer</class>
						<method>zolagoCatalogConverterStockSaveBefore</method>
					</zolagosolrsearch>
				</observers>
			</zolagocatalog_converter_stock_save_before>

            <catalog_converter_price_update_after>
                <observers>
                    <zolagosolrsearch>
                        <class>zolagosolrsearch/observer</class>
                        <method>catalogConverterPriceUpdateAfter</method>
                    </zolagosolrsearch>
                </observers>
            </catalog_converter_price_update_after>

            <!-- When vendor mass update attributes by attribute rules mapper -->
            <mass_autofill_attribute_rules_after>
                <observers>
                    <zolagosolrsearch>
                        <class>zolagosolrsearch/observer</class>
                        <method>collectProductsAndPushToQueue</method>
                    </zolagosolrsearch>
                </observers>
            </mass_autofill_attribute_rules_after>

            <!-- When vendor change price from grid -->
            <vendor_manual_save_price_after>
                <observers>
                    <zolagosolrsearch>
                        <class>zolagosolrsearch/observer</class>
                        <method>collectProductsAndPushToQueue</method>
                    </zolagosolrsearch>
                </observers>
            </vendor_manual_save_price_after>

            <!-- When vendor mass change price from grid -->
            <vendor_manual_mass_save_price_after>
                <observers>
                    <zolagosolrsearch>
                        <class>zolagosolrsearch/observer</class>
                        <method>collectProductsAndPushToQueue</method>
                    </zolagosolrsearch>
                </observers>
            </vendor_manual_mass_save_price_after>

            <!-- When admin manually push to solr from admin product grid -->
            <admin_manually_push_to_solr_after>
                <observers>
                    <zolagosolrsearch>
                        <class>zolagosolrsearch/observer</class>
                        <method>collectProductsAndPushToQueue</method>
                    </zolagosolrsearch>
                </observers>
            </admin_manually_push_to_solr_after>
            <admin_manually_push_to_price_queue_after>
                <observers>
                    <zolagosolrsearch>
                        <class>zolagocatalog/observer</class>
                        <method>collectProductsAndPushToQueue</method>
                    </zolagosolrsearch>
                </observers>
            </admin_manually_push_to_price_queue_after>
			
			<!-- Converter stock save -->
			<zolagocatalog_converter_stock_complete>
				<observers>
					<zolagosolrsearch>
						<class>zolagosolrsearch/observer</class>
						<method>zolagoCatalogConverterStockComplete</method>
					</zolagosolrsearch>
				</observers>
			</zolagocatalog_converter_stock_complete>
			
			<!-- Delete anywhere -->
			<catalog_product_delete_before>
				<observers>
					<zolagosolrsearch>
						<class>zolagosolrsearch/observer</class>
						<method>catalogProductDeleteBefore</method>
					</zolagosolrsearch>
				</observers>
			</catalog_product_delete_before>

			<cataloginventory_stock_item_save_commit_after>
				<observers>
					<zolagosolrsearch>
						<type>model</type>
						<class>zolagosolrsearch/observer</class>
						<method>catalogInventorySave</method>
					</zolagosolrsearch>
				</observers>
			</cataloginventory_stock_item_save_commit_after>

			<!-- Process product save anywhere -->
			<catalog_product_save_after>
				<observers>
					<zolagosolrsearch>
						<class>zolagosolrsearch/observer</class>
						<method>catalogProductSaveAfter</method>
					</zolagosolrsearch>
				</observers>
			</catalog_product_save_after>
		
			
			<!-- Process category save anywhere -->
			<catalog_category_save_after>
				<observers>
					<zolagosolrsearch>
						<class>zolagosolrsearch/observer</class>
						<method>catalogCategorySaveAfter</method>
					</zolagosolrsearch>
				</observers>
			</catalog_category_save_after>
			
			<!-- Process category delete before anywhere -->
			<catalog_category_delete_before>
				<observers>
					<zolagosolrsearch>
						<class>zolagosolrsearch/observer</class>
						<method>catalogCategoryDeleteBefore</method>
					</zolagosolrsearch>
				</observers>
			</catalog_category_delete_before>
			
			<!-- Process category delete after commit -->
			<catalog_category_delete_after>
				<observers>
					<zolagosolrsearch>
						<class>zolagosolrsearch/observer</class>
						<method>catalogCategoryDeleteAfter</method>
					</zolagosolrsearch>
				</observers>
			</catalog_category_delete_after>
			
			<!-- Process mass -->
			<catalog_product_attribute_update_after>
				<observers>
					<zolagosolrsearch>
						<class>zolagosolrsearch/observer</class>
						<method>catalogProductAttributeUpdateAfter</method>
					</zolagosolrsearch>
				</observers>
			</catalog_product_attribute_update_after>

            <!-- Process save politics -->
            <vendor_manual_mass_save_politics_after>
                <observers>
                    <zolagosolrsearch>
                        <class>zolagosolrsearch/observer</class>
                        <method>catalogProductAttributeUpdateAfter</method>
                    </zolagosolrsearch>
                </observers>
            </vendor_manual_mass_save_politics_after>
            <vendor_manual_save_politics_after>
                <observers>
                    <zolagosolrsearch>
                        <class>zolagosolrsearch/observer</class>
                        <method>catalogProductAttributeUpdateAfter</method>
                    </zolagosolrsearch>
                </observers>
            </vendor_manual_save_politics_after>

			
			<!-- Process mapper asign -->
			<zolago_mapper_after_assign_products>
				<observers>
					<zolagosolrsearch>
						<class>zolagosolrsearch/observer</class>
						<method>zolagoMapperAfterAssignProducts</method>
					</zolagosolrsearch>
				</observers>
			</zolago_mapper_after_assign_products>

            <!-- Process update price type and margin -->
            <zolago_catalog_after_update_price_type>
                <observers>
                    <zolagosolrsearch>
                        <class>zolagosolrsearch/observer</class>
                        <method>zolagoCatalogAfterUpdateProducts</method>
                    </zolagosolrsearch>
                </observers>
            </zolago_catalog_after_update_price_type>

			<!-- Procesing after response send -->
			<controller_front_send_response_after>
				<observers>
					<zolagosolrsearch>
						<class>zolagosolrsearch/observer</class>
						<method>controllerFrontSendResponseAfter</method>
					</zolagosolrsearch>
				</observers>
			</controller_front_send_response_after>
			
			<!-- disable default adding item -->
			<!-- <page_block_html_topmenu_gethtml_before>
                <observers>
                    <catalog_add_topmenu_items>
						<type>disabled</type>
                    </catalog_add_topmenu_items>
                </observers>
            </page_block_html_topmenu_gethtml_before> -->
		</events>
    </global>
	<adminhtml>
		<events>
			<!-- Just disable -->
			<catalog_product_delete_after>
				<observers>
					<solr_search>
						<type>disabled</type>
					</solr_search>
				</observers>
			</catalog_product_delete_after>
			
			<!-- Just disable -->
			<catalog_product_save_after>
				<observers>
					<solr_search>
						<type>disabled</type>
					</solr_search>
				</observers>
			</catalog_product_save_after>
			
			<!-- Will process collected products -->
			<after_reindex_process_catalog_product_price>
				<observers>
					<solr_search>
						<type>disabled</type>
					</solr_search>
					<zolagosolrsearch>
						<class>zolagosolrsearch/observer</class>
						<method>afterReindexProcessCatalogProductPrice</method>
					</zolagosolrsearch>
				</observers>
			</after_reindex_process_catalog_product_price>
			<catalogrule_after_apply>
				<observers>
					<solr_search>
						<type>disabled</type>
					</solr_search>
				</observers>
			</catalogrule_after_apply>
			<end_process_event_catalog_product_catalog_reindex_price>
				<observers>
					<solr_search>
						<type>disabled</type>
					</solr_search>
				</observers>
			</end_process_event_catalog_product_catalog_reindex_price>
			<catalog_category_prepare_save>
				<observers>
					<solr_search>
						<type>disabled</type>
					</solr_search>
				</observers>
			</catalog_category_prepare_save>
			<end_process_event_catalog_category_save>
				<observers>
					<solr_search>
						<type>disabled</type>
					</solr_search>
				</observers>
			</end_process_event_catalog_category_save>
			<catalog_entity_attribute_save_after>
				<observers>
					<solr_search>
						<type>disabled</type>
					</solr_search>
				</observers>
			</catalog_entity_attribute_save_after>
			<tag_save_after>
				<observers>
					<solr_search>
						<type>disabled</type>
					</solr_search>
				</observers>
			</tag_save_after>
			<model_save_after>
				<observers>
					<solr_search>
						<type>disabled</type>
					</solr_search>
				</observers>
			</model_save_after>
		</events>
		<layout>
			<updates>
				<zolagosolrsearch>
					<file>zolagosolrsearch.xml</file>
				</zolagosolrsearch>
			</updates>
		</layout>
	</adminhtml>
    <frontend>
        <routers>
            <zolagosolrsearch>
                <use>standard</use>
                <args>
                    <module>Zolago_Solrsearch</module>
                    <frontName>zolagosolrsearch</frontName>
                </args>
            </zolagosolrsearch>
            <customer>  
                <args>  
                    <modules>  
                        <Zolago_Solrsearch before="Solrbridge_Solsearch">Zolago_Solrsearch</Zolago_Solrsearch>  
                    </modules>  
                </args>  
            </customer>
            <solrsearch>
                <args>
                    <modules>
                        <Zolago_Solrsearch before="SolrBridge_Solrsearch">Zolago_Solrsearch</Zolago_Solrsearch>
                    </modules>
                </args>
            </solrsearch>
        </routers>
        <layout>
            <updates>
                <zolagosolrsearch>
                    <file>zolagosolrsearch.xml</file>
                </zolagosolrsearch>
            </updates>
        </layout>
		<translate>
			<modules>
				<Zolago_Solrsearch>
					<files>
						<default>Zolago_Solrsearch.csv</default>
					</files>
				</Zolago_Solrsearch>
			</modules>
		</translate>	
		<events>
			<controller_action_layout_load_before>
				<observers>
					<solr_search_observer>
						<type>disabled</type>
					</solr_search_observer>
				</observers>
			</controller_action_layout_load_before>
            <controller_action_layout_load_before>
            	<observers>
                    <zolago_solr_search_observer>
                        <type>singleton</type>
                        <class>zolagosolrsearch/observer</class>
                        <method>handleCatalogLayoutRender</method>
                    </zolago_solr_search_observer>
                </observers>
            </controller_action_layout_load_before>
		</events>	
    </frontend>
	<crontab>
        <jobs>
            <zolagosolrsearch_cleanup_queue>
                <schedule>
                    <!-- Run 0:00 everyday  -->
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>zolagosolrsearch/observer::cronCleanupQueue</model>
                </run>
            </zolagosolrsearch_cleanup_queue>
            <udpayout_process_standard>
                <schedule><cron_expr>8 3 * * *</cron_expr></schedule>
                <run><model>udpayout/observer::processStandard</model></run>
            </udpayout_process_standard>
            <sales_clean_quotes>
                <schedule>
                    <cron_expr>11 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>sales/observer::cleanExpiredQuotes</model>
                </run>
            </sales_clean_quotes>
            <aggregate_sales_report_order_data>
                <schedule>
                    <cron_expr>12 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>sales/observer::aggregateSalesReportOrderData</model>
                </run>
            </aggregate_sales_report_order_data>
            <aggregate_sales_report_shipment_data>
                <schedule>
                    <cron_expr>13 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>sales/observer::aggregateSalesReportShipmentData</model>
                </run>
            </aggregate_sales_report_shipment_data>
            <aggregate_sales_report_invoiced_data>
                <schedule>
                    <cron_expr>14 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>sales/observer::aggregateSalesReportInvoicedData</model>
                </run>
            </aggregate_sales_report_invoiced_data>
            <aggregate_sales_report_refunded_data>
                <schedule>
                    <cron_expr>15 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>sales/observer::aggregateSalesReportRefundedData</model>
                </run>
            </aggregate_sales_report_refunded_data>
            <aggregate_sales_report_bestsellers_data>
                <schedule>
                    <cron_expr>16 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>sales/observer::aggregateSalesReportBestsellersData</model>
                </run>
            </aggregate_sales_report_bestsellers_data>
            <aggregate_sales_report_coupons_data>
                <schedule>
                    <cron_expr>17 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>salesrule/observer::aggregateSalesReportCouponsData</model>
                </run>
            </aggregate_sales_report_coupons_data>
            <aggregate_sales_report_tax_data>
                <schedule>
                    <cron_expr>17 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>tax/observer::aggregateSalesReportTaxData</model>
                </run>
            </aggregate_sales_report_tax_data>
            <catalog_product_alert>
                <schedule>
                    <cron_expr>17 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>productalert/observer::process</model>
                </run>
            </catalog_product_alert>
            <udpayout_process_standard>
                <schedule>
                    <cron_expr>30 6 * * *</cron_expr>
                </schedule>
                <run>
                    <model>udpayout/observer::processStandard</model>
                </run>
            </udpayout_process_standard>
            <sitemap_generate>
                <schedule>
                    <cron_expr>25 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>sitemap/observer::scheduledGenerateSitemaps</model>
                </run>
            </sitemap_generate>

        </jobs>
    </crontab>
    <default>
        <solrbridge>
            <search_context>
                <use_category_context>1</use_category_context>
            </search_context>
        </solrbridge>
    </default>
</config>
