<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Solrsearch>
            <version>0.0.1</version>
        </Zolago_Solrsearch>
    </modules>
    <global>
        <models>
            <zolagosolrsearch>
                <class>Zolago_Solrsearch_Model</class>
                <resourceModel>zolagosolrsearch_resource</resourceModel>
            </zolagosolrsearch>
            <zolagosolrsearch_resource>
                <class>Zolago_Solrsearch_Model_Resource</class>
            </zolagosolrsearch_resource>
			<solrsearch>
				<rewrite>
					<data>Zolago_Solrsearch_Model_Data</data>
					<indexer>Zolago_Solrsearch_Model_Indexer</indexer>
					<solr>Zolago_Solrsearch_Model_Solr</solr>
					<ultility>Zolago_Solrsearch_Model_Ultility</ultility>
				</rewrite>
			</solrsearch>
        </models>
        <helpers>
            <zolagosolrsearch>
                <class>Zolago_Solrsearch_Helper</class>
            </zolagosolrsearch>
        </helpers>
        <blocks>
            <zolagosolrsearch>
                <class>Zolago_Solrsearch_Block</class>
            </zolagosolrsearch>
			<solrsearch>
				<rewrite>
					<faces>Zolago_Solrsearch_Block_Faces</faces>
					<faces_price>Zolago_Solrsearch_Block_Faces_Price</faces_price>
					<faces_range>Zolago_Solrsearch_Block_Faces_Range</faces_range>
				</rewrite>
			</solrsearch>
        </blocks>
    </global>
    <frontend>
        <routers>
            <zolagosolrsearch>
                <use>standard</use>
                <args>
                    <module>Zolago_Solrsearch</module>
                    <frontName>zolagosolrsearch</frontName>
                </args>
            </zolagosolrsearch>
            <customer>  
                <args>  
                    <modules>  
                        <Zolago_Solrsearch before="Solrbridge_Solsearch">Zolago_Solrsearch</Zolago_Solrsearch>  
                    </modules>  
                </args>  
            </customer>
        </routers>
        <layout>
            <updates>
                <zolagosolrsearch>
                    <file>zolagosolrsearch.xml</file>
                </zolagosolrsearch>
            </updates>
        </layout>
		<translate>
			<modules>
				<Zolago_Solrsearch>
					<files>
						<default>Zolago_Solrsearch.csv</default>
					</files>
				</Zolago_Solrsearch>
			</modules>
		</translate>		
    </frontend>
</config>
