<?xml version="1.0"?>
<!--
/**
 * Unirgy LLC
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.unirgy.com/LICENSE-M1.txt
 *
 * @category   Unirgy
 * @package    Unirgy_Dropship
 * @copyright  Copyright (c) 2008-2009 Unirgy LLC (http://www.unirgy.com)
 * @license    http:///www.unirgy.com/LICENSE-M1.txt
 */
 -->
<config>
    <sections>
        <udropship>
            <groups>
                <vendor>
                    <fields>
                        <concept_categories translate="label,comment">
                            <label>IDs of concept categories [DEV]</label>
							<comment>separate by ,</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </concept_categories>
					</fields>
				</vendor>
            </groups>
		</udropship>
		<solrbridge>
		    <groups>
		        <settings>
		            <fields>
			            <solr_index>
				            <label>Solr index</label>
				            <comment>Select which Solr index the store will search in. (If you dont see any core, please goto to Default Config > Solr Bridge > Indices Settings to map your stores into Solr cores)</comment>
				            <frontend_type>select</frontend_type>
				            <sort_order>5</sort_order>
				            <show_in_default>0</show_in_default>
				            <show_in_website>0</show_in_website>
				            <show_in_store>1</show_in_store>
				            <source_model>solrsearch/adminhtml_system_source_config_cores</source_model>
			            </solr_index>
		                <logs_length_hours translate="label comment" module="solrsearch">
		                    <label>Log table length in hours</label>
		                    <comment>How long database store logs</comment>
		                    <frontend_type>text</frontend_type>
		                    <sort_order>49</sort_order>
		                    <show_in_default>1</show_in_default>
		                </logs_length_hours>
		            </fields>
		        </settings>
		    </groups>
		</solrbridge>
    </sections>
</config>
