<?xml version="1.0"?>
<config>
    <modules>
       <Orba_Informwhenavailable>
          <version>0.1.2</version>
       </Orba_Informwhenavailable>
    </modules>
    <frontend>
        <routers>
            <informwhenavailable>
                <use>standard</use>
                <args>
                    <module>Orba_Informwhenavailable</module>
                    <frontName>informwhenavailable</frontName>
                </args>
            </informwhenavailable>
        </routers>
        <layout>
            <updates>
                <informwhenavailable>
                    <file>informwhenavailable.xml</file>
                </informwhenavailable>
            </updates>
        </layout>
        <translate>
            <modules>
                <Orba_Informwhenavailable>
                    <files>
                        <default>Orba_Informwhenavailable.csv</default>
                    </files>
                </Orba_Informwhenavailable>
            </modules>
        </translate>
    </frontend>  
    <global>
        <blocks>
            <informwhenavailable>
                <class>Orba_Informwhenavailable_Block</class>
            </informwhenavailable>
        </blocks>
        <models>
            <informwhenavailable>
                <class>Orba_Informwhenavailable_Model</class>
                <resourceModel>informwhenavailable_mysql4</resourceModel>
            </informwhenavailable>
            <informwhenavailable_mysql4>
				<class>Orba_Informwhenavailable_Model_Mysql4</class>
                <entities>
                    <entry>
                        <table>orba_informwhenavailable_entry</table>
                    </entry>
                </entities>
            </informwhenavailable_mysql4>
        </models>
        <resources>
            <informwhenavailable_setup>
                <setup>
                    <module>Orba_Informwhenavailable</module>
                    <class>Orba_Informwhenavailable_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </informwhenavailable_setup>
            <informwhenavailable_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </informwhenavailable_write>
            <informwhenavailable_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </informwhenavailable_read>
        </resources>
        <helpers>
            <informwhenavailable>
                <class>Orba_Informwhenavailable_Helper</class>
            </informwhenavailable>
        </helpers>
        <template>
            <email>
                <inform_when_available_template module="informwhenavailable">
                    <label>Inform when available template</label>
                    <file>inform_when_available.html</file>
                    <type>html</type>
                </inform_when_available_template>
            </email>
        </template>
    </global>
    <default>
        <informwhenavailable>
            <config>
                <active>0</active>
                <email_subject>Good news! The product you wanted to buy is already available.</email_subject>
            </config>
        </informwhenavailable>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <informwhenavailable>
                                            <title>ORBA | Inform When Available</title>
                                        </informwhenavailable>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>  
        <translate>
            <modules>
                <Orba_Informwhenavailable>
                    <files>
                        <default>Orba_Informwhenavailable.csv</default>
                    </files>
                </Orba_Informwhenavailable>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <orba_informwhenavailable>
                <schedule>
                    <cron_expr>0 18 * * *</cron_expr>
                </schedule>
                <run>
                    <model>informwhenavailable/entry::informIfAvailable</model>
                </run>
            </orba_informwhenavailable>
        </jobs>
    </crontab>
</config>
