.recently-viewed {
    .rwd-wrapper{
        
    }

    .rwd-item {
        padding:0px 5px;
    }
	h3.title-section {
		padding-top:0px;
		padding-bottom:0px;
		margin-left: -15px;
		
		@media (max-width: $screen-xs-max) {
			font-size: 11px;
			font-family: $fontRegular;
			padding-left:20px;
			margin-bottom: 29px;
		}
		&:before {
			@media (max-width: $screen-xs-max) {
			  content: ' ';
			  display: block;
			  width: 18px;
			  height: 18px;
			  background: $color-accent;
			  position: absolute;
			  left: -15px;
				top: -4px;
			}
		}
	}
	.box_listing_product {
		figure {
			&.img_product {
				margin-bottom: 10px;
			}
		}
		.name_product {
			padding:0px;
            text-align: center;
		}
	}
	.item {
		margin:0 20px;
		background: $color_fff;
		color: $color_515151;
		@media (max-width: $screen-xs-max) {
			margin:0 5px;
		}
		img {
			border:1px solid $color_f5f6f6;
		}
		a {
			&:hover {
				
			}
		}
	}
	.customNavigation {
			a {
				font-size: 48px;
				margin-top:0px;
				background:$arrowMap;
				@media (max-width: $screen-xs-max) {
					margin-top:6px;	
				}
				
				&.prev {
				left:10px;
				
				@include sprite($arrowMap, arrow-slider-latest-left-l);
				@include sprite-dimensions($arrowMap, arrow-slider-latest-left-l);
				@media (max-width: $screen-xs-max) {
					@include sprite($arrowMap, arrow-rwd-slider-prev-mobile);
					@include sprite-dimensions($arrowMap, arrow-rwd-slider-prev-mobile);
				}
				&:hover {
					@include sprite($arrowMap, arrow-slider-latest-left-h);
					@include sprite-dimensions($arrowMap, arrow-slider-latest-left-h);
					@media (max-width: $screen-xs-max) {
						@include sprite($arrowMap, arrow-rwd-slider-prev-mobile-h);
						@include sprite-dimensions($arrowMap, arrow-rwd-slider-prev-mobile-h);
					}
				}
			}
			&.next {
				right:10px;
				@include sprite($arrowMap, arrow-slider-latest-right-l);
				@include sprite-dimensions($arrowMap, arrow-slider-latest-right-l);
				@media (max-width: $screen-xs-max) {
					@include sprite($arrowMap, arrow-rwd-slider-next-mobile);
					@include sprite-dimensions($arrowMap, arrow-rwd-slider-next-mobile);
				}
				&:hover {
					@include sprite($arrowMap, arrow-slider-latest-right-h);
					@include sprite-dimensions($arrowMap, arrow-slider-latest-right-h);
					@media (max-width: $screen-xs-max) {
						@include sprite($arrowMap, arrow-rwd-slider-next-mobile-h);
						@include sprite-dimensions($arrowMap, arrow-rwd-slider-next-mobile-h);
					}
				}
			}
			}
		}

}

.recently-viewed {
	.rwd-controls {
		.rwd-buttons {
			.rwd-prev,
			.rwd-next {
				font-size: 48px;
				background:$arrowMap;
				top:112.5px;
				position:absolute;
				text-indent: -999em;	
			}
			.rwd-prev {
				left:-23px;
				
				@include sprite($arrowMap, arrow-slider-latest-left-l);
				@include sprite-dimensions($arrowMap, arrow-slider-latest-left-l);
				@media (max-width: $screen-xs-max) {
					@include sprite($arrowMap, arrow-rwd-slider-prev-mobile);
					@include sprite-dimensions($arrowMap, arrow-rwd-slider-prev-mobile);
				}
				&:hover {
					@include sprite($arrowMap, arrow-slider-latest-left-h);
					@include sprite-dimensions($arrowMap, arrow-slider-latest-left-h);
					@media (max-width: $screen-xs-max) {
						@include sprite($arrowMap, arrow-rwd-slider-prev-mobile-h);
						@include sprite-dimensions($arrowMap, arrow-rwd-slider-prev-mobile-h);
					}
				}

			}
			.rwd-next {
				right:-26px;
				@include sprite($arrowMap, arrow-slider-latest-right-l);
				@include sprite-dimensions($arrowMap, arrow-slider-latest-right-l);
				@media (max-width: $screen-xs-max) {
					@include sprite($arrowMap, arrow-rwd-slider-next-mobile);
					@include sprite-dimensions($arrowMap, arrow-rwd-slider-next-mobile);
				}
				&:hover {
					@include sprite($arrowMap, arrow-slider-latest-right-h);
					@include sprite-dimensions($arrowMap, arrow-slider-latest-right-h);
					@media (max-width: $screen-xs-max) {
						@include sprite($arrowMap, arrow-rwd-slider-next-mobile-h);
						@include sprite-dimensions($arrowMap, arrow-rwd-slider-next-mobile-h);
					}
				}
			}
			.rwd-prev,
			.rwd-next {
				&.disabled {
					visibility:hidden;
				}
			}
			
		}
	}
}