<?xml version="1.0"?>
<config>
	<modules>
		<Zolago_Checkout>
			<version>0.0.5</version>
		</Zolago_Checkout>
	</modules>
	<global>
		<helpers>
			<zolagocheckout>
				<class>Zolago_Checkout_Helper</class>
			</zolagocheckout>
		</helpers>
		<models>
			<zolagocheckout>
				<class>Zolago_Checkout_Model</class>
			</zolagocheckout>
		</models>
		<resources>
			<zolagocheckout_setup>
				<setup>
					<module>Zolago_Checkout</module>
				</setup>
			</zolagocheckout_setup>
		</resources>
	</global>
	<frontend>
		<secure_url>
			<checkout_singlepage>/checkout/singlepage</checkout_singlepage>
			<checkout_guest>/checkout/guest</checkout_guest>
		</secure_url>
		<routers>
			<checkout>
				<args>
					<modules>
						<Zolago_Checkout before="Mage_Checkout">Zolago_Checkout</Zolago_Checkout>
					</modules>
				</args>
			</checkout>
		</routers>
		<translate>
			<modules>
				<Zolago_Checkout>
					<files>
						<default>Zolago_Checkout.csv</default>
					</files>
				</Zolago_Checkout>
			</modules>
		</translate>
	</frontend>
    <default>
        <checkout>
            <options>
                <checkout_order_deactivate>0</checkout_order_deactivate>
	            <checkout_wait_for_tags>500</checkout_wait_for_tags>
            </options>
        </checkout>
    </default>
</config>


