<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Wishlist>
            <version>0.0.4</version>
        </Zolago_Wishlist>
    </modules>
    <global>
        <models>
            <zolagowishlist>
                <class>Zolago_Wishlist_Model</class>
            </zolagowishlist>
        </models>
        <helpers>
            <zolagowishlist>
                <class>Zolago_Wishlist_Helper</class>
            </zolagowishlist>
			<wishlist>
				<rewrite>
					<data>Zolago_Wishlist_Helper_Data</data>
				</rewrite>
			</wishlist>
        </helpers>
        <resources>
            <zolagowishlist_setup>
                <setup>
                    <module>Zolago_Wishlist</module>
                </setup>
            </zolagowishlist_setup>
        </resources>
        <events>
            <wishlist_product_add_after>
                <observers>
                    <zolagowishlist>
                        <class>zolagowishlist/observer</class>
                        <method>wishlistAddAfter</method>
						<type>singleton</type>
                    </zolagowishlist>
                </observers>
            </wishlist_product_add_after>
            <wishlist_item_delete_before>
                <observers>
                    <zolagowishlist>
                        <class>zolagowishlist/observer</class>
                        <method>wishlistDelAfter</method>
						<type>singleton</type>
                    </zolagowishlist>
                </observers>
            </wishlist_item_delete_before>
			<customer_login>
				<observers>
					<zolagowishlist>
						<class>zolagowishlist/observer</class>
						<method>handleCustomerLogin</method>
						<type>singleton</type>
					</zolagowishlist>
				</observers>
			</customer_login>
        </events>
    </global>
    <frontend>
        <routers>
            <zolagowishlist>
                <use>standard</use>
                <args>
                    <module>Zolago_Wishlist</module>
                    <frontName>zolagowishlist</frontName>
                </args>
            </zolagowishlist>
            <wishlist>
                <args>
                    <modules>
                        <Zolago_Wishlist before="Mage_Wishlist">Zolago_Wishlist</Zolago_Wishlist>
                    </modules>
                </args>
            </wishlist>
        </routers>
        <layout>
            <updates>
                <zolagowishlist>
                    <file>zolagowishlist.xml</file>
                </zolagowishlist>
            </updates>
        </layout>
	    <secure_url>
		    <wishlist>wishlist_has_no_secure_url</wishlist>
	    </secure_url>
    </frontend>
</config>
