<?xml version="1.0"?>
<config>
    <modules>
        <Orba_Common>
            <version>0.1.0</version>
        </Orba_Common>
    </modules>
    <global>
        <blocks>
            <orbacommon>
                <class>Orba_Common_Block</class>
            </orbacommon>
            <!--<page>-->
                <!--<rewrite>-->
                    <!--<html_head>Orba_Common_Block_Page_Html_Head</html_head>-->
                <!--</rewrite>-->
            <!--</page>-->
        </blocks>
        <models>
            <orbacommon>
                <class>Orba_Common_Model</class>
            </orbacommon>
        </models>
        <resources>
            <orbacommon_setup>
                <setup>
                    <module>Orba_Common</module>
                    <class>Orba_Common_Model_Resource_Setup</class>
                </setup>
            </orbacommon_setup>
        </resources>
        <helpers>
            <orbacommon>
                <class>Orba_Common_Helper</class>
            </orbacommon>
        </helpers>
        <cache>
            <types>
                <ajax_response module="orbacommon" translate="label description">
                    <label>Ajax responses</label>
                    <description>Orba Common Ajax responses.</description>
                    <tags>AJAX_RESPONSE</tags>
                </ajax_response>
            </types>
        </cache>
		<events>
			<!-- Invalidate cache for customer ajax start -->
			<checkout_cart_save_after>
				<observers>
					<orbacommon_ajax_cart_observer>
						<type>singleton</type>
						<class>orbacommon/observer</class>
						<method>invalidateCartCustomerAjaxCache</method>
					</orbacommon_ajax_cart_observer>
				</observers>
			</checkout_cart_save_after>
			<sales_quote_save_after>
				<observers>
					<orbacommon_ajax_quote_observer>
						<type>singleton</type>
						<class>orbacommon/observer</class>
						<method>invalidateCartCustomerAjaxCache</method>
					</orbacommon_ajax_quote_observer>
				</observers>
			</sales_quote_save_after>
			<catalog_category_save_after>
				<observers>
					<orbacommon_ajax_search_category_observer>
						<type>singleton</type>
						<class>orbacommon/observer</class>
						<method>invalidateSearchCustomerAjaxCache</method>
					</orbacommon_ajax_search_category_observer>
				</observers>
			</catalog_category_save_after>
			<wishlist_save_after>
				<observers>
					<orbacommon_ajax_wishlist_observer>
						<type>singleton</type>
						<class>orbacommon/observer</class>
						<method>invalidateWishlistCustomerAjaxCache</method>
					</orbacommon_ajax_wishlist_observer>
				</observers>
			</wishlist_save_after>
			<ajax_get_account_information_after>
				<observers>
					<orbacommon_recently_viewed_observer>
						<type>singleton</type>
						<class>orbacommon/observer</class>
						<method>invalidateRecentlyViewedCustomerAjaxCache</method>
					</orbacommon_recently_viewed_observer>
				</observers>
			</ajax_get_account_information_after>
			<!-- Invalidate cache for customer ajax end -->
		</events>
    </global>
    <frontend>
        <routers>
            <orbacommon>
                <use>standard</use>
                <args>
                    <module>Orba_Common</module>
                    <frontName>orbacommon</frontName>
                </args>
            </orbacommon>
        </routers>
        <translate>
            <modules>
                <Orba_Common>
                    <files>
                        <default>Orba_Common.csv</default>
                    </files>
                </Orba_Common>
            </modules>
        </translate>
        <layout>
            <updates>
                <orbacommon>
                    <file>orbacommon.xml</file>
                </orbacommon>
            </updates>
        </layout>
    </frontend>
    <default>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Orba_Common>
                    <files>
                        <default>Orba_Common.csv</default>
                    </files>
                </Orba_Common>
            </modules>
        </translate>
    </adminhtml>
</config>
