<?xml version="1.0"?>
<config>
	<modules>
		<GH_Common>
			<version>0.0.2</version>
		</GH_Common>
	</modules>
	<global>
		<helpers>
			<ghcommon>
				<class>GH_Common_Helper</class>
			</ghcommon>
		</helpers>
		<models>
		    <ghcommon>
		        <class>GH_Common_Model</class>
		        <resourceModel>ghcommon_resource</resourceModel>
		    </ghcommon>
		    <ghcommon_resource>
		        <class>GH_Common_Model_Resource</class>
		        <entities>
		            <sql>
		                <table>gh_common_sql</table>
		            </sql>
		        </entities>
		    </ghcommon_resource>
		</models>
		<resources>
		    <ghcommon_setup>
		        <setup>
		            <module>GH_Common</module>
		        </setup>
		    </ghcommon_setup>
		</resources>
		<blocks>
		    <ghcommon>
		        <class>GH_Common_Block</class>
		    </ghcommon>
		</blocks>
		
	</global>
	<adminhtml>
	    <translate>
	        <modules>
	            <GH_Common>
	                <files>
	                    <default>GH_Common.csv</default>
	                </files>
	            </GH_Common>
	        </modules>
	    </translate>
	    <layout>
	        <updates>
	            <ghcommon>
	                <file>ghcommon.xml</file>
	            </ghcommon>
	        </updates>
	    </layout>
	</adminhtml>
	<admin>
	    <routers>
	        <adminhtml>
	            <args>
	                <modules>
	                    <ghcommon before="Mage_Adminhtml">GH_Common_Adminhtml</ghcommon>
	                </modules>
	            </args>
	        </adminhtml>
	        <ghcommonadmin>
	            <use>admin</use>
	            <args>
	                <module>GH_Common_Adminhtml</module>
	                <frontName>ghcommonadmin</frontName>
	            </args>
	        </ghcommonadmin>
	    </routers>
	</admin>
</config>
