//
// Responsive: Utility classes (OVERRIDDEN)
// --------------------------------------------------
//
// For default file @see vendor/bootstrap/_responsive-utilities.scss
// For more info about improved grid @see other/_variables.scss

@-ms-viewport {
  width: device-width;
}

// Visibility utilities

@include responsive-invisibility('.visible-xs, .visible-sm, .visible-sm-to-smmd, .visible-smmd, .visible-md, .visible-lg'); // OVERRIDDEN

@media (max-width: $screen-xs-max) {
  @include responsive-visibility('.visible-xs');
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  @include responsive-visibility('.visible-sm');
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  @include responsive-visibility('.visible-md');
}

@media (min-width: $screen-lg-min) {
  @include responsive-visibility('.visible-lg');
}

@media (max-width: $screen-xs-max) {
  @include responsive-invisibility('.hidden-xs');
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  @include responsive-invisibility('.hidden-sm');
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  @include responsive-invisibility('.hidden-md');
}

@media (min-width: $screen-lg-min) {
  @include responsive-invisibility('.hidden-lg');
}

// ============================
// ====== NEW PART START ======
// ============================

@media (min-width: $screen-sm-to-smmd-min) and (max-width: $screen-sm-to-smmd-max) {
  @include responsive-visibility('.visible-sm-to-smmd');
}

@media (min-width: $screen-smmd-min) and (max-width: $screen-smmd-max) {
  @include responsive-visibility('.visible-smmd');
}

@media (min-width: $screen-sm-to-smmd-min) and (max-width: $screen-sm-to-smmd-max) {
  @include responsive-invisibility('.hidden-sm-to-smmd');
}

@media (min-width: $screen-smmd-min) and (max-width: $screen-smmd-max) {
  @include responsive-invisibility('.hidden-smmd');
}

// ============================
// ====== NEW PART END ========
// ============================


// Print utilities
//
// Media queries are placed on the inside to be mixin-friendly.

@include responsive-invisibility('.visible-print');

@media print {
  @include responsive-visibility('.visible-print');
}

@media print {
  @include responsive-invisibility('.hidden-print');
}