<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Eav>
            <version>0.0.1</version>
        </Zolago_Eav>
    </modules>
	<frontend>
		<routers>
            <zolagoeav>
                <use>standard</use>
                <args>
                    <module>Zolago_Eav</module>
                    <frontName>zolagoeav</frontName>
                </args>
            </zolagoeav>
		</routers>
	</frontend>
    <global>
        <blocks>
			<zolagoeav>
				<class>Zolago_Eav_Block</class>
			</zolagoeav>
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_grid>Zolago_Eav_Block_Adminhtml_Product_Attribute_Grid</catalog_product_attribute_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <zolagoeav>
                <class>Zolago_Eav_Helper</class>
            </zolagoeav>
        </helpers>
        <models>
            <zolagoeav>
                <class>Zolago_Eav_Model</class>
            </zolagoeav>
        </models>		
        <resources>
            <zolagoeav_setup>
                <setup>
                    <module>Zolago_Eav</module>
					<class>Zolago_Eav_Model_Entity_Setup</class>
                </setup>
            </zolagoeav_setup>
        </resources>
		<events>
			<adminhtml_catalog_product_attribute_edit_prepare_form>
				<observers>
					<extend_attribute_settings_observer>
						<class>zolagoeav/observer</class>
						<method>addExtraSettings</method>
					</extend_attribute_settings_observer>
				</observers>
			</adminhtml_catalog_product_attribute_edit_prepare_form>
			
			<catalog_entity_attribute_save_after>
				<observers>
					<add_attribute_to_set_observer>
						<class>zolagoeav/observer</class>
						<method>addAttributeToSet</method>
					</add_attribute_to_set_observer>
				</observers>				
			</catalog_entity_attribute_save_after>
		</events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <!-- fix currency symbol routing / its local module depandency is not requored-->
                        <currencysymbol before="Mage_Adminhtml">Mage_CurrencySymbol_Adminhtml</currencysymbol>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<adminhtml>
		<translate>
			<modules>
				<zolagopos>
					<files>
						<default>Zolago_Eav.csv</default>
					</files>
				</zolagopos>
			</modules>
		</translate>
	</adminhtml>
</config>
