<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Eav>
            <version>0.0.3</version>
        </Zolago_Eav>
    </modules>
	<frontend>
		<routers>
            <zolagoeav>
                <use>standard</use>
                <args>
                    <module>Zolago_Eav</module>
                    <frontName>zolagoeav</frontName>
                </args>
            </zolagoeav>
		</routers>
		<translate>
			<modules>
				<Zolago_Eav>
					<files>
						<default>Zolago_Eav.csv</default>
					</files>
				</Zolago_Eav>
			</modules>
		</translate>		
	</frontend>
    <global>
        <blocks>
			<zolagoeav>
				<class>Zolago_Eav_Block</class>
			</zolagoeav>
        </blocks>
        <helpers>
            <zolagoeav>
                <class>Zolago_Eav_Helper</class>
            </zolagoeav>
        </helpers>
        <models>
            <zolagoeav>
                <class>Zolago_Eav_Model</class>
            </zolagoeav>
            <eav>
                <rewrite>
                    <resource_entity_attribute_collection>Zolago_Eav_Model_Resource_Entity_Attribute_Collection</resource_entity_attribute_collection>
                </rewrite>
            </eav>
            <eav_resource>
                <rewrite>
                    <entity_attribute_option_collection>Zolago_Eav_Model_Resource_Entity_Attribute_Option_Collection</entity_attribute_option_collection>
                    <entity_attribute_collection>Zolago_Eav_Model_Resource_Entity_Attribute_Collection</entity_attribute_collection>
                </rewrite>
            </eav_resource>
        </models>		
        <resources>
            <zolagoeav_setup>
                <setup>
                    <module>Zolago_Eav</module>
					<class>Zolago_Eav_Model_Entity_Setup</class>
                </setup>
            </zolagoeav_setup>
        </resources>
		<events>
			<adminhtml_catalog_product_attribute_edit_prepare_form>
				<observers>
					<extend_attribute_settings_observer>
						<class>zolagoeav/observer</class>
						<method>addExtraSettings</method>
					</extend_attribute_settings_observer>
				</observers>
			</adminhtml_catalog_product_attribute_edit_prepare_form>
			
			<catalog_entity_attribute_save_after>
				<observers>
					<add_attribute_to_set_observer>
						<class>zolagoeav/observer</class>
						<method>addAttributeToSet</method>
					</add_attribute_to_set_observer>
				</observers>				
			</catalog_entity_attribute_save_after>
		</events>
    </global>
	<adminhtml>
		<translate>
			<modules>
				<Zolago_Eav>
					<files>
						<default>Zolago_Eav.csv</default>
					</files>
				</Zolago_Eav>
			</modules>
		</translate>
	</adminhtml>
</config>
