.user-navigation {
	a {
		.badge {
		    background:#fe002b;
		    @include border-radius(3px);
		    color: #fff;
		    font-size: 11px;
		    text-align: center;
		    font-style: normal;
		   @include max-screen($screen-sm-max) {
		        @include border-radius(2px);
		        font-size: 10px;
		        font-style: normal;
		   }
		}
	}
}