#checkout {
	.sidebar-deliverypayment {
		dl {
			position: relative;
		}
		.online-data, .delivery-point-data {
			span {
				display: block;
				max-width: 140px;
				min-height: 38px;
				max-height: 38px;
				@include max-screen(845px) {
					max-width: 130px;
				}
				@include max-screen($screen-xs-max) {
					max-width: 150px;
				}
			}
			img {
				max-width: 80px;
				position: absolute;
				top: -3px;
				right: 0;
				border: 1px solid #afafaf;
				padding: 5px;
				margin-bottom: 20px;
			}

			figure.truck {
				text-align: center;
				width: 80px;
				position: absolute;
				top: -3px;
				right: 0;
				border: 1px solid #afafaf;
				padding: 5px;
			}
		}
	}
	.panel {
		&.panel-custom {
			.panel-body {

			}
			#sumary_single_shop {
				text-align: right;
				
				@media (max-width: 360px) {
					font-size: 12px;
					
				}
				
				.lb {
					//width:59px;
					text-align:right;
					&+span {
						text-align: right;
//						font-weight: bold;
					}
				}
			}
			#info_delivery,
			.info_delivery{
				dl {
					dd {
						font-size: 12px;
					}
				}
			}
		}
	}
}
.table-summary-product {
	.table-group {
		.zdjecie {
			
			img {
				border:1px solid $bc-primary;
			}
		}
		.nazwa_rozmiar {
			dt {
				font-weight: normal;
			}
			.nazwa_produktu {
				@media(max-width: 479px) {
					font-size: 12px;
				}
			}
			.rozmiar_produktu {

				@media(max-width: 479px) {
					font-size: 9px;
				}
				@media(min-width: 480px) {
					font-size: 10px;
				}
			}
		}

		.ilosc_cena {
			text-align: right;
			.ilosc_produktu {
				text-align: right;
				vertical-align: top;
				font-size: 12px;
			}
			.cena_produktu {
				position:relative;
				.stara_cena {
					color:$color_757575;
					@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
						text-align: right;
					}
					@media(max-width: $screen-xs-max) {
						font-size: 10px;
						}
					
				}
				.cena_zakupu {
					white-space: nowrap;
					@media(max-width: $screen-xs-max) {
						font-size: 12px;
						}
					
				}

			}	
		}
	}
}




.table-summary-product {
	.table-group {
		.nazwa_rozmiar {
			.rozmiar_produktu {
				font-size: 11px;
			}
		}
		.tabcol-1 {
			
		}
		.tabcol-2 {	
			.cena,
			.losc,
			.wartosc{
				text-align: right;
				font-size: 12px;
			}
			.cena {	
				font-size: 13px;
				.stara_cena {
					font-size: 11px;
					color:$color_757575;
				}
			}
			.ilosc {
				text-align: center;
			}
			.wartosc{
				font-size: 13px;
			}
		}
	}
	
}
#checkout {
	.panel {
		&.panel-custom {
			&#sumary_total_amount {
				text-align: right;
				background:$color_f8f8f7;
				.lb {
					//width:59px;
					text-align:right;
					display:inline-block;
					text-align:right;
				}
				.total_shipping, .price, .total_discout {
//					font-weight:bold;
					text-align: right;				
				}
			}
		}
	}
}


#checkout {
	section {
		header {
			h2 {
				&.number_order {
					font-weight: 300;
				}
				.date-order {
					text-transform: none;
					font-size: 13px;					
				}
			}
		}
	}
}
