#boxesSlider {
	margin-top: 15px;
	text-align: center;

	position: relative;
	.boxesSlide {
		background-color: $color_fff;
		display: inline-block;
		vertical-align: top;
		float: none;
		border: 1px solid $color_dbdbdb;
		margin: 0 5px 2px 0;
		&.mobile {
			margin-bottom: 10px;
			&:nth-child(odd) {
				margin-right: 10px;
			}
			&:nth-last-child(1), &:nth-last-child(2) {
				margin-bottom: 0;
			}
		}
		.boxesSlideIn {
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			background-color: $color_ffffff;
		}
	}
	&.boxesSliderHasArrows {
		padding-left: 40px;
		padding-right: 40px;
		.boxesArrow {
			display: block;
			color: $color-gray1;
			font-size: 30px;
			font-weight: 700;
			position: absolute;
			height: 100%;
			top: 0;
			cursor: pointer;
			&.boxesArrowNext {
				right: 9px;
			}
			&.boxesArrowPrev {
				left: 9px;
			}
			i {
				transition: margin 200ms ease;
			}
		}
	}
	.boxesArrow {
		display: none;
	}
}