#topSlider {
	display: none;
	border: 1px solid $color_dbdbdb;
	&.slick-initialized {
		display: block;
	}
	.slick-slide {
		display: inline-block;
		vertical-align: top;
		float: none;
		position: relative;
		.topSlideImages img  {
			width: 100%;
			height: auto;
			&.small {
				width: auto;
				margin: 0 auto;
			}
		}
		.topSlideCaptions {
			position: absolute;
			bottom: 20px;
			width: 100%;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 13px;
			text-shadow: rgba(255, 255, 255, 0.6) 0 1px 1px;
			color: $text-color;
			text-align: center;
			@include max-screen($screen-md-max) {
				bottom: 10px;
			}
			@include max-screen($screen-sm-max) {
				bottom: 5px;
			}
			@include max-screen($screen-xs-max) {
				display: none;
			}
			a {
				margin: 0 auto;
				span {
					display: block;
					i {
						color: $color-accent;
					}
					+ span, + a span {
						margin-top: 20px;
						@include max-screen($screen-md-max) {
							margin-top: 10px;
						}
						@include max-screen($screen-sm-max) {
							margin-top: 5px;
						}
					}
				}
				+ a span, + span {
					margin-top: 20px;
					@include max-screen($screen-md-max) {
						margin-top: 10px;
					}
					@include max-screen($screen-sm-max) {
						margin-top: 5px;
					}
				}
			}
		}
	}
	.slick-track {
		background-color: $color_ffffff;
	}
	ul.slick-dots {
		position: absolute;
		right: 0;
		bottom: 0;
		list-style: none;
		//background: $gray-darker;
		padding: 5px 20px;
		margin: 0;
		li {
			display: inline-block;
			height: 10px;
			width: 10px;
			position: relative;
			button {
				font-size: 0;
				width: 10px;
				height: 10px;
				border: 1px solid $color_ffffff;
				border-radius: 8px;
				background-color: transparent;
				padding: 0;
				margin: 0;
				position: absolute;
				top: 0;
				left: 0;
			}
			&.slick-active button {
				background-color: $color_ffffff;
				width: 12px;
				height: 12px;
				margin: -1px;
			}
			+ li {
				margin-left: 5px;
			}
		}
	}
}