<?xml version="1.0"?>
<config>
    <modules>
        <GH_Regulation>
            <version>0.1.1</version>
        </GH_Regulation>
    </modules>
    <global>
        <models>
            <gh_regulation>
                <class>GH_Regulation_Model</class>
                <resourceModel>gh_regulation_resource</resourceModel>
            </gh_regulation>
            <gh_regulation_resource>
                <class>GH_Regulation_Model_Resource</class>
                <entities>
                    <regulation_kind>
                        <table>gh_regulation_kind</table>
                    </regulation_kind>
                    <regulation_type>
                        <table>gh_regulation_type</table>
                    </regulation_type>
                    <regulation_document>
                        <table>gh_regulation_document</table>
                    </regulation_document>
                    <regulation_document_vendor>
                        <table>gh_regulation_document_vendor</table>
                    </regulation_document_vendor>
                    <regulation_vendor_kind>
                        <table>gh_regulation_vendor_kind</table>
                    </regulation_vendor_kind>
                </entities>
            </gh_regulation_resource>
        </models>
        <blocks>
            <gh_regulation>
                <class>GH_Regulation_Block</class>
            </gh_regulation>
        </blocks>
        <helpers>
            <gh_regulation>
                <class>GH_Regulation_Helper</class>
            </gh_regulation>
        </helpers>
        <resources>
            <gh_regulation_setup>
                <setup>
                    <module>GH_Regulation</module>
                </setup>
            </gh_regulation_setup>
        </resources>
    </global>
</config>