<?xml version="1.0"?>
<config>
    <modules>
        <GH_Regulation>
            <version>0.1.8</version>
        </GH_Regulation>
    </modules>
    <global>
        <models>
            <ghregulation>
                <class>GH_Regulation_Model</class>
                <resourceModel>ghregulation_resource</resourceModel>
            </ghregulation>
            <ghregulation_resource>
                <class>GH_Regulation_Model_Resource</class>
                <entities>
                    <regulation_kind>
                        <table>gh_regulation_kind</table>
                    </regulation_kind>
                    <regulation_type>
                        <table>gh_regulation_type</table>
                    </regulation_type>
                    <regulation_document>
                        <table>gh_regulation_document</table>
                    </regulation_document>
                    <regulation_document_vendor>
                        <table>gh_regulation_document_vendor</table>
                    </regulation_document_vendor>
                    <regulation_vendor_kind>
                        <table>gh_regulation_vendor_kind</table>
                    </regulation_vendor_kind>
                </entities>
            </ghregulation_resource>
            <umicrosite>
                <rewrite>
                    <observer>GH_Regulation_Model_DropshipMicrosite_Observer</observer>
                </rewrite>
            </umicrosite>
        </models>
        <blocks>
            <ghregulation>
                <class>GH_Regulation_Block</class>
            </ghregulation>
        </blocks>
        <helpers>
            <ghregulation>
                <class>GH_Regulation_Helper</class>
            </ghregulation>
        </helpers>
        <resources>
            <ghregulation_setup>
                <setup>
                    <module>GH_Regulation</module>
                </setup>
            </ghregulation_setup>
        </resources>
        <template>
            <email>
                <udropship_microsite_regulation_accepted_template  module="umicrosite">
                    <label>Dropship Vendor Regulation Accepted Email</label>
                    <file>umicrosite_regulation_accepted.html</file>
                    <type>html</type>
                </udropship_microsite_regulation_accepted_template>
                <udropship_microsite_regulation_confirm_template  module="umicrosite">
                    <label>Dropship Vendor Regulation Confirm Email</label>
                    <file>umicrosite_regulation_confirm.html</file>
                    <type>html</type>
                </udropship_microsite_regulation_confirm_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <GH_Regulation before="Mage_Adminhtml">GH_Regulation_Adminhtml</GH_Regulation>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ghregulation>
                    <file>ghregulation.xml</file>
                </ghregulation>
            </updates>
        </layout>
        <translate>
            <modules>
                <GH_Regulation>
                    <files>
                        <default>GH_Regulation.csv</default>
                    </files>
                </GH_Regulation>
            </modules>
        </translate>
        <events>
            <udropship_adminhtml_vendor_tabs_after>
                <observers>
                    <ghregulation>
                        <class>ghregulation/observer</class>
                        <method>udropship_adminhtml_vendor_tabs_after</method>
                    </ghregulation>
                </observers>
            </udropship_adminhtml_vendor_tabs_after>
            <udropship_vendor_save_after>
                <observers>
                    <ghregulation>
                        <class>ghregulation/observer</class>
                        <method>udropship_vendor_save_after</method>
                    </ghregulation>
                </observers>
            </udropship_vendor_save_after>
            <udropship_adminhtml_vendor_edit_prepare_form>
                <observers>
                    <ghregulation>
                        <class>ghregulation/observer</class>
                        <method>udropship_adminhtml_vendor_edit_prepare_form</method>
                    </ghregulation>
                </observers>
            </udropship_adminhtml_vendor_edit_prepare_form>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <ghregulation>
                <use>standard</use>
                <args>
                    <module>GH_Regulation</module>
                    <frontName>regulation</frontName>
                </args>
            </ghregulation>
            <udropship>
                <args>
                    <modules>
                        <GH_Regulation before="ZolagoOs_OmniChannel">GH_Regulation_Dropship</GH_Regulation>
                    </modules>
                </args>
            </udropship>
        </routers>
        <translate>
            <modules>
                <GH_Regulation>
                    <files>
                        <default>GH_Regulation.csv</default>
                    </files>
                </GH_Regulation>
            </modules>
        </translate>
        <layout>
            <updates>
                <ghregulation>
                    <file>ghregulation.xml</file>
                </ghregulation>
            </updates>
        </layout>
    </frontend>
    <default>
        <udropship>
            <microsite>
                <confirmation_token_expiration_time>168</confirmation_token_expiration_time>
                <regulation_accepted_template>udropship_microsite_regulation_accepted_template</regulation_accepted_template>
            </microsite>
        </udropship>
    </default>
</config>