<?xml version="1.0"?>
<config>
    <sections>
        <udropship>
            <groups>
                <microsite>
                    <fields>
                        <confirmation_token_expiration_time translate="label">
                            <label>Vendor account confirmation token life time (in hours)</label>
                            <frontend_type>text</frontend_type>
                            <comment>168 (means - confirmation token will expire in 7 days)</comment>
                            <sort_order>28</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </confirmation_token_expiration_time>
                    </fields>
                </microsite>
            </groups>
        </udropship>
    </sections>
</config>