#sort-criteria {
	padding:15px 0;
	ul {
		margin:0px;
		padding:0px;
		list-style: none;
		float:right;
		@media (max-width: $screen-xs-max) {
			float:right;
			margin-right: -41px;
		}
		li {
			display:inline-block;
			float:left;
			line-height: 27px;
			color:$color_000;
			@media (max-width: $screen-xs-max) {
				margin-right: 20px
			}
			.form-group {
				margin-bottom: 0px;
			}
			label,
			.label,
			.value {
				font-size: 12px!important;
				font-family: $fontRegular;
				font-weight: normal;
				color:$color_000;
				padding:0px;
				margin: 0px;
			}
			&+li {
				margin-left: 35px;
				@media (max-width: $screen-xs-max) {
					margin-left: 0px;
				}
			}
		}
	}
	.select-group {
		ul {
			float:none;
			li {
				margin-left: 0;
				float:none;
				display:block;
			}
		}
		&.small {
			width: 180px;
			@media (min-width: $screen-sm-min) {
				width: 128px;
			}
			@media (min-width: $screen-md-min) {
				width: 128px;
			}
			@media (min-width: $screen-lg-min) {
				width: 128px;
			}
			.mCSB_inside {
				> .mCSB_container {
				margin-right: 19px;
				}
			}
			.mCSB_scrollTools {
				right:1px;
			}
			.button-select {
				width:125px;
				max-width: inherit;
				min-width: inherit;
				font-size: 12px;
				&+ .dropdown-select {
				top: 23px;
				width:125px;
				}
			}
		}
	}
}


