<?xml version="1.0"?>
<config>
  <modules>
    <Zolago_Sales>
      <version>0.0.1</version>
    </Zolago_Sales>
  </modules>
  <global>
    <blocks>
      <zolagosales>
        <class>Zolago_Sales_Block</class>
      </zolagosales>
      <sales>
          <rewrite>
              <adminhtml_customer_edit_tab_recurring_profile>Zolago_Sales_Block_Adminhtml_Customer_Edit_Tab_Recurring_Profile</adminhtml_customer_edit_tab_recurring_profile>
              <adminhtml_customer_edit_tab_agreement>Zolago_Sales_Block_Adminhtml_Customer_Edit_Tab_Agreement</adminhtml_customer_edit_tab_agreement>              
          </rewrite>
      </sales>
    </blocks>
    <models>
      <sales>
          <rewrite>
              <quote>Zolago_Sales_Model_Quote</quote>
              <order_config>Zolago_Sales_Model_Order_Config</order_config>
              <observer>Zolago_Sales_Model_Observer</observer>
              <order>Zolago_Sales_Model_Order</order>
              <order_address>Zolago_Sales_Model_Order_Address</order_address>
              <quote_address>Zolago_Sales_Model_Quote_Address</quote_address>
              <service_quote>Zolago_Sales_Model_Service_Quote</service_quote>
              <order_payment_transaction>Zolago_Sales_Model_Order_Payment_Transaction</order_payment_transaction>
          </rewrite>
      </sales>
    </models>
    <helpers>
      <zolagosales>
        <class>Zolago_Sales_Helper</class>
      </zolagosales>
    </helpers>
    <sales>
        <quote>
            <item>
                <product_attributes>
                    <campaign_regular_id/>
                    <campaign_strikeout_price_type/>
                    <msrp/>
                    <product_flag/>
                </product_attributes>
            </item>
        </quote>
    </sales>
    <events>
        <load_customer_quote_before>
            <observers>
                <sales>
                    <class>sales/observer</class>
                    <method>loadCustomerQuoteBefore</method>
                </sales>
            </observers>
        </load_customer_quote_before>
    </events>
  </global>
  <frontend>
    <translate>
      <modules>
        <Zolago_Sales>
          <files>
            <default>Zolago_Sales.csv</default>
          </files>
        </Zolago_Sales>
      </modules>
    </translate>
    <routers>
      <sales>
        <args>
          <modules>
            <Zolago_Sales before="ZolagoOs_Rma">Zolago_Sales</Zolago_Sales>
          </modules>
        </args>
      </sales>
    </routers>
  </frontend>
</config>
