<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Sales>
            <version>0.0.1</version>
        </Zolago_Sales>
    </modules>
    <global>
        <blocks>
			<zolagosales>
				<class>Zolago_Sales_Block</class>
			</zolagosales>
        </blocks>
        <models>
			<sales>
				<rewrite>
                    <quote>Zolago_Sales_Model_Quote</quote>
				</rewrite>
			</sales>
        </models>
    </global>
	<frontend>
		<routers>
			<sales>
				<args>
					<modules>
						<Zolago_Sales before="Mage_Sales">Zolago_Sales</Zolago_Sales>
					</modules>
				</args>
			</sales>
		</routers>
	</frontend>
</config>
