.account-content {
    margin-top: 0px;
    @media (max-width: $screen-xs-max) {
        margin-top: -51px;
    }
}

.lower-breadcrumbs {
    #header-main {
        @media (min-width: $screen-xs-max) {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }
}