.account-content {
    margin-top: 0px;
    @media (max-width: $screen-xs-max) {
        margin-top: -50px;
    }
}

.lower-breadcrumbs {
    #header-main {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}