
#active-filters, #view-current-filter {
	@media (max-width: $screen-sm-min) {
//	padding-bottom: 25px;
//	margin-top: 2px;
	}
	h1 {
		padding-bottom: 0px;
		padding-top:12px;
		margin-bottom: 10px;
		@media (max-width: $screen-sm-min) {
			padding-bottom: 0px;
			padding-top:12px;
            width: 84%;
		 }
	}
	dl {
	    dt,dd {
	        float:left;

	    }
	    dt {
	        margin-right:20px;
	        margin-bottom: 7px;
	    }
      dd {
        margin-right: 20px;
        padding-left: 0px;
        padding-right: 0;

        .actionViewFilter {
          min-width: 174px;
        }

        .label {
          display: block;
          float: left;
          padding: 0px 6px 0 6px;
          min-width: 60px;
          display: inline-block;
          float: left;
          height: 21px;
          margin: 0px 10px 7px 0px;
          position: relative;

        }
        .fa {
          //	            position:absolute;
          right: 5px;
          top: 4px;
          margin-left: 5px;
        }

        &.action {
          position: relative;
          top: -4px;
          @media (max-width: $screen-xs-max) {
            position: absolute;
            top: 1px;
            right: 0px;
            //		        	bottom: 11px;
          }

          a {

          }
        }

      }

	}
	.actionViewFilter {
//		position:absolute;
//		left: 0px;
//		bottom: 10px;
//		width:40%;
		min-width: 205px;
		margin-left: -21px;
        @media (max-width: $screen-xs-max) {
          min-width: initial;
        }
		&.visible-xs {
			@media (min-width:768px) and (max-width: 768px) {
              display: block !important;
            }
		}
        .fa {
            color: white;
        }

	}
	.backToCategory {
	    position:absolute;
		right: 15px;
		top:10px;

	        }
	.breadcrumb {
		margin-bottom: 0;
	}

    .clearfix {
        margin-bottom: 0px;
    }
    #filters-btn {
        dl {
            @media (max-width: $screen-sm-min) {
                margin-bottom: 0px;
            }
        }
    }

  .btn-clearall-xs {
    @media (max-width: $screen-xs-max) {
      margin-right: -10px;
    }
  }
}

