#product-gallery {
    .connected-carousels {
        .stage {
            width: 319px;
            margin: 0;
            position: relative;
            float:left;
            @media (min-width: 768px) and (max-width: 931px) {
                margin-left: 5px;
            }
            @media (max-width: 360px) {
                width:360px;
                margin-left:-15px;
                margin-right:-15px;
            }
            @media (max-width: 320px) {
                width:320px;
                margin-left:-15px;
                margin-right:-15px;
            }
            ul {
                margin:0px;
                padding:0px;
                li {

                    > div {
                        img {
                            width:100%;
                            height:auto;
                            @media (max-width: 360px) {
                                width:360px;
                            }
                            @media (max-width: 320px) {
                                width:320px;
                            }
                        }
                        position:relative;
                        .view_lupa {
                            position:absolute;
                            top:88%;
                            right:10px;
                            z-index: 900;
                            @media (max-width: 361px) {
                                display:none;
                            }
                        }
                    }
                }
            }
        }
        .navigation {
            width:78px;
            margin: 15px 24px 10px 0;
            position: relative;
            padding:0 0;
            float:left;
            @media (max-width: 931px) {
                display:none;
            }
            ul {
                li {
                    width:67px;
                }
            }
        }
        .carousel {
            overflow: hidden;
            position: relative;
            ul {
                width: 20000em;
                position: relative;
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    float: left;
                    margin: 0;
                }
            }
        }
        .carousel-navigation {
            height: 369px;
            width: 77px;
            margin-left: 0;
            ul {
                width: 70px;
                height:2000em;
                margin-top:-1px;
            }
            li {
                cursor: pointer;
                position:relative;
                margin: 2px 5px!important;
                &.active {
                    .shadow {
                        width:99px;
                        height:75px;
                        position:absolute;
                        left:0px;
                        top:0px;
                    }
                }
            }
        }
    }
    /** Stage carousel controls **/

    .connected-carousels {
        .prev-stage,
        .next-stage {
            position: absolute;
            top:160px;
            width: 50px;
            height:50px;
            span {
                display: block;
                top:41%;
                z-index: 900;
            }


            @media (min-width: 932px){
                display:none;
            }
        }
        .prev-stage {

            left: 1px;
            @media (min-width: 361px) and (max-width:767px) {
                left: -33px;
            }
            span {
                @include sprite-dimensions($allMap, arrow-stage-prev);
                float: left;
                margin: 18px 0 0 18px;
                &:hover {
                }
            }

        }
        .next-stage {
            right: 1px;
            @media (min-width: 361px) and (max-width:767px) {
                right: -33px;
            }
            span {
                @include sprite-dimensions($allMap, arrow-stage-next);
                float: right;
                margin: 18px 18px 0 0;
            }
        }
    }
}
/** Navigation carousel controls **/

.connected-carousels {
    .prev-navigation,
    .next-navigation {
        display:inline-block;
        width:15px;
        height:75px;
        position:absolute;
        left:50%;
        margin-left: -(image-width(sprite-file($allMap, arrow_top_j)) / 2) ;
        z-index: 999;
        &.inactive {
            visibility:hidden;
        }
    }
    .prev-navigation {
        top:-15px;
        @include sprite-dimensions($allMap, arrow_top_j);
    }
    .next-navigation {
        bottom:-15px;
        @include sprite-dimensions($allMap, arrow_bottom_j);
    }
}

// PAGINATION
.pagination {
    position: absolute;
    bottom: -5px;
    margin-bottom: 0px;
    width:100%;
}
.jcarousel-pagination {

    display:inline-block;
    padding: 3px 15px;

    a {
        @include inline-block;
        width:13px;
        height:13px;
        margin: 0 3px;
        outline: none!important;
    }
}
#product-gallery {
    #bigMedia, #sync3 {
        float: left;
        width: 319px;
        @media (max-width: 360px) {
            width:360px;
            margin-left: -15px;
            margin-right: -15px;
        }
        @media (max-width: 320px) {
            width:320px;
            margin-left: -15px;
            margin-right: -15px;
        }
        .item{
            padding:0px;
            height: auto;
        }
    }

    #wrapper-productGalleryThumbMedia, #wrapper-productGalleryThumbMediaOpen {
        float: left;
        width: 80px;
        margin-left: 7px;
        margin-right: 10px;
        position: relative;
        @media (max-width: 931px) {
            display:none;
        }
    }
    .auto-height{
      .rwd-wrapper-outer {
        height: auto!important;
      }
    }
    #productGalleryThumbMedia, #productGalleryThumbMediaOpen {
        width: 80px;
        margin-top: 10.5px;
        .rwd-wrapper-outer {
            height: 379px;
        }
        .rwd-wrapper  {
            width: 72px!important;
        }
        .rwd-item{
            padding: 5px 0px;
            color: #FFF;
            width: 67px!important;
            float: none;
        }
    }


    .item {

        > div {
            img {
                width:100%;
                height:auto;
                @media (max-width: 360px) {
                    width:360px;
                }
                @media (max-width: 320px) {
                    width:320px;
                }
            }
            position:relative;
            .view_lupa {
                position:absolute;
//                top:88%;
                bottom: 2%;
                right:10px;
                z-index: 900;
                @media (max-width: 361px) {
                    display:none;
                }
            }
        }
    }
}
#product-gallery {
    .rwd-controls {
        .rwd-buttons {
            .rwd-prev,
            .rwd-next {
                position: absolute;
                top:50%;
                width: 50px;
                height:50px;
                margin-top: -25px;
                &:before {
                    content: ' ';
                    display: block;
                    top:41%;
                    z-index: 900;
                }
                @media (min-width: 932px){
                    display:none;
                }
            }
            .rwd-prev {
                left:0px;
                &:before {
                    @include sprite-dimensions($allMap, arrow-stage-prev);
                    margin: 18px 0 0 18px;
                }
                @media (min-width: 361px) and (max-width:767px) {
                    left: -33px;
                }
            }
            .rwd-next {
                right:0px;
                &:before {
                    @include sprite-dimensions($allMap, arrow-stage-next);
                    margin: 18px 0 0 18px;
                }
                @media (min-width: 361px) and (max-width:767px) {
                    right: -37px;
                }
            }
            .rwd-prev,
            .rwd-next {
                &.disabled {
                    visibility:hidden;
                }
            }
        }
    }
}


#product-gallery {
    .up,
    .down {
        display:inline-block;
        width:15px;
        height:75px;
        position:absolute;
        left:35px;
        margin-left: -(image-width(sprite-file($allMap, arrow_top_j)) / 2) ;
        z-index: 999;
        outline:none;
        overflow:hidden;
        &.inactive {
            visibility:hidden;
        }
        &.disabled {
            visibility:hidden;
        }
    }
    .up {
        top:0px;
        @include sprite-dimensions($allMap, arrow_top_j);
    }
    .down {
        top: 395px;
        @include sprite-dimensions($allMap, arrow_bottom_j);
    }
}

#product-gallery {
    // PAGINATION
    .rwd-pagination {
        position: absolute;
        bottom: 30px;
        margin-bottom: 0px;
        width:auto;
        display:inline-block;
        padding: 3px 15px;
        left: 0px;
        right: 0px;
        margin: 0 50px;
        @media (min-width: 932px){
            display:none;
        }
    }
    .rwd-page {
        span {
            @include inline-block;
            width:13px;
            height:13px;
            margin: 0 3px;
            outline: none!important;
        }
    }
}

//////////////////////////////////////////////////////////////
body.lightbox {
    overflow: hidden; /* Prevent site from scrolling when a Slidebar is open, except when static Slidebars are only available. */
    position: fixed;
}
#lightbox {
    width: 100%;
    height:100%;
    top:0px;
    left: 0px;
    overflow:hidden;
    position: fixed;
    top: 0;
    -webkit-transform: translate(0px); /* Fixes issues with translated and z-indexed elements on iOS 7. */
    -webkit-overflow-scrolling: touch; /* Adds smooth native scrolling for iOS & Android devices. */
    display: none;
    z-index: 900;
}
#inner-lightbox {
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 15px;
}
#lightbox #hl {
    padding: 20px;
    @media (max-width: 360px) {
        padding-left: 0px;
        padding-right:0px;
    }
}
#lightbox  #lh img {
    position: relative;
    top: -10px;
}
#lightbox .bl {
    padding: 20px;
}
.bl #product-gallery .connected-carousels .stage {
    width: 600px;
    margin: 0 auto;
    float: none;
}
.bl #product-gallery .connected-carousels .stage li {
    width: 600px;
}

#lightbox {
    #sync3 {
        float:none;
        width:auto;
        margin-left: 110px;
        @media (max-width:1023px) {
            margin-left: 0;
        }
        @media (max-width: 360px) {
            width:360px;
            margin-left: -35px;
            margin-right: -15px;
        }
        @media (max-width: 320px) {
            width:320px;
            margin-left: -35px;
            margin-right: -15px;
        }
        .rwd-wrapper-outer  {
            margin-right: 34px!important;
        }
        .item{
            padding:0px;
            div {
                margin: 0 auto;
            }
        }
    }

    #wrapper-productGalleryThumbMedia, #wrapper-productGalleryThumbMediaOpen {
        float: left;
        width: 80px;
        margin-left: 7px;
        margin-right: 10px;
        position: relative;
                z-index: 9000;
        @media (max-width:1023px) {
            display:none;
        }
    }
    #productGalleryThumbMedia, #productGalleryThumbMediaOpen {
        width: 80px;
        margin-top: 10.5px;

        .rwd-wrapper-outer {
            height: 383px;
        }
        .rwd-wrapper  {
            width: 72px!important;
        }
        .rwd-item{
            padding: 5px 0px;
            width: 67px!important;
            float: none;
 
        }
    }


    .item {

        > div {
            img {
                //width:auto;
                //height:auto;
                @media (max-width: 360px) {
                    width:360px;
                }
                @media (max-width: 320px) {
                    width:320px;
                }
            }
            position:relative;
            .view_lupa {
                position:absolute;
                top:88%;
                right:10px;
                z-index: 900;
                @media (max-width: 361px) {
                    display:none;
                }
            }
        }
    }
}
#lightbox {
    .rwd-controls {
        .rwd-buttons {
            .rwd-prev,
            .rwd-next {
                position: absolute;
                top:50%;
                width: 50px;
                height:50px;
                margin-top: -25px;
                z-index: 10000;
                //outline:1px solid red;
                //background:rgba(0 ,0 ,0 ,0.3);
                @include hide-text;
                &:before {
                    content: ' ';
                    display: block;
                    top:41%;
                    z-index: 900;
                }
                @media (min-width: 1024px){
                    display:none;
                }
            }
            .rwd-prev {
                text-indent: -999em;
                left:0px;
                &:before {
                    @include sprite-dimensions($allMap, arrow-stage-prev);
                    margin: 18px 0 0 18px;
                }
                @media (min-width: 361px) and (max-width:767px) {
                    left: -33px;
                }
            }
            .rwd-next {
                right:0px;
                &:before {
                    @include sprite-dimensions($allMap, arrow-stage-next);
                    margin: 18px 0 0 18px;
                }
                @media (min-width: 361px) and (max-width:767px) {
                    right: -37px;
                }
            }
            .rwd-prev,
            .rwd-next {
                &.disabled {
                    visibility:hidden;
                }
            }
        }
    }
}


#lightbox {
    .up,
    .down {
        display:inline-block;
        width:67px;
        height:50px;
        position:absolute;
        left:9px;
        margin-left: -(image-width(sprite-file($allMap, arrow_top_j)) / 2) ;
        z-index: 9999;
        outline:none;
        overflow:hidden;         
        &.inactive {
            visibility:hidden;
        }
        &.disabled {
            visibility:hidden;
        }
    }
    .up {
        top: -34px;
         &:before {
            content: '';
            display:block;
            @include sprite-dimensions($allMap, arrow_top_j);
            margin: 29px 0 0 26px;
        }
       
    }
    .down {
        top: 394px;
        &:before {
            content: '';
            display:block;
        @include sprite-dimensions($allMap, arrow_bottom_j);
        margin: 12px 0 0 26px;
        }
        
    }
}

#lightbox {
    // PAGINATION
    .rwd-buttons {
        display:none;
        position:relative;
        margin:0 auto;
        @media (max-width:1023px) {
            display:block;
        }
    }
    .rwd-pagination {
        position: absolute;
        bottom: 30px;
        margin-bottom: 0px;
        width:auto;
        display:inline-block;
        padding: 3px 15px;
        left: 0px;
        right: 0px;
        margin: 0 50px;
        display:none;
    }
    .rwd-page {
        span {
            @include inline-block;
            width:13px;
            height:13px;
            margin: 0 3px;
            outline: none!important;
        }
    }
}

#product-gallery {
    .followUs {
        margin-left: 97px;
        margin-right: 16px;
        ul {
            li:last-child {
                margin-right: 0px;
            }
        }
        @media(max-width: 932px) {
            margin-left: 0px;
            margin-right:0px;
        }
    }
}
