#header {
    [role="search"] {
        margin:0px;
        margin-top: 13px;
        padding: 0;
        width: 282px;
        .form-group {
            float: left;
            width:119px ;
            input[type="text"] {
                height: 26px;
                width: 119px;
                padding-left: 15px;
                float: left;
            }
        }

        .sbToggle {
            display: block;
            height: 30px;
            position: absolute;
            right: 0;
            width: 30px;
            top: -2px;
        }

        .sbOptionsWrapper{
            left: -1px;
            margin: 0;
            padding: 0 0 5px 0;
            position: absolute;
            top: 30px;
            width: 135px;
            z-index: 1;
            overflow-y: auto;
            li {
                padding: 0 7px;
            }
            a {
                display: block;
                padding: 7px 0 7px 3px;
            }
            .sbDisabled {
                display: block;
                padding: 7px 0 7px 3px;
            }
            .sbGroup {
                display: block;
                padding: 7px 0 7px 3px;
            }
            .sbSub {
            padding-left: 17px;
            }
        }

        .select-box {
            float: left;
            width:134px;
            position:relative;
            &:before {
                content: ' ';
                display: block;
                height: 13px;
                width: 0px;
                position: absolute;
                left: 0px;
                top: 50%;
                margin-top: -6px;
                z-index: 1;
            }
        }

        input[type="image"] {
            float:left;
        }
        
        .sbHolder {
        	height:26px;
        	width:100%;
        }

        .sbSelector {
        	height:26px;
        	padding-left: 10px;
        	display: inline-block;
        }

        .sbOptionsWrapper {
        	width:100%;
        	left:0px;
        	padding-top:6px;
        	li {
        		padding:0;
        		height:auto;
        		border:none;
        		a {
        			padding: 9px 5px 9px 15px;
        			height:auto;
        			&:hover {
        				margin:0px;
        			}
        		}
        		
        	}
        }

    }
}