#help-mobile-menu {

  @media (max-width: $screen-sm-min) {
    margin-top: -54px;
  }

  h1 {
    font-size: 18px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: center;
    text-transform: uppercase;
  }



}

