#account-order-history-empty{
  border: 1px solid #ebebeb;
  @media (min-width: $screen-md-min) {
    height: 360px;
    padding: 30px;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    height: 355px;
    padding: 35px 40px;
  }
  @media (max-width: $screen-xs-max) {
    height: 290px;
    padding: 20px;
    margin: 20px 10px;
  }
  a#back {
    @media (min-width: $screen-md-min) {
      margin-top: 175px;
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      margin-top: 175px;
    }
    @media (max-width: $screen-xs-max) {
      margin-top: 125px;
    }
  }
}