
	.sbHolder{
		height: 29px;
		position: relative;
		width: 100%;
	}
	#sidebar {
		.sbHolder{
			width:149px;
		}
	}
	.fb-slidebar {
		.sbHolder{
			width:149px;
		}
	}
	.sbHolder:focus .sbSelector{
		
	}
	.sbSelector{
		display: block;
		height: 28px;
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		right: 30px;
	}
	.sbToggle{

		@include sprite-dimensions($selectMap, select_styled);
		height:  image-height(sprite-file($selectMap, select_styled));
		width:  image-width(sprite-file($selectMap, select_styled));
		display: block;		
		outline: none;
		position: absolute;
		right: 0;
		top: 0;
	}
	
.sbOptionsWrapper {
	left: -1px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 30px;
	width: 100%;
	z-index: 2;
//	overflow-y: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
	.sbOptions{
		margin: 0;
		padding: 0;
		li{
			padding: 0 0 0 0;
			display:block !important;
			float:none !important;
			margin-left:0px !important;
		}
		a {
			//border-bottom: dotted 1px #515151;
			display: block;
			outline: none;
			padding: 7px 10px 7px 10px;
		}
		
		.sbDisabled{
			display: block;
			padding: 7px 0 7px 3px;
		}
		.sbGroup{
			display: block;
			padding: 7px 0 7px 3px;
		}
		.sbSub{
		padding-left: 17px;
		}
	}
}
	#sidebar {
		.sbOptionsWrapper{
			width:149px;
			max-height: 200px!important;
		}
	}
	.fb-slidebar {
		.sbOptionsWrapper{
			width:149px;
			max-height: 100px!important;
		}
	}