.customNavigation a {top: 38%}

.pop-shop-seemore {margin-top: 30px;}

.popular-shops {
  .pop-shop-lst {
    padding-left: 0;
  }
}

.node-type-page-shop {
  .block-promoted-banners {
    .customNavigation {
      a {
        top:50%;
        &.prev {
          @media (max-width: 360px) {
            left:45px;
          }
        }
        &.next {
          @media (max-width: 360px) {
            right:45px;
          }
        }
      }
    }
    .rwd-controls {
      .rwd-buttons {
        .rwd-prev,
        .rwd-next {
          top:50%;
        }
        .rwd-prev {
          @media (max-width: 360px) {
            left:-20px;
          }
        }
        .rwd-next {
          @media (max-width: 360px) {
            right:-20px;
          }
        }
      }
    }
  }
}

.value_quality_price {
  margin-bottom: 15px;
}

.cart-qty-field {
  margin: 0 auto;
  @media (max-width: 768px) {
    margin-left: 0;
  }
}
/* PANEL KOSZYKA */
#popup-after-add-to-cart  {
	.modal-dialog {
		max-width: 450px;
		width: 85% !important;
		min-width: 0 !important;
	}
	#buttons-after-add-to-cart {
		margin-top: 25px;
		text-align: center;
		.button-after-add-to-cart {
			display: inline-block;
			width: 49%;
			@media(max-width: 500px) {
				display: block;
				width: 100%;
				text-align: center !important;
			}
		}
		#continue-shopping-after-add-to-cart {
			text-align: left;
		}
		#cart-after-add-to-cart {
			text-align: right;
			@media(max-width: 500px) {
				margin-top: 10px;
			}
		}
	}
	#full-width-popup-table .price {
		@media(max-width: 500px) {
			display: none;
		}
	}
	#small-width-popup-table {
		@media(min-width: 501px) {
			display: none;
		}
	}
	table {
		width:100%;

		td {
			padding: 8px 0;
			vertical-align: top;
			img {
				border: 1px solid #adadad;
			}
			&+td {
				padding-left: 5px;
			}
			p {
				margin: 0 0 5px 0;
				padding:0;
				font-size: 12px;
				line-height: 1.3;
			}
		}
	}
}

/** popup product contact form */
#ask_question.modal {
	.row {
		margin: 0;
	}
	h3#bLogo {
		padding: 0 0 5px 15px;
		img {
			max-width: 120px;
			max-height: 60px;
		}
	}
	.seller {
		padding: 0 0 15px 15px;
	}
}




.descripionProduct-box-bundle {
  border:1px solid #d9d9d9;
  padding:9px 9px 0px;
  text-align:center;
  margin-bottom: 10px;
  @media (max-width: $screen-xs-max) {
    margin-bottom: 0px;
    padding-bottom:0px;
  }
  .seller-label {
    font-size: 18px;
    color:#1d1e1c;
    text-transform: uppercase;
    margin-top: 9px;
    margin-bottom: 13px;
    display:block;
    @media (max-width: $screen-xs-max) {

      float:left;
      text-align: left;
      clear: left;
      margin-left:25px;
      display: inline-block;
      margin-bottom: 7px;
    }
  }
  figure {
    margin-bottom:14px;
    @media (max-width: $screen-xs-max) {
      position:absolute;
      height: 100%;
      right:35px;
      top: 50%;
      //            top: 0;
      transform: translateY(-50%);
      display: inline-block;
      line-height: 60px;
      //            			top:16px;
    }
  }
  .seller {
    font-size: 12px;
    color:#000;
    margin-bottom: 17px;
    a {
      @extend .seller;
    }
    @media (max-width: $screen-xs-max) {
      float:left;
      text-align: left;
      clear: left;
      margin-left:13px;
      display: inline-block;
      margin-bottom: 10px;
    }
  }
  .block {
    padding:12px 0;
    border-top:1px solid #ebeaed;

  }
  .seller-box-description  {
    &.block {
      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        border-top: none;
      }

    }
  }
  h3 {
    font-size: 11px;
    color:#000;
    text-transform: uppercase;
    margin:0px;
    display:block;
    text-align: left;
    padding:0 0 0 10px;
    position:relative;
    a {
      font-size: 11px;
      color:#000;
      text-decoration: none;
      display:block;


    }
    span#average_note_client {
      padding-top:5px;
      display:block;
      position:relative;
      overflow:hidden;
      span.note {
        margin-right: 5px;
        float: left;
        img {
	        width: 22px;
	        height: 22px;
        }
        &+span {
          font-size: 11px;
          color:#646464;
          font-family: $fontRegular;
          line-height: 13px;
          float: left;
        }
      }

    }
  }
}



#seller-box-bundle {
  border:1px solid #d9d9d9;
  padding:9px 9px 0px;
  text-align:center;
  margin-bottom: 10px;
  @media (max-width: $screen-xs-max) {
    margin-bottom: 0px;
    padding-bottom:0px;
  }
  .seller-label {
    font-size: 18px;
    color:#1d1e1c;
    text-transform: uppercase;
    margin-top: 3px;
    margin-bottom: 0px;
    display:block;
    @media (max-width: $screen-xs-max) {
      float:left;
      text-align: left;
      clear: left;
      margin-left:25px;
      display: inline-block;
    }
  }
  figure {
	  @media(max-width: 452px) {
		  margin-top: 5px;
	  }
    margin-bottom:10px;
    padding-left: 0px;
    text-align: center;
    @media (max-width: $screen-xs-max) {
      display: inline-block;
      vertical-align: middle;
      min-height: 65px;
      line-height: 65px;
      margin-bottom: 0;
      position: relative;
      height: auto;
      right: auto;
      transform: none !important;
      top: auto;
    }
    img {
      max-width: 120px;
      max-height: 60px;
    }
  }
  .seller {
    font-size: 12px;
    color:#000;
    margin-bottom: 15px;

    @media (max-width: $screen-xs-max) {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
      float: none;
      min-height: 1px;
      transform: none !important;
    }
    .seller-info {
      @media (max-width: $screen-xs-max) {
        margin: auto;
      }
    }
    a {
      @media (max-width: $screen-xs-max) {
        width: 100%;
        float:left;
        text-align: left;
        clear: left;
        display: inline-block;
        margin-bottom: 0;
      }
    }
  }
  .block {
    padding:12px 0;
    border-top:1px solid #ebeaed;

  }
  .seller-box-description  {
    &.block {
      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        border-top: none;
      }

    }
  }
  h3 {
    font-size: 11px;
    color:#000;
    text-transform: uppercase;
    margin:0px;
    display:block;
    text-align: left;
    padding:0 0 0 10px;
    position:relative;
    a {
      font-size: 11px;
      color:#000;
      text-decoration: none;
      display:block;


    }
    span#average_note_client {
      padding-top:5px;
      display:block;
      position:relative;
      overflow:hidden;
      span.note {
        margin-right: 0px;
        float: left;
        &+span {
          float:none;
          font-size: 11px;
          color:#646464;
          font-family: 'OpenSansRegular';
          line-height: 13px;
          float: left;
        }
      }

    }
  }
}

#seller-box-bundle .seller.producer {
  @media (max-width: $screen-xs-max) {
    transform: translateY(25%);
  }
}
#product-shop {
  h1 {
    font-family:$fontLight;
    text-transform:uppercase;
    font-size:34px;
    padding-bottom:15px;
    padding-top: 0px;
    margin-bottom:15px;
    margin-top: 0;
    border-bottom: 1px solid $gray-lighter;
    @media (max-width: $screen-xs-max) {
      //margin-left: -4%;
      //padding-left: 4%;
      font-size:22px;
      margin-top:15px;
    }
  }
  .short-description {
    font-size: 12px;
    color: #383838;
    margin-bottom: 6px;
    a {
      color :#959595;
      span {
        color :#1dd8a0;
        margin-left:30px;
      }
    }
    @media (max-width: 1199px) {
      display:none;
    }
  }
  .price-box-bundle {
    position:relative;
    margin-bottom: 16px;
    padding-right: 123px;
    @media (min-width: 768px) and (max-width: 819px) {
      margin-bottom: 0px;
    }
    .price-label,
    .old-price {
      font-size: 24px;
      color:#000;
      font-family: $fontLight;
    }
    .old-price {
      text-decoration: line-through;
    }
    .price {
      font-size: 36px;
      color:#000;
      font-family: $fontBlack;
      @media (min-width: 768px) and (max-width: 819px) {
        margin-bottom: 0px;
      }
      @media (min-width: 481px) and (max-width: $screen-xs-max) {
        display:inline-block;
        margin:0px;
        padding:0px;
        line-height: 1.0;
      }
      @media (max-width: 480px) {
        display:block;
        margin:0px;
        padding:0px;
        line-height: 1.0;
        display:block;
      }
    }
    ul {
      @include no-bullet;
      @include reset-m;
      position:absolute;
      right:0px;
      top:10px;
      @media (max-width: $screen-xs-max) {
        top:2px;
      }
      li {
        font-size: 12px;
        color:$gray-dark;
        line-height: 1.5;
      }
    }
  }
  .color-box-bundle,
  .size-box-bundle {
    .color-label,
    .size-label {
      line-height: 47px;
      display: inline-block;
      float: left;
      text-transform: uppercase;
      font-size: 11px;
      color:#020202;
      font-weight: normal;
      @media (min-width: 768px) and (max-width: 814px) {
        float:none;
        display:block;
        width:100%;
        line-height: 29px;
      }
      @media (max-width: $screen-xs-max) {
        float:none;
        display:block;
        line-height: 29px;
      }
    }
    .form-group {
      display: inline-block;
      label {
        position: relative;
        width:43px;
        height: 43px;
        display:inline-block;
        margin-right:8px;
        cursor:pointer;
        &:first-child {
//          margin-left:-2px;
        }
        img {
          position:absolute;
          top:0px;
          left:0px;
          width:100%;
          height:auto;
          @include border-radius(3px);
          border:1px solid #fff;
        }
        &:hover {
          &+img {
            border-color:#999;
          }
        }
        img:hover {
          border-color:#999;
        }
        [type="radio"]:checked {
          &+img {
            border-color:#000;
          }
        }
      }
    }

  }
  .color-box-bundle  {
    .color-label {
      line-height: 57px;
    }
    .form-group {
      label {
        height:54px;
      }
    }
  }
  .color {
    .form-group {
      input[type="radio"] {
        margin-left: 50%;
        margin-top: 50%;
        float: left;
      }
    }

  }

  .size {
    position:relative;
  }
  .size {
    .form-group {
      input[type="radio"] {
        margin-left: 0;
        margin-top: 0;
        float: left;
        outline: none !important;
        visibility: hidden;
      }
    }
  }
  .size-box-bundle {
    margin-bottom:20px;
    @media (min-width: 992px) and (max-width: 1197px){
      margin-bottom:0px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      margin-bottom:0px;
    }
    .size-label {
      line-height: 29px;
      @media (min-width: 768px) and (max-width: 814px) {
        display:block;
        width:100%;
      }
      @media (max-width: $screen-xs-max) {
        float:none;
        display:block;
        float:none;
      }
    }
    .form-group {
      margin-bottom: 5px;
      margin-left: 2px;
      label {
        width:41px;
        height:41px;
        position: relative;
        span {
          width:41px;
          height:41px;
          display:block;
          background:#fff;
          border:1px solid $gray;
          text-align:center;
          line-height: 39px;
          color:#858585;
          font-size:14px;
          font-family:$fontRegular;
          font-weight: normal;
          position:absolute;
          top:0px;
          left:0px;
        }
        [type="radio"]:hover {
          &+span {
            border-color:#999;
            background:#999;
            color:#fff;
          }
        }
        span:hover {
          border-color:#999;
          background:#999;
          color:#fff;
        }
        [type="radio"]:checked,
        [type="radio"]:hover:checked {
          &+span {
            border-color:#000;
            background:#000;
            color:#fff;
          }
        }

      }
    }
    .view-sizing {
      display:block;
      font-size: 14px;
      float: right;
      position: absolute;
      bottom: -25px;
      left: 0px;
      white-space: nowrap;
      @media (max-width: 814px) {

      }
      @media (max-width: $screen-xs-max) {
        margin-left:0px;

      }
      .linkToModal {
        text-align: right;
        top:-24px;
        position:relative;
        padding-left:100px;
      }
      &.hidden-xs {
        @media (max-width: 814px) {
          display:none!important;
        }
        @media (min-width: 815px) {
          display:inline-block!important;
        }
      }
      &.visible-xs {
        @media  (max-width: 814px) {
          display:inline-block!important;
          //float:right;
          position: static;
          //top: -23px;
          //right: 11px;
          //left: auto;
        }
      }


    }
    .size-box {
      margin-bottom: 40px;
    }
  }
  .action-box-bundle {
    margin-bottom:20px;
    font-size: 11px;
    color:#000;
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      margin-top:4.5px;
    }

    @media (max-width: 360px) {
      font-size: 9px;
    }
    .col-xs-6.text-right {
      margin-top: 16px;
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        margin-top: 15px;
      }
      @media (max-width: 320px) {
        margin-top: 15px;
      }
    }
    .addLike-box {
      margin-top: -18px !important;
      @media (max-width: 360px) {
        margin-top: 1px;
        @media screen and (-webkit-min-device-pixel-ratio:0) {
          margin-top: 2px;
        }
      }

    }
    .addedLike-box {
      @media (max-width: 810px) {
        margin-top: -7px;
      }
    }
	  .addingLike-box {
		  padding-left: 50px;
	  }
    .addLike {
      width:149px;
      height:42px;
      display:block;
      border:2px solid #a6a6a6;
      @include border-radius(5px);
      line-height: 1.2;
      padding: 7px 0 0 43px;
      font-size: 11px;
      color:$gray-dark;
      text-transform: uppercase;
      font-family: $fontRegular;
      background:#fff url('../images/heart.png') 8px 11px no-repeat;
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        height:42px;
      }
      &:hover {
        text-decoration: none;
        background:#fff url('../images/heart-like.png') 8px 11px no-repeat;
      }
    }
    .likeAdded {
      min-width: 145px;
      display:block;
      height:43px;
      padding: 7px 0 0 35px;
      color:$gray-dark;
      background:#fff url('../images/heart-like.png') 8px 15px no-repeat;
	    @media(min-width: 440px) {
		    white-space: nowrap;
	    }
	    @media(min-width: $screen-sm-min) {
		    white-space: normal !important;
	    }
	    @media(min-width: 810px) {
		    white-space: nowrap !important;
	    }
      span {
        color:#dcdcdc;
      }
      &:hover {
        text-decoration: none;
        /*background:#fff url('../images/heart.png') 8px 11px no-repeat;*/
        span {
          color:$gray-dark;
        }
      }
    }
    .addBasket {

      width: 100%;
      max-width:165px;
      overflow:hidden;
      @media (min-width: $screen-lg-min) {
        max-width:190px;
      }
      @media (max-width: 320px) {
        font-size: 11px;
        font-weight: normal;
      }
    }
    .temporary-absence-product-wrapper{
      padding: 5px;
      text-align: center;
      border: 1px solid $color-gold;
      display: table-cell;
    }
    .temporary-absence-product {
      text-transform: uppercase;
      font-size: 13px;
    }
  }
}

// dimensions
.small-banners {
  .row {
    margin: 0 -20px;
    @media (max-width: 767px) {
      div:nth-child(3) {
        clear:both;
      }
    }
  }
}



form {
  .col-50{
    width:48%;

    float:left;
    &+.col-50{
      margin:0 0 0 4%;
    }
  }
  .has-feedback {
    i {
      position:absolute;
      color:#ec695d;
      position:absolute;
      top:0!important;
      right:-11px!important;
      top:16px;
      &.form-ico-checked {
        position:absolute;
        top:8px!important;
        right:-27px!important;
      }
      &.form-ico-times {
        position:absolute;
        top:8px!important;
        right:-24px!important;
      }
    }
  }
  .has-success {
    i.fa {
      right:-5%;
      color:#2ecc71;
    }
  }

  .hide-success-vaild {
    .has-success {
      .form-control:focus{
        -webkit-box-shadow: inset 2px 2px 7px rgba(1, 1, 1, 0.1);
        box-shadow: inset 2px 2px 7px rgba(1, 1, 1, 0.1);
        border: 1px solid #bcbcbc;
      }
      i{display: none;}
    }

  }

  .has-warning {
    i.fa {
      position:absolute;

      right:-5%;
      color:$color-accent;
    }
  }



  .has-error {
    margin-bottom:5px;
    label.error,
    span.error {
      color:#e84c3d;
      font-size: 12px;
      font-weight: normal;
      line-height: 1.0!important;
      //            padding:10px 0 0px 15px!important;
      padding:10px 0 0px 0px!important;
      clear:both;
      display:block;
      text-align: left!important;

    }
    &.form-checkbox {
      label.error,
      span.error {
        padding: 2px 0 20px 20px!important;
        height:0px;
      }
    }

    [type="text"],
    [type="email"],
    [type="password"],
    textarea{
      border-color : #ec695d;
    }
  }
  .form-group {
    position:relative;
    margin-bottom: 15px;
    [type="text"],
    [type="email"],
    [type="password"],
    [type="tel"] {
      border: 1px solid #bcbcbc;
      border-radius:1px;
      box-shadow: inset 2px 2px 7px rgba(1,1,1,.1);
      color:$gray-darker;
      font-size:12px;
      padding: 13px 15px 13px 15px;
      width:100%;
      font-family: $fontRegular;
      height:42px;
      outline:none!important;
    }

    .firstName 	{max-width: 266px;}
    .lastName 	{max-width: 266px;}
    .firm 		{max-width: 266px;}
    .city 		{max-width: 266px;}
    .street 	{max-width: 266px;}
    .zipcode 	{max-width: 80px;}
    .phone 		{max-width: 115px;}
    .email,.login-text-field 		{max-width: 266px !important;}
    .password 	{max-width: 235px;}
    .nip 		{max-width: 115px}



    input:disabled {
      border-color:#d9d9d9;
      color:gray;
      box-shadow: none;
    }
    textarea, textarea.form-control {
      border: 1px solid #bcbcbc;
      border-radius:1px;
      min-height: 132px;
      box-shadow: inset 2px 2px 7px rgba(1,1,1,.1);
      padding: 12px 0 12px 15px;
      color:$gray-darker;
      font-size:12px;
      width:100%;
      font-family: $fontRegular;
      resize:vertical;
      outline:none!important;
    }
    input[type=checkbox].css-checkbox,
    input[type=radio].css-radio {
      //display:none;
      visibility:hidden;
      position:absolute;
      top:-200px;
      left:-200px
    }

    input[type=checkbox].css-checkbox + label.css-label,
    input[type=checkbox].css-checkbox:active + label.css-label,
    input[type=radio].css-radio + label.css-label,
    {
      padding-left:23px;
      height:17px;
      display:inline-block;
      line-height:17px;
      background-repeat:no-repeat;
      background-position: 0 0;
      font-size:12px;
      vertical-align:middle;
      cursor:pointer;
      font-weight:normal;
      touch-action: none;

    }
    label.css-label {

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    input[type=checkbox].css-checkbox + label.css-label {
      background-image:url('../images/checkbox.png');
    }
    input[type=radio].css-radio + label.css-label {
      background-image:url('../images/radio.png');
    }
    input[type=checkbox].css-checkbox + label.css-label:hover,

    input[type=radio].css-radio + label.css-label:hover {
      background-position: 0 -28px;
      color:$gray-darker;
    }
    input[type=checkbox].css-checkbox:checked + label.css-label,
    input[type=radio].css-radio:checked + label.css-label {
      background-position: 0 -55px;
      color:$gray-darker;
    }
    input[type=checkbox].css-checkbox:disabled + label.css-label,
    input[type=radio].css-radio:disabled + label.css-label {
      background-position: 0 -82px;
      color:#bcbcbc;
    }
    input[type=checkbox].css-checkbox:checked:disabled + label.css-label,
    input[type=radio].css-radio:checked:disabled + label.css-label {
      background-position: 0 -110px;
      color:#bcbcbc;
    }



    .action {
      padding:10px;
    }

    .topHint {
      background:#f0f0f0;
      height:29px;
      line-height: 29px;
      display:inline-block;
      padding:0 14px;
      position:absolute;
      right:0px;
      top:0px;
      z-index: 800;
      &:after {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(240, 240, 240, 0);
        border-right-color: #f0f0f0;
        border-width: 5px;
        margin-top: -5px;
      }
    }

  }


  .form-control {
    @include border-radius(1px);
  }
  select.form-control{
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }
  .hidden {
    display:none;
  }



  .form-group {
    &.form-checkbox {
      &.small {
        margin-bottom: 0px;
        input[type=checkbox].css-checkbox + label.css-label,
        input[type=radio].css-radio + label.css-label {
          padding-left:20px;
          height:17px;
          display:inline-block;
          line-height:17px;
          background:$btnCheck;
          background-repeat:no-repeat;
          background-position: 0 0;
          font-size:12px;
          vertical-align:middle;
          cursor:pointer;
          font-weight:normal;
          color:$gray-darker;
          img {
            float: left;
            position: relative;
            top: 2px;
            margin-right: 5px;
          }
          .suffix {
            color:#b0b0b0;
            font-size:12px;
          }
	      a {
		      text-decoration: underline;
	      }
        }

        input[type=checkbox].css-checkbox + label.css-label {
          //background-image:url('../images/checkbox_filter.png');
          @include sprite($btnCheck, check);
          //@include sprite-dimensions($bulletMap, remove-coupon);

        }
        input[type=radio].css-radio + label.css-label {
          background-image:url('../images/radio.png');

        }
        input[type=checkbox].css-checkbox + label.css-label:hover,
        input[type=radio].css-radio + label.css-label:hover {
          //background-position: 0 -50px;
          //@include sprite($btnCheck, hover);
          color:#999999;
        }
        input[type=checkbox].css-checkbox:checked + label.css-label,
        input[type=radio].css-radio:checked + label.css-label {
          //background-position: 0 -100px;
          @include sprite($btnCheck, checked);
          color:$gray-darker;
        }

      }}}
	  

}

.customer-account-privacy .form-group.form-checkbox-single{
	margin-bottom: 10px;
	label{
		font-size: 14px !important;
	}
}
   
#seller-box-bundle .seller {
  @media(max-width: 375px) {
    width: 49%;
  }
}





.gh-cookiebar {
  #cookie-bar {
    background:#000000; height:auto; line-height:24px; color:#ffffff; text-align:center; padding:3px 0;
    z-index: 9999;
    width: 100%;
    &.fixed {
      position: fixed;
      &.bottom {bottom:0; top:auto;}
    }
    a {
      color:#c6a662; text-decoration:none;
      border-radius: 0;
      padding: 0;
      margin: 0;
      &:hover {
        color: #b08944;
      }
    }
    p {margin:0; padding:10px; font-size: 12px;}
    .cb-enable {
      padding: 5px 20px;
      color: #fff;
      font-weight: bold;
      font-family: latoregular, sans-serif;
      text-align: center;
      border-radius: 5px;
      background: #c6a662;
      vertical-align: middle;
      border: none;
      margin: 0 10px;
      /* Old browsers */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYzZhNjYyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkwN2U0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
      background: -moz-linear-gradient(-80deg, #c6a662 0%, #907e42 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #c6a662), color-stop(100%, #907e42));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(-80deg, #c6a662 0%, #907e42 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(-80deg, #c6a662 0%, #907e42 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(-80deg, #c6a662 0%, #907e42 100%);
      /* IE10+ */
      background: linear-gradient(135deg, #c6a662 0%, #907e42 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6a662', endColorstr='#907e42',GradientType=1 );
      /* IE6-8 fallback on horizontal gradient */
      white-space: nowrap;
      &:hover {
        color: #fff;
        background:#b08944;
      }
    }

    .cb-disable {background:#c6a662;}
    .cb-disable:hover {background:#b08944;}
    .cb-policy {background:#c6a662;}
    .cb-policy:hover {background:#b08944;}
  }
}


