.customNavigation a {top: 38%}

.pop-shop-seemore {margin-top: 30px;}

.popular-shops {
    .pop-shop-lst {
        padding-left: 0;
    }
}

.node-type-page-shop {
	.block-promoted-banners {
	.customNavigation {
			a {
				top:50%;
				&.prev {
					@media (max-width: 360px) { 
						left:45px;
					}
				}
				&.next {
					@media (max-width: 360px) {
						right:45px;
					 }
				}
			}
		}
		.rwd-controls {
			.rwd-buttons {
				.rwd-prev,
				.rwd-next {
					top:50%;
				}
				.rwd-prev {
					@media (max-width: 360px) { 
						left:-20px;
					}
				}
				.rwd-next {
					@media (max-width: 360px) {
						right:-20px;
					 }
				}
			}
		}
	}
}