.node-type-shopping-cart {
	#content-main {
		.panel {
			&.panel-default {
				@include border-radius(1px);
				border-color:#bfbfbf;
			}
			.panel-heading {
				padding:14.86px 0 0 29.41px;
				background:transparent;
				border: none;
				position:relative;
				font-size: 18px;
				color:#000;
				margin-bottom: 13px;
				@media (max-width: $screen-xs-max) {
					padding:14.86px 0 0px 29.41px;
				}
				&:before {
					content: ' ';
					background: $color-accent;
					display: block;
					width: 18px;
					height: 18px;
					position: absolute;
					left: 0px;
					top: 18px;
				}
				strong {
					font-family: $fontRegular;
					font-weight: bold;
				}
			}
			.panel-body {
				padding:0 0 15px 0;
			}
		}
	}
}