<?xml version="1.0"?>
<config>
    <sections>
        <udropship>
            <groups>
                <tiercom translate="label">
                    <fields>
                        <sale_commission_percent>
                            <label>Default SALE Commission Percent</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sale_commission_percent>

                    </fields>
                </tiercom>
            </groups>
        </udropship>
    </sections>
</config>