<?xml version="1.0"?>
<config>
    <sections>
        <udropship>
            <groups>
                <tiercom translate="label">
                    <fields>
                        <sale_commission_percent>
                            <label>Default SALE Commission Percent</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sale_commission_percent>
						<terminal_percent_for_charge_sale_commission translate="label comment">
							<label>Terminal percent for charge sale commission</label>
							<comment><![CDATA[Commission for the sale will be calculated for products which have a lower selling price of n-percent strikeout price]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>110</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</terminal_percent_for_charge_sale_commission>
                    </fields>
                </tiercom>
            </groups>
        </udropship>
    </sections>
</config>