.filter-size {
     
      label {
        width:38px;
        height:38px;
        display:inline-block;
        position:relative;
        cursor:pointer;
        margin-left:7px;
        margin-bottom:10px;
        &:nth-child(5n+1) {
          margin-left: 0;
        }
        span {
          width:38px;
          height:38px;
          display:block;
          position:absolute;
          top:0;
          left:0;
          
        }
      }
    }


.filter-longlist{
      input[type="text"] {
        padding:0 23px 0 5px !important;
        float:left !important;
        height:23px !important;
        width:210px !important;
      }
      input[type="image"] {
        height:23px;
        margin-left: 2px;
        float:left;
      }
      .form-group {
        position:relative;
      }
      > .form-group {
        margin-bottom: 15px !important;
      }
      .filterLongListSearch {
        &+label {
          position:absolute;
          right:0;
          top:0;
          display:inline-block;
          padding:0;
          margin:0;
          height:23px;
          width:23px;
          i {
            position:static;
            margin: 4px 0 0 4px;
          }
        }
      }    
    }
#filter_price {
      &> .form-checkbox {
        margin-left: 0;
      }
      .form-horizontal {
        &+.form-horizontal {  
           margin-left: 5px;
        }
        input {
          margin:0 5px;
          &[type="text"], &[type="tel"] {
            padding:0;
            margin:0 5px;
            height:22px;
            width:38px;
          }
        }
        
        [type="image"] {
          width:34px;
          height:19px;
        }
      }
      #checkSlider {
        float: left;
        margin: 0 14px 0 -16px;
        position:relative;
        top:2px;
      }
      #od_do {
		padding: 0 12% 0 18%;
        #slider-range {
			margin-top: 10px;
			border-radius: 0;
			border: 1px solid $colorShadow;
			background: $colorShadow;
			color: $colorShadow;
			height: 3px;
        }

		  .ui-state-default,
		  .ui-widget-content
		  .ui-state-default,
		  .ui-widget-header
		  .ui-state-default {
			  border: 1px solid #000;
			  background: #000;
			  font-weight: normal;
			  color:  #000;
			  border-radius: 0;
			  width: 10px;
			  height: 10px;
			  &:focus {
				  outline: none;
			  }
		  }
		  .ui-widget-header {
			  background: $colorLinkActive;
              border: 1px solid $colorLinkActive;
              top: -0.5px;
		  }
        .form-horizontal {
          width:40px;
          float:left;
          margin-left:-6px;
         & + .form-horizontal {
          margin-left:8px;
          }
        }
        .form-action {
          margin-bottom: 5px;
          margin-right: -7px;
          float: right;
          width: 35px;
          position:relative;
          left:-3px;
          .btn {
            position:relative;
            top:0;
            &.black {
              width:75px!important;
              height:22px!important;
              min-width: 35px;
              padding:0;
            }
            
          }
        }
      }
    }
.filter-icon {
      label {
          span.filter-icon-image {
            display:inline-block;
            width:27px;
            height:27px;
			border:1px solid $gray;
          }
          
        }
    }



.filter-color {

      [type="checkbox"] {
        margin:3px 0 0 3px;
      }
      label {
        display:inline-block;
        width:34px;
        height:34px;
        margin:6px 8px;
        position:relative;
        &:nth-child(3n+1) {
          margin-left: 0;
        }
        &:nth-child(3n+3) {
          margin-right: 0;
        }
        > span {
          display:block;
          width:33px;
          height:33px;
          padding:3px;
          position:absolute;
          top:0;
          left:0;
          span {
            display:inline-block;
            width:27px;
            height:27px;
			  a{
				  display:block;
				  width: 25px;
				  height: 25px;
			  }
          }
          
        }
      }
    }

.longListItems, .longListChecked {
  margin:0 !important;
  padding:5px 0 0 0;
  //max-height:126px;
  //overflow-y:auto;
  margin-bottom: 10px;
  li {
    padding-left: 5px;
    padding-right: 19px;
    .form-group {
      margin-bottom: 5px;
    }
    &.lastChecked {
      margin-bottom:5px;
    }
  }
} 

#filter_style,
.filter-droplist,
.filter-enum {
  .select-group {
    &.medium {
      width:140px;
      max-width: 140px;
      .button-select {
        width:140px;
        min-width:140px;
      }
    }
  }
}

#category_with_filters {
  display: none;
  font-size: 14px;
  position: absolute;
  text-align: left;
  margin-top: 10px;
  .section {
    .content {
      display: block;
    }
  }
  &.filters-desktop {
    @include min-screen($screen-sm-min) {
      display: block !important;
    }
  }
  &.filters-mobile {
    z-index: 1001;
    top: 0;
    left: -240px;
    overflow-y: auto;
    width: 240px;
    display: block;
    margin-top: 0;
    .solr_search_facets {
      width: 240px;
    }
  }

}
.category_with_filters {
  .content {
    display: block !important;
  }
}
#solr_search_facets {
	top: 139px;
	position: absolute;
	display: none;
	&.filters-desktop {
		@include min-screen($screen-sm-min) {
			display: block !important;
		}
	}
	&.filters-mobile {
		z-index: 1001;
		top: 0;
		left: -240px;
		overflow-y: auto;
		width: $widthSidebarMobile;
		display: none;
		padding: 0 3px;

		.filter-longlist {
			input[type="text"] {
				width: 85% !important;
			}
		}
		.filter-color {
			max-width: 200px;
			label {
				margin: 6px 11px;
				&:nth-child(3n+1) {
					margin-left: 0;
				}
			}
		}
		.filter-size {
			max-width: 200px;
			label {
				margin: 7px 11px;
				&:nth-child(3n+1) {
					margin-left: 0;
				}
			}
		}
		#filter_price {
			#od_do {
				.form-action {
					float: left;
				}
			}
		}
	}
}

#filters-overlay {
	position: absolute;
	background-color: rgba(0,0,0,.5);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
}

html.noscroll-filters {
	overflow: hidden;
	height: 100%;
	body {
		overflow: hidden;
		height: 100%;
	}
	#sb-site {
		margin-left: 240px;
		overflow: visible;
	}
	header#header .header_top {
		left: 240px;
	}
}

html.noscroll {
	overflow: hidden;
	height: 100%;
	body {
		overflow: hidden;
		height: 100%;
	}
}

.filter-size {

	label {
		cursor:pointer;
		span {
			border:1px solid $gray;
			text-align:center;
			line-height: 38px;
			font-size:12px;
			color:$color_313131;
			background:$color_fff;
			font-weight: normal;
			a {
				margin-left: 2px;
				&:hover {
					color:$color_fff;
				}
			}
		}
		&:hover {
			span {
				background-color:$color_999;
				border-color:$color_999;
				color:$color_fff;

				a {
					color:$color_fff;
				}
			}

		}
		input[type=checkbox]:hover + span  {
			background-color:$color_999;
			border-color:$color_999;
			color:$color_fff;
		}
		input[type=checkbox]:checked {
			outline:none!important;
		}
		input[type=checkbox]:checked + span,
		input.checked + span  {
			background:$color_000;
			border-color:$color_000;
			a:link, a:visited {
				color:$color_fff;
			}
		}
	}
}
.filter-longlist {

	input[type="text"] {
		border:1px solid $color_d6d6d6;
		&:focus {
			outline:none;
		}
	}
	input[type="image"] {
		outline:none;
	}
	#longListSearch {
		&+label {
			i {
				color:$color_000;
			}
		}
	}
}

#filter_price {

	#zakres_min,
	#zakres_max {
		background: transparent;
		border: 1px solid $body-bg;
		width: 25px;
		text-align: center;
		margin: 0 3px;
        padding: 0;
	}
	.form-horizontal {

		input {

			&[type="text"],
			&[type="tel"] {
				text-align: center;

			}
		}
		label {
			font-weight: normal
		}

	}

	#od_do {
		.form-action {
			.btn {
				&.black {
					line-height: 21px!important;
					font-size: 15px!important;
				}
			}
		}
	}
}
.filter-color {
	[type="checkbox"] {
		outline:none!important;
	}
	label {
		> span {
			background:$color_fff;
			@include border-radius(5px);
			span {
				border:1px solid $gray;
			}

		}
		[type="checkbox"]:hover + span {
			background:$color_999;
			cursor:pointer;
		}
		[type="checkbox"]:checked + span,
		span.checked {
			background:$color_000;
		}
		&:hover span {
			background:$color_999;
			cursor:pointer;
		}
	}
}

.longListItems {
	list-style: none;
	li {

		&.lastChecked {
			border-bottom: 1px solid $color_d0cfcf;

		}
	}
}
span.checked {
	background:$color_000;
}

.sidebar {
	border: 1px solid $colorBorderSidebar;
	border-bottom: none;
	background: $colorBackgroundSidebar;
	font-family: $fontRegular;
	font-size: 12px;

	.section {
		border-bottom: 1px solid $colorBorderSidebarSection;
		text-align:center;
		-webkit-backface-visibility: hidden;
	}
	h3 {
		font-size: 1.1428em;
		font-family:$fontBlack;
		font-weight: 400;
		line-height: 1.3;
		text-transform: uppercase;
		text-align:left;
		cursor:pointer;
		white-space:nowrap;
		&:before {
			background:$colorAccentTitle;
		}
	}
	.no-pointer {
		cursor: default;
	}
	dl {
		dt {
			text-transform: uppercase;
		}
		dd {
			font-size:13px;
			line-height: 13px;
		}
	}
	.action {
		text-align: right;
		.go_back {
			font-size:12px;
			left: -12px;
		}
	}
	.action.clear {
		text-align: center;
	}
	.bigger-left{
		dl{
			dd {
				padding: 0 5px 0 8px;
			}
		}
	}
	.no-margin {
		margin: 0;
	}
}

.current-filter {
	dt {
		text-transform: uppercase;
		font-size: 14px;
	}

	dt {
		margin-right:20px;
		text-transform:uppercase;
		line-height: 10px;
		@media (max-width: $screen-sm-min) {
			font-size: 12px;
		}
	}
	dd {
		.label {
			text-align: left;
			color:$color_000;
			display:inline-block;
			font-size: 12px;
			float:left;
			line-height:20px;
			border:1px solid $color_ededed;
			font-weight: normal;
		}
		.fa {
			color:$color_949494;
			font-size: 11px;
		}
		&:hover {
			.fa {
				cursor:pointer;
			}
		}

		&.action {
			@include border-radius(3px);
		}

	}
}

.sidebar {
	.go_read_filter {
		font-size: 12px;
	}
	#filter_recommended_products, #filter_product_flag_facet, #filter_flags_facet {
		label {
			span,a {
				color:$color_fff;
				text-transform: uppercase;
				text-align: center;
				&+.suffix {
					font-weight: normal;
					background-color:transparent !important;
					color: $color_b0b0b0;
					font-size: 12px;
					text-align: left;
				}
			}
		}

		label[for="filter_recommended_products_news"], .new {
			>span {
				background: $backgroundColorFlagNew;
			}
		}

		label[for="filter_recommended_products_sale"], .sale {
			>span {
				background:$backgroundColorFlagSale;
			}
		}

		label[for="filter_recommended_products_bestseler"], .bestseller {
			>span {
				background:$color_3ca89b;
			}
		}

		label[for="filter_recommended_products_propotion"], .promotion {
			>span {
				background:$backgroundColorFlagPromotion;
			}
		}
	}
}

.filter-type {
	table {
		td {
			vertical-align: middle;
			line-height: 1.0;
			&.first-td {
				vertical-align: middle;
				label {
					img {
						border:1px solid $gray;
						margin:2px;
						width:27px;
						height:27px;
					}
				}

				[type=checkbox]:checked {
					outline:none!important;
					&+label{
						img {
							border:3px solid $color_000;
							@include border-radius(5px);
							margin:0;
							width:31px;
							height:31px;
						}
					}
				}
			}
			label {
				font-weight: normal;
				cursor:pointer;
				font-size: 13px;
				.suffix {
					color: $color_b0b0b0;
					font-size: 12px;
                    float: right;
                }
			}
		}
		tr {
			&:hover {
				td {
					label {
						color:$color_000;
						.suffix {
							color: $color_b0b0b0;
						}
						img {
							border:3px solid $color_999;
							@include border-radius(5px);
							margin:0;
							width:31px;
							height:31px;
						}
					}
				}
			}

		}
		tr {
			&:hover {
				td {
					label {
						span {
							color:$color_000;
							text-decoration: underline;
							&+span {
								text-decoration: none;
								&.suffix {
									color: $color_b0b0b0;
								}
							}
						}
					}
				}
			}
		}
	}
}


.block-filter {
	form {
		.form-group {
			input[type=checkbox].css-checkbox + label.css-label,
			input[type=radio].css-radio + label.css-label {
				line-height:17px;
				background-repeat:no-repeat;
				background-position: 0 0;
				font-size:13px;
				vertical-align:middle;
				cursor:pointer;
				font-weight:normal;
				color:$gray-darker;
				letter-spacing: -.5px;
				.suffix {
					color:$color_b0b0b0;
					font-size:12px;
					float: right;
				}
			}
		}
      .filter-longlist {
        .form-group {
          input[type=checkbox].css-checkbox + label.css-label,
          input[type=radio].css-radio + label.css-label {
            .suffix {
              float: inherit;
            }
          }
        }
      }
		input[type=checkbox].css-checkbox + label.css-label {
			background-image:url('../images/checkbox_filter.png');

		}
		input[type=radio].css-radio + label.css-label {
			background-image:url('../images/radio.png');
		}
		input[type=checkbox].css-checkbox + label.css-label:hover,
		input[type=radio].css-radio + label.css-label:hover {
			background-position: 0 -50px;
			span {
				text-decoration: underline;
				&+span {
					text-decoration: none;
				}
			}
		}
		input[type=checkbox].css-checkbox:checked + label.css-label,
		input[type=radio].css-radio:checked + label.css-label {
			background-position: 0 -100px;
			color:$gray-darker;
		}

	}

}

.longListChecked,.longListWrapper{
	border:1px solid $color_d0cfcf;
	@include border-radius(1px);
}

.longListWrapper{
	margin-top: -1px; // Hack for hide double borders
}

.longListWrapper {
	.mCSB_scrollTools {
		.mCSB_dragger {
			.mCSB_dragger_bar {
				background:url('../images/scrollbar/scrollbar_filter.png') 0 0 no-repeat;
				border-radius: 0;
			}

		}
		.mCSB_buttonUp {
			background:url('../images/scrollbar/arrow_up_filter.png') 0 0 no-repeat;
		}
		.mCSB_buttonDown {
			background:url('../images/scrollbar/arrow_down_filter.png') 0 0 no-repeat;
		}
		.mCSB_draggerRail {
			background:none!important;
		}
	}
	.no-result{
		padding: 10px;
		color: $color_aaa;
		font-style: italic;
	}
}


#sidebar {
	.list-group {
		border-radius: 0;
		border-color:$color_ebebeb;
		li {
			border-color:$color_ebebeb;
			&:first-child {
				border-radius:0;
			}
			&:last-child {
				border-radius:0;
			}
		}
	}
}

#note_client,
#filter_recommended_products {
	input[type=checkbox].css-checkbox + label.css-label:hover,
	input[type=radio].css-radio + label.css-label:hover {
		span {
			text-decoration: none;
		}
	}
}


.fb-slidebar-inner {
	.current-filter {
		@media (max-width: 767px) {
			line-height: 24px;
		}
	}
}

.sidebar {
	.section {
	}
	h3 {
		&:before {
			content: ' ';
		}
	}
	dl {
		dt {
			padding-left: 5px;
			display:block;
		}
	}
	.action {
		margin-top: 10px;
		margin-bottom: 5px;

	}
}

.current-filter {
	dt {
		margin-right:20px;
		margin-bottom: 7px;
	}
	dd {
		margin-right:20px;
		.label {
			padding:0 20px 0 6px;
			min-width: 60px;
			display:inline-block;
			float:left;
			height:21px;
			margin:0 15px 7px 0;
			position:relative;
		}
		.fa {
			position:absolute;
			right:5px;
			top:4px;
			margin-left:5px;
		}
		&.action {
			margin-left: 0;
		}

	}
}

.sidebar {
	.go_read_filter {
		margin-bottom: 5px;
		display: inline-block;
	}
	#filter_recommended_products, #filter_product_flag_facet, #filter_flags_facet {
		label {
			position:relative;
			span {
				display:inline-block;
				height:17px;
				width:85px;
				padding-left: 0;
				&+.suffix {
					//position:absolute;
					left:115px;
					top:0;
					width:auto;
				}
			}
		}

		.form-group {
			&+.action {
				margin-top:10px;
			}
		}
	}
}

.filter-type {
	.form-group {
		margin-bottom: 10px;
	}
	table {

		td {
			margin:0;
			padding:5px 0;
			> div {
				position:relative;
				width:31px;
				height:31px;
			}
			&.first-td {
				width:31px;
				height:31px;
			}
			&.last-td {
				padding-left: 10px;
				min-height:31px;
				padding-top: 0;
				padding-bottom: 11px;
                width: 100%;
			}
			label {
				cursor:pointer;
				position: static;
				float: none;
				display: inline;
			}
			img {
				position:absolute;
				left:0;
				top:-4px;
				width:31px;
				height:31px;
			}
		}
	}
}

#filter_style, .filter-droplist, .filter-enum, .filter-icon {
	padding-left: 0;
}

.block-filter {
	form {
		#filter_price {
			#slider-range {
				margin-bottom: 10px;
				margin-left: -11px;
				//width:147px;
				//width:101%;
			}
			#od_do {
				//margin-top: 10px;
				.slider-range-info {
					height: 27px;
					line-height: 27px;
					margin-left: -18px;
					label {
						font-weight: normal;
					}
				}
              .filter-price-range-submit {
                font-family: $fontRegular;
                font-size: 13px;
              }
			}
		}
		.form-group {
			margin-bottom: 8px;
			input[type=checkbox].css-checkbox + label.css-label,
			input[type=radio].css-radio + label.css-label {
				padding-left:23px;
				height:auto;
				min-height:17px;
				display:inline-block;
				width: 100%;
				img {
					float: left;
					position: relative;
					top: 2px;
					margin-right: 5px;
				}
			}
		}
	}
}

.longListWrapper {
	max-height:151px;
}

.longListWrapper .scrollable {
	max-height:145px;

}
.filter-longlist{
	.mCSB_scrollTools {
		width:12px;
		margin:  6px 2px 4px 0;
		.mCSB_dragger {
			height:39px!important;
			max-height: 39px!important;
			min-height: 39px!important;
			.mCSB_dragger_bar {
				width:12px;
				border-radius: 0;
			}

		}

		.mCSB_buttonDown {
			bottom: -5px;
		}
		a {
			&+.mCSB_draggerContainer {
				margin: 18px 0 20px;
			}
		}
		.mCSB_draggerRail {
			width:12px;
		}
	}
	.mCSB_inside {
		> .mCSB_container {
			margin-right: 0;
		}
	}
	.action.clear{
		margin-top: 15px;
	}
}

.fb-slidebar-inner {
	.current-filter {
		@media (max-width: 767px) {
			padding-top: 3px;
			//
			line-height: 24px;
		}
	}
}