/* FOOTER */
#footer {
	.benefits {
		margin-bottom: 35px;
	}
}
.footer-default {
    background-color: $colorBgBlocksFooter;
    color:$colorFontFooter;
   a:link,
   a:visited {
     color:$colorLinkFooter;
     text-transform: uppercase;
   }
   .footer-logo {
       text-align: left;
   }
    .footer-about {
        li {
             a:link,
             a:visited {
                font-size: 12px;
             } 
             a:hover {
                text-decoration: underline;
             }
        }
    }
    .footer-connect {
        font-size: 12px;
        > span {
            line-height: 25px;
            text-transform: uppercase;
            word-spacing:4px;
        }
    }
}

#footer {
    [class^=ico_] {
        background:$allMap;         
    }
    .ico_social_twitter {
        @include sprite($allMap, ico_social_twitter);    
        &:hover {
            @include sprite($allMap, ico_social_twitter);
        }
    }
    .ico_social_fb {
        @include sprite($allMap, ico_social_fb);  
        &:hover {
            @include sprite($allMap, ico_social_fb_hover);
        }
    }
    
    .ico_social_instagram {
        @include sprite($allMap, ico_social_instagram);  
        &:hover {
            @include sprite($allMap, ico_social_instagram);
        }
    }
    .ico_social_gplus {
        @include sprite($allMap, ico_social_gplus); 
        &:hover {
            @include sprite($allMap, ico_social_gplus);
        }
    }
    .ico_social_pinterest {
        @include sprite($allMap, ico_social_pinterest);  
        &:hover {
            @include sprite($allMap, ico_social_pinterest);
        }
    }
}




.footer-gray-wr {
	background-color: #2f2f2f;
    line-height: 36px;
	padding: 0;
    a {
        color:$color_828282;
    }
}
.footer-gray-wr>div>div>div {
    color: $color_828282;
    font-size: 13px;
}

.copy {
    text-align: center;
}

.footer-pay-visa, .footer-pay-master, .footer-pay-paypal {
    background:url("../images/ico-payment-options.png")no-repeat;
}
.footer-pay-master {
    background-position: -34px 0px;
}
.footer-pay-paypal {
    background-position: -69px 0px;
}





@media (max-width: $screen-sm-max) { 
   #footer {
       
            
            &.footer-default {

                    min-height: 117px;
                    background-color: $color_000000;
                    color:$color_ffffff;
                    
                position:relative;
            }
       
        .footer-logo {
            text-align: left;
        }
        .footer-about {          
            >ul {
                list-style-type: none;
                text-align: left;
                >li {
                    text-transform: uppercase;
                    padding-top: 10px;
                    >a {
                        color: $color_000000 !important;
                        font-size: 16px;
                    }
                }
                >li:first-child {
                    padding-top: 5px;
                }
            }
        }
        .footer-connect {
            text-transform: uppercase;
            text-align: left;
                >span {
                font-size: 11px;  
                line-height: 1.2;          
            }
        }
        .copy {
            text-align: center;
            }
    }
}
// END FOOTER

/* FOOTER */
.footer-default {
	padding-top: 27px;
	padding-bottom: 10px;
	overflow: hidden;

	.footer-logo {
		margin-left: -5px;
		margin-top: -13px;
		text-align: left;
		position: static;
		display: inline-block;
		float: left;
		width: 150px;
		a {
			width: 100%;
			img {
				width: 100%;
			}
		}
		@media(max-width:539px) {
			right: auto;
			left: 0;
		}
	}
	.footer-about {
		position: relative;
		top: 3px;
		float: right;
		@media (max-width: $screen-sm-max) {
			@media(max-width:539px) {
				margin-top: 55px;
			}
			margin-bottom: -30px;
			float: left;
			padding-top: 0;
			ul {
				width:100%;
				max-width: 360px;
				li {
					display: inline-block !important;
					width:49%;
					white-space: nowrap;
					@media(max-width: 400px) {
						a {
							font-size: 15px !important;
						}
					}
				}
			}
		}
		ul {
			margin-left: 0;
			padding-left: 0;
		}
		li {
			display: inline-block;
			margin: 0 10px;
		}
	}
	.footer-connect {
		display: inline-block;
		float: right;
		position: relative;
		clear: right;
		top: 8px;
		> span {
			float: left;
			margin-right: 10px;
		}
	}
}

.footer-payment {
	float: left;
}

#footer {
	[class^=ico_] {
		@include inline-block;
		margin-left: 15px;
		&:first-child {

		}

	}
	.ico_social_twitter {
		@include sprite-dimensions($allMap, ico_social_twitter);
		@media (max-width: 320px) {
			margin-left: 0 !important;
		}

	}
	.ico_social_fb {
		@include sprite-dimensions($allMap, ico_social_fb);
		margin-left: 17px;
	}

	.ico_social_instagram {
		@include sprite-dimensions($allMap, ico_social_instagram);
		margin-left: 21px;
	}
	.ico_social_gplus {
		@include sprite-dimensions($allMap, ico_social_gplus);
		margin-left: 23px;
	}
	.ico_social_pinterest {
		@include sprite-dimensions($allMap, ico_social_pinterest);
		margin-left: 22px;
	}
}

.copy {
	position: relative;
	left: -80px;
}

.footer-pay-visa, .footer-pay-master, .footer-pay-paypal {
	height: 22px;
	width: 33px;
	display: inline-block;
	margin-left: 18px;
	position: relative;
	top: 5px;
}

.footer-pay-master {
	width: 35px;
}

.footer-pay-paypal {
	width: 37px;
}

.footer-pay-visa {
	margin-left: 0px;
}

@media (max-width: $screen-sm-max) {
	#footer {

		&.footer-default {
			min-height: 117px;
			padding-top: 10px;
			position: relative;
		}

		.footer-logo {
			width: 123px;
			position: absolute;
			top: -14px;
			right: 0px;
			margin: 0;
			> a {
				img {
					width: 100%;
					height: auto;
				}
			}
		}
		.footer-about {
			padding-top: 10px;
			margin-left: 0;
			> ul {
				margin: 0;
				padding: 0;
				position: relative;
				top: -30px;
				> li {
					margin: 0 0 5px;
					padding: 0;
					display: block;
				}
			}
		}
		.footer-connect {
			margin-left: 0;
			margin-bottom: 10px;
			float: left;
			clear: left;
			> span {
				display: inline-block;
				position: relative;
				margin-right: 10px;
				top: -5px;
				padding-top: 8px;
				@media (max-width: 320px) {
					display: block;
					width: 100%;
					margin-bottom: 5px;
				}
			}
		}
		.footer-gray-wr {

			.footer-utils {
				overflow: hidden;
				//                padding:0 10px;
				a {
					float: left;
					& + a {
						float: right;
						margin-left: 20px;
					}
				}
			}
		}
		.copy {
			position: relative;
			left: 0;
		}
		// END FOOTER
	}

}

/* footer fix start: */
body {
	height: 100%;
}
#sb-site, .sb-site {
	min-height: 100%;
	position: relative;
	padding-bottom: 256px;
}
#footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
/* footer fix end; */