<?xml version="1.0"?>
<config>
    <modules>
        <StandAlone_Ipson>
            <version>0.0.10</version>
        </StandAlone_Ipson>
    </modules>
    <global>
        <models>
            <saipson>
                <class>StandAlone_Ipson_Model</class>
                <resourceModel>standalone_ipson_resource</resourceModel>
            </saipson>
            <standalone_ipson_resource>
                <class>StandAlone_Ipson_Model_Resource</class>
            </standalone_ipson_resource>
        </models>
        <blocks>
            <saipson>
                <class>StandAlone_Ipson_Block</class>
            </saipson>
        </blocks>
        <helpers>
            <saipson>
                <class>StandAlone_Ipson_Helper</class>
            </saipson>
            <zolagosolrsearch>
                <rewrite>
                    <data>StandAlone_Ipson_Helper_Solrsearch_Data</data>
                </rewrite>
            </zolagosolrsearch>
        </helpers>
        <resources>
            <saipson_setup>
                <setup>
                    <module>StandAlone_Ipson</module>
                </setup>
            </saipson_setup>
        </resources>
    </global>
</config>