<?xml version="1.0"?>
<config>
    <sections>
        <zolagoosimport>
            <groups>
                <file_source>
                    <fields>
                        <import_products>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </import_products>
                    </fields>
                </file_source>
            </groups>
        </zolagoosimport>
    </sections>
</config>
