/* DROPDOWN SEARCH & MASKET */
.dropdown .dropdown-panel {
	list-style: none;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

#dropdown-basket {
	background: $colorBgDropdownCart;
	color: $colorDropdownCart;
	/* PANEL KOSZYKA */
	table {
		width: 100%;
		td {
			vertical-align: top;
			img {
				border: 1px solid $colorAccentDropdownCart;
			}

			p {
				font-size: 12px;
				line-height: 1.3;
			}
		}
	}
	.summary_basket {
		display: none;
		font-size: 11px;
		border-top: 1px solid $colorAccentDropdownCart;
		ul, li {
			@include no-bullet;
		}
		li {
			line-height: 1.5;
			text-align: left;
		}
	}
	.loading_basket {
		text-align: center;
		font-size: 22px;
		margin: 20px 0;
	}
}

/* DROPDOWN SEARCH & BASKET */
.dropdown {
	position: absolute;
	display: none;
	z-index: 9999999;
}


.dropdown .dropdown-panel {
	min-width: 160px;
	max-width: 370px;
	padding: 4px 0;
	margin: 0;
}


#dropdown-search { /* PANEL WYSZUKIWANIA */
	background: $colorBgDropdownSearch;
	color: $colorDropdownSearch;
	padding:0px;
	top:56px !important;
	right:0 !important;
	.searchDropdown {
		width: 320px;
		@include border-radius(0px);
		top: 54px;
		padding: 20px;
		.form-group {
			float: none;
			width: 100% !important;
			//             &.styledSelected {
			//                margin-bottom:15px !important;
			//             }
			input[type="text"] {
				height: 26px;
				width: 100%  !important;
				float: none;
				margin-bottom: 15px;
			}

			select {
				height: 34px;
				width: 100%;
				float: none;
				margin-bottom: 15px;
			}

		}
	}
	.btn {
		background: linear-gradient(135deg, $color_c6a662 0%, $color_907e42 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
		padding: 5px 10px;
	}
	.dropdown-panel {
		width:320px;
	}
}




#dropdown-basket  {  /* PANEL KOSZYKA */
	padding:0px;
	top:56px !important;
	right:5px !important;
	left:auto !important;
	@include max-screen($screen-sm-max) {
		top:40px !important;
	}
	@include max-screen($screen-sm) {
		right:0px !important;
	}

	a{
		color: $colorDropdownSearchText;
		line-height: 19px;
		font-size: 13px;
		&.view_basket {
			position: absolute;
			bottom: 35px;
			right: 0;
		}
	}
	.dropdown-panel {
		width:370px;
		max-width: 370px;
		@include max-screen($screen-sm-max) {
			width:360px;
			max-width: 360px;
		}
		.dropdown-panel-inner {
			box-sizing:border-box;
			width:350px;
			margin:0 auto;
			#product-list {
				.desc {
					max-width: 160px;
				}
			}
		}
	}

	table {
		width:100%;

		td {
			padding: 8px 0;

			&.price {
				text-align: right;
			}
			&+td {
				padding-left: 5px;
			}
			p {
				margin:0px;
				padding:0px;
			}
		}
	}
	.summary_basket {
		@include clearfix;
		padding: 25px 15px;
		margin: 25px 0 0 0;
		ul {
			float:left;
		}
		ul,li {
			@include reset-m;
		}
	}
}

a.view_basket {
	float: right;
	width:140px !important;
	height:28px;
	display:block;
	line-height: 28px ;
	margin-top: 14px ;
	font-weight: bold;
	margin-right: 14px;
	color:$color_fff;
	text-align:center;
	text-transform: uppercase;
	@include primaryButtonGradient;
}