img, svg {
	vertical-align: middle;
}
div.noscroll {
	background:$colorSiteOverlay;
	opacity: $opacitySiteOverlay;
}
.bg-w {
	background:$color_fff000;
	border-top: 1px solid $color_ebebeb;
	border-bottom: 1px solid $color_ebebeb;
	&#complementary_product,
	&#description_product,
	&#note_product {
		border-top: 1px solid $color_d9d9d9;
	}
	&.wrapp-section {
		border-top:none;
	}
	&#description_product {
		@media(max-width: $screen-sm-max) {
			margin-top: 5px;
		}
	}
}
.border-gray-1x {
	border: 1px solid $color_dbdbdb;
	border-radius: 2px;
}

.noborder-lft-rgt {
	border-right: none;
	border-left: none;}
.talcen {
	text-align: center;}
.border1px-rd2-img-gray {
	border: 1px solid $color_dbdbdb;
	border-radius: 2px;}

.node-type-page-shop {
	.top_bottom {
		&.bg-w {
			border-top:none;
		}

	}
}

.no-border-top {
	border-top: none;
}

.rght-margin-30 {
	margin-right: 30px;
}

.latoblack {
	font-family: $fontBlack;
}

.messages a {
	text-decoration: underline;
}

body.noscroll{
	overflow: hidden; height: 100% ;
}
body.nobreadcrumbs #header-main {
	padding: 0 !important;
}
div.noscroll {
	position:fixed;
	overflow:hidden;
	top:0px;
	left: 240px;
	z-index: 20;
}
.sb-open {
	div.noscroll {
		position:fixed;
		overflow:hidden;
		top:0px;
		left: 288px;
		z-index: 1050;
	}
}

.visible-xxs {display: none !important;}
@media (max-width: 490px) {
	.visible-xxs {display: block !important;}
}
@media (max-width: 490px) {
	.hidden-xxs {display: none !important;}
}
.clr {clear: both}
#content {
	.p {
		padding:15px;
		margin-bottom: 15px;
		header {
			margin-left:0;
			margin-bottom:15px;
			h1,h2,h3 {
				margin: 0px;
				padding:0px;
			}
		}
		p {
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
}
.node-type-page-shop {
	.vendor-header-wrapper-desktop, .vendor-header-wrapper-mobile {
		margin-bottom: 17px;
	}
	.mobile-menu-wrapper {
		margin-bottom: 17px;
	}
}
.umicrosite-index-landingpage {
	.page-messages-block {
		display: none;
	}
	.messages-block-mobile ul.messages {
		margin-top: -17px;
	}
	.messages-block-desktop ul.messages {
		margin-bottom: 17px;
		margin-top: -17px;
	}
}
.node-type-page-shop, .vendor-top-bottom-header {
	.top_bottom {
		margin-top:0px;
		//        margin-bottom: 17px;
	}
	.blockCarouselTop {
		@media (max-width: $screen-xs-max) {
			padding: 0 30px;
			margin-top: 15px;
			margin-left:auto;
			margin-right:auto;
		}
	}
}

.bottom-links{
	margin-top: 25px;
}
[itemprop=offers] {
	display: initial;
}
[itemprop=offers], [itemprop=isSimilarTo], [itemprop=isRelatedTo] {
	display: block;
	padding: 0;
}
[itemprop=aggregateRating],[itemprop=reviewRating], [itemprop=ratingValue], [itemprop=reviewCount], [itemprop=bestRating] {
	display: none;
}

body > img[width="1"][height="1"] {
	position: absolute;
	bottom: 0;
	opacity: 0;
	pointer-events: none;
}