#header {
  [role="search"] {
    border-bottom: none;
    margin: 13px 0px;
    padding: 0;
    width: 600px;
    @include max-screen($screen-sm-max) {
      width: 282px;
    }
    .form-group {
      float: left;
      width: 119px;
      input[type="text"] {
        width: 119px;
        float: left;

        color: $colorHeaderSearch;
        font-size: 12px;

        box-shadow: none;
        background-color: $colorHeaderSearchBg;
        border: 1px solid $colorHeaderSearchBorder;
        padding: 0 10px;

        @include border-radius(0px);

        @media (max-width: $screen-md) {
          height: 30px;
          margin-bottom: 0;
        }
      }
    }
    .select-box {
      float: left;
      width: 134px;
      position: relative;
      &:before {
        content: ' ';
        display: block;
        height: 13px;
        width: 0px;
        position: absolute;
        left: 0px;
        top: 50%;
        margin-top: -6px;
        z-index: 1;
        border-left: 1px solid $colorHeaderSearchBorder;
      }

      .selectboxit.form-control.select-styled {
        border-top: 1px solid $colorHeaderSearchBorder;
        border-bottom: 1px solid $colorHeaderSearchBorder;
      }
    }
    .form-control.select-styled.search-context {
      border-top: 1px solid $colorHeaderSearchBorder;
      border-bottom: 1px solid $colorHeaderSearchBorder;
      border-right: none;
      border-left: none;
    }

    button.button {
      padding: 11px 15px;
      @media (max-width: $screen-md) {
        padding: 5px 15px;
      }
    }
  }
}