body.zolagomodago-index-index .benefits {
	padding: 0 !important;
	margin: 30px auto 10px 0 !important;
	max-width: 1230px;
	@media(max-width: $screen-sm-max) {
		margin: 15px auto -15px !important;
	}
}

.benefits {
	font-size: 0;
	margin: 30px -15px 15px;
	padding: 0 30px;
	@media(min-width: 1230px) {
		max-width: 1230px;
		margin: 30px auto 15px;
		padding: 0 !important;
	}
	@media(max-width: 979px) {
		margin: 15px -15px 0px !important;
	}
	.benefit-item {
		font-family: $fontRegular;
		display: inline-block;
		vertical-align: middle;
		width: 25%;

		+ .benefit-item {
			border-left: 1px solid $color-gray4;
		}

		@media(max-width: 979px) {
			border: none !important;
			.benefit-text {
				font-size: 13px !important;
				background-size: 48px 48px !important;
				padding: 15px 5px 15px 58px !important; // 58px = 48px for image + 10px for padding
				h3 {
					font-size: 14px !important;
				}
			}
		}

		@media(max-width: 719px) {
			width: 50%;
			.benefit-text {
				h3 {
					width: auto !important;
				}
			}
		}

		@media(max-width: 539px) {
			.benefit-text {
				h3 {
					width: 0 !important;
				}
			}
		}

/*		@media(max-width: 479px) {
			.benefit-text {
				margin-left: 0 !important;
			}
		}*/

		@media(max-width: 359px) {
			.benefit-text {
				background: none !important;
				padding: 15px 5px 15px 10px !important;
			}
		}
		.benefit-text {
			display: inline-block;
			vertical-align: middle;
			font-size: $font-size-base;
			background-size: 64px 64px;
			background-repeat: no-repeat;
			background-position: left center;
			text-align: left;
			padding: 15px 5px 15px 79px; // 79px = 64px for image + 15px for padding
			margin-left: 10%;
			h3 {
				font-size: 16px;
				font-family: $fontRegular;
				text-transform: uppercase;
				padding: 0 0 5px;
				width: 0;
			}
			p {
				margin: 0;
			}
		}
	}
}
.register-column .benefits {
	font-size: 14px !important;
	margin: 10px 0 20px 16px !important;
	padding: 0 !important;
}