#complementary_product {
	@media (max-width: $screen-xs-max) {
		margin-top: 5px;
		margin-bottom: -5px;
	}
	@media (min-width: $screen-sm-min) {
		margin-top: 30px;
	}
}
.block-complementary-product {
	h2 {
		font-size: 20px;
		font-weight: 400;
		padding-bottom: 10px;
		margin-bottom: 20px;
		border-bottom: 1px solid #e6e6e6;
		text-transform: uppercase;
	}
	.rwdCarousel {
	//	width: 100%;
	//	padding:15px 55px;
		position:relative;
		//display: inline-block;
		.item {
			margin:0 20px;
			@media (max-width: $screen-xs-max) {
				margin:0 5px;
			}

			.img_product {
				position: relative;
				overflow: hidden;
				max-width: 100%;
				margin: 0 auto;
				text-align: center;
			}

			.product-details {
				margin-top: 20px;

				.product-title {
					font-weight: 400;
					color: #3d3d3d;
					font-size: 1.0714em;
					display: block;
					text-transform: uppercase;
					font-family: Georgia, sans-serif;
					width: 100%;
					margin-bottom: 0.7142em;
				}

				.price {
					width: 100%;
					text-align: center;
					margin-bottom: 1.0714em;
					display: block;
					font-size: 1.1428em;
					line-height: 1.4285em;
					color: #000;

					.amount {
						color: #dc4348;
					}

					ins {
						background-color: transparent;
						text-decoration: none;
					}
					del {
						font-size: 1em;
						color: #8a8a8a;

						span.amount {
							color: #8a8a8a;
						}
					}
				}
			}
			img {
			  	//height:auto;
				//margin: 0 auto;
				//max-width: 200px;

				max-width: 100%;
				height: auto;
			}
			.price {
				margin-bottom:18px;
				padding:0 0;
				position:relative;
				.label {
					padding-right: 2px;
				}
				.old {
					margin-right:10px;
				}
				.like {
					position:absolute;
					right:8px;
					top:3px;
				}

			}
			
			.carousel-caption {
				position:static;
				margin:0px;
				padding:0px;
				span {
					display:block;
					padding:0px;
					margin:0px;
					&.title-caption {
						padding: 5px 0px;
						display: block;
						margin: 0 auto;
						margin-top: 5px;
					}
					&.body-caption {
						padding: 5px 0px;
						display: block;
						margin: 0 auto;
					}
					&.seemore-caption {
						padding: 5px 0px;
						display: block;
						margin: 0 auto;
					}

				}

			}
			

				.price {
					position:relative;
					height: 43px;
					.col-price {
						position:absolute;
						top: 8px;
					}
					.like {
						    position:absolute;
							top: 31px;
					}
				}
			
				.price {
					&.price-two-line {
						.col-price {
							top:0px;
							span + span {
								padding-left: 6px;
							}
						}

					}
				}
				.price {
					&.like-two-line {
						.col-price {
							top: 17px;
						}
					}
				}
				.price {
					&.price-two-line {
					&.like-two-line {
						.col-price {
							top:0px;
							
							
						}
					}
					}
				}

			
		}

		.customNavigation {
			a {
				top:112.5px;

				@media (min-width: $screen-lg-min) {
					margin-top:-6.5px;
				}
				@media (max-width: $screen-xs-max) {
					margin-top:7.5px;		
				}
				@media (max-width:480px) {
					margin-top:5px;	
				}
				
				&.prev {
				left:25px;
				
				@include sprite-dimensions($allMap, arrow-complementary-left);
				@media (max-width: $screen-xs-max) {
					@include sprite-dimensions($allMap, arrow-rwd-slider-prev-mobile);
				}
				&:hover {
					@include sprite-dimensions($allMap, arrow-complementary-left-h);
					@media (max-width: $screen-xs-max) {
						@include sprite-dimensions($allMap, arrow-rwd-slider-prev-mobile-h);
					}
				}
			}
			&.next {
				right:25px;
				@include sprite-dimensions($allMap, arrow-complementary-right);
				@media (max-width: $screen-xs-max) {
					@include sprite-dimensions($allMap, arrow-rwd-slider-next-mobile);
				}
				&:hover {
					@include sprite-dimensions($allMap, arrow-complementary-right-h);
					@media (max-width: $screen-xs-max) {
						@include sprite-dimensions($allMap, arrow-rwd-slider-next-mobile-h);
					}
				}
			}
			}
		}

	}



	
}
.block-complementary-product {
	.rwd-controls {
		.rwd-buttons {
			.rwd-prev,
			.rwd-next {
				top:112.5px;
				position:absolute;
				text-indent: -999em;	
			}
			.rwd-prev {
				left:-25px;
				
				@include sprite-dimensions($allMap, arrow-complementary-left);
				@media (max-width: $screen-xs-max) {
					@include sprite-dimensions($allMap, arrow-rwd-slider-prev-mobile);
				}
				&:hover {
					@include sprite-dimensions($allMap, arrow-complementary-left-h);
					@media (max-width: $screen-xs-max) {
						@include sprite-dimensions($allMap, arrow-rwd-slider-prev-mobile-h);
					}
				}

			}
			.rwd-next {
				right:-25px;
				@include sprite-dimensions($allMap, arrow-complementary-right);
				@media (max-width: $screen-xs-max) {
					@include sprite-dimensions($allMap, arrow-rwd-slider-next-mobile);
				}
				&:hover {
						@include sprite-dimensions($allMap, arrow-complementary-right-h);
						@media (max-width: $screen-xs-max) {
							@include sprite-dimensions($allMap, arrow-rwd-slider-next-mobile-h);
						}
					}
			}
			.rwd-prev,
			.rwd-next {
				&.disabled {
					visibility:hidden;
				}
			}
			
		}
	}
}