#clone_submenu {
    ul {
        position: relative !important;
        margin: 0px;
        padding: 47px 0;
        border: none;
        @media (min-width: $screen-xs-max) and (max-width: $screen-md-min) {
            padding-bottom: 10px;
        }
        > li {
            > a {
                padding: 6px 15px;
            }
        }
        dl {

            dt {
                margin-bottom: 10px;
            }
            dd {
                width: 85%;
                margin-bottom: 10px;
            }

        }
        //END UL
    }

    .media-column {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    // END CLONE MENU
} 