#block-current-search {
	padding-bottom: 5px;
	position:relative;
	p {
		margin-bottom: 10px;
	}
	form {
		position:relative;
		margin-top:10px;
		.form-group {
			width:100%;
			[type="text"] {
				padding:0 15px;
				width:100%;
			}
		}
		button {
			display:inline-block;
			height:34px;
			width:34px;
			position:absolute;
			right:0px;
			top:0px;
		}
	}
	.breadcrumb {
		margin-bottom: 0;
	}
	a.underline.external {
		margin-right: 10px;
		&:after {
			top: 2px;
		}
	}
	.no-result {
		display:block;
	}
	.found-product {
		margin-bottom: 0px;
	}

}
.current-search {
	h1 {
		margin-bottom: 20px;
		padding-top: 24px;
		padding-bottom: 0;
		@media (max-width: $screen-xs-max) {
			margin-bottom: 10px;
			padding-top: 12px;
		}
		&+h1 {
			margin-top: 0px;
			margin-bottom: 15px;
		}
		strong {
			@media (max-width: $screen-xs-max) {
				display:block;
			}
		}
	    .query-text-iks {
			.iks {
				@media (min-width: $screen-sm-min) {
			        position: relative;
					top:-15px;
					margin-top:15px;
		    	    padding: 0px 3px 0 3px;
				}
				@media (max-width: $screen-xs-max) {
			        position: relative;
					top:-4px;
		    	    padding: 3px 5px;
				}
			}
    	}
	}
}
#view-current-search {
	&+#sort-criteria {
		@media (max-width: $screen-xs-max) {
			margin-bottom: 5px;
			
		}
		@media (min-width: $screen-sm-min) {
			position:absolute;
			bottom:0px;
			right:15px;
		}
		.sort {
			@media (max-width: $screen-xs-max) {
				float:none;
			}
		}
	}
}

#number_products {
	@media (min-width: $screen-sm-min) {
		//top: 10px;
		position: relative;
	}
}

#search-page-empty {
	margin: 30px 0 15px;
	ul {
		list-style: none;
		margin: 25px 0 0;
		padding: 0;
		li {
			margin-top: 10px;
			a:hover {
				text-decoration: underline;
			}
		}
	}
}

.not-content-mode.sm-to-smmd-plus-smmd, .this-is-search.sm-to-smmd-plus-smmd {
  .current-search {
    h1 {
      strong {
        @media (max-width: $screen-sm-to-smmd-max) {
          display:block;
        }
      }
      .query-text-iks {
        .iks {
          @media (min-width: $screen-sm-min) {
            position: relative;
            top:-14px;
            margin-top: 0px;
            padding: 0px 3px 0 3px;
          }
          @media (max-width: $screen-sm-to-smmd-max) {
            position: relative;
            top:-4px;
            padding: 3px 5px;
          }
        }
      }
    }
  }
}