.block-featured-products {
  text-align: center;
  width: 100%;

  .title-section {
    margin-bottom: 20px;
  }

  #featured_products_tabs {
    border: none;
    padding: 0;
    .ui-tabs-panel {
      padding: 1em 0;
    }
    .tab-title {
      font-size: 18px;
      text-transform: none;
      margin-left: 15px;
      margin-right: 15px;

      &.opened:after {
        height: 22px;
        border-bottom: 2px solid #afafaf;
      }
    }

    .tab-content {
      border: none;
    }

    .products-grid {
      border-bottom: none;
    }

    .featured_products_tabs {
      margin: 0;
      padding-left: 0 !important;
      text-indent: inherit !important;
      border-radius: 0;
      background: transparent;
      border: none;

      li {
        float: none !important;
        display: inline-block;
        background-color: transparent !important;
        margin: 0 1px 0 0;
        white-space: nowrap;
        padding: 0;
        background-image: none;
        list-style: none !important;
        border: none;

        &.ui-tabs-active {
          a {
            color: #3d3d3d;
          }
          a:after {
            content: '';
            display: block;
            width: 100%;
            border-bottom: 3px solid #3d3d3d;
            position: absolute;
            top: 1px;
            left: 0;
            height: 22px;
            border-bottom: 2px solid #afafaf;
          }
        }
      }

      li > a {
        font-size: 14px;
        color: #999;
        display: inline-block;
        text-transform: none;
        font-family: $fontBlack;
        font-weight: 400;
        position: relative;
        margin-right: 15px;
        padding: 0 !important;

        &:focus {
          outline: none;
        }
      }

      li > a:first-child {
        margin-left: 15px !important;
      }

    }

    .owl-carousel {
      padding-left: 50px;
      padding-right: 50px;
      @include max-screen($screen-xs-max) {
        padding-left: 0;
        padding-right: 0;
      }
      .owl-item {
        img {
          transform-style: preserve-3d;

          display: block;
          width: 100%;
        }

        .product-block {
          &:hover {
            .product-info {
              .product-name {
                a {
                  color: $colorLinkHover;
                }
              }
            }
          }

          .product-image {
            position: relative;
            overflow: hidden;
            max-width: 100%;
            margin: 0 auto;
            text-align: center;

            box-shadow: 0 0 1px 1px #f5f3f4;
          }

          .product-info {
            min-height: initial;
            margin-top: 20px;
            .price {
              width: 100%;
              text-align: center;
              margin-bottom: 1.0714em;
              display: block;
              font-size: 1.1428em;
              line-height: 1.4285em;

              @include productPricesBlockKit;
            }

            .product-name {
              font-size: 15px;
              padding: 0;
              white-space: normal;
              overflow: visible;
              a {
                color: #3d3d3d;
                font-size: 1.0714em;
                display: block;
                white-space: normal;

                width: 100%;
                margin-bottom: 0.7142em;

                @media (max-width: $screen-xs-max) {
                  font-size: 0.9285em;
                }

                &:hover {
                  color: $colorLinkHover;
                }
              }
            }
          }

        }

      }
    }
  }

  .mp-prev-carousel,
  .mp-next-carousel {
    color: #fff;
    font-size: 22px;
    width: 45px;
    height: 45px;
    line-height: 42px;
    text-align: center;
    margin-left: 0px;
    display: inline-block;
    background: #fff;
    top: 45%;
  }

  .mp-prev-carousel {
    left: 0px !important;
    @include max-screen($screen-xs-max) {
      left: 8px !important;
    }

    &:before {
      content: "\f104";
      position: absolute;
      font-size: 60px;
      font-family: FontAwesome;
      color: #cccccc;
      left: 15px;
      top: 0px;
      @include transition(all 0.2s ease-in-out);
    }
    &:after {
      content: "";
      position: absolute;
      width: 88px;
      height: 300px;
      left: -20px;
      top: -140px;
    }
  }

  .mp-next-carousel {
    right: 0px !important;
    @include max-screen($screen-xs-max) {
      right: 8px !important;
    }
    &:before {
      content: "\f105";
      position: absolute;
      font-size: 60px;
      font-family: FontAwesome;
      color: #cccccc;
      left: 18px;
      top: 0px;
      @include transition(all 0.2s ease-in-out);
    }

    &:after {
      content: "";
      position: absolute;
      width: 88px;
      height: 300px;
      left: -20px;
      top: -140px;
    }
  }
  .mp-navigation-midde {
    top: 33% !important;
    @include screen($screen-sm-min, $screen-sm-max) {
      top: 30% !important;
    }
    @include max-screen($screen-xs-max) {
      display: none;
    }
  }
  .owl-controls {
    margin-top: 0 !important;
    @include min-screen($screen-sm-min) {
      display: none !important;
    }
  }
}

