/** Carousel **/

.rv ul {
    list-style: none;
}
.rv>ul>li {text-align: center; }
.rv>ul>li>a {text-decoration: none;text-align: center; }
.rv>ul>li>a:hover {text-decoration: underline;}

.rv-control-prev,.rv-control-next {background: transparent;top:27%; font-size: 36px;	color:$color_b7b7b7 !important;}
.rv-control-prev {
    i {
       @media (max-width: $screen-xs-max) {
        font-size: 18px;
       } 
    }
}
.rv-control-next {    
    i {
       @media (max-width: $screen-xs-max) {
        font-size: 18px;
       } 
    }
}
.rv>ul>li>a>span {font-weight: normal;font-size: 12px; text-align: left;}
.rv>ul>li>a>img {border:1px solid $color_e5e5e5;}
.rv>ul>li>a:hover {text-decoration: underline;}