.block-inspiration {
	.rwdCarousel {
		.item {
			.carousel-caption {
				span {
					font-family: $fontRegular;
					text-shadow:none;
					&.title-caption {
						font-family: $fontRegular;
						text-transform: uppercase;
						color:$color_000;
					}
					&.body-caption {
						color: $color_8b8b8b;
					}
					&.seemore-caption {
						color: $color_484848;
						text-transform: uppercase;
						font-size: 11px;
					}

				}
			}
			&:hover {
				.carousel-caption {
					span {
						text-decoration: underline;
						}
					}
				}
		}
	}

	#rwd-inspiration .item{
	  background: $color_fff;
	  color: $color_515151;
	  text-align: center;
	}
}