#product_additions_1 {
  padding: 0;
}
.box-up-sell {
  &.product_list_widget {

    padding: 0;

    .widgettitle {
      font-size: 1.1428em;
      color: #000;
      padding-bottom: 10px;
      margin-bottom: 15px;
      border-color: $colorDropdownBorder;
      border-width: 0px 0px 1px 0px;
      border-style: solid;
      text-transform: uppercase;
      padding-top: 13px;
    }

    .product_list_widget_item {
      border-bottom: 1px solid #eee;
      padding: 1.4285em 0;
      height: 115px;

      @media (min-width: $screen-xs-min) and (max-width: $screen-sm-min) {
        width: 50%;
      }

      .media {
        overflow: hidden;
        zoom: 1;

        &:first-child {
          margin-top: 0;
        }

        & > .pull-left {
          margin-right: 10px;
        }

        img {
          max-width: 4.2857em;
          height: auto
        }
      }

      h4 {
        text-transform: none;
        font-size: 1em;
        padding: 0;
        height: 36px;
        overflow: hidden;

        a {
          font-size: 1em;
          font-family: $fontOpen;
          transition: color .25s ease;
          color: #3d3d3d;
          cursor: pointer;
        }
      }

      .small-coast {
        color: $colorProductStrikeOutPrice;
        font-size: 1.0714em;
        font-weight: 500;

        @include productPricesBlockKit;
      }

    }

    .watch_more_links {
      padding-top: 10px;

      a.watch_more,
      a.watch_less {
        font-size: 14px;
        text-transform: none;
        color: $colorSecondFont;

        &:hover {
          color: $colorLinkHover;
        }
      }
    }
  }
}