
/* CLONE MENU */

#clone_submenu {
    background-color: transparent;
    font-family: $fontOpen;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    margin-top: -5px;


    .clone_submenu-content {
        border: 1px solid $colorDropdownBorder;
        box-shadow: 0 2px 0 $colorDropdownBorder;
        text-align: left;
        overflow: hidden;
        @include linearGradient($colorMainMenuSubItemGradientStart,$colorMainMenuSubItemGradientEnd);
        @include transition(all 0.2s ease-in-out);
        width: 860px;
        .menu-3columns {
            padding: 0;
            .menus-column {
                margin-top: 36px;
            }
            .media-column {

            }
        }
    }

    .view-all-category {
        font-size: 14px;
        text-transform: lowercase;
        color:$color_737373;
        text-decoration: underline;
        
    }
    ul {
        box-shadow:none; 
        border: none;
        background:transparent;
        list-style: none;
            a {
                color:$color_656565;
            }
        .box [rel=category] {
            font-size: 14px;
        }
        .box [rel=category] {
            color: $color_3d3d3d;

            text-transform: uppercase;
            &:hover {
                color: $colorLinkHover;
                text-decoration: none;
            }
        }
        dl {
            dt {
                color: $color_3d3d3d;
                font-family: $fontBlack;
                a:link,
                a:visited {
                    font-size: 14px;
                    font-weight: 600;
                    color: $color_000;
                }
                a:hover {
                    color: $colorLinkHover;
                    text-decoration: none;
                }
            }
            dd {
                color: $color_000;

                a {
                    font-family: $fontOpen;
                    color: $color_737373;
                    font-weight: normal;
                    font-style: normal;
                    font-size: 14px;
                    line-height: 22px !important;
                }

                a:link,
                a:visited {

                }
                a:hover {
                    color: $colorLinkHover;
                    text-decoration: none;
                }

                span.menu-label {
                    color: #fff;
                    background-color: $menuLabelBackground;
                    padding: 4px 5px;
                    font-size: 9px;
                    line-height: 10px;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin: 0 5px;
                    position: absolute;
                }

            }

        }
        a.closeSubMenu:link,
        a.closeSubMenu:visited {
            border-radius:0;
            cursor: pointer;
            font-style: normal;
            outline:none;
            text-align:center;
            border:none;
            background:url('../images/sprites/sprite_clear.png') no-repeat 0 -1px !important;
            line-height: 25px;
            color:$gray-dark !important;
            text-transform: uppercase;
            font-size:12px;

            &:hover {
                background-position:0 -30px !important;
                color:$color_fff !important;
                outline:none !important;
            }
            &:active {
                background-position:0 -58px !important;
                outline:none;
                color: $colorLinkHover !important;
            }

        }
    //END UL
    }
// END CLONE MENU
} 

/* CLONE MENU */