.pagination-top {
	.listing-pagination {
		float: right;
	}
}
.pagination-line {
	* {
		list-style: none !important;
	}
	margin: 0 !important;
	padding: 0;
	.listing-pagination {
		margin: 0;
		padding: 0;
		.totals, .pages {
			display: inline-block;
			@media(max-width: 600px) {
				display: block;
			}
		}
		.totals {
			line-height: 30px;
			vertical-align: top;
			margin-right: 5px;
		}
		.pages {
			a {
				display: inline-block;
				padding: 0 24px;
				background-color: $color_505050;
				color: $color_ffffff;
				border: 1px solid $color_afafaf;
				text-align: center;
				font-size: 25px;

				height: 30px;
				line-height: 29px;
				&:hover {
					border-color: $color_333333;
					background-color: $color_505050;
				}
				&.page-disabled {
					color: $color_c4c4c4;
					border-color: $color_e8e8e8;
					&:hover {
						color: $color_c4c4c4;
						border-color: $color_e8e8e8;
					}
				}
			}
		}
	}
	&.pagination-bottom {
		text-align: center;
		margin-top: 35px !important;
		.totals,.pages {
			display: inline-block !important;
		}
		.totals {
			margin-right: 10px;
		}
		.pages {
			a {
				border: none;
				background-color: $color_505050;
				color: $color_ffffff;
				&:hover {
					background-color: $color_505050;
				}
				&.page-disabled {
					opacity: .15;
					color: $color_ffffff;
					background: $color_000000;
					&:hover {
						background: $color_000000;
						color: $color_ffffff;
						border-color: inherit;
					}
				}
			}
		}
	}
}