#sort-criteria {
	white-space: nowrap;
	.col-sm-12 {
		@media(max-width: $screen-xs) {
			padding: 0 15px;
		}
	}
	ul {
		list-style: none;
		li {
			&.selectboxit-option {
				width: 100% !important;
			}
			width: 50%;
			line-height: 27px;

			&.sort-criteria-selector {
				text-align: right;
				@media(max-width: 400px) {
					display: list-item !important;
					float: none !important;
				}
				@media(max-width: 340px) {
					.sort-by-container {
						margin-left: -13px;
					}
				}
				label {
					@media(max-width: 600px) {
						display: block;
						text-align: right;
					}
				}
			}
			span, label {
				font-size: 12px!important;
				font-family: $fontRegular;
				font-weight: normal;
			}
			.sort-by-container {
				width: 160px;
				display: inline-block;
				vertical-align: middle;
				margin-left: 5px;
			}
		}
	}
}

