.header_top {
  height: 85px;
}
.top-bar {
  background-color: #262626;
  color: #737373;
  max-height: 100px;
  overflow: hidden;
  padding: 5px 0;

  a {
    color: #fff;
    font-size: 13px;

    @include generalLinkOnDark;
  }


  .widget_nav_menu {
    .menu {
      &>li {
        &:after {
          content: 'I';
          font-family: $fontOpen;
          display: inline-block;
          width: 1px;
          height: 10px;
          color: #8a8a8a;
          margin: 2px 12px 0;
        }
        &:last-child:after {
          content: "";
          margin-left: 0;
          margin-right: 0;
        }
        &>a:hover {
          text-decoration: underline;
        }
      }
    }
  }



  .top-bar-left {
    float: left;
    height: 23px;

    .top-bar-left-content {
      //margin-left: 14px;


      li {
        margin-right: 7px;
        font-size: 12px;
        line-height: 23px;

        &.active {
          font-weight: 400;
        }

        &:after {
          a {
            font-size: 12px;
            color: #fff;
          }
        }

        a {
          font-size: 12px;
          text-transform: uppercase;
          @media  (max-width: 360px){
            font-size: 11px;
          }
          @media  (max-width: 330px){
            font-size: 10px;
          }
        }
      }
      li:last-child {
        margin-right: 0;
      }

    }
  }

  .top-bar-right {
    float: right;
  }
  @media only screen and (max-width: $screen-xs-max){
    .top-bar-right {
      display: none;
    }
  }


  .links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;

    li {
      display: inline-block;
      //position: relative;
    }
  }


  .topbar-widget {
    display: inline-block;
    font-family: $fontOpen;
    margin-left: 15px;
    font-size: 13px;
    font-weight: 400;

    ul {
      display: inline-block;
      margin-bottom: 0;
    }
  }

  .menu {
    padding: 0;
    margin: 0;
    text-align: center;

    &> li {
      text-decoration: none;
      list-style: none;
      //position: relative;
      float: none;
      display: inline-block;
    }
  }
}


.top-bar .widget_nav_menu .menu > li {
  line-height: 11px;
}
.topbar-widget ul li {
  display: inline-block;
  list-style: none;
}
.top-bar .widget_nav_menu .menu > li > a {
  padding: 0;
  color: #fff;
  font-size: 13px;
  text-transform: none;
  font-family: $fontOpen;
}
.menu li a i {
  padding-right: 10px;
}
