.sidebar {
	border-left:1px solid #ebebeb;
	border-right:1px solid #ebebeb;
	background:#fff;
	border-top: 3px solid $color-accent;
	font-family: $fontRegular;
	font-size: 12px;

	.section {
		border-bottom: 1px solid #d2d2d2;
		text-align:center;
		-webkit-backface-visibility: hidden;
	}
	h3 {
		font-size: 14px;
		font-family:$fontRegular;
		line-height: 18px;
		text-transform: uppercase;
		text-align:left;
		cursor:pointer;
		white-space:nowrap;
		&:before {
			background:$color-accent;
		}
	}
    .no-pointer {
        cursor: default;
    }
	dl {
		dt {
			text-transform: uppercase;
		}
		dd {
			font-size:13px;
            line-height: 13px;
		}
	}
	.action {
		text-align: right;
		.go_back {
			font-size:12px;
		}
	}
	.action.clear {
		text-align: center;
	}
    .bigger-left{
        dl{
            dd {
                padding: 0px 5px 0px 8px;
            }
        }
    }
    .no-margin {
        margin: 0px 0px 0px 0px;
    }
}

.current-filter {
	dt {
		text-transform: uppercase;
		font-size: 14px;
	}

	dt {
		margin-right:20px;
		text-transform:uppercase;
		line-height: 10px;
		@media (max-width: $screen-sm-min) { 
			font-size: 12px;
		}
	}
	dd {
		.label {
			color:#000;
			display:block;
			font-size: 12px;
			line-height:21px;
			text-align: left;
			color:#000;
			display:inline-block;
			font-size: 12px;
			float:left;
			line-height:20px;
			border:1px solid #ededed;
			font-weight: normal;
		}
		.fa {
			color:#949494;
			font-size: 11px;
		}
		&:hover {
			.fa {
				cursor:pointer;
			}
		}

		&.action {
			@include border-radius(3px); 
		}

	}
}

.sidebar {
  .go_read_filter {
    font-size: 12px;
  }
  #filter_recommended_products, #filter_product_flag_facet, #filter_flags_facet {
    label {
      span,a {
      color:#fff;
      text-transform: uppercase;
      text-align: center;
      &+.suffix {
        font-weight: normal;
        background-color:transparent !important;
        color: #b0b0b0;
        font-size: 12px;
        text-align: left;
      }
    }
}


		label[for="filter_recommended_products_news"], .new {
			>span {
				background:#7fce25;
			}
		}

		label[for="filter_recommended_products_sale"], .sale {
			>span {
				background:#de0e59;
			}
		}

		label[for="filter_recommended_products_bestseler"], .bestseller {
			>span {
				background:#3ca89b;
			}
		}

		label[for="filter_recommended_products_propotion"], .promotion {
			>span {
				background:#ec4920;
			}
		}
	}
}




.filter-type {

	table {

		td {
			vertical-align: middle;
			line-height: 1.0;
			&.first-td {
				vertical-align: middle;
				label {
					img {
						border:1px solid $gray;
						margin:2px;
						width:27px;
						height:27px;
					}
				}

				[type=checkbox]:checked {
					outline:none!important;
					&+label{
						img {
							border:3px solid #000;
							@include border-radius(5px);
							margin:0px;
							width:31px;
							height:31px;
						}
					}
				}
			}
			label {
				font-weight: normal;
				cursor:pointer;
				font-size: 13px;
				.suffix {
					color: #b0b0b0;
					font-size: 12px; }

			}
		}
		tr {
			&:hover {
				td {
					label { 
						color:#000;
						.suffix {
							color: #b0b0b0;
						}
						img {
							border:3px solid #999;
							@include border-radius(5px);
							margin:0px;
							width:31px;
							height:31px;
						}
					}
				}
			}

		}
		tr {
			&:hover {
				td {
					label {
						span {
							color:#000;
							text-decoration: underline;
							&+span {
								text-decoration: none;
								&.suffix {
									color: #b0b0b0;
								}
							}
						}
					}
				}
			}
		}
	}
}      


.block-filter {
    form {
        .form-group {
            input[type=checkbox].css-checkbox + label.css-label,
            input[type=radio].css-radio + label.css-label {
                line-height:17px;
                background-repeat:no-repeat;
                background-position: 0 0;
                font-size:13px;
                vertical-align:middle;
                cursor:pointer;
                font-weight:normal;
                color:$gray-darker;
                letter-spacing: -.5px;
                .suffix {
					color:#b0b0b0;
					font-size:12px;
                }
            }
        }
		input[type=checkbox].css-checkbox + label.css-label {
			background-image:url('../images/checkbox_filter.png');

		}
		input[type=radio].css-radio + label.css-label {
			background-image:url('../images/radio.png');
		}
		input[type=checkbox].css-checkbox + label.css-label:hover,
            input[type=radio].css-radio + label.css-label:hover {
			background-position: 0 -50px;
			span {
				text-decoration: underline;  
				&+span {
					text-decoration: none;  
				}               
			}  
		}
		input[type=checkbox].css-checkbox:checked + label.css-label,
            input[type=radio].css-radio:checked + label.css-label {
			background-position: 0 -100px;
			color:$gray-darker;
		}

    }

}

.longListChecked,.longListWrapper{
	border:1px solid #d0cfcf;
	@include border-radius(1px);
}

.longListWrapper{
	margin-top: -1px; // Hack for hide double borders
}

.longListWrapper {
	.mCSB_scrollTools {
		.mCSB_dragger {
			.mCSB_dragger_bar {
				background:url('../images/scrollbar/scrollbar_filter.png') 0 0 no-repeat;
				border-radius: 0;
			}

		}
		.mCSB_buttonUp {
			background:url('../images/scrollbar/arrow_up_filter.png') 0 0 no-repeat;
		}
		.mCSB_buttonDown {
			background:url('../images/scrollbar/arrow_down_filter.png') 0 0 no-repeat;
		}
		.mCSB_draggerRail {
			background:none!important;
		}
	}
	.no-result{
		padding: 10px;
		color: #aaa;
		font-style: italic;
	}
}


#sidebar {
	.list-group {
		border-radius: 0;
		border-color:#ebebeb;
		li {
			border-color:#ebebeb;
			&:first-child {
				border-radius:0;
			}
			&:last-child {
				border-radius:0;
			}
		}
	}
}

#note_client,
#filter_recommended_products {
	input[type=checkbox].css-checkbox + label.css-label:hover,
		input[type=radio].css-radio + label.css-label:hover {
		span {
			text-decoration: none;               
		}  
	}
}


.fb-slidebar-inner {
	.current-filter {
		@media (max-width: 767px) { 
			line-height: 24px;
		}
	}
}
