#seller-box-bundle {
	#accordion {
		.panel-default {
			border:none;
			box-shadow: none;
			margin-bottom: -6px;
			> .panel-heading {
				background:none;
				border-radius: 0;
				border-top:1px solid #d9d9d9;
				border-bottom:1px solid #d9d9d9;
				padding: 14px 15px 12px 15px;
				h4 {
					padding:0px;
					&.panel-title {
						font-size: 11px;
						color:#000;
						position:relative;
						font-weight: normal;
						 font-family: $fontRegular;
						a {
							display:block;
							text-align: left;
							text-transform: uppercase;
							padding-left:26px;
							position:relative;
							
							
						}
						&:before {
					    content: " ";
					    display: block;
					    width: 18px;
					    height: 18px;
					    background: none repeat scroll 0% 0% #6FFFCF;
					    position: absolute;
					    left: -9px;
						top: -4px;
							@media (max-width: 360px) {
								left: -4px;
							}
						}
					}
					
				}
				
				&+ .panel-collapse {
					.panel-body {
						border:none;
						font-size: 11px;
						color:#000;
						text-align: left;
						padding-left: 40px;
						padding-right: 40px;
						ul {
							margin:0px;
							padding:0px;
							list-style: none;
						}
						.view-store {
							//background: none repeat scroll 0% 0% #313131;
							//border: 1px solid #C5C5C5;
							font-size: 11px;
							padding: 3px 10px;
							color: #FFF;
							display: inline-block;
							float: right;
							margin-right: 2px;
						}
					}
				}
			}
			&.last {
				> .panel-heading {
					border-bottom:none;
				}
			}
		}
	}
}


