.sidebar {
	.nav-pills {
		margin-bottom: 12px;
		li {
			display: block;
			a:link,
			a:visited {
				background:none;
				padding: 0px 5px 0px 18px;
			}
			a:hover {
				text-decoration: underline;
			}
		}
		&.nav-stacked {
			text-align: left;
		}
	}
}