@import "design/style/global";
@import "design/style/header";
@import "design/style/sidebar";
@import "design/style/mainpage";
@import "design/style/list-product";
@import "design/style/shop_product";
@import "design/style/seller-box-bundle";
@import "design/style/customer-account-login";
@import "design/style/customer-account-registered";
@import "design/style/shopping-cart";
@import "design/style/review-cart";
@import "design/style/checkout";
@import "design/style/footer";
@import "design/style/table";
@import "design/style/order-view";
@import "design/style/register";
@import "design/style/scrolltop";
@import "design/style/mypromotions";
@import "design/style/benefits";
@import "design/style/agreements";
