@import "layout/style/global";
@import "layout/style/header";
@import "layout/style/sidebar";
@import "layout/style/mainpage";
@import "layout/style/list-product";
@import "layout/style/shop_product";
@import "layout/style/seller-box-bundle";
@import "layout/style/customer-account-login";
@import "layout/style/customer-account-registered";
@import "layout/style/shopping-cart";
@import "layout/style/review-cart";
@import "layout/style/order-view";
@import "layout/style/checkout";
@import "layout/style/footer";
@import "layout/style/register";
@import "layout/style/selector_styled";
@import "layout/style/help";
@import "layout/style/about";
@import "layout/style/modal-menu-html";
