@import "layout/dimensions/global";
@import "layout/dimensions/header";
@import "layout/dimensions/sidebar";
@import "layout/dimensions/mainpage";
@import "layout/dimensions/list-product";
@import "layout/dimensions/rv";
@import "layout/dimensions/customer-account-registered";
@import "layout/dimensions/summary-delivery-payment";