<?xml version="1.0"?>
<config>
	<modules>
		<Zolago_Converter>
			<version>0.0.2</version>
		</Zolago_Converter>
	</modules>
	<global>
		<models>
			<zolagoconverter>
				<class>Zolago_Converter_Model</class>
				<resourceModel>zolagoconverter_resource</resourceModel>
			</zolagoconverter>
			<zolagoconverter_resource>
				<class>Zolago_Pos_Model_Resource</class>
				<entities>
				</entities>
			</zolagoconverter_resource>
		</models>
		<helpers>
			<zolagoconverter>
				<class>Zolago_Converter_Helper</class>
			</zolagoconverter>
		</helpers>
		<resources>
			<zolagoconverter_setup>
				<setup>
					<module>Zolago_Converter</module>
				</setup>
			</zolagoconverter_setup>
		</resources>
		
		<udropship>
            <vendor>
                <fields>
                	<external_id>
                        <label>External id (Converters)</label>
                        <type>text</type>
                        <fieldset>vendor_info</fieldset>
                        <position>0</position>
                    </external_id>
				</fields>
			</vendor>
		</udropship>
	</global>
	<adminhtml>
		<translate>
			<modules>
				<Zolago_Converter>
					<files>
						<default>Zolago_Converter.csv</default>
					</files>
				</Zolago_Converter>
			</modules>
		</translate>
	</adminhtml>
    <default>
        <zolagoconverter>
            <config>
                <url_stock>http://85.194.243.53:8092/modago/_design/read/_view/stock?key={{key}}</url_stock>
                <url_price>http://85.194.243.53:8092/modago/_design/read/_view/price?key={{key}}</url_price>
                <url_price_batch>http://85.194.243.53:8092/modago/_design/read/_view/price?keys={{keys}}
                </url_price_batch>
                <url_price_batch_size>200</url_price_batch_size>
                <login>modago</login>
                <password></password>
            </config>
        </zolagoconverter>
    </default>
</config>
