<?xml version="1.0"?>
<config>
	<sections>
		<zolagoconverter translate="label" module="zolagoconverter">
            <label>Converters</label>
            <tab>service</tab>
            <frontend_type>text</frontend_type>
            <sort_order>300</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                 <config translate="label">
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <url_stock translate="label">
                            <label>URL Stock</label>
							<comment>Use {{key}} for product key</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </url_stock>
                        <url_price translate="label">
                            <label>URL Price</label>
                            <comment>Use {{key}} for product key</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </url_price>
                        <url_price_batch translate="label">
                            <label>URL Price Batch</label>
                            <comment>Use {{keys}} for product keys</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </url_price_batch>
                        <url_price_batch_size translate="label">
                            <label>Price Batch size</label>
                            <comment>Max 200 to avoid CURL connection errors</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </url_price_batch_size>
                        <login translate="label">
                            <label>Login</label>
							<comment>For basic auth</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </login>
                        <password translate="label">
                            <label>Password</label>
							<comment>For basic auth</comment>
                            <frontend_type>password</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </password>
					</fields>
				 </config>
			</groups>
		</zolagoconverter>
	</sections>
</config>
