<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Modago>
            <version>0.9.7</version>
        </Zolago_Modago>
    </modules>
	<frontend>
		<routers>
            <zolagomodago>
                <use>standard</use>
                <args>
                    <module>Zolago_Modago</module>
                    <frontName>modago</frontName>
                </args>
            </zolagomodago>
            <zolagomodago_storesmap>
                <use>standard</use>
                <args>
                    <module>Zolago_Modago</module>
                    <frontName>storesmap</frontName>
                </args>
            </zolagomodago_storesmap>
		</routers>
		<translate>
			<modules>
				<Zolago_Modago>
					<files>
						<default>Zolago_Modago.csv</default>
					</files>
				</Zolago_Modago>
			</modules>
		</translate>	
		<layout>
		    <updates>
		        <zolagomodago>
		            <file>zolagomodago.xml</file>
		        </zolagomodago>
		    </updates>
		</layout>
	</frontend>
    <global>
        <blocks>
            <zolagomodago>
                <class>Zolago_Modago_Block</class>
            </zolagomodago>
            <page>
                <rewrite>
                    <html>Zolago_Modago_Block_Page_Html</html>
                    <html_breadcrumbs>Zolago_Modago_Block_Page_Html_Breadcrumbs</html_breadcrumbs>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <zolagomodago>
                <class>Zolago_Modago_Helper</class>
            </zolagomodago>
        </helpers>
        <resources>
            <zolagomodago_setup>
                <setup>
                    <module>Zolago_Modago</module>
                </setup>
            </zolagomodago_setup>
        </resources>
        <cache>
            <types>
                <category_cache>
                    <label>Category cache</label>
                    <description>Cache for category and navigation.</description>
                    <tags>ZOLAGO_CATEGORY_CACHE</tags>
                </category_cache>
            </types>
        </cache>
    </global>
	<default>
		<zolagomodago_catalog>
			<zolagomodago_cataloglisting>
				<load_on_start>24</load_on_start>
				<appended_when_scroll>28</appended_when_scroll>
				<load_more_offset>100</load_more_offset>
				<pixels_before_append>3000</pixels_before_append>
                <vendor_landingpage_n_products>12</vendor_landingpage_n_products>
                <category_cache_lifetime>900</category_cache_lifetime>
			</zolagomodago_cataloglisting>
            <zolagomodago_cataloglisting_pagination>
                <products_per_page_iphone>20</products_per_page_iphone>
                <products_per_page_ipad>40</products_per_page_ipad>
                <products_per_page_mobile>20</products_per_page_mobile>
                <products_per_page_desktop>100</products_per_page_desktop>
            </zolagomodago_cataloglisting_pagination>
		</zolagomodago_catalog>
        <design>
            <popular_brands>
                <popular_brands_count>16</popular_brands_count>
                <popular_brands_config><![CDATA[{"8":2,"7":2,"6":2,"5":2,"4":2,"3":2,"2":2}]]></popular_brands_config>
            </popular_brands>
	        <scrolltop>
		        <active>1</active>
		        <position_right>20</position_right>
		        <position_bottom>20</position_bottom>
		        <percent_appears>100</percent_appears>
		        <show_on_scroll>1</show_on_scroll>
		        <hide_after>2000</hide_after>
	        </scrolltop>
        </design>

	</default>
</config>
