<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Modago>
            <version>0.1.8</version>
        </Zolago_Modago>
    </modules>
	<frontend>
		<routers>
            <zolagomodago>
                <use>standard</use>
                <args>
                    <module>Zolago_Modago</module>
                    <frontName>modago</frontName>
                </args>
            </zolagomodago>
		</routers>
	</frontend>
    <global>
        <blocks>
            <zolagomodago>
                <class>Zolago_Modago_Block</class>
            </zolagomodago>
            <page>
                <rewrite>
                    <html>Zolago_Modago_Block_Page_Html</html>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <zolagomodago>
                <class>Zolago_Modago_Helper</class>
            </zolagomodago>
        </helpers>
        <resources>
            <zolagomodago_setup>
                <setup>
                    <module>Zolago_Modago</module>
                </setup>
            </zolagomodago_setup>
        </resources>
    </global>
</config>
