<config>
    <sections>
        <zolagomodago_catalog translate="label" module="zolagomodago">
            <tab>catalog</tab>
            <label>Listing</label>
            <frontend_type>text</frontend_type>
            <sort_order>50</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <zolagomodago_cataloglisting translate="label">
                    <label>Frontend</label>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>0</sort_order>
                    <fields>
                        <load_on_start translate="label">
                            <label>Load on start</label>
                            <frontend_type>text</frontend_type>
                            <comment>How many products are shown when page is loaded.</comment>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-number</validate>
                        </load_on_start>
                        <appended_when_scroll translate="label">
                            <label>Append when scroll</label>
                            <comment>How many products will be appended to listing when user is scrolling.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-number</validate>
                        </appended_when_scroll>
                        <load_more_offset translate="label">
                            <label>Load more offset</label>
                            <comment>How many products will be loaded after pressing Load more button.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-number</validate>
                        </load_more_offset>
                        <pixels_before_append translate="label">
                            <label>Pixels before append</label>
                            <comment>Pixels from bottom when products append to listing starts.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-number</validate>
                        </pixels_before_append>
                        <vendor_landingpage_n_products translate="label">
                            <label>N products to show in vendor landingpage</label>
                            <comment>Integer value</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <validate>validate-number</validate>
                        </vendor_landingpage_n_products>
                        <category_cache_lifetime translate="label">
                            <label>Category cache lifetime</label>
                            <frontend_type>text</frontend_type>
                            <comment>Time in seconds</comment>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <validate>validate-number</validate>
                        </category_cache_lifetime>
                    </fields>
                </zolagomodago_cataloglisting>
                <zolagomodago_cataloglisting_pagination translate="label">
                    <label>Pagination</label>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>0</sort_order>
                    <fields>
                        <products_per_page_iphone translate="label">
                            <label>iPhone - Products per page</label>
                            <frontend_type>text</frontend_type>
                            <comment>How many products are shown on iPhone per one page.</comment>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-number</validate>
                        </products_per_page_iphone>
                        <products_per_page_ipad translate="label">
                            <label>iPad - Products per page</label>
                            <frontend_type>text</frontend_type>
                            <comment>How many products are shown on iPad per one page.</comment>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-number</validate>
                        </products_per_page_ipad>
                        <products_per_page_mobile translate="label">
                            <label>Mobile browsers - Products per page</label>
                            <frontend_type>text</frontend_type>
                            <comment>How many products are shown on Mobile browsers per one page.</comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-number</validate>
                        </products_per_page_mobile>
                        <products_per_page_desktop translate="label">
                            <label>Desktop browsers - Products per page</label>
                            <frontend_type>text</frontend_type>
                            <comment>How many products are shown on Desktop browsers per one page.</comment>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-number</validate>
                        </products_per_page_desktop>
                    </fields>
                </zolagomodago_cataloglisting_pagination>
            </groups>
        </zolagomodago_catalog>

        <design translate="label" module="zolagomodago">
            <groups>
                <popular_brands translate="label">
                    <label>Popular brands block</label>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>50</sort_order>
                    <fields>
                        <popular_brands_config translate="label">
                            <label>Main page brand's config</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </popular_brands_config>
                    </fields>
                </popular_brands>
	            <scrolltop translate="label">
		            <label>Scroll to top</label>
		            <frontend_type>text</frontend_type>
		            <show_in_default>1</show_in_default>
		            <show_in_website>1</show_in_website>
		            <show_in_store>0</show_in_store>
		            <sort_order>1000</sort_order>
		            <fields>
						<active translate="label">
							<label>Enabled</label>
							<sort_order>0</sort_order>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</active>
			            <position_right translate="label">
				            <label>Position right</label>
				            <comment>Distance from right edge in pixels</comment>
				            <sort_order>10</sort_order>
				            <frontend_type>text</frontend_type>
				            <show_in_default>1</show_in_default>
				            <show_in_website>1</show_in_website>
				            <show_in_store>0</show_in_store>
				            <validate>validate-number</validate>
			            </position_right>
			            <position_bottom translate="label">
				            <label>Position bottom</label>
				            <comment>Distance from bottom edge in pixels</comment>
				            <sort_order>20</sort_order>
				            <frontend_type>text</frontend_type>
				            <show_in_default>1</show_in_default>
				            <show_in_website>1</show_in_website>
				            <show_in_store>0</show_in_store>
				            <validate>validate-number</validate>
			            </position_bottom>
			            <percent_appears translate="label">
				            <label>Page length to show</label>
				            <comment>How much page should be higher than viewport (in percent) in order to show scroll up element</comment>
				            <sort_order>30</sort_order>
				            <frontend_type>text</frontend_type>
				            <show_in_default>1</show_in_default>
				            <show_in_website>1</show_in_website>
				            <show_in_store>0</show_in_store>
				            <validate>validate-number</validate>
			            </percent_appears>
			            <show_on_scroll translate="label">
				            <label>Show on scroll up</label>
				            <comment>Show only when user is scrolling page up</comment>
				            <sort_order>40</sort_order>
				            <frontend_type>select</frontend_type>
				            <source_model>adminhtml/system_config_source_yesno</source_model>
				            <show_in_default>1</show_in_default>
				            <show_in_website>1</show_in_website>
				            <show_in_store>0</show_in_store>
			            </show_on_scroll>
			            <hide_after translate="label">
				            <label>Hide after time</label>
				            <comment>When previous option is enabled it hides scroll up element after specified time in milliseconds</comment>
				            <sort_order>50</sort_order>
				            <frontend_type>text</frontend_type>
				            <show_in_default>1</show_in_default>
				            <show_in_website>1</show_in_website>
				            <show_in_store>0</show_in_store>
				            <validate>validate-number</validate>
			            </hide_after>
		            </fields>
	            </scrolltop>
	            <header>
		            <fields>
			            <secondary_logo_src translate="label">
				            <label>Alternative logo SRC</label>
				            <frontend_type>text</frontend_type>
				            <sort_order>50</sort_order>
				            <show_in_default>1</show_in_default>
				            <show_in_website>1</show_in_website>
				            <show_in_store>1</show_in_store>
			            </secondary_logo_src>
			            <secondary_logo_alt translate="label">
				            <label>Alternative logo ALT</label>
				            <frontend_type>text</frontend_type>
				            <sort_order>60</sort_order>
				            <show_in_default>1</show_in_default>
				            <show_in_website>1</show_in_website>
				            <show_in_store>1</show_in_store>
			            </secondary_logo_alt>
		            </fields>
	            </header>
            </groups>
        </design>
    </sections>
</config>