<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Catalog>
            <version>0.0.2</version>
        </Zolago_Catalog>
    </modules>
    <global>
        <models>
            <zolagocatalog>
                <class>Zolago_Customer_Model</class>
                <resourceModel>zolagocatalog_resource</resourceModel>
            </zolagocatalog>
            <zolagocatalog_resource>
                <class>Zolago_Catalog_Model_Resource</class>
                <entities>
                    <category_filter>
                        <table>zolago_catalog_category_filter</table>
                    </category_filter>
                </entities>
            </zolagocatalog_resource>
        </models>
        <helpers>
            <zolagocatalog>
                <class>Zolago_Catalog_Helper</class>
            </zolagocatalog>
        </helpers>
        <blocks>
            <zolagocatalog>
                <class>Zolago_Catalog_Block</class>
            </zolagocatalog>
        </blocks>
        <resources>
            <zolagocatalog_setup>
                <setup>
                    <module>Zolago_Catalog</module>
                </setup>
            </zolagocatalog_setup>
        </resources>
    </global>
<!--    <frontend>
        <routers>
            <catalog>  
                <args>  
                    <modules>  
                        <Zolago_Catalog before="Mage_Catalog">Zolago_Catalog</Zolago_Catalog>  
                    </modules>  
                </args>  
            </catalog> 
        </routers>
    </frontend>-->
</config>
