<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Catalog>
            <version>0.0.12</version>
        </Zolago_Catalog>
    </modules>
    <global>

        <models>
            <zolagocatalog>
                <class>Zolago_Catalog_Model</class>
                <resourceModel>zolagocatalog_resource</resourceModel>
            </zolagocatalog>
            <zolagocatalog_resource>
                <class>Zolago_Catalog_Model_Resource</class>
                <entities>
                    <category_filter>
                        <table>zolago_catalog_category_filter</table>
                    </category_filter>
                    <queue_configurable>
                        <table>zolago_catalog_queue_configurable</table>
                    </queue_configurable>
                    <pricessizes>
                        <table>vw_product_relation_prices_sizes</table>
                    </pricessizes>
                </entities>
            </zolagocatalog_resource>
			<catalog>
				<rewrite>
					<product_action>Zolago_Catalog_Model_Product_Action</product_action>
				</rewrite>
			</catalog>
        </models>
        <helpers>
            <zolagocatalog>
                <class>Zolago_Catalog_Helper</class>
            </zolagocatalog>
        </helpers>
        <blocks>
            <zolagocatalog>
                <class>Zolago_Catalog_Block</class>
            </zolagocatalog>
			<catalog>
				<rewrite>
					<breadcrumbs>Zolago_Catalog_Block_Breadcrumbs</breadcrumbs>
				</rewrite>
			</catalog>
        </blocks>
        <resources>
            <zolagocatalog_setup>
                <setup>
                    <module>Zolago_Catalog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zolagocatalog_setup>
            <zolagocatalog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </zolagocatalog_write>
            <zolagocatalog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </zolagocatalog_read>
        </resources>
    </global>
    <frontend>
        <routers>
			<!--
            <catalog>  
                <args>  
                    <modules>  
                        <Zolago_Catalog before="Mage_Catalog">Zolago_Catalog</Zolago_Catalog>  
                    </modules>  
                </args>  
            </catalog> 
			-->
			<udprod>
				<args>
					<modules>
						<zolagocatalog>Zolago_Catalog</zolagocatalog> 
					</modules>
				</args>
			</udprod>
        </routers>
		<layout>
			<updates>
				<zolagocatalog>
					<file>zolagocatalog.xml</file>
				</zolagocatalog>
			</updates>
		</layout>
		<translate>
			<modules>
				<Zolago_Catalog>
					<files>
						<default>Zolago_Catalog.csv</default>
					</files>
				</Zolago_Catalog>
			</modules>
		</translate>		
    </frontend>
    <adminhtml>
		<translate>
			<modules>
				<Zolago_Catalog>
					<files>
						<default>Zolago_Catalog.csv</default>
					</files>
				</Zolago_Catalog>
			</modules>
		</translate>
    </adminhtml>
    <crontab>
        <jobs>
            <zolagocatalog_process_configurable_queue>
                <schedule>
                    <!-- Run every 5 minutes -->
                    <cron_expr>0,5,10,15,20,25,30,35,40,45,50,55 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>zolagocatalog/observer::processConfigurableQueue</model>
                </run>
            </zolagocatalog_process_configurable_queue>
            <!--<zolagocatalog_clear_configurable_queue>-->
                <!--<schedule>-->
                    <!--&lt;!&ndash; Run every 5 minutes &ndash;&gt;-->
                    <!--<cron_expr>0,5,10,15,20,25,30,35,40,45,50,55 * * * *</cron_expr>-->
                <!--</schedule>-->
                <!--<run>-->
                    <!--<model>zolagocatalog/observer::clearConfigurableQueue</model>-->
                <!--</run>-->
            <!--</zolagocatalog_clear_configurable_queue>-->
        </jobs>
    </crontab>
</config>
