<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Catalog>
            <version>0.1.8</version>
        </Zolago_Catalog>
    </modules>
    <default>
		<catalog>
			<price>
				<automatic_strikeout_price_percent>5</automatic_strikeout_price_percent>
			</price>
		</catalog>
        <zolagocatalog>
            <config>
                <group>config</group>
                <po_open_order>0,11,9,5,4,3,11</po_open_order>
            </config>
        </zolagocatalog>
		<cataloginventory>
			<options>
				<include_not_salable>1</include_not_salable>
            </options>
		</cataloginventory>
        <udprod>
            <product_description_history_changes_config>
                <max_changes_count>5</max_changes_count>
                <history_expiration_time>24</history_expiration_time>
            </product_description_history_changes_config>
        </udprod>
        <udropship>
            <vendor>
                <vendor_mass_image_batch_size_byname>10</vendor_mass_image_batch_size_byname>
                <vendor_mass_image_batch_size_bycsv>10</vendor_mass_image_batch_size_bycsv>
            </vendor>
        </udropship>
    </default>
    <global>
        <models>
            <zolagocatalog>
                <class>Zolago_Catalog_Model</class>
                <resourceModel>zolagocatalog_resource</resourceModel>
            </zolagocatalog>
            <zolagocatalog_resource>
                <class>Zolago_Catalog_Model_Resource</class>
                <entities>
                    <category_filter>
                        <table>zolago_catalog_category_filter</table>
                    </category_filter>
                    <queue_configurable>
                        <table>zolago_catalog_queue_configurable</table>
                    </queue_configurable>
                    <queue_pricetype>
                        <table>zolago_catalog_queue_pricetype</table>
                    </queue_pricetype>
                    <pricessizes>
                        <table>vw_product_relation_prices_sizes_relation</table>
                    </pricessizes>
                    <description_history>
                        <table>zolago_catalog_product_description_history</table>
                    </description_history>
                </entities>
            </zolagocatalog_resource>
			<catalog>
				<rewrite>
                    <entity_attribute>Zolago_Catalog_Model_Entity_Attribute</entity_attribute>
                    <resource_eav_attribute>Zolago_Catalog_Model_Resource_Eav_Attribute</resource_eav_attribute>
                    <resource_product_attribute_collection>Zolago_Catalog_Model_Resource_Product_Attribute_Collection</resource_product_attribute_collection>
					<product_action>Zolago_Catalog_Model_Product_Action</product_action>
                    <category>Zolago_Catalog_Model_Category</category>
                    <product>Zolago_Catalog_Model_Product</product>
                    <url>Zolago_Catalog_Model_Url</url>
                    <category>Zolago_Catalog_Model_Category</category>
                    <product_type_configurable>Zolago_Catalog_Model_Product_Type_Configurable</product_type_configurable>
                    <product_attribute_backend_media>Zolago_Catalog_Model_Product_Attribute_Backend_Media</product_attribute_backend_media>
                </rewrite>
			</catalog>
            <catalog_resource>
                <rewrite>
                    <eav_attribute>Zolago_Catalog_Model_Resource_Eav_Attribute</eav_attribute>
                    <product_attribute_collection>Zolago_Catalog_Model_Resource_Product_Attribute_Collection</product_attribute_collection>
                    <product>Zolago_Catalog_Model_Resource_Product</product>
                    <category>Zolago_Catalog_Model_Resource_Category</category>
                    <category_tree>Zolago_Catalog_Model_Resource_Category_Tree</category_tree>
                    <category_collection>Zolago_Catalog_Model_Resource_Category_Collection</category_collection>
                </rewrite>
            </catalog_resource>
        </models>
        <helpers>
            <zolagocatalog>
                <class>Zolago_Catalog_Helper</class>
            </zolagocatalog>
            <catalog>
                <rewrite>
                    <category>Zolago_Catalog_Helper_Category</category>
                </rewrite>
            </catalog>
        </helpers>
        <blocks>
            <zolagocatalog>
                <class>Zolago_Catalog_Block</class>
            </zolagocatalog>
			<catalog>
				<rewrite>
					<breadcrumbs>Zolago_Catalog_Block_Breadcrumbs</breadcrumbs>
					<product_view>Zolago_Catalog_Block_Product_View</product_view>
                    <product_view_attributes>Zolago_Catalog_Block_Product_View_Attributes</product_view_attributes>
					<product_view_type_configurable>Zolago_Catalog_Block_Product_View_Type_Configurable</product_view_type_configurable>
                    <product_list_related>Zolago_Catalog_Block_Product_List_Related</product_list_related>
                    <product_list_crosssell>Zolago_Catalog_Block_Product_List_Crosssell</product_list_crosssell>
                    <product_list_upsell>Zolago_Catalog_Block_Product_List_Upsell</product_list_upsell>
                </rewrite>
			</catalog>
        </blocks>
        <resources>
            <zolagocatalog_setup>
                <setup>
                    <module>Zolago_Catalog</module>
                    <class>Zolago_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zolagocatalog_setup>
            <zolagocatalog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </zolagocatalog_write>
            <zolagocatalog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </zolagocatalog_read>
        </resources>
        <events>
            <catalog_product_delete_after>
                <observers>
                    <zolagocatalog_category>
                        <class>zolagocatalog/observer</class>
                        <method>catalogProductDeleteAfter</method>
                    </zolagocatalog_category>
                </observers>
            </catalog_product_delete_after>
            <catalog_product_attribute_update_after>
                <observers>
                    <zolago_catalog_converter_mass>
                        <class>Zolago_Catalog_Model_Observer</class>
                        <method>productAttributeMassUpdate</method>
                    </zolago_catalog_converter_mass>
                </observers>
            </catalog_product_attribute_update_after>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <add_column_width_field>
                        <class>zolagocatalog/observer</class>
                        <method>addColumnWidthField</method>
                    </add_column_width_field>
                    <add_column_attribute_order_field>
                        <class>zolagocatalog/observer</class>
                        <method>addColumnAttributeOrder</method>
                    </add_column_attribute_order_field>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
            <catalog_category_save_after>
                <observers>
                    <check_related_category_products>
                        <class>zolagosolrsearch/observer</class>
                        <method>checkRelatedCategoryProducts</method>
                    </check_related_category_products>
                </observers>
            </catalog_category_save_after>
            <adminhtml_store_edit_form_prepare_form>
                <observers>
                    <zolagocatalog_add_fields_to_admin_store_view_edit>
                        <class>zolagocatalog/observer</class>
                        <method>addFieldsToAdminStoreViewEdit</method>
                    </zolagocatalog_add_fields_to_admin_store_view_edit>
                </observers>
            </adminhtml_store_edit_form_prepare_form>
            <catalog_product_website_update>
                <observers>
                    <zolagocatalog_product_website_update>
                        <type>singleton</type>
                        <class>zolagocatalog/observer</class>
                        <method>catalogProductWebsiteUpdate</method>
                    </zolagocatalog_product_website_update>
                </observers>
            </catalog_product_website_update>

        </events>
		<udropship>
			<vendor>
				<fields>
					<automatic_strikeout_price_percent>
						<label>Automatic strikeout price by percent</label>
						<note>When difference between effective price and msrp is >= % show strikeout price. Leave empty for use default</note>
						<type>text</type>
						<fieldset>vendor_info</fieldset>
						<position>1</position>
					</automatic_strikeout_price_percent>
				</fields>
			</vendor>
		</udropship>
    </global>
    <frontend>
        <routers>
            <catalog>  
                <args>  
                    <modules>  
                        <Zolago_Catalog before="Mage_Catalog">Zolago_Catalog</Zolago_Catalog>  
                    </modules>  
                </args>  
            </catalog> 
			<udprod>
				<args>
					<modules>
						<zolagocatalog>Zolago_Catalog</zolagocatalog> 
					</modules>
				</args>
			</udprod>
        </routers>
		<layout>
			<updates>
				<zolagocatalog>
					<file>zolagocatalog.xml</file>
				</zolagocatalog>
			</updates>
		</layout>
		<translate>
			<modules>
				<Zolago_Catalog>
					<files>
						<default>Zolago_Catalog.csv</default>
					</files>
				</Zolago_Catalog>
			</modules>
		</translate>	
		<events>
			<catalog_controller_product_init>
				<observers>
                    <zolago_catalog_product_init>
                        <class>Zolago_Catalog_Model_Observer</class>
                        <method>productInit</method>
                    </zolago_catalog_product_init>
                </observers>
			</catalog_controller_product_init>
		</events>	
		<secure_url>
		    <udprod_vendor_product>/udprod/vendor_product/</udprod_vendor_product>
		    <udprod_vendor_image>/udprod/vendor_image/</udprod_vendor_image>
		    <udprod_vendor_price>/udprod/vendor_price/</udprod_vendor_price>
		    <udprod_vendor_attributes>/udprod/vendor_attributes/</udprod_vendor_attributes>
		</secure_url>
    </frontend>
    <adminhtml>
		<translate>
			<modules>
				<Zolago_Catalog>
					<files>
						<default>Zolago_Catalog.csv</default>
					</files>
				</Zolago_Catalog>
			</modules>
		</translate>
        <events>
            <catalog_product_save_after>
                <observers>
                    <zolago_catalog_converter>
                        <class>Zolago_Catalog_Model_Observer</class>
                        <method>productAfterUpdate</method>
                    </zolago_catalog_converter>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <zolagocatalog_process_configurable_queue>
                <schedule>
                    <!-- Run every 2 minutes -->
                    <cron_expr>*/2 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>zolagocatalog/observer::processConfigurableQueue</model>
                </run>
            </zolagocatalog_process_configurable_queue>
            <zolagocatalog_process_pricetype_queue>
                <schedule>
                    <!-- Run every 2 minutes -->
                    <cron_expr>*/2 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>zolagocatalog/observer::processPriceTypeQueue</model>
                </run>
            </zolagocatalog_process_pricetype_queue>
        </jobs>
    </crontab>
</config>
