#note_product {
	
	#statystyki_opinii {
		border-bottom: 1px solid $color_f2f1f0;
		padding-bottom: 15px;
	}
	dl.raty_note {
		margin-bottom: 23px;
		dt,dd {
			margin-bottom: 10px;
			overflow:hidden;
		}
		dt {
			line-height: 22px;
			margin-bottom: 20px;
			strong {
				margin-right:10px;
				@include inline-block;
				float:left;
			}
			#average_rating {
				@include inline-block;
				float:left;
				width:130px;
			}
			.suffix {
				@include inline-block;
				float:left;
				line-height: 26px;
				font-size: 11px;
				color:$color_959595;
				font-family: $fontRegular;
				font-weight: normal;
			}
		}
		dd {
			clear:both;
			
			strong {
				display:inline-block;
				width:100px;
				float:left;
			}
			div {
				@include inline-block;
				float:left;
				
			}
			.suffix {
				@include inline-block;
				float:left;
				line-height: 26px;
			}
		}
	}
	.rating_note {
		 @media (min-width: 931px){
			position:relative;
			top:5px;
		}
		dt {
			text-align: left;
			padding-left: 71px;
			margin-bottom: 12px;
			padding-bottom: 0px;
			white-space:nowrap;
			@media screen and (-webkit-min-device-pixel-ratio:0) {
			    padding-left: 48px;
			}
			@media (max-width: $screen-xs-max) {
				text-align: left;
			}
			span {
				margin-left:5px;
			}
		}
		dd {
			white-space:nowrap;
		}
		.prefix {
			margin-right: 10px;
			line-height: 13px;
		}
		.suffix {
			margin-left: 10px;
			line-height: 13px
		}
	}
	.rating {
		@include inline-block;
		height:13px;
		width:134px;
		position:relative;
		background:$gray-light;
		
		> span {
			display:block;
			position:absolute;
			height:13px;
			background:$color-accent;
		}
	}

	.add_opinion {
		a {
			position: relative;
			top: 4px;
		}
		@media (min-width: 931px) { 
			text-align: right;
		} 
	}

}