#navCategory {
	background:$color_fff;
	padding:0px 0;
	margin-top:4px;
	h3 {
		margin:0px;
		padding:10px 0 10px 5px;
		float:left;
		text-transform: uppercase;
		font-size: 18px;
        font-weight: 900;
	}
	.backToCategory {
		float:right;
		padding:10px 5px 10px 0px;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 37px;
        &:hover {
            text-decoration: underline;
        }
	}
	#nav_category_mobile {
		clear:both;
		> li {
			display:block;
		    > a:link,
		    > a:visited {
		    border-top:1px solid $color_dedce1;
		    position:relative;
		    line-height: 29px;
			display:block;
			padding-left: 30px !important;
		    }
            > a:hover {
                text-decoration: underline;
            }
		}
	}
}