<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Banner>
            <version>0.0.9</version>
        </Zolago_Banner>
    </modules>
    <global>
        <models>
            <zolagobanner>
                <class>Zolago_Banner_Model</class>
                <resourceModel>zolagobanner_resource</resourceModel>
            </zolagobanner>
            <zolagobanner_resource>
                <class>Zolago_Banner_Model_Resource</class>
                <entities>
                    <banner>
                        <table>zolago_banner</table>
                    </banner>
                    <banner_content>
                        <table>zolago_banner_content</table>
                    </banner_content>
                </entities>
            </zolagobanner_resource>
        </models>
        <blocks>
            <zolagobanner>
                <class>Zolago_Banner_Block</class>
            </zolagobanner>
        </blocks>
        <helpers>
            <zolagobanner>
                <class>Zolago_Banner_Helper</class>
            </zolagobanner>
        </helpers>
        <resources>
            <zolagobanner_setup>
                <setup>
                    <module>Zolago_Banner</module>
                </setup>
            </zolagobanner_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <zolagobanner>
                <use>standard</use>
                <args>
                    <module>Zolago_Banner</module>
                    <frontName>banner</frontName>
                </args>
            </zolagobanner>
        </routers>
        <layout>
            <updates>
                <zolagobanner>
                    <file>zolagobanner.xml</file>
                </zolagobanner>
            </updates>
        </layout>
        <translate>
            <modules>
                <Zolago_Banner>
                    <files>
                        <default>Zolago_Banner.csv</default>
                    </files>
                </Zolago_Banner>
            </modules>
        </translate>
    </frontend>
</config>