/* HEADER BOTTOM */
.header_bottom {   
    #nav_mobile {
        > li {
            > a:link,
            > a:visited {
            text-decoration: none;
            }
            > a:hover {
                text-decoration: underline;
            }

            li {
                a {
                    font-size: 15px;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.top_bottom {
    #shop_nav_mobile {
        > li {
            > a:link,
            > a:visited {
            text-decoration: none;
            }
            > a:hover {
                text-decoration: underline;
            }
            li {
                a {
                    font-size: 15px;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}