.sidebar {
		.section {
 		.content {
 		  text-align:left;
 		}
	}
}


.sidebar-first {
	&.node-type-main_categories {
		#sidebar {
			@media (max-width: $screen-xs-max) { 
			background:none;
			}
			.sidebar {
				background:none;
				border:none;
				box-shadow: none;
			}
			.section {
				background:#fff;
				border-top: 3px solid $color-accent;
				border-left: 1px solid #ebebeb;
				border-right: 1px solid #ebebeb;
			}
		}
	}
}
