<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Admin>
            <version>0.1.0</version>
        </Zolago_Admin>
    </modules>
    <global>
        <blocks>
            <zolago_admin>
                <class>Zolago_Admin_Block</class>
            </zolago_admin>
            <mana_admin>
                <rewrite>
                    <column_image>Zolago_Admin_Block_Column_Image</column_image>
                </rewrite>
            </mana_admin>
        </blocks>
        <helpers>
            <zolago_admin>
                <class>Zolago_Admin_Helper</class>
            </zolago_admin>
        </helpers>
    </global>
</config>