@import "../vendor/bootstrap/variables";
@import "media-queries";

// NEW BREAKPOINT 

//@screen-sxs:                 480px;
//@screen-sxs-max:             @screen-sxs;
//@screen-phone:               @screen-sxs-max;

// NEW FOR LISTING ( FOR TABLETS )
// NOW YOU CAN USE OLD BOOTSTRAP DEFAULT:
// XS(480) -> XS-MAX(767) -> SM(768) -> SM-MAX(991) -> MD(992) -> MD-MAX(1199) -> LG(1200)
//
// AND NEW FOR LISTING
// XS(480) -> XS-MAX(767) -> SM-TO-SMMD(768) -> SM-TO-SMMD-MAX(809) -> SMMD(810) -> SMMD-MAX(991) -> MD(992) -> MD-MAX(1199) -> LG(1200)

// Small screen / tablet
$screen-sm-to-smmd:            $screen-sm !default;                 // 768px
$screen-sm-to-smmd-min:        $screen-sm-to-smmd;

$screen-smmd:                  810px !default;
$screen-smmd-min:              $screen-smmd !default;          // 810px

// So media queries don't overlap when required, provide a maximum
$screen-sm-to-smmd-max:        ($screen-smmd-min - 1) !default; // 809px
$screen-smmd-max:              ($screen-md-min - 1) !default;  // 991px

//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// SM-TO-SMMD
$container-sm-to-smmd:         ((740px + $grid-gutter-width)) !default; //770
// SMMD
$container-smmd:               ((950px + $grid-gutter-width)) !default; //980

$global-image-path: "../images";
// #{$global-image-path}

$icon-font-path:          "../fonts/glyphicons/";
$icon-font-name:          "glyphicons-halflings-regular" ;
$icon-font-svg-id:        "glyphicons_halflingsregular" ;

$panel-bottom: $color_fefefe;
$panel-top: $color_fcfcfc;
$body-bg: $color_fff;
$color-gold: $color_ff0000;
$color-gray1: $color_b99;
$color-gray2: $color_ffebeb;
$color-gray3: $color_ffeded;
$color-gray4: $color_b69494;
$bc-primary : $gray-lighter;
$color-black: $color_220000;
$bc-secondary : #d9d9d9;
$colorShortDescription:                                        $color_8a8a8a;

$menuLabelBackground: #B2B2B2;




$validation-error: $color_e84c3d;

@mixin border-all($size:1px) {
    
}

@mixin bc-primary($bs:1px)  {
    border: $bs solid $bc-primary;
}

@mixin bc-secondary($bs:1px)  {
    border: $bs solid $bc-secondary;
}

@mixin reset-m {
    margin: 0;
    padding: 0;
}
@mixin reset-l {
    @include reset-m;
    list-style: none;
}
@mixin cfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin reset-full {
    a:link,
    a:visited,
    a:hover,
    a:focus {
        margin:0px;
        padding:0px;
        background:0px;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="submit"],
    button,
    textarea {
        margin:0px;
        padding:0px;
        background:transparent;
        border:none;
    }
}

@mixin linearGradient($startColor,$stopColor) {
	background: $startColor !important;
	background: -moz-linear-gradient(-80deg,  $startColor 0%, $stopColor 100%)!important;
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$startColor), color-stop(100%,$stopColor))!important;
	background: -webkit-linear-gradient(-80deg,  $startColor 0%,$stopColor 100%)!important;
	background: -o-linear-gradient(-80deg,  $startColor 0%,$stopColor 100%)!important;
	background: -ms-linear-gradient(-80deg,  $startColor 0%,$stopColor 100%)!important;
	background: linear-gradient(135deg,  $startColor 0%,$stopColor 100%)!important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$startColor, endColorstr=$stopColor,GradientType=1 )!important;
}

@mixin lookBookHotSpot() {

        background-color: #fff;
        border: 1px solid #FFFFFF;
        color: #686767;
        min-width: 220px;
        padding: 12px;
        z-index: 999;

        @include box-shadow(7px 2px 12px 0px rgba(50, 50, 50, 0.75)) ;

        h2, a {
            font-size: 14px;
            padding: 0;
            margin-bottom: 10px;
            text-align: left;
        }
        .price {
            color: $colorProductFinalPrice;
            padding-top: 8px;
            font-size: 14px;
            text-align: left;
            clear: both;

            .old-price {
                color: $colorProductStrikeOutPrice;
                text-decoration: line-through;
            }
        }

        .out-of-stock {
            margin-top: 5px;
            color: #D83820;
        }

        .lookbook_see_product {
            margin-top: 10px;
            width: 100%;
            padding: 10px;
            text-align: center;
        }

}

// FONT

@import url(https://fonts.googleapis.com/css?family=Open+Sans:bold,light,regular&subset=latin-ext);
$fontRegular: 'Open Sans', sans-serif;
$fontOpen: $fontRegular;

$fontBlack: $fontRegular;
$fontLight: $fontRegular;

$line-height-base: 1.8 !default;

/* SPRITE SA DO PRZECZYSZCZENIA, ZA DUZO OBRAZKOW TAM WPADA NIEPOTRZEBNIE */

// SPRITES MAP 
$allMap: sprite-map("sprites/all/*.png", $layout: smart, $spacing:50px);

// Dodatkowe sprites
$btnCheck: sprite-map("sprites/check_filter/*.png", $spacing:200px);
$checkboxMap: sprite-map("sprites/checkbox/*.png", $spacing:200px);
$radioMap: sprite-map("sprites/radio/*.png", $spacing:200px);
$selectMap: sprite-map("sprites/select/*.png");
$bgMap: sprite-map("sprites/bg/*.png");

/**



 NEW GLOBAL VARS



 **/
$colorSiteBackground:                   #F2F1F0;

$colorSiteOverlay:                      #000;
$opacitySiteOverlay:                    .5;

$colorShadow:                           #bbb;

$colorFont:                             #555;
$colorSecondFont:                       #3d3d3d;
$colorLink:                             #000;

$colorLinkHover:                        #000;
$colorLinkActive:                       #000;

$colorLinkHoverOnDark:                  #fff;

$decorationLinkHover:                   underline;
$colorHeader:                           $colorSecondFont;

//icon colors
$colorIcon:                             #3d3d3d;
$colorIconHover:                        #000;
$colorIconHoverBackground:              #FFF;

//icon texts colors
$colorIconText:                         $colorIcon;
$colorIconTextHover:                    $colorIconHover;

//backgrounds colors
$colorBackgroundBlocks:                 #FFF;
$colorBackgroundSite:                   #F2F1F0;
$colorBackgroundContent:                #FFF;

//accents colors
$colorAccentBlocks:                     #EBEBEB;
$colorAccentSite:                       #dc4348;
$colorAccentTitle:                      transparent;
$colorAccentTitleTransparent:           true; //defines margins for titles, if you want colored box before titles set it to false

$colorAccentError:                      $colorAccentSite;
$colorAccentValid:                      #6dab3c;

/***********************************************/
/***********************************************/
/***************  BUTTONS   ********************/
/***********************************************/
/***********************************************/
//primary
$colorBtnPrimary:                       #FFF;
$colorBtnPrimaryBgStart:                #262626;
$colorBtnPrimaryBgEnd:                  #262626;
$colorBtnPrimaryBgStartHover:           #444;
$colorBtnPrimaryBgEndHover:             #444;
$colorBtnPrimaryBgStartActive:          #444;
$colorBtnPrimaryBgEndActive:            #444;
$colorBtnPrimaryBgDisabled:             #C5C5C5;

//secondary
$colorBtnSecondaryBgStart:                #adadad;
$colorBtnSecondaryBgEnd:                  #adadad;
$colorBtnSecondaryBgStartHover:           #dc4348;
$colorBtnSecondaryBgEndHover:             #dc4348;
$colorBtnSecondaryBgStartActive:          #dc4348;
$colorBtnSecondaryBgEndActive:            #dc4348;
$colorBtnSecondaryHoverBorder:            #dc4348;


//third
$colorBtnThirdBorderActive:             #444;
$colorBtnThirdColorActive:              #444;
$colorBtnThirdBgStart:                    #adadad;
$colorBtnThirdBgEnd:                      #adadad;
$colorBtnThirdBgStartHover:               #444;
$colorBtnThirdBgEndHover:                 #444;
$colorBtnThirdHoverBorder:                #444;
$colorBtnThirdBgStartActive:              #444;
$colorBtnThirdBgEndActive:                #444;
$colorBtnThirdBgDisabled:                 #444;


//fourth
$colorBtnFourth:               #4f4f4f;
$colorBtnFourthBgStart:        #fff;
$colorBtnFourthBgEnd:          #fff;
$colorBtnFourthBgStartHover:   #fff;
$colorBtnFourthBgEndHover:     #fff;
$colorBtnFourthBorder:         #afafaf;
$colorBtnFourthBorderHover:    #4f4f4f;

@mixin generalLinkOnDark {
  &:hover, &.hover {
    color: $colorLinkHoverOnDark;
    text-decoration: $decorationLinkHover;

  }
  &:active, &:focus, &.active {
    color: $colorLinkHoverOnDark;
    text-decoration: $decorationLinkHover;
    outline: none;
  }
}

@mixin primaryButtonGradient { //covers normal + hover + active + .disabled
	@include linearGradient($colorBtnPrimaryBgStart,$colorBtnPrimaryBgEnd);
	&:hover,&.hover {
		@include linearGradient($colorBtnPrimaryBgStartHover,$colorBtnPrimaryBgEndHover);
	}
	&:active,&:focus,&.active {
		@include linearGradient($colorBtnPrimaryBgStartActive,$colorBtnPrimaryBgEndActive);
        outline: none;
	}
	&.disabled {
		background: $colorBtnPrimaryBgDisabled;
	}
}

@mixin fourthButtonGradient { //covers normal + hover + active + .disabled
  @include linearGradient($colorBtnFourthBgStart,$colorBtnFourthBgEnd);
  &:hover,&.hover {
    @include linearGradient($colorBtnFourthBgStartHover,$colorBtnFourthBgEndHover);
  }
  &:active,&:focus,&.active {
    @include linearGradient($colorBtnFourthBgStartHover,$colorBtnFourthBgEndHover);
    outline: none;
  }
  &.disabled {
    background: $colorBtnPrimaryBgDisabled;
  }
}


@mixin secondaryButtonGradient { //covers normal + hover + active + .disabled
  @include linearGradient($colorBtnSecondaryBgStart,$colorBtnSecondaryBgEnd);
  &:hover,
  &.hover {
    @include linearGradient($colorBtnSecondaryBgStartHover,$colorBtnSecondaryBgEndHover);
    border-color: $colorBtnSecondaryHoverBorder;
  }
  &:active,&:focus,&.active {
    @include linearGradient($colorBtnSecondaryBgStartActive,$colorBtnSecondaryBgEndActive);
    border-color: $colorBtnSecondaryHoverBorder;
  }
  &.disabled {
    background: $colorBtnPrimaryBgDisabled;
  }
}

@mixin thirdButtonGradient { //covers normal + hover + active + .disabled
  @include linearGradient($colorBtnThirdBgStart,$colorBtnThirdBgEnd);
  &:hover,
  &.hover {
    @include linearGradient($colorBtnThirdBgStartHover,$colorBtnThirdBgEndHover);
    border-color: $colorBtnThirdHoverBorder;
  }
  &:active,&:focus,&.active {
    @include linearGradient($colorBtnThirdBgStartActive,$colorBtnThirdBgEndActive);
    border-color: $colorBtnThirdHoverBorder;
  }
  &.disabled {
    background: $colorBtnThirdBgDisabled;
  }
}
/***********************************************/

$colorMainMenuSubItemGradientStart: #F9F9FA;
$colorMainMenuSubItemGradientEnd: #F9F9FA;

@mixin productPricesBlockKit {

  .amount {
    color: $colorProductFinalPrice;
  }

  ins {
    background-color: transparent;
    text-decoration: none;
  }
  del {
    font-size: 1em;
    color: $colorProductStrikeOutPrice;

    span.amount {
      color: $colorProductStrikeOutPrice;
    }
  }
}

@mixin productFlagLabel {
  .label-product {
    text-align: center;
    z-index: 1;

    .listing-label {
      color: #fff;
      border-radius: 100%;
      width: 45px;
      height: 45px;
      line-height: 45px;
      font-size: 12px;
      font-family: $fontOpen;
      font-weight: 700;
      display: inline-block;
      top: 7px;
      position: absolute;
      z-index: 100;
      left: 20px;

      &.type-label-new {
        background: $backgroundColorFlagNew;
      }
      &.type-label-sale, &.type-label-bestseller {
        background: $backgroundColorFlagSale;
      }
      &.type-label-promotion {
        background: $backgroundColorFlagPromotion;
      }
      .flag-bestseller:before {
        content: "Hit";
      }
      .flag-promotion:before {
        content: "Promo";
      }
      .flag-sale:before {
        content: "Sale";
      }
      .flag-new:before {
        content: "New";
      }

    }
  }
}



$colorDropdownBorder:                   #e6e6e6;

/* CMS VARIABLES */
$colorBorderCms:                        #bfbfbf;
$colorBackgroundCms:                    $colorBackgroundBlocks;
$colorAccentCms:                        $colorAccentSite;

/* HEADER VARIABLES */
$colorIconHeader:                       $colorIcon;
$colorIconHoverHeader:                  $colorIconHover;
$colorIconHoverBgHeader:                $colorIconHoverBackground;

$colorHeaderBadge:                      #FFF;
$colorHeaderBadgeBg:                    $colorAccentSite;

$colorIconTextHeader:                   $colorIconText;
$colorIconTextHoverHeader:              $colorIconTextHover;

$colorBgBlocksHeader:                   $colorBackgroundBlocks;
$colorBgContentHeader:                  $colorBackgroundContent;
$colorAccentBlocksHeader:               $colorAccentBlocks;

$colorHeaderSearch:                     $colorFont;
$colorHeaderSearchBg:                   $colorBgBlocksHeader;
$colorHeaderSearchBorder:               #d5d5d5;
$colorHeaderSearchBtnBg:                #000;
$colorHeaderSearchBtn:                  #FFF;

/* CHECKOUT VARIABLES */
$colorHeaderCheckoutSteps:              $color_ccc;
$colorHeaderCheckoutStepsActive:        $color_000;
$colorHeaderCheckoutStepsText:          $color_ccc;
$colorHeaderCheckoutStepsTextActive:    $color_000;

$colorCheckoutFieldsTopBorder:          transparent;

/* TOP MENU VARIABLES */
$colorAccentSiteMenuTop:                $colorAccentSite;
$colorAccentBlocksMenuTop:              $colorAccentBlocks;
$colorBgBlocksMenuTop:                  $colorBackgroundBlocks;


/* DROPDOWN VARIABLES */
$colorBgDropdown:                       $colorIconHoverBgHeader;
$colorDropdown:                         $colorIconTextHoverHeader;
$colorAccentDropdown:                   $colorAccentBlocks;

/* CART DROPDOWN VARIABLES */
$colorBgDropdownCart:                   $colorBgDropdown;
$colorDropdownCart:                     $colorDropdown;
$colorDropdownBorderCart:               $colorDropdownBorder;
$colorDropdownBorderSearch:             $colorDropdownBorder;
$colorAccentDropdownCart:               $colorAccentDropdown;

/* SEARCH DROPDOWN VARIABLES */
$colorBgDropdownSearch:                 $colorBgDropdown;
$colorDropdownSearch:                   $colorDropdown;
$colorAccentDropdownSearch:             $colorAccentDropdown;

/* FOOTER VARIABLES */
$colorBgBlocksFooter:                   $colorBackgroundBlocks;
$colorFontFooter:                       $colorFont;
$colorLinkFooter:                       $colorLink;

/* CART VARIABLES */
$colorAccentBlocksCart:                 $colorAccentBlocks;

/* HAMBURGER MENU VARIABLES */
$colorHamburgerBg:                      #2D2D2D;
$colorHamburgerBgHeader:                $colorHamburgerBg;
$colorHamburgerBgSeparator:             $colorHamburgerBg;
$colorHamburgerBgItem:                  #000;
$colorHamburgerBgItem2:                 #414141;
$colorHamburgerBgItem3:                 #555556;
$colorHamburgerTextHeader:              #fff;
$colorHamburgerText:                    $colorHamburgerTextHeader;
$colorHamburgerText2:                   $colorHamburgerTextHeader;
$colorHamburgerText3:                   $colorHamburgerTextHeader;
$colorHamburgerBorder:                  $colorHamburgerBg;
$colorHamburgerBorder2:                 $colorHamburgerBg;
$colorHamburgerBorder3:                 $colorHamburgerBg;
$colorHamburgerIcon:                    #FFF;

/* FAQ VARIABLES */
$colorFaqLabel:                         $colorFont;
$colorFaqLabelBg:                       #F5F5F5;
$colorFaqLabelBorder:                   #DDD;
$colorFaqAnswer:                        $colorFont;
$colorFaqAnswerBg:                      transparent;
$borderRadiusFaq:                       0;

/* COOKIE BAR VARIABLES */
$colorCookieBarBg:                      #CDCDCD;
$colorCookieBar:                        #5f5f5f;
$colorCookieBarLink:                    #CD0027;
$colorCookieBarLinkHover:               #e60028;
$colorCookieBarLinkActive:              #b40026;

/* PRODUCT VARIABLES */
$colorAccentProductTitle:               $colorAccentTitle;
$colorProductAccordionBorder:           #d9d9d9;
$colorProductAccordion:                 #000;

$colorProductFinalPrice:                 $color_dc4348;
$colorProductStrikeOutPrice:             $color_8a8a8a;


/* MY ACCOUNT VARIABLES */
$colorAccentSidebarAccount:             $colorAccentSite;
$colorBorderSidebarAccount:             #ebebeb;
$colorBackgroundBlocksAccount:          $colorBackgroundBlocks;

/* RMA VARIABLES */
$colorRma:                              $colorFont;
$colorBorderRma:                        $gray-lighter;
$colorBackgroundRma:                    $colorBackgroundBlocksAccount;
$colorAccentRma:                        $colorAccentSite;
$colorRmaCancel:                        #BBB;
$colorRmaFooter:                        #fefefe;
$colorBackgroundRmaPoList:              $colorBackgroundRma;
$colorBorderRmaPoList:                  $colorBorderRma;
$colorBorderRmaPoListImage:             #cccccc;
$colorRmaCarrier:                       $colorFont;
$colorRmaCarrierActive:                 #fff;
$colorBackgroundRmaCarrier:             #fff;
$colorBorderRmaCarrier:                 #ccc;
$colorBackgroundRmaCarrierChosen:       #f5f5f5;
$colorBackgroundRmaCarrierTime:         #fff;
$colorShadowRma:                        $colorShadow;
$colorShadowRma2:                       #f0f0f0;
$colorShadowRma3:                       rgba(51,51,51,0.45);
$colorBorderCarrierTimePicker:          $colorBorderRma;
$colorBackgroundCarrierTimePicker:      #fff;
$colorBackgroundCarrierTimePickerPseudo:#e8e7e6;
$colorBackgroundCarrierTimePickerDisabled:#b8b8b8;
$colorAccentCarrierTimePicker:          $colorAccentRma;

/* PRODUCT SITE COLORS */
$colorProductBtnAddBg:                  #000;
$colorProductBtnAdd:                    #FFF;
$colorProductFlagBg:                    $colorAccentSite;
$colorProductFlag:                      #FFF;
$colorProductExtraInfo:                 $colorFont;
$colorProductExtraInfoBg:               #FCFCFC;
$colorProductExtraInfoBorder:           #EBEBEB;

/* SIDEBAR VARIABLES */
$widthSidebar:                          275px;
$widthSidebarMobile:                    $widthSidebar;
$marginSidebar:                         20px;
$colorBorderSidebar:                    #fff;
$colorBackgroundSidebar:                $colorBackgroundBlocks;
$colorBorderSidebarSection:             #fff;

/* BRADCRUMBS VARIABLES */
$fontSizeBreadCrumb:                    14px;
$fontBreadCrumb:                        $fontSizeBreadCrumb $fontOpen;
$colorBreadCrumb:                       $color_8c8c8c;

/*BUTTON STYLE*/
$backgroundColorBtn:                    $color_262626;
$backgroundColorHoverBtn:               $color_444;
$backgroundColorFocusBtn:               $color_444;
$textColorBtn:                          $color_fff;
$borderRadiusBtn:                       0px;


/*FOOTER*/
$textColorFooter:                       $color_fff;
$textColorFooterLink:                   $color_8a8a8a;
$backgroundColorFooter:                 $color_262626;


/* LISTING */
$backgroundColorFlagNew:                $color_7fce25;
$backgroundColorFlagSale:               $color_de0e59;
$backgroundColorFlagPromotion:          $color_ec4920;
$boxShadowListingColor:                 $color_f5f3f4;


/*ICON BOX*/
$backgroundIconBoxIconHover:            $color_3d3d3d;
$borderColorIconBoxIconHover:           $color_3d3d3d;


/* selectboxit */
$colorTextSelectboxit:                  $color_737373;