<?xml version="1.0"?>
<config>
    <modules>
        <Wf_Lookbookslider>
            <version>0.0.1</version>
        </Wf_Lookbookslider>
    </modules>
    <global>
        <models>
            <wflookbookslider>
                <class>Wf_Lookbookslider_Model</class>
                <resourceModel>wflookbookslider_resource</resourceModel>
            </wflookbookslider>
            <wflookbookslider_resource>
                <class>Wf_Lookbookslider_Model_Resource</class>
            </wflookbookslider_resource>
        </models>
        <blocks>
            <wflookbookslider>
                <class>Wf_Lookbookslider_Block</class>
            </wflookbookslider>
            <lookbookslider>
                <rewrite>
                    <lookbookslider>Wf_Lookbookslider_Block_Lookbookslider</lookbookslider>
                    <content_bottom>Wf_Lookbookslider_Block_Content_Bottom</content_bottom>
                </rewrite>
            </lookbookslider>
        </blocks>
        <helpers>
            <wflookbookslider>
                <class>Wf_Lookbookslider_Helper</class>
            </wflookbookslider>
        </helpers>
        <resources>
            <wflookbookslider_setup>
                <setup>
                    <module>Wf_Lookbookslider</module>
                </setup>
            </wflookbookslider_setup>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <Wf_Lookbookslider>
                    <files>
                        <default>Wf_Lookbookslider.csv</default>
                    </files>
                </Wf_Lookbookslider>
            </modules>
        </translate>
    </frontend>
</config>