.checkout {
	.content-logo {
		width:163px;
		float:left
	}
	.content-step {
		margin-left:173px;
	}
	#header {
		#logo {
			margin-top: 6px;
			@media (max-width: $screen-sm-max) {
				margin-top:2px;
			}
			img {
				@media (max-width: $screen-sm-max) {
					width:130px;
					height:33px;
				}	
			}
		}
		#header_top_block_left {
			width:30%;
			float: left;
		}
		#header_top_block_right {
			width:65%;
			position: static;
			float: left;
		}
	}
	#step {
		text-align: right;
		position:relative;
		top:5px;
		margin-left: 60px;
		@media (max-width: $screen-sm-max) {
			top:0px;
		}
		
		@media (max-width: $screen-sm-max) {
			margin-left: -5px;

		}
		ol {
			list-style: none;
			list-style-type: none;
			margin:25px 0px 0px;
			padding:0px;
			position:relative;
			width:64%;
			min-width: 95px;
			height:3px;
			background:$color_6c6c6c;
			float: right;
			margin-right: 110px;
			@media (max-width: $screen-xs-max) {
				width:95px;
				margin-right: 30px;
			}
			&:before {

			}
			li {
				
			}
			&.step_02 ,
			&.step_03,
			&.step_04{
				&:before {
					content:' ';
					display:block;
					height:3px;
					background:$color_6fffcf;
					margin:0;
					position:relative;
					top: 0;
					left: 0;
					z-index: 801;

				}
			}
			&.step_02 {
				&:before {
					width:33%;
				}
			}
			&.step_03 {
				&:before {
					width:66%;
				}
			}
			&.step_04 {
				&:before {
					width:100%;
				}
			}
			li {
				color:$color_7c7c7c;
				display: inline-block;
				text-transform: uppercase;
				font-size: 13px;
				height: 42px;
				position:absolute;
				top:-5px;
				white-space: nowrap;
				display:block;
				background: $color_6c6c6c;
				@include border-radius(50px);
				width:12px;
				height:12px;
				>span {
					position:relative;
					display:inline-block;
					width:12px;
					height:12px;
					@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
						font-size: 10px;
					}
					@media (max-width: $screen-xs-max) { 
						display:none;
						font-size: 10px;
					 }
					span {
						position:absolute;
						top:-19px;
						left:0px;
						right:0px;
					}
				}
				&.current-checkout {
						> span {
							@media (max-width: $screen-xs-max) { 
							display:inline-block;
							position:static;
							font-size: 10px;
						 	}
						}
						&.executed {
						> span {
							@media (max-width: $screen-xs-max) { 
							display:none;
						 	}
						}
					}
				}
				&#step_01 {
					left:0px;
					span {
						span {
							left:-21px;
							@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
								left:-13px
							}
							@media (max-width: $screen-xs-max) {
								left:34px;
							}
						}
					}
					
				}
				&#step_02 {
					left:33%;
					span {
						span {
							left:-49px;
							@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
								left:-37px;
							}
							@media (max-width: $screen-xs-max) {
								left:-21px;
								
							}
						}
					}
				}
				&#step_03 {
					left:66%;
					span {
						span {
							left:-63px;
							@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
								left:-44px;
							}
							@media (max-width: $screen-xs-max) {
								left: -61px;
								
							}
						}
					}
				}
				&#step_04 {
					left:100%;
					span {
						span {
							left:-46px;
							@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
								left:-36px;
							}
							@media (max-width:  $screen-xs-max) {
								left: -92px;
								text-align: center;
								
							}
						}
					}
				}
				
				&:last-child {
					margin-right: 0px;
				}
				&.current-checkout {
					color:$color_fff;
					background: $color_6fffcf;
					
				}
			}
		}
	}
}