/* ======================= MODAL ====================== */

.modal-content {
		padding: 15px;
		text-align: left;
		font-size: 12px;
		.modal-header {
			padding: 15px 15px 15px 15px;
			border: none;
		}
		.modal-body {
			padding: 10px 20px 15px;
		}
		.title_section {
			margin-left:-30px;
			margin-right: -30px;
			margin-bottom: 0px;
		}
		ul {
			@include no-bullets;
			@include reset-m;
			margin-bottom: 25px;
			li {
				line-height: 1.7
			}
		}
		dl {
			dt {
				margin-bottom: 11px;
			}
			dd {
				&.separator {
					margin-bottom: 25px;
					//display:inline-block;
				}
			}
		}
		.view-store {
			background:$color_313131;
			border:1px solid $color_c5c5c5;
			font-size: 11px;
			padding: 3px 10px;
			color:$color_fff;
			display:inline-block;
			&:hover {
				text-decoration: underline;
			}
		}
		.logo_salles {
			height:100px;
			width:100%;
			background:url('../images/bg-logo-seller-modal.png');
			position:relative;
			margin-bottom: 22px;
			img {
				margin-left:40px;
                margin-top: 35px !important;
			}
				a {
					&.view-store {
						position:absolute;
						right: 5px;
						top: 47px;
						font-size: 23px;
						color:$color_000;
						text-transform: uppercase;
						margin-top:-14px;
						padding: auto;
						background:none;
						border:none;
						span {
							font-size: 14px;
							top:-2px;
						}
				}
			}
		}
	}


#tabelaRozmiarow {
	.modal-content {
			padding: 15px 15px;
			text-align: left;
			font-size: 12px;
			.title_section {
				margin-left:-30px;
				margin-right: -30px;
				margin-bottom: 0px;
			}
		}
}