/** Stage container **/
#product_gallery {
	&.modal {
		h2 {
			&.title_section {
				margin-left:-15px!important;
			}
		}
	}
}
.connected-carousels-modd {
	
	.stage {
	    width: 500px;
	    margin: 0;
	    position: relative;
	    float:left;

	    ul {
	    	margin:0px;
	    	padding:0px;
	    	li {
	    		width: 500px;
	    		> div {
	    			position:relative;
	    			
	    		}
	    		img {
	    			width:100%;height:auto;
	    		}
	    	}
	    }
	}
	.navigation {
	    width:77px;
	    margin: 15px 23px 10px 20px;
	    position: relative;
	    padding:0 0;
	    float:left;
	    ul {
	    	li {

	    	}
	    }
	}
	.carousel {
	    overflow: hidden;
	    position: relative;
	    ul {
	        width: 20000em;
	        position: relative;
	        list-style: none;
	        margin: 0;
	        padding: 0;
	        li {
	            float: left;
	            margin: 0;
	        }
	    }
	}
	.carousel-navigation-modd {
	    height: 379px;
	    width: 77px;
	    background: $color_fff;
	    margin-left: -2px;
	    ul {
	    	width: 70px;
	    	height:2000em;
	    }
		li {
		    cursor: pointer;
			position:relative;
			margin: 3px 5px!important;
			border:1px solid $color_f0f0f0;

		    &.active {
		    	.shadow {
		    		width:99px;
		    		height:75px;
		    		position:absolute;
		    		left:0px;
		    		top:0px;
		    		-moz-box-shadow:    inset 0 0 0 3px $color_e5621b;
		    		-webkit-box-shadow: inset 0 0 0 3px $color_e5621b;
		    		box-shadow:         inset 0 0 0 3px $color_e5621b;
		    	}
		    	img {
				   
				}
		    }
		}
	}
}


/** Stage carousel controls **/

.connected-carousels-modd {
	.prev-stage-modd,
			.next-stage-modd {
			    display: block;
			    background:$arrowMap;
			    position: absolute;
			    top: 50%;
			    z-index: 900;
			}
			.prev-stage-modd {
		    	left: 0;
		    	@include sprite($arrowMap, arrow-complementary-left);
			    @include sprite-dimensions($arrowMap, arrow-complementary-left);
			    &:hover {
			    	@include sprite($arrowMap, arrow-complementary-left-h);
			    }
			}
			.next-stage-modd {
			    right: 0;
			    @include sprite($arrowMap, arrow-complementary-right);
			    @include sprite-dimensions($arrowMap, arrow-complementary-right);
			    &:hover {
			    	@include sprite($arrowMap, arrow-complementary-right-h);
			    }
			}
}


/** Navigation carousel controls **/

.connected-carousels-modd {
	.prev-navigation-modd,
	.next-navigation-modd {
	    	display:inline-block;
			width:15px;
			height:75px;
			background:$color_fff;
			position:absolute;
			left:50%;
			margin-left: -(image-width(sprite-file($arrowMap, arrow_top_j)) / 2) ;
			background:$arrowMap;
			z-index: 999;
			&.inactive {
				visibility:hidden;
			}
	}
	.prev-navigation-modd {
	    top:-15px; 
	    @include sprite($arrowMap, arrow_top_j);
	    @include sprite-dimensions($arrowMap, arrow_top_j);
	}
	.next-navigation-modd {
	    bottom:-15px; 
	    @include sprite($arrowMap,arrow_bottom_j);
	    @include sprite-dimensions($arrowMap, arrow_bottom_j);
	}
}

#product_gallery {
	.modal-content {
		padding:15px;
	}
}