.dialog{
	position:absolute;
}
.overlay_solrsearch {
	background-color: #85BBEF;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.solrsearch_nw {
	/*background: transparent url(solrsearch/left-top.gif) no-repeat 0 0;			*/
	width:10px;
	height:25px;
}

.solrsearch_n {
  /*background: transparent url(solrsearch/top-middle.gif) repeat-x 0 0;			*/
  height:25px;
}

.solrsearch_ne {
  /*background: transparent url(solrsearch/right-top.gif) no-repeat 0 0;			*/
  width:10px;	  
  height:25px;
}

.solrsearch_w {
  /*background: transparent url(solrsearch/frame-left.gif) repeat-y top left;			*/
  width:7px;
}

.solrsearch_e {
  /*background: transparent url(solrsearch/frame-right.gif) repeat-y top right;			*/
  width:7px;	  
}

.solrsearch_sw {
  /*background: transparent url(solrsearch/bottom-left-c.gif) no-repeat 0 0;			*/
  width:7px;
  height:7px;
}

.solrsearch_s {
  /*background: transparent url(solrsearch/bottom-middle.gif) repeat-x 0 0;			*/
  height:7px;
}

.solrsearch_se, .solrsearch_sizer  {
  /*background: transparent url(solrsearch/bottom-right-c.gif) no-repeat 0 0;			*/
  width:7px;
  height:7px;
}

.solrsearch_sizer {
	cursor:se-resize;	
}

.solrsearch_close {
	width: 23px;
	height: 23px;
	/*background: transparent url(solrsearch/button-close-focus.gif) no-repeat 0 0;			*/
	position:absolute;
	top:0px;
	right:11px;
	cursor:pointer;
	z-index:1000;
}

.solrsearch_minimize {
	width: 23px;
	height: 23px;
	/*background: transparent url(solrsearch/button-min-focus.gif) no-repeat 0 0;			*/
	position:absolute;
	top:0px;
	right:55px;
	cursor:pointer;
	z-index:1000;
}

.solrsearch_maximize {
	width: 23px;
	height: 23px;
	/*background: transparent url(solrsearch/button-max-focus.gif) no-repeat 0 0;			*/
	position:absolute;
	top:0px;
	right:33px;
	cursor:pointer;
	z-index:1000;
}

.solrsearch_title {
	float:left;
	height:14px;
	font-size:14px;
	text-align:center;
	margin-top:2px;
	width:100%;
	color:#123456;
}

.solrsearch_content {
	overflow:auto;
	color: #000;
	font-family: Tahoma, Arial, sans-serif;
  font: 12px arial;
	/*background:#FDFDFD;*/
}

/* For alert/confirm dialog */
.solrsearch_window {
	border:1px solid #F00;	
	background: #FFF;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	width:400px;
}

.solrsearch_message {
  font: 12px arial;
	text-align:center;
	width:100%;
	padding-bottom:10px;
}

.solrsearch_buttons {
	text-align:center;
	width:100%;
}

.solrsearch_buttons input {
	width:20%;
	margin:10px;
}

.solrsearch_progress {
	float:left;
	margin:auto;
	text-align:center;
	width:100%;
	height:16px;
	/*background: #FFF url('alert/progress.gif') no-repeat center center*/
}

.solrsearch_wired_frame {
	background: #FFF;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;	
}


