<?xml version="1.0"?>
<config>
    <tabs>
        <salesmanago translate="label" module="tracking">
            <label>SalesManago</label>
            <sort_order>100</sort_order>
        </salesmanago>
    </tabs>
    <sections>
        <salesmanago_tracking translate="label" module="tracking">
            <label>General</label>
            <tab>salesmanago</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="tracking">
                    <label>General</label>
                    <sort_order>800</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <client_id translate="label">
                            <label>ID klienta</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </client_id>
                        <api_secret translate="label">
                            <label>Api secret</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_secret>
                        <email translate="label">
                            <label>E-mail</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email>
                        <endpoint translate="label">
                            <label>End point</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </endpoint>
                        <tags translate="label">
                            <label>Tagi</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Kolejne tagi wpisuj po przecinku</comment>
                        </tags>
                        <additional_js translate="label">
                            <label>Dodatkowy fragment JS</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </additional_js>
                        <connection_timeout translate="label">
                            <label>Connection Timeout</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Maksymalny czas oczekiwania na wykonanie skryptu w milisekundach (opcjonalnie)</comment>
                        </connection_timeout>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                    </fields>
                </general>
            </groups>
        </salesmanago_tracking>
    </sections>
</config>