<?xml version="1.0"?>
<config>
	<modules>
		<ZolagoOs_LoyaltyCard>
			<version>1.0.1</version>
		</ZolagoOs_LoyaltyCard>
	</modules>
	<global>

		<models>
			<zosloyaltycard>
				<class>ZolagoOs_LoyaltyCard_Model</class>
				<resourceModel>zosloyaltycard_resource</resourceModel>
			</zosloyaltycard>
			<zosloyaltycard_resource>
				<class>ZolagoOs_LoyaltyCard_Model_Resource</class>
				<entities>
					<card>
						<table>zos_loyalty_card</table>
					</card>
				</entities>
			</zosloyaltycard_resource>
		</models>

		<helpers>
			<zosloyaltycard>
				<class>ZolagoOs_LoyaltyCard_Helper</class>
			</zosloyaltycard>
		</helpers>

		<resources>
			<zosloyaltycard_setup>
				<setup>
					<module>ZolagoOs_LoyaltyCard</module>
				</setup>
			</zosloyaltycard_setup>
		</resources>

		<blocks>
			<zosloyaltycard>
				<class>ZolagoOs_LoyaltyCard_Block</class>
			</zosloyaltycard>
		</blocks>

	</global>

	<frontend>
		<routers>
			<zosloyaltycard>
				<use>standard</use>
				<args>
					<module>ZolagoOs_LoyaltyCard</module>
					<frontName>loyalty</frontName>
				</args>
			</zosloyaltycard>
		</routers>
		<layout>
			<updates>
				<zosloyaltycard>
					<file>zosloyaltycard.xml</file>
				</zosloyaltycard>
			</updates>
		</layout>
		<translate>
			<modules>
				<ZolagoOs_LoyaltyCard>
					<files>
						<default>ZolagoOs_LoyaltyCard.csv</default>
					</files>
				</ZolagoOs_LoyaltyCard>
			</modules>
		</translate>
		<secure_url>
			<zos_loyalty_card>/loyalty/card/</zos_loyalty_card>
		</secure_url>
	</frontend>
</config>