<?xml version="1.0"?>
<config>
    <modules>
        <ZolagoOs_PickupPoint>
            <version>0.1.0</version>
        </ZolagoOs_PickupPoint>
    </modules>
    <global>
        <models>
            <zospickuppoint>
                <class>ZolagoOs_PickupPoint_Model</class>
                <resourceModel>zolagoos_pickuppoint_resource</resourceModel>
            </zospickuppoint>
            <zospickuppoint_resource>
                <class>ZolagoOs_PickupPoint_Model_Resource</class>
            </zospickuppoint_resource>
        </models>
        <blocks>
            <zoospickuppoint>
                <class>ZolagoOs_PickupPoint_Block</class>
            </zoospickuppoint>
        </blocks>
        <helpers>
            <zospickuppoint>
                <class>ZolagoOs_PickupPoint_Helper</class>
            </zospickuppoint>
        </helpers>
        <resources>
            <zospickuppoint_setup>
                <setup>
                    <module>ZolagoOs_PickupPoint</module>
                </setup>
            </zospickuppoint_setup>
        </resources>
    </global>
    <default>
        <carriers>
            <zolagopickuppoint>
                <active>0</active>
                <cod_allowed>1</cod_allowed>
            </zolagopickuppoint>
        </carriers>
    </default>
</config>