.category-blog-link {
  margin-top: -40px;
  float: right;
  text-align: center;
  border: 1px solid $color_008733;
  padding: 4px;


  @media(max-width: $screen-sm-max) {
    float: left;
    margin-top: 0;
  }

  @media (max-width: $screen-sm-to-smmd-max) {
    display: none;
  }
}
