<?xml version="1.0"?>
<config>
	<modules>
		<GH_UTM>
			<version>0.0.2</version>
		</GH_UTM>
	</modules>
	<global>
		<models>
			<ghutm>
				<class>GH_UTM_Model</class>
			</ghutm>
		</models>
		<blocks>
			<ghutm>
				<class>GH_UTM_Block</class>
			</ghutm>
		</blocks>
		<helpers>
			<ghutm>
				<class>GH_UTM_Helper</class>
			</ghutm>
		</helpers>
		<resources>
			<ghutm_setup>
				<setup>
					<module>GH_UTM</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
			</ghutm_setup>
		</resources>
	</global>
	<frontend>
		<events>
			<customer_login>
				<observers>
					<ghutm_customer_login>
						<type>singleton</type>
						<class>GH_UTM_Model_Observer</class>
						<method>customerLogin</method>
					</ghutm_customer_login>
				</observers>
			</customer_login>
		</events>
	</frontend>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<ghutm>
											<title>Traffic Sources</title>
										</ghutm>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<translate>
			<modules>
				<GH_UTM>
					<files>
						<default>GH_UTM.csv</default>
					</files>
				</GH_UTM>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<ghutm>
			<config>
				<cookie_days>30</cookie_days>
			</config>
		</ghutm>
	</default>
</config>