<?xml version="1.0"?>
<config>
	<modules>
		<GH_GTM>
			<version>0.0.1</version>
		</GH_GTM>
	</modules>
	<global>
		<models>
			<ghgtm>
				<class>GH_GTM_Model</class>
				<resourceModel>ghgtm_resource</resourceModel>
			</ghgtm>
			<ghgtm_resource>
				<class>GH_GTM_Model_Resource</class>
			</ghgtm_resource>
		</models>
		<blocks>
			<gh_gtm>
				<class>GH_GTM_Block</class>
			</gh_gtm>
			<gtm>
				<rewrite>
					<gtm>GH_GTM_Block_Gtm</gtm>
				</rewrite>
			</gtm>
		</blocks>
		<helpers>
			<gh_gtm>
				<class>GH_GTM_Helper</class>
			</gh_gtm>
			<gtm>
				<rewrite>
					<data>GH_GTM_Helper_Data</data>
				</rewrite>
			</gtm>
		</helpers>
		<events>
			<checkout_cart_product_add_after>
				<observers>
					<ghgtm_cart_product_add_after>
						<type>singleton</type>
						<class>GH_GTM_Model_Observer</class>
						<method>registerLastAddedProduct</method>
					</ghgtm_cart_product_add_after>
				</observers>
			</checkout_cart_product_add_after>
		</events>
	</global>
	<frontend>
		<layout>
			<updates>
				<gh_gtm>
					<file>ghgtm.xml</file>
				</gh_gtm>
			</updates>
		</layout>
	</frontend>

	<frontend>
		<events>
			<checkout_onepage_controller_success_action>
				<observers>
					<gtm_order_success>
						<type>disabled</type>
					</gtm_order_success>
				</observers>
			</checkout_onepage_controller_success_action>
			<checkout_multishipping_controller_success_action>
				<observers>
					<gtm_order_success>
						<type>disabled</type>
					</gtm_order_success>
				</observers>
			</checkout_multishipping_controller_success_action>
		</events>
	</frontend>
</config>