<?xml version="1.0"?>
<config>
  <modules>
    <Orba_Shipping>
      <version>0.0.5</version>
    </Orba_Shipping>
  </modules>
  <global>
      <blocks>
          <orbashipping>
              <class>Orba_Shipping_Block</class>
          </orbashipping>
      </blocks>
    <models>
      <orbashipping>
        <class>Orba_Shipping_Model</class>
        <resourceModel>orbashipping_resource</resourceModel>
      </orbashipping>
      <orbashipping_resource>
        <class>Orba_Shipping_Model_Resource</class>
        <entities>
          <zip>
            <table>zolago_dhl_zip</table>
          </zip>
        </entities>
      </orbashipping_resource>
    </models>
    <helpers>
      <orbashipping>
        <class>Orba_Shipping_Helper</class>
      </orbashipping>
    </helpers>
    <resources>
      <orbashipping_setup>
        <setup>
          <module>Orba_Shipping</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </orbashipping_setup>
      <orbashipping_write>
        <connection>
          <use>core_write</use>
        </connection>
      </orbashipping_write>
      <orbashipping_read>
        <connection>
          <use>core_read</use>
        </connection>
      </orbashipping_read>
    </resources>
    <udropship>
      <track_api>
        <orbashipping>
          <model>Orba_Shipping_Model_Carrier_Tracking</model>
          <label>Orba Carrier</label>
        </orbashipping>
      </track_api>
    </udropship>
    <translate>
      <modules>
        <Orba_Shipping>
          <files>
            <default>Orba_Shipping.csv</default>
          </files>
        </Orba_Shipping>
      </modules>
    </translate>
  </global>
  <adminhtml>
    <translate>
      <modules>
        <Orba_Shipping>
          <files>
            <default>Orba_Shipping.csv</default>
          </files>
        </Orba_Shipping>
      </modules>
    </translate>
  </adminhtml>
  <frontend>
    <routers>
      <orbashipping>
        <use>standard</use>
        <args>
          <module>Orba_Shipping</module>
          <frontName>orbashipping</frontName>
        </args>
      </orbashipping>
      <udropship>
        <args>
          <modules>
            <Orba_Shipping before="ZolagoOs_OmniChannel">Orba_Shipping_Dropship</Orba_Shipping>
          </modules>
        </args>
      </udropship>
    </routers>
    <translate>
      <modules>
        <Orba_Shipping>
          <files>
            <default>Orba_Shipping.csv</default>
          </files>
        </Orba_Shipping>
      </modules>
    </translate>
    <layout>
      <updates>
        <orbashipping>
          <file>orbashipping.xml</file>
        </orbashipping>
      </updates>
    </layout>
  </frontend>
  <default>
    <carriers>
      <orbadhl>
        <active>1</active>
        <gateway>https://testowy.dhl24.com.pl/webapi</gateway>
        <tracking_gateway>http://webapps.dhl.com.pl/app/tntwebservice/tntwebservice_v2.wsdl</tracking_gateway>
        <tracking_url><![CDATA[http://www.dhl.com.pl/sledzenieprzesylkikrajowej/szukaj.aspx?m=0&sn=%s]]></tracking_url>
        <sallowspecific>0</sallowspecific>
        <model>orbashipping/carrier_dhl</model>
        <title>DHL</title>
        <specificerrmsg>This shipping method is currently unavailable.</specificerrmsg>
        <repeat_tracking>1</repeat_tracking>
        <default_weight>2</default_weight>
        <volumetric_weight>4000</volumetric_weight>
      </orbadhl>
      <orbaups>
        <active>1</active>
        <gateway>http://zolago01.dev/skin/adminhtml/default/default/ups/TrackTest.wsdl</gateway>
        <tracking_url><![CDATA[http://wwwapps.ups.com/WebTracking/track?loc=pl_PL&HTMLVersion=5.0&USER_HISTORY_LIST=&trackNums=%s&track.x=Monitoruj]]></tracking_url>
        <sallowspecific>0</sallowspecific>
        <model>orbashipping/carrier_ups</model>
        <title>UPS</title>
        <specificerrmsg>This shipping method is currently unavailable.</specificerrmsg>
        <repeat_tracking>1</repeat_tracking>
        <volumetric_weight>5000</volumetric_weight>
      </orbaups>
      <zolagopp>
          <active>1</active>
          <gateway>https://en-testwebapi.poczta-polska.pl/websrv/en.wsdl</gateway>
          <tracking_gateway>https://tt.poczta-polska.pl/Sledzenie/services/Sledzenie?wsdl</tracking_gateway>
          <tracking_id>sledzeniepp</tracking_id>
          <tracking_password>PPSA</tracking_password>
          <title>Poczta Polska</title>          
          <model>orbashipping/post</model>
          <cod_allowed>1</cod_allowed>
      </zolagopp>
      <zolagogls>
          <active>1</active>
          <tracking_gateway><![CDATA[https://gls-group.eu/app/service/open/rest/PL/pl/rstt001]]></tracking_gateway>
          <title>GLS</title>          
          <model>orbashipping/carrier_gls</model>
      </zolagogls>
      <zolagodpd>
        <active>1</active>
        <tracking_gateway><![CDATA[https://tracktrace.dpd.com.pl/findPackage]]></tracking_gateway>
        <title>DPD</title>
        <model>orbashipping/carrier_dpd</model>
      </zolagodpd>
    </carriers>
  </default>
</config>
