.blog {
  .desktop {
    &.two-columns-left {
      section.content {
        margin-left: $widthSidebar + $marginSidebar;
        overflow: hidden;
        width: inherit;
        padding-left: 0;
      }

      aside.left {
        width:$widthSidebar;
        position: absolute;
      }
    }
  }


  .mobile {
    &.two-columns-left {
      aside {
        &.left {
          &.active {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
  .mp-content {
    ul, ol {
      margin-left: 20px;
      padding-left: 0px;
    }
    a {
	text-decoration:underline;
	&:hover {
		color: $colorSecondFont;
	}
    }
  }

  @media(max-width: $screen-xs-max) {
    #blog-mobile-menu {
      margin-top: -15px;
      border-bottom: 1px solid $colorAccentBlocks;
      margin-bottom: 15px;
    }

    h1 {
      font-size: 18px;
      padding-bottom: 12px;
      padding-top: 12px;
      text-align: center;
      text-transform: uppercase;
    }
  }


  #swipe_me {
    &.swipe-me.left {
      position: absolute;
      right: 15px;
      top: 104px;
    }
  }

  .mpblog-category {
    &.active {
      font-weight: bold;
    }
  }
  .mpblog-container {
    &.list {
      .mp-pager {
        border-top: none;
      }
    }
    .mp-blog-head {
      h1 {
        &.mp-title {
          margin-bottom: 0;
          padding: 0;
        }
      }
    }


    .mp-post-header {
      h2 {
        padding-top: 0;
      }
    }
  }
  .block-content {
    padding-right: 0;
    padding-left: 0;
  }
  .mpblog-categories {

  }

  // sidebar search block
  .mpblog-search {

    .input-box {
      input[type="text"] {
        border: 1px solid #d6d6d6;
        padding: 0 23px 0 5px !important;
        float: left !important;
        height: 23px !important;
        width: 203px !important;
      }

      button[type="submit"] {
        background-image: url(../images/btn-search-filter.png);
        outline: none;
        height: 23px;
        margin-left: 2px;
        float: left;
        margin-top: 5px;
        border: none;
        background-color: transparent;
        width: 23px;
      }

    }
  }


  .mpblog-social-container {
    .mp-buttons {
      ul {
        list-style: none;
      }
    }
  }
}