<?xml version="1.0"?>
<config>
	<modules>
		<Zolago_Sizetable>
			<version>0.0.1</version>
		</Zolago_Sizetable>
	</modules>
	<global>
		<models>
			<zolagosizetable>
				<class>Zolago_Sizetable_Model</class>
				<resourceModel>zolagosizetable_resource</resourceModel>
			</zolagosizetable>
			<zolagosizetable_resource>
				<class>Zolago_Sizetable_Model_Resource</class>
				<entities>
					<vendor_brand>
						<table>zolago_sizetable_vendor_brand</table>
					</vendor_brand>
					<vendor_attribute_set>
						<table>zolago_sizetable_vendor_attribute_set</table>
					</vendor_attribute_set>
				</entities>
			</zolagosizetable_resource>
		</models>
		<helpers>
			<zolagosizetable>
				<class>Zolago_Sizetable_Helper</class>
			</zolagosizetable>
		</helpers>
		<resources>
			<zolagosizetable_setup>
				<setup>
					<module>Zolago_Sizetable</module>
				</setup>
			</zolagosizetable_setup>
		</resources>
	    <blocks>
	        <zolagosizetable>
	            <class>Zolago_Sizetable_Block</class>
	        </zolagosizetable>
	    </blocks>
	</global>
	<adminhtml>
		<translate>
			<modules>
				<Zolago_Sizetable>
					<files>
						<default>Zolago_Sizetable.csv</default>
					</files>
				</Zolago_Sizetable>
			</modules>
		</translate>
        <events>
            <udropship_adminhtml_vendor_tabs_after>
                <observers>
                    <zolagosizetable>
                        <class>zolagosizetable/observer</class>
                        <method>udropship_adminhtml_vendor_tabs_after</method>
                    </zolagosizetable>
                </observers>
            </udropship_adminhtml_vendor_tabs_after>
        </events>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<zolagopos before="Mage_Adminhtml">Zolago_Pos_Adminhtml</zolagopos>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
</config>
