<?xml version="1.0"?>
<config>
	<modules>
		<Zolago_Sizetable>
			<version>0.0.8</version>
		</Zolago_Sizetable>
	</modules>
	<global>
		<models>
			<zolagosizetable>
				<class>Zolago_Sizetable_Model</class>
				<resourceModel>zolagosizetable_resource</resourceModel>
			</zolagosizetable>
			<zolagosizetable_resource>
				<class>Zolago_Sizetable_Model_Resource</class>
				<entities>
					<vendor_brand>
						<table>zolago_sizetable_vendor_brand</table>
					</vendor_brand>
					<vendor_attribute_set>
						<table>zolago_sizetable_vendor_attribute_set</table>
					</vendor_attribute_set>
                    <sizetable>
                        <table>zolago_sizetable</table>
                    </sizetable>
                    <sizetable_scope>
                        <table>zolago_sizetable_scope</table>
                    </sizetable_scope>
                    <sizetable_rule>
                        <table>zolago_sizetable_role</table>
                    </sizetable_rule>
				</entities>
			</zolagosizetable_resource>
		</models>
		<helpers>
			<zolagosizetable>
				<class>Zolago_Sizetable_Helper</class>
			</zolagosizetable>
		</helpers>
		<resources>
			<zolagosizetable_setup>
				<setup>
					<module>Zolago_Sizetable</module>
				</setup>
			</zolagosizetable_setup>
		</resources>
	    <blocks>
	        <udropship>
	            <rewrite>
	                <adminhtml_vendor_edit>Zolago_Sizetable_Block_Adminhtml_Vendor_Edit</adminhtml_vendor_edit>
	            </rewrite>
	        </udropship>
	        <zolagosizetable>
	            <class>Zolago_Sizetable_Block</class>
	        </zolagosizetable>
	    </blocks>
	</global>
	<adminhtml>
		<translate>
			<modules>
				<Zolago_Sizetable>
					<files>
						<default>Zolago_Sizetable.csv</default>
					</files>
				</Zolago_Sizetable>
			</modules>
		</translate>
        <events>
            <udropship_adminhtml_vendor_tabs_after>
                <observers>
                    <zolagosizetable>
                        <class>zolagosizetable/observer</class>
                        <method>udropship_adminhtml_vendor_tabs_after</method>
                    </zolagosizetable>
                </observers>
            </udropship_adminhtml_vendor_tabs_after>
            <udropship_adminhtml_vendor_edit_prepare_form>
                <observers>
                    <zolagosizetable>
                        <class>zolagosizetable/observer</class>
                        <method>udropship_adminhtml_vendor_edit_prepare_form</method>
                    </zolagosizetable>
                </observers>
            </udropship_adminhtml_vendor_edit_prepare_form>
        </events>
	</adminhtml>
	<admin>
		<routers>
			<sizetableadmin>
				<use>admin</use>
				<args>
					<module>Zolago_Sizetable_Adminhtml</module>
					<frontName>sizetableadmin</frontName>
				</args>
			</sizetableadmin>
			<adminhtml>
				<args>
					<modules>
						<sizetableadmin before="Mage_Adminhtml">Zolago_Sizetable_Adminhtml</sizetableadmin>
					</modules>
				</args>
			</adminhtml>
			<udropshipadmin>
				<args>
					<modules>
						<Zolago_Sizetable_Adminhtml before="ZolagoOs_OmniChannel">Zolago_Sizetable</Zolago_Sizetable_Adminhtml>
					</modules>
				</args>
			</udropshipadmin>
		</routers>
	</admin>
	<frontend>
		<routers>
			<zolagosizetable>
				<use>standard</use>
				<args>
					<module>Zolago_Sizetable</module>
					<frontName>zolagosizetable</frontName>
				</args>
			</zolagosizetable>
			<udropship>
				<args>
					<modules>
						<Zolago_Sizetable before="ZolagoOs_OmniChannel">Zolago_Sizetable_Dropship</Zolago_Sizetable>
					</modules>
				</args>
			</udropship>
		</routers>
		<layout>
			<updates>
				<zolagosizetable>
					<file>zolagosizetable.xml</file>
				</zolagosizetable>
			</updates>
		</layout>
		<translate>
			<modules>
				<Zolago_Sizetable>
					<files>
						<default>Zolago_Sizetable.csv</default>
					</files>
				</Zolago_Sizetable>
			</modules>
		</translate>
	</frontend>
</config>
