<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Dhl>
            <version>0.0.2</version>
        </Zolago_Dhl>
    </modules>
    <global>
        <models>
            <zolagodhl>
                <class>Zolago_Dhl_Model</class>
                <resourceModel>zolagodhl_resource</resourceModel>
            </zolagodhl>
            <zolagodhl_resource>
                <class>Zolago_Dhl_Model_Resource</class>
                <entities>
                    <zip>
                        <table>zolago_dhl_zip</table>
                    </zip>
                </entities>
            </zolagodhl_resource>
        </models>
        <helpers>
            <zolagodhl>
                <class>Zolago_Dhl_Helper</class>
            </zolagodhl>
        </helpers>
        <resources>
            <zolagodhl_setup>
                <setup>
                    <module>Zolago_Dhl</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zolagodhl_setup>
            <zolagodhl_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </zolagodhl_write>
            <zolagodhl_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </zolagodhl_read>
        </resources>
		
        <udropship>
            <track_api>
                <zolagodhl>
                    <model>Zolago_Dhl_Model_Carrier_Tracking</model>
                    <label>Zolago DHL</label>
                </zolagodhl>
			</track_api>
		</udropship>
    </global>
    <frontend>
        <routers>
            <zolagodhl>
                <use>standard</use>
                <args>
                    <module>Zolago_Dhl</module>
                    <frontName>zolagodhl</frontName>
                </args>
            </zolagodhl>
			<udropship>
				<args>
					<modules>
						<Zolago_Dhl before="Unirgy_Dropship">Zolago_Dhl_Dropship</Zolago_Dhl>
					</modules>
				</args>
			</udropship>
        </routers>
        <layout>
            <updates>
                <zolagodhl>
                    <file>zolagodhl.xml</file>
                </zolagodhl>
            </updates>
        </layout>
    </frontend>
	<default>
		 <carriers>
            <zolagodhl>
                <active>1</active>
                <gateway>https://testowy.dhl24.com.pl/webapi</gateway>
                <sallowspecific>0</sallowspecific>
                <model>zolagodhl/carrier</model>
                <title>Zolago DHL</title>
                <specificerrmsg>This shipping method is currently unavailable.</specificerrmsg>
				<repeat_tracking>1</repeat_tracking>
				<default_weight>2</default_weight>
            </zolagodhl>
        </carriers>
	</default>
</config>
