<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Dhl>
            <version>0.0.1</version>
        </Zolago_Dhl>
    </modules>
    <global>
        <models>
            <zolagodhl>
                <class>Zolago_Dhl_Model</class>
            </zolagodhl>
        </models>
        <helpers>
            <zolagodhl>
                <class>Zolago_Dhl_Helper</class>
            </zolagodhl>
        </helpers>
        <resources>
            <zolagodhl_setup>
                <setup>
                    <module>Zolago_Dhl</module>
                </setup>
            </zolagodhl_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <zolagodhl>
                <use>standard</use>
                <args>
                    <module>Zolago_Dhl</module>
                    <frontName>zolagodhl</frontName>
                </args>
            </zolagodhl>
			<udropship>
				<args>
					<modules>
						<Zolago_Dhl before="Unirgy_Dropship">Zolago_Dhl_Dropship</Zolago_Dhl>
					</modules>
				</args>
			</udropship>
        </routers>
        <layout>
            <updates>
                <zolagodhl>
                    <file>zolagodhl.xml</file>
                </zolagodhl>
            </updates>
        </layout>
    </frontend>
</config>
