
/* CLONE MENU */

#clone_submenu {
    background: $color_f8f7f5;
    box-shadow: 0 2px 0 $color_ebebeb;
    .view-all-category {
        font-size: 14px;
        text-transform: lowercase;
        color:$color_7b6c35;
        text-decoration: underline;
        
    }
    ul {
        box-shadow:none; 
        border: none;
        background:transparent;
        list-style: none;
            a {
                color:$color_656565;
                text-transform: uppercase;
            }

            dl {
                //float:left;
                dt {
                    color:$color_000;
                  a:link,
                  a:visited {
                    font-size:14px;
                    font-weight: 900;
                    color:$color_000;
                  }
                  a:hover {
                      text-decoration: underline;
                  }
                }
                dd {
                    color:$color_000;
                    a:link,
                    a:visited {
                    font-size:12px;
                    font-weight: 400;
                    color:$color_000;
                  }
                  a:hover {
                    text-decoration: underline;
                  }
                  a {
                    &[data-description="ReadMore"] {
                        font-style:italic;
                        text-transform:lowercase;
                        font-size:12px;
                        text-decoration:underline;
                    }
                }
            }
           

        }
    //END UL
    }
// END CLONE MENU
} 

/* CLONE MENU */

#clone_submenu {

    ul {
        a.closeSubMenu:link,
        a.closeSubMenu:visited { 
            border-radius:0;
            cursor: pointer;
            font-style: normal;
            outline:none;
            text-align:center;
            border:none;
            background:url('../images/sprites/sprite_clear.png') no-repeat 0 -1px !important;
            line-height: 25px;
            color:$gray-dark !important;
            text-transform: uppercase;
            font-size:12px;
            
            &:hover {
                background-position:0 -30px !important;
                color:$color_fff !important;
                outline:none !important;
            }
            &:active {
                background-position:0 -58px !important;
                outline:none;
                color:$color_c6a662 !important;
            }
            
        }
    //END UL
    }
// END CLONE MENU
} 