
/* CLONE MENU */
#clone_submenu {
    background-color: transparent;
    font-family: $fontRegular;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    margin-top: -5px;

    .clone_submenu-content {
        border: 1px solid $colorDropdownBorder;
        box-shadow: 0 2px 5px $colorDropdownBBoxShadow;
        text-align: left;
        overflow: hidden;
        margin: 0;
        @include linearGradient($colorMainMenuSubItemGradientStart,$colorMainMenuSubItemGradientEnd);
        @include transition(all 0.2s ease-in-out);
        width: 860px;
        .menu-3columns {
            padding: 0;
            margin-top: 36px;
            margin-bottom: 36px;
        }


        .box {
            [rel=category] {
                color: $colorMainNavigationSubMenuSectionTitle;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }

    .view-all-category {
        font-size: 14px;
        text-transform: lowercase;
        color:$color_7b6c35;
        text-decoration: underline;
        
    }
    ul {
        box-shadow:none; 
        border: none;
        background:transparent;
        list-style: none;
            a {
                color:$color_656565;
                //text-transform: uppercase;
            }

            dl {
                //float:left;
                dt {
                    color:$color_000;
                    border-bottom: 1px solid $colorAccentBlocksMenuTop;
                    width: 100%;
                    padding-bottom: 10px;
                    line-height: 2;
                  a:link,
                  a:visited {
                      color: $colorMainMenuLinks;
                      font-size: 15px;
                      font-weight: normal;
                  }
                  a:hover {
                      text-decoration: underline;
                  }
                }
                dd {
                    color: $color_000;
                    //line-height: 2;
                    a:link,
                    a:visited {
                        font-size: 13px;
                        font-weight: 400;
                        color: $colorMainMenuLinks;
                    }
                  a:hover {
                    text-decoration: underline;
                  }
                  a {
                    &[data-description="ReadMore"] {
                        font-style:italic;
                        text-transform:lowercase;
                        font-size:12px;
                        text-decoration:underline;
                    }
                }
            }
           

        }
    //END UL
    }
// END CLONE MENU
} 

/* CLONE MENU */

#clone_submenu {

    ul {
        a.closeSubMenu:link,
        a.closeSubMenu:visited { 
            border-radius:0;
            cursor: pointer;
            font-style: normal;
            outline:none;
            text-align:center;
            border:none;
            background:url('../images/sprites/sprite_clear.png') no-repeat 0 -1px !important;
            line-height: 25px;
            color:$gray-dark !important;
            text-transform: uppercase;
            font-size:12px;
            
            &:hover {
                background-position:0 -30px !important;
                color:$color_fff !important;
                outline:none !important;
            }
            &:active {
                background-position:0 -58px !important;
                outline:none;
                color:$color_c6a662 !important;
            }
            
        }
    //END UL
    }
// END CLONE MENU
} 