<?xml version="1.0" encoding="utf-8"?>
<config>
	<modules>
		<Zolago_Newsletter>
			<version>0.0.2</version>
		</Zolago_Newsletter>
	</modules>
	<frontend>
		<routers>
			<newsletter>
				<args>
					<modules>
						<Zolago_Newsletter before="Mage_Newsletter">Zolago_Newsletter</Zolago_Newsletter>
					</modules>
				</args>
			</newsletter>
		</routers>
		<translate>
			<modules>
				<Your_Extension>
					<files>
						<default>Zolago_Newsletter.csv</default>
					</files>
				</Your_Extension>
			</modules>
		</translate>
	</frontend>
	<global>
		<models>
			<zolagonewsletter>
				<class>Zolago_Newsletter_Model</class>
			</zolagonewsletter>
		</models>
		<helpers>
			<zolagonewsletter>
				<class>Zolago_Newsletter_Helper</class>
			</zolagonewsletter>
		</helpers>
		<template>
			<email>
				<newsletter_subscription_invitation_email_template module="zolagonewsletter">
					<label>Newsletter invitation</label>
					<file>newsletter_invitation.html</file>
					<type>html</type>
				</newsletter_subscription_invitation_email_template>
			</email>
		</template>
		<resources>
			<zolagonewsletter_setup>
				<setup>
					<module>Zolago_Newsletter</module>
				</setup>
			</zolagonewsletter_setup>
		</resources>
	</global>
	<default>
		<newsletter>
			<subscription>
				<invitation>1</invitation>
				<invitation_email_identity>support</invitation_email_identity>
				<invitation_email_template>newsletter_subscription_invitation_email_template</invitation_email_template>
				<invitation_repeat>0</invitation_repeat>
			</subscription>
		</newsletter>
	</default>
</config> 