<?xml version="1.0" encoding="utf-8"?>
<config>
	<modules>
		<Zolago_Newsletter>
			<version>0.0.5</version>
		</Zolago_Newsletter>
	</modules>
	<frontend>
		<routers>
			<newsletter>
				<args>
					<modules>
						<Zolago_Newsletter before="SalesManago_Tracking">Zolago_Newsletter</Zolago_Newsletter>
					</modules>
				</args>
			</newsletter>
		</routers>
		<translate>
			<modules>
				<Zolago_Newsletter>
					<files>
						<default>Zolago_Newsletter.csv</default>
					</files>
				</Zolago_Newsletter>
			</modules>
		</translate>
		<events>
			<customer_save_after>
				<observers>
					<newsletter_subscribe_observer>
						<class>zolagonewsletter/observer</class>
						<method>subscribeCustomer</method>
					</newsletter_subscribe_observer>
				</observers>
			</customer_save_after>
			<customer_delete_after>
				<observers>
					<newsletter_subscribe_observer>
						<class>zolagonewsletter/observer</class>
						<method>customerDeleted</method>
					</newsletter_subscribe_observer>
				</observers>
			</customer_delete_after>
		</events>
	</frontend>
	<global>
		<models>
		    <newsletter>
		        <rewrite>
		            <subscriber>Zolago_Newsletter_Model_Subscriber</subscriber>
		        </rewrite>
		    </newsletter>
			<zolagonewsletter>
				<class>Zolago_Newsletter_Model</class>
				<resourceModel>zolagonewsletter_resource</resourceModel>
			</zolagonewsletter>
			<zolagonewsletter_resource>
				<class>Zolago_Newsletter_Model_Resource</class>
				<entities>
					<subscriber>
						<table>newsletter_subscriber</table>
					</subscriber>
				</entities>
			</zolagonewsletter_resource>
		</models>
		<helpers>
			<zolagonewsletter>
				<class>Zolago_Newsletter_Helper</class>
			</zolagonewsletter>
		</helpers>
		<template>
			<email>
				<newsletter_subscription_invitation_email_template module="zolagonewsletter">
					<label>Newsletter invitation</label>
					<file>newsletter_invitation.html</file>
					<type>html</type>
				</newsletter_subscription_invitation_email_template>
			</email>
		</template>
		<resources>
			<zolagonewsletter_setup>
				<setup>
					<module>Zolago_Newsletter</module>
				</setup>
			</zolagonewsletter_setup>
		</resources>
		<blocks>
			<newsletter>
				<rewrite>
					<subscribe>Zolago_Newsletter_Block_Subscribe</subscribe>
				</rewrite>
			</newsletter>
		</blocks>
	</global>
	<default>
		<newsletter>
			<zolagosubscription>
				<invitation>1</invitation>
				<invitation_email_identity>support</invitation_email_identity>
				<invitation_email_template>newsletter_subscription_invitation_email_template</invitation_email_template>
				<invitation_repeat>0</invitation_repeat>
			</zolagosubscription>
		</newsletter>
	</default>
	<adminhtml>
		<events>
			<customer_save_after>
				<observers>
					<newsletter_subscribe_observer>
						<class>zolagonewsletter/observer</class>
						<method>subscribeCustomer</method>
					</newsletter_subscribe_observer>
				</observers>
			</customer_save_after>
			<customer_delete_after>
				<observers>
					<newsletter_subscribe_observer>
						<class>zolagonewsletter/observer</class>
						<method>customerDeleted</method>
					</newsletter_subscribe_observer>
				</observers>
			</customer_delete_after>
		</events>
	</adminhtml>
</config> 