@font-face {
	font-family: 'Roboto';
	font-weight: normal;
	font-style: normal;
	src:
	url('../fonts/roboto/Roboto_400.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto/Roboto_400.woff') format('woff'),
	url('../fonts/roboto/Roboto_400.woff2') format('woff2'),
	url('../fonts/roboto/Roboto_400.svg#Roboto') format('svg'),
	url('../fonts/roboto/Roboto_400.ttf') format('truetype');
}
@font-face {
	font-family: 'RobotoLight';
	font-weight: normal;
	font-style: normal;
	src:
	url('../fonts/roboto/Roboto_100.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto/Roboto_100.woff') format('woff'),
	url('../fonts/roboto/Roboto_100.woff2') format('woff2'),
	url('../fonts/roboto/Roboto_100.svg#Roboto') format('svg'),
	url('../fonts/roboto/Roboto_100.ttf') format('truetype');
}
@font-face {
	font-family: 'RobotoBold';
	font-weight: normal;
	font-style: normal;
	src:
	url('../fonts/roboto/Roboto_700.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto/Roboto_700.woff') format('woff'),
	url('../fonts/roboto/Roboto_700.woff2') format('woff2'),
	url('../fonts/roboto/Roboto_700.svg#Roboto') format('svg'),
	url('../fonts/roboto/Roboto_700.ttf') format('truetype');
}
