#co-shippingpayment .fieldset-title {
    margin-bottom: 0px;
}
#co-shippingpayment .data-validate {
    margin-bottom: 15px;
}
#co-shippingpayment .data-validate span {
    padding-left: 0px !important;
}

.header_bottom #customer-account-navigation-mobile > li {
    display: block;
    height: auto;
}
.header_bottom #customer-account-navigation-mobile > li > a:link,
.header_bottom #customer-account-navigation-mobile > li > a:visited {
    border-bottom: 1px solid #dedce1;
    line-height: 29px;
    display: block;
    padding-left: 15px;
    position: relative;
}
.header_bottom #customer-account-navigation-mobile > li:last-child > a:link {
    border-bottom: none;
}
.header_bottom #customer-account-navigation-mobile > li > a:link i.fa,
.header_bottom #customer-account-navigation-mobile > li > a:visited i.fa {
    margin-top: -8px;
    position: absolute;
    right: 7px;
    top: 50%;
}
#customer-account-navigation-mobile-wrapp .bg-w {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 0px;
    margin-top: -5px;
}
#customer-account-navigation-mobile-wrapp h1 {
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: center;
}
/*Customer account menu mobile*/
#clone_submenu .box .long-wrap {
    display: block;
    width: 90%;
    word-wrap: break-word;
}
#clone_submenu .column-left {
    width: 78.2312925170068%;
    float: left; }
@media screen and (max-width: 1199px) {
    /* line 36, ../sass/layout/modules/_clone-menu.scss */
    #clone_submenu .column-left {
        width: 73.8%; }

}
@media screen and (max-width: 991px) {
    /* line 36, ../sass/layout/modules/_clone-menu.scss */
    #clone_submenu .column-left {
        width: 99.231293%; } }


@media screen and (min-width: 976px) and (max-width: 989px) {
    #clone_submenu .box {
        margin-right: 0;
    }
}
@media screen and (min-width: 996px) {
    #clone_submenu .box {
        margin-right: 6%;
    }
}
@media screen and (min-width: 996px) {
    #clone_submenu .box:nth-child(1),
    #clone_submenu .box:nth-child(2),
    #clone_submenu .box:nth-child(3){
        margin-right: 0%;
    }
    #clone_submenu .box:nth-child(4) {
        margin-right: 0%;
    }
    #clone_submenu .box .long-wrap {
        width: 85%;
    }
}
@media screen and (min-width: 1200px) {
    #clone_submenu .box:nth-child(1),
    #clone_submenu .box:nth-child(2),
    #clone_submenu .box:nth-child(3){
        margin-right: 3.2%;
    }
    #clone_submenu .box:nth-child(4) {
        margin-right: 4%;
    }
    #clone_submenu .box:nth-child(5) {
        margin-right: 3%;
    }
    #clone_submenu .box .long-wrap {
        width: 85%;
    }
}

#clone_submenu .menu-5columns {
    padding-bottom: 25px;
}
#clone_submenu .menu-5columns .menu-5columns-bottom {
    padding-top: 25px;
    border-top: 1px solid #dbdbdb;
}


.rma-time {
    padding: 5px;
    color: #000000;
    background-color: #dbdbdb;
}
