.addthis_sharing_toolbox {
	@media(max-width: $screen-xs-max) {
		text-align: center;
		margin-top: 12px;
		margin-bottom: -12px;
	}
	.at-share-tbx-element {
		.at-share-btn {
			margin: 0 14px;
		}
	}
}