.checkout-shared-review {
	/*#content-main {
		.panel {			
            &.panel-default {
                @include border-radius(1px);
            }
			.panel-heading {
				position:relative;
			
		}
	}
}
	margin-bottom: 13px;
			}
			.panel-body {
				padding:0 0 0 0;
			}
		}
	}*/
}
