<!--@subject {{var store_name}} – Zapisano do newslettera @-->
<body style="font-family: sans-serif;">
<div>
	<a href="{{store url=""}}"><img src="cid:logo.png" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
</div>
<div>
	<p>
		Pomyślnie zapisano do newslettera {{var store_name}}!
	</p>
	{{depend coupon}}
	<p>
		Twój kod rabatowy: <strong>{{var coupon}}</strong>
		<br />
		{{var coupon_desc}}
	</p>
	{{/depend}}
</div>
<div>
	<p>
		Dziękujemy i zapraszamy ponownie!<br/>
		Zespól <a href="{{store url=""}}">{{var store_name}}</a>
	</p>
</div>
</body>