<!--@subject Przesyłka ze sklepu {{var vendor.getVendorName()}} została wysłana (Zamówienie nr {{var po.getIncrementId()}})! @-->
<body style="margin:0;padding:0;background-color:#e5e5e5;color:#444444">
<!--[if gte mso 9]>
<style type="text/css">
	.container {
		width: 580px;
	}
	.lowerMarginWhite {
		margin: 25px 35px 10px 35px;
	}
	.productsTable {
		width: 510px;
	}
	.spacer {
		margin: 0 0 25px 0;
	}
	.productColumn {
		width: 420px;
	}
	.valueColumn {
		width: 80px;
	}
	.imgColumn {
		width: 60px;
	}
	.productNameColumn {
		padding-top:10px;
	}
</style>
<![endif]-->
<style type="text/css">
	@media only screen and (max-width: 480px) {
		.borderContainer {
			border: none !important;
		}

		.lowerMarginBlack {
			margin-left: -20px !important;
		}

		.lowerMarginWhite {
			border-left: 15px solid white !important;
			border-right: 15px solid white !important;
		}
	}
</style>
<div style="margin:0;padding:0;background-color:#e5e5e5;color:#444444">
	<center>
		<div class="borderContainer" style="border:20px solid #e5e5e5">
			<div>
				<table style="direction:ltr;text-align:left;font-family:'Arial','Helvetica',sans-serif;color:#444;background-color:white;max-width:580px"
				       cellpadding="0" cellspacing="0" border="0" class="container">
					<tbody>
					<tr>
						<td style="margin:0;padding:0">
							<div style="width:100%;background-color:black;border-bottom:3px solid #C6A662;">
								<div class="lowerMarginBlack">
									<a href='{{store url=""}}' style="text-decoration:none;border:none">
										<img width="175" height="52" alt="{{var logo_alt}}"
										     src="cid:logo.png">
									</a>
								</div>
							</div>
							<div class="lowerMarginWhite"
							     style="border-top:25px solid white;border-bottom:10px solid white;border-left:35px solid white;border-right:35px solid white;font-family:'Arial','Helvetica',sans-serif;font-size:13px;">
								<h1 style="font-weight:normal;font-size:21px;border-bottom:25px solid white;font-family:'Arial','Helvetica',sans-serif">
									Twoje zamówienie jest już w drodze!
								</h1>

								<div style="border-bottom:15px solid white;line-height: 1.4em;margin:0;padding:0">
									Właśnie została do Ciebie wysłana przesyłka ze sklepu {{var vendor.getVendorName()}}
									(zamówienie nr {{var po.getIncrementId()}}).
								</div>
								<span class="spacer">&nbsp;</span>

								{{depend po.isCod()}}
								<div style="border-bottom:15px solid white;line-height: 1.4em;margin:0;padding:0">
									Za zamówienie zapłacisz kurierowi przy odbiorze. Pamiętaj aby przygotować do zapłaty:
									<strong>{{var po.getFormattedGrandTotalInclTax()}}</strong>
								</div>
								<span class="spacer">&nbsp;</span>
								{{/depend}}

								<div style="border-bottom:25px solid white;line-height: 1.4em;margin:0;padding:0">
									Paczka zostanie doręczona przez firmę kurierską {{var carrier.getConfigData('title')}}
									w ciągu 1-2 dni roboczych.
									{{depend tracking}}
									<br />
									Przesyłkę możesz śledzić używając numeru listu przewozowego:
									{{if track_url}}
									<a href="{{var track_url}}" target="_blank"style="text-decoration: none; color: #1155CC">{{var tracking.getTrackNumber()}}</a>.
									Link do śledzenia będzie aktywny dzień po nadaniu paczki.
									{{else}}
									{{var tracking.getTrackNumber()}}
									{{/if}}
									{{/depend}}
								</div>
								<span class="spacer">&nbsp;</span>

								<h2 style="font-size: 15px;border-bottom:10px solid white;font-family:'Arial','Helvetica',sans-serif;margin:0;padding:0">
									Adres dostawy:
								</h2>

								<div style="border-bottom:25px solid white;line-height: 1.4em;margin:0;padding:0">
                                    {{if po.getDeliveryPointName()}}Paczkomat InPost {{var po.getDeliveryPointName()}}<br>{{/if}}
									{{var po.getShippingAddress().format('html')}}
								</div>
								<span class="spacer">&nbsp;</span>

								<h2 style="font-size: 15px;border-bottom:10px solid white;font-family:'Arial','Helvetica',sans-serif;margin:0;padding:0">
									Zawartość przesyłki od sklepu {{var vendor.getVendorName()}}:
								</h2>

								{{block type='zolagomodago/po_email_summary' template='zolagopo/email/summary.phtml'}}

								<span class="spacer">&nbsp;</span>
								<div style="border-top:35px solid white;border-bottom:10px solid white;line-height:1.4em;margin:0;padding:0">
									Jeśli masz jakieś pytania, <a href="{{var contact_url}}"
									                              style="text-decoration:none;color:#1155CC">skontaktuj się ze sklepem.</a><br/>
									Dziękujemy za zakupy i zapraszamy ponownie!<br/><br/>
									Zespół <a href='{{store url=""}}' style="text-decoration:none;color:#444">Modago.pl</a>
								</div><br/><br/>
							</div>
						</td>
					</tr>
					</tbody>
				</table>
				                                                     <div style="background-color:#e5e5e5;direction:ltr;color:#777;font-size:11px;border:10px solid #e5e5e5;padding:0;margin:0;font-family:'Arial','Helvetica',sans-serif; text-align:left; max-width:580px">&copy;
					              2016 <a target="_blank" style="text-decoration:none;color:#777" href="http://modago.pl">Modago.pl</a>


                                                    <p>Ta wiadomość została wysłana przez internetową galerię handlową Modago.pl należącą do Zolago Group Sp.z o.o. z siedzibą w Warszawie, ul. Barkocińska 6, 03-543 Warszawa. Firma wpisana jest do rejestru przedsiębiorców KRS przez Sąd Rejonowy dla m.st. Warszawy XII Wydział Gospodarczy pod numerem KRS 0000457797, NIP: 527-269-26-64, REGON: 146630877, kapitał zakładowy: 200 000 PLN</p>

                                                    <p>Nie odpisuj na tego maila, został on wysłany przez automat.</p>
				</div>
			</div>
		</div>
	</center>
</div>
</body>