<?xml version="1.0"?>
<config>
    <sections>
        <udprod>
            <show_in_default>0</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
        </udprod>
        <udropship_label>
            <show_in_default>0</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
        </udropship_label>
        <udropship_label>
            <show_in_default>0</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
        </udropship_label>
        <udsignup>
            <show_in_default>0</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
        </udsignup>
    </sections>
</config>