.node-type-customer-account-registration {
	#header-main {
			display:none;
	}
	#header {
		@media (max-width: $screen-xs-max) {
			min-height: 41px;
		}
	}
	.header_bottom {
		@media (max-width: $screen-xs-max) {
			display:none;
		}
	}
	.main {
		@media (max-width: $screen-xs-max) {
			margin-left: -15px;
			margin-right: -15px;
		}
	}
	.section {

		padding: 30px 30px 15px 30px!important;
		@media (max-width: $screen-xs-max) {
		padding: 30px 30px 30px 30px!important;
		}
	}
	.main {
		.section {
			header {
				margin-right:-30px;
				margin-left: -30px;
				margin-bottom: 30px;
				h2 {
					margin-bottom: 0px;
					font-weight: bold;
					font-family: "latoregular";
				}
			}
		}
	}
}

#form-registration {
	.form-group {
		margin-bottom: 15px;
	}
	label {
		font-weight: normal;
		line-height: 28px;
		white-space:nowrap;
		margin-bottom: 5px;
		text-align: right;
		padding-right: 0px;
		padding-top: 0px;
		@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
			text-align: left;
		}
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			text-align: left;
		}
	}
	input[type="text"],
	input[type="email"],
	input[type="password"] {
		height:29px;
		line-height: 29px;
		padding:0 0 0 15px;
	}
	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="password"]:focus {
		background:#fff;
	}
	#connect {
		@media (max-width: $screen-xs-max) {
		text-align: left;
		margin-top: -10px;
		margin-bottom: 10px;
		padding-top: 5px;
		p {
			margin-bottom: 10px;
		}
		}
	}
	.g-plus {
		margin-right: 6px;
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			margin-right: 4px;
		}
		@media (max-width: 340px) {
			margin-left: -7px;
			margin-right: 6px;
		}
	}
	.fb {
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			margin-right: -10px;
		}
		@media (max-width: 340px) {
			margin-right: -6px;
		}
	}
	.form-group-checkbox {
		margin-top:10px;
		margin-left: 5px;
		
		@media (max-width: 320px) {
			margin-left: 0px;
		}
		.form-group {
			margin-bottom: 10px;
		}
		
		&+.form-group-checkbox {
			margin-top:0px;
		}
		.form-checkbox {
			label {
				height:auto;
			}
		}
	}
	.form-checkbox {
		margin-left: -5px;
		height:auto;
		label {
		white-space: normal;
		text-align: left;
		line-height: 18px;
		}
	} 
	> .row {
		> div {
			
			@media (min-width: $screen-sm-min) {
				height:175px;
			}
			@media (min-width:$screen-lg-min) {
				height: 140px;
			}
		}
	}
	.action {
		padding-top:15px;
		button {
			min-width: 120px;
		}
		a {
			position:relative;
			top:12px
		}
	}
}
  
#lub {
	position:relative;
	overflow:hidden;
	span {
		text-align: center;
		@media (min-width: $screen-lg-min) {
			position:absolute;
			bottom: 51px;
			left:0px;
			right:0px;
		}
		@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
		position:absolute;
		bottom:58px;
		left:0px;
		right:0px;
		}

	}
}

#connect {
	position:relative;
	overflow:hidden;
	p {
		margin-bottom:2px;
	}
	> div {
		@media (min-width: $screen-lg-min) {
			position:absolute;
			bottom: 44px;
			left:0px;
			right:0px;
		}
		@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
			position:absolute;
			bottom: 49px;
			left:0px;
			right:0px;
		}
	}
}


.sidebar-second {
	.p {
		padding:15px 30px;
		margin-bottom: 15px;
		header {
			margin-left:-30px;
			margin-bottom:15px;
			
		}
		h2 {
			font-size: 18px;
			font-family: "latoregular";
			line-height: 18px;
			text-transform: uppercase;
			text-align: left;
			cursor: pointer;
			white-space: nowrap;
			padding: 0px;
			position: relative;
			display: block;
			height: 18px;
			overflow: hidden;
			padding-left: 25px;

			margin-bottom: 8px;
			margin-top: 0px;
			&:before {
				content: ' ';
				display: block;
				width: 18px;
				height: 18px;
				position: absolute;
				left: 0px;
				top: 0px;
				background: $color-accent;
				}
		}
		h4 {
			font-size: 13px;
			font-weight: bold;
			text-transform: uppercase;
		}
		ul,ol {
			margin-left:0px;
			padding-left:25px;
		}
	}

}