body.noscroll{
    overflow: hidden; height: 100% ;
}
div.noscroll {
	background:rgba(0,0,0,.5);
	position:fixed;
	overflow:hidden;
	top:0px;
	left: 240px;
	z-index: 20;
}
.sb-open {
	div.noscroll {
	background:rgba(0,0,0,.5);
	position:fixed;
	overflow:hidden;
	top:0px;
	left: 288px;
	z-index: 20;
}
}
.bg-w {
	background:#fff;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	&#complementary_product,
	&#description_product,
	&#note_product {
		border-top: 1px solid $gray-lighter;
	}
	&.wrapp-section {
		border-top:none;
	}
}
.border-gray-1x {
border: 1px solid #dbdbdb;
border-radius: 2px;
}

.visible-xxs {display: none !important;}
@media (max-width: 490px) {
    .visible-xxs {display: block !important;}
}
@media (max-width: 490px) {
    .hidden-xxs {display: none !important;}
}
.noborder-lft-rgt {border-right: none;border-left: none;}
.lh-45 {line-height: 48px;}
.clr {clear: both}
.talcen {text-align: center;}
.border1px-rd2-img-gray {border: 1px solid #dbdbdb;border-radius: 2px;}


#content {
	.p {
		padding:15px;
		margin-bottom: 15px;
		header {
			margin-left:0;
			margin-bottom:15px;
			h1,h2,h3 {
				margin: 0px;
				padding:0px;	
		}
		}
		p {
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
}

.node-type-page-shop {
	#header {
		#navigation {
			display:none!important;
		}
	}
	.top_bottom {
		margin-bottom: 15px;
		margin-top:-1px;
		&.bg-w {
			border-top:none;
		}
		//padding-top: 2px;
		.overlay-color {
			//border-top:1px solid #CFCDD2;
		}
	}
	.blockCarouselTop {
		@media (max-width: $screen-xs-max) {
			padding: 0 30px;
			margin-top: 15px;
			margin-left:auto;
			margin-right:auto;
		}
	}
}