#items-product {
	.item {
        .box_listing_product {
		border:1px solid #ebebeb;
		background: #fff;
		//height:550px;
        @include transition-property(box-shadow);
        @include transition-duration(0.1s);
        @include transition-timing-function(ease-in);
        //@include transition-delay(0.2s);
        &:hover,
        &.hover {
            box-shadow: 0 0 3px 2px #bcbaba;
            }
        }
	}
}
.box_listing_product {
    
    
    background:#fff;
    
    figure {
        &.img_product {
            margin-bottom:18px;
               @media (max-width: $screen-xs-max) {
                margin-bottom: 0px;
               }
        }
        img {
            width:100%;
            height:auto;
        }
    }
    .logo_manufacturer {
        margin-bottom:18px;
        padding:0 8px;
    }
    .name_product {
        font-size: 12px;
        margin-bottom:18px;
        padding:0 8px;
    }
    .price {
        color:#fd002a;
        font-size: 20px;
        margin-bottom:18px;
        font-family:$fontRegular;
        padding:0 8px;
        position:relative;
        .old {
            color:#000;
            text-decoration:line-through;
            font-size:15px;
            margin-right:5px;
        }
        .like {
            
            font-size:11px;
            font-family:$fontBlack;
            color:#000;
            position:relative;
            z-index: 900;
            .icoLike {
                position:absolute;
                top:0px;
                right:0px;
                .img-01 {
                   display:block; 
                }
                .img-02 {
                    display:none;
                }
            }
            
            .toolLike {
                position:absolute;
                background: #fff;
                right:-20px;
                top:-35px;
                border:1px solid #bcbaba;
                width:150px;
                padding:5px 0;
                text-align: center;
                display:none;
                background-clip: padding-box;
                box-shadow: 0 0px 2px rgba(0, 0, 0, 0.5);
                border: 1px solid #bcbaba;
                border: 1px solid rgba(0, 0, 0, 0.5);
                -webkit-transition: opacity 0.5s linear;
                -moz-transition: opacity 0.5s linear;
                -ms-transition: opacity 0.5s linear;
                -o-transition: opacity 0.5s linear;
                transition: opacity 0.5s linear;
                

                &:before, 
                &:after {
                    content: "";
                    position: absolute;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    top: 100%;
                    right: 19px;
                    //margin-left: -10px;
                }

                &:before {
                    border-top: 10px solid #111;
                    border-top: 10px solid rgba(0, 0, 0, 0.5);
                    margin-top: 0px;
                }

                &:after{
                    border-top: 10px solid #fff;
                    margin-top: -2px;
                    z-index: 1;
                }
            }   
            &.hover {
                .toolLike {
                    display:block; 

                }
            } 
            &.liked {
                .icoLike {

                    .img-01 {
                       display:none; 
                    }
                    .img-02 {
                        display:block;
                    }
                }
            
            }
            &:hover {
                .icoLike {

                    .img-01 {
                       display:none; 
                    }
                    .img-02 {
                        display:block;
                    }
                }
            }
            &.liked {
                &:hover {
                    .icoLike {

                        .img-01 {
                           display:block; 
                        }
                        .img-02 {
                            display:none;
                        }
                }
                }
            }
        }
        &.price-two-line {
            .col-price {
                span {
                    display:block;
                }
            }
            .like {
                top: 21px;
            }
        }
        &.like-two-line {
            .like {
                top: -4px;
                padding-right: 0px!important;
                .icoLike {
                    top: 22px;
                    min-width: 21px;
                }
            }
        }
    }
    .promotion {
            background:#aefbe1;
            border:2px solid #ffd9fc;
            font-size:14px;
            text-align:center;
            padding:5px 10px;
            color:$gray-dark;
            p {
                margin:0px;
                padding:0px;
                color:$gray-dark;
                font-style: italic;
                font-family:$fontBlack;
            }
        }
}
.shapes_listing {
    height:60px;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjFmMCIgc3RvcC1vcGFjaXR5PSIwLjAxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQyJSIgc3RvcC1jb2xvcj0iI2YyZjFmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYxZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(242,241,240,0.01) 0%, rgba(242,241,240,1) 42%, rgba(242,241,240,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,241,240,0.01)), color-stop(42%,rgba(242,241,240,1)), color-stop(100%,rgba(242,241,240,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(242,241,240,0.01) 0%,rgba(242,241,240,1) 42%,rgba(242,241,240,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(242,241,240,0.01) 0%,rgba(242,241,240,1) 42%,rgba(242,241,240,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(242,241,240,0.01) 0%,rgba(242,241,240,1) 42%,rgba(242,241,240,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(242,241,240,0.01) 0%,rgba(242,241,240,1) 42%,rgba(242,241,240,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03f2f1f0', endColorstr='#f2f1f0',GradientType=0 ); /* IE6-8 */

    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    text-align:center;
    z-index: 900;
}
.addNewPositionListProductWrapper {
    text-align: center;
    margin-top:-15px;
}
.addNewPositionListProduct {
    &:link,
    &:visited {
      height:38px;
      width:245px;
      display:inline-block;
      background:#000;
      text-align:center;
      line-height: 38px;
      font-size: 12px;
      color:#fff;
      position: relative;
      z-index: 901; 
      outline:none;
      
    }
    &:hover {
          color:#fff;
      }  
    &:hover,
    &.hover {
        background: #b08944; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYjA4OTQ0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzcwNWUyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
        background: -moz-linear-gradient(-80deg,  #b08944 0%, #705e29 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b08944), color-stop(100%,#705e29)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(-80deg,  #b08944 0%,#705e29 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-80deg,  #b08944 0%,#705e29 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(-80deg,  #b08944 0%,#705e29 100%); /* IE10+ */
        background: linear-gradient(135deg,  #b08944 0%,#705e29 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b08944', endColorstr='#705e29',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

    }
    &:active,
    &:focus,
    &.active {
        background: #6d5920; /* Old browsers */
        background: -moz-linear-gradient(-80deg,  #6d5920 0%, #af8438 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#6d5920), color-stop(100%,#af8438)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(-80deg,  #6d5920 0%,#af8438 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-80deg,  #6d5920 0%,#af8438 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(-80deg,  #6d5920 0%,#af8438 100%); /* IE10+ */
        background: linear-gradient(135deg,  #6d5920 0%,#af8438 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d5920', endColorstr='#af8438',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



    }
    
}
#items-product {
    .item {
        .box_listing_product {
            &:hover,
            &.hover {
                .name_product {
                    text-decoration: underline;
                }
            }
        }
    }
}