.sidebar {
  border-left:1px solid #ebebeb;
  border-right:1px solid #ebebeb;
  background:#fff;
  border-top: 3px solid $color-accent;
  font-family: $fontRegular;
  font-size: 12px;

  .section {
    border-bottom: 1px solid #d2d2d2;
    text-align:center;
  }
  h3 {
    font-size: 14px;
    font-family:$fontRegular;
    line-height: 18px;
    text-transform: uppercase;
    text-align:left;
    cursor:pointer;
    white-space:nowrap;
    &:before {
      content: ' ';
      background:$color-accent;
    }
  }
  dl {
    dt {
     text-transform: uppercase;
     padding-left: 5px;
     display:block;
    }
    dd {
      font-size:12px;
    }
  }
  .action {
    text-align: right;
    margin-bottom: 5px;
    .go_back {
      font-size:12px;
    }
  }
  .action.clear {
      text-align: center;
      }
  
}

.current-filter {
  dt {
    text-transform: uppercase;
    font-size: 14px;
  }
   
   dt {
       margin-right:20px;
       text-transform:uppercase;
       margin-bottom: 7px;
       line-height: 10px;
       @media (max-width: $screen-sm-min) { 
        font-size: 12px;
      }
   }
   dd {
       margin-right:20px;
       
       .label {
           color:#000;
           display:block;
           font-size: 12px;
           float:left;
           line-height:21px;
           padding:0px 20px 0 6px;
           min-width: 60px;
           text-align: left;
           color:#000;
           display:inline-block;
           font-size: 12px;
           float:left;
           height:21px;
           line-height:20px;
           border:1px solid #ededed;
           margin:0px 15px 7px 0;
           
           position:relative;
           font-weight: normal;
           position:relative;
       }
           .fa {
               position:absolute;
               right:5px;
               top:4px;
               color:#949494;
               font-size: 11px;
               margin-left:5px;
           }
            &:hover {
               .fa {
                       cursor:pointer;
                }
            }
       
       &.action {
         @include border-radius(3px); 
         margin-left: 0px; 
          
       }

   }
}

.sidebar {
  .go_read_filter {
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
  }
  #filter_recommended_products, #filter_product_flag_facet, #filter_flags_facet {
    label {
      position:relative;
      span {
      display:inline-block;
      height:17px;
      width:85px;
      padding-left: 0;
      color:#fff;
      text-transform: uppercase;
      text-align: center;
      &+.suffix {
        font-weight: normal;
        position:absolute;
        left:115px;
        top:0px;
        background-color:transparent !important;
        width:auto;
        color: #b0b0b0;
        font-size: 12px;
        text-align: left;
      }
    }
    }

    
    label[for="filter_recommended_products_news"], .new {
      >span {
        background:#7fce25;
      }
    }

    label[for="filter_recommended_products_sale"], .sale {
      >span {
        background:#de0e59;
      }
    }

    label[for="filter_recommended_products_bestseler"], .bestseller {
      >span {
        background:#3ca89b;
      }
    }

    label[for="filter_recommended_products_propotion"], .promotion {
      >span {
        background:#ec4920;
      }
    }
    .form-group {
      &+.action {
        margin-top:10px;
      }
    }
  }
}




.filter-type {
  .form-group {
    margin-bottom: 10px;
  }
  table {
  
    td {
      vertical-align: middle;
      line-height: 1.0;
      margin:0px;
      padding:5px 0;
      > div {
        position:relative;
        width:31px;
        height:31px;
      }
      &.first-td {
        vertical-align: middle;
        width:31px;
        height:31px;
        label {
          img {
            border:3px solid #fff;
          }
        }
        
        [type=checkbox]:checked {
          outline:none!important;
          &+label{
            img {
              border:3px solid #000;
              @include border-radius(5px);
            }
          }
        }
      }
      &.last-td {
        padding-left: 10px;
        min-height:31px;

        
      }
      label {
        font-weight: normal;
        cursor:pointer;
        position: static;
        float: none;
        display: inline;
        font-size: 12px;
        .suffix {
          color: #b0b0b0;
          font-size: 12px; }

      }
      img {
        position:absolute;
        left:0px;
        top:-4px;
      }
    }
    tr {
      &:hover {
        td {
        label { 
          color:#000;
          .suffix {
            color: #b0b0b0;
          }
          img {
            border:3px solid #999;
            @include border-radius(5px);
          }
        }
        }
      }
    }
    tr {
      &:hover {
        td {
          label {
            span {
              color:#000;
              text-decoration: underline;
              &+span {
                text-decoration: none;
                &.suffix {
                  color: #b0b0b0;
                }
              }
            }
          }
        }
      }
    }
  }
}      
  
#filter_style, .filter-droplist, .filter-enum, .filter-price {
  padding-left: 0px;
}

  .block-filter {
    form {
      #filter_price {
        #slider-range {
          margin-bottom: 10px;
          margin-left: -16px;
          width:147px;
          //margin-right: -4px;
          .ui-slider-handle {
            //margin-left: 0px;
            &+.ui-slider-handle {
               //margin-left: 0px;
            }
          }
        }
        #od_do {
          //padding-left: 15px;
          margin-top: 10px;
          }
        }
        .form-group {
          margin-bottom: 0px;
            input[type=checkbox].css-checkbox + label.css-label,
            input[type=radio].css-radio + label.css-label {
                padding-left:20px;
                height:auto;
                min-height:17px; 
                display:inline-block;
                line-height:17px;
                background-repeat:no-repeat;
                background-position: 0 0;
                font-size:12px;
                vertical-align:middle;
                cursor:pointer;
                font-weight:normal;
                color:$gray-darker;
                letter-spacing: -.5px;
                img {
                  float: left;
                  position: relative;
                  top: 2px;
                  margin-right: 5px;
                }
                .suffix {
                  color:#b0b0b0;
                  font-size:12px;
                }
            }
        }
            input[type=checkbox].css-checkbox + label.css-label {
                background-image:url('../images/checkbox_filter.png');

            }
            input[type=radio].css-radio + label.css-label {
                background-image:url('../images/radio.png');
            }
            input[type=checkbox].css-checkbox + label.css-label:hover,
            input[type=radio].css-radio + label.css-label:hover {
                background-position: 0 -50px;
                span {
                  text-decoration: underline;  
                  &+span {
                     text-decoration: none;  
                  }               
                }  
            }
            input[type=checkbox].css-checkbox:checked + label.css-label,
            input[type=radio].css-radio:checked + label.css-label {
                background-position: 0 -100px;
                color:$gray-darker;
            }
            
    }
    
  }

.longListWrapper .scrollable {
  max-height:151px;
  border:1px solid #d0cfcf;
  @include border-radius(1px);
  margin-bottom: 10px;

  /*.manufacturerListChecked {
    min-height:25px;
    width:100%;
    border-bottom:1px solid #d0cfcf;
    padding: 10px 5px 0px 10px;
  }*/
}
.filter_manufacturerScrollbar {
  max-height:145px;
  padding:5px 0 5px 0;

}
.filter-longlist{
  .mCSB_scrollTools {
    width:12px;
    .mCSB_dragger {
      height:39px!important;
      max-height: 39px!important;
      min-height: 39px!important;
      .mCSB_dragger_bar {
        background:url('../images/scrollbar/scrollbar_filter.png') 0 0 no-repeat;
         width:12px;
         border-radius: 0;
      }
      
    }
    .mCSB_buttonUp {
      background:url('../images/scrollbar/arrow_up_filter.png') 0 0 no-repeat;
    }
    .mCSB_buttonDown {
      background:url('../images/scrollbar/arrow_down_filter.png') 0 0 no-repeat;
      bottom: -5px;
    }
    a {
      &+.mCSB_draggerContainer {
        margin: 18px 0 20px;
        }
    }
    .mCSB_draggerRail {
       width:12px;
       background:none!important;
    }
  }
  .mCSB_inside {
    > .mCSB_container {
      margin-right: 0;
      }
  }
}


#sidebar {
  .list-group {
    border-radius: 0;
    border-color:#ebebeb;
    li {
      border-color:#ebebeb;
      &:first-child {
        border-radius:0;
      }
      &:last-child {
        border-radius:0;
      }
    }
  }
}

#note_client,
#filter_recommended_products {
  input[type=checkbox].css-checkbox + label.css-label:hover,
  input[type=radio].css-radio + label.css-label:hover {
     
      span {
        text-decoration: none;               
    }  
  }
}


.fb-slidebar-inner {
  .current-filter {
    @media (max-width: 767px) { 
       padding-top: 3px;
       //
       line-height: 24px;
      }
  }
}