<?xml version="1.0"?>
<config>
    <modules>
        <ZolagoOs_Import>
            <version>0.1.0</version>
        </ZolagoOs_Import>
    </modules>
    <global>
        <models>
            <zolagoosimport>
                <class>ZolagoOs_Import_Model</class>
                <resourceModel>zolagoosimport_resource</resourceModel>
            </zolagoosimport>
            <zolagoosimport_resource>
                <class>ZolagoOs_Import_Model_Resource</class>
            </zolagoosimport_resource>
        </models>
        <blocks>
            <zolagoosimport>
                <class>ZolagoOs_Import_Block</class>
            </zolagoosimport>
        </blocks>
        <helpers>
            <zolagoosimport>
                <class>ZolagoOs_Import_Helper</class>
            </zolagoosimport>
        </helpers>
        <resources>
            <zolagoosimport_setup>
                <setup>
                    <module>ZolagoOs_Import</module>
                </setup>
            </zolagoosimport_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <zolagoosimport before="Mage_Adminhtml">ZolagoOs_Import_Adminhtml</zolagoosimport>
                    </modules>
                </args>
            </adminhtml>
            <zolagoosimportadmin>
                <use>admin</use>
                <args>
                    <module>ZolagoOs_Import_Adminhtml</module>
                    <frontName>zolagoosimportadmin</frontName>
                </args>
            </zolagoosimportadmin>
        </routers>
    </admin>
    <!--<crontab>-->
        <!--<jobs>-->
            <!--<zolagoosimport_import_product>-->
                <!--<schedule><cron_expr>0 * * * *</cron_expr></schedule>-->
                <!--<run>-->
                    <!--<model>zolagoosimport/observer::cronImportProducts</model>-->
                <!--</run>-->
            <!--</zolagoosimport_import_product>-->
        <!--</jobs>-->
    <!--</crontab>-->
</config>