<?xml version="1.0"?>
<config>
	<tabs>
		<zolagoosimport module="zolagoosimport">
			<label>Zolago OS Import</label>
			<sort_order>102</sort_order>
		</zolagoosimport>
	</tabs>
	<sections>
		<zolagoosimport translate="label" module="zolagoosimport">
			<label>Import</label>
			<tab>zolagoosimport</tab>
			<sort_order>10</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>0</show_in_website>
			<show_in_store>0</show_in_store>
			<groups>
				<general>
					<label>General Settings</label>
					<expanded>1</expanded>
					<sort_order>9</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<external_id translate="label" module="zolagoosimport">
							<label>Vendor ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</external_id>
						<processed_files_folder translate="label" module="zolagoosimport">
							<label>Processed files folder</label>
							<comment><![CDATA[Enter absolute path to folder for processed files storage]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</processed_files_folder>
					</fields>
				</general>
				<file_source translate="label" module="zolagoosimport">
					<label>Import Settings</label>
					<expanded>1</expanded>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<!--<import_products translate="label" module="zolagoosimport">-->
							<!--<label><![CDATA[<b>Products</b> import source file]]></label>-->
							<!--<comment><![CDATA[Enter absolute path to file]]></comment>-->
							<!--<frontend_type>text</frontend_type>-->
							<!--<sort_order>20</sort_order>-->
							<!--<show_in_default>1</show_in_default>-->
							<!--<show_in_website>0</show_in_website>-->
							<!--<show_in_store>0</show_in_store>-->
						<!--</import_products>-->
						<import_prices translate="label" module="zolagoosimport">
							<label><![CDATA[<b>Prices</b> import source file]]></label>
							<comment><![CDATA[Enter absolute path to file]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</import_prices>
						<import_stock translate="label" module="zolagoosimport">
							<label><![CDATA[<b>Stock</b> import source file]]></label>
							<comment><![CDATA[Enter absolute path to file]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</import_stock>
					</fields>
				</file_source>
			</groups>
		</zolagoosimport>
	</sections>
</config>