/*popular shops*/
.small-banners {
    .row {
        @media (max-width: 643px) {
            div:nth-child(3) {
                clear: left;
            }
        }
    }
}

.path_back_to_category {
    padding: 5px 0px 5px;
    margin-bottom: 5px;
    overflow:hidden;
}

.inspiration-strips {
	height: 5px;
	position: absolute;
	z-index: 10;
	left: 0;
	right: 0;
	top: 12px;
	@media(max-width: 980px) {
		top: 9px;
	}
	@media(max-width: $screen-xs-max) {
		top: 6px;
	}
}

body.zolagomodago-index-index {
	.title-section h2 {
		font-size: 26px;
		@media(max-width: 980px) {
			font-size: 22px;
		}
		@media(max-width: $screen-xs-max) {
			font-size: 16px;
		}
	}
}

@media(max-width: $screen-sm-max) {
	body.zolagomodago-index-index {
		section#main {
			> div#content {
				padding: 0 0 25px 0;
				> div.col-sm-12 {
					padding: 0;
				}
			}
			@media(max-width: $screen-xs-max) {
				section#boxesSlider {
					margin-left: -15px;
					margin-right: -10px;
					div.boxesSlide.mobile:nth-child(odd) {
						margin-right: 5px !important;
					}
					div.boxesSlide.mobile:nth-child(even) {
						margin-right: 0 !important;
					}
				}
			}
		}
		.row-topSlider {
			margin-left: -1px;
			margin-right: -1px;
		}
		.col-boxes, .col-inspirations {
			padding: 0;
		}
	}
}