<?xml version="1.0"?>
<config>
  <modules>
    <GH_Inpost>
      <version>0.1.0</version>
    </GH_Inpost>
  </modules>
  <global>
    <models>
      <ghinpost>
        <class>GH_Inpost_Model</class>
        <resourceModel>ghinpost_resource</resourceModel>
      </ghinpost>
      <ghinpost_resource>
        <class>GH_Inpost_Model_Resource</class>
        <entities>
          <locker>
            <table>gh_inpost_locker</table>
          </locker>
        </entities>
      </ghinpost_resource>
    </models>
    <blocks>
      <ghinpost>
        <class>GH_Inpost_Block</class>
      </ghinpost>
    </blocks>
    <helpers>
      <ghinpost>
        <class>GH_Inpost_Helper</class>
      </ghinpost>
    </helpers>
    <resources>
      <ghinpost_setup>
        <setup>
          <module>GH_Inpost</module>
        </setup>
      </ghinpost_setup>
    </resources>
    <fieldsets>
      <sales_convert_quote_address>
        <delivery_point_name>
          <to_order>*</to_order>
        </delivery_point_name>
      </sales_convert_quote_address>
      <sales_convert_order>
        <delivery_point_name>
          <to_udpo>*</to_udpo>
        </delivery_point_name>
      </sales_convert_order>
    </fieldsets>
  </global>
  <frontend>
    <translate>
      <modules>
        <GH_Inpost>
          <files>
            <default>GH_Inpost.csv</default>
          </files>
        </GH_Inpost>
      </modules>
    </translate>
  </frontend>
  <adminhtml>
    <translate>
      <modules>
        <GH_Inpost>
          <files>
            <default>GH_Inpost.csv</default>
          </files>
        </GH_Inpost>
      </modules>
    </translate>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <ghinpost>
                      <title>GH Inpost</title>
                    </ghinpost>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
  <default>
    <carriers>
      <ghinpost>
        <active>1</active>
        <model>ghinpost/carrier</model>
        <title>inPost</title>
        <api>https://api.paczkomaty.pl/</api>
        <open_hours>10:00 - 18:00</open_hours>
        <tracking_url>https://inpost.pl/pl/pomoc/znajdz-przesylke?parcel=%s</tracking_url>
        <login>test@testowy.pl</login>
        <password>WqJevQy*X7</password>
        <cod_allowed>1</cod_allowed>
        <min_insurance_value>200</min_insurance_value>
      </ghinpost>
    </carriers>
  </default>
  <crontab>
    <jobs>
      <ghinpost_update_all_lockers>
        <schedule>
          <!-- Run 3:00 everyday  -->
          <cron_expr>3 0 * * *</cron_expr>
        </schedule>
        <run>
          <model>ghinpost/observer::updateAllLockers</model>
        </run>
      </ghinpost_update_all_lockers>
    </jobs>
  </crontab>
</config>
