<?xml version="1.0"?>
<config>
	<modules>
		<GH_Inpost>
			<version>0.0.1</version>
		</GH_Inpost>
	</modules>
	<global>
		<models>
			<ghinpost>
				<class>GH_Inpost_Model</class>
				<resourceModel>ghinpost_resource</resourceModel>
			</ghinpost>
			<ghinpost_resource>
				<class>GH_Inpost_Model_Resource</class>
			</ghinpost_resource>
		</models>
		<blocks>
			<ghinpost>
				<class>GH_Inpost_Block</class>
			</ghinpost>
		</blocks>
		<helpers>
			<ghinpost>
				<class>GH_Inpost_Helper</class>
			</ghinpost>
		</helpers>
		<resources>
			<ghinpost_setup>
				<setup>
					<module>GH_Inpost</module>
				</setup>
			</ghinpost_setup>
		</resources>
	</global>
	<frontend>
		<translate>
			<modules>
				<GH_Inpost>
					<files>
						<default>GH_Inpost.csv</default>
					</files>
				</GH_Inpost>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<GH_Inpost>
					<files>
						<default>GH_Inpost.csv</default>
					</files>
				</GH_Inpost>
			</modules>
		</translate>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<ghinpost>
											<title>GH Inpost</title>
										</ghinpost>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<carriers>
			<ghinpost>
				<active>1</active>
				<model>ghinpost/carrier</model>
				<title>inPost</title>
<!--				<sallowspecific>1</sallowspecific>
				<specificcountry>PL</specificcountry>-->
			</ghinpost>
		</carriers>
	</default>
</config>