/*
.page-wrap {
  width: 75%;
  @include breakpoint(xs) { width: 60%; }
  @include breakpoint(sm) { width: 80%; }
  @include breakpoint(md) { width: 95%; }
  @include breakpoint(lg) { width: 95%; }
}
*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../fonts/glyphicons/glyphicons-halflings-regular.eot);
  src: url(../fonts/glyphicons/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/glyphicons/glyphicons-halflings-regular.woff) format("woff"), url(../fonts/glyphicons/glyphicons-halflings-regular.ttf) format("truetype"), url(../fonts/glyphicons/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format("svg");
  font-weight: normal;
  font-style: normal; }

/*footer*/
/* line 5, ../sass/footer.scss */
footer {
  background-color: #000000; }

/* line 8, ../sass/footer.scss */
.footer-black {
  min-height: 117px;
  padding-top: 35px;
  background-color: #000000;
  color: #ffffff; }
@media (max-width: 767px) {
  /* line 8, ../sass/footer.scss */
  .footer-black {
    text-align: center; } }

/* line 25, ../sass/footer.scss */
.connect-twitter, .connect-fb, .connect-rss, .connect-gplus, .connect-pin {
  height: 30px;
  background: url("../images/ico-social.png") no-repeat;
  display: inline-block;
  margin-left: 15px; }

/* line 31, ../sass/footer.scss */
.connect-twitter {
  background-position: 0px 5px;
  width: 27px;
  margin-left: 0px; }

/* line 36, ../sass/footer.scss */
.connect-fb {
  background-position: -29px 5px;
  width: 14px; }

/* line 40, ../sass/footer.scss */
.connect-rss {
  background-position: -44px 5px;
  width: 24px; }

/* line 44, ../sass/footer.scss */
.connect-gplus {
  background-position: -70px 5px;
  width: 23px; }

/* line 49, ../sass/footer.scss */
.connect-pin {
  background-position: -96px 5px;
  width: 25px; }

/* line 53, ../sass/footer.scss */
.footer-gray-wr {
  background-color: #2e2e2e;
  border-top: 1px solid #242424;
  line-height: 32px; }
/* line 57, ../sass/footer.scss */
.footer-gray-wr a {
  color: #828282; }

/* line 61, ../sass/footer.scss */
.footer-gray-wr > div > div > div {
  color: #828282;
  font-size: 11px; }
@media (max-width: 767px) {
  /* line 61, ../sass/footer.scss */
  .footer-gray-wr > div > div > div {
    text-align: center; } }

/* line 69, ../sass/footer.scss */
.footer-pay-visa, .footer-pay-master, .footer-pay-paypal {
  height: 22px;
  width: 33px;
  background: url("../images/ico-payment-options.png") no-repeat;
  display: inline-block;
  margin-left: 18px;
  position: relative;
  top: 5px; }

/* line 78, ../sass/footer.scss */
.footer-pay-master {
  background-position: -34px 0px;
  width: 35px; }

/* line 82, ../sass/footer.scss */
.footer-pay-paypal {
  background-position: -69px 0px;
  width: 37px; }

/* line 86, ../sass/footer.scss */
.footer-pay-visa {
  margin-left: 0px; }

/*footer xs*/
/* line 90, ../sass/footer.scss */
.footer-xs-black {
  background-color: #000000;
  color: #ffffff;
  padding: 15px;
  text-transform: uppercase; }

/* line 96, ../sass/footer.scss */
.footer-xs-pageinfo > ul > li > a {
  color: #ffffff !important; }

/* line 99, ../sass/footer.scss */
.footer-xs-pageinfo > ul > li {
  text-align: left;
  margin-bottom: 25px; }

/* line 103, ../sass/footer.scss */
.footer-xs-connect > div {
  text-align: left; }

/* line 106, ../sass/footer.scss */
.footer-xs-connect {
  margin-top: 20px; }

/* line 109, ../sass/footer.scss */
.footer-xs-logo {
  text-align: right; }

/* line 112, ../sass/footer.scss */
.footer-xs-gray {
  background-color: #2e2e2e;
  border: 1px solid #484848;
  color: #a7a7a7;
  padding: 15px; }

/* line 118, ../sass/footer.scss */
.footer-xs-gray a {
  color: #a7a7a7 !important;
  text-transform: uppercase; }

/* line 122, ../sass/footer.scss */
.footer-xs-gray > div.row {
  padding-bottom: 30px; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */ }
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */ }
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 479px) {
  /* Styles */
  /* line 145, ../sass/footer.scss */
  #footer .container_1176 {
    width: 300px;
    margin: 0 auto;
    overflow: hidden; }
  /* line 149, ../sass/footer.scss */
  #footer .container_1176.footer-black {
    min-height: 117px;
    padding-top: 10px;
    background-color: #000000;
    color: #ffffff;
    position: relative; }
  /* line 159, ../sass/footer.scss */
  #footer .footer-logo {
    text-align: left;
    width: 113px;
    position: absolute;
    top: 19px;
    right: 22px; }
  /* line 166, ../sass/footer.scss */
  #footer .footer-logo > a img {
    width: 100%;
    height: auto; }
  /* line 173, ../sass/footer.scss */
  #footer .footer-about {
    padding-top: 10px; }
  /* line 176, ../sass/footer.scss */
  #footer .footer-about > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: left; }
  /* line 181, ../sass/footer.scss */
  #footer .footer-about > ul > li {
    text-transform: uppercase;
    padding-left: 0;
    display: block;
    margin-bottom: 5px; }
  /* line 187, ../sass/footer.scss */
  #footer .footer-about > ul > li > a {
    color: #ffffff !important;
    font-size: 12px; }
  /* line 194, ../sass/footer.scss */
  #footer .footer-connect {
    text-transform: uppercase;
    text-align: left; }
  /* line 197, ../sass/footer.scss */
  #footer .footer-connect > span {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    top: -5px;
    font-size: 12px; } }
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* Styles */
  /* line 216, ../sass/footer.scss */
  #footer .container_1176 {
    width: 460px;
    margin: 0 auto;
    overflow: hidden; }
  /* line 220, ../sass/footer.scss */
  #footer .container_1176.footer-black {
    min-height: 117px;
    padding-top: 10px;
    background-color: #000000;
    color: #ffffff;
    position: relative; }
  /* line 230, ../sass/footer.scss */
  #footer .footer-logo {
    text-align: left;
    width: 113px;
    position: absolute;
    top: 19px;
    right: 22px; }
  /* line 237, ../sass/footer.scss */
  #footer .footer-logo > a img {
    width: 100%;
    height: auto; }
  /* line 244, ../sass/footer.scss */
  #footer .footer-about {
    padding-top: 10px; }
  /* line 247, ../sass/footer.scss */
  #footer .footer-about > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: left; }
  /* line 252, ../sass/footer.scss */
  #footer .footer-about > ul > li {
    text-transform: uppercase;
    padding-left: 0;
    display: block;
    margin-bottom: 5px; }
  /* line 258, ../sass/footer.scss */
  #footer .footer-about > ul > li > a {
    color: #ffffff !important;
    font-size: 12px; }
  /* line 265, ../sass/footer.scss */
  #footer .footer-connect {
    text-transform: uppercase;
    text-align: left; }
  /* line 268, ../sass/footer.scss */
  #footer .footer-connect > span {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    top: -5px;
    font-size: 12px; } }
/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles */
  /* line 287, ../sass/footer.scss */
  #footer .container_1176 {
    width: 768px;
    margin: 0 auto;
    overflow: hidden; }
  /* line 291, ../sass/footer.scss */
  #footer .container_1176.footer-black {
    min-height: 62px;
    padding-top: 10px;
    background-color: #000000;
    color: #ffffff;
    position: relative; }
  /* line 301, ../sass/footer.scss */
  #footer .footer-logo {
    text-align: left;
    width: 163px;
    display: inline-block;
    float: left;
    margin-right: 32px; }
  /* line 308, ../sass/footer.scss */
  #footer .footer-logo > a img {
    width: 100%;
    height: auto; }
  /* line 315, ../sass/footer.scss */
  #footer .footer-about {
    padding-top: 10px;
    display: inline-block;
    float: left; }
  /* line 319, ../sass/footer.scss */
  #footer .footer-about > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: left; }
  /* line 324, ../sass/footer.scss */
  #footer .footer-about > ul > li {
    text-transform: uppercase;
    padding-left: 0;
    display: inline-block;
    margin-bottom: 5px; }
  /* line 331, ../sass/footer.scss */
  #footer .footer-about > ul > li > a {
    color: #ffffff !important;
    font-size: 12px; }
  /* line 338, ../sass/footer.scss */
  #footer .footer-connect {
    text-transform: uppercase;
    display: inline-block;
    float: right; }
  /* line 342, ../sass/footer.scss */
  #footer .footer-connect > span {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    top: -5px;
    font-size: 12px; } }
@media only screen and (min-width: 1025px) and (max-width: 1205px) {
  /* Styles */
  /* line 360, ../sass/footer.scss */
  #footer .container_1176 {
    width: 980px;
    margin: 0 auto;
    overflow: hidden; }
  /* line 364, ../sass/footer.scss */
  #footer .container_1176.footer-black {
    min-height: 62px;
    padding-top: 10px;
    background-color: #000000;
    color: #ffffff;
    position: relative; }
  /* line 374, ../sass/footer.scss */
  #footer .footer-logo {
    text-align: left;
    width: 163px;
    display: inline-block;
    float: left;
    margin-right: 25px; }
  /* line 381, ../sass/footer.scss */
  #footer .footer-logo > a img {
    width: 100%;
    height: auto; }
  /* line 388, ../sass/footer.scss */
  #footer .footer-about {
    padding-top: 10px;
    display: inline-block;
    float: left; }
  /* line 392, ../sass/footer.scss */
  #footer .footer-about > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: left; }
  /* line 397, ../sass/footer.scss */
  #footer .footer-about > ul > li {
    text-transform: uppercase;
    padding-left: 0;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 38px; }
  /* line 404, ../sass/footer.scss */
  #footer .footer-about > ul > li > a {
    color: #ffffff !important;
    font-size: 12px; }
  /* line 411, ../sass/footer.scss */
  #footer .footer-connect {
    text-transform: uppercase;
    display: inline-block;
    float: right; }
  /* line 415, ../sass/footer.scss */
  #footer .footer-connect > span {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    top: -5px;
    font-size: 12px; } }
/* Large screens ----------- */
@media only screen and (min-width: 1206px) {
  /* Styles */
  /* line 431, ../sass/footer.scss */
  #footer .container_1176 {
    width: 1176px;
    margin: 0 auto;
    overflow: hidden; }
  /* line 435, ../sass/footer.scss */
  #footer .container_1176.footer-black {
    min-height: 62px;
    padding-top: 10px;
    background-color: #000000;
    color: #ffffff;
    position: relative; }
  /* line 445, ../sass/footer.scss */
  #footer .footer-logo {
    text-align: left;
    width: 163px;
    display: inline-block;
    float: left;
    margin-right: 170px; }
  /* line 452, ../sass/footer.scss */
  #footer .footer-logo > a img {
    width: 100%;
    height: auto; }
  /* line 459, ../sass/footer.scss */
  #footer .footer-about {
    padding-top: 10px;
    display: inline-block;
    float: left; }
  /* line 463, ../sass/footer.scss */
  #footer .footer-about > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: left; }
  /* line 468, ../sass/footer.scss */
  #footer .footer-about > ul > li {
    text-transform: uppercase;
    padding-left: 0;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 38px; }
  /* line 475, ../sass/footer.scss */
  #footer .footer-about > ul > li > a {
    color: #ffffff !important;
    font-size: 12px; }
  /* line 482, ../sass/footer.scss */
  #footer .footer-connect {
    text-transform: uppercase;
    display: inline-block;
    float: right; }
  /* line 486, ../sass/footer.scss */
  #footer .footer-connect > span {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    top: -5px;
    font-size: 12px; } }
@media only screen and (min-width: 1206px) and (max-width: 1279px) {
  /* Styles */ }
@media only screen and (min-width: 1280px) and (max-width: 1599px) {
  /* Styles */ }
@media only screen and (min-width: 1600px) and (max-width: 1939px) {
  /* Styles */ }
@media only screen and (min-width: 1940px) and (max-width: 2539px) {
  /* Styles */ }
@media only screen and (min-width: 2540px) {
  /* Styles */ }
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */ }
