/*
.page-wrap {
  width: 75%;
  @include breakpoint(xs) { width: 60%; }
  @include breakpoint(sm) { width: 80%; }
  @include breakpoint(md) { width: 95%; }
  @include breakpoint(lg) { width: 95%; }
}
*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../fonts/glyphicons/glyphicons-halflings-regular.eot);
  src: url(../fonts/glyphicons/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/glyphicons/glyphicons-halflings-regular.woff) format("woff"), url(../fonts/glyphicons/glyphicons-halflings-regular.ttf) format("truetype"), url(../fonts/glyphicons/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 5, ../sass/listng.scss */
#header_main.white {
  background: #fff;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 15px 0;
  margin-bottom: 15px; }
/* line 14, ../sass/listng.scss */
#header_main .breadcrumb {
  background: none;
  margin-left: 0px;
  padding-left: 0px; }
/* line 18, ../sass/listng.scss */
#header_main .breadcrumb > li {
  font-size: 11px; }
/* line 23, ../sass/listng.scss */
#header_main .breadcrumb > li + li:before {
  content: "\e080";
  padding: 0 5px;
  color: #232323;
  position: relative;
  top: -1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 8px; }
/* line 38, ../sass/listng.scss */
#header_main .breadcrumb > li a {
  color: #000000; }
/* line 44, ../sass/listng.scss */
#header_main h1 {
  text-transform: uppercase;
  margin-bottom: 10px; }
/* line 50, ../sass/listng.scss */
#header_main .view_filter dl dt, #header_main .view_filter dl dd {
  float: left; }
/* line 54, ../sass/listng.scss */
#header_main .view_filter dl dt {
  margin-right: 20px;
  text-transform: uppercase; }
@media (max-width: 767px) {
  /* line 54, ../sass/listng.scss */
  #header_main .view_filter dl dt {
    display: block;
    float: none;
    margin-bottom: 10px; } }
@media (min-width: 768px) and (max-width: 991px) {
  /* line 54, ../sass/listng.scss */
  #header_main .view_filter dl dt {
    display: block;
    float: none;
    margin-bottom: 10px; } }
/* line 68, ../sass/listng.scss */
#header_main .view_filter dl dd {
  margin-right: 20px; }
@media (max-width: 767px) {
  /* line 68, ../sass/listng.scss */
  #header_main .view_filter dl dd {
    margin-bottom: 10px; } }
@media (min-width: 768px) and (max-width: 991px) {
  /* line 68, ../sass/listng.scss */
  #header_main .view_filter dl dd {
    margin-bottom: 10px; } }
/* line 76, ../sass/listng.scss */
#header_main .view_filter dl dd .label {
  color: #000;
  display: block;
  font-size: 12px;
  float: left;
  line-height: 21px;
  margin: 0px 6px 0 0;
  padding: 0px; }
/* line 85, ../sass/listng.scss */
#header_main .view_filter dl dd .value {
  margin: 0px;
  padding: 0px;
  color: #000;
  display: block;
  font-size: 12px;
  float: left;
  height: 21px;
  line-height: 21px;
  border: 1px solid #ededed;
  width: 166px;
  padding-left: 6px;
  margin: 0px 6px 0 0;
  box-shadow: inset 2px -2px 10px #ececec, 0 0 10px #ececec;
  position: relative; }
/* line 100, ../sass/listng.scss */
#header_main .view_filter dl dd .value .glyphicon {
  position: absolute;
  right: 5px;
  top: 4px;
  color: #949494;
  font-size: 11px; }
/* line 108, ../sass/listng.scss */
#header_main .view_filter dl dd .value:hover .glyphicon {
  cursor: pointer;
  pointer: relative; }
@media (max-width: 767px) {
  /* line 120, ../sass/listng.scss */
  #header_main .view_filter dl dt + dd {
    float: none;
    overflow: hidden;
    margin-bottom: 10px; } }
@media (min-width: 768px) and (max-width: 991px) {
  /* line 120, ../sass/listng.scss */
  #header_main .view_filter dl dt + dd {
    float: none;
    overflow: hidden;
    margin-bottom: 10px; } }

/* line 135, ../sass/listng.scss */
.shapes_listing {
  height: 155px;
  background: url("../images/shapes-listing.png") 0 0 repeat-x;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center; }

/* line 144, ../sass/listng.scss */
.addNewPositionListProduct {
  height: 38px;
  width: 245px;
  display: inline-block;
  background: #000;
  text-align: center;
  line-height: 38px;
  font-size: 12px;
  color: #fff;
  margin-top: 85px; }
/* line 154, ../sass/listng.scss */
.addNewPositionListProduct:hover {
  color: #fff; }

/* line 159, ../sass/listng.scss */
.jsMasonryContent .item {
  width: 236px;
  margin: 0px 3px 10px; }
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 159, ../sass/listng.scss */
  .jsMasonryContent .item {
    width: 229px; } }

/* line 171, ../sass/listng.scss */
.box_listing_product {
  padding: 5px;
  border: 1px solid #ebebeb;
  background: #fff;
  width: 100%; }
/* line 177, ../sass/listng.scss */
.box_listing_product figure.img_product {
  margin-bottom: 18px; }
/* line 180, ../sass/listng.scss */
.box_listing_product figure img {
  width: 100%;
  height: auto; }
/* line 185, ../sass/listng.scss */
.box_listing_product .logo_manufacturer {
  margin-bottom: 18px;
  padding: 0 8px; }
/* line 189, ../sass/listng.scss */
.box_listing_product .name_product {
  font-size: 12px;
  margin-bottom: 18px;
  padding: 0 8px; }
/* line 194, ../sass/listng.scss */
.box_listing_product .price {
  color: #fd002a;
  font-size: 20px;
  margin-bottom: 18px;
  font-family: "latoregular";
  padding: 0 8px;
  position: relative; }
/* line 201, ../sass/listng.scss */
.box_listing_product .price .old {
  color: #000;
  text-decoration: line-through;
  font-size: 15px;
  margin-right: 10px; }
/* line 207, ../sass/listng.scss */
.box_listing_product .price .like {
  position: absolute;
  right: 8px;
  top: 6px;
  font-size: 11px;
  font-family: "latoblack";
  color: #000;
  padding-right: 30px; }
/* line 215, ../sass/listng.scss */
.box_listing_product .price .like:before {
  content: ' ';
  display: block;
  width: 21px;
  height: 16px;
  position: absolute;
  right: 0px;
  top: 0px;
  background: url("../images/heart.png"); }
/* line 226, ../sass/listng.scss */
.box_listing_product .price .like.liked:before {
  background: url("../images/heart-like.png"); }
/* line 233, ../sass/listng.scss */
.box_listing_product .promotion {
  background: #aefbe1;
  border: 2px solid #ffd9fc;
  font-size: 14px;
  text-align: center;
  padding: 5px 10px;
  color: #4f4f4f; }
/* line 240, ../sass/listng.scss */
.box_listing_product .promotion p {
  margin: 0px;
  padding: 0px;
  color: #4f4f4f;
  font-style: italic;
  font-family: "latoblack"; }
