#payment_form_zolagopayment .left {
    float: left;
}
#checkout form .selected_bank ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#checkout .default_pay .selected_bank {
    display: block;
    margin-top: 21px;
}
#checkout .panel.panel-color.selected-shipping {
    background: none repeat scroll 0 0 #d3d3d3;
}

#co-shippingpayment .fieldset-title {
    margin-bottom: 0px;
}
#co-shippingpayment .data-validate {
    margin-bottom: 15px;
}
#co-shippingpayment .data-validate span {
    padding-left: 0px !important;
}

