@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
* { margin:0; padding:0; }

body          { background:#ffffff; font:14px/1.40 'Lato', sans-serif !important; color:#000000; }

img           { border:0; vertical-align:top; }

a             { color:#000000 !important; text-decoration:none; text-align: left}
a:hover       { text-decoration:underline; }
:focus        { outline:0; }

h1            {font-family: Lato, sans-serif; font-size: 34px;font-weight: bold;text-transform: uppercase;}
@media (min-width: 1200px) {.container {width: 1205px;}}

.margin-top-20px {margin-top: 20px;}
.padding-top-40px {padding-top: 40px;}
.border1px-rd2-img-gray {border: 1px solid #dbdbdb;border-radius: 2px;}
.margin-10-top {margin-top: 10px;}
.noborder-lft-rgt {border-right: none;border-left: none;}

.black-nav {
    background-color: #000000;
    border-bottom: 1px #2e2d29;
    color: #ffffff;
}
.gold-strip-nav {
    height: 3px;
    background-color: #c6a662;
}

.lh-45 {line-height: 48px;}

.black-nav a {
    color: #ededed;
    text-decoration: none;
    font-weight: bold;
}

.black-nav a:hover {
    color: #ededed;
    text-decoration: none;
}
/*----------------------------*/
.user-space {margin-top: 3px; }
.user-space > ul {
    margin: 0;
    margin-top: 3px;
    padding: 0;
    list-style-type: none;
    text-align: center;
    float: right;
}

.user-space > ul > li {
    display: inline;

}

.user-space>ul>li>a {
    position: relative;
    font-family: 'Lato';
    font-size: 10px;
    text-transform: uppercase;
    float: left;
    min-width: 84px;
    text-align: center;
}

.user-space>ul>li>a>span {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #ffffff;
}

.user-space > ul > li > a > span.count {
    z-index: 1000;
    width: 22px;
    height: 22px;
    position: absolute;
    display: block;
    top: 0px;
    left: 49px;
    background-color: #ff002a;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #ffffff;
}

.user-space>ul>li>a>img {
    z-index: 900;
    display: block;
    height: 30px;
    width: 30px;
    margin: 0 auto;
    position: relative;
    margin-bottom: -2px;
}

.user-space>ul>li>a.visible-xs>img {
    height: 20px;
    width: 20px;
}

.user-space>ul>li>a.visible-xs {
    min-width: 60px;
}

.user-space>ul>li>a.visible-xs>span.count {
    width: 16px;
    height: 16px;
    left: 39px;
    font-size: 8px;
    line-height: 16px;
}

.user-space>ul>li.favorites>a>img {
    margin-top: 3px;
    margin-bottom: -5px;
}

.clr {clear: both}

.search-input {
    height: 26px;
    margin: 0;
    padding: 0 3px;
    width: 40%;
    background: #ffffff url("/skin/frontend/modago/default/images/ico_search_separator.png") right 6px no-repeat;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #000000;
    line-height: 20px;
}

.search-select {
    height: 26px;
    margin: 0;
    padding: 0;
    width: 40%;
    border: none;
    font-family: 'Lato', sans-serif;
    color: #000000;
    margin-left: -4px;
}

.modago-search-btn {
    padding:0;
    margin: 0;
    background: url("/skin/frontend/modago/default/images/ico_search.gif") no-repeat;
    border: none;
    width: 29px;
    height: 26px;
    margin-left: -4px;
}

.form-search {line-height: 50px}

.nav-top {
    border: none;
    border-top: 1px solid #dedce1;
    border-bottom: 1px solid #dedce1;
    background-color: #ffffff;
    margin-top: 3px;
}

.navi-top>li {
    width: 0% !important;
    text-align: left;
    padding-right: 40px;
}
.navi-top>li>a {
    display: block;
    margin-left: 15px;
    text-transform: uppercase;
    font-family: Lato;
    font-size: 16px;
    line-height: 38px;
    color: #000000;
}
.navi-top>li>a:hover {
    text-decoration: none;
    /*border-bottom: 4px solid #73f2ba;*/
    z-index: 1000;
}

.menu2-wr {
    z-index: 900;
    background-color: #f2f1f0;
    border-bottom: 1px solid #ebebeb;
    padding: 45px 0px;
    display: none;
}

.menu2-title,.cat-url,.see-more {
    text-transform: uppercase;
    display: block;
    padding: 5px 0px;
    font-size: 12px;
}
.menu2-title {
    font-weight: bold;
    font-size: 15px;
}

.pad-left-menu2 {
    margin-left: 0px !important;
}

.pad-top35 {padding-top: 35px;}

.see-more {
    text-transform: none;
    text-decoration: underline;
    font-style: italic;
}

.ico_menu { line-height: 45px; text-align: left;}
.ico_menu>img {margin-top: 10px;}

.logo {margin-top: 4px;margin-left: 30%;}

.ico_menu2 {margin-top: 8px;}

.form-search, .form-group {height: auto;line-height: normal; margin-bottom: 0px; margin-top: 8px;}
.mobile-search-ico {margin-top: 8px;}

.mobile-search-bg-click, .mobile-search-bg {
    background-color: #484848;
    position: absolute;
    top: 0px;
    padding: 10px;
    padding-top: 2px;
    padding-bottom: 11px;
}

.mobile-search-bg {
    background-color: transparent;
}

.mobile-search-block {
    background-color: #484848;
    position: relative;
    width: 100% !important;
    padding: 30px 0px;
    left:0;
    top: 40px;
    padding: 20px;
}

.mobile-search-block > * {
    width: 100%;
    display: block;
}

/*top menu*/
.top-menu-wrapper {
    background-color: #f2f1f0;
    width: 100%;
    border-bottom: 1px solid #dedce1;
}

.top-hr {
    width: 100%;
    background-color: #dedce1;
    height: 1px;
    margin: 0;
    margin-top: 3px;
    display: block;
    border: none;
    padding: 0;
}

.dropdown,
.dropdown.open {
    position: static!important;
}
.dropdown-menu {
    box-shadow: none!important;
    position:static;
    border: none;
    border-radius: 0%;
    padding: 0;
    margin: 0;
    padding-bottom: 40px;
    background-color: transparent;
}

.dropdown-menu>li>div.col-sm-12 {padding: 0;}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    border: none;
    border-radius: 0%;
}

.nav-bg {background-color: #ffffff; position: absolute; left: 0; right: 0;height: 38px;top:55px;border-bottom: 1px solid #dedce1}
.navbar {min-height: 40px;margin-bottom: 0px;}
.navbar-collapse {padding: 0; }
.container-fluid {padding: 0;}
.navbar-nav>li {padding: 0 25px 0 25px;}
.navbar-nav>li:first-child {padding-left: 20px;}
.navbar-nav>li>a {line-height: 37px;text-transform: uppercase;font-weight: bold;text-align: center;border-bottom: 3px solid transparent;padding: 0;}
.navbar-nav>li>a:hover {border-bottom: 3px solid #73f2ba}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {background-color: transparent;}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {border-color: #73f2ba;}

.dropdown-menu>li>div>a {text-transform: uppercase;font-size: 12px;margin: 10px 0px;display: block}
.dropdown-menu>li>div>a.dropdown-title {text-transform: uppercase;font-size: 14px;font-weight: bold;margin-bottom: 10px;margin-top: 30px;}
.dropdown-menu>li>div>a.dropdown-seemore {text-transform: lowercase;font-weight: bold;text-decoration: underline;font-style: italic;}
.dropdown-menu>li>div.col-sm-2 {padding: 0px 5px;}
.submenu-close {position: absolute;top: 0px; right: -20px;}

/*breadcrumb*/

.modago-breadcrumb {text-align: left;font-size: 10px;margin: 10px 0px 30px 0px;font-family: OpenSans, sans-serif;}
.modago-breadcrumb:first-child {margin-left: 20px;}
.modago-breadcrumb>span {padding: 0 10px;}

/*filters*/
.filters-top {text-align: left;margin-bottom: 30px;}
.filters-top>div.row {margin-left: 5px;}
.filters-top .filter-header-p {text-transform: uppercase; font-size: 14px;}
.filter-top-close {font-weight: bold; text-transform: uppercase;font-size: 14px;display: block; position: absolute;right: 5px;top:5px}
.chosen-filter-label {font-weight: bold;font-size: 12px;padding-right: 5px;text-transform: uppercase;}
.filter-btn-wr {
    max-width: 170px;
    min-width: 100px;
    display: inline-block;
    box-shadow: 0 0 10px 1px #eaeaea;
    position: relative;
    background: url("/skin/frontend/modago/default/images/bg-filter-top-btn.gif") repeat-x;
    margin-right: 5px;
}
.filter-btn-sh-inner {box-shadow: 0 -3px 5px 2px #eaeaea inset;}
.filter-top-txt {font-family: OpenSans, sans-serif;font-size: 11px; color: #434343;line-height: 20px;font-weight: bold;padding: 0 5px}
.chosen-filter-wr, .filter-top-clear {display: inline-block; margin-right: 25px;}
.filter-top-clear {border: 2px solid #b4b4b4;border-radius: 2px;position: relative;min-width: 150px}
.filter-top-clear:hover {text-decoration: none;}
.filter-top-clear>span{text-transform: uppercase;font-size: 11px;padding: 0px 5px 0 5px;font-weight: bold;color: #434343}

/*main banners*/
.carousel-caption {overflow: hidden;bottom: 0;}
.carousel-caption>a {text-transform: uppercase;font-weight: bold;font-size: 13px;margin: 0 auto;margin-top: 20px;display: block;text-shadow: rgba(0,0,0,0.6) 0 1px 1px;margin-left: 35%;}
.carousel-caption>a>img {display: inline-block;margin-left: 10px;margin-top: 4px;}
.carousel {max-height: 397px;overflow: hidden;}
.carousel-indicators>li, .carousel-indicators>li.active {width: 15px;height: 15px;margin:2px;}
.carousel-indicators {padding-top: 5px;}
/*content*/
.content-wrapper {
    background-color: #f2f1f0;
    width: 100%;
    padding: 17px 0px;
}

#carousel-top-indicators, #carousel-top-mobile-indicators {background-color: #2a2a2a;bottom:0;right:0;margin-bottom:0;margin-left:0;width: 10%;height: 30px;line-height: 30px;left:90%;}
#carousel-top-mobile-generic .item>img {margin: 0 auto;}
#carousel-top-mobile-indicators {left: 50%;right: 50%;}

/*.small-banners-lg>div {padding: 0px 0px 0px 4px;}*/
/*.small-banners-lg>div:first-child {padding: 0px 15px 0px 15px !important;}*/
/*.small-banners-lg>div:last-child {padding: 0px 15px 0px 4px !important;}*/


/*inpirations*/
.white-wrapper {background-color: #ffffff;width: 100%;padding: 30px 0px;}
.inspiration-strips {border-bottom: 1px solid #000000;border-top: 1px solid #000000;height: 5px;position:absolute;z-index: 10;top:20px;left:15px;right: 15px;}
.insp-h {text-transform: uppercase;font-size: 35px;margin:0 auto;position: relative;z-index: 20;top:0;left:0;background-color: #ffffff;padding: 0 15px;display: inline-block;font-weight:300}
.insp-carousel-row {padding:0;}
.jcarousel>ul>li {padding: 0;width: 215px;}
.jcarousel>ul>li>a {text-decoration: none;text-align: center;}
.jcarousel>ul>li>a:hover {text-decoration: underline;}
.jcarousel {width: 90%;margin:0 auto;}
.jcarousel-control-prev,.jcarousel-control-next {background: transparent;top:40%;width:24px;height: 40px;}
.jcarousel-control-prev {left: 0;background: url("/skin/frontend/modago/default/images/ico-insp-lt.png") no-repeat;}
.jcarousel-control-next {right: 0;background: url("/skin/frontend/modago/default/images/ico-insp-gt.png") no-repeat;}
.jcarousel-control-prev:hover {left: 0;background: url("/skin/frontend/modago/default/images/ico-insp-lt-hover.png") no-repeat;}
.jcarousel-control-next:hover {right: 0;background: url("/skin/frontend/modago/default/images/ico-insp-gt-hover.png") no-repeat;}
.insp-carousel-title-bold {text-transform: uppercase;font-weight: bold;padding: 5px 0px;display: block;margin:0 auto;margin-top: 5px;}
.insp-carousel-title-gray {color:#8b8b8b;padding: 5px 0px;display: block;margin:0 auto;}
.insp-carousel-seemore {color:#484848;text-transform: uppercase;padding: 5px 0px;display: block;margin:0 auto;font-size: 11px;}
.jcarousel-wrapper .canvas-left, .jcarousel-wrapper .canvas-right {width: auto;}

/*popular shops*/
.popular-shops>h3 {font-size:18px;text-transform: uppercase;margin-top: 10px;text-align: left;margin-bottom:28px;}
.popular-shops {text-align: justify;}
.popular-shops:after {content: "";width: 100%;display: inline-block;}
.pop-shop-lst {display: inline-block;vertical-align: top;width: 130px;zoom:1;*display: inline;}
.pop-shop-lst>li>a {width: 130px;display: block;margin-bottom:35px;}
.pop-shop-lst>li>a>span {font-size: 11px;margin-top: 15px;display: block;text-align: center;}
.pop-shop-lst>li>a>span.pop-shop-img-wr {line-height: 74px;height: 74px;background: #ffffff;text-align: center;width: 100%;margin-top: 0;}
.pop-shop-lst>li>a>span.pop-shop-img-wr>img {vertical-align: middle;}
.pop-shop-seemore {font-size: 12px; display: block;background-color: #000000;background-image:none; text-align: center;width: 245px; height: 38px;line-height: 38px;margin: 0 auto;margin-top:-38px;color: #ffffff !important;text-transform: uppercase;margin-bottom: 18px;}
.pop-shop-seemore:hover {text-decoration: none;background: url("/skin/frontend/modago/default/images/popular-brands-hover-bg-btn.png") no-repeat;}


/*last seen*/
.last-seen {margin-bottom:12px;}
.last-seen>h3 {font-size:18px;text-transform: uppercase;margin-top: 4px;text-align: left;margin-bottom:35px;}
/*.last-seen1 {max-width: 980px;}*/
.last-seen>.jcarousel-wrapper {max-width: 1080px;}
.jcarousel>ul.last-seen-list>li {padding: 0 7px;width: 140px;}
.jcarousel>ul.last-seen-list>li>a>span {display: block;width: 112px;margin-top: 10px;font-weight: bold;font-size: 12px; text-align: left;}
.jcarousel>ul.last-seen-list>li>a:hover {text-decoration: underline;}
.carousel-small-ctr-lt {background: url("/skin/frontend/modago/default/images/ico-arrow-gray-slider-lt.png") no-repeat;box-shadow: none;border-radius: 0;}
.carousel-small-ctr-gt {background: url("/skin/frontend/modago/default/images/ico-arrow-gray-slider-gt.png") no-repeat;box-shadow: none;border-radius: 0;}
.carousel-small-ctr-lt:hover {background: url("/skin/frontend/modago/default/images/ico-arrow-gray-slider-lt-hover.png") no-repeat !important;}
.carousel-small-ctr-gt:hover {background: url("/skin/frontend/modago/default/images/ico-arrow-gray-slider-gt-hover.png") no-repeat;}

/*footer*/
footer {background-color: #000000;}
.footer-black {min-height: 117px;padding-top: 35px;background-color: #000000;color:#ffffff;}
@media (min-width: 768px) {
    .footer-logo {text-align: left;}
    /*.footer-logo>a {margin-left: 20px;}*/
}
.footer-about {padding-top: 15px;}

.footer-about>ul {list-style-type: none;}
.footer-about>ul>li {text-transform: uppercase;padding-left: 35px;float: left;}
.footer-about>ul>li>a {color: #ffffff !important;}
.footer-connect {text-transform: uppercase;text-align: right;padding-top: 5px;}
.footer-connect>span {display: inline-block;position: relative;top:-5px;}
.connect-twitter,.connect-fb
,.connect-rss,.connect-gplus,.connect-pin {height: 30px;background: url("/skin/frontend/modago/default/images/ico-social.png") no-repeat;display: inline-block;margin-left: 15px;}
.connect-twitter {background-position: 0px 5px; width: 27px;}
.connect-fb {background-position: -29px 5px; width: 14px;}
.connect-rss {background-position: -44px 5px; width: 24px;}
.connect-gplus {background-position: -70px 5px; width: 23px;}
.connect-pin {background-position: -96px 5px; width: 25px;}
.footer-gray-wr {background-color: #2e2e2e;border-top: 1px solid #242424;line-height: 64px;}
.footer-gray-wr>div>div>div {color: #828282;font-size: 11px;text-align: center;}
.footer-pay-visa,.footer-pay-master,
.footer-pay-paypal {height:22px;width:33px;background:url("/skin/frontend/modago/default/images/ico-payment-options.png")no-repeat;display:inline-block;margin-left:27px;position:relative;top:5px;}
.footer-pay-master {background-position: -34px 0px;width: 35px;}
.footer-pay-paypal {background-position: -69px 0px;width: 37px;}
.footer-pay-visa {margin-left:5px;}
.footer-payment {padding-left:0;}

/*footer xs*/
.footer-xs-black {background-color: #000000;color:#ffffff;padding: 15px;text-transform: uppercase;}
.footer-xs-pageinfo>ul>li>a {color:#ffffff !important;}
.footer-xs-pageinfo>ul>li {text-align: left;margin-bottom: 25px;}
.footer-xs-connect>div {text-align: left;}
.footer-xs-connect {margin-top: 20px;}
.footer-xs-logo {text-align: right;}
.footer-xs-gray {background-color: #2e2e2e;border: 1px solid #484848;color:#a7a7a7;padding: 15px;}
.footer-xs-gray a {color: #a7a7a7 !important;text-transform: uppercase;}
.footer-xs-gray >div.row{padding-bottom: 30px;}




/* MODAGO NEW OVERLAY STYLE */
#TEST {
    overflow: hidden;
}