/*
.page-wrap {
  width: 75%;
  @include breakpoint(xs) { width: 60%; }
  @include breakpoint(sm) { width: 80%; }
  @include breakpoint(md) { width: 95%; }
  @include breakpoint(lg) { width: 95%; }
}
*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../fonts/glyphicons/glyphicons-halflings-regular.eot);
  src: url(../fonts/glyphicons/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/glyphicons/glyphicons-halflings-regular.woff) format("woff"), url(../fonts/glyphicons/glyphicons-halflings-regular.ttf) format("truetype"), url(../fonts/glyphicons/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 5, ../sass/sidebar.scss */
.sidebar {
  background: #fff;
  border-top: 3px solid #6fffcf; }
@media (min-width: 768px) and (max-width: 991px) {
  /* line 5, ../sass/sidebar.scss */
  .sidebar {
    width: 180px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 5, ../sass/sidebar.scss */
  .sidebar {
    width: 235px; } }
@media (min-width: 1200px) {
  /* line 5, ../sass/sidebar.scss */
  .sidebar {
    width: 196px; } }
/* line 19, ../sass/sidebar.scss */
.sidebar a:link, .sidebar a:visited {
  color: #1e1e1e;
  text-decoration: none; }
/* line 22, ../sass/sidebar.scss */
.sidebar a:link span, .sidebar a:visited span {
  color: #999999; }
/* line 26, ../sass/sidebar.scss */
.sidebar .section {
  padding: 8px 10px 0;
  border-bottom: 1px solid #d2d2d2;
  text-align: center; }
/* line 31, ../sass/sidebar.scss */
.sidebar .section .content {
  text-align: left;
  padding-top: 8px;
  padding-bottom: 15px;
  display: none; }
/* line 38, ../sass/sidebar.scss */
.sidebar .section h3.open + .content {
  display: block; }
/* line 42, ../sass/sidebar.scss */
.sidebar .section h3 {
  position: relative;
  display: block;
  height: 18px;
  overflow: hidden;
  padding-left: 35px;
  font-size: 14px;
  font-family: "latoregular";
  line-height: 18px;
  text-transform: uppercase;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 8px;
  margin-top: 0px;
  text-align: left;
  cursor: pointer; }
/* line 58, ../sass/sidebar.scss */
.sidebar .section h3 span {
  position: absolute;
  right: 12px;
  top: 2px; }
/* line 63, ../sass/sidebar.scss */
.sidebar .section h3:before {
  content: ' ';
  display: block;
  width: 18px;
  height: 18px;
  background: #6fffcf;
  position: absolute;
  left: 0px;
  top: 0px; }
/* line 75, ../sass/sidebar.scss */
.sidebar .section dl dt {
  margin-bottom: 20px; }
/* line 78, ../sass/sidebar.scss */
.sidebar .section dl dd {
  margin-left: 28px;
  font-size: 12px; }
/* line 81, ../sass/sidebar.scss */
.sidebar .section dl dd a {
  padding: 5px 0;
  display: block; }
/* line 87, ../sass/sidebar.scss */
.sidebar .section .go_back {
  font-size: 12px;
  color: #5a5a5a;
  text-decoration: underline; }
/* line 91, ../sass/sidebar.scss */
.sidebar .section .go_back span {
  font-size: 8px;
  top: 0px; }
/* line 98, ../sass/sidebar.scss */
.sidebar .section #filter_size label {
  width: 38px;
  height: 38px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-left: 12px;
  margin-bottom: 12px; }
/* line 106, ../sass/sidebar.scss */
.sidebar .section #filter_size label span {
  width: 38px;
  height: 38px;
  border: 1px solid #afafaf;
  text-align: center;
  line-height: 38px;
  font-size: 14px;
  color: #313131;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #fff; }
/* line 120, ../sass/sidebar.scss */
.sidebar .section #filter_size label input[type="checkbox"]:checked + span {
  background: #000;
  border-color: #000;
  color: #fff; }
/* line 128, ../sass/sidebar.scss */
.sidebar .section #filter_manufacturer input[type="text"] {
  float: left;
  height: 23px;
  width: 86%;
  border: 1px solid #d6d6d6; }
/* line 133, ../sass/sidebar.scss */
.sidebar .section #filter_manufacturer input[type="text"]:focus {
  outline: none; }
/* line 140, ../sass/sidebar.scss */
.sidebar .section #filter_price .form-horizontal input {
  width: 30%;
  margin: 0 2%; }
/* line 144, ../sass/sidebar.scss */
.sidebar .section #filter_price .form-horizontal label {
  font-weight: normal; }
/* line 147, ../sass/sidebar.scss */
.sidebar .section #filter_price .form-horizontal [type="image"] {
  width: 34px;
  height: 19px; }
/* line 152, ../sass/sidebar.scss */
.sidebar .section #filter_price #od_do {
  padding-left: 15px; }
/* line 154, ../sass/sidebar.scss */
.sidebar .section #filter_price #od_do .form-horizontal {
  width: 62px;
  float: left; }
/* line 158, ../sass/sidebar.scss */
.sidebar .section #filter_price #od_do .form-action {
  width: 34px;
  float: left; }
/* line 165, ../sass/sidebar.scss */
.sidebar .section #filter_color label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin: 5px 10px;
  position: relative; }
/* line 171, ../sass/sidebar.scss */
.sidebar .section #filter_color label > span {
  display: inline-block;
  width: 33px;
  height: 33px;
  padding: 3px;
  position: absolute;
  background: #fff;
  top: 0px;
  left: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
/* line 181, ../sass/sidebar.scss */
.sidebar .section #filter_color label > span span {
  display: inline-block;
  width: 27px;
  height: 27px;
  border: 1px solid #afafaf; }
/* line 188, ../sass/sidebar.scss */
.sidebar .section #filter_color label [type="checkbox"]:checked + span {
  background: #404040; }
/* line 193, ../sass/sidebar.scss */
.sidebar .section div.action {
  text-align: center; }
/* line 195, ../sass/sidebar.scss */
.sidebar .section div.action + .action {
  margin-top: 25px; }
