body,html {
    font-family: "latoregular",sans-serif;
    font-size: 13px;
    padding: 0;
    margin: 0;
}
body img {
    max-width: 100%;
}

#sizetable-container .sizetable-container-a {
    float: left;
    padding-right: 1%;
    width: 50%;
    position: relative;
}
#sizetable-container .sizetable-container-b {
    width: 49%;
    position: relative;
    float: left;
}
@media (max-width: 558px) {
    #sizetable-container .sizetable-container-a {
        float: none;
        width: 100%;
        /*text-align: center;*/
    }
    #sizetable-container .sizetable-container-b {
        width: 100%;
    }
}

#sizetable-container {
    min-width: inherit;
}

#sizetable-container .sizetable-container-c:not(:empty) {
    padding-bottom: 20px;
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
table {
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}
table tr td {
    border: 1px solid black !important;
    padding: 5px;
}
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    #sizetable-container table,
    #sizetable-container thead,
    #sizetable-container tbody,
    #sizetable-container th,
    #sizetable-container td,
    #sizetable-container tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #sizetable-container thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #sizetable-container tr {
        border: 1px solid #ccc;
        height: auto !important;
    }

    #sizetable-container tr:first-child {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #sizetable-container td {
        /* Behave  like a "row" */
        border: none !important;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
        height: auto !important;
    }

    #sizetable-container td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 40%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */
    #sizetable-container td:before {
        content: attr(data-label);
    }
}