.sizetable-container-a {
    float: left;
    padding-right: 20px;
}

@media (max-width: 558px) {
    .sizetable-container-a {
        float: none;
    }
}

.sizetable-container-b {
    width: 100%;
}

div#sizetable-container {
    min-width: inherit;
}