.box_listing_product {
  figure {
    &.img_product {
      margin-bottom:18px;
      position: relative;
      @media (max-width: $screen-xs-max) {
        margin-bottom: 0px;
      }
      &.boxed {
        box-shadow: 0 0 1px 1px $boxShadowListingColor;
      }
    }
    img {
      width:100%;
      height:auto;
    }
  }
  //@include productFlagLabel;
  .logo_manufacturer {
    margin: 15px 8px;
    max-width: 100px;
    max-height: 30px;
    height: 30px;

    display: block;
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
  }
  .name_product {
    margin-bottom: 15px;
    margin-top: 6px;
    padding:0 20px;
    @media (max-width: $screen-xs-max) {
      padding: 0;
    }
  }
  .price {
    padding:0 10px;
    @media (max-width: $screen-xs-max) {
      padding:0;
    }
    .col-price {
      padding:0 10px;
      @media (max-width: $screen-xs-max) {
        padding:0;
      }
    }
    position:relative;
    .size-box-bundle {
      padding: 0;
      color: $color_7e7e7e;
      a.qty_less, a.qty_more {
        color: #777;
        display: block;
      }
      div.qty, a.qty_less, a.qty_more, div.qty_label {
        float: left;
        max-width: 34px;
        min-width: 20px;
        width: 30%;
        height: 34px;
        border: 1px solid $color_f1f1f1;
        text-align: center;
        font-size: 20px;
        line-height: 34px;
      }
      div.qty_less, div.qty_more{
        cursor: pointer;
      }
      div.qty input{
        width: 100%;
        border: none;
        text-align: center;
        font-size: 14px;
        outline: none !important;
        &:focus {
          outline: none !important;
        }
        background-color: transparent;
        vertical-align: top;
      }
      div.qty_label{
        margin-right: 20px;
        font-size: 14px;
        border: none;
        padding-top: 10px;
      }
      .quantity_block{
        padding: 7px 0 0;
      }
      #qty-error{
        display: none;
      }
    }

    .old {
      margin-right:5px;
    }
    .like {
      position:relative;
      z-index: 900;
      cursor: pointer;
      text-align: center;

      padding: 8px 0;

      .likeAdded {
        background: #e8e8e8;
        padding: 8px 10px;
      }
      .icoLike, &.liked .icoLike {
        font-size: 16px !important;
        position: absolute;
        left: -15px;
        vertical-align: middle;
        width: 18px;
        height: 18px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top left;
        &.fa-spinner {
          background-image: none !important;
          color: $text-color;
        }
      }
      .icoLike {
        //background-image: url('../images/svg/unlike.svg');
        &:hover {
          //background-image: url('../images/svg/like.svg');
        }
      }

      &.liked .icoLike {
        //background-image: url('../images/svg/like.svg');
        &:hover {
          //background-image: url('../images/svg/unlike.svg');
        }
      }

      .toolLike {
        position:absolute;
        right:-20px;
        top:-35px;
        width:150px;
        padding:5px 0;
        display:none;
        -webkit-transition: opacity 0.5s linear;
        -moz-transition: opacity 0.5s linear;
        -ms-transition: opacity 0.5s linear;
        -o-transition: opacity 0.5s linear;
        transition: opacity 0.5s linear;
        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 100%;
          right: 19px;
        }
        &:after{
          z-index: 1;
        }
      }
    }
    &.price-two-line {
      .col-price {
        span {
          display: inline;
          @media (max-width: 490px) {
            display: block;
          }
        }
      }
    }
    &.like-two-line {
      .like {
        text-align: center;
        margin-top: 0 !important;
        margin-bottom: -5px;
        .icoLike {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
  .promotion {
    padding:5px 10px;
    p {
      margin:0px;
      padding:0px;
    }
  }
}
.shapes_listing {
  height:60px;
  position:absolute;
  bottom:0px;
  left:0px;
  width:100%;
  z-index: 900;
}
.addNewPositionListProductWrapper {
  margin-top:-15px;
}
.addNewPositionListProduct {
  &:link,
  &:visited {
    height:38px;
    width:245px;
    display:inline-block;
    position: relative;
    z-index: 901;
    outline:none;

  }
}
html.is-browser-mobile {
  .box_listing_product {
    .price {
      .like {
        .icoLike {
          background-image: url('../images/svg/unlike.svg');
          &:hover {
            background-image: url('../images/svg/unlike.svg');
          }
        }
        &.liked .icoLike {
          background-image: url('../images/svg/like.svg');
          &:hover {
            background-image: url('../images/svg/like.svg');
          }
        }
      }
    }
  }
}
.catalog-category-view .title-section {
  text-align: center !important;
}