@import "../css/font-awesome.css";

.selectboxit-container {
  .selectboxit {
    background-image: none;
    border-radius: 0;
    background-color: $color_fff;
    border-color: $color_f1f1f1;

    &:hover {
      border-color: $color_f1f1f1;
      background-color: $color_fff;

    }
    &:focus {
      border-color: $color_f1f1f1;
      background-color: $color_fff;
      box-shadow: none;

    }
    .selectboxit-text {
      color: $color_7e7e7e;
      text-decoration: none;
      //        text-indent: 10px;
      font-family: $fontRegular;
      font-size: 14px;
      font-weight: normal;
    }
    .selectboxit-arrow-container {
      //background: $selectMap;
      //@include sprite($selectMap, select_styled);
      //line-height: image-height(sprite-file($selectMap, select_styled));
      height: 29px;
      width: 16px;

      .caret {
        border: none;
      }
      .selectboxit-arrow {
        border: none;
        top: 10px;
        right: 9px;
        font-size: 9px;
      }
      .selectboxit-arrow:before {
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: '\f078';
      }
    }
  }

  .selectboxit-list {
    max-height: 230px;
    border-radius: 0;
    background-color: $color_fff;
    border-color: $gray;
    z-index: 100;
    box-shadow: none;
    .selectboxit-option {
      .selectboxit-option-anchor {
        font-family: $fontRegular;
        font-size: 12px;
        font-weight: normal;
        color: $gray-darker;
        text-decoration: none;
      }
    }
    .selectboxit-focus {
      .selectboxit-option-anchor {
        color: $gray-darker;
        background: $color_f2f1f0;
        background-image: none;
        background-repeat: repeat-x;
      }
    }
    .selectboxit-disabled {
      .selectboxit-option-anchor {
        color: $color_999999;
      }
    }
  }
}

/*Product page size select*/
.size-box {
  .selectboxit {
    width: 167px;
  }
}

/*Cart qty select*/
.cart-qty-field {
  .selectboxit {
    width: 60px;
    height: 35px;
    .selectboxit-text{
      line-height: 35px;
    }
    i.selectboxit-arrow {
      top:12px!important;
    }
  }
}

/*Sort select on listing*/
.sort-by-container {
  .selectboxit-container {
//    pointer-events: none;
    .selectboxit {
      width: 160px;
    }
  }
}

/*Search desktop*/
.block_search {
  select {
    height: 26px;
  }
  .selectboxit-container {
    span {
      height: 26px;
      line-height: 26px;
    }
    .selectboxit {
      width: 134px;
      height: 26px;
      line-height: 26px;
      border: none;
      .selectboxit-arrow-container {
        height: 26px;
        line-height: 26px;
        background: url(../images/select-icons.png) 0 -117px no-repeat;
        outline: none;
        &:link {
          background: url(../images/select-icons.png) 0 -168px no-repeat;
        }
        &:visited {
          background: url(../images/select-icons.png) 0 -17px no-repeat;
        }
        &:hover {
          background: url(../images/select-icons.png) 0 -69px no-repeat;
        }
      }
      .selectboxit-text {
        height: 26px;
        line-height: 26px;
      }
    }
    .selectboxit-options {
      width: 134px;
      a {
        height: 26px;
        line-height: 26px;
      }
    }
  }
  .selectboxit-list {
    z-index: 400;
  }
}

/*Search mobile*/
#dropdown-search {
  .selectboxit-container {
    .selectboxit {
      width: 282px;
    }
  }
}

/*Rma*/

.condition-wrapper {
  .selectboxit-container {
    width: 100%;
          @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
            width: 80%;
          }
    span {
      height: auto;
    }
    .selectboxit {
      width: 100%;
      display: block;
      .selectboxit-text {
        height: 100%;
      }
    }
  }
  &.has-error {
    .selectboxit-container {
      .selectboxit {
        border-color: $color_a94442;
      }
    }
  }
  &.has-success {
    .selectboxit-container {
      .selectboxit {
        border-color: $color_3c763d;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
      }
    }
  }
}

/*Contact vendor select*/
#question-form {
  .selectboxit-container {
    .selectboxit {
      width: 300px;
    }
  }
}
