#product-shop {
	h1 {
		padding-bottom:5px;
		padding-top: 0px;
		margin-bottom:15px;
		margin-top: 0;
		@media (max-width: $screen-xs-max) {
			margin-top:15px;
		}
	}
	.short-description {
		margin-bottom: 6px;
		a {
			span {
				margin-left:30px;
			}
		}
		@media (max-width: 1199px) {
			display:none;
		}
	}
	#product_price_box {
		margin-bottom: 15px;
		.price-box-bundle {
			position:relative;
			margin-bottom: 5px;
			.price {
				@media (min-width: 768px) and (max-width: 819px) {
					margin-bottom: 0px;
				}
				@media (min-width: 481px) and (max-width: $screen-xs-max) {
					display:inline-block;
					margin:0px;
					padding:0px;
				}
				@media (max-width: 480px) {
					display:block;
					margin:0px;
					padding:0px;
					display:block;
				}
			}
			ul {
				@include reset-m;
				position:absolute;
				right:0px;
				top:10px;

			}
		}
	}

	.color-box-bundle,
	.size-box-bundle {
		.color-label,
		.size-label {
			width: 90px;
			display: inline-block;
			float: left;
			@media (min-width: 768px) and (max-width: 814px) {
				float:none;
				display:block;
				width:100%;
			}
			@media (max-width: $screen-xs-max) {
				float:none;
				display:block;
			}
		}
		.no-size {
			span {
				canvas.diagonal {
					background: url(../images/diagonal.png);
					background-size: 100% 100%;
				}
			}
		}
		.color-label {
			margin-top: -10px;
		}
		.form-group {
			display: inline-block;
			label {
				position: relative;
				width:43px;
				height: 43px;
				display:inline-block;
				margin-right:8px;
				&:first-child {
					margin-left:0;
				}
				img {
					position:absolute;
					top:0;
					left:0;
					width:100%;
					height:auto;
				}
			}
		}

	}
	.color-box-bundle  {
		.form-group {
			label {
				height:54px;
			}
		}
	}
	.color {
		.form-group {
			input[type="radio"] {
				margin-left: 50%;
				margin-top: 50%;
				float: left;
			}
		}

	}

	.size {
		position:relative;
	}
	.size {
		.form-group {
			input[type="radio"] {
				margin-left: 30%;
				margin-top: 30%;
				float: left;
			}
		}
	}
	.size-box-bundle {
		margin-bottom:20px;
		@media (min-width: 992px) and (max-width: 1197px){
			margin-bottom:0px;
		}

		@media (min-width: 768px) and (max-width: 991px) {
			margin-bottom:0px;
		}
		.size-label {
			padding-left: 0;
			width: auto;
			&.size-label-radios {
				margin-right: 10px;
			}
			@media (min-width: 768px) and (max-width: 814px) {
				display:block;
				width:100%;
			}
			@media (max-width: $screen-xs-max) {
				float:none;
				display:block;
			}
		}
		.form-group {
			margin-bottom: 5px;
			margin-left: 2px;
			label {
				width:31px;
				height:31px;
				position: relative;
				span {
					width:31px;
					height:31px;
					display:block;
					position:absolute;
					top:0px;
					left:0px;
				}
			}
		}
		.view-sizing {
			display:block;
			float: right;
			position: absolute;
			bottom: -10px;
			left: 0px;
			@media (max-width: $screen-xs-max) {
				margin-left:0px;

			}
			.linkToModal {
				top:-24px;
				position:relative;
				padding-left:100px;
			}
			&.hidden-xs {
				@media (max-width: 814px) {
					display:none!important;
				}
				@media (min-width: 815px) {
					display:inline-block!important;
				}
			}
			&.visible-xs {
				@media  (max-width: 814px) {
					display:inline-block!important;
					position: static;
				}
			}


		}
		.size-box {
			.sizes-content {
				padding-left: 0;
				margin-left:0;
			}
			margin-bottom: 25px;
		}
	}
	.action-box-bundle {
		margin-bottom:20px;
		@media screen and (-webkit-min-device-pixel-ratio:0) {
			margin-top:4.5px;
		}


		.col-xs-6 {
			margin-top: 16px;
			@media screen and (-webkit-min-device-pixel-ratio:0) {
				margin-top: 15px;
			}
			@media (max-width: 320px) {
				margin-top: 15px;
			}
		}
		.addLike-box {
			white-space: nowrap;
			@media (max-width: 360px) {
				margin-top: 1px;
				@media screen and (-webkit-min-device-pixel-ratio:0) {
					margin-top: 2px;
				}
			}
		}
		.addedLike-box {
			@media (max-width: 810px) {
				margin-top: -7px;
			}
		}
		.addLike {
			width:149px;
			height:42px;
			display:block;
			padding: 7px 0 0 43px;
			@media screen and (-webkit-min-device-pixel-ratio:0) {
				height:42px;
			}
		}
		.likeAdded {
			display:block;
			height:43px;
			padding: 7px 0 0 43px;
		}
		.addBasket {
			width: 100%;
			max-width:165px;
			overflow:hidden;
			@media (min-width: $screen-lg-min) {
				max-width:190px;
			}
		}
	}
}

#share {
	margin-top: -10px;
}

#product-shop  {
	.color-box-bundle {
		.form-group {
			label {
				&:first-child {
					margin-left:0px;
				}
			}
		}
	}
}
#wrapper-rwd-color {
	width:300px;
	float:left;
	overflow:hidden;
	position:relative;
	z-index: 1;
	margin-top: -10px;
}
#rwd-color {
	&.no-size-carousel {
		padding-left: 0px;
	}
	width: 300px;
	padding: 1px 10px 0 16px;
	.rwd-prev,
	.rwd-next {
		text-indent: -999em;
		position:absolute;
		top: 19px;
	}
	.rwd-prev {
		@include sprite($allMap, arrow-rwd-slider-prev-mobile);
		@include sprite-dimensions($allMap, arrow-rwd-slider-prev-mobile);
		left:0;
		&.disabled {
			visibility:hidden;
		}
	}
	.rwd-next {
		@include sprite($allMap, arrow-rwd-slider-next-mobile);
		@include sprite-dimensions($allMap, arrow-rwd-slider-next-mobile);
		right:0;
		&.disabled {
			visibility:hidden;
		}
	}
	.rwd-wrapper-outer {
		margin-left: 2px;
	}
}
#product-shop  {
	.size-box-bundle {
		.listSelect {
			.view-sizing {
				&.visible-xs {
					top: 5px;
				}
				&.hidden-xs {
					top: 19px;
				}
			}
		}
	}
}

.zoom_plus,
.zoom_minus {
	display:block;
	width:41px;
	height:41px;
	position:absolute;
	top:0px;
	right:15px;
	margin-left:-45px;
	z-index: 900;
	span {
		display:block;
		width:41px;
		height:41px;
	}
	&.full {
		right:20px!important;
		left:auto!important;
		margin-left: -15px;

	}
}
.zoom_plus {
	top:15px;
	span {
		top: 5px;
		left: 1px;
	}
}
.zoom_minus {
	top:62px;
	span {
		top: 6px;
		left: -1px;
	}
}


i.flag {
	display:inline-block;
	position: absolute;
	top: 10px;
	right: 15px;
	z-index: 800;

	&.sale {

		@include sprite-dimensions($allMap, sale);
	}
	&.percent,
	&.promotion  {

		@include sprite-dimensions($allMap, percent);
	}
	&.new {

		@include sprite-dimensions($allMap, new);
	}
	&.hit,
	&.bestseller  {

		@include sprite-dimensions($allMap, hit);
	}


}

#galeria-lightbox {
	i.flag {
		left: 15px;
		right:auto;
	}
}


#question-form {
	h4 {
		padding-top:10px;
	}
	input[type="text"],
	input[type="email"],
	input[type="password"] {
		height: 29px;
		padding:0 0 0 15px
	}
	label {
		font-weight: normal;
	}
	.title {
		.topHint {
			right: -175px !important;
			top:23px;
			@media (max-width: 767px) {
				display:none!important
			}
		}
	}
	.form-radio {
		float:left;
		margin-right: 20px;
	}
	.nickname_field {
		margin-top:-15px;
		.col-sm-6 {
			position:relative;
		}
		.topHint {
			right: -150px !important;
			top:0;
			@media (max-width: 767px) {
				display:none!important
			}
		}
	}
	button {
		min-width: 133px;
		font-size: 14px;
	}
	.error {
		padding-left: 0px !important;
	}
}

.no-size {
	overflow: hidden;
	span {
		position: relative;
		.diagonal {
			position: absolute;
			display: block;
			top: 0;
			left: -2px;
			overflow: hidden;
		}
	}
}