<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Common>
            <version>0.0.3</version>
        </Zolago_Common>
    </modules>
	<frontend>
		<routers>
            <zolagocommon>
                <use>standard</use>
                <args>
                    <module>Zolago_Common</module>
                    <frontName>zolagocommon</frontName>
                </args>
            </zolagocommon>
		</routers>
		<layout>
			<updates>
				<zolagocommon>
					<file>zolagocommon.xml</file>
				</zolagocommon>
			</updates>
		</layout>
        <translate>
            <modules>
                <Zolago_Common>
                    <files>
                        <default>Zolago_Common.csv</default>
                    </files>
                </Zolago_Common>
            </modules>
        </translate>
	</frontend>
    <global>
        <helpers>
            <zolagocommon>
                <class>Zolago_Common_Helper</class>
            </zolagocommon>
        </helpers>
        <models>
            <zolagocommon>
                <class>Zolago_Common_Model</class>
            </zolagocommon>
            <core>
                <rewrite>
                    <email_template_mailer>Zolago_Common_Model_Core_Email_Template_Mailer</email_template_mailer>
                    <email_template>Zolago_Common_Model_Core_Email_Template</email_template>
                    <email_info>Zolago_Common_Model_Core_Email_Info</email_info>
                </rewrite>
            </core>
        </models>
        <resources>
            <zolagocommon_setup>
                <setup>
                    <module>Zolago_Common</module>
                </setup>
            </zolagocommon_setup>
        </resources>
        <blocks>
            <page>
                <rewrite>
                    <html_head>Zolago_Common_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <!-- fix currency symbol routing / its local module depandency is not requored-->
                        <currencysymbol before="Mage_Adminhtml">Mage_CurrencySymbol_Adminhtml</currencysymbol>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Zolago_Common>
                    <files>
                        <default>Zolago_Common.csv</default>
                    </files>
                </Zolago_Common>
            </modules>
        </translate>
    </adminhtml>
</config>
