<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_CatalogInventory>
            <version>0.1.2</version>
        </Zolago_CatalogInventory>
    </modules>
    <global>
        <models>
            <zolago_cataloginventory>
                <class>Zolago_CatalogInventory_Model</class>
                <resourceModel>zolago_cataloginventory_resource</resourceModel>
            </zolago_cataloginventory>
            <zolago_cataloginventory_resource>
                <class>Zolago_CatalogInventory_Model_Resource</class>
            </zolago_cataloginventory_resource>
        </models>
        <helpers>
            <zolagocataloginventory>
                <class>Zolago_CatalogInventory_Helper</class>
            </zolagocataloginventory>
        </helpers>
        <resources>
            <zolagocataloginventory_setup>
                <setup>
                    <module>Zolago_CatalogInventory</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zolagocataloginventory_setup>
        </resources>
    </global>
</config>