<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_CatalogInventory>
            <version>0.1.1</version>
        </Zolago_CatalogInventory>
    </modules>
    <global>
        <models>
            <zolagocataloginventory>
                <class>Zolago_CatalogInventory_Model</class>
                <resourceModel>zolagocataloginventory_resource</resourceModel>
            </zolagocataloginventory>
            <zolagocataloginventory_resource>
                <class>Zolago_CatalogInventory_Model_Resource</class>
                <entities>
                    <stock_website>
                        <table>zolago_cataloginventory_stock_website</table>
                    </stock_website>
                </entities>
            </zolagocataloginventory_resource>
            <cataloginventory_resource>
                <rewrite>
                    <stock_item>Zolago_CatalogInventory_Model_Resource_Stock_Item</stock_item>
                    <indexer_stock_default>Zolago_CatalogInventory_Model_Resource_Indexer_Stock_Default</indexer_stock_default>
                </rewrite>
            </cataloginventory_resource>
            <cataloginventory>
                <rewrite>
                    <stock_item>Zolago_CatalogInventory_Model_Stock_Item</stock_item>
                </rewrite>
            </cataloginventory>
        </models>
        <helpers>
            <zolagocataloginventory>
                <class>Zolago_CatalogInventory_Helper</class>
            </zolagocataloginventory>
        </helpers>
        <resources>
            <zolagocataloginventory_setup>
                <setup>
                    <module>Zolago_CatalogInventory</module>
                </setup>
            </zolagocataloginventory_setup>
        </resources>
    </global>
</config>