<?xml version="1.0"?>
<!--
/**
 * Licentia Fidelitas - Advanced Email and SMS Marketing Automation for E-Goi
 *
 * NOTICE OF LICENSE
 * This source file is subject to the Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International
 * It is available through the world-wide-web at this URL:
 * http://creativecommons.org/licenses/by-nc-nd/4.0/
 *
 * @title      Advanced Email and SMS Marketing Automation
 * @category   Marketing
 * @package    Licentia
 * @author     Bento Vilas Boas <bento@licentia.pt>
 * @copyright  Copyright (c) 2012 Licentia - http://licentia.pt
 * @license    Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International
 */
-->
<config>
    <modules>
        <Licentia_Fidelitas>
            <version>0.10.0.0</version>
        </Licentia_Fidelitas>
    </modules>
    <frontend>
        <events>
            <sales_quote_address_save_after>
                <observers>
                    <fidelitas_auto_add_address>
                        <class>fidelitas/observer</class>
                        <method>addEmailFromAddress</method>
                    </fidelitas_auto_add_address>
                </observers>
            </sales_quote_address_save_after>
            <controller_action_predispatch_catalogsearch_result_index>
                <observers>
                    <validate_coupon>
                        <class>fidelitas/autoresponders</class>
                        <method>newSearch</method>
                    </validate_coupon>
                </observers>
            </controller_action_predispatch_catalogsearch_result_index>
            <controller_action_predispatch_checkout_cart_couponPost>
                <observers>
                    <validate_coupon>
                        <class>fidelitas/observer</class>
                        <method>validateCoupon</method>
                    </validate_coupon>
                </observers>
            </controller_action_predispatch_checkout_cart_couponPost>
            <controller_action_postdispatch_contacts_index_post>
                <observers>
                    <send_tag>
                        <class>fidelitas/observer</class>
                        <method>sendSmsNewContact</method>
                    </send_tag>
                </observers>
            </controller_action_postdispatch_contacts_index_post>
            <tag_save_after>
                <observers>
                    <send_tag>
                        <class>fidelitas/observer</class>
                        <method>sendSmsNewTag</method>
                    </send_tag>
                </observers>
            </tag_save_after>
            <review_save_after>
                <observers>
                    <send_review>
                        <class>fidelitas/observer</class>
                        <method>sendSmsNewReview</method>
                    </send_review>
                    <autoresponder_review>
                        <class>fidelitas/autoresponders</class>
                        <method>newReview</method>
                    </autoresponder_review>
                    <autoresponder_review_self>
                        <class>fidelitas/autoresponders</class>
                        <method>newReviewSelf</method>
                    </autoresponder_review_self>
                </observers>
            </review_save_after>
            <sales_order_place_after>
                <observers>
                    <update_autoresponders>
                        <class>fidelitas/autoresponders</class>
                        <method>newOrder</method>
                    </update_autoresponders>
                    <update_subscriber>
                        <class>fidelitas/observer</class>
                        <method>sendSmsNewOrder</method>
                    </update_subscriber>
                    <update_coupon>
                        <class>fidelitas/coupons</class>
                        <method>couponAfterOrder</method>
                    </update_coupon>
                    <check_conversion>
                        <class>fidelitas/conversions</class>
                        <method>afterOrder</method>
                    </check_conversion>
                    <update_subscriber_auto>
                        <class>fidelitas/observer</class>
                        <method>addToAutoList</method>
                    </update_subscriber_auto>
                </observers>
            </sales_order_place_after>
            <customer_register_success>
                <observers>
                    <update_subscriber>
                        <class>fidelitas/observer</class>
                        <method>newCustomer</method>
                    </update_subscriber>
                    <autoresponder_subscriber>
                        <class>fidelitas/autoresponders</class>
                        <method>newCustomer</method>
                    </autoresponder_subscriber>
                </observers>
            </customer_register_success>
            <controller_action_predispatch>
                <observers>
                    <start_conversion>
                        <class>fidelitas/conversions</class>
                        <method>startConversion</method>
                    </start_conversion>
                </observers>
            </controller_action_predispatch>
        </events>
        <routers>
            <fidelitas>
                <use>standard</use>
                <args>
                    <module>Licentia_Fidelitas</module>
                    <frontName>fidelitas</frontName>
                </args>
            </fidelitas>
        </routers>
        <layout>
            <updates>
                <fidelitas>
                    <file>fidelitas.xml</file>
                </fidelitas>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <fidelitas before="Mage_Adminhtml">Licentia_Fidelitas_Adminhtml</fidelitas>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Licentia_Fidelitas>
                    <files>
                        <default>Licentia_Fidelitas.csv</default>
                    </files>
                </Licentia_Fidelitas>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <fidelitas>
                                            <title>E-Goi Section</title>
                                        </fidelitas>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <fidelitas>
                    <file>fidelitas.xml</file>
                </fidelitas>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_adminhtml_system_variable_wysiwygPlugin>
                <observers>
                    <load_variables>
                        <class>fidelitas/observer</class>
                        <method>loadVariables</method>
                    </load_variables>
                </observers>
            </controller_action_predispatch_adminhtml_system_variable_wysiwygPlugin>
            <controller_action_predispatch>
                <observers>
                    <notify_build>
                        <class>fidelitas/observer</class>
                        <method>notifyBuild</method>
                    </notify_build>
                </observers>
            </controller_action_predispatch>
            <customer_delete_after>
                <observers>
                    <update_subscriber>
                        <class>fidelitas/observer</class>
                        <method>customerDeleted</method>
                    </update_subscriber>
                </observers>
            </customer_delete_after>
            <controller_action_postdispatch_adminhtml_sales_order_invoice_addComment>
                <observers>
                    <notify_sms>
                        <class>fidelitas/observer</class>
                        <method>notifySms</method>
                    </notify_sms>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_invoice_addComment>
            <controller_action_postdispatch_adminhtml_sales_order_addComment>
                <observers>
                    <notify_sms>
                        <class>fidelitas/observer</class>
                        <method>notifySms</method>
                    </notify_sms>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_addComment>
            <controller_action_postdispatch_adminhtml_sales_order_shipment_addComment>
                <observers>
                    <notify_sms>
                        <class>fidelitas/observer</class>
                        <method>notifySms</method>
                    </notify_sms>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_shipment_addComment>
            <controller_action_postdispatch_adminhtml_sales_order_creditmemo_addComment>
                <observers>
                    <notify_sms>
                        <class>fidelitas/observer</class>
                        <method>notifySms</method>
                    </notify_sms>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_creditmemo_addComment>
        </events>
    </adminhtml>
    <global>
        <events>
            <sales_order_save_commit_after>
                <observers>
                    <autoresponders_status>
                        <class>fidelitas/autoresponders</class>
                        <method>changeStatus</method>
                    </autoresponders_status>
                </observers>
            </sales_order_save_commit_after>
            <customer_save_after>
                <observers>
                    <fidelitas_auto_match_customer>
                        <class>fidelitas/observer</class>
                        <method>autoMatchCustomer</method>
                    </fidelitas_auto_match_customer>
                </observers>
            </customer_save_after>
            <newsletter_subscriber_save_after>
                <observers>
                    <fidelitas_update>
                        <class>fidelitas/subscribers</class>
                        <method>updateFromNewsletterCore</method>
                    </fidelitas_update>
                </observers>
            </newsletter_subscriber_save_after>
        </events>
        <models>
            <fidelitas>
                <class>Licentia_Fidelitas_Model</class>
                <resourceModel>fidelitas_mysql4</resourceModel>
            </fidelitas>
            <fidelitas_mysql4>
                <class>Licentia_Fidelitas_Model_Mysql4</class>
                <entities>
                    <campaigns>
                        <table>fidelitas_campaigns</table>
                    </campaigns>
                    <subscribers>
                        <table>fidelitas_subscribers</table>
                    </subscribers>
                    <lists>
                        <table>fidelitas_lists</table>
                    </lists>
                    <lstores>
                        <table>fidelitas_lists_stores</table>
                    </lstores>
                    <reports>
                        <table>fidelitas_reports</table>
                    </reports>
                    <templates>
                        <table>fidelitas_templates</table>
                    </templates>
                    <account>
                        <table>fidelitas_account</table>
                    </account>
                    <segments>
                        <table>fidelitas_segments_subscribers</table>
                    </segments>
                    <segments_list>
                        <table>fidelitas_segments_subscribers_list</table>
                    </segments_list>
                    <products>
                        <table>fidelitas_segments_products</table>
                    </products>
                    <senders>
                        <table>fidelitas_senders</table>
                    </senders>
                    <widget>
                        <table>fidelitas_widget_cache</table>
                    </widget>
                    <cron>
                        <table>fidelitas_cron_report</table>
                    </cron>
                    <coupons>
                        <table>fidelitas_coupons</table>
                    </coupons>
                    <conversions>
                        <table>fidelitas_conversions</table>
                    </conversions>
                    <history>
                        <table>fidelitas_history</table>
                    </history>
                    <consegments>
                        <table>fidelitas_conversions_segments</table>
                    </consegments>
                    <evolutions>
                        <table>fidelitas_segments_evolutions</table>
                    </evolutions>
                    <summary>
                        <table>fidelitas_segments_evolutions_summary</table>
                    </summary>
                    <stats>
                        <table>fidelitas_stats</table>
                    </stats>
                    <links>
                        <table>fidelitas_campaigns_links</table>
                    </links>
                    <urls>
                        <table>fidelitas_urls</table>
                    </urls>
                    <autoresponders>
                        <table>fidelitas_autoresponders</table>
                    </autoresponders>
                    <events>
                        <table>fidelitas_autoresponders_events</table>
                    </events>
                    <followup>
                        <table>fidelitas_campaigns_followup</table>
                    </followup>
                    <splits>
                        <table>fidelitas_campaigns_splits</table>
                    </splits>
                    <abandoned>
                        <table>fidelitas_abandoned</table>
                    </abandoned>
                    <abandonedlog>
                        <table>fidelitas_abandoned_log</table>
                    </abandonedlog>
                </entities>
            </fidelitas_mysql4>
        </models>
        <resources>
            <fidelitas_setup>
                <setup>
                    <module>Licentia_Fidelitas</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </fidelitas_setup>
        </resources>
        <blocks>
            <fidelitas>
                <class>Licentia_Fidelitas_Block</class>
            </fidelitas>
        </blocks>
        <helpers>
            <fidelitas>
                <class>Licentia_Fidelitas_Helper</class>
            </fidelitas>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <fidelitas_send_abandoned>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>fidelitas/abandoned::send</model>
                </run>
            </fidelitas_send_abandoned>
            <fidelitas_send_autoresponders>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>fidelitas/autoresponders::send</model>
                </run>
            </fidelitas_send_autoresponders>
            <fidelitas_build_segments_user>
                <schedule>
                    <cron_expr>0 0 0 0 *</cron_expr>
                </schedule>
                <run>
                    <model>fidelitas/segments::buildUser</model>
                </run>
            </fidelitas_build_segments_user>
            <fidelitas_sync_manually>
                <schedule>
                    <cron_expr>15 0 0 0 *</cron_expr>
                </schedule>
                <run>
                    <model>fidelitas/egoi::syncm</model>
                </run>
            </fidelitas_sync_manually>
            <fidelitas_build_segments>
                <schedule>
                    <cron_expr>0 5 * * *</cron_expr>
                </schedule>
                <run>
                    <model>fidelitas/segments::cron</model>
                </run>
            </fidelitas_build_segments>
            <fidelitas_send_campaigns>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>fidelitas/campaigns::sendCampaigns</model>
                </run>
            </fidelitas_send_campaigns>
            <fidelitas_send_splits>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>fidelitas/splits::cron</model>
                </run>
            </fidelitas_send_splits>
            <fidelitas_send_followup>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>fidelitas/followup::cron</model>
                </run>
            </fidelitas_send_followup>
            <fidelitas_sync>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>fidelitas/egoi::sync</model>
                </run>
            </fidelitas_sync>
            <fidelitas_send_reports>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>fidelitas/campaigns::sendDailyReport</model>
                </run>
            </fidelitas_send_reports>
        </jobs>
    </crontab>
    <default>
        <fidelitas>
            <config>
                <api_key>0</api_key>
                <cellphone>telephone</cellphone>
                <place>address</place>
            </config>
        </fidelitas>
    </default>
</config>