<?xml version="1.0"?>
<!--
/**
 * Licentia Fidelitas - Advanced Email and SMS Marketing Automation for E-Goi
 *
 * NOTICE OF LICENSE
 * This source file is subject to the Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International
 * It is available through the world-wide-web at this URL:
 * http://creativecommons.org/licenses/by-nc-nd/4.0/
 *
 * @title      Advanced Email and SMS Marketing Automation
 * @category   Marketing
 * @package    Licentia
 * @author     Bento Vilas Boas <bento@licentia.pt>
 * @copyright  Copyright (c) 2012 Licentia - http://licentia.pt
 * @license    Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International
 */
-->
<config>
    <tabs>
        <fidelitas translate="label" module="fidelitas">
            <label>E-Goi Email Marketing</label>
            <sort_order>325</sort_order>
        </fidelitas>
    </tabs>
    <sections>
        <fidelitas translate="label" module="fidelitas">
            <label>Configuration</label>
            <tab>fidelitas</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <config translate="label">
                    <label>Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <email>
                            <label>Debug</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>Send Campaign Error Notification</comment>
                            <comment>Sends an email when an error occurs sending a campaign</comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </email>
                        <customer_list>
                            <label>Create Customer List</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>If the extension should create a list containing all your customers, no matter if they subscribe to the newsletter</comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </customer_list>
                        <cellphone>
                            <label>Cellphone Attribute Code</label>
                            <frontend_type>select</frontend_type>
                            <source_model>fidelitas/source_addressattributes</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <required>1</required>
                            <comment>Assing the Address Attribute Code to customer's cellphone. Usually "telephone" or "mobile"</comment>
                        </cellphone>
                        <place>
                            <label>Auto Add to List Step</label>
                            <frontend_type>select</frontend_type>
                            <source_model>fidelitas/source_place</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <required>1</required>
                            <comment>If you have the "Auto-add" option enabled in a list, when should the customer be added to your newsletter? If you are using the default checkout method, choose the "Address" option. If you are having issues with subscribers not being added, choose "After Order"</comment>
                        </place>
                    </fields>
                </config>
                <comments translate="label">
                    <label>SMS Comments</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <sms_number translate="label comment">
                            <label>Number</label>
                            <frontend_type>select</frontend_type>
                            <comment>SMS sender's</comment>
                            <source_model>fidelitas/senders_sms</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sms_number>
                        <sms_in_invoice translate="label comment">
                            <label>Invoices</label>
                            <frontend_type>select</frontend_type>
                            <comment>Enable sending SMS comments in Invoices</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sms_in_invoice>
                        <sms_in_order translate="label comment">
                            <label>Orders</label>
                            <comment>Enable sending SMS comments in Orders</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sms_in_order>
                        <sms_in_shipment translate="label comment">
                            <label>Shippments</label>
                            <comment>Enable sending SMS comments in Shippments</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sms_in_shipment>
                        <sms_in_creditmemo translate="label comment">
                            <label>Credit Memo</label>
                            <comment>Enable sending SMS comments in Credit Memos</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sms_in_creditmemo>
                    </fields>
                </comments>
                <notifications translate="label">
                    <label>Instant SMS Notifications</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <sender translate="label comment">
                            <label>Number</label>
                            <frontend_type>select</frontend_type>
                            <comment>SMS sender's</comment>
                            <source_model>fidelitas/senders_sms</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sender>
                        <recipients translate="label comment">
                            <label>Recipients</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>fidelitas/subscribers_admin_list</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>This Phone list comes from the 'Mag Administrators' List</comment>
                        </recipients>
                        <order translate="label comment">
                            <label>New Order</label>
                            <frontend_type>select</frontend_type>
                            <comment>Sends a Notification when a new Order is received</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </order>
                        <review translate="label comment">
                            <label>New Review</label>
                            <frontend_type>select</frontend_type>
                            <comment>Sends a Notification when a new Review is received</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </review>
                        <tag translate="label comment">
                            <label>New Tag</label>
                            <frontend_type>select</frontend_type>
                            <comment>Sends a Notification when a new Tag is received</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tag>
                        <contact translate="label comment">
                            <label>Contact</label>
                            <frontend_type>select</frontend_type>
                            <comment>Sends a new SMS Notification when a new contact from the contact-us page is made</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </contact>
                    </fields>
                </notifications>
                <reports translate="label">
                    <label>Daily Report By SMS</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label comment">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Reports sent are form the previous day</comment>
                        </enable>
                        <runtime translate="label">
                            <label>Send Report Time:</label>
                            <frontend_type>select</frontend_type>
                            <source_model>fidelitas/source_run</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </runtime>
                        <sms_number translate="label">
                            <label>Number</label>
                            <frontend_type>select</frontend_type>
                            <comment>SMS sender's</comment>
                            <source_model>fidelitas/senders_sms</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sms_number>
                        <recipients translate="label comment">
                            <label>Recipients</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>fidelitas/subscribers_admin_list</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>This Phone list comes from the 'Mag Administrators' List</comment>
                        </recipients>
                    </fields>
                </reports>
            </groups>
        </fidelitas>
    </sections>
</config>