.one-sidebar {

}
#sidebar { 
	display:none;
}

.sidebar-first {
	#sidebar {
		width:185px;
	    float:left;
	    margin-right:20px;
	    display:block;
   	}	
}
	    .sidebar {
     		width:185px;
     		position:relative;
     		margin-bottom: 52px;
			z-index: 900;
     		.section {
     		padding:8px 18px 0; 
	     		.content {
	     		  text-align:left;
	     		  padding-top:8px;
	     		  padding-bottom:15px;
	     		  display:none;
	     		}
	     	h3.open {
	     	  + .content {
	     	    display:block;
	     	  }
	     	}
	     	h3 {
	     	padding:0px;
	     	  position:relative;
	     	  display:block;
	     	  height:18px;
	     	  overflow:hidden;
	     	  padding-left:25px;
	     	  margin-left:-18px;
	     	  margin-right:-18px;
	     	  margin-bottom: 8px;
	     	  margin-top: 0px;
	     	  i {
	     	    position:absolute;
	     	    right:12px;
	     	    top:2px;
	     	  }
	     	  &:before {
	     	    content: ' ';
	     	    display:block;
	     	    width:18px;
	     	    height:18px;
	     	    position:absolute;
	     	    left:0px;
	     	    top:0px;
	     	  }
	     	}
     		}
     		dl {
     		  dt {
     		    margin-bottom: 10px;
     		  }
     		  dd {
     		    margin-left: 10px; 
     		    a {
     		      padding:5px 0;
     		      display:block;
     		    }
     		  }
     		}
     		.go_back {
     		  i {
     		    top:0px;
     		  }
     		}
     	}

.sidebar-first {
	&.node-type-list {
		#sidebar {
			@media (max-width: $screen-xs-max) { 
				display: none;
				position:absolute !important;
				left:-200px;
				top:0px;
			 }
		}
	}
}
.sidebar-first {
	&.node-type-list {
		#content-main {
		margin-left: 205px; 
		overflow: hidden;
			@media (max-width: $screen-xs-max) { 
				margin-left: 0; 
			}
		}
	}
}
.sidebar-first {
	&.node-type-main_categories {
		#sidebar {
			@media (max-width: $screen-xs-max) { 
			background:none;
			}
			.sidebar {
				background:none;
				border:none;
				box-shadow: none;
			}
			@media (max-width: $screen-xs-max) { 
				//display: block;
				width:100%;
			 }
			 .sidebar {
			 	@media (max-width: $screen-xs-max) { 
				display: none;
				width:100%;
				
			 }
			 }
			.section {
				margin-bottom: 12px;
				background:$color_fff;
				border-top: 3px solid $color-accent;
				border-left: 1px solid $color_ebebeb;
				border-right: 1px solid $color_ebebeb;
			}
		}
	}
}

#filter_style,
.filter-droplist,
.filter-enum,
#note_client {
	.form-group {
		margin-bottom: 5px;
	}
}

#note_client {
	.form-group {
		.note {
			top: -2px;
			position: relative;
		}
	}
}