.nav-tabs {
    height: 40px;
}

#catalog_image_grid .actions {
    height: 33px;
}

#catalog_image_grid_massaction {
    height: 75px;
}
.widget .col-md-8 {
    padding-bottom: 5px;
}

.sidebar-fixed,
  #sidebar {
#    position: fixed !important;
#    top: 52px;
}
