.header {
	background: none !important;
}
.z-grid .pager { 
	text-align: left !important; 
}
.wrapper { 
	width: auto !important; 
	min-width: 960px; 
	margin: 20px;
}
.grid.z-grid tbody td{
	background: #e7efef;
}
.grid.z-grid tbody td.required-cell{
	background: #fecccc;
}
.grid.z-grid table tfoot tr td{
	border-top: inherit;
}
.grid.z-grid table tbody a{
	color: #267DB7;
	font-weight: normal;
	border-bottom: 1px #267DB7 dotted;
}	
.grid.z-grid table tbody a:hover{
	border-bottom-style: solid;
}
.grid.z-grid table{
	padding-bottom: 0;
}
.grid.z-grid .filter-field-100 input.input-text,
.grid.z-grid .filter-field-100 textarea.textarea{
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.z-grid .scope{
	color: #6f8992;
	font-size: .9em;
}

#zolagocatalog_mass_grid_confirm .totals {
	height: 29px;
}

#zolagocatalog_mass_grid_confirm .confirm-changes {
	position: absolute;
	left: 50%;
}

//Static Filters Section - Start
.staticFilter {
	width: 155px; 
}
.staticFilter option {
	/*width: 130px;*/
}
.filter-box {
	padding: 2px 0 2px 0;
	display: inline-block;
	width: 48.5%;
	vertical-align: top;
}
.filter-box .selectedFilter {
	display: inline-block;
	font-weight: bold;
}
.staticFilter-box .box {
	background: none repeat scroll 0 0 #EEEFFD;
	padding-bottom: 0;
}
.staticFilter-box .box .left, 
.staticFilter-box .box .right {
	width: 48.5%;
}	
.staticFilter-box .box .scalable {
	margin-top: 0px;
	margin-bottom: 5px;
}
.filterSearch {
	float: right;
}
//Static Filters Section - End