.header {background: none !important;}
.zolagocatalog-vendor-mass-index .pager { text-align: left !important; }
.zolagocatalog-vendor-mass-index .wrapper { width: auto; min-width: 960px; margin: 20px;}