#checkout  {
	#content-main {
		> .main {
			padding:30px 30px;
			@media (max-width:480px) {
				padding:30px 15px;
			}
		}
	}
	section {
		header {
			margin-left:-30px;
			margin-bottom:30px;
			h2 {
				font-weight: bold;
				font-family: $fontRegular;
				@media (max-width:480px) {
					padding-left: 45px;
				}
				@media (max-width:359px) {
					font-size: 16px;
				}
				&:before {
					@media (max-width:480px) {
					left: 14px;
					}
				}
			}
			p {
				margin-left: 35px;
			}
		}
	}
	h4 {
		margin-top:10px;
		margin-bottom:15px;
		padding:0;
	}
	fieldset {
		> h4 {
			margin-top:0px;
		}
	}
	.panel {
		@include border-radius(2px);
		border-color:$bc-primary;
		&.panel-color {
				background:$panel-top;
			}
		.panel-body {
			position:relative;

			.current-addres,
			.top-panel {
				margin:-15px -15px 0 -15px;
				padding:15px;
				border-bottom: 1px solid $bc-primary;
				background:$panel-top;
			}
			.top-panel {
				h4 {
					font-family: $fontRegular;
					font-weight: 700;
					font-size: 14px;
					margin-top: 0px;
					margin-bottom: 15px;
					&.default {
						margin-top:10px;
					}
				}
				&+.panel-default {
					
						margin-top:15px;
					&+.panel-default {
						margin-top:0px;
					}
				}
			}
			dl.pull-left {
				
			}
			.btn-select {
				position:absolute;
				right:15px;
				bottom:15px;
				@media (max-width:360px) {
					position:static;
					margin-top:15px;
					clear:both;
					float: none!important;
				}
			}
		}
		.panel-heading {
				background: none;
				border-bottom: none;
				text-transform: uppercase;
				color:#000;
				padding-top: 25px;
			}
		.panel-footer {
			background:transparent;
			border:none;
			padding: 0 15px 15px;
		}
		
		&.current {
			border-color:$bc-secondary;
		}
		.panel {
			h4 {
				text-transform: uppercase;
				@media (max-width:359px) {
					font-size: 16px;
				}
			}

			.form-group {
				.form-group {
					margin-bottom: 0px;
					padding-right: 5px;
					&.col-xs-6 {
						@media(min-width: 730px) and (max-width:767px) {
							max-width:264px!important
						}
					}
					&+.form-group {
						padding-right: 15px;
						padding-left: 5px;
					}
				}
			}
			
		}
	}

	
	dd.separator {
		margin-top:15px;
		&.large {
			@media(min-width:481px) {
				//margin-bottom: -15px;
				margin-top: 25px;
			}
			
		}
	}
	dd.action {
		a {
			margin-right: 15px;
			@media(max-width:359px) {
				font-size: 12px;
			}
		}
	}
	#invoice {
		margin-bottom: 15px;
	}
	.staining_delivery_address {
		position:absolute;
		right:15px;
		bottom: -7px;
		margin-top:-10px;
		text-transform: uppercase;
		font-weight: bold;
		@media (max-width:640px) {
				position: static;
				padding-top: 15px;
				display: block;
				clear: both;
				margin-bottom: 0px;
				}
	}
	.border-top {
		border-top:1px solid $gray-lighter;
		padding-top: 15px;
		@media (max-width:767px) {
			padding-top: 6px;
		}
		&:first-child {
			border-top:none;
		}
	}
	.sidebar-second {
		.main {
			//padding:15px 30px;
			padding:30px 30px;
			margin-bottom: 15px;
			@media (max-width:480px) {
				padding:15px 15px;
			}
		}
		.main {
			&.p {
				h2 {
					padding-left: 25px;
				}
			}
		}
		header {
			margin-left:-30px;
			margin-bottom:15px;
			@media (max-width:481px) and (max-width:767px) {
				margin-left:-15px;
			}
			@media (max-width:480px) {
				margin-left:-30px;
			}
		}
		h2 {
			font-size: 18px;
			font-family: "latoregular";
			line-height: 18px;
			text-transform: uppercase;
			text-align: left;
			cursor: pointer;
			white-space: nowrap;
			padding: 0px;
			position: relative;
			display: block;
			height: 18px;
			overflow: hidden;
			padding-left: 25px;

			margin-bottom: 8px;
			margin-top: 0px;
			@media (max-width:480px) {
					padding-left:45px;
				}
			&:before {
				content: ' ';
				display: block;
				width: 18px;
				height: 18px;
				position: absolute;
				left: 0px;
				top: 0px;
				background: $color-accent;
				@media (max-width:480px) {
					left: 14px;
				}
				}
		}
		h4 {
			font-size: 13px;
			font-weight: bold;
			text-transform: uppercase;
		}
		ul,ol {
			margin-left:0px;
			padding-left:25px;
		}
	}
	#sidebar {
		.main {
			padding:15px 30px;
			margin-bottom: 15px;
			@media (max-width:480px) {
				padding:15px 15px;
			}
		}
		header {
			margin-left:-30px;
			margin-bottom:15px;
			
		}
		h2 {
			font-size: 18px;
			font-family: "latoregular";
			line-height: 18px;
			text-transform: uppercase;
			text-align: left;
			cursor: pointer;
			white-space: nowrap;
			padding: 0px;
			position: relative;
			display: block;
			height: 18px;
			overflow: hidden;
			padding-left: 25px;

			margin-bottom: 8px;
			margin-top: 0px;
			@media (max-width:480px) {
					padding-left:45px;
				}
			&:before {
				content: ' ';
				display: block;
				width: 18px;
				height: 18px;
				position: absolute;
				left: 0px;
				top: 0px;
				background: $color-accent;
				@media (max-width:480px) {
					left: 14px;
				}
				}
		}
		h4 {
			font-size: 13px;
			font-weight: bold;
			text-transform: uppercase;
		}
		ul,ol {
			margin-left:-15px;
			margin-right:-15px;
			padding-left:0;
		}
		.list-group {
			li {
				border:none;
				&.list-group-item {
					padding:5px 0px 5px 5px;
				}
				a {
					font-size: 13px;
					//font-family: $fontLight;
				}
				&.active,
				&:hover {
					a {
						//font-family: $fontRegular;
					}
				}
			}
		}
	}
	form {
		.form-group {
			margin-bottom: 10px;
			@media(max-width:767px) {
				margin-bottom: 15px;
			} 
			.form-group {
				margin-bottom: 0px;
			}
		}
		
		fieldset {
			margin-bottom: 15px;
			&.no-border {
				border:none;
				margin-bottom: 20px;
			}
			&.default_pay {
				.form-radio {
					margin-top:15px;
				}
			}
			&#doc_pay {
				.form-radio {
					
						@media(min-width:361px) and (max-width:767px) {
							width:150px!important;
						}
					
				}
			}
			legend {
				font-size: 14px;
				font-weight: bold;
				color:#000;
				padding-bottom: 15px;
				margin-bottom: 15px;
				border-color:$gray-lighter;
				&.first {
					@media(max-width:760px) {
					margin-bottom: 6px;
					}
				}
				
			}
			&#remember_data+.row {
				@media(max-width:480px) {
				//padding-left: 17px;
				}
			}
		}

		label {
			font-size: 12px;
			line-height: 29px;
			padding-right: 2px;
			text-align: right;
			font-weight: normal;
			@media (max-width: 767px) {
				text-align: left;
			}
			&.double-line {
					line-height: 1.2;
				}
		}

		.form-checkbox {
			margin-bottom: 15px;
			margin-left: 20px;
			
			@media (max-width: 767px) {
				margin-bottom: 10px;
			}
			@media (max-width: 480px) {
				//margin-left:0px;
			}
			&.default_pay {
				@media (max-width: 767px) {
					text-align: left
				}
				@media (max-width: 480px) {
					margin-left: 15px;
				}
			}
			
			label {
				line-height: 17px!important;
				height:auto;

			}
		}
      .form-radio {
        label {
          text-align: left;
          padding-left: 30px;
          line-height: 15px;
          width: 100%;
          span {
            position: relative;
            margin-bottom: -6px;
//            @media (max-width: 360px) {
//              top: -15px;
//            }
          }

        }
      }
		#default_pay_selected_bank {
			@media (max-width: 640px) {
			margin-bottom: 18px;
			}
		}
		#pay_01 {
			.form-radio {
				label {
					
					span {
						
						@media (max-width: 360px) {
							top: -6px;
						}
					}
				}
			}
		}
		#pay_02 {
			.selected_bank {
				padding-top:12px;
			}
		}
		

		input[type="text"],
		input[type="email"],
		input[type="password"],
		input[type="tel"] {
			height:29px;
			line-height: 29px;
			padding:0 15px 0 15px;
		}
		#remember_data {
			> .row {
				margin-bottom: 20px;
				&+.row {
					margin-bottom: 0;
				}
			}
		}
		#add_pass {
			
		}
		#login_social {
			position:relative;
			@media (min-width: $screen-sm-min) { 
			top:-32px;
			margin-bottom: -30px;
			}
			p {
				margin-bottom: 10px;
			}
			a {
				margin-right: 10px;
				&.g-plus {
					@media (min-width: $screen-sm-min) and (max-width: $screen-md-max){ 
					margin-bottom: 5px;
					}
					@media (max-width:339px) {
						margin-left:-10px
					}
				}
				&.fb {
					margin-right: 0px;
					@media (min-width: $screen-sm-min) and (max-width: $screen-md-max){ 
					margin-bottom: 5px;
					}
					@media (max-width:339px) {
						margin-right:-10px
					}
				}
			}
		}
		#payment_form_zolagopayment_gateway,
        #payment_form_zolagopayment_cc  {
				list-style: none;
				margin:0px;
				padding:0px;
				li {
					display:inline-block;
					width:132px;
					height:100px;
					margin-right: 10px;
					margin-bottom: 15px;
					@media (max-width: 380px){
						width:47%;
						height:89px;
					}
					@media (min-width: 380px) and (max-width: 400px){
						width:47%;
						height:100px;
					}
					@media (min-width: 401px) and (max-width: 640px){
						width:30.333%;
						height:100px;
					}
					@media (min-width: 641px) and (max-width: 767px){
						width:23%;
						height:110px;
					}
					@media (min-width: 768px) and (max-width: 992px){
						width:17.666%;
						height:110px;
					}
					@media (min-width: 993px){
						width:17.666%;
						height:110px;
					}
					
					&:nth-child(even) {
						@media (max-width: 400px){
							margin-right: 0px;
						}
					}
					&:nth-child(3n) {
						@media (min-width: 401px) and (max-width: 640px){
							margin-right: 0px;
						}

					}
					&:nth-child(4n) {
						@media (min-width: 641px) and (max-width: 767px){
							margin-right: 0px;
						}

					}
					&:nth-child(5n) {
						@media (min-width: 768px) and (max-width: 992px){
							margin-right: 0px;
						}
						@media (min-width: 993px){margin-right: 0px;}

					}
				}
				.form-group {
					position:relative;
				}
				label {
					position:absolute;
					top:0px;
					left:0px;
					padding-left:0px;
					line-height: 15px;
					width:auto;
					min-height:67px;
					text-align: center ;
					cursor:pointer;
					padding-right: 0px;
					img {
						border:1px solid $bc-primary;
						margin-bottom: 5px;
						padding:5px;
						background: #fff;
						width: 100%;
						height: auto;
					}
					span {
						position:static;
						
					}
					&:hover {
						img {
							border-color: #9F9F9F;//$bc-secondary;
						}
						span {
							//text-decoration: underline
						}
					}
				}
				input[type=radio]:checked + label {
					img {
						border-color: #9F9F9F;// $bc-secondary;
					}
					span {
						text-decoration: underline
					}
				}
			
		}
		.action {
			a {
				position:relative;
				//top:12px;
			}
			button {
				min-width: 120px;
			}
		}
		#remember_data {
			.row {
			margin-bottom: 0px;
			p {
				margin-bottom: 15px;
			}
			} 
		}
		.default_delivery {
			margin-bottom: 0px;
			&.small-no-float {
				@media(max-width:530px) {
					float:none!important;
					margin-bottom: 10px;
					clear:both;
				}
			}
			
		}
		.phone {
			@media (max-width:525px){
					display:inline-block;
					margin-bottom: 15px;
				}
				@media (max-width:359px){
					display:block;
					margin-bottom: 15px;
				}
			span {
				
				@media (max-width:359px){
					display:block;
					
				}
			}
		}
		#back {
			position:relative;
			top:12px;
		}
	}
	.text-align-left {
		label {
			text-align: left!important;
		}
		text-align: left!important;
	}
}


#checkout {
	#content-main {
		@media(max-width: $screen-xs-max) {
		padding-left: 0px;
		padding-right: 0px;
		}
	
	}
	.sidebar-second {
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			margin-top:-15px;
		}
		@media(max-width: $screen-sm-max) {
		padding-left: 15px;
		padding-right: 15px;
		}
		@media(max-width: $screen-xs-max) {
		padding-left: 0px;
		padding-right: 0px;
		}
	}
	.panel {
		box-shadow:none;
		background:$panel-bottom;
	}
	.current-addres {
		+ .panel {
			margin-top: 15px;
			&+ .panel {

			}
		}
		
	}
		.toggle {
				display:none;
			
		}
		.panel-body {
			dl {
				margin-bottom: 0px;
				&.pull-left {
					&.small-no-float {
						@media (max-width:360px) {
							//clear:both;
							float: none!important;
						}
					}
				}
				&+figure {
					@media (max-width:480px) {
					width: 115px;
					}
					img {
						@media (max-width:480px) {
						width: 100%;
						}	
					}
				}
			}
			.panel {
				display:none;
				margin-bottom:15px;
				background:#fff;
				&.selected {
					border-color :$bc-secondary;
					.selected_bank {
						display:block;
						margin-top: 21px;
					}
				}
			}
		}
		#block_invoice {
			display:none;
		}
		.button-primary {
			min-width: 130px;
		}
		.default_pay {
		> .panel {
			> .panel-body {
				> .panel {
					display:block;
					&:hover {
						border-color :$bc-secondary;
					}
					&:last-child {
						margin-bottom: 0px;
					}
				}
			}
		} 
		.selected_bank {
			display:none;
		}
		.flag_pay_method {
			@media (max-width: $screen-xs-max) {
						display:none;
					}
		}
	}
	.sidebar-second {
		dl {
			
		}
	}
}


.logged {
	#checkout {
		.default_pay {
		> .panel {
			> .panel-heading {
				padding-bottom: 0px;
				&+ .panel-body {
					.default_pay_selected_bank {
						figure {
						position:relative;
						top:-35px;
						margin-bottom: -20px;
						}
					}
				}
			}
			> .panel-footer {
				text-align: right;
			}
			> .panel-body {
				.default_pay_selected_bank {
					text-align: right;
					figure {
						
					}
				}
				> .panel {
					display:none;	
					}
					.form-checkbox.default_pay {
						margin-bottom: 0px;
					}
				} 
			}
		}
	}
}

#invoice_data {
	display:none;
}

#zmien_produkty {
	@media(max-width: 480px){
		//display:none;
	}
}