.node-type-customer-account-login {
	h2 
	#content {
		padding-top: 0px;
	}
	#header-main {
		padding-top:0px;
		padding-bottom:0px;
	}
	#header {
		@media (max-width: $screen-xs-max) {
		min-height: 41px;
		}
	}
	.header_bottom {
		@media (max-width: $screen-xs-max) {
			display:none;
		}
	}
}

#logIn {
	//padding-top:30px;
	@media (max-width: $screen-xs-max) {
		padding-top:0px;
		}
	.main {
		padding:30px 30px;
			@media (max-width: $screen-xs-max) {
				margin-left: -15px;
				margin-right: -15px;
				padding:20px 30px;
			}
			@media(max-width: 360px){
				margin-left: -20px;
				margin-right: -20px;
			}
		.section {
			padding:0px;
		}
		header {
			margin-left:-30px;
			height:70px;
			h2 {
				font-weight: bold;
				font-family: $fontRegular;
			}
			p {
				margin-left: 35px;
			}
		}
	}
	.form-horizontal {
		.form-group {
			@media (max-width: $screen-md-min) {
				margin-left: -10px;
				margin-right: -10px;
			}
			
		}
	}
	.form-list {
		margin:0px 0px 10px 0px;
		padding:0px;
		list-style: none;
		label {
			font-weight: normal;
			line-height: 16px;
			white-space:nowrap;
			margin-bottom: 5px;
			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				text-align: left;
			}
			@media (max-width: $screen-xs-max) {
				//text-align: right;
			}
		}
		input[type="text"],
		input[type="email"],
		input[type="password"] {
			height:29px;
			line-height: 29px;
			padding:0 15px 0 15px;
		}
		input[type="text"]:focus,
		input[type="email"]:focus,
		input[type="password"]:focus {
			background:#fff;
		}
		label[for="pass"] {
			position: relative;
			//top: 15px;
			@media (max-width: $screen-sm-max) {
				position:static;
			}
		}
		.inner-form-group {
			position:relative;
			width:100%;
			@media(min-width: $screen-sm-min) {
				//padding-top: 15px;
				padding-bottom: 15px;
			}
			
		}
		.forgot-password {
			position:absolute;
			white-space: nowrap;
			top:-20px;
			font-size: 12px;
			
		}
		#pass {
			&+.forgot-password {
				top:auto;
				bottom:-8px;
			}
		}
		.form-checkbox {
			margin-left: 5px!important;
			label {
				line-height: 17px;
				&.remember_this {
					
				}
			}
			.badge {
				border-radius: 0;
				background: #5e5e5e;
				font-weight: normal;
				margin-left:4px;
				cursor:pointer;
			}
		}	
		.col-sm-offset-3 {
			padding-left: 25px;
		}	
	}
	footer {
		padding-top:19px;
		border-top:1px solid $bc-primary;
		text-align: left;
		.button {
			margin: 0 9px 0 0;
			@media (max-width: $screen-xs-max) {
				margin-bottom: 5px;
			}
		}
		.btn-social.fb {
			
		}
	}
	.buttons-set {

	}
	.benefits {
		margin-left:10px;
		margin-bottom: 10px;
		//height: 102px;
		@media (min-width: $screen-lg) {
			height: 102px;
		}
		@media (min-width: 889px) and (max-width: 991px) {
			height: 147px!important;
		}
		@media (max-width: $screen-md-max) {
			height: 102px;
		}
		@media (max-width: $screen-sm-max) {
			height: 161px;
		}
		@media (max-width: $screen-xs-max) {
			height: auto;
		}
	}
}
#logIn {
	.column-block {
		.col-01,
		.col-02 {
			position:relative;
			padding-bottom: 175px;
			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				padding-bottom: 143px;
			}
			@media (max-width: $screen-xs-max) {
				padding-bottom: 146px;
			}
		}
		.footer-section {
			position:absolute;
			bottom:0px;
			left:0px;
			right:0px;
			width:auto;
			margin:0 35px;
			padding-bottom: 27px;
			height: 85px;

			@media (max-width: $screen-xs-max) {
				//height:auto;
			}
			.button  + .button + .button  {
				margin-right: -5px!important;
				@media (max-width: 340px) {
					margin-right: -18px!important;
				}
			}
			.button-primary {
				position:relative;
				top:-78px;
				margin-bottom: -78px!important;
				margin-right: 0px!important;
				min-width: 150px;
				@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
					top:-78px;
					margin-bottom: -78px!important;
				}
				@media (max-width: $screen-xs-max) {
					top:-78px;
					margin-bottom: -78px!important;
				}
			}
			.g-plus {
				@media (max-width: 340px) {
					margin-left: -10px!important;
				}
			}
			.fb {
				@media (max-width: 340px) {
					margin-right: -18px!important;
				}
			}
		}
		.col-01 {
			margin-bottom: 30px;
		}
		.col-02 {

			@media (max-width: $screen-xs-max) {
				padding-bottom: 83px !important;
				margin-bottom: 5px;
			}
			.footer-section {
				border:none!important;
				@media (max-width: $screen-xs-max) {
					height:auto;
					padding-bottom: 30px;
					overflow: hidden;
					//position:static;
				}
				.button-primary {
					top:-80px;
					@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
						top:-80px;
					}
					@media (max-width: $screen-xs-max) {
					position:static;
					margin-bottom: 0px!important;
					//float:right;
					}
				}
				
			}
		}
	}
}