/* FOOTER */
//@import "../vendor/variables";
//@import "other/variable";
/*footer*/
 #footer {
    background-color: #000000;
}
.footer-black {
    min-height: 100px;
    padding-top: 27px;
    background-color: #000000;
    color:#ffffff;
    padding-bottom: 10px;
    overflow: hidden;
   a:link,
   a:visited {
     color:#ffffff;
     text-transform: uppercase;
   }
   .footer-logo {
       margin-left: 0;
       text-align: left;
       top: 0;
       position: static;
       display: inline-block;
       float: left; }
    .footer-about {
        position: relative;
        top: 10px;
        margin-left: 21.68367346938776%; 
        float:left;
        //@media (min-width: $screen-sm-min) { margin-left:0; float:right;margin-right: -15px; margin-top:-15px }
        @media (min-width: $screen-md-min) { margin-left: 8.683673%;float:left ;margin-right: inherit; margin-top:inherit  }
        @media (min-width: $screen-lg-min) { margin-left: 17.683673%;  }
        ul {
            margin-left: 0px;
            padding-left: 0px;
        }
        li {
            display: inline-block;
            margin: 0 10px;
             a:link,
             a:visited {
                font-size: 12px;
             } 
             a:hover {
                text-decoration: underline;
             }
        }
    }
    .footer-connect {
        display: inline-block;
        float: right;
        font-size: 12px;
        position: relative;
        clear: right;
        top: 8px; 
        > span {
            float: left;
            line-height: 25px;
            margin-right: 10px; 
            text-transform: uppercase;
            word-spacing:4px;
        }
    }
}

.footer-payment {
    float:left;
}


#footer {
    [class^=ico_] {
        background:$socialMap;
        @include inline-block;
         margin-left: 15px;
         &:first-child {

         }
         
    }
    .ico_social_twitter {
        @include sprite($socialMap, ico_social_twitter);    
        @include sprite-dimensions($socialMap, ico_social_twitter);
        @media (max-width: 320px) {
            margin-left: 0!important;
        }
        &:hover {
            @include sprite($socialMap, ico_social_twitter);
        }
    }
    .ico_social_fb {
        @include sprite($socialMap, ico_social_fb);    
        @include sprite-dimensions($socialMap, ico_social_fb);
        margin-left: 8px;
        &:hover {
            @include sprite($socialMap, ico_social_fb_hover);
        }
    }
    
    .ico_social_instagram {
        @include sprite($socialMap, ico_social_instagram);    
        @include sprite-dimensions($socialMap, ico_social_instagram);
        margin-left: 9px;
        &:hover {
            @include sprite($socialMap, ico_social_instagram);
        }
    }
    .ico_social_gplus {
        @include sprite($socialMap, ico_social_gplus);    
        @include sprite-dimensions($socialMap, ico_social_gplus);
        margin-left: 16px;
        &:hover {
            @include sprite($socialMap, ico_social_gplus);
        }
    }
    .ico_social_pinterest {
        @include sprite($socialMap, ico_social_pinterest);    
        @include sprite-dimensions($socialMap, ico_social_pinterest);
        margin-left: 12px;
        &:hover {
            @include sprite($socialMap, ico_social_pinterest);
        }
    }
}




.footer-gray-wr {
    background-color: #2e2e2e;
    border-top: 1px solid #242424;
    line-height: 32px;
    padding:10px 0 ;
    a {
        color:#828282;
    }
}
.footer-gray-wr>div>div>div {
    color: #828282;
    font-size: 11px;
   
    
}

.copy {
    text-align: center;
    position: relative;
    left: -80px;
}

.footer-pay-visa, .footer-pay-master, .footer-pay-paypal {
    height:22px;
    width:33px;
    background:url("../images/ico-payment-options.png")no-repeat;
    display:inline-block;
    margin-left:18px;
    position:relative;
    top:5px;
}
.footer-pay-master {
    background-position: -34px 0px;
    width: 35px;
}
.footer-pay-paypal {
    background-position: -69px 0px;
    width: 37px;
}
.footer-pay-visa {
    margin-left:0px;
}




@media (max-width: $screen-sm-max) { 
   #footer {
       
            
            &.footer-black {

                    min-height: 117px;
                    padding-top: 10px;
                    background-color: #000000;
                    color:#ffffff;
                    
                position:relative;
            }
       
        .footer-logo {
            text-align: left;
            width:113px;
            position:absolute;
            top:-9px;
            right:0px;
            >a {
                img {
                    width:100%;
                    height:auto;

                }
            }
        }
        .footer-about {
            padding-top: 10px;
            margin-left: 0px;
           
            >ul {
                list-style-type: none;
                margin: 0px 0 0 0;
                padding: 0px;
                text-align: left;
                position: relative;
                top:-30px;
                >li {
                    text-transform: uppercase;
                    margin:0px;
                    padding:0px;
                    padding-left: 0;
                    display:block;
                    margin-bottom: 5px;
                    
                    >a {
                        color: #ffffff !important;
                        font-size: 12px; 
                    }
                }
            }
        }
        .footer-connect {
            text-transform: uppercase;
            text-align: left;
            margin-left:0;
            margin-bottom: 10px;
            float:left;
            clear:left;
                >span {
                display:inline-block;
                position: relative;
                margin-right: 10px;
                top:-5px;
                font-size: 11px;  
                line-height: 1.2; 
                padding-top:8px ; 
                @media (max-width: 320px) {
                    display: block;
                    width: 100%;
                    margin-bottom: 5px;
                }          
            }
        }
        .footer-gray-wr {

            .footer-utils {
                overflow:hidden;
                padding:0 10px;
                //float:right;
                a {
                    float:left;
                    &+a {
                        float:right;
                        margin-left:20px;
                    }
                }
            }
        }
        .copy {
            text-align: center;
            position: relative;
            left: 0;
        }
// END FOOTER
   }


}

.noscroll {
    #footer {
        position:absolute!important;
    }
}