<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Core>
            <version>0.1.0</version>
        </Zolago_Core>
    </modules>
    <global>
        <models>
            <zolagocore>
                <class>Zolago_Core_Model</class>
                <resourceModel>zolago_core_resource</resourceModel>
            </zolagocore>
            <zolagocore_resource>
                <class>Zolago_Core_Model_Resource</class>
            </zolagocore_resource>
            <core>
                <rewrite>
                    <design_package>Zolago_Core_Model_Design_Package</design_package>
                </rewrite>
            </core>
        </models>
        <blocks>
            <zolagocore>
                <class>Zolago_Core_Block</class>
            </zolagocore>
        </blocks>
        <helpers>
            <zolagocore>
                <class>Zolago_Core_Helper</class>
            </zolagocore>
        </helpers>
        <resources>
            <zolagocore_setup>
                <setup>
                    <module>Zolago_Core</module>
                </setup>
            </zolagocore_setup>
        </resources>
    </global>
</config>