<?xml version="1.0"?>
<config>
    <modules>
        <StandAlone_Bundle>
            <version>0.0.1</version>
        </StandAlone_Bundle>
    </modules>
    <global>
        <models>
            <sabundle>
                <class>StandAlone_Bundle_Model</class>
                <resourceModel>sabundle_resource</resourceModel>
            </sabundle>
            <sabundle_resource>
                <class>StandAlone_Bundle_Model_Resource</class>
            </sabundle_resource>
        </models>
        <blocks>
            <sabundle>
                <class>StandAlone_Bundle_Block</class>
            </sabundle>
        </blocks>
        <helpers>
            <sabundle>
                <class>StandAlone_Bundle_Helper</class>
            </sabundle>
            <bundle>
                <rewrite>
                    <catalog_product_configuration>StandAlone_Bundle_Helper_Catalog_Product_Configuration</catalog_product_configuration>
                </rewrite>
            </bundle>
        </helpers>
        <resources>
            <sabundle_setup>
                <setup>
                    <module>StandAlone_Bundle</module>
                </setup>
            </sabundle_setup>
        </resources>
    </global>
</config>