// dimensions
.small-banners {
    .row {
        margin: 0 -20px;
        @media (max-width: 767px) {
            div:nth-child(3) {
                clear:both;
            }
        }
    }
}

// smaller paddings
.tight-padding {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 5px;
    img {
        width: 100%;
    }
}

.inner-padding-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.popular-shops {
    overflow-y:hidden;
    max-height: 503px;
    >h3 {
        margin-top: 20px;
        margin-bottom:28px;
    }
    .pop-shop-lst {
        display: inline-block;
        width: 130px;
        zoom:1;
        *display: inline;
        >li:last-child{
            margin-bottom: 100px;
            padding-left: 0!important;
            -webkit-padding-start: 0px !important;
        }
        >li {
            >a {
                width: 130px;
                display: block;
                margin-bottom:35px;
                >span {
                    margin-top: 15px;
                    display: block;
                }
                >span.pop-shop-img-wr {
                    height: 74px;
                    width: 100%;
                    margin-top: 0;
                }
            }
        }
    }
}


.pop-shop-seemore {
    display: block;
    width: 245px;
    height: 38px;
    margin: 0 auto;
    margin-top:-38px;
    margin-bottom: 28px;
}

.popular-shops:after {
    content: "";
    width: 100%;
    display: inline-block;
}

#block-bundle {

    &.col-lg-7 {
        float: none;
        margin-left: 435px;
        width: auto;
        padding-right: 20px;
        @media (min-width: 767px) and (max-width: 931px) {
            margin-left: 335px;
        }
        @media  (max-width: 767px) {
            margin-left: inherit;
            float:inherit;
            margin-left: inherit;
            width: inherit;
        }
        @media  (max-width: 360px) {
            padding-right: 10px;
            padding-left: 10px;
        }

        .col-lg-4 {
             @media (min-width: $screen-lg-min) { 
                padding-left: 0px;
                width:30.33333%;
             }
        }

    }
    
    #product-shop {
        overflow-x: hidden;
        &.col-lg-8 {
            padding-left:0px;
            @media (max-width: 1199px) { //$screen-lg-min
                padding-right: 0px;
            }
             @media (max-width: 320px) { 
                padding-right: 0;
            }
        }
        &.overflow-x-fix {
          overflow: visible;
        }
    }
}

.lower-breadcrumbs {
  #header-main {
    padding-bottom: 0;
    padding-top: 0;
  }
}