<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Customer>
            <version>0.0.1</version>
        </Zolago_Customer>
    </modules>
    <global>
        <models>
            <zolagocustomer>
                <class>Zolago_Customer_Model</class>
                <resourceModel>zolagocustomer_resource</resourceModel>
            </zolagocustomer>
            <zolagocustomer_resource>
                <class>Zolago_Customer_Model_Resource</class>
                <entities>
                    <emailtoken>
                        <table>zolago_customer_emailtoken</table>
                    </emailtoken>
                </entities>
            </zolagocustomer_resource>
        </models>
        <helpers>
            <zolagocustomer>
                <class>Zolago_Customer_Helper</class>
            </zolagocustomer>
        </helpers>
        <blocks>
            <zolagocustomer>
                <class>Zolago_Customer_Block</class>
            </zolagocustomer>
        </blocks>
        <resources>
            <zolagocustomer_setup>
                <setup>
                    <module>Zolago_Customer</module>
                </setup>
            </zolagocustomer_setup>
        </resources>
        <template>
            <email>
               <zolagocustomer_confirmemail>
                   <label>Confirm email</label>
                   <file>zolagocutomer_confirm_email.html</file>
                   <type>html</type>
               </zolagocustomer_confirmemail>
            </email>
        </template>
    </global>
    <frontend>
        <routers>
            <zolagocustomer>
                <use>standard</use>
                <args>
                    <module>Zolago_Customer</module>
                    <frontName>zolagocustomer</frontName>
                </args>
            </zolagocustomer>
            <customer>  
                <args>  
                    <modules>  
                        <Zolago_Customer before="Mage_Customer">Zolago_Customer</Zolago_Customer>  
                    </modules>  
                </args>  
            </customer> 
        </routers>
        <translate>
            <modules>
                <Zolago_Customer>
                    <files>
                        <default>Zolago_Customer.csv</default>
                    </files>
                </Zolago_Customer>
            </modules>
        </translate>
        <layout>
            <updates>
                <zolagocustomer>
                    <file>zolagocustomer.xml</file>
                </zolagocustomer>
            </updates>
        </layout>
    </frontend>
</config>
