#help-mobile-menu {
  h1 {
    font-size: 18px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: center;
    text-transform: uppercase;
  }
}

#help-contact-msg-fix{
  .visible-xs {

    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    min-height: 0px;
    ul.messages {
      margin-bottom: 10px!important;
    }
  }

}

#contact-container {
  border-top-width: 0px;
}

ul.form-list {
  @media(max-width: $screen-xs-max) {
    padding-left: 0;
  }
  list-style: none;
}
.buttons-set button {
  margin-bottom: 20px;
  float: right;
  margin-top: -34px;
}