#rma-page {
	.rma-page-header {
		margin-bottom: 20px;
		@media(max-width:$screen-xs-max) {
			margin: 0 -15px 20px;
		}
		.rma-page-header1 {
			font-size: 30px;
		}
		.rma-page-header2 {
			font-size: 30px;
			span.bigger {
				font-size: 36px;
			}
		}
		@media(max-width: $screen-sm-max) {
			.rma-page-header1 {
				font-size: 20px;
			}
			.rma-page-header2 {
				font-size: 20px;
				span.bigger {
					font-size: 26px;
				}
			}
		}
	}
	.rma-page-footer {
		margin-top: 30px;
		text-align: center;
		a.button {
			white-space: normal;
			margin-bottom: 30px;
			text-decoration: none;
		}
		a {
			text-decoration: underline;
		}
	}
	.benefits {
		.benefit-item {
			font-family: $fontRegular !important;
			.benefit-text.benefit-text-rma {
				margin-left: 5%;
			}
			&:first-child {
				.benefit-text.benefit-text-rma {
					margin-left: 0;
				}
			}
			@media(max-width: $screen-sm-max) {
				&:nth-child(3) {
					.benefit-text.benefit-text-rma {
						margin-left: 0;
					}
				}
			}
			@media(max-width: 380px) {
				text-align: center;
				width: 100%;
				.benefit-text.benefit-text-rma {
					margin: 0 0 10px;
				}
			}
		}
		@media(max-width: 500px) {
			padding: 0;
		}
	}

}

.sales-rma-history {
	#rma-page {
		.rma-page-header {
			@media(max-width: $screen-xs-max) {
				margin: 0 0 20px;
			}
		}
		.benefits {
			padding: 0 15px !important;
			@media(max-width: 380px) {
				padding: 0 !important;
			}
			.benefit-item {
				@media(max-width: $screen-sm-max) {
					width: 50%;
					border:none !important;
					.benefit-text {
						h3 {
							width: auto !important;
						}
					}
				}
				@media(max-width: 380px) {
					text-align: center;
					width: 100%;
					.benefit-text.benefit-text-rma {
						margin: 0 15px 10px;
					}
				}
			}
		}
	}
}