#header {
    [role="search"] {
        border-bottom:none;
        .form-group {
            input[type="text"] {
                color: $colorHeaderSearch;
                font-size: 12px;
                @include border-radius(0px);
                box-shadow: none;
            	background-color: $colorHeaderSearchBg;
				border: 1px solid $colorHeaderSearchBorder;
	            padding: 0 10px;
            }
        }
        .select-box {
			.selectboxit.form-control.select-styled {
				border-top: 1px solid $colorHeaderSearchBorder;
				border-bottom: 1px solid $colorHeaderSearchBorder;
			}
            &:before {
                border-left:1px solid $colorHeaderSearchBorder;
            }
        }
	    .form-control.select-styled.search-context {
		    border-top: 1px solid $colorHeaderSearchBorder;
		    border-bottom: 1px solid $colorHeaderSearchBorder;
		    border-right: none;
		    border-left: none;
	    }
    }
}

#header {
	[role="search"] {
		margin:0px;
		margin-top: 13px;
		padding: 0;
		width: 282px;
		.form-group {
			float: left;
			//width:119px ;
			input[type="text"] {
				height: 35px;
				width: 236px;
				padding-left: 15px;
				float: left;
			}
		}
		.select-box {
			float: left;
			width:134px;
			position:relative;
			&:before {
				content: ' ';
				display: block;
				height: 13px;
				width: 0px;
				position: absolute;
				left: 0px;
				top: 50%;
				margin-top: -6px;
				z-index: 1;
			}
		}
	}
}