#help-content {
	@media(max-width: $screen-xs-max) {
		margin-top: 4px;
	}
	.row {
		margin-bottom: 10px;
		@media(max-width: $screen-xs-max) {
			margin-bottom: 4px;
		}
		.help-tile {
			&:first-child {
				padding-left: 10px;
				padding-right: 5px;
			}
			&:last-child {
				padding-left: 5px;
				padding-right: 10px;
			}
			@media(max-width: $screen-xs-max) {
				&:first-child {
					padding-left: 0;
					padding-right: 2px;
				}
				&:last-child {
					padding-left: 2px;
					padding-right: 0;
				}
			}
			.help-tile-container {
				background-color: white;
				border: 1px solid $color-gray3;
				height: 200px;
				padding: 30px 20px 30px 30px;
				display: block;
				@media(max-width: $screen-sm-max) {
					padding: 20px 10px 20px 20px;
					height: 180px;
				}
				@media(max-width: $screen-xs-max) {
					text-align: center;
					padding: 20px 10px 10px;
				}
				@media(max-width: 469px) {
					padding: 10px 5px;
					height: 150px;
				}
				&:hover {
					border-color: #C2C2C2;
				}
				&.help-tile-container-promo {
					background-image: url('../images/help/promolabels.png');
					background-position: 20px 0;
					background-repeat: no-repeat;
					background-size: auto 80%;
					@media(max-width: $screen-xs-max) {
						background-position: center top;
						background-size: auto 70%;
					}
					@media(max-width: 469px) {
						background-size: auto 68%;
					}
				}
				.help-tile-content {
					background-position: 0 center;
					background-size: 110px 110px;
					background-repeat: no-repeat;
					padding-left: 140px;
					height: 90%;
					@media(max-width: $screen-sm-max) {
						padding-left: 130px;
					}
					@media(max-width: $screen-xs-max) {
						padding: 111px 0 0;
						background-position: center 0;
						background-size: 96px 96px;
						&.help-tile-long-title {
							padding-top: 97px;
						}
					}
					@media(max-width: 469px) {
						padding: 94px 0 0;
						background-size: 80px 80px;
						&.help-tile-long-title {
							padding-top: 84px;
						}
					}
					&.help-tile-faq {
						background-image: url('../images/svg/help_faq.svg');
					}
					&.help-tile-orders {
						background-image: url('../images/svg/help_orders.svg');
					}
					&.help-tile-rma {
						background-image: url('../images/svg/benefits_return.svg');
					}
					&.help-tile-contact {
						background-image: url('../images/svg/help_contact.svg');
					}
					&.help-tile-promo {
						background: none;
					}
					&.help-tile-sellers {
						background-image: url('../images/svg/help_sellers.svg');
					}
					.help-tile-title {
						margin: 10px 0 20px;
						font-size: 16px;
						font-family: $fontBlack;
						@media(max-width: $screen-sm-max) {
							margin: 7px 0 14px;
						}
						@media(max-width: 469px) {
							font-size: 12px;
						}
					}
					.help-tile-subtitle {
						margin: -10px 0 10px;
						font-family: $fontLight;
						@media(max-width: $screen-sm-max) {
							margin: -7px 0 7px;
						}
						@media(max-width: $screen-xs-max) {
							display: none;
						}
					}
					ul.help-tile-list {
						padding: 0 0 0 16px;
						margin: 0;
						@media(max-width: $screen-xs-max) {
							display: none;
						}
						&.help-tile-list-nopointers {
							list-style: none;
							padding: 0;
						}
						li {
							line-height: 16px;
						}
					}
					.help-tile-text {
						@media(max-width: $screen-xs-max) {
							display: none;
						}
					}
					.help-tile-title-divider {
						display: none;
						@media(max-width: $screen-xs-max) {
							display: block;
						}
					}
				}
			}
		}
	}
}