.rwdCarousel {
//	width: 100%;
	padding:15px 25px;
	position:relative;
	//display: inline-block;
	@media (max-width: $screen-sm-min) { 
		clear:both;
	 }
}
/* clearfix */
.rwd-carousel .rwd-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.rwd-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
	.rwd-wrapper{
		display: none;
		position: relative;
		-webkit-transform: translate3d(0px, 0px, 0px);
//        margin: 0 -5px;
	}
	.rwd-wrapper-outer{
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	.rwd-wrapper-outer {
		&.autoHeight{
		-webkit-transition: height 500ms ease-in-out;
		-moz-transition: height 500ms ease-in-out;
		-ms-transition: height 500ms ease-in-out;
		-o-transition: height 500ms ease-in-out;
		transition: height 500ms ease-in-out;
		}
	}
	.rwd-item{
		float: left;
//        margin:0 5px 0 5px;
	}
	.rwd-page,
	.rwd-buttons div{
		cursor: pointer;
	}
}

.rwd-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.customNavigation {
	a {
		font-size: 30px;
		color:$color_ccc;
		position:absolute;
		top:50%;
		margin-top:-10px;
		cursor:pointer;
		&:hover {
			color:$color_808080;
		}
		&.prev {
			left:0px;
		}
		&.next {
			right:0px;
		}
	}
}
.block-promoted-banners {
	.rwd-controls {
		.rwd-buttons {
			.rwd-prev,
			.rwd-next {
				font-size: 30px;
				color:$color_ccc;
				position:absolute;
				top:50%;
				margin-top:-20px;
				cursor:pointer;
				&.disabled {
					visibility:hidden;
				}
				&:hover {
					color:$color_808080;
				}
			}
			.rwd-prev {
				left:-20px;
			}
			.rwd-next {
				right:-20px;
			}
		}
	}
}
.block-inspiration {
	.rwd-controls {
		.rwd-buttons {
			.rwd-prev,
			.rwd-next {
				font-size: 30px;
				color:$color_ccc;
				position:absolute;
				top: 37%;
				margin-top:-10px;
				cursor:pointer;
				&.disabled {
					visibility:hidden;
				}
				&:hover {
					color:$color_808080;
				}
			}
			.rwd-prev {
				left:-55px;
			}
			.rwd-next {
				right:-55px;
			}
		}
	}
}


/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.rwd-carousel  {
	.rwd-wrapper,
	.rwd-item {
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility:    hidden;
		-ms-backface-visibility:     hidden;
	  -webkit-transform: translate3d(0,0,0);
	  -moz-transform: translate3d(0,0,0);
	  -ms-transform: translate3d(0,0,0);
	}
}

.rwd-origin {
	-webkit-perspective: 1200px;
	-webkit-perspective-origin-x : 50%;
	-webkit-perspective-origin-y : 50%;
	-moz-perspective : 1200px;
	-moz-perspective-origin-x : 50%;
	-moz-perspective-origin-y : 50%;
	perspective : 1200px;
}
/* fade */
.rwd-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .4s both ease;
  -moz-animation: fadeOut .4s both ease;
  animation: fadeOut .4s both ease;
}
.rwd-fade-in {
  -webkit-animation: fadeIn .4s both ease;
  -moz-animation: fadeIn .4s both ease;
  animation: fadeIn .4s both ease;
}
/* backSlide */
.rwd-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.rwd-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}
/* goDown */
.rwd-goDown-out {
  -webkit-animation: scaleToFade .1s ease both;
  -moz-animation: scaleToFade .1s ease both;
  animation: scaleToFade .1s ease both;
}
.rwd-goDown-in {
  -webkit-animation: goDown .1s ease both;
  -moz-animation: goDown .1s ease both;
  animation: goDown .1s ease both;
}
/* scaleUp */
.rwd-fadeUp-in {
  -webkit-animation: scaleUpFrom .4s ease both;
  -moz-animation: scaleUpFrom .4s ease both;
  animation: scaleUpFrom .4s ease both;
}

.rwd-fadeUp-out {
  -webkit-animation: scaleUpTo .4s ease both;
  -moz-animation: scaleUpTo .4s ease both;
  animation: scaleUpTo .4s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}



// THEME BANNERS

.rwd-theme .rwd-controls{
	//margin-top: 10px;
	//text-align: center;
}

/* Styling Next and Prev buttons */

.rwd-theme .rwd-controls .rwd-buttons div{
	//color: $color_fff;
	//display: inline-block;
	//zoom: 1;
	//*display: inline;/*IE7 life-saver */
	//margin: 5px;
	//padding: 3px 10px;
	//font-size: 12px;
	//-webkit-border-radius: 30px;
	//-moz-border-radius: 30px;
	//border-radius: 30px;
	//background: $color_869791;
	//filter: Alpha(Opacity=50);/*IE7 fix*/
	//opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.rwd-theme .rwd-controls.clickable .rwd-buttons div:hover{
	//filter: Alpha(Opacity=100);/*IE7 fix*/
	//opacity: 1;
	//text-decoration: none;
}

/* Styling Pagination*/

.rwd-theme .rwd-controls .rwd-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.rwd-theme .rwd-controls .rwd-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: $color_869791;
}

.rwd-theme .rwd-controls .rwd-page.active span,
.rwd-theme .rwd-controls.clickable .rwd-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.rwd-theme .rwd-controls .rwd-page span.rwd-numbers{
	height: auto;
	width: auto;
	color: $color_fff;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.rwd-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}

#rwd-banners .item{
  background: $color_fff;
  margin: 5px;
  color: $color_fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  img {
  	width:100%;
  	height:auto;
  }
}

.customNavigation{
  text-align: center;
}
//use styles below to disable ugly selection
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}