.carousel {
	.carousel-inner {
		.item {
			.carousel-caption {
				text-align: left;
				a:link,
				a:visited {
					text-transform: uppercase;
					font-weight: bold;
					font-size: 13px;
					text-shadow: rgba(0,0,0,0.6) 0 1px 1px;
				}
                a:hover {
                  text-decoration: underline;
                }
                .fa-caret-right {
                  color: #73f2ba;
                }
			}
		}
	}
}


#carousel-top-indicators, 
#carousel-top-mobile-indicators {
    background-color: #2a2a2a;
    line-height: 30px;
}
.carousel-control {
	background:none;
	i {
		font-size: 50px;
	}
	&.left {
		background:none;
	}
	&.right {
		background:none;
	}
	
}
