#checkout  {
	section {
		header {
			h2 {
				font-weight: bold;
				font-family: $fontRegular;
				@media (max-width:359px) {
					font-size: 16px;
				}
			}
		}
	}
  #shipping-methods {
    .panel-body {
      dt {
        font-weight: normal;
        font-family: latoblack;
      }
      dd.separator {
        strong {
          font-weight: normal;
          font-family: latoblack;
        }
      }
      .logo-courier {
        @media (max-width: 480px) {
          width: auto;
        }
        .shipment-icon {
          margin-top: 20px;
          margin-right: 20px;
        }
      }
    }
    .shipping-collect i {
	    display: none;
    }
  }
	.panel {
		@include border-radius(2px);
		border-color:$bc-primary;
		&.panel-color {
				background:$panel-top;
			}
		.panel-body {
			.current-addres,
			.top-panel {
				border-bottom: 1px solid $bc-primary;
				background:$panel-top;
			}
			.top-panel {
				h4 {
					font-family: $fontRegular;
					font-weight: 700;
					font-size: 14px;
				}
			}
            h4.addressbook-add-new {
                font-family: $fontRegular;
                font-size: 16px;
            }
		}
		.panel-heading {
				background: none;
				border-bottom: none;
				text-transform: uppercase;
				color:#000;
			}
		.panel-footer {
			background:transparent;
			border:none;
		}
		
		&.current {
			border-color:$bc-secondary;
		}
		.panel {
			h4 {
				text-transform: uppercase;
				@media (max-width:359px) {
					font-size: 16px;
				}
			}			
		}
	}
	dd.action {
		a {
			@media(max-width:359px) {
				font-size: 12px;
			}
		}
	}
	.staining_delivery_address {
		text-transform: uppercase;
		font-weight: bold;
	}
	.border-top {
		border-top:1px solid $gray-lighter;
		&:first-child {
			border-top:none;
		}
	}
	.sidebar-second {
		h2 {
			font-size: 18px;
			font-family: "latoregular";
			line-height: 18px;
			text-transform: uppercase;
			text-align: left;
			cursor: pointer;
			white-space: nowrap;
			&:before {
				background: $color-accent;
			}
		}
		h4 {
			font-size: 13px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
	#sidebar {
		
		h2 {
			font-size: 18px;
			font-family: "latoregular";
			line-height: 18px;
			text-transform: uppercase;
			text-align: left;
			cursor: pointer;
			white-space: nowrap;
			&:before {
				background: $color-accent;
			}
		}
		h4 {
			font-size: 13px;
			font-weight: bold;
			text-transform: uppercase;
		}
		.list-group {
			li {
				border:none;
				a {
					font-size: 13px;
				}
			}
		}
	}
  form {
    .form-group.form-radio {
      @media (max-width: $screen-xs-min) {
        margin-bottom: 0px;
      }
    }
    fieldset {

      &.no-border {
        border: none;
      }
      legend {
        font-size: 14px;
        font-weight: bold;
        color: #000;
        border-color: $gray-lighter;
      }
    }

    label {
      font-size: 12px;
      line-height: 29px;
      padding-right: 2px;
      text-align: right;
      font-weight: normal;
      @media (max-width: 767px) {
        text-align: left;
      }
      &.double-line {
        line-height: 1.2;
      }
    }

    .form-checkbox {
      &.default_pay {
        @media (max-width: 767px) {
          text-align: left
        }
      }

      label {
        line-height: 17px !important;
      }
    }
    .form-radio {
      label {
        font-size: 14px;
        text-align: left;
        line-height: 17px;
        display: block;
      }
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="tel"] {
      line-height: 29px;
    }
    .checkout-warning:not(:empty) {
      font-size: 11px;
      max-width: 450px;
      background: #F2F1F0;
      padding: 5px 10px;
      position: relative;
      top: 5px;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    #payment_form_zolagopayment_gateway,
    #payment_form_zolagopayment_cc {
      .provider-item {
        margin-bottom: -15px;
        @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
          margin-bottom: 10px;
        }
      }
      .col-xs-6 {
        @media (max-width: 500px) {
          padding-left: 2px;
          padding-right: 2px;
        }
      }
      list-style: none;
      label {
        line-height: 15px;
        text-align: center;
        margin-bottom: 15px;
        cursor: pointer;
        .payment-provider-logo-wrapper {
          border: 1px solid $bc-primary;
          background: #fff;
          line-height: 80px;
          display: inline-block;
          width: 100%;
		  margin-bottom:6px;
          img {
            max-width: 105px;
            @media (min-width: 430px) and (max-width: 600px) {
              max-width: 150px;
            }
            @media (min-width: 601px) and (max-width: 767px) {
              max-width: 160px;
            }
            @media (max-width: 425px) {
              max-width: 93px;
            }
          }
        }
        img {
          background: #fff;
        }
        &:hover {
          .payment-provider-logo-wrapper {
            border-color: #9F9F9F; //$bc-secondary;
          }
		  span {
			text-decoration:underline;
		  }
        }
      }
      input[type=radio]:checked + label {
        .payment-provider-logo-wrapper {
          border-color: #9F9F9F; //$bc-secondary;
        }
        span {
          text-decoration: underline
        }
      }
    }
  }
	.text-align-left {
		label {
			text-align: left!important;
		}
		text-align: left!important;
	}
}


#checkout {
	.panel {
		box-shadow:none;
		background:$panel-bottom;
	}
		.panel-body {
			.panel {
				background:#fff;
				&.payment-selected {
					border-color :$bc-secondary;
				}
			}
		}
		.default_pay {
		> .panel {
			> .panel-body {
				> .panel {
					&:hover {
						border-color :$bc-secondary;
					}
				}
			}
		} 
	}
}

#checkout {
  .default_pay {
    > .panel {

      > .panel-footer {
        text-align: right;
      }
      > .panel-body {
        dt {
          font-weight: normal;
          font-family: latoblack;
        }
        #payment-provider {
          margin-top: 12px;
          img {
            width: 50px;
          }
        }
        .default_pay_selected_bank {
          text-align: right;
          figure {
            min-height: 60px;
            display: inline-table;
            vertical-align: middle;
            border: 1px solid $gray-lighter;
            padding: 5px;
            background-color: white;
            div {
              display: table-cell;
              vertical-align: middle;
              img {
                max-height: 67px;
                @media (max-width: 460px) {
                  max-height: 50px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: $screen-lg-min) {
  .col-lg-3-pi {
    width: 20%;
    float: left;
    min-height: 1px;
    padding-left: 7px;
    padding-right: 7px;
    position: relative;

  }
}