.node-type-customer-account-registration {
	.main {
		.section {
			header {
				h2 {
					font-weight: bold;
					font-family: "latoregular";
				}
			}
		}
	}
}

#form-registration {
	label {
		font-weight: normal;
		line-height: 28px;
		white-space:nowrap;
		text-align: right;
		@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
			text-align: left;
		}
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			text-align: left;
		}
	}
	input[type="text"],
	input[type="email"],
	input[type="password"] {
		line-height: 29px;
	}
	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="password"]:focus {
		background:#fff;
	}
	#connect {
		@media (max-width: $screen-xs-max) {
		text-align: left;
		}
	}
	.form-checkbox {
		label {
		white-space: normal;
		text-align: left;
		line-height: 18px;
		}
	} 
}
  
#lub {
	span {
		text-align: center;
	}
}

.sidebar-secound {
	.p {
		h2 {
			font-size: 18px;
			font-family: "latoregular";
			line-height: 18px;
			text-transform: uppercase;
			text-align: left;
			cursor: pointer;
			white-space: nowrap;
			&:before {
				background: #6fffcf;
				}
		}
		h4 {
			font-size: 13px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}

/*******************************************************************************/
/** My account																  **/
/*******************************************************************************/

.my-account{
	color: #333;
	
	.page-title{
		margin-bottom: 8px;
		h1{
			color: #333;
			font-size: 30px;
			background: $body-bg;
			padding: 20px 30px !important;
			text-transform: uppercase;
		}
	}
}
.my-account .box-wrapper{
	border-right: 1px solid #ebebeb;
}
.my-account .background-wrapper{
	background: $body-bg;
	padding: 30px 15px;
}