/* FOOTER */
#footer {
    .benefits {
        margin-bottom: 35px;
    }
}
.footer-black {
    background-color: #000000;
    color:#ffffff;
   a:link,
   a:visited {
     color:#ffffff;
     text-transform: uppercase;
   }
   .footer-logo {
       text-align: left;
   }
    .footer-about {
        li {
             a:link,
             a:visited {
                font-size: 12px;
             } 
             a:hover {
                text-decoration: underline;
             }
        }
    }
    .footer-connect {
        font-size: 12px;
        > span {
            line-height: 25px;
            text-transform: uppercase;
            word-spacing:4px;
        }
    }
}

#footer {
    [class^=ico_] {
        background:$allMap;         
    }
    .ico_social_twitter {
        @include sprite($allMap, ico_social_twitter);    
        &:hover {
            @include sprite($allMap, ico_social_twitter);
        }
    }
    .ico_social_fb {
        @include sprite($allMap, ico_social_fb);  
        &:hover {
            @include sprite($allMap, ico_social_fb_hover);
        }
    }
    
    .ico_social_instagram {
        @include sprite($allMap, ico_social_instagram);  
        &:hover {
            @include sprite($allMap, ico_social_instagram);
        }
    }
    .ico_social_gplus {
        @include sprite($allMap, ico_social_gplus); 
        &:hover {
            @include sprite($allMap, ico_social_gplus);
        }
    }
    .ico_social_pinterest {
        @include sprite($allMap, ico_social_pinterest);  
        &:hover {
            @include sprite($allMap, ico_social_pinterest);
        }
    }
}




.footer-gray-wr {
    background-color: #2e2e2e;
    border-top: 1px solid #242424;
    line-height: 36px;
    min-height: 57px;
    a {
        color:#828282;
    }
}
.footer-gray-wr>div>div>div {
    color: #828282;
    font-size: 13px;
}

.copy {
    text-align: center;
}

.footer-pay-visa, .footer-pay-master, .footer-pay-paypal {
    background:url("../images/ico-payment-options.png")no-repeat;
}
.footer-pay-master {
    background-position: -34px 0px;
}
.footer-pay-paypal {
    background-position: -69px 0px;
}





@media (max-width: $screen-sm-max) { 
   #footer {
       
            
            &.footer-black {

                    min-height: 117px;
                    background-color: #000000;
                    color:#ffffff;
                    
                position:relative;
            }
       
        .footer-logo {
            text-align: left;
        }
        .footer-about {          
            >ul {
                list-style-type: none;
                text-align: left;
                >li {
                    text-transform: uppercase;
                    padding-top: 10px;
                    >a {
                        color: #ffffff !important;
                        font-size: 16px;
                    }
                }
                >li:first-child {
                    padding-top: 5px;
                }
            }
        }
        .footer-connect {
            text-transform: uppercase;
            text-align: left;
                >span {
                font-size: 11px;  
                line-height: 1.2;          
            }
        }
        .copy {
            text-align: center;
            }
    }
}
// END FOOTER