@import "../../other/variable";
.header_top {
    background-color: #000000;
	border-bottom: 3px solid #C6A662;
}

/* USER MENU */
.user-navigation  {
            list-style: none;
            a {
                text-align: center;
                text-transform:uppercase; 
                font-size: 9px;
                color:#fff;
                text-decoration: none;
            &:hover {
                background: none;
                }
            }

            .dropdown {
                ul.searchDropdown {
                    @include border-radius(0);
                }
            }
        }
/* HEADER BOTTOM */
.header_bottom {
//    background:#fff url('../images/bg-menu.png') 0 0 repeat-x;
  background: #fff;
    border-bottom:1px solid #dddce1;
     #nav_desc {
        &.navigation > li > a:hover,
        &.navigation > li > a.active,
        &.navigation > li > a.forceActive {
            background:none;
            &:before {
                background:#73f2ba;
            }
        }
    }

   
    // NAV DESKPOT
    //#nav_desc {
        .navigation {
            li {
                a:link,
                a:visited {
                   font-size: 18px;
                   color:#000;
                   font-family: $fontRegular;
                   font-weight: 400;
                   font-style: normal;
                   text-transform:uppercase;
                   line-height: 49px;
                    @include screen(769px, 800px) {
                       font-size: 16px;
                    }
                   @include max-screen($screen-sm) {
                       font-size: 16px;
                    }
                }
                a:hover {
                    background:none;
                }
    /* === SUBMENU === */
                ul {
                    li {
                        a:link,
                        a:visited {
                            font-size:14px;
                        }
                    }
                }
            }
        }
    //}
    // END NAV DESCOPT
    #nav_mobile {
        .nav {
            li {
                a:link,
                a:visited {
                    line-height: 29px!important;
                }
            }
        }
    }
    #nav_mobile {
        > li {
            > a:link,
            > a:visited {
            border-top:1px solid #dedce1;
            position:relative;
            line-height: 29px;

            }
            &:first-child {
                > a {
                border-top:none; 
                }
            }
            ul {
                &.open {
                    border-top:1px solid #dedce1;
                  padding-left:0px !important;
                }
            }
            li {

                a {
                   border-top:1px solid #f7f6f7;  
                   line-height: 26px;
                }
               
                &:first-child {
                    a {
                      border-top:none;   
                    }
                    
                }
            }
        }
    }
}

.top_bottom {
        .navigation {
            li {
                a:link,
                a:visited {
                   font-size: 18px;
                   color:#000;
                   font-family: $fontRegular;
                   font-weight: 400;
                   font-style: normal;
                   text-transform:uppercase;
                   line-height: 49px;
                    @include screen(769px, 800px) {
                       font-size: 16px;
                    }
                   @include max-screen($screen-sm) {
                       font-size: 16px;
                    }
                }
                a:hover {
                    background:none;
                }
    /* === SUBMENU === */
                ul {
                    li {
                        a:link,
                        a:visited {
                            font-size:14px;
                        }
                    }
                }
            }
        }
        #shop_nav_mobile {
        .nav {
            li {
                a:link,
                a:visited {
                    line-height: 29px!important;
                }
            }
        }
    }
     #shop_nav_mobile {
        list-style: none;
        > li {
            > a:link,
            > a:visited {
            border-top:1px solid #dedce1;
            line-height: 29px;
            }
            &:first-child {
                > a {
                border-top:none; 
                }
            }
            ul {
                &.open {
                    border-top:1px solid #dedce1;
                    padding-left: 0px;
                }
            }
            li {

                a {
                   border-top:1px solid #f7f6f7; 
                   line-height: 26px;

                }
               
                &:first-child {
                    a {
                      border-top:none;   
                    }
                    
                }
            }
        }
    }
}