.mypromotions-header {
  .header-title {
    h1 {
      text-transform: uppercase;
      padding-top: 0;
      @media (max-width: $screen-xs-max) {
        font-size: 18px;
        padding-bottom: 12px;
        padding-top: 12px;
        width: 84%;
      }
    }
  }
  ol.breadcrumb, .brandshop-breadcrumps {
    margin: 20px 0 14px 0;
  }
}
.your-promotions {
  #content {
    &.logged-in {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

#promo_list {
  background-color: #F2F1F0;
  margin: 0 -15px;
  .promo_item {
    .promo_item_box {
      border: 1px solid #ebebeb;
      background: #fff;
      padding: 0 0 0 0;
    }
    padding: 10px 4px 0 4px;
    @media(max-width: 479px) {
      width: 100% !important;
    }
    figure.promo_img {
      margin: 0 auto;
      padding-bottom: 18px;
      text-align: center;
      img {
        max-width: 100%;
      }
    }
    .promo_info {
      border: 1px solid #ebebeb;
      &:hover {
        .promo_see_more {
          text-decoration: underline;
        }
      }
      .promo_logo {
        display: block;
        height: 52px;
        margin: 0 auto;
        border: 1px solid #ebebeb;
        width: 128px;
        vertical-align: middle;
        .promo_logo_img {
          height: 31px;
          display: block;
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
          margin: 8px 11px;
          vertical-align: middle;

        }
      }
      .promo_name {
        //padding: 0;
        text-align: center;
        text-transform: uppercase;
        font-family: latolight, sans-serif;
        padding: 15px 30px;
        font-size: 20px;
        height: 62px;
        overflow: hidden;
      }
      .promo_see_more {
        text-align: center;
        padding-bottom: 18px;
        padding-top: 18px;
        a {
          color: #484848;
          font-size: 12px;
          cursor: pointer;
        }
      }
      .promo_desc, .promo_code, .promo_code_hidden {
        margin-top: 15px;
      }
      .promo_code textarea {
        cursor: text;
        border: none;
        width: 100%;
        font-size: 1.4em;
        resize: none;
        overflow: hidden;
        height: 50px;
        padding: 0;
        opacity: 1;
        outline: none;
      }
    }
  }
}


.mypromotions-account-create {
  padding-top: 0 !important;
  #mypromotions-gotologin, #mypromotions-register, #mypromotions-gotoregister, .mypromotions-cms, #mypromotions-list {
    margin-top: 15px;
    padding: 15px;
    header p {
      margin-left: 35px;
      font-size: 11px;
    }
  }
  #mypromotions-gotologin, #mypromotions-gotoregister {
    a.button.button-primary {
      margin-top: 15px;
    }
  }
  #mypromotions-list {
    padding-bottom: 0;
    header, header p {
      margin-bottom: 15px !important;
    }
  }
}
#mypromotions-list {
  padding-bottom: 0;
  &.mypromotions-logged-in {
    padding-top: 0;
    margin-top: 5px;
  }
}