.tableWrapper {
        border-top: 1px solid $bc-secondary;
        .table-header-group {
        	border-bottom: 1px solid #ebeaed;
        	@media (max-width: $screen-xs-max) {
        		border:none;
        		text-transform: uppercase;
        		font-size: 11px;
        	}        	 
        }
        .table-row {
            display: block;
             .table-cell {
                vertical-align: top;
                &.cell-02 {
                	@media (max-width: $screen-xs-max) {
						text-align: left;
                	}
                }
            }
        }
    }

.node-type-shopping-cart {
	color:#000;
	#content-main {
		section {
			> header {
				h1 {
					font-size: 24px;
					font-weight: normal;
					font-family: $fontLight;
					text-transform: uppercase;
					@media (max-width: $screen-xs-max) {
						font-size: 18px;
						text-align: center;
					}
				}
			}
			> footer {
				a#clearAllShopping {
					line-height: image-height(sprite-file($allMap, remove-table-item));
					font-size: 10px;
					text-transform: uppercase;
				}
			}
		}
		.tableWrapper {
			.table-row {
				.table-cell {
					text-align: center;
					@media (max-width: $screen-xs-max) {
						text-align: left;
					}
					&.cell-01.td {
						text-align: left;
					}
					&.cell-02 {
						@media (max-width: $screen-xs-max) {
						text-align: left;
                		}
					}
					&.cell-04.td {
	                	text-align: right;
	                }
					&.cell-05 {
						text-align: left;
					}
					figure {
						border:1px solid #f1f1f1;
					}
					.description_checked_product {
						.product_name {
							font-size: 16px;
							color:#000;
						}
						.product_size {
							font-size: 12px;
						}
						.product_availability {
							.icons-checked,
							.icons-interjection {
								font-size: 12px;
								text-transform: none;
							}
							
						}
					}
					.product_price {
						font-size: 16px;
						font-family: $fontRegular;
						span {
							font-size: 11px;
							color:#565655;
							text-decoration:line-through;
						}
					}
					.amount_product {
						text-align: center;
						font-size: 11px;
						border:1px solid $gray;
						line-height: 22px;
					}
					&.cell-03 {
						.select-group.medium {
							.button-select {
								font-size: 11px;
								text-align: center;
							}
						}
					}
					&.cell-04 {
						&.td {
							font-size: 16px;
                			font-family: $fontBlack;
						}
                		
                	}

				}
			}
		}
		.tableWrapper {
			.table-footer-group {
				.table-row {
					.table-cell {
						&.td {
							border-top: 1px solid #ebeaed;
						}
						&.cell-01 {
							p {
								font-size: 14px;
								word-wrap: break-word;
								@media (max-width: $screen-xs-max) {
									font-size: 11px;
								}
							}
						}						
						&.label_value {
							text-align: right;
							font-size: 16px;
							@media (max-width: $screen-xs-max) {
								text-align: left;
								font-size: 13px;
							}
						}
						&.cell-04 {
							text-align: right;						
						}
						
					}
				}		
			}
		}
	}
}
.value_quality_price {
	@media (min-width:380px) and (max-width:767px) {
		white-space: nowrap;
	}
}

.bubble {
		background:#e5e5e5;
		@include border-radius(5px);
		text-align: center;
		&:before {
			background:$allMap;
			@include sprite($allMap, bubble_arrow);	
		p {
			font-size: 11.46px;
			strong {
				font-size: 13.43px;
			}
		}
	}
	}
#sidebar-secondary {
	#cart-summary {
        border: 4px #c6a662 solid;
		> header {
			h2 {
				font-size: 18px;
				font-family: $fontRegular;
				strong {
					font-weight: bold;
				}
			}
		}
		.form-action p{
			margin-bottom:0;
		}
		#product_summary {
			list-style: none;
			li {
				text-transform: uppercase;
				span + span {
					text-transform: none;
				}
				span:first-child {
					font-size: 14px;
					@include max-screen($screen-sm-max) {
						font-size: 13px;
						text-transform: none;
					}
//					line-height: 0px;
				}
				span:last-child {
					font-size: 16px;
					font-family: $fontBlack;
					text-align: right;
				}
			}
		}
		#discount_voucher {
			.form-group {				
				input[type="text"] {
					background:$allMap repeat-x;
				    @include sprite($allMap, bg-form-text-coupon);	
					line-height: image-height(sprite-file($allMap, bg-form-text-coupon))+2;
					border:1px solid #d6d6d6;
					font-size: 12px;
				}
				input[type="submit"] {
					background:#000;
					line-height: 22px;
					border:none;
					color:#fff;
					font-size: 12px;
					text-align: center;
					text-transform: uppercase;
				}

              .coupon-errors {
                &:not(:empty) {
                  clear: both;
                  color: red;
                  display: block;
                  padding-top: 8px;
                }
              }
			}
			.coupon-list {
				dt {
					text-transform: uppercase;
					font-size: 11px;
				}
				dd {
					background:$bgMap repeat-x;
				    @include sprite($bgMap, bg-coupon);
					line-height: image-height(sprite-file($bgMap, bg-coupon));
					box-shadow:0 0 9px rgba(1,1,1, 0.21);
					border-left: 1px solid #ededed;
					border-right: 1px solid #ededed;
					i {
						cursor:pointer;
					}
				}
			}
		}
		#sum_price {
			text-transform: uppercase;
			color:#000;
			.val_value_sum_price {
				font-size: 18px;
			}
			.value_sum_price {
				font-size: 16px;
				font-family: $fontBlack;
				text-transform: none;
			}
		}
		.form-action {
			text-align: center;
			@media (min-width:641px) and (max-width:767px) {
				text-align: center;
			}
			@media (min-width:640px) and (max-width:640px) and (orientation : landscape) {
				text-align: right;
			}
			@media (min-width:481px) and (max-width:639px)  {
				text-align: center;
			}
			@media (min-width:480px) and (max-width:480px) and (orientation : landscape) {
				text-align: right;
			}
		}
		.button.button-primary {
			&:focus {
				outline:none;
			}
		}
	}
	#payment-methods {
		> header {
			h2 {
				font-size: 18px;
				font-family: $fontRegular;
				strong {
					font-family: $fontBlack;
				}
			}
		}
	}
}

#aside-shopping-cart {
	a#clearAllShopping {
		line-height: image-height(sprite-file($allMap, remove-table-item));
		font-size: 10px;
		text-transform: uppercase;
	}
}





.table-cart {
	.colgroup-01 {
		figure {
			border:1px solid #f1f1f1;
		}
		.description_checked_product {
			.product_name {
				font-size: 16px;
				color:#000;
                a:hover {
                    text-decoration: underline;
                }
			}
			.product_size {
				font-size: 12px;
			}
			.product_availability {
				.icons-checked,
				.icons-interjection {
					font-size: 12px;
					text-transform: none;
				}
			}
		}
	}
	.colgroup-02 {
		.colgroup {
			> div {
				text-align: center;
				@media (max-width: $screen-sm-min) {
					text-align: left;
				}
			}
			.cena {
				
				.stara_cena {
					vertical-align: middle;
					font-size: 11px;
					color: #565655;
					text-decoration: line-through;
				}
			}
			.ilosc {
				@media (max-width: $screen-xs-max) {
					.select-group.medium {
							.button-select {
								font-size: 11px;
								text-align: center;
							}
						}
					}
				
				.amount_product {
					text-align: center;
					font-size: 11px;
					border: 1px solid $gray;
					line-height: 22px;
				}
			}
			.wartosc {
				font-weight: bold;
			}
			.usun {
				text-align: center;
			}
			&.naglowek {
				.cena,
				.ilosc,
				.wartosc,
				.usun {
					font-weight: normal; 
				}
			}
			
		}
		.stara_cena,
		.cena_zakupu {
			white-space: nowrap;
			@media (min-width: $screen-sm-min) {
				white-space: nowrap;
			}
		} 
	}
}

.node-type-shopping-cart {
	 #content-main {
	 	.conditions_shipping {
	 		.panel-heading {
	 			h2 {
	 				font-size: 18px;
	 			}
	 		}
	 	}
	}
}

#trigger_conditions_shipping {
	.modal-dialog {
		* {
			border:none;
			box-shadow: none;
		}
		.panel {
			border:none!important;
		}
		
		.panel-heading {
			h2 {
			font-size: 18px;
			}
		}
		.panel-body {
			font-size: 14px;
		}
	}
}


.modal {
	&.learn_more {
		h2.title_section{
			font-size: 18px!important;
		}
	}
}