<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Turpentine>
            <version>0.0.1</version>
        </Zolago_Turpentine>
    </modules>
	<global>
		<models>
			<zolagoturpentine>
				<class>Zolago_Turpentine_Model</class>
			</zolagoturpentine>
			<turpentine>
				<rewrite>
					<!-- Swap vcl template file -->
					<varnish_configurator_version3>Zolago_Turpentine_Model_Varnish_Configurator_Version3</varnish_configurator_version3>
					<varnish_configurator_version4>Zolago_Turpentine_Model_Varnish_Configurator_Version4</varnish_configurator_version4>
					<varnish_admin>Zolago_Turpentine_Model_Varnish_Admin</varnish_admin>
					<observer_varnish>Zolago_Turpentine_Model_Observer_Varnish</observer_varnish>
                    <observer_ban>Zolago_Turpentine_Model_Observer_Ban</observer_ban>
				</rewrite>
			</turpentine>
		</models>
		<helpers>
			<turpentine>
				<rewrite>
					<esi>Zolago_Turpentine_Helper_Esi</esi>
                    <ban>Zolago_Turpentine_Helper_Ban</ban>
				</rewrite>
			</turpentine>
		</helpers>
		<!-- 
		<resources>
			<zolagoturpentine_setup>
				<setup>
					<module>Zolago_Turpentine</module>
				</setup>
			</zolagoturpentine_setup>
		</resources>
		-->
        <events>
            <catalog_converter_queue_configurable_complete>
                <observers>
                    <zolago_turpentine_observer_ban>
                        <class>turpentine/observer_ban</class>
                        <method>banMultiProductPageCache</method>
                    </zolago_turpentine_observer_ban>
                </observers>
            </catalog_converter_queue_configurable_complete>

            <zolagocatalog_converter_stock_complete>
                <observers>
                    <zolago_turpentine_observer_ban>
                        <class>turpentine/observer_ban</class>
                        <method>banMultiProductPageCache</method>
                    </zolago_turpentine_observer_ban>
                </observers>
            </zolagocatalog_converter_stock_complete>

            <!-- After vendor change price manual from vendor portal grid (modal price window) -->
            <vendor_manual_save_price_after>
                <observers>
                    <zolago_turpentine_observer_ban>
                        <class>turpentine/observer_ban</class>
                        <method>banMultiProductPageCache</method>
                    </zolago_turpentine_observer_ban>
                </observers>
            </vendor_manual_save_price_after>

            <!-- After vendor manual change product status from vendor portal price grid  -->
            <vendor_manual_save_status_after>
                <observers>
                    <zolago_turpentine_observer_ban>
                        <class>turpentine/observer_ban</class>
                        <method>banMultiProductPageCache</method>
                    </zolago_turpentine_observer_ban>
                </observers>
            </vendor_manual_save_status_after>
			<!-- After vendor manual change product flag (sale/promo) from vendor portal price grid  -->
			<vendor_manual_save_product_flag_after>
				<observers>
					<zolago_turpentine_observer_ban>
						<class>turpentine/observer_ban</class>
						<method>banMultiProductPageCache</method>
					</zolago_turpentine_observer_ban>
				</observers>
			</vendor_manual_save_product_flag_after>
            <!-- After vendor mass change product status from vendor portal price grid  -->
            <vendor_manual_mass_save_status_after>
                <observers>
                    <zolago_turpentine_observer_ban>
                        <class>turpentine/observer_ban</class>
                        <method>banMultiProductPageCache</method>
                    </zolago_turpentine_observer_ban>
                </observers>
            </vendor_manual_mass_save_status_after>

            <!-- After vendor manual change product politics from vendor portal price grid  -->
            <vendor_manual_save_politics_after>
                <observers>
                    <zolago_turpentine_observer_ban>
                        <class>turpentine/observer_ban</class>
                        <method>banMultiProductPageCache</method>
                    </zolago_turpentine_observer_ban>
                </observers>
            </vendor_manual_save_politics_after>
            <!-- After vendor mass change product politics from vendor portal price grid  -->
            <vendor_manual_mass_save_status_after>
                <observers>
                    <zolago_turpentine_observer_ban>
                        <class>turpentine/observer_ban</class>
                        <method>banMultiProductPageCache</method>
                    </zolago_turpentine_observer_ban>
                </observers>
            </vendor_manual_mass_save_status_after>

            <!-- When vendor mass update attributes by attribute rules mapper -->
            <mass_autofill_attribute_rules_after>
                <observers>
                    <zolago_turpentine_observer_ban>
                        <class>turpentine/observer_ban</class>
                        <method>banMultiProductPageCache</method>
                    </zolago_turpentine_observer_ban>
                </observers>
            </mass_autofill_attribute_rules_after>

        </events>
	</global>
	<frontend>
        <layout>
            <updates>
                <turpentine_esi module="turpentine">
                    <file>zolago_turpentine_esi.xml</file>
                </turpentine_esi>
            </updates>
        </layout>
		<events>
			<catalog_controller_product_view>
				<observers>
                    <zolago_turpentine_product_view>
                        <class>zolagoturpentine/observer</class>
                        <method>productView</method>
                    </zolago_turpentine_product_view>
                </observers>
			</catalog_controller_product_view>

            <help_controller_index>
                <observers>
                    <zolago_turpentine_product_view>
                        <class>zolagoturpentine/observer</class>
                        <method>helpViews</method>
                    </zolago_turpentine_product_view>
                </observers>
            </help_controller_index>

            <faq_controller_index>
                <observers>
                    <zolago_turpentine_product_view>
                        <class>zolagoturpentine/observer</class>
                        <method>helpViews</method>
                    </zolago_turpentine_product_view>
                </observers>
            </faq_controller_index>

            <help_controller_contact>
                <!-- Contact with Vendor and Gallery -->
                <observers>
                    <zolago_turpentine_product_view>
                        <class>zolagoturpentine/observer</class>
                        <method>helpViews</method>
                    </zolago_turpentine_product_view>
                </observers>
            </help_controller_contact>

            <cms_controller_page>
                <observers>
                    <zolago_turpentine_product_view>
                        <class>zolagoturpentine/observer</class>
                        <method>helpViews</method>
                    </zolago_turpentine_product_view>
                </observers>
            </cms_controller_page>

		</events>
    </frontend>
</config>
