#about {
	padding: 20px 70px 30px 70px;
	@media(min-width: $screen-md-min) {
		background: $color_fff url('../images/about/lady.jpg') no-repeat right top;
	}
	@media(max-width: $screen-md-max) {
		padding-left: 40px;
		padding-right: 40px;
	}
	@media(max-width: $screen-sm-max) {
		padding: 30px;
	}
	@media(max-width: $screen-xs-max) {
		margin-top: 15px;
	}
	@media(max-width: 479px) {
		padding: 15px 15px 25px;
	}
	.about-header {
		position: relative;
		margin-bottom: 50px;
		@media(max-width: 479px) {
			margin-bottom: 30px;
		}
		.about-header-title {
			font-family: $fontBlack;
			font-size: 50px;
			letter-spacing: -1px;
			@media(max-width: $screen-sm-max) {
				font-size: 35px;
				letter-spacing: 0;
			}
			@media(max-width: 479px) {
				font-size: 30px;
			}
			@media(max-width: 360px) {
				font-size: 25px;
			}
			.about-header-logo {
				font-family: $fontRegular;
				letter-spacing: 0;
			}
		}
		.about-header-subtitle {
			font-size: 21px;
			text-transform: uppercase;
			margin-top: -5px;
			@media(max-width: $screen-sm-max) {
				font-size: 17px;
				margin-top: 0;
			}
			@media(max-width: 479px) {
				font-size: 15px;
			}
			@media(max-width: 360px) {
				font-size: 14px;
			}
		}
		&:before {
			content: '';
			top: 18px;
			left: -70px;
			width: 18px;
			height: 18px;
			background-color: $colorAccentTitle;
			display: block;
			position: absolute;
			@media(max-width: $screen-sm-max) {
				display: none;
			}
		}
	}

	ul.about-list {
		margin: 0;
		padding: 0;
		list-style: none;
		li.about-list-item {
			margin-bottom: 35px;
			padding-left: 140px;
			min-height: 110px;
			background-position: top left;
			background-size: 110px 110px;
			background-repeat: no-repeat;
			@media(max-width: $screen-sm-max) {
				padding-left: 100px;
				min-height: 80px;
				background-size: 80px 80px;
			}
			@media(max-width: 360px) {
				background: none !important;
				padding-left: 0;
				min-height: auto;
			}
			&.about-heart {
				background-image: url('../images/svg/about_heart.svg')
			}
			&.about-shops {
				background-image: url('../images/svg/benefits_shops.svg')
			}
			&.about-promotions {
				background-image: url('../images/svg/about_promotions.svg')
			}
			&.about-free-delivery {
				background-image: url('../images/svg/about_delivery_free.svg')
			}
			&.about-quick-delivery {
				background-image: url('../images/svg/about_delivery_quick.svg')
			}
			&.about-return {
				background-image: url('../images/svg/benefits_return.svg')
			}
			.about-list-header {
				font-family: $fontBlack;
				font-size: 16px;
				margin-bottom: 20px;
				padding-top: 15px;
				@media(max-width: $screen-sm-max) {
					padding-top: 0;
				}
				@media(max-width: 479px) {
					margin-bottom: 12px;
				}
			}
			.about-list-text {
				font-family: $fontRegular;
				font-size: 15px;
			}
		}
	}

	.about-footer {
		text-align: center;
		margin-top: 80px;
		@media(max-width: 479px) {
			margin-top: 40px;
		}
		.about-footer-header {
			font-family: $fontBlack;
			font-size: 17px;
			margin-bottom: 25px;
			@media(max-width: 479px) {
				font-size: 15px;
			}
		}
		.about-footer-text {
			font-family: $fontRegular;
			font-size: 14px;
			@media(max-width: 479px) {
				font-size: 12px;
			}
			a {
				text-decoration: underline;
			}
		}
	}
}

#about-register {
	margin-top: 15px;
	padding: 20px 70px 30px 70px;
	@media(min-width: $screen-md-min) {
		background: $color-ffffff url('../images/help/promolabels.png') no-repeat;
		background-size: 360px auto;
		background-position: 95% 0;
	}
	@media(max-width: $screen-md-max) {
		padding-left: 40px;
	}
	@media(max-width: $screen-sm-max) {
		padding: 30px;
	}
	@media(max-width: 479px) {
		padding: 15px 15px 25px;
		border: 2px solid $color-gold;
	}
	.about-register-header {
		position: relative;
		margin-bottom: 30px;
		@media(max-width: 479px) {
			margin-bottom: 25px;
		}
		.about-register-header-title {
			font-family: $fontRegular;
			font-size: 35px;
			letter-spacing: -1px;
			@media(max-width: $screen-sm-max) {
				font-size: 30px;
				letter-spacing: 0;
			}
			@media(max-width: 479px) {
				font-size: 25px;
			}
			@media(max-width: 360px) {
				font-size: 20px;
			}
			.about-register-bold {
				font-family: $fontBlack;
				font-size: 40px;
				letter-spacing: 0;
			}
		}
		.about-register-header-subtitle {
			font-family: $fontBlack;
			font-size: 25px;
			margin-top: -5px;
			@media(max-width: $screen-sm-max) {
				font-size: 20px;
				margin-top: 0;
			}
			@media(max-width: 479px) {
				font-size: 17px;
			}
			@media(max-width: 360px) {
				font-size: 15px;
			}
		}
		.about-register-header-text {
			font-family: $fontRegular;
			margin-top: 28px;
		}
		&:before {
			content: '';
			top: 18px;
			left: -70px;
			width: 18px;
			height: 18px;
			background-color: $colorAccentTitle;
			display: block;
			position: absolute;
			@media(max-width: $screen-sm-max) {
				display: none;
			}
		}
	}
	#createAccountForm {
		input {
			max-width: 260px !important;
		}
		@media(max-width: $screen-xs-max) {
			.about-register-form-content {
				padding: 0 !important;
			}
		}
		.about-register-agreements {
			padding: 0 !important;
			margin-bottom: 30px;
			@media(max-width: 360px) {
				margin-bottom: 15px;
			}
			.about-register-agreement {
				margin-left: 0 !important;
				@media(min-width: $screen-md-min) {
					max-width: 525px !important;
				}
			}
		}
		.about-register-actions {
			padding: 0 !important;
			.about-register-login {
				font-size: 18px;
				display: inline-block;
				height: 39px;
				line-height: 38px;
				margin-right: 40px;
				a {
					text-decoration: underline;
				}
				@media(max-width: 479px) {
					margin-top: 15px;
					font-size: 15px;
				}
			}
		}
	}
}