.checkout-shared-review {
    #content-main {
        .panel {            
            &.panel-default {
                border-color:#bfbfbf;
            }
            background-color: white;
        }
    }
}
