<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_SalesRule>
            <version>0.0.1</version>
        </Zolago_SalesRule>
    </modules>
    <global>
		<helpers>
			<zolagosalesrule>
				<class>Zolago_SalesRule_Helper</class>
			</zolagosalesrule>
		</helpers>
		<models>
			<zolagosalesrule>
				<class>Zolago_SalesRule_Model</class>
			</zolagosalesrule>
		</models>
        <resources>
            <zolagosalesrule_setup>
                <setup>
                    <module>Zolago_SalesRule</module>
                </setup>
            </zolagosalesrule_setup>
		</resources>
	</global>
	<adminhtml>
		<events>
			<adminhtml_promo_quote_edit_tab_main_prepare_form>
				<observers>
					<zolagosalesrule>
						<model>zolagosalesrule/observer</model>
						<method>adminhtmlPromoQuoteEditTabMainPrepareForm</method>
					</zolagosalesrule>
				</observers>
			</adminhtml_promo_quote_edit_tab_main_prepare_form>
		</events>
	</adminhtml>
</config>
