<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_SalesRule>
            <version>0.0.13</version>
        </Zolago_SalesRule>
    </modules>
    <frontend>
        <routers>
            <mypromotions>	
                <use>standard</use>
                <args>
                    <module>Zolago_SalesRule</module>
                    <frontName>mypromotions</frontName>
                </args>
            </mypromotions>
        </routers>
		<secure_url>
			<mypromotions>/mypromotions</mypromotions>
		</secure_url>
        <translate>
            <modules>
                <Zolago_SalesRule>
                    <files>
                        <default>Zolago_SalesRule.csv</default>
                    </files>
                </Zolago_SalesRule>
            </modules>
        </translate>
    </frontend>
    <global>
        <blocks>
            <zolagosalesrule>
                <class>Zolago_SalesRule_Block</class>
            </zolagosalesrule>
        </blocks>
		<helpers>
			<zolagosalesrule>
				<class>Zolago_SalesRule_Helper</class>
			</zolagosalesrule>
		</helpers>
		<models>
			<zolagosalesrule>
				<class>Zolago_SalesRule_Model</class>
				<resourceModel>zolagosalesrule_resource</resourceModel>
			</zolagosalesrule>
			<zolagosalesrule_resource>
                <class>Zolago_SalesRule_Model_Resource</class>
                <entities>
                    <relation>
                        <table>zolago_salesrule_relation</table>
                    </relation>
				</entities>
			 </zolagosalesrule_resource>
            <salesrule_resource>
                <rewrite>
                    <coupon>Zolago_SalesRule_Model_Resource_Coupon</coupon>
					<!--<coupon_collection>Zolago_SalesRule_Model_Resource_Coupon_Collection</coupon_collection>-->
                </rewrite>
            </salesrule_resource>
            <salesrule>
            	<rewrite>
            		<rule_condition_address>Zolago_SalesRule_Model_Rule_Condition_Address</rule_condition_address>
            	</rewrite>
            </salesrule>
        </models>
        <resources>
            <zolagosalesrule_setup>
                <setup>
                    <module>Zolago_SalesRule</module>
                </setup>
            </zolagosalesrule_setup>
		</resources>
		<events>
			<sales_quote_item_set_product>
				<observers>
					<zolagosalesrule>
						<!--Copy sales rule product attributes to from product to quote item-->
						<class>zolagosalesrule/observer</class>
						<method>copySalesRuleAttrToQuoteItem</method>
					</zolagosalesrule>
				</observers>
			</sales_quote_item_set_product>
			<salesrule_rule_condition_combine>
				<observers>
					<zolagosalesrule>
						<!--Add rule condition to combine list -->
						<class>zolagosalesrule/observer</class>
						<method>addRuleConditionForConfigurableProducts</method>
					</zolagosalesrule>
				</observers>
			</salesrule_rule_condition_combine>
		    <newsletter_subscriber_save_after>
		        <observers>
		            <zolagosalesrule>
						<model>zolagosalesrule/observer</model>
						<method>sendSubscriberCouponMail</method>
		            </zolagosalesrule>
		        </observers>
		    </newsletter_subscriber_save_after>
			<salesrule_validator_process>
				<observers>
					<zolagosalesrule>
						<model>zolagosalesrule/observer</model>
						<method>salesruleValidatorProcess</method>
					</zolagosalesrule>
				</observers>	
			</salesrule_validator_process>
			<sales_order_item_save_after>
				<observers>
					<zolagosalesrule>
						<model>zolagosalesrule/observer</model>
						<method>salesOrderItemSaveAfter</method>
					</zolagosalesrule>
				</observers>	
			</sales_order_item_save_after>
			<udpo_po_item_save_before>
				<observers>
					<zolagosalesrule>
						<model>zolagosalesrule/observer</model>
						<method>udpoPoItemSaveBefore</method>
					</zolagosalesrule>
				</observers>	
			</udpo_po_item_save_before>
			<udpo_po_item_save_after>
				<observers>
					<zolagosalesrule>
						<model>zolagosalesrule/observer</model>
						<method>udpoPoItemSaveAfter</method>
					</zolagosalesrule>
				</observers>	
			</udpo_po_item_save_after>
		</events>
		<!-- do copy info array via convert -->
		<fieldsets>
            <sales_convert_quote_item>
                <discount_info>
                    <to_order_item>*</to_order_item>
                </discount_info>
			</sales_convert_quote_item>
		</fieldsets>
	</global>
	<adminhtml>
		<translate>
			<modules>
				<Zolago_SalesRule>
					<files>
						<default>Zolago_SalesRule.csv</default>
					</files>
				</Zolago_SalesRule>
			</modules>
		</translate>
		<events>
			<adminhtml_promo_quote_edit_tab_main_prepare_form>
				<observers>
					<zolagosalesrule>
						<model>zolagosalesrule/observer</model>
						<method>adminhtmlPromoQuoteEditTabMainPrepareForm</method>
					</zolagosalesrule>
				</observers>
			</adminhtml_promo_quote_edit_tab_main_prepare_form>
		</events>
	</adminhtml>
    <crontab>
        <jobs>
            <zolagosalesrule_send_subscriber_coupon_mail>
                <schedule>
                    <!-- Run every 1 hour -->
                    <cron_expr>0 */1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>zolagosalesrule/observer::sendSubscriberCouponMailCron</model>
                </run>
            </zolagosalesrule_send_subscriber_coupon_mail>
        </jobs>
    </crontab>
</config>
