<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_SalesRule>
            <version>0.0.7</version>
        </Zolago_SalesRule>
    </modules>
    <frontend>
        <routers>
            <mypromotions>	
                <use>standard</use>
                <args>
                    <module>Zolago_SalesRule</module>
                    <frontName>mypromotions</frontName>
                </args>
            </mypromotions>
        </routers>
    </frontend>
    <global>
		<helpers>
			<zolagosalesrule>
				<class>Zolago_SalesRule_Helper</class>
			</zolagosalesrule>
		</helpers>
		<models>
			<zolagosalesrule>
				<class>Zolago_SalesRule_Model</class>
				<resourceModel>zolagosalesrule_resource</resourceModel>
			</zolagosalesrule>
			<zolagosalesrule_resource>
                <class>Zolago_SalesRule_Model_Resource</class>
                <entities>
                    <relation>
                        <table>zolago_salesrule_relation</table>
                    </relation>
				</entities>
			 </zolagosalesrule_resource>
		</models>
        <resources>
            <zolagosalesrule_setup>
                <setup>
                    <module>Zolago_SalesRule</module>
                </setup>
            </zolagosalesrule_setup>
		</resources>
		<events>
			<salesrule_validator_process>
				<observers>
					<zolagosalesrule>
						<model>zolagosalesrule/observer</model>
						<method>salesruleValidatorProcess</method>
					</zolagosalesrule>
				</observers>	
			</salesrule_validator_process>
			<sales_order_item_save_after>
				<observers>
					<zolagosalesrule>
						<model>zolagosalesrule/observer</model>
						<method>salesOrderItemSaveAfter</method>
					</zolagosalesrule>
				</observers>	
			</sales_order_item_save_after>
			<udpo_po_item_save_before>
				<observers>
					<zolagosalesrule>
						<model>zolagosalesrule/observer</model>
						<method>udpoPoItemSaveBefore</method>
					</zolagosalesrule>
				</observers>	
			</udpo_po_item_save_before>
			<udpo_po_item_save_after>
				<observers>
					<zolagosalesrule>
						<model>zolagosalesrule/observer</model>
						<method>udpoPoItemSaveAfter</method>
					</zolagosalesrule>
				</observers>	
			</udpo_po_item_save_after>
		</events>
		<!-- do copy info array via convert -->
		<fieldsets>
            <sales_convert_quote_item>
                <discount_info>
                    <to_order_item>*</to_order_item>
                </discount_info>
			</sales_convert_quote_item>
		</fieldsets>
	</global>
	<adminhtml>
		<events>
			<adminhtml_promo_quote_edit_tab_main_prepare_form>
				<observers>
					<zolagosalesrule>
						<model>zolagosalesrule/observer</model>
						<method>adminhtmlPromoQuoteEditTabMainPrepareForm</method>
					</zolagosalesrule>
				</observers>
			</adminhtml_promo_quote_edit_tab_main_prepare_form>
		</events>
	</adminhtml>
</config>
