#help-content {
	@media(max-width: $screen-xs-max) {
		margin-top: 4px;
	}
	.row {
		margin-bottom: 10px;
		@media(max-width: $screen-xs-max) {
			margin-bottom: 4px;
		}
		.help-tile {
			&:first-child {
				padding-left: 10px;
				padding-right: 5px;
			}
			&:last-child {
				padding-left: 5px;
				padding-right: 10px;
			}
			@media(max-width: $screen-xs-max) {
				&:first-child {
					padding-left: 0;
					padding-right: 2px;
				}
				&:last-child {
					padding-left: 2px;
					padding-right: 0;
				}
			}
			.help-tile-container {
				background-color: $color_ffffff;;
				border: 1px solid $colorBorderCms;
				height: 200px;
				padding: 30px 20px 30px 30px;
				display: block;
				@media(max-width: $screen-sm-max) {
					padding: 20px 10px 20px 20px;
					height: 180px;
				}
				@media(max-width: $screen-xs-max) {
					text-align: center;
					padding: 20px 10px 10px;
				}
				@media(max-width: 469px) {
					padding: 10px 5px;
					height: 150px;
				}
				&:hover {
					border-color: $color_c2c2c2;
				}
				&.help-tile-container-promo {
					background-image: url('../images/help/promolabels.png');
					background-position: 20px 0;
					background-repeat: no-repeat;
					background-size: auto 80%;
					@media(max-width: $screen-xs-max) {
						background-position: center top;
						background-size: auto 70%;
					}
					@media(max-width: 469px) {
						background-size: auto 68%;
					}
				}
				.help-tile-content {
					background-position: 0 center;
					background-size: 110px 110px;
					background-repeat: no-repeat;
					padding-left: 140px;
					height: 90%;
					@media(max-width: $screen-sm-max) {
						padding-left: 130px;
					}
					@media(max-width: $screen-xs-max) {
						padding: 111px 0 0;
						background-position: center 0;
						background-size: 96px 96px;
						&.help-tile-long-title {
							padding-top: 97px;
						}
					}
					@media(max-width: 469px) {
						padding: 94px 0 0;
						background-size: 80px 80px;
						&.help-tile-long-title {
							padding-top: 84px;
						}
					}
					&.help-tile-faq {
						background-image: url('../images/svg/help_faq.svg');
					}
					&.help-tile-orders {
						background-image: url('../images/svg/help_orders.svg');
					}
					&.help-tile-rma {
						background-image: url('../images/svg/benefits_return.svg');
					}
					&.help-tile-contact {
						background-image: url('../images/svg/help_contact.svg');
					}
					&.help-tile-promo {
						background: none;
					}
					&.help-tile-sellers {
						background-image: url('../images/svg/help_sellers.svg');
					}
					.help-tile-title {
						margin: 10px 0 20px;
						font-size: 16px;
						font-family: $fontBlack;
						@media(max-width: $screen-sm-max) {
							margin: 7px 0 14px;
						}
						@media(max-width: 469px) {
							font-size: 12px;
						}
					}
					.help-tile-subtitle {
						margin: -10px 0 10px;
						font-family: $fontRegular;
						@media(max-width: $screen-sm-max) {
							margin: -7px 0 7px;
						}
						@media(max-width: $screen-xs-max) {
							display: none;
						}
					}
					ul.help-tile-list {
						padding: 0 0 0 16px;
						margin: 0;
						@media(max-width: $screen-xs-max) {
							display: none;
						}
						&.help-tile-list-nopointers {
							list-style: none;
							padding: 0;
						}
						li {
							line-height: 16px;
						}
					}
					.help-tile-text {
						@media(max-width: $screen-xs-max) {
							display: none;
						}
					}
					.help-tile-title-divider {
						display: none;
						@media(max-width: $screen-xs-max) {
							display: block;
						}
					}
				}
			}
		}
	}
}


#help-content-2  {
	padding: 20px 0 !important;

	.help-item {
		border: 1px solid #ccc;
		padding: 30px 0;
		height: 250px;
	}

	.icon-box {
		background-color: #ffffff;
		display: block;
		margin-bottom: 48px;
        @include max-screen($screen-xs-max) {
          margin-bottom: 10px;
        }

		&:hover {
			.help-item {
				border-color: #8a8a8a;
			}
		}
	}

	@media (max-width: $screen-md-min){
		.help-item {
			height: 310px;
		}
	}
	@media (max-width: $screen-sm-min){
		.help-item {
			height: 270px;
		}
	}
	@media (max-width: $screen-sm-min){
		.help-item {
			height: 190px;
		}
		.icon-box.design-2 .icon {
			margin-bottom: 20px;
		}
		.icon-box .icon-content h3 {
			text-align: center;
		}
	}
	@media (min-width: $screen-sm) and (max-width: $screen-sm){
		.help-item {
			height: 270px;
		}
	}

	@media (max-width: $screen-xs-min){
		.icon-box {
			padding: 0 5px;
		}
		.icon-box .icon-content h3 {
			font-size: 14px;
		}
	}

	ul.help-tile-list {
		padding-left: 15px;
		color: #000;
	}


	.icon-box.design-2 .icon {
		text-align: center;
	}
	.icon-box .icon {
		display: table-cell;
		vertical-align: top;
		padding-right: 20px;
	}
	.icon-box.design-2 .icon i {
		width: 70px;
		height: 70px;
		line-height: 41px;
		background-color: #ccc;
		color: #FFF !important;
		padding: 15px;
		-webkit-border-radius: 100%;
		border-radius: 100%;
		font-size: 32px;
	}
	.icon-box.animation-2 .icon i {
		@include transition(all 0.2s ease-in-out);
	}

	.icon-box .icon-content {
		display: block;
		vertical-align: middle;
		line-height: 1.8;
		padding-bottom: 10px;
	}
	.icon-box .icon-content h3 {
		font-size: 18px;
        @include max-screen($screen-xs-max) {
          font-size: 14px;
        }
        @include max-screen($screen-xs) {
          font-size: 13px;
        }
		letter-spacing: 1px;
		margin-bottom: 0;
		padding: 10px 0;
	}
	hr, hr.divider {
		height: 1px;
		display: inline-block;
		background: none;
		border-top: none;
		border-bottom: 2px solid #e4e4e4;
		border-left: 0;
		border-right: 0;
		margin-top: 10px;
		margin-bottom: 10px;
		width: 98%;
	}
	hr.divider.short {
		width: 35px;
	}
	.icon-box .icon-content .icon-text {
		font-family: 'Open Sans', sans-serif;
	}
	.icon-box.animation-2:hover .icon i {
		background-color: $backgroundIconBoxIconHover !important;
		border-color: $borderColorIconBoxIconHover !important;
	}

}