/*popular shops*/
.small-banners {
    .row {
        @media (max-width: 643px) {
            div:nth-child(3) {
                clear: left;
            }
        }
    }
}

.path_back_to_category {
    padding: 5px 0px 5px;
    margin-bottom: 5px;
    overflow:hidden;
}

.inspiration-strips {
	height: 5px;
	position: absolute;
	z-index: 10;
	left: 0;
	right: 0;
	top: 12px;
	@media(max-width: 980px) {
		top: 9px;
	}
	@media(max-width: $screen-xs-max) {
		top: 6px;
	}
}

body.zolagomodago-index-index {
	.title-section h2 {
		font-size: 32px;
        margin: 5px auto;
		@media(max-width: 980px) {
			font-size: 22px;
            margin: 0 auto;
		}
		@media(max-width: $screen-xs-max) {
			font-size: 16px;
            margin: 0 auto;
		}
	}
}

@media(max-width: $screen-sm-max) {
	body.zolagomodago-index-index {
		section#main {
			> div#content {
				padding: 0 0 25px 0;
				> div.col-sm-12 {
					padding: 0;
				}
			}
			@media(max-width: $screen-xs-max) {
				section#boxesSlider {
					margin-right: -5px;
					div.boxesSlide.mobile:nth-child(odd) {
						margin-right: 5px !important;
					}
					div.boxesSlide.mobile:nth-child(even) {
						margin-right: 0 !important;
					}
                  @media(max-width: $screen-xs-max) {
                    .boxesArrow {
                      display: none !important;
                    }
                  }
                  .slick-dots {
                    //position: absolute;
                    //bottom: -45px;
                    display: block;
                    width: 100%;
                    padding: 0;
                    list-style: none;
                    text-align: center;
                    margin-bottom: 0;
                    margin-top: 25px;
                    li {
                      position: relative;
                      display: inline-block;
                      width: auto;
                      height: auto;
                      margin: 0;
                      padding: 0;
                      cursor: pointer;
                      button {
                        -webkit-border-radius: 20px;
                        -moz-border-radius: 20px;
                        border-radius: 20px;
                        background: $color_869791;
                        font-size: 0;
                        width: 12px;
                        height: 12px;
                        padding: 0;
                        margin: 7px;
                        border: none;
                        filter: Alpha(Opacity=50);
                        opacity: 0.5;
                      }
                      button:hover {
                        filter: Alpha(Opacity=100);
                        opacity: 1;
                      }
                      button:focus {
                        outline: none;
                      }
                      &.slick-active {
                        button {
                          filter: Alpha(Opacity=100);
                          opacity: 1;
                        }
                      }
                    }
                  }
				}
			}
		}
		.row-topSlider {
			margin-left: -1px;
			margin-right: -1px;
		}
		.col-boxes, .col-inspirations {
			padding: 0;
		}
	}
}