.account-create  {
	.button-primary {
		min-width: 150px !important;
	}
	section {
		header {
			//margin-left: -15px;
			margin-bottom:30px;
		}
	}
	form {
		.form-group {
			margin-bottom: 15px;
			&.border-top {
				border-top: 1px solid $gray-lighter;
				padding-top: 20px;
				margin-top: 5px;
				@media(max-width:$screen-xs-max) {
					margin-top: 20px;
					padding-top: 10px;
				}
			}
		}
		.form-checkbox {
			margin-bottom: 15px !important;
			margin-left: 0;

			label {
				height:auto;
				margin-right: 40px;
			}
			&:first-child {
				margin-top: 30px;
			}
		}
		input[type="email"],
		input[type="password"] {
			height:29px;
			padding:0 15px 0 15px;
			width: 100%;
			max-width: 100% !important;
			@media(max-width:$screen-xs-max) {
				width: 266px;
				max-width: 90% !important;
			}
		}
		.action {
			a {
				position:relative;
			}
			button {
				min-width: 120px;
			}
		}
		#back {
			position:relative;
			top:12px;
		}
	}
	.tooltip .tooltip-inner {
		white-space: nowrap;
	}
}

body.customer-account-create {
	.social-register {
		margin: 22px -10px 0 20px;
		@media(max-width: 1070px) {
			margin-left: 5px;
		}
		@media(max-width: 1010px) {
			margin-left: -5px;
		}
		@media(max-width: $screen-xs-max) {
			margin-top: 8px;
			margin-left: 0;
		}
	}
}

body.checkout-guest-index {
	form .form-group .password {
		max-width: 200px;
	}
	.social-register {
		position: absolute;
		top: -73px;
		left: 294px;
		@media(max-width: $screen-lg) {
			left: 230px;
		}
		@media(max-width: 1130px) {
			position: static;
		}
		@media(max-width: $screen-sm-max) {
			position: absolute;
		}
		@media(max-width: 560px) {
			position: static;
		}
	}
}

.social-register .social-register-text {
	margin-bottom: 5px;
}