.checkout {
  .headroom--top {
    position: static !important;
    margin-top: 0px !important;
    transition: none !important;
  }
  .headroom--pinned {
    top: 0 !important;
  }
  #header {
    @include max-screen($screen-xs-max) {
      padding-top: 80px;
      .headroom--top {
        margin-top: -80px !important;
      }
    }
  }
	.header_top {
		height: 65px;
		top: 0px !important;
	}
	@include max-screen($screen-xs-max) {
		.headroom--unpinned {
			top: -65px !important;
		}
	}
	#step {
		text-align: right;
		ol {
			list-style: none;
			background: $colorHeaderCheckoutSteps;
			&.step_02,
			&.step_03,
			&.step_04 {
				&:before {
					background: $colorHeaderCheckoutStepsActive;
				}
			}
			li {
				color: $colorHeaderCheckoutStepsText;

				text-transform: uppercase;
				font-size: 13px;
				white-space: nowrap;
				background: $colorHeaderCheckoutSteps;
				@include border-radius(50px);
				> span {
					@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
						margin-top: 3px;
						font-size: 10px;
					}
					@media (max-width: $screen-xs-max) {
						font-size: 10px;
					}
				}
				&.current-checkout {
					> span {
						@media (max-width: $screen-xs-max) {
							font-size: 10px;
						}
					}
				}
				&#step_04 {
					span {
						span {
							@media (max-width: $screen-xs-max) {
								text-align: center;

							}
						}
					}
				}
				&.current-checkout {
					color: $colorHeaderCheckoutStepsTextActive;
					background: $colorHeaderCheckoutStepsActive;

				}
			}
		}
	}
}

.checkout {
	.content-logo {
		width: 163px;
		float: left;
	}
	.content-step {
		margin-left: 173px;
	}
	#header {
		#logo {
			margin-top: 12px;
			img {
				width: 160px;
				@include max-screen($screen-xs-max) {
					width: 80%;
					margin-top: 1px;
				}
			}
		}
		#header_top_block_left {
			width: 30%;
			float: left;
		}
		#header_top_block_right {
			width: 65%;
			position: static;
			float: left;
		}
	}
	#step {
		text-align: right;
		position: relative;
		top: 5px;
		margin-left: 60px;
		@media (max-width: $screen-sm-max) {
			margin-left: -5px;
		}
		ol {
			margin: 35px 0px 0px;
			padding: 0px;
			position: relative;
			width: 64%;
			min-width: 95px;
			height: 3px;
			float: right;
			margin-right: 110px;
			@media (max-width: $screen-xs-max) {
				width: 95px;
				margin-right: 15px;
			}

			&.step_02,
			&.step_03,
			&.step_04 {
				&:before {
					content: ' ';
					display: block;
					height: 3px;
					margin: 0;
					position: relative;
					top: 0;
					left: 0;
					z-index: 801;

				}
			}
			&.step_02 {
				&:before {
					width: 33%;
				}
			}
			&.step_03 {
				&:before {
					width: 66%;
				}
			}
			&.step_04 {
				&:before {
					width: 100%;
				}
			}
			li {
				text-transform: uppercase;
				//height: 42px;
				position: absolute;
				top: -5px;
				display: block;
				width: 12px;
				height: 12px;
				> span {
					position: relative;
					display: inline-block;
					width: 12px;
					height: 12px;

					@media (max-width: $screen-xs-max) {
						display: none;
					}
					span {
						position: absolute;
						top: -25px;
						left: 0px;
						right: 0px;
					}
				}
				&.current-checkout {
					> span {
						@media (max-width: $screen-xs-max) {
							display: inline-block;
							position: static;
						}
					}
					&.executed {
						> span {
							@media (max-width: $screen-xs-max) {
								display: none;
							}
						}
					}
				}
				&#step_01 {
					left: 0px;
					span {
						span {
							left: -21px;
							@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
								left: -13px
							}
							@media (max-width: $screen-xs-max) {
								left: 34px;
							}
						}
					}

				}
				&#step_02 {
					left: 33%;
					span {
						span {
							left: -49px;
							@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
								left: -37px;
							}
							@media (max-width: $screen-xs-max) {
								left: -21px;

							}
						}
					}
				}
				&#step_03 {
					left: 66%;
					span {
						span {
							left: -63px;
							@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
								left: -44px;
							}
							@media (max-width: $screen-xs-max) {
								left: -61px;

							}
						}
					}
				}
				&#step_04 {
					left: 100%;
					span {
						span {
							left: -46px;
							@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
								left: -36px;
							}
							@media (max-width: $screen-xs-max) {
								left: -92px;

							}
						}
					}
				}

				&:last-child {
					margin-right: 0px;
				}
			}
		}
	}
}