<?xml version="1.0"?>
<!--
/**
  
 */

-->
<config>
    <modules>
        <ZolagoOs_OmniChannelVacation>
            <version>1.0.1</version>
        </ZolagoOs_OmniChannelVacation>
    </modules>

    <global>
        <models>
            <udvacation>
                <class>ZolagoOs_OmniChannelVacation_Model</class>
                <resourceModel>udvacation_mysql4</resourceModel>
            </udvacation>
            <udvacation_mysql4>
                <class>ZolagoOs_OmniChannelVacation_Model_Mysql4</class>
            </udvacation_mysql4>
        </models>

        <resources>
            <udvacation_setup>
                <setup>
                    <module>ZolagoOs_OmniChannelVacation</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </udvacation_setup>
            <udvacation_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </udvacation_write>
            <udvacation_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </udvacation_read>
        </resources>

        <blocks>
            <udvacation>
                <class>ZolagoOs_OmniChannelVacation_Block</class>
            </udvacation>
        </blocks>

        <helpers>
            <udvacation>
                <class>ZolagoOs_OmniChannelVacation_Helper</class>
            </udvacation>
        </helpers>

        <udropship>
            <vendor>
                <fields>
                </fields>
            </vendor>
        </udropship>

        <template>
            <email>
            </email>
        </template>

        <events>
            <udropship_vendor_save_commit_after>
                <observers>
                    <udvacation>
                        <type>singleton</type>
                        <class>udvacation/observer</class>
                        <method>udropship_vendor_save_commit_after</method>
                    </udvacation>
                </observers>
            </udropship_vendor_save_commit_after>
        </events>

    </global>

    <frontend>
        <routers>
            <udvacation>
                <use>standard</use>
                <args>
                    <module>ZolagoOs_OmniChannelVacation</module>
                    <frontName>udvacation</frontName>
                </args>
            </udvacation>
        </routers>
        <layout>
            <updates>
            </updates>
        </layout>
        <events>
            <udropship_prepare_quote_items_after>
                <observers>
                    <udvacation>
                        <class>udvacation/observer</class>
                        <method>udropship_prepare_quote_items_after</method>
                    </udvacation>
                </observers>
            </udropship_prepare_quote_items_after>
            <udropship_vendor_front_preferences>
                <observers>
                    <udvacation>
                        <class>udvacation/observer</class>
                        <method>udropship_vendor_front_preferences</method>
                    </udvacation>
                </observers>
            </udropship_vendor_front_preferences>
            <udropship_vendor_preferences_save_before>
                <observers>
                    <udvacation>
                        <class>udvacation/observer</class>
                        <method>udropship_vendor_preferences_save_before</method>
                    </udvacation>
                </observers>
            </udropship_vendor_preferences_save_before>
        </events>
    </frontend>

    <admin>
        <routers>
            <udvacationadmin>
                <use>admin</use>
                <args>
                    <module>ZolagoOs_OmniChannelVacation_Adminhtml</module>
                    <frontName>udvacationadmin</frontName>
                </args>
            </udvacationadmin>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <udvacation>
                </udvacation>
            </updates>
        </layout>
        <events>
            <udropship_adminhtml_vendor_edit_prepare_form>
                <observers>
                    <udvacation>
                        <class>udvacation/observer</class>
                        <method>udropship_adminhtml_vendor_edit_prepare_form</method>
                    </udvacation>
                </observers>
            </udropship_adminhtml_vendor_edit_prepare_form>
        </events>
    </adminhtml>

    <default>
        <udropship>
	    </udropship>
    </default>

    <crontab>
        <jobs>
            <udvacation_process>
                <schedule><cron_expr>0 * * * *</cron_expr></schedule>
                <run><model>udvacation/observer::processVacations</model></run>
            </udvacation_process>
        </jobs>
    </crontab>
</config>
