<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
  
 */

-->
<config>
    <sections>
        <udropship>
            <groups>
                <customer>
                    <fields>
                        <vacation_message translate="label">
                            <label>Vendor Vacation Message</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[NOTE: Use {{vacation_end}} code for "Vacation Ends At" date]]></comment>
                        </vacation_message>
                    </fields>
                </customer>
            </groups>
        </udropship>
    </sections>
</config>
