.pagination-line {
	* {
		list-style: none !important;
	}
	margin: 0 !important;
	padding: 0;
	.listing-pagination {
		margin: 0;
		padding: 0;
		.totals, .pages {
			display: inline-block;
			@media(max-width: 600px) {
				display: block;
			}
		}
		.totals {
			line-height: 30px;
			vertical-align: top;
			margin-right: 5px;
		}
		.pages {
			a {
				display: inline-block;
				padding: 0 24px;
				background-color: $color_ffffff;
				border: 1px solid $color_afafaf;
				text-align: center;
				font-size: 25px;
				color: $color_333333;
				height: 30px;
				line-height: 29px;
				&:hover {
					border-color: $color_333333;
				}
				&.page-disabled {
					color: $color_c4c4c4;
					border-color: $color_e8e8e8;
					&:hover {
						color: $color_c4c4c4;
						border-color: $color_e8e8e8;
					}
				}
			}
		}
	}
	&.pagination-bottom {
		text-align: center;
		margin-top: 35px !important;
		.totals,.pages {
			display: inline-block !important;
		}
		.totals {
			margin-right: 10px;
		}
		.pages {
			a {
				border: none;
				background-color: $color_000000;
				color: $color_ffffff;
				&:hover {
					background: $color_b08944;
					/* Old browsers */
					/* IE9 SVG, needs conditional override of 'filter' to 'none' */
					background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYjA4OTQ0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzcwNWUyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
					background: -moz-linear-gradient(-80deg, $color_b08944 0%, $color_705e29 100%);
					/* FF3.6+ */
					background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $color_b08944), color-stop(100%, $color_705e29));
					/* Chrome,Safari4+ */
					background: -webkit-linear-gradient(-80deg, $color_b08944 0%, $color_705e29 100%);
					/* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(-80deg, $color_b08944 0%, $color_705e29 100%);
					/* Opera 11.10+ */
					background: -ms-linear-gradient(-80deg, $color_b08944 0%, $color_705e29 100%);
					/* IE10+ */
					background: linear-gradient(135deg, $color_b08944 0%, $color_705e29 100%);
					/* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_b08944', endColorstr='$color_705e29',GradientType=1 );
					/* IE6-8 fallback on horizontal gradient */
				}
				&.page-disabled {
					opacity: .15;
					color: $color_ffffff;
					background: $color_000000;
					&:hover {
						background: $color_000000;
						color: $color_ffffff;
						border-color: inherit;
					}
				}
			}
		}
	}
}