/* clearfix */
.rwd-carousel .rwd-wrapper:after {
	line-height: 0;
}
/* display none until init */
.rwd-carousel{
	.rwd-page,
	.rwd-buttons div{
		cursor: pointer;
	}
}
.customNavigation {
	a {
		font-size: 30px;
		color:#ccc;
		cursor:pointer;
		&:hover {
			color:#808080
		}
	}
}
.block-promoted-banners {
	.rwd-controls {
		.rwd-buttons {
			.rwd-prev,
			.rwd-next {
				font-size: 30px;
				color:#ccc;
				cursor:pointer;
				
				&:hover {
					color:#808080
				}
			}
		}
	}
}
.block-inspiration {
	.rwd-controls {
		.rwd-buttons {
			.rwd-prev,
			.rwd-next {
				font-size: 30px;
				color:#ccc;
				cursor:pointer;
				&:hover {
					color:#808080
				}
			}
		}
	}
}


/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* Styling Pagination*/

.rwd-theme .rwd-controls .rwd-page span{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

/* If PaginationNumbers is true */

.rwd-theme .rwd-controls .rwd-page span.rwd-numbers{
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.rwd-item.loading{
	background: url(AjaxLoader.gif) no-repeat center center
}

#rwd-banners .item{
  background: #fff;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

.customNavigation{
  text-align: center;
}
