
/* ----------
 * 002 - Site
 */

#sb-site, .sb-site {
	background: $color_F2F1F0;
	overflow-x: hidden;
}
/* ---------------
 * 003 - Slidebars
 */

.sb-slidebar {
	background-color: $color_2d2d2d; /* Default Slidebars background colour, overwrite this with your own css. */
	> header {
		background:$color_2d2d2d;
		
		a, a:visited {
			line-height: 57px;
			color:$color_fff;
			font-size: 14px;
			text-decoration: underline;
		}
	}
}
.sb-menu > li {
border-bottom: 1px solid rgba(255, 255, 255, 0.1);
background: $color_000;
}
.sb-menu li a {
color: $color_f2f2f2;
	&:hover {
		text-decoration: underline;
	}
}
.sb-menu  li ul {
	background: $color_2d2d2d;
	list-style: none;
}
.sb-menu  li li {
	}
.sb-menu  li ul ul {
	background: $color_555556;
}
.sb-menu > li > a {
	text-transform: uppercase;
}
.sb-menu > li > ul > li > a {
	text-transform: uppercase;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sb-menu > li > ul > li:first-child > a {
	border-top:none;
}
.sb-menu > li > ul > li > ul > li > a {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sb-menu > li > ul > li > ul > li:first-child > a {
	border-top: none;
}
.sb-menu li a.sb-submenu-active + ul{
	display: block;
}


.sb-menu  li a.sb-toggle-submenu {
	background: url('../images/arrow-menu-sliding-wite.png') 90% 50% no-repeat;
}
.sb-menu  li a.sb-submenu-active {
	background: url('../images/arrow-menu-sliding-active.png') 90% 50% no-repeat;
}

.sb-menu  li ul a.sb-toggle-submenu {
	background: url('../images/arrow-menu-sliding-wite.png') 90% 50% no-repeat;
}
.sb-menu  li ul a.sb-submenu-active {
	background: url('../images/arrow-menu-sliding-active.png') 90% 50% no-repeat;
}
.sb-menu > li.separator,
.sb-menu li.separator {
	background: $color_2e2e2e ;
}

/* ----------
 * 002 - Site
 */

#fb-site, .fb-site {
	background: $color_F2F1F0;
}

/* ---------------
 * 003 - Slidebars
 */
.fb-slidebar-header {

		background:$color_000;
		
		a, a:visited {
			line-height: 53px;
			color:$color_fff;
			font-size: 14px;
			text-transform: uppercase;
			@include max-screen($screen-sm-max) {
			      height:41px;
			      line-height: 41px;
			   }
			i {
				font-size: 20px;
				float: left;
				line-height: 53px;
				@include max-screen($screen-sm-max) {
			      line-height: 41px;
			   }
			}
		}
	}
.fb-slidebar {
	background-color: $color_fff; /* Default Slidebars background colour, overwrite this with your own css. */
	
	> header {
		background:$color_2d2d2d;
		a, a:visited {
			line-height: 53px;
			color:$color_fff;
			font-size: 14px;
			text-transform: uppercase;
			i {
				font-size: 20px;
				float: left;
				line-height: 53px;
			}
		}
	}
	
}