.brandshop-breadcrumps,
ol.breadcrumb {
	background: none;
	font-family: $fontRegular;
	font-size: 11px;
	padding: 20px 0 0;
	margin-left: 3px;
	a:link,
	a:visited {
		font-weight: 400;
		color: #85807f;
	}
	a:hover {
		text-decoration: underline;
	}
	&.active {
		color: #85807f;
	}
}

ol.breadcrumb{
	li {
		font-size: 1.2em;
		&:not(:first-child):before {
			text-align: right;
		}
	}
}

.brandshop-breadcrumps{
	a::before{
		font-family: "FontAwesome";
		content: "\f104";
	}
}
//
//.catalog-product-view {
//	.breadcrumb {
//		font-size: 11px;
//		padding-left: 0;
//	}
//	.path_back_to_category {
//		text-transform: none;
//	}
//}