b, strong {
	font-weight: normal !important;
	font-family: $fontBlack !important;
}

.browsehappy {
	background:$color_fff;
	text-align: center;
	color:red;
}

.modal-content {
	button.close {
		opacity: 1;
		color: $color_fff;
		text-shadow: none;
		height: 39px;
		width: 39px;
		background: $color_000;
		border-radius: 20px !important;
		border: 3px solid $color_fff !important;
		top: -20px;
		right: -20px;
		box-shadow: 0 0 3px 3px rgba(0,0,0,.6) !important;
		&:after {
			font-family: FontAwesome;
			content: "\f00d";
			position: absolute;
			top: 6px;
			left: 8px;
			color: $color_ffffff;
		}
	}
}
