.gh-cookiebar {
	#cookie-bar {
		background:$colorCookieBarBg;
		height:auto;
		line-height:24px;
		color:$colorCookieBar;
		text-align:center;
		padding:3px 0;
		z-index: 9999;
		width: 100%;
		&.fixed {
			position: fixed;
			&.bottom {bottom:0; top:auto;}
		}
		a {
			color:$colorCookieBarLink;
			text-decoration:none;
			border-radius: 0;
			padding: 0;
			margin: 0;
			&:hover {
				color: $colorCookieBarLinkHover;
			}
			&:active,&:focus {
				color: $colorCookieBarLinkActive;
			}
		}
		p {margin:0; padding:10px; font-size: 12px;}
		.cb-enable {
			padding: 5px 20px;
			color: $colorBtnPrimary;
			//font-weight: bold;
			font-family: $fontRegular;
			text-align: center;
			border-radius: $borderRadiusBtn;
			vertical-align: middle;
			border: none;
			margin: 0 10px;
			@include primaryButtonGradient;
			&:hover,&:focus,&:active {
				color: $colorBtnPrimary;
			}
		}

		.cb-disable {background:$color_c6a662;}
		.cb-disable:hover {background:$color_b08944;}
		.cb-policy {background:$color_c6a662;}
		.cb-policy:hover {background:$color_b08944;}
	}
}