/* DROPDOWN SEARCH & MASKET */
.dropdown .dropdown-panel {
	list-style: none;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

#dropdown-basket {
	background: $colorBgDropdownCart;
	color: $colorDropdownCart;
	border: 1px solid $colorDropdownBorderCart;
	/* PANEL KOSZYKA */
	table {
		width: 100%;
		td {
			vertical-align: top;
			img {
				//border: 1px solid $colorAccentDropdownCart;
				max-width: 80px;
				height: auto;
			}

			p {
				font-size: 14px;
				line-height: 1.3;
			}
		}
	}
	.summary_basket {
		display: none;
		font-size: 11px;
		border-top: 1px solid $colorAccentDropdownCart;
		ul, li {
			@include no-bullet;
		}
		li {
			line-height: 1.5;
			text-align: left;
		}
	}
	.loading_basket {
		text-align: center;
		font-size: 22px;
		margin: 20px 0;
	}
}

/* DROPDOWN SEARCH & BASKET */
.dropdown {
	position: absolute;
	display: none;
	z-index: 9999999;
}


.dropdown .dropdown-panel {
	min-width: 160px;
	max-width: 370px;
	padding: 4px 0;
	margin: 0;
}


#dropdown-search { /* PANEL WYSZUKIWANIA */
	background: $colorBgDropdownSearch;
	color: $colorDropdownSearch;
	border: 1px solid $colorDropdownBorderSearch;
	padding:0px;
	top:92px !important;
	@include max-screen($screen-sm-max) {
		top:54px !important;
	}
	@include max-screen($screen-md) {
		right:0 !important;
	}

	&:before {
		display: block;
		top: -15px;
		right: 58px;
		@include max-screen($screen-sm-max) {
			left: 205px !important;
		}

		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(136, 183, 213, 0);
		border-bottom-color: #E6E6E6;
		border-width: 7px 8px;
		margin-left: -6px;
	}

	&:after {
		content: "";
		position: absolute;
		top: -37px;
		height: 37px;
		width: 100%;
		left: 10px;
		display: block;
	}

	.searchDropdown {
		width: 620px;
		@include max-screen($screen-sm-max) {
			width: 320px;
		}
		@include border-radius(0px);
		top: 54px;
		padding: 20px;
		.form-group {
			float: none;
			&.input {
				width: 80%;
			}
			&.action {
				width: 13%;
			}
			@include max-screen($screen-sm-max) {
				width: 100% !important;
			}
			input[type="text"] {
				//height: 26px;
				width: 97%  !important;
				float: none;
				margin-bottom: 15px;

				@media (max-width: $screen-md) {
					width: 100%  !important;
				}
			}

			select {
				//height: 34px;
				width: 100%;
				float: none;
				margin-bottom: 15px;
			}

		}
	}
	.dropdown-panel {
		width:600px;
		max-width: 620px;
		@include max-screen($screen-sm-max) {
			width:320px;
			max-width: 370px;
		}
	}
}




#dropdown-basket  {  /* PANEL KOSZYKA */
	padding:0px;
	top:92px !important;
	right:5px !important;
	left:auto !important;
	font-size: 14px;
	@include max-screen($screen-sm-max) {
		top:40px !important;
	}
	@include max-screen($screen-sm) {
		right:0px !important;
	}
	@include max-screen($screen-sm-max) {
		top:54px !important;
	}

	&:before {
		//content: '';
		display: block;
		top: -15px;
		left: auto;
		right: 0;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(136, 183, 213, 0);
		border-bottom-color: #E6E6E6;
		border-width: 7px 8px;
		margin-left: -6px;
	}

	&:after {
		content: "";
		position: absolute;
		top: -37px;
		height: 37px;
		width: 100%;
		left: 10px;
		display: block;
	}

	a{
		color: $colorDropdownSearch;
		line-height: 19px;
		font-size: 14px;
		&.view_basket {
			color: #fff;
			width: 100% !important;
			margin-right: 0 !important;
			float: right;
			display:block;
			margin-top: 14px ;
			margin-right: 14px;
			text-align:center;
			text-transform: uppercase;
		}
	}
	.dropdown-panel {
		@include box-shadow(none);
		border-width: 1px;
		z-index: 1000;
		@include transition(all 0.25s ease-in-out);
		@include max-screen($screen-sm-max) {
			width:360px;
			max-width: 360px;
		}
		.dropdown-panel-inner {
			box-sizing:border-box;
			width:300px;
			max-width: 300px;
			padding: 20px 25px 25px;
			margin:0 auto;
			#product-list {
				h4.name_product {
					padding: 0;
					text-transform: uppercase;
					font-size: 1em;
					margin: 0 0 5px;
					a {
						&:hover {
							color: $colorLinkHover;
						}
					}
				}
				.desc {
					max-width: 160px;
				}
				tr {
					border-bottom: 1px solid #eee;
					padding: 0.7142em 0 0.7142em !important;
				}
				tr:last-child {
					border-bottom: none;
					padding: 0.7142em 0 0.7142em !important;
				}
			}
		}
	}

	table {
		width:100%;

		td {
			padding: 8px 0;

			&.price {
				text-align: right;
				color: $color_8a8a8a;
			}
			&+td {
				padding-left: 5px;
			}
			p {
				margin:0px;
				padding:0px;
			}
		}
	}
	.summary_basket {
		@include clearfix;
		padding: 20px 15px 5px 15px;
		margin: 11px 0 0 0;
		font-size: 14px;
		ul {
			float:left;
		}
		ul,li {
			@include reset-m;
		}
	}
}