.recently-viewed {
  .no-gutter[class^=col-] {
    padding-left: 0;
    padding-right: 0;
  }
  .left-col {

  }
  .right-col {
    .prod_name {
      height: 50px;
	  overflow:hidden;
	  position:relative;
	  .prod_name_fade {
		position:absolute;
		bottom: 0px;
		width:100%;
		left:0px;
		height: $font-size-base;
		display:block;
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 20%,rgba(255,255,255,1) 100%);
	  }
    }
    .wrapper-price {
      font-size: 14px;
      font-family:$fontRegular;
      .old {
        text-decoration: line-through;
        color: $colorProductStrikeOutPrice;
      }
      .price {
        color:$colorProductFinalPrice;
      }
    }
  }

	h3.title-section {
		@media (max-width: $screen-xs-max) {
			font-size: 14px;
			font-family: $fontRegular;
		}
		&:before {
			@media (max-width: $screen-xs-max) {
				background: $colorAccentTitle;
			}
		}
	}
	.box_listing_product {
		.name_product {
			text-align: center;
		}
	}
	.item {
		background: $color_fff;
		color: $color_515151;
		img {
			border:1px solid $color_f5f6f6;
		}

	}
	.customNavigation {
		a {
			font-size: 48px;
			background:$allMap;
			&.prev {
				@include sprite($allMap, arrow-slider-latest-left-l);
				@media (max-width: $screen-xs-max) {
					@include sprite($allMap, arrow-rwd-slider-prev-mobile);

				}
				&:hover {
					@include sprite($allMap, arrow-slider-latest-left-h);

					@media (max-width: $screen-xs-max) {
						@include sprite($allMap, arrow-rwd-slider-prev-mobile-h);

					}
				}
			}
			&.next {
				@include sprite($allMap, arrow-slider-latest-right-l);

				@media (max-width: $screen-xs-max) {
					@include sprite($allMap, arrow-rwd-slider-next-mobile);

				}
				&:hover {
					@include sprite($allMap, arrow-slider-latest-right-h);

					@media (max-width: $screen-xs-max) {
						@include sprite($allMap, arrow-rwd-slider-next-mobile-h);

					}
				}
			}
		}
	}

}

.recently-viewed {
	.rwd-controls {
		.rwd-buttons {
			.rwd-prev,
			.rwd-next {
				color: $color_c2c2c2;
				font-size: 32px;
				top:10px;
			}
			.rwd-prev {
				&:before {
					content:"\f104";
                    font-family: 'FontAwesome';
				}
				&:hover {
					
					color: $color_8a8a8a;
				}

			}
			.rwd-next {
				&:before {
					content:"\f105";
                    font-family: 'FontAwesome';
				}
				
				&:hover {
					color: $color_8a8a8a;
				}
			}
		}
	}
}