.login-box{background:url(images/logo_login_zolago_os.png) top center no-repeat; padding-top: 40px;}
@media (min-width: 992px) {
    #page-login-footer-wrapper {
        position: fixed;
        bottom: 15px;
        right: 15px;
    }
}
