<?xml version="1.0"?>
<config>
	<modules>
		<Zolago_Persistent>
			<version>0.0.1</version>
		</Zolago_Persistent>
	</modules>
	<global>
		<models>
			<persistent>
				<rewrite>
					<observer>Zolago_Persistent_Model_Observer</observer>
				</rewrite>
			</persistent>
		</models>
		<blocks>
			<zolagopersistent>
				<class>Zolago_Persistent_Block</class>
			</zolagopersistent>
		</blocks>
		<resources>
            <zolagopersistent_setup>
                <setup>
                    <module>Zolago_Persistent</module>
                </setup>
            </zolagopersistent_setup>
        </resources>
	</global>
	<frontend>
		<routers>
			<persistent>
				<args>
					<modules>
						<Zolago_Persistent before="Mage_Persistent">Zolago_Persistent</Zolago_Persistent>
					</modules>
				</args>
			</persistent>
		</routers>
		<translate>
			<modules>
				<Zolago_Persistent>
					<files>
						<default>Zolago_Persistent.csv</default>
					</files>
				</Zolago_Persistent>
			</modules>
		</translate>
		<layout>
            <updates>
                <zolagopersistent>
                    <file>zolagopersistent.xml</file>
                </zolagopersistent>
            </updates>
        </layout>
	</frontend>
</config>
