<?xml version="1.0"?>
<config>
    <modules>
        <GH_Marketing>
            <version>0.0.5</version>
        </GH_Marketing>
    </modules>
    <global>
        <models>
            <ghmarketing>
                <class>GH_Marketing_Model</class>
                <resourceModel>ghmarketing_resource</resourceModel>
            </ghmarketing>
            <ghmarketing_resource>
                <class>GH_Marketing_Model_Resource</class>
                <entities>
                    <marketing_cost>
                        <table>gh_marketing_cost</table>
                    </marketing_cost>
                    <marketing_cost_type>
                        <table>gh_marketing_cost_type</table>
                    </marketing_cost_type>
                </entities>
            </ghmarketing_resource>
        </models>
        <blocks>
            <ghmarketing>
                <class>GH_Marketing_Block</class>
            </ghmarketing>
        </blocks>
        <helpers>
            <ghmarketing>
                <class>GH_Marketing_Helper</class>
            </ghmarketing>
        </helpers>
        <resources>
            <ghmarketing_setup>
                <setup>
                    <module>GH_Marketing</module>
                </setup>
            </ghmarketing_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <ghmarketing>
                <use>standard</use>
                <args>
                    <module>GH_Marketing</module>
                    <frontName>ghmarketing</frontName>
                </args>
            </ghmarketing>
			<udropship>
				<args>
					<modules>
						<GH_Marketing before="Unirgy_Dropship">GH_Marketing_Dropship</GH_Marketing>
					</modules>
				</args>
			</udropship>
        </routers>
        <secure_url>
            <ghmarketing>/ghmarketing</ghmarketing>
			<udropship_marketing>/udropship/marketing/</udropship_marketing>
        </secure_url>
        <translate>
            <modules>
                <GH_Marketing>
                    <files>
                        <default>GH_Marketing.csv</default>
                    </files>
                </GH_Marketing>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <GH_Marketing>
                    <files>
                        <default>GH_Marketing.csv</default>
                    </files>
                </GH_Marketing>
            </modules>
        </translate>
        <layout>
            <updates>
                <ghmarketing>
                    <file>ghmarketing.xml</file>
                </ghmarketing>
            </updates>
        </layout>
		<events>
			<udropship_adminhtml_vendor_tabs_after>
				<observers>
					<ghmarketing>
						<class>ghmarketing/observer</class>
						<method>udropship_adminhtml_vendor_tabs_after</method>
					</ghmarketing>
				</observers>
			</udropship_adminhtml_vendor_tabs_after>
		</events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ghmarketing before="Mage_Adminhtml">GH_Marketing_Adminhtml</ghmarketing>
                    </modules>
                </args>
            </adminhtml>
            <ghmarketing>
                <use>admin</use>
                <args>
                    <module>GH_Marketing_Adminhtml</module>
                    <frontName>ghmarketing</frontName>
                </args>
            </ghmarketing>
        </routers>
    </admin>
</config>