<?xml version="1.0"?>
<config>
    <modules>
        <GH_FeedExport>
            <version>0.1.0</version>
        </GH_FeedExport>
    </modules>
    <global>
        <models>
            <ghfeedexport>
                <class>GH_FeedExport_Model</class>
                <resourceModel>ghfeedexport_resource</resourceModel>
            </ghfeedexport>
            <ghfeedexport_resource>
                <class>GH_FeedExport_Model_Resource</class>
            </ghfeedexport_resource>
            <feedexport>
                <rewrite>
                    <feed_generator_pattern_product>GH_FeedExport_Model_Feed_Generator_Pattern_Product</feed_generator_pattern_product>
                    <feed_generator_action_iterator_rule>GH_FeedExport_Model_Feed_Generator_Action_Iterator_Rule</feed_generator_action_iterator_rule>
                    <config>GH_FeedExport_Model_Config</config>
                    <feed_generator_action_iterator_entity>GH_FeedExport_Model_Feed_Generator_Action_Iterator_Entity</feed_generator_action_iterator_entity>
                    <feed_generator_action_iterator>GH_FeedExport_Model_Feed_Generator_Action_Iterator</feed_generator_action_iterator>
                </rewrite>
            </feedexport>
        </models>
        <blocks>
            <ghfeedexport>
                <class>GH_FeedExport_Block</class>
            </ghfeedexport>
        </blocks>
        <helpers>
            <ghfeedexport>
                <class>GH_FeedExport_Helper</class>
            </ghfeedexport>
            <feedexport>
                <rewrite>
                    <eval>GH_FeedExport_Helper_Eval</eval>
                </rewrite>
            </feedexport>
        </helpers>
        <resources>
            <ghfeedexport_setup>
                <setup>
                    <module>GH_FeedExport</module>
                </setup>
            </ghfeedexport_setup>
        </resources>
        <events>
            <adminhtml_promo_catalog_edit_tab_main_prepare_form>
                <observers>
                    <ghfeedexport_promo_catalog_edit_tab_main_prepare_form>
                        <class>GH_FeedExport_Model_Observer</class>
                        <method>addProductPreFilters</method>
                    </ghfeedexport_promo_catalog_edit_tab_main_prepare_form>
                </observers>
            </adminhtml_promo_catalog_edit_tab_main_prepare_form>
        </events>
    </global>
</config>