<?xml version="1.0"?>
<config>
    <modules>
        <GH_MageMonkey>
            <version>0.1.0</version>
        </GH_MageMonkey>
    </modules>
    <global>
        <models>
            <gh_magemonkey>
                <class>GH_MageMonkey_Model</class>
                <resourceModel>gh_magemonkey_resource</resourceModel>
            </gh_magemonkey>
            <gh_magemonkey_resource>
                <class>GH_MageMonkey_Model_Resource</class>
            </gh_magemonkey_resource>
            <monkey>
                <rewrite>
                    <subscriber>GH_MageMonkey_Model_Subscriber</subscriber>
                    <observer>GH_MageMonkey_Model_Observer</observer>
                </rewrite>
            </monkey>
        </models>
        <blocks>
            <gh_magemonkey>
                <class>GH_MageMonkey_Block</class>
            </gh_magemonkey>
            <monkey>
                <rewrite>
                    <adminhtml_ecommerceapi_grid>GH_MageMonkey_Block_Adminhtml_Ecommerceapi_Grid</adminhtml_ecommerceapi_grid>
                </rewrite>
            </monkey>
        </blocks>
        <helpers>
            <gh_magemonkey>
                <class>GH_MageMonkey_Helper</class>
            </gh_magemonkey>
            <monkey>
                <rewrite>
                    <data>GH_MageMonkey_Helper_Data</data>
                </rewrite>
            </monkey>
        </helpers>
    </global>
</config>