<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Po>
            <version>0.0.3</version>
        </Zolago_Po>
    </modules>
    <global>
		<resources>
            <zolagopo_setup>
                <setup>
                    <module>Zolago_Po</module>
                </setup>
            </zolagopo_setup>
        </resources>
		<blocks>
			<udpo>
				<rewrite>
					<vendor_po_info>Zolago_Po_Block_Vendor_Po_Info</vendor_po_info>
					<adminhtml_po_grid>Zolago_Po_Block_Adminhtml_Po_Grid</adminhtml_po_grid>
					<adminhtml_salesOrderViewTab_udpos>Zolago_Po_Block_Adminhtml_SalesOrderViewTab_Udpos</adminhtml_salesOrderViewTab_udpos>
				</rewrite>
			</udpo>
		</blocks>
		<helpers>
			<zolagopo>
				<class>Zolago_Po_Helper</class>
			</zolagopo>
			<udpo>
				<rewrite>
					<data>Zolago_Po_Helper_Data</data>
				</rewrite>
			</udpo>
		</helpers>
		<models>
			<zolagopo>
				<class>Zolago_Po_Model</class>
			</zolagopo>
			<udpo>
				<rewrite>
					<po>Zolago_Po_Model_Po</po>
				</rewrite>
			</udpo>
		</models>
		<events>
			<udpo_po_shipment_save_before>
				<observers>
					<poShipmentSaveBefore>
						<model>zolagopo/observer</model>
						<method>poShipmentSaveBefore</method>
					</poShipmentSaveBefore>
				</observers>
			</udpo_po_shipment_save_before>
		</events>
    </global>
    <frontend>
        <layout>
            <updates>
                <zolagopo>
                    <file>zolagopo.xml</file>
                </zolagopo>
            </updates>
        </layout>
		<routers>
			<udpo>
				<args>
					<modules>
						<Zolago_Pos before="Unirgy_DropshipPo">Zolago_Po</Zolago_Pos>
					</modules>
				</args>
			</udpo>
		</routers>
		<translate>
			<modules>
				<Zolago_Po>
					<files>
						<default>Zolago_Po.csv</default>
					</files>
				</Zolago_Po>
			</modules>
		</translate>
	</frontend>
    <adminhtml>
        <layout>
            <updates>
                <zolagopo>
                    <file>zolagopo.xml</file>
                </zolagopo>
            </updates>
        </layout>
		<translate>
			<modules>
				<Zolago_Po>
					<files>
						<default>Zolago_Po.csv</default>
					</files>
				</Zolago_Po>
			</modules>
		</translate>		
    </adminhtml>
</config>
