<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Po>
            <version>0.0.2</version>
        </Zolago_Po>
    </modules>
    <global>
       <resources>
            <zolagopo_setup>
                <setup>
                    <module>Zolago_Po</module>
                </setup>
            </zolagopo_setup>
        </resources>
		<blocks>
			<udpo>
				<rewrite>
					<adminhtml_po_grid>Zolago_Po_Block_Adminhtml_Po_Grid</adminhtml_po_grid>
					<adminhtml_salesOrderViewTab_udpos>Zolago_Po_Block_Adminhtml_SalesOrderViewTab_Udpos</adminhtml_salesOrderViewTab_udpos>
				</rewrite>
			</udpo>
		</blocks>
		<helpers>
			<udpo>
				<rewrite>
					<data>Zolago_Po_Helper_Data</data>
				</rewrite>
			</udpo>
		</helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <zolagopo>
                    <file>zolagopo.xml</file>
                </zolagopo>
            </updates>
        </layout>
		<routers>
			<udpo>
				<args>
					<modules>
						<Zolago_Pos before="Unirgy_DropshipPo">Zolago_Po</Zolago_Pos>
					</modules>
				</args>
			</udpo>
		</routers>
	</frontend>
    <adminhtml>
        <layout>
            <updates>
                <zolagopo>
                    <file>zolagopo.xml</file>
                </zolagopo>
            </updates>
        </layout>
    </adminhtml>
</config>
