<config>
    <sections>
        <udropship>
            <groups>
                <purchase_order>
                    <fields>
                        <status_changed_shipped translate="label" module="zolagopo">
                            <label>PO Status changed to shipped</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>55</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </status_changed_shipped>
                        <zolagopo_compose translate="label" module="zolagopo">
                            <label>Email template when vendor send message to customer</label>
                            <comment>PO customer message email template</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </zolagopo_compose>
					</fields>
				</purchase_order>
                <vendor_panel>
                    <label>Vendor Panel Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>25</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <po_edit_show_product_links translate="label" module="zolagopo">
                            <label>Edit PO page: show links on products</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>65</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </po_edit_show_product_links>
                    </fields>
                </vendor_panel>
            </groups>
        </udropship>
    </sections>
</config>