.clr {
	clear:both;
}
body {
	&> .modal-backdrop {
		display:none!important;
	}
	&.modal-open {
		overflow:hidden!important;
		
		#sb-site {
			overflow:hidden!important;
			
		}
	}
}
.container-fluid {
	max-width: 1206px;
}
.browsehappy {
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	z-index: 9000;
	padding:50px;
}

.popular-shops {
    ul {
        -webkit-padding-start:0;
    }
}
.modal-content {
	button.close {
    height: 32px;
    width: 34px;
    position: absolute;
    top: -16px;
    right: -16px;
    z-index: 900;
}
}
.node-type-summary-checkout {
	&.checkout {
		#header {
			#header_top_block_right {
			    width: 65%;
			    position: absolute;
			    float: left;
			}
		}
	}
}


.modal-dialog {
	@media(max-width:767px) {
		margin: 30px auto;
	}
	@media(max-width: $screen-md-max) {
		width: 90%;
	}
	@media(max-width: 450px) {
		width: 85%;
	}
	&.wide {
		width: 950px;
	}
}

.customNavigation a {top: 38%}

.pop-shop-seemore {margin-top: 30px;}

.popular-shops {
    .pop-shop-lst {
        padding-left: 0;
    }
}

.node-type-page-shop {
	.block-promoted-banners {
	.customNavigation {
			a {
				top:50%;
				&.prev {
					@media (max-width: 360px) { 
						left:45px;
					}
				}
				&.next {
					@media (max-width: 360px) {
						right:45px;
					 }
				}
			}
		}
		.rwd-controls {
			.rwd-buttons {
				.rwd-prev,
				.rwd-next {
					top:50%;
				}
				.rwd-prev {
					@media (max-width: 360px) { 
						left:-20px;
					}
				}
				.rwd-next {
					@media (max-width: 360px) {
						right:-20px;
					 }
				}
			}
		}
	}
}

.modal {
    overflow-y: auto;
}

span.valid {
    padding-top: 0 !important;
}