body{
	// Hard hack for shitty bootsrap usage
	&.sales-order-view,
	&.sales-order-process{
		.modal-backdrop.in{
			display: block !important;
		}
		form .has-feedback .form-control-feedback{
			display: none !important;
		}
	}
}
.order-view {
	#content-main {
		.panel {			
            &.panel-default {
                @include border-radius(1px);
            }
			.panel-header{
				height: 50px;
				border-bottom: 1px solid $color_ebebeb;
				margin-bottom: 15px;
				@media (max-width: $screen-xs-max) {
					height: auto;
				}
			}
			.panel-heading {
				padding:14.86px 0 0 29.41px;
				position:relative;
				margin-bottom: 13px;
				@media (max-width: $screen-xs-max) {
					margin: 10px !important;
					padding: 0;
				}
				&:before {
					content: ' ';
					display: block;
					width: 18px;
					height: 18px;
					position: absolute;
					left: 0px;
					top: 18px;
				}
			}
			.panel-body {
				padding:0 0 0 0;
			}
			.panel-contact-vendor{
				padding: 0 30px;
				@media (max-width: 400px) {
					padding: 0 10px;
				}
			}
			.mobile-toggler{
				margin-top: -15px;
				margin-bottom: 10px;
				margin-right: 10px;
				text-align: right;
				&.open{
					margin-bottom: 0;
				}
			}
		}
	}
	
	@media (max-width: 767px) {
        .colgroup-01 {
            width: 75% !important;
        }

        .colgroup-02 {
            width: 25% !important;
        }

        .ilosc {
            padding-top: 5px;
        }
    }
    .show-in-595 {
        display: none;
    }

    @media (max-width: 595px) {
        .table-cart
        .colgroup-02
        .colgroup
        .ilosc {
            width: auto !important;
            margin-bottom: 7px;
            margin-right: 0px;
        }
    }

    @media (max-width: 767px) {
        .show-in-595 {
            display: inline;
        }

        .table-cart
        .colgroup-02
        .colgroup
        .ilosc {
            width: auto !important;
            margin-bottom: 7px;
            /*margin-right: 20px;*/
            margin-right: 0px;
        }
    }

    .cart-price {
        margin-left: 20px;
	    @media (max-width: 515px) {
		    margin-left: 0;
	    }
    }

    @media (max-width: 711px) {
        .table-cart
        .colgroup-02
        .colgroup
        .col,
        .table-cart
        .colgroup-02
        .colgroup
        .ilosc {
            float: right;
            text-align: right;
        }
    }

    @media (min-width: 1200px) {
        .ilosc {
            padding-top: 7px;
        }
    }

    .table-footer-group .visible-xs {
        margin-top: 15px;
    }

    .panel-header {
        border-bottom: 1px solid $color_ebebeb;
    }
	
	&.order-view-multi{
		.main{
			margin-bottom: 10px;
		}
	}
}