@import "compass";
@import "variable";


#content {
	.white {
		background:#fff;
		margin-bottom:19px;
		border:1px solid #ebebeb;
		padding-top:25px;
		padding-bottom:25px;
	}


	&.full-view-product {
		h1 {
			font-family:$fontLight;
			text-transform:uppercase;
			font-size:34px;
			padding-bottom:15px;
			margin-bottom:15px;
			margin-top: 0;
		}
		.short-description {
			font-size: 11px;
			color: #383838;
			a {
				color :#959595;
				span {
					color :#1dd8a0;
					margin-left:30px;
				}
			}
		}
		.price-box-bundle {
			position:relative;
			margin-bottom: 40px;
			.price-label,
			.old-price {
				font-size: 24px;
				color:#000;
				font-family: $fontLight;
			}
			.old-price {
				text-decoration: line-through;
			}
			.price {
				font-size: 36px;
				color:#000;
				font-family: $fontBlack;
			}
			ul {
				@include no-bullet;
				@include reset-m;
				position:absolute;
				right:0px;
				top:10px;
				li {
					font-size: 10px;	
					color:#4f4f4f;
					line-height: 1.5;
				}
			}
		}
		.color-box-bundle,
		.size-box-bundle {
			.color-label,
			.size-label {
				line-height: 47px;
				width: 115px;
				display: inline-block;
				float: left;
			}
			.form-group {
				display: inline-block;
				label {
					position: relative;
					width:37px;
					height: 47px;
					disabled:inline-block;
					margin-right:8px;
					cursor:pointer;
					img {
						position:absolute;
						top:0px;
						left:0px;
						border:1px solid #f2f2f2;
					}
					[type="radio"]:checked {
						&+img {
							border-color:#1dd8a0;
						}
					}
				}
			}
		}
		.size-box-bundle {
			margin-bottom:20px;
			.size-label { 
				line-height: 29px;
			}
			.form-group {
				margin-bottom: 5px;
				label {
					width:29px;
					height:29px;
					position: relative;
					span {
						width:29px;
						height:29px;
						display:block;
						background:#fff;
						border:1px solid #afafaf;
						text-align:center;
						line-height: 29px;
						color:#858585;
						font-size:12px;
						font-family:$fontRegular;
						font-weight: normal;
						position:absolute;
						top:0px;
						left:0px;
					}
				[type="radio"]:checked {
					&+span {
						border-color:#000;
						background:#000;
						color:#fff;
					}
				}	
				}
			}
			.view-sizing {
				display:block;
				margin-left:115px;
				font-size: 11px;
				color:#000;
				span {
					font-size:8px;
					color:#1dd8a0;
					margin-left:15px;
				}
			}
		}
		.action-box-bundle {
			margin-bottom:20px;
			font-size: 11px;
			color:#000;
			.addLike {
				width:149px;
				height:43px;
				display:block;
				border:2px solid #a6a6a6;
				@include border-radius(5px);
				line-height: 1.2;
				padding: 7px 0 0 43px;
				font-size: 11px;
				color:#4f4f4f;
				text-transform: uppercase;
				font-family: $fontRegular;
				background:#fff url('../images/heart.png') 8px 11px no-repeat;
				&:hover {
					text-decoration: none;
					background:#fff url('../images/heart-like.png') 8px 11px no-repeat;
				}
			}
			.likeAdded {
				display:block;
				height:43px;
				padding: 7px 0 0 43px;
				color:#4f4f4f;
				background:#fff url('../images/heart-like.png') 8px 11px no-repeat;
				span {
					color:#dcdcdc;
				}
				&:hover {
					text-decoration: none;
					background:#fff url('../images/heart.png') 8px 11px no-repeat;
					span {
						color:#4f4f4f;
					}
				}
			}
			.addBasket {
				margin-top: 15px;
			}
		}
		.seller-box-bundle,
		.descripionProduct-box-bundle {
			border:1px solid #bfbfbf;
			padding:9px;
			text-align:center;
			margin-bottom: 10px;
			.seller-label {
				font-size: 18px;
				color:#1d1e1c;
				text-transform: uppercase;
				margin-top: 9px;
				margin-bottom: 13px;
				display:block;
			}
			figure {
				margin-bottom:14px;
			}
			.seller {
				font-size: 12px;
				color:#000;
				margin-bottom: 17px;
				a {
					@extend .seller;
				}
			}
			.block {
				padding:12px 0;
				border-top:1px solid #ebeaed;
			}
			h3 {
				font-size: 11px;
				color:#000;
				text-transform: uppercase;
				margin:0px;
				display:block;
				a {
					font-size: 11px;
					color:#000;
					text-decoration: none;
					display:block;
					position:relative;
					span {
						position:absolute;
						right:10px;
						top:0px;
					}
				}
			}
		}
		
		.descripionProduct-box-bundle {
			.descripionProduct-label {
				font-size: 18px;
				color:#1d1e1c;
				text-transform: uppercase;
				margin-top: 9px;
				display:block;
				margin-bottom:20px;
			}
		}
	}

}

//#content.full-view-product .seller-box-bundle .block, #content.full-view-product .descripionProduct-box-bundle .block
//seller-box-description block

#content {
	&.full-view-product  {
		.seller-box-description {
			&.block {
				@include breakpoint(sm) {
					border-top:none !important;
				}
				@include breakpoint(md) {
					border-top:none !important;
				}
				
			}
		}
	}
}

#complementary_product {
	.col-sm-12 {
		max-width: 1030px;
		margin-left: 60px;
		@include breakpoint(xxs) {width: 224px;margin-left: 62px;}
		@include breakpoint(xs) {width: 626px;margin-left: -12px;}
		@include breakpoint(sm) {width: 626px;margin-left: 38px;}
		@include breakpoint(md) {width: 822px;margin-left: 42px;}
		@include breakpoint(lg) {width: 1030px;margin-left: 60px;}
		.jcarousel {
			li {
				width:165px;
				margin:0 18px;
			}
		}
	}
	.item {
		//width:162px !important;
		text-align: left;
		margin:0 auto;
		.box_listing_product {
			padding:0px;
		}
		.label {
			font-size: 12px;
			color:#000;
			font-family: $fontRegular;
			padding:0;
			margin-right: 5px;
			&+span {
				font-size: 18px;
				color:#000;
				font-family: $fontBlack;
			}
		}
		
	}
	.jcarousel-control-prev {
		background:$arrowMap;
		@include sprite($arrowMap, arrow-complementary-left);
		@include sprite-dimensions($arrowMap, arrow-complementary-left);
		box-shadow: none;
		left:-30px;
		@include breakpoint(xs) {left:0px;}
		&:hover {
			@include sprite($arrowMap, arrow-complementary-left-h);
		}
	}
	.jcarousel-control-next {
		background:$arrowMap;
		@include sprite($arrowMap, arrow-complementary-right);
		@include sprite-dimensions($arrowMap, arrow-complementary-right);
		box-shadow: none;
		right:-30px;
		@include breakpoint(xs) {right:0px;}
		&:hover {
			@include sprite($arrowMap, arrow-complementary-right-h);
		}
	}
}

.full-view-product {
	.modal-content {
		padding: 15px 30px;
		text-align: left;
		font-size: 12px;
		.title_section {
			margin-left:-30px;
			margin-right: -30px;
			margin-bottom: 50px;
		}
		ul {
			@include no-bullets;
			@include reset-m;
			margin-bottom: 25px;
			li {
				line-height: 1.7
			}
		}
		dl {
			dt {
				margin-bottom: 11px;
			}
			dd {
				&.separator {
					margin-bottom: 25px;
					//display:inline-block;
				}
			}
		}
		.view-store {
			background:#313131;
			border:1px solid #c5c5c5;
			font-size: 11px;
			padding: 3px 10px;
			color:#fff;
			display:inline-block;
		}
		.logo_salles {
			height:100px;
			width:100%;
			background:url('../images/bg-logo-seller-modal.png');
			position:relative;
			margin-bottom: 22px;
			img {
				margin-left:40px;
			}
				a {
					&.view-store {
						position:absolute;
						right:120px;
						top:50%;
						font-size: 23px;
						color:#000;
						text-transform: uppercase;
						margin-top:-14px;
						padding: auto;
						background:none;
						border:none;
						span {
							font-size: 14px;
							top:-2px;
						}
				}
			}
		}
	}
}


.section {
	 .main {
		padding: 20px 45px 0;
		font-size: 12px;
		color:#000;
		line-height: 1.5;
		ul {
			@include no-bullets;
			margin: 25px 0 25px 0;
			padding:0;
		}
		p {
			font-size: 12px;
			color:#000;
			line-height: 1.5;
		}
		dl.raty_note {
			dt,dd {
				margin-bottom: 15px;
				overflow:hidden;
			}
			dt {
				line-height: 22px;
				margin-bottom: 20px;
				strong {
					margin-right:10px;
					@include inline-block;
					float:left;
				}
				#average_rating {
					@include inline-block;
					float:left;
					width:130px;
				}
				.suffix {
					@include inline-block;
					float:left;
					line-height: 26px;
					font-size: 11px;
					color:#959595;
					font-family: $fontLight;
					font-weight: normal;
				}
			}
			dd {
				clear:both;
				
				strong {
					display:inline-block;
					width:100px;
					float:left;
				}
				div {
					@include inline-block;
					float:left;
					
				}
				.suffix {
					@include inline-block;
					float:left;
					line-height: 26px;
				}
			}
		}
		.rating_note {
			.prefix {
				margin-right: 10px;
				line-height: 13px;
			}
			.suffix {
				margin-left: 10px;
				line-height: 13px
			}
		}
	}
} 

.rating {
	@include inline-block;
	height:13px;
	width:134px;
	position:relative;
	background:#e2e2e2;
	
	> span {
		display:block;
		position:absolute;
		height:13px;
		background:#6fffcf;
	}
}

#comments {
	margin-top: 25px;
	.comment {
		margin-bottom: 30px;
		.header {
			overflow:hidden;
			.comment_rating {
				@include inline-block;
				float:left;
			}
			h3 {
				@include inline-block;
				float:left;
				color:#242424;
				font-size: 14px;
				margin-top: 5px;
				margin-bottom: 5px;
				font-family: $fontBlack;
				font-weight: normal;
			}
		}
		.meta {
			font-size: 11px;
			margin-bottom: 20px;
			span {
				margin-right: 3px;
				color:#000;
			}
			.meta-label {
				color:#948551;
			}
		}
	}
	.pag {
		@include no-bullet;
		margin:0px;
		height:27px;
		>li{
			@include inline-block;
			float:left;
			border:none;
			position:relative;
			height:27px;
			padding-top:0px;
			padding-bottom:0px;
			>a,
			>span {
				border:none;
				@include inline-block;
				height:27px;
				line-height: 27px;
				color:#222222;
				padding-top:0px;
				padding-bottom:0px;
				padding-left: 6px;
				padding-right: 6px;
				&:hover {
					background:none;
					color:#1dd8a0;
					border:none;
				}
			}

		
		&:before {
			content: ' ';
			display:block;
			width:1px;
			height:12px;
			background:#222222;
			position:absolute;
			left:0px;
			top:8px;
			margin-top: 0px;
			}
			&:first-child {
				margin-right: 37px;
				font-size: 12px;
				color:#7c7c7c;
				span {
					font-size: 12px;
					color:#7c7c7c;
				}
				&:before {
					display:none;
				}
			}
			&:nth-child(2) {
				&:before {
					display:none;
				}
			}
		&.current {
			span {
				color:#1dd8a0;
			}
		}
		}
	}
}


/** Stage container **/

.connected-carousels {
	.stage {
	    width: 319px;
	    margin: 0;
	    position: relative;
	     float:left;
	     @include breakpoint(xs) {
	    	width:255px;
	    	margin-left: 40px;
	    }
	    @include breakpoint(sm) {
	    	width:255px;
	    	margin-left: 29px;
	    }
	    @include breakpoint(md) {
	    	margin-left: 39px;
	    }
	    ul {
	    	margin:0px;
	    	padding:0px;
	    	li {
	    		@include breakpoint(xs) {
	    	width:255px;
		    }
	    	@include breakpoint(sm) {
	    	width:255px;
		    }
	    		> div {
	    			img {
	    				width:100%;
	    				height:auto;
	    			}
	    			position:relative;
	    			.view_lupa {
	    				position:absolute;
	    				top:88%;
	    				right:10px;
	    				z-index: 900	
	    			}
	    		}
	    	}
	    }
	}
	.navigation {
	    width:77px;
	    margin: 15px 23px 10px 20px;
	    position: relative;
	    padding:0 0;
	    float:left;
	    ul {
	    	li {

	    	}
	    }
	}
	.carousel {
	    overflow: hidden;
	    position: relative;
	    ul {
	        width: 20000em;
	        position: relative;
	        list-style: none;
	        margin: 0;
	        padding: 0;
	        li {
	            float: left;
	            margin: 0;
	        }
	    }
	}
	.carousel-navigation {
	    height: 379px;
	    width: 77px;
	    background: #fff;
	    margin-left: -2px;
	    ul {
	    	width: 70px;
	    	height:2000em;
	    }
		li {
		    cursor: pointer;
			position:relative;
			margin: 3px 5px!important;
			border:1px solid #f0f0f0;

		    &.active {
		    	.shadow {
		    		width:99px;
		    		height:75px;
		    		position:absolute;
		    		left:0px;
		    		top:0px;
		    		-moz-box-shadow:    inset 0 0 0 3px #e5621b;
		    		-webkit-box-shadow: inset 0 0 0 3px #e5621b;
		    		box-shadow:         inset 0 0 0 3px #e5621b;
		    	}
		    	img {
				   
				}
		    }
		}
	}
}


/** Stage carousel controls **/

.connected-carousels {
	    .prev-stage,
		.next-stage {
		    display: block;
		    background:$arrowMap;
		    position: absolute;
		    top: 50%;
		    z-index: 900;
		}
		.prev-stage {
	    	left: 0;
	    	@include sprite($arrowMap, arrow-complementary-left);
		    @include sprite-dimensions($arrowMap, arrow-complementary-left);
		    &:hover {
		    	@include sprite($arrowMap, arrow-complementary-left-h);
		    }
		    @include breakpoint(sm) {
		    	left: -20px;
		    }
		    @include breakpoint(md) {
		    	left: 0;
		    }
		}
		.next-stage {
		    right: 0;
		    @include sprite($arrowMap, arrow-complementary-right);
		    @include sprite-dimensions($arrowMap, arrow-complementary-right);
		    &:hover {
		    	@include sprite($arrowMap, arrow-complementary-right-h);
		    }
		    @include breakpoint(sm) {
		    	right: -20px;
		    }
		    @include breakpoint(md) {
		    	right: 0;
		    }
		}
}


/** Navigation carousel controls **/

.connected-carousels {
	.prev-navigation,
	.next-navigation {
	    	display:inline-block;
			width:15px;
			height:75px;
			background:#fff;
			position:absolute;
			left:50%;
			margin-left: -(image-width(sprite-file($arrowMap, arrow_top_j)) / 2) ;
			background:$arrowMap;
			z-index: 999;
	}
	.prev-navigation {
	    top:-15px; 
	    @include sprite($arrowMap, arrow_top_j);
	    @include sprite-dimensions($arrowMap, arrow_top_j);
	}
	.next-navigation {
	    bottom:-15px; 
	    @include sprite($arrowMap,arrow_bottom_j);
	    @include sprite-dimensions($arrowMap, arrow_bottom_j);
	}
}











/** Stage container **/

.connected-carousels-modd {
	.stage {
	    width: 500px;
	    margin: 0;
	    position: relative;
	    float:left;

	    ul {
	    	margin:0px;
	    	padding:0px;
	    	li {
	    		width: 500px;
	    		> div {
	    			position:relative;
	    			
	    		}
	    		img {
	    			width:100%;height:auto;
	    		}
	    	}
	    }
	}
	.navigation {
	    width:77px;
	    margin: 15px 23px 10px 20px;
	    position: relative;
	    padding:0 0;
	    float:left;
	    ul {
	    	li {

	    	}
	    }
	}
	.carousel {
	    overflow: hidden;
	    position: relative;
	    ul {
	        width: 20000em;
	        position: relative;
	        list-style: none;
	        margin: 0;
	        padding: 0;
	        li {
	            float: left;
	            margin: 0;
	        }
	    }
	}
	.carousel-navigation-modd {
	    height: 379px;
	    width: 77px;
	    background: #fff;
	    margin-left: -2px;
	    ul {
	    	width: 70px;
	    	height:2000em;
	    }
		li {
		    cursor: pointer;
			position:relative;
			margin: 3px 5px!important;
			border:1px solid #f0f0f0;

		    &.active {
		    	.shadow {
		    		width:99px;
		    		height:75px;
		    		position:absolute;
		    		left:0px;
		    		top:0px;
		    		-moz-box-shadow:    inset 0 0 0 3px #e5621b;
		    		-webkit-box-shadow: inset 0 0 0 3px #e5621b;
		    		box-shadow:         inset 0 0 0 3px #e5621b;
		    	}
		    	img {
				   
				}
		    }
		}
	}
}


/** Stage carousel controls **/

.connected-carousels-modd {
	.prev-stage-modd,
			.next-stage-modd {
			    display: block;
			    background:$arrowMap;
			    position: absolute;
			    top: 50%;
			    z-index: 900;
			}
			.prev-stage-modd {
		    	left: 0;
		    	@include sprite($arrowMap, arrow-complementary-left);
			    @include sprite-dimensions($arrowMap, arrow-complementary-left);
			    &:hover {
			    	@include sprite($arrowMap, arrow-complementary-left-h);
			    }
			}
			.next-stage-modd {
			    right: 0;
			    @include sprite($arrowMap, arrow-complementary-right);
			    @include sprite-dimensions($arrowMap, arrow-complementary-right);
			    &:hover {
			    	@include sprite($arrowMap, arrow-complementary-right-h);
			    }
			}
}


/** Navigation carousel controls **/

.connected-carousels-modd {
	.prev-navigation-modd,
	.next-navigation-modd {
	    	display:inline-block;
			width:15px;
			height:75px;
			background:#fff;
			position:absolute;
			left:50%;
			margin-left: -(image-width(sprite-file($arrowMap, arrow_top_j)) / 2) ;
			background:$arrowMap;
			z-index: 999;
	}
	.prev-navigation-modd {
	    top:-15px; 
	    @include sprite($arrowMap, arrow_top_j);
	    @include sprite-dimensions($arrowMap, arrow_top_j);
	}
	.next-navigation-modd {
	    bottom:-15px; 
	    @include sprite($arrowMap,arrow_bottom_j);
	    @include sprite-dimensions($arrowMap, arrow_bottom_j);
	}
}

#product_gallery {
	.modal-content {
		padding:15px;
	}
}