/*
Syntax error: File to import not found or unreadable: compass.
              Load path: /home/pawel/Sites/orba-zolago-internal/skin/frontend/modago/default/sass (DEPRECATED)
        on line 1 of content.scss

1: @import "compass";
2: @import "variable";
3: 
4: 
5: #content {
6: 	.white {

Backtrace:
content.scss:1
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/import_node.rb:66:in `rescue in import'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/import_node.rb:45:in `import'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:283:in `visit_import'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/stack.rb:79:in `block in with_base'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/stack.rb:121:in `with_frame'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/stack.rb:79:in `with_base'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:152:in `visit'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:52:in `map'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:151:in `visit'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/root_node.rb:20:in `render'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/engine.rb:274:in `render'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/plugin/compiler.rb:186:in `each'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/plugin.rb:82:in `update_stylesheets'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/exec.rb:489:in `watch_or_update'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/exec.rb:346:in `process_result'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/exec.rb:43:in `parse'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/exec.rb:22:in `parse!'
/home/pawel/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/bin/scss:13:in `<top (required)>'
/home/pawel/.rvm/gems/ruby-2.1.1/bin/scss:23:in `load'
/home/pawel/.rvm/gems/ruby-2.1.1/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass.\A               Load path: /home/pawel/Sites/orba-zolago-internal/skin/frontend/modago/default/sass (DEPRECATED)\A         on line 1 of content.scss\A \A 1: @import \"compass\";\A 2: @import \"variable\";\A 3: \A 4: \A 5: #content {\A 6: 	.white {"; }
