@import "compass";
@import "variable";


// SUPPORT GRID
#markup {
  background: #fff7f7;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 999;
  opacity: 0.4;
  display: none;
  
  .container {
    background:#707070;
  }

  .col-xs-12,
  .col-xs-1 {
    p {
      background: #fccccc;
      height: 700px;
      }
    }
    .col-xs-12 {
        p{
            height:50px !important; 
        }
   
  }
}






// END







// END SUPPORT
@media (min-width: 1200px) {
    .container {
       width: 1205px;
    }
}
body {
    background:#f2f1f0; 
    font-family: $fontRegular;
    font-size:14px;
    font-weight:1.4;
    color:#000000;
    min-width:370px;
    -webkit-font-smoothing: antialiased;
}
// VARIABLE

@mixin reset-m {
    margin: 0;
    padding: 0;
}
@mixin reset-l {
    @include reset-m;
    list-style: none;
}



$icoMap: sprite-map("sprites/ico/*.png");


[class^=ico_] {
    background:$icoMap;
    @include inline-block;
    &.ico_basket {
        @include sprite($icoMap, ico_basket);	
		@include sprite-dimensions($icoMap, ico_basket);
    }
    &.ico_favorites {
        @include sprite($icoMap, ico_favorites);	
		@include sprite-dimensions($icoMap, ico_favorites);
    }
    &.ico_your_account {
        @include sprite($icoMap, ico_your_account);	
		@include sprite-dimensions($icoMap, ico_your_account);
    }
    &.ico_menu {
        @include sprite($icoMap, ico_menu);	
		@include sprite-dimensions($icoMap, ico_menu);
    }
    &.ico_search_mobile {
        @include sprite($icoMap, search_ico_mobile);	
		@include sprite-dimensions($icoMap, search_ico_mobile);
    }
}


// FORM STYLED
/* 
* SELECT STYLED 
*/

.sbHolder{
	background-color: #2d2d2d;
	border: solid 1px #515151;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	height: 30px;
	position: relative;
	width: 200px;
}
.sbHolder:focus .sbSelector{
	
}
.sbSelector{
	display: block;
	height: 30px;
	left: 0;
	line-height: 30px;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	top: 0;
	width: 170px;
	&:link,
	&:visited,
	&:hover {
		color: #EBB52D;
		outline: none;
		text-decoration: none;
	}
}
/* 
* HEADER
*/
#wrapper {
    padding-top:57px;
}

/* 
* HEADER
*/
#header {
    min-height: 65px;
    .header_top {
        background: url('../images/bg-header-top.png') repeat-x;
        border-top: 1px solid #212121;
        min-height: 56px;
        position:fixed;
        top:0px;
        left:0px;
        width: 100%;
        z-index: 9900;
        .toggleMenu {
          @include sprite-dimensions($icoMap, ico_menu);
          @include inline-block;
          float: left;
          margin-top: 13px;
        }
        [role="search"] {
            
            margin:0px;
            margin-top: 13px;
            padding: 0;
            width: 282px;
            border-bottom:none;
            .form-group {
                float: left;
                width:119px ;
                input[type="text"] {
                    height: 26px;
                    width: 119px;
                    color: #7f7f7f;
                    //line-height: 26px;
                    font-size: 12px;
                    float: left;
                    border-right:none;
                     @include border-radius(0px);
                    box-shadow: none;
	            	background:url('../images/bg-search.png') 0 0 repeat-x;
	            	border:none;
                }
            }
            .sbToggle{
                background: url(../images/select-icons.png) 0 -116px no-repeat;
                display: block;
                height: 30px;
                outline: none;
                position: absolute;
                right: 0;
                top: 0;
                width: 30px;
                &:link {
                    background: url(../images/select-icons.png) 0 -167px no-repeat;
                }
                &:visited {
                    background: url(../images/select-icons.png) 0 -16px no-repeat;
                }
                &:hover {
                    background: url(../images/select-icons.png) 0 -66px no-repeat;
                }
            }
            .sbHolderDisabled{
                background-color: #3C3C3C;
                border: solid 1px #515151;
                .sbHolder{
                    
                }
                .sbToggle{
                    background: url(../images/select-icons.png) 0 -66px no-repeat;
                }
            }

            .sbOptions{
                background-color: #212121;
                border: solid 1px #515151;
                list-style: none;
                left: -1px;
                margin: 0;
                padding: 0;
                position: absolute;
                top: 30px;
                width: 200px;
                z-index: 1;
                overflow-y: auto;
                li{
                    padding: 0 7px;
                }
                a {
                    border-bottom: dotted 1px #515151;
                    display: block;
                    outline: none;
                    padding: 7px 0 7px 3px;
                    &:link,
                    &:visited {
                        color: #ddd;
                        text-decoration: none;
                    }
                    &:hover,
                    &:focus,
                    &.sbFocus{
                        color: #EBB52D;
                    }
                }
                li {
                    &.last {
                        a {
                            border-bottom: none;
                        }
                    }
                }
                .sbDisabled{
                    border-bottom: dotted 1px #515151;
                    color: #999;
                    display: block;
                    padding: 7px 0 7px 3px;
                }
                .sbGroup{
                    border-bottom: dotted 1px #515151;
                    color: #EBB52D;
                    display: block;
                    font-weight: bold;
                    padding: 7px 0 7px 3px;
                }
                .sbSub{
                padding-left: 17px;
                }
            }
            .select-box {
                float: left;
                width:134px;
                position:relative;
                &:before {
                    content: ' ';
                    display: block;
                    height: 13px;
                    width: 1px;
                    border-right:1px solid #7f7f7f;
                    border-left:1px solid #e2e2e2;
                    position: absolute;
                    left: 0px;
                    top: 50%;
                    margin-top: -6px;
                    z-index: 1;
                }
            }
            input[type="image"] {
                float:left;
            }
            
            .sbHolder {
            	height:26px;
            	width:100%;
            	background:url('../images/bg-search.png') 0 0 repeat-x;
            	border:none;
            	font-size: 12px;
            	color:#888888;
            }
            .sbSelector {
            	height:26px;
            	line-height:26px;
            	color:#929292;
            }
            .sbToggle {
            	background-position: 0 -69px;
            }
            .sbOptions {
            	width:100%;
            	background:#fff;
            	border:none;
            	left:0px;
            	padding-top:6px;
            	@include box-shadow(rgba(1,1,1,.22) 0 5px 10px);
            	li {
            		padding:0;
            		height:auto;
            		border:none;
            		a {
            			padding: 9px 5px 9px 15px;
            			height:auto;
            			line-height:auto;
            			color:#000;
            			border:none;
            			&:hover {
            				margin:0px;
            				background:#f2f1f0;
            			}
            		}
            		
            	}
            }
        }
        #logo {
            //margin-left: -10px;
            //margin-right: -22px;
            @include breakpoint(xxs) {
                //margin-top: 5px;
            }
            .logo {
                @include inline-block;
                margin-top: 6px;
                img {
                	width:100%;
                	height:auto;
                }
            }
        }

        .nav {
            @include reset-l;
            list-style: none;
            li {
                padding: 4px 0 0;
                margin-left: 0;
                width: 84px;
                &:nth-child(2) {
                	@include breakpoint(xxs) {
                		
                		margin-left: 0;
                	}
                }
               
                @include breakpoint(xs) {
                	width: 44px;
                	float:left;
                	margin-left: 10px;
                }
                @include breakpoint(md) {
                	width: 44px;
                	float:left;
                	margin-left: 30px;
                }
            }
            a {
                text-align: center;
                text-transform:uppercase; 
                font-size: 9px;
                @include reset-m;
                position: relative;
                //width: 84px;
                color:#fff;
                padding-bottom: 2px;
                @include breakpoint(xs) {
                	//width: 44px;
                	height: 52px;
                	padding-top: 7px;
                }
            &:hover {
                background: none;
                }
                .badge {
                    background:url('../images/badge.png') 0 0 no-repeat;
                    color: #fff;
                    font-size: 11px;
                    position: absolute;
                    top: 0px;
                    right: -3px;
                    padding: 7px;
                    width:22px;
                    height:22px;
                    border-radius: 0;
                    padding:0px;
                    text-align: center;
                    line-height: 22px;
                    font-style: normal;
                    @include breakpoint(xs) {
                    	right: -10px;
                    }
                }
            }

            li {
            &.open {
                background: none !important;
                > a {
                    background: #2a2a2a; 
                }
                .basket {
                    z-index: 9900;
                    position:relative;
                    float:right;
                    width: 370px;
                    right: 0;
                    left:inherit;
                    background: #2a2a2a;
                    color:#fff;

                    @include reset-l;
                    
                    li {
                    width: 100%;padding: 10px 0px 10px 20px; margin-left: 0px; }
                    table {
                        width:100%;
                            td {
                                padding: 8px 0;
                                vertical-align: top;
                                img {
                                    border: 1px solid #adadad;
                                }
                                &+td {
                                    padding-left: 5px;
                                }
                                p {
                                margin:0px;
                                padding:0px;
                                font-size: 12px;
                                }
                            }
                        }
                    .summary_basket {
                        @include clearfix;
                        padding: 25px 15px;
                        margin: 25px 0 0 -21px;
                        font-size: 11px;
                        border-top:1px solid #949494;
                            ul {
                                float:left;
                            }
                            ul,li {
                                @include no-bullet;
                                @include reset-m;
                            }
                            li {
                                line-height: 1.5;
                                text-align: left;
                            }
                        
                        }
                    }
                }
            }
            .dropdown {
                ul.dropdown-menu {
                    @include border-radius(0);
                }

            }
        }
        #toggleSearch {
            .row {
                
                > a {
                 
                  //height: 56px;
                  //width: 53px;
                  @include inline-block;
                    text-align: center;
                    line-height: 53px;
                }
                &.open {
                    > a {
                        background: #2a2a2a;  
                    }
                   
                }
            }
            .searchDropdown {
                width: 320px;
                background: #2a2a2a;
                @include border-radius(0px);
                top: 54px;
                padding: 20px;
                .dropdown-menu {
                   @include border-radius(0px);
                    //box-shadow: none;
                    margin-top: 0px;
                    top: 25px;
                    border: none; 
                    width: 133px;
                    top: 26px;
                    min-width:inherit;
                   
                }
                 .form-group {
                    float: none; 
                     width: 100%;
                     &.styledSelected {
                        margin-bottom:15px !important;
                     }
                    input[type="text"] {
                        height: 26px;
                        width: 100%;
                        color: #7f7f7f;
                        background-color:#fff;
                        line-height: 26px;
                        font-size: 12px;
                        float: none;
                        border:1px solid #e2e1e1;
                        border-right:1px solid #e2e1e1;
                         @include border-radius(0px);
                        box-shadow: none;
                        margin-bottom: 15px;
                    }

                     select {
                         height: 34px;
                        width: 100%;
                        color: #7f7f7f;
                        line-height: 34px;
                        font-size: 12px;
                        float: none;
                        border:1px solid #e2e1e1;
                        border-right:1px solid #e2e1e1;
                         @include border-radius(0px);
                          margin-bottom: 15px;
                     }

                }
            }
        }
    }
}
.header_bottom {
     #nav_desc {
        &.nav .open>a,
        &.nav .active>a,
        &.nav  a:hover, 
        &.nav .open>a:focus {
            background:none;
            position:relative;
            &:before {
                content: ' ';
                height:4px;
                width: 100%;
                position:absolute;
                left:0px;
                bottom:-9px;
                background:#73f2ba;
            }
        }
    }
}
/* BOTTOM MENU */

.header_bottom {
    background:#fff url('../images/bg-menu.png') 0 0 repeat-x;
    border-bottom:1px solid #dddce1;
    @include breakpoint(xs) {
           .collapse {
            display:block;
            ul {
              > li {
                display:block;
                }  
            }
        } 
    }
    
    #navigation {
    margin-right:-15px;
    margin-left:-15px;
    }
    .navbar-default {
        background:none;
        border:none;
        padding:0px;
        margin:0px;
    }
    // NAV DESCOPT
    //#nav_desc {
        .nav {
            margin-top:4px;
            li {
                display:inline-block;
                @include breakpoint(xxs) {
                   display:block;
                }
        
                a:link,
                a:visited {
                    font-size: 18px;
                    color:#000;
                    padding:8px 20px;
                   font-family: $fontRegular;
                   font-weight: 400;
                   font-style: normal;
                   text-transform:uppercase;
                }
                a:hover {
                    background:none;
                }
    /* === SUBMENU === */
                ul {
                    li {
                        a:link,
                        a:visited {
                            font-size:14px;
                        }
                    }
                }
            }
        }
    //}
    // END NAV DESCOPT
}

/* MEGAMENU */
.cdmm {
    .dropdown,
    .dropdown-menu  {
        a {
            color:#656565;
        }
    }
    .dropdown-menu {
        box-shadow:none; 
        border:1px solid #efefef;
        padding:0;

        > li {
            
            > a {
               padding:6px 15px; 
              
            }
        }
        .withoutdesc{    
            margin-top:0;
            padding:15px 20px;
            display: block;
            text-align: left;
            text-transform: none;
            width: 100%;
            ul {
                li {
                  padding:3px 10px;  
                  width: 100%;
                    &:last-child {
                        border-bottom:0 solid #fff;
                    }
                    &:hover
                    &:focus {
                        color:#262626;
                        text-decoration:none;
                        background-color:#f5f5f5 !important
                    }
                    a {
                        &:after {
                            color: #CFCFCF;
                            content: attr(data-description);
                            display: block;
                            font-size: 11px;
                            font-weight: 400;
                            line-height: 0;
                            margin: 10px 0 15px;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
    .navbar-nav {
        > li {
            >  .dropdown-menu {
                 margin-top:1px;
            }
        }
    }
    i {
        color:#BFBFBF
    }
    .form-control {
        margin-top:10px;
        border:1px solid #efefef;
    }
    .btn {
        margin:10px 0 20px
    }
    video {
        max-width: 100%;
        height: auto;
    }
    iframe,
    embed,
    object {
        max-width: 100%;
    }
    .google-map {
        width:100%; 
        border:1px solid rgba(255, 255, 255, 0.5);
        min-height:200px;
    }
    div {
        &.google-map {
            background:rgba(255, 255, 255, 0.5);
            background: #ffffff;
            height: 200px;
            margin: 0 0 0px 0;
            width: 100%;
        } 
    }
    #googlemaps img{
        max-width:none;
    }
    a:hover {
    text-decoration:none
    }
    .dropdown-submenu{
    position:relative;
        >.dropdown-menu{
            top:0;
            left:100%;
            margin-top:0;
            margin-left:-1px;
            -webkit-border-radius:0 6px 6px 6px;
            -moz-border-radius:0 6px 6px 6px;
            border-radius:0 6px 6px 6px;
            left: auto;
        }
        &:hover {
            > .dropdown-menu{
                display:block;
            }
        }
       > a:after{
           display:block;
           content:" ";
           float:right;
           width:0;
           height:0;
           border-color:transparent;
           border-style:solid;
           border-width:5px 0 5px 5px;
           border-left-color:#cccccc;
           margin-top:5px;
           margin-right:-10px;
        } 
        &:hover {
            >a:after{
                border-left-color:#ffffff;
            }
        }
        &.pull-left{
            float:none;
            >.dropdown-menu{
                left:-100%;
                margin-left:10px;
                -webkit-border-radius:6px 0 6px 6px;
                -moz-border-radius:6px 0 6px 6px;
                border-radius:6px 0 6px 6px;
            }
        }
    }
    p {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 13px;
        color:#656565;
    }
    .nav,
    .collapse,
    .dropup,
    .dropdown {
        position: static;
    }
    .half {
        width: 50%;
        left: auto !important;
        right: auto !important;
    }
    .container {
        position: relative;
    }
    .nav {
        &.navbar-right {
            .dropdown-menu {
                left: auto;
                right: 0;
            }
        }
    }
    .cdmm-content {
        padding: 15px 25px;
    }
    .dropdown {
        &.cdmm-fw {
           .dropdown-menu {
             left: 0;
             right: 0;
           } 
        }
    }
    .title {
    font-size:13px;
    font-weight:bold;
    margin-top:15px;
    text-transform:uppercase;
    border-bottom:1px solid #efefef;
    padding-bottom:10px;
    }
    ul {
        list-style:none;
        padding-left:0px;
    }
}

.header_bottom {
    .nav {
        li {
            dl {
                //float:left;
                width:185px;
                dt {
                    margin-bottom:20px;
                  a:link,
                  a:visited {
                    font-size:14px;
                    font-weight: 900;
                  }
                }
                dd {
                    margin-bottom:10px;
                    a:link,
                    a:visited {
                    font-size:12px;
                    font-weight: 400;
                  }
                  a {
                    &[data-description="ReadMore"] {
                        font-style:italic;
                        text-transform:lowercase;
                        font-size:12px;
                        text-decoration:underline;
                    }
                  }
                }
            }

        }
    }

    }

 
#nav_mobile {
    > li {
        display:block;
        > a {
        border-top:1px solid #dedce1;
        border-bottom:1px solid #dedce1;
        position:relative;
            .ico-submenu-mobile-right {
                position:absolute;
                right:27px;
                top:50%;
                margin-top:-8px;
            }
        }
        &:first-child {
            > a {
            border-top:none; 
            }
        }
        li {
            a {
               width:249px;
                border-top:1px solid #f7f6f7;  
                line-height: 35px;
                display:block;
            }
           
            &:first-child {
                a {
                  border-top:none;   
                }
                
            }
        }
    }
}


#clone_submenu {
    .dropdown-menu {
        position:relative !important;
        box-shadow:none; 
        border: none;
        padding:47px 0;
        background:transparent;
            a {
                color:#656565;
            }
       
       
            

            > li {
                
                > a {
                   padding:6px 15px; 
                  
                }
            }
            dl {
                //float:left;
                width:185px;
                dt {
                    margin-bottom:20px;
                  a:link,
                  a:visited {
                    font-size:14px;
                    font-weight: 900;
                  }
                }
                dd {
                    margin-bottom:10px;
                    a:link,
                    a:visited {
                    font-size:12px;
                    font-weight: 400;
                  }
                  a {
                    &[data-description="ReadMore"] {
                        font-style:italic;
                        text-transform:lowercase;
                        font-size:12px;
                        text-decoration:underline;
                    }
                  }
                }
           

        }
        .closeSubMenu { 
            position:absolute;
            top:-20px;
            right:0px;
        }
    }
} 

.box {  

 



                 
                        }



#navigation {
    overflow-x:hidden;
    .open {
       >.dropdown-menu {
        background:#f2f1f0;
        border:none;
        border-radius:0;
        width:100%;
        box-shadow:none;
        li {
            width:100%;
        }
       } 
    }
}



/* END MEGA MENU */




// SIZE MEDIA QUERIES


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and  (max-width : 479px) {
/* Styles */
    #header {
        min-width: 300px;
    }
    .header_top {
        min-width: 300pxpx;
    }
    .container_1176 {
        width: 300px;
        margin:0 auto;
    }

    .block_toggle_menu {
        width: 27px;
        float:left;
        margin-right:0px;
        .toggleMenu {
            i {
          background: icoMap;
          @include sprite($icoMap, ico_menu_mobile);   
          @include sprite-dimensions($icoMap, ico_menu_mobile);
          @include inline-block;
          float: left;
          margin-top: 7px;
          }
        }
    }

    
    #toggleSearch {
        float:left;
        width:38px;

        margin-right:0px;
        .dropdown-toggle {
            width:38px;
            position:relative;
            top:7px;
        }
        .searchDropdown {
           left: -37px;
        }

    }
    .block_search_m {

        @include breakpoint(xs) {

        }
    }
    #logo {
        width: 120px;
        float:left;
        position:relative;
            top:7px;
        
        img {
            width:100%;
            height:auto;
        }
    }
    #user_menu {
        width: 115px;
         float:left;
        #link_your_account {
            width: 72px;
        }
        #link_favorites {
            width: 56px;
            margin-left: 0px;
        }
        #link_basket {
            width:46px;
            margin-left: 7px;
        }
    }

   .dropdown-menu {
    &.basket {
        
        float:right !important;
        overflow:hidden;
        width: 320px !important;
        right: -10px !important;
        }
    }

    #navigation {
        .open {
            > .dropdown-menu {
                position:static;
            }
        }
    }

    a.view_basket {
        margin-top: -35px;
        line-height: 14px;
        height:28px!important;
        }


}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 480px) 
and (max-width : 767px) {



/* Styles */
    #header {
        min-width: 460px;
    }
    .header_top {
        min-width: 460px;
    }
    .container_1176 {
        width: 460px;
        margin:0 auto;
    }

    .block_toggle_menu {
        width: 27px;
        float:left;
        margin-right:18px;
        .toggleMenu {
            i {
          background: icoMap;
          @include sprite($icoMap, ico_menu_mobile);   
          @include sprite-dimensions($icoMap, ico_menu_mobile);
          @include inline-block;
          float: left;
          margin-top: 7px;
          }
        }
    }

    
    #toggleSearch {
        float:left;
        width:38px;
        margin-right:22px;
        .dropdown-toggle {
            width:38px;
            position:relative;
            top:7px;
        }

    }
    .block_search_m {

        @include breakpoint(xs) {

        }
    }
    #logo {
        width: 163px;
        float:left;
        
        img {
            width:100%;
            height:auto;
        }
    }
    #user_menu {
        width: 118px;
         float:left;
        #link_your_account {
            width: 72px;
        }
        #link_favorites {
            width: 56px;
            margin-left: 0px;
        }
        #link_basket {
            width:46px;
            margin-left: 16px;
        }
    }

   .dropdown-menu {
    &.basket {
        
        float:right !important;
        
        overflow:hidden;
        }
    }
    a.view_basket {
        margin-top: -35px;
        line-height: 14px;
        height:28px!important;
        }



}


/* iPads (portrait) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px)  {

/* Styles */
    #header {
        min-width: 768px;
    }
    .header_top {
        min-width: 768px;
    }
    .container_1176 {
        width: 768px;
        margin:0 auto;
    }

    .block_toggle_menu {
        width: 27px;
        float:left;
        margin-right:18px;
        .toggleMenu {
            i {
          background: icoMap;
          @include sprite($icoMap, ico_menu_mobile);   
          @include sprite-dimensions($icoMap, ico_menu_mobile);
          @include inline-block;
          float: left;
          margin-top: 7px;
          }
        }
    }

    
    #toggleSearch {
        float:left;
        width:38px;
        margin-right:130px;
        .dropdown-toggle {
            width:38px;
            position:relative;
            top:7px;
        }

    }
    .block_search_m {

        @include breakpoint(xs) {

        }
    }
    #logo {
        width: 163px;
        float:left;
        
        img {
            width:100%;
            height:auto;
        }
    }
    #user_menu {
        width: 269px;
         float:left;
        #link_your_account {
            width: 72px;
        }
        #link_favorites {
            width: 56px;
            margin-left: 30px;
        }
        #link_basket {
            width:46px;
            margin-left: 34px;
        }
    }


    .header_bottom .nav li a:link, 
    .header_bottom .nav li a:visited {
        font-size: 16px;
        line-height: 26px;
    }


}


@media only screen and (min-width : 1025px) and (max-width : 1205px) {
/* Styles */
    #header {
        min-width: 980px;
    }
    .header_top {
        min-width: 980px;
    }
    .container_1176 {
        width: 960px;
        margin:0 auto;
    }

    .block_toggle_menu {
        width: 27px;
        float:left;
        margin-right:24px;
    }
    .block_search {
        width: 282px;
        float:left;
        margin-right:76px;
    }
    .block_search_m {

        @include breakpoint(xs) {

        }
    }
    #logo {
        width: 163px;
        float:left;
        
        img {
            width:100%;
            height:auto;
        }
    }
    #user_menu {
        width: 269px;
         float:left;
        #link_your_account {
            width: 72px;
        }
        #link_favorites {
            width: 56px;
            margin-left: 30px;
        }
        #link_basket {
            width:46px;
            margin-left: 34px;
        }
    }
}
/* Large screens ----------- */
@media only screen and (min-width : 1206px) {
/* Styles */
#header {
    min-width: 1176px;
}
.header_top {
    min-width: 1176px;
}
.container_1176 {
    width: 1176px;
    margin:0 auto;
}

.block_toggle_menu {
    width: 27px;
    float:left;
    margin-right:44px;
}
.block_search {
    width: 282px;
    float:left;
    margin-right:152px;
}
.block_search_m {

    @include breakpoint(xs) {

    }
}
#logo {
    width: 163px;
    float:left;
    
    img {
        width:100%;
        height:auto;
    }
}
#user_menu {
    width: 239px;
     float:left;
    #link_your_account {
        width: 72px;
    }
    #link_favorites {
        width: 56px;
        margin-left: 30px;
    }
    #link_basket {
        width:46px;
        margin-left: 34px;
    }
}

}

@media only screen and (min-width : 1206px) and (max-width : 1279px) {
/* Styles */
}

@media only screen and (min-width : 1280px) and (max-width : 1599px) {
/* Styles */
}
@media only screen and (min-width : 1600px) and (max-width : 1939px) {
/* Styles */
}
@media only screen and (min-width : 1940px) and (max-width : 2539px) {
/* Styles */
}
@media only screen and (min-width : 2540px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}


