@import "compass";
@import "variable";

#header_main {
	&.white {
		background:#fff;
		border-top:1px solid #ebebeb;
		border-bottom:1px solid #ebebeb;
		padding: 15px 0;
		margin-bottom:15px;
	}
	

	.breadcrumb {
		background:none;
		margin-left:0px;
		padding-left:0px;
		>li {
			&:first-child {

			}
			font-size:11px;
			+li:before {
				content: "\e080";
				padding: 0 5px;
				color: #232323;
				position: relative;
				top: -1px;
				display: inline-block;
				font-family: 'Glyphicons Halflings';
				font-style: normal;
				font-weight: 400;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				font-size: 8px;

			}
			a {
				color:#000000;
			}
		}
		
	}
	h1 {
		text-transform: uppercase;
		margin-bottom:10px;
	}
	.view_filter {
		dl {
			dt,dd {
				float:left;

			}
			dt {
				margin-right:20px;
				text-transform:uppercase;
				@include breakpoint(xs) {
				    display:block;
				    float:none;
				    margin-bottom:10px;
				  }
				@include breakpoint(sm) {
				    display:block;
				    float:none;
				    margin-bottom:10px;
				  }
			}
			dd {
				margin-right:20px;
				@include breakpoint(xs) {
				     margin-bottom:10px;
				  }
				@include breakpoint(sm) {
				     margin-bottom:10px;
				  }
				.label {
					color:#000;
					display:block;
					font-size: 12px;
					float:left;
					line-height:21px;
					margin:0px 6px 0 0;
					padding:0px;
				}
				.value {
					margin:0px;
					padding:0px;
					color:#000;
					display:block;
					font-size: 12px;
					float:left;
					height:21px;
					line-height:21px;
					border:1px solid #ededed;
					width:166px;
					padding-left:6px;
					margin:0px 6px 0 0;
					box-shadow: inset 2px -2px 10px #ececec, 0 0 10px #ececec;
					position:relative;
					.glyphicon {
						position:absolute;
						right:5px;
						top:4px;
						color:#949494;
						font-size: 11px;
					}
					 &:hover {
					 	.glyphicon {
								cursor:pointer;
								pointer:relative;
						 }
					 }
				}
				&.action {
					a {

					}
				}
			}
			dt + dd {
				@include breakpoint(xs) {
				    float:none;
				    overflow:hidden;
				    margin-bottom:10px;
				  }
				@include breakpoint(sm) {
				    float:none;
				    overflow:hidden;
				    margin-bottom:10px;
				  }
			}
		}
	}
}
.shapes_listing {
	height:155px;
	background:url('../images/shapes-listing.png') 0 0 repeat-x;
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	text-align:center;
}
.addNewPositionListProduct {
	height:38px;
	width:245px;
	display:inline-block;
	background:#000;
	text-align:center;
	line-height: 38px;
	font-size: 12px;
	color:#fff;
	margin-top:85px;
	&:hover {
		color:#fff;
	}
}
.jsMasonryContent {
.item {
	width:236px;
	margin:0px 3px 10px;
		@include breakpoint(md) {
			width:229px;
		}
	//float:left;
	//margin-left:8px;
	//width:226px;

	}
}
.box_listing_product {
	padding:5px;
	border : 1px solid #ebebeb;
	background:#fff;
	width:100%;
	figure {
		&.img_product {
			margin-bottom:18px;
		}
		img {
			width:100%;
			height:auto;
		}
	}
	.logo_manufacturer {
		margin-bottom:18px;
		padding:0 8px;
	}
	.name_product {
		font-size: 12px;
		margin-bottom:18px;
		padding:0 8px;
	}
	.price {
		color:#fd002a;
		font-size: 20px;
		margin-bottom:18px;
		font-family:$fontRegular;
		padding:0 8px;
		position:relative;
		.old {
			color:#000;
			text-decoration:line-through;
			font-size:15px;
			margin-right:10px;
		}
		.like {
			position:absolute;
			right:8px;
			top:6px;
			font-size:11px;
			font-family:$fontBlack;
			color:#000;
			padding-right:30px;
			&:before {
				content: ' ';
				display:block;
				width:21px;
				height:16px;
				position:absolute;
				right:0px;
				top:0px;
				background:url('../images/heart.png')
			}
			&.liked {
				&:before {
					background:url('../images/heart-like.png')
				}
			}
		}

	}
	.promotion {
			background:#aefbe1;
			border:2px solid #ffd9fc;
			font-size:14px;
			text-align:center;
			padding:5px 10px;
			color:#4f4f4f;
			p {
				margin:0px;
				padding:0px;
				color:#4f4f4f;
				font-style: italic;
				font-family:$fontBlack;
			}
		}
}

