@import "compass";
.sbHolder{
	background-color: #fff;
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
	font-weight: normal;
	height: 32px;
	position: relative;
	width: 100%;
	@include box-shadow(#c7d0d7 1px 1px 1px);
}
.sbHolder:focus .sbSelector{
	
}
.sbSelector{
	display: block;
	height: 32px;
	left: 0;
	line-height: 32px;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	top: 0;
	width: 100%;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
	color: #353c42;
	outline: none;
	text-decoration: none;
}
.sbToggle{
	background:#e1eaf3;
	display: block;
	height: 24px;
	width: 20px;
	line-height: 24px;
	outline: none;
	outline: none;
	position: absolute;
	right: 5px;
	top: 4px;
	text-align:center;
	background:#fff $icoMap  no-repeat;
	@include sprite($icoMap, icoSelect);
	z-index: 100;
}
.sbHolder:hover .sbToggle {
		background:#fff $icoMap  no-repeat;
	@include sprite($icoMap, icoSelect_hover);
	}
.sbToggleOpen{
	&:after {
			display: inline-block;
			display:block;
			content: ' ';
			width:20px;
			height:24px;
			background:#fff $icoMap  no-repeat;
	@include sprite($icoMap, icoSelect_hover);
		}
}
.sbToggleOpen:hover{
	background:url('../img/ico-select-hover.png') 0 0 no-repeat;
}
.sbHolderDisabled{
	background-color: #353c42;
	border: solid 1px #515151;
}

.sbOptions{
	background-color: #fff;
	@include box-shadow(#c7d0d7 1px 1px 1px);
	list-style: none;
	left: 0px;
	margin: 1px 0 0;
	padding: 0;
	position: absolute;
	top: 30px;
	width: 100%;
	z-index: 900;
	overflow-y: auto;
}
.sbOptions li{
	padding: 0 7px;
}
.sbOptions a{
	border-bottom: dotted 1px #515151;
	display: block;
	outline: none;
	padding: 7px 0 7px 3px;
}
.sbOptions a:link, .sbOptions a:visited{
	color: $dark-navy;
	text-decoration: none;
}
.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus{
	color: $orange;
}
.sbOptions li.last a{
	border-bottom: none;
}
.sbOptions .sbDisabled{
	border-bottom: dotted 1px #515151;
	color: #999;
	display: block;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbGroup{
	border-bottom: dotted 1px #515151;
	color: #EBB52D;
	display: block;
	font-weight: bold;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbSub{
	padding-left: 17px;
}