<?xml version="1.0" ?>
<config>
	<modules>
		<Itoris_GroupedProductPromotions>
			<version>1.4.0</version>
		</Itoris_GroupedProductPromotions>
	</modules>
	<global>
		<blocks>
			<itoris_groupedproductpromotions>
				<class>Itoris_GroupedProductPromotions_Block</class>
			</itoris_groupedproductpromotions>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_super_group>Itoris_GroupedProductPromotions_Block_Admin_Product_Edit_Tab_Super_Group</catalog_product_edit_tab_super_group>
                </rewrite>
            </adminhtml>
		</blocks>
		<helpers>
			<itoris_groupedproductpromotions>
				<class>Itoris_GroupedProductPromotions_Helper</class>
			</itoris_groupedproductpromotions>
		</helpers>
		<models>
			<itoris_groupedproductpromotions>
				<class>Itoris_GroupedProductPromotions_Model</class>
                <resourceModel>itoris_groupedproductpromotions_mysql4</resourceModel>
			</itoris_groupedproductpromotions>
            <itoris_groupedproductpromotions_mysql4>
                <class>Itoris_GroupedProductPromotions_Model_Mysql4</class>
                <entities>
                    <rules><table>itoris_groupedproductpromotions_rules</table></rules>
                    <product><table>itoris_groupedproductpromotions_rules_product</table></product>
                    <group><table>itoris_groupedproductpromotions_rules_group</table></group>
                </entities>
            </itoris_groupedproductpromotions_mysql4>
            <sales>
                <rewrite>
                    <quote_item>Itoris_GroupedProductPromotions_Model_Rewrite_Sales_Quote_Item</quote_item>
                </rewrite>
            </sales>
            <catalog>
                <rewrite>
                    <product_type_grouped>Itoris_GroupedProductPromotions_Model_Rewrite_Product_Type_Grouped</product_type_grouped>
                </rewrite>
            </catalog>
		</models>
		<resources>
			<itoris_groupedproductpromotions_setup>
				<setup>
					<module>Itoris_GroupedProductPromotions</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</itoris_groupedproductpromotions_setup>
			<itoris_groupedproductpromotions_write>
				<connection><use>core_write</use></connection>
			</itoris_groupedproductpromotions_write>
			<itoris_groupedproductpromotions_read>
				<connection><use>core_read</use></connection>
			</itoris_groupedproductpromotions_read>
		</resources>
        <events>
            <catalog_product_save_after>
                <observers>
                    <itoris_groupedproductpromotions_save_product>
                        <type>singleton</type>
                        <class>Itoris_GroupedProductPromotions_Model_Observer</class>
                        <method>saveProduct</method>
                    </itoris_groupedproductpromotions_save_product>
                </observers>
            </catalog_product_save_after>
            <sales_quote_collect_totals_before>
                <observers>
                    <itoris_groupedproductpromotions_price>
                        <type>singleton</type>
                        <class>itoris_groupedproductpromotions/quote_observer</class>
                        <method>changePrice</method>
                    </itoris_groupedproductpromotions_price>
                </observers>
            </sales_quote_collect_totals_before>
            <catalog_product_get_final_price>
                <observers>
                    <itoris_groupedproductpromotions_price>
                        <type>singleton</type>
                        <class>Itoris_GroupedProductPromotions_Model_Price_Observer</class>
                        <method>changeFinalPrice</method>
                    </itoris_groupedproductpromotions_price>
                </observers>
            </catalog_product_get_final_price>
        </events>
	</global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <itoris_groupedproductpromotions before="Mage_Adminhtml">Itoris_GroupedProductPromotions_Adminhtml</itoris_groupedproductpromotions>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <!--
	<admin>
		<routers>
			<itoris_groupedproductpromotions>
				<use>admin</use>
				<args>
					<module>Itoris_GroupedProductPromotions</module>
					<frontName>itoris_groupedproductpromotions</frontName>
				</args>
			</itoris_groupedproductpromotions>
		</routers>
	</admin>
	-->
	<adminhtml>
		<layout>
			<updates>
				<itoris_groupedproductpromotions>
					<file>itoris_groupedproductpromotions.xml</file>
				</itoris_groupedproductpromotions>
			</updates>
		</layout>
		<translate>
			<modules>
				<Itoris_GroupedProductPromotions>
					<files>
						<default>Itoris_GroupedProductPromotions.csv</default>
					</files>
				</Itoris_GroupedProductPromotions>
			</modules>
		</translate>
	</adminhtml>
	<frontend>
		<routers>
			<groupedproductpromotions>
				<use>standard</use>
				<args>
					<module>Itoris_GroupedProductPromotions</module>
					<frontName>groupedproductpromotions</frontName>
				</args>
			</groupedproductpromotions>
		</routers>
		<layout>
			<updates>
				<itoris_groupedproductpromotions>
					<file>itoris_groupedproductpromotions.xml</file>
				</itoris_groupedproductpromotions>
			</updates>
		</layout>
		<translate>
			<modules>
				<Itoris_GroupedProductPromotions>
					<files>
						<default>Itoris_GroupedProductPromotions.csv</default>
					</files>
				</Itoris_GroupedProductPromotions>
			</modules>
		</translate>
	</frontend>
</config>