#header {
//    min-height: 65px;
}
/* HEADER TOP */
.headroom {
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}
.headroom--pinned {
	top: 0 !important;
}
body {
	@media screen and (max-height: 749px) {
		.headroom--unpinned {
			top: -57px !important;
		}
	}
	@media screen and (min-height: 750px) {
		.headroom--unpinned {
			top: 0 !important;
		}
	}
	.headroom--top {
		position: static !important;
		margin-top: -56px !important;
		transition: none !important;
	}
	&.sb-open > header {
		margin-left: 288px;
		width: 100%;
		.header_top {
			left: 288px;
		}
	}
}
.header_top {
    position:fixed;
    top:0px;
    left:0px;
    width: 100%;
    z-index: 1000;

    > .container-fluid {
        position:relative;
    }
    #header_top_block_left {
        position:absolute;
        left:0px;
        top:0px;
        z-index: 20;
        @include max-screen($screen-sm-max) {
	        display: none;
        }
    }
     #header_top_block_center {
        position:absolute;
        left:50%;
        margin-left: -80px;
        top:1px;
        width:160px;
	     z-index: 10;
	     img {
		     width:100%;
		     height:auto;
	     }
	     @include max-screen($screen-sm-max) {
			left: 0;
			margin-left: 0;
        }
	     @include max-screen(470px) {
		     width: 150px;
		     top: 3px;
		     left: -10px;
		     margin-left: 0;
	     }
       @include max-screen(365px) {
         width: 140px;
         top: 6px;
         left: -10px;
         margin-left: 0;
       }
    }
    #header_top_block_right {
	    width: 100%;
	    padding-left: 165px;
        position:absolute;
        right: -10px;
        top:0px;

	    @include max-screen($screen-xs-max) {
		    padding-left: 105px !important;
	    }
	    #user_menu {
		    width: 100%;
	    }
	    .header_icon {
		    margin-top: 3px;
		    width: 22px;
		    + span {
			    display: block;
			    margin-top: 3px;
		    }
		    @include max-screen($screen-sm-max) {
			    margin-top: 2px;
		    }
	    }
    }
    .block_toggle_menu {
         float: left;
         @include sprite-dimensions($allMap, ico_menu);
         margin-right: 3.74%;
         @include max-screen($screen-sm-max) {
            height:18px;
            width:17px;
            margin-right: 5px;
            margin-left: 10px;
        }
    }
    .block_search {
            float:left;
            
            @include max-screen($screen-sm-max) {
                margin-right: 2.925%;
            };
            @include min-screen($screen-md) { 
                margin-right: 5%;
             };
            @include min-screen($screen-lg) { 
                margin-right: 12.92517006802721%;
            };
        }    
}

/* USER MENU */
.user-navigation  {
            @include reset-l;
            top:-4px;
			width: 100%;
			text-align: right;
			@include  max-screen($screen-sm-max) {
				margin-top: -3px;
				height: 54px !important;

			}
            @include min-screen($screen-md) {
                position: relative;
            }
            li {
                padding: 0 0 0 0;
                margin-left: 0;
                width: 84px;
                height:58px;
                display:inline-block;
	            vertical-align: top;
	            cursor: pointer;

                @include min-screen($screen-md-min) {
                    a:hover,&.open {
                      background-color: #2A2A2A;
                    }
                }
                &#link_search.not-open, &#link_search.not-open:hover {
                    background-color: transparent !important;
                }
                &#link_menu.not-open, &#link_menu.not-open:hover {
                    background-color: transparent !important;
                }

	            @include min-screen($screen-md-min) {
		            &#link_basket {
			            height: 61px;
		            }
	            }

                @include max-screen($screen-sm-max) {
                    width: 60px;
	                &:hover, &#link_search.open  {
		                background-color: #2A2A2A;
	                }
	                &#link_search.open {
		                 height: 57px !important;
	                 }
                }
	            @include max-screen(410px) {
		            width: 50px;
	            }
	            @include max-screen(360px) {
		            width: 40px;
		            &:hover, a:hover {
			            background-color: transparent;
		            }
	            }
                a:link,
                a:visited {
                    @include max-screen($screen-sm-max) {
                        padding-top: 14px !important;
                    }
                    @include min-screen($screen-md) {
                        padding-top: 10px !important;
                    }
                }
                &.no-badge {
                   a:link,
                   a:visited {
                       @include max-screen($screen-sm-max) {
                           padding-top: 14px !important;
                       }
                       @include min-screen($screen-md) {
                           padding-top: 10px !important;
                       }
                   }
                }
	            &#link_your_account {
		            @include max-screen(539px) {
			            display: none;
		            }
	            }
	            &#link_search .header_icon {
		            margin-top: -1px;
	            }
            }
            a {
                @include reset-m;
                position: relative;
                height:58px;
                padding-bottom: 2px;
                display:block;
                padding-top: 11px;
                 @include max-screen($screen-sm-max) {
                    height: 46px;
                    padding-top: 17px;
                }              
            }

            li {
            .dropdown {
                ul.searchDropdown {
                }
            }
        }
    }

    /* HEADER BOTTOM */
.header_bottom {

     #nav_desc {
        &.navigation > li > a:hover,
        &.navigation > li > a.active  {
            position:relative;
            &:before {
                content: ' ';
                height:4px;
                width: 100%;
                position:absolute;
                left:0px;
                bottom:-6px;
                
            }
        }
    }

   
    // NAV DESKPOT
    //#nav_desc {
        .navigation {
	        margin: 0 0 3px -10px;
            padding:0px;
            li {
                display:inline-block;
                height:41px;
                    @include max-screen($screen-sm - 1) {
                        display:block;
                    }      
                a:link,
                a:visited {
                   padding:8px 20px 4px 10px !important;
                }
                
    /* === SUBMENU === */
                ul {
                    display:none;
                    li {
                        margin-left: 38px;
                        
                    }
                }
            }
        }
    //}
    // END NAV DESCOPT

    #nav_mobile {
        > li {
            display:block;
            height:auto;
            > a:link,
            > a:visited {
            text-decoration: none;
            position:relative;
            display:block;
            padding-left:15px;
                i.fa {
                    position:absolute;
                    right:7px;
                    top:50%;
                    margin-top:-8px;
                }
            }
            > a:hover {
                text-decoration: underline;
            }
           
            ul {
                &.open {
                    -webkit-padding-start: 0px !important;
                    display:block;
                  padding-left:0px !important;
                }
            }
            li {
                margin-left: 0;
                a {
                    width:249px;
                    display:block;
                    padding-left:25px!important;

                }

            }
        }
    }
}

[class^=ico_] {
    &.ico_basket {
        @include max-screen($screen-sm-max) {
            margin-right: 4px;
        }
        >span {
            @include max-screen($screen-sm-max) {
                top: 11px !important;
            }
        }
    }
    &.ico_favorites {
        >span {
            top: 10px !important;
            @include max-screen($screen-sm-max) {
                top: 9px !important;
            }
        }
    }
}


.node-type-page-shop {
    #header {
        min-height: 40px;
        @media (min-width: $screen-md-min) {
            min-height: 56px;
        }
    }
}


.top_bottom {
    // NAV DESKPOT
    //#nav_desc {
        .navigation {
            margin-left:-10px;
            margin-right: 0px;
            margin-top:4px;
            margin-bottom: 3px;
            padding:0px;
            li {
                display:inline-block;
                height:41px;
                    @include max-screen($screen-sm - 1) {
                        display:block;
                    }      
                a:link,
                a:visited {
                   padding:8px 20px 8px 10px !important;
                }
                
    /* === SUBMENU === */
                ul {
                    display:none;
                    li {
                        margin-left: 38px;
                        
                    }
                }
            }
        }
    //}
    // END NAV DESCOPT

    #shop_nav_mobile {
        > li {
            display:block;
            height:auto;
            > a:link,
            > a:visited {

            position:relative;
            display:block;
            padding-left:15px;
                i.fa {
                    position:absolute;
                    right:7px;
                    top:50%;
                    margin-top:-8px;
                }
            }
            > a:hover {
            }
           
            ul {
                &.open {
                    -webkit-padding-start: 0px !important;
                    display:block;
                }
            }
            li {
                margin-left: 0;
                a {
                    width:249px;
                    display:block;
                    padding-left:25px!important;
                    
                }
                a:hover {
                    
                }
            }
        }
    }
}