#items-product {
	margin-top:-4px;
	.item {
		margin-bottom: 0px;
		&[class*="col"] {
			padding:5px 2.5px 0;
		}
		&.col-phone {
			@media(max-width:540px) {
				width: 50%;
				float: left;
				min-height: 1px;
			}
		}
		//width:47.55555555%;
		.box_listing_product {
			padding: 0 0 0 0;
		}
		 figure {
		 	img {
		 		width:100%;
		 		height: auto;
			    position: absolute;
		 	}
		 }
	 
	.like {
		float:right;
	    position:relative;
	    margin-top: 6px;
	    &:before {
	        display:block;
	        width:21px;
	        height:16px;
	        position:absolute;
	        right:0px;
	        top:0px;
		}
	}
	}
}
#items-product.jsMasonryContent {
	overflow:hidden
}

.item {
	.col-price {
		float:left;
		}
}

#listing-loading {
  width: 100%;
  text-align: center !important;
  display: none;
}
#listing-loading > img {
  display: block;
  margin: 0 auto;
}