.account-content {
  #sidebar {
    position: absolute;
  }
}

#sidebar { 
	display:none;
}
.sidebar-first {
	#sidebar {
		width:185px;
	    float:left;
	    margin-right:20px;
	    display:block;
        @media (max-width: $screen-xs-max) {
            display: none;
        }
   	}	
}

.sidebar-first {
  #content-main {
    margin-left: 205px;
//    @media (max-width: $screen-sm-max) {
//      margin-left: 0 !important;
//    }
  }
}

.fb-slidebar {
  .sidebar {
    width: 100%;
  }
}

	    .sidebar {
     		width:185px;
     		position:relative;
     		margin-bottom: 52px;
			z-index: 900;
     		.section {
     		padding:11px 18px 0;
	     		.content {
	     		  padding-top:8px;
	     		  padding-bottom:15px;
	     		  display:none;
	     		}
                .content-cms {
                  padding-top:0px !important;
                }
	     	h3.open {
	     	  + .content {
	     	    display:block;
	     	  }
	     	}
	     	h3 {
	     	padding:0px;
	     	  position:relative;
	     	  display:block;
//	     	  height:18px;
//	     	  overflow:hidden;
	     	  padding-left:25px;
	     	  margin-left:-18px;
	     	  margin-right:-18px;
	     	  margin-bottom: 11px;
	     	  margin-top: 0px;
              white-space: normal;
              span {
                display: block;
                white-space: normal;
                width: 84%;
                word-wrap: break-word;
              }
	     	  i {
	     	    position:absolute;
	     	    right:12px;
	     	    top:2px;
	     	  }
	     	  &:before {
	     	    content: ' ';
	     	    display:block;
	     	    width:18px;
	     	    height:18px;
	     	    position:absolute;
	     	    left:0px;
	     	    top:0px;
	     	  }
	     	}
     		}
     		dl {
     		  dt {
     		    margin-bottom: 10px;
     		  }
     		  dd {
     		    margin-left: 10px; 
     		    a {
     		      padding:8px 0;
     		      display:block;
     		    }
     		  }
     		}
     		.go_back {
     		  i {
     		    top:0px;
     		  }
     		}
     	}

.sidebar-first {
	&.node-type-list {
		#sidebar {
			@media (max-width: $screen-xs-max) {
				display: none;
				position:absolute !important;
				left:-200px;
				top:0px;
			 }
		}
	}
}
.sidebar-first {
	&.node-type-list {
		#content-main {
		margin-left: 205px; 
		overflow: hidden;
			@media (max-width: $screen-xs-max) {
				margin-left: 0 !important;
			}
		}
	}
}
.sidebar-first {
	&.node-type-main_categories {
		#sidebar {

	
			@media (max-width: $screen-xs-max) {
				width:100%;
			 }
			 .sidebar {
			 	@media (max-width: $screen-xs-max) {
				display: none;
				width:100%;
				
			 }
			 }
			.section {
				margin-bottom: 12px;
			}
		}
	}
}

#filter_style,
.filter-droplist,
.filter-enum,
#note_client {
	.form-group {
		margin-bottom: 5px;
	}
}

#note_client {
	.form-group {
		.note {
			top: -2px;
			position: relative;
		}
	}
}

.catalog-category-view {
  #sidebar{
    &.hidden-xs {
      display: block;
      @media (min-width: $screen-sm-min) {
        display: block;
      }
    }
  }
}

.not-content-mode.sm-to-smmd-plus-smmd, .this-is-search.sm-to-smmd-plus-smmd {
  &.sidebar-first {
    &.node-type-list {
      #sidebar {
        @media (max-width: $screen-sm-to-smmd-max) {
          display: none;
          position:absolute !important;
          left:-200px;
          top:0px;
        }
      }
    }
  }
  &.sidebar-first {
    &.node-type-list {
      #content-main {
        @media (max-width: $screen-sm-to-smmd-max) {
          margin-left: 0 !important;
        }
      }
    }
  }
  &.catalog-category-view {
    #sidebar{
      &.hidden-xs {
        @media (min-width: $screen-smmd-min) {
          display: block;
        }
      }
    }
  }
}