.node-type-summary-delivery-payment {
	 
	#content-main {
		@media (max-width: $screen-sm-max) {
		margin-bottom: 15px;
		}
	}
	#checkout {
		.sidebar-second {
			.main {
				padding: 30px 30px;
				@media(max-width: 768px) {
					padding: 15px 15px 10px;
				}
			}
			.col-xs-4 {
				@media(max-width: 360px) {
					width:100%!important;
				}
			}
		}
	}
  #checkout .sidebar-second {
  	.hide_panel_group {
  		margin-bottom: -5px;
  	}
  	@media (min-width: 768px) and (max-width: 991px) {
    	margin-top: 0px; 
    	} 
    }
   .panel-group {
   	margin-bottom: 0px;
   }
   .panel {
   	margin-bottom: 15px;
   	@media (max-width: 360px) {
	   	margin: 0px -10px 15px;
	   }
   }
}
#summary-delivery-payment {
	margin-bottom: 15px;

	img {
		width:100%;
		max-width: 75px;
		height:auto;
		position:absolute;
		top:35px;
		right:0px;
		@media(min-width:$screen-lg-min) {
			top:37px;
		}
	}
}

.node-type-summary-delivery-payment {
	.panel_action {
		margin-bottom: 15px;
	}
}
.table-summary-product {
	.table-heading {
		display:none;
		width:50%;
		float:right;
		padding-bottom: 30px;
		position:relative;
		top: -50px;
		margin-bottom: -50px;
		&:first-child{
			display: block;
		}
		@media (min-width: $screen-md-min) {
			width:40%;
		}
		div {
			width:33.333%;
			position:relative;
			display:inline-block;
			float:left;

		}
	}
	.table-group {
		height: auto;
		overflow: hidden;
		clear:both;
		position:relative;
		margin-bottom: 15px;
		.zdjecie {
			margin-right: 15px;
			width:41px;
			img {
				height: auto;
				width:100%;
			}
		}
		.nazwa_rozmiar {
			min-height:54px;
			position:relative;
		}
		.tabcol-1 {
			float: none; 
		    width: auto;
		    overflow: hidden;
		    margin-right: 51%;
		    @media (min-width: $screen-md-min) {
		    	margin-right: 41%;
		    }
		    @media (max-width: 360px) {
		    	margin-right: 38%;
		    }
		    .zdjecie {
		    	float:left;
		    }
		    .nazwa_rozmiar {
		    	margin-left: 56px;
		    }
		}
		.tabcol-2 {
			width: 50%;
		    float: right;
		   @media (min-width: $screen-md-min) {
		   	width: 40%;
		   }
		    @media (max-width: 360px) {
		    	width: 38%;
		    }
			.cena,
			.ilosc,
			.wartosc{
				
				position:relative;
				display:inline-block;
				
				@media (min-width: $screen-sm-min) {
					width:33.333%;
					float:left;
				}
			}
			.cena {
				@media (min-width: $screen-sm-min) {
					left:-33.333%;
				}
				@media (max-width: $screen-xs-max) {
					display:block;
					position:absolute;
					top:20px;
					right:0px;
				}
				.stara_cena {
					margin-right: 5px;
				}
				span {
					display:inline-block;
				}
			}
			.ilosc {
				@media (min-width: $screen-sm-min) {
					right:-33.333%;
				}
				@media (max-width: $screen-xs-max) {
					font-size: 12px;
					text-align: right !important;
					display:block;
				}
				
					.lb {
						@media (max-width: $screen-xs-max) {
						display:inline-block!important;
					}
				}
			}
			.wartosc {
				
			}
		}
	}
	#sumary_total_amount {
		.lb + span {
			display:inline-block;
			width:90px;
		}
	}
}

    
#podsumowanie_popup {
	.modal-content {
		padding:0px;
		.modal-header {
			padding:0px;
			margin: 0px;
			height:0px;

		}
	}
	.modal-body {
		padding:50px 35px;
		margin-top:-15px;
	}
	h2 {
		margin:30px 0;
		padding:0px;
		&:first-child {
			margin-top:0px;
		}
	}
	p {
		margin-bottom: 0px;
	}
}

.panel-group {
	.panel {
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0px;
		}
		.panel-heading {
			a.external {
				margin-right: 15px;
				@media(max-width:545px) {
						float:none!important;
						display:block;
						max-width: 155px;
					}
			}
			strong{
				&+span {
					@media(max-width:360px) {
						display:block;
					}
				}
			}
		}
	} 
}

.podziekowanie_nieudane_view_summary {
	display:none;
	@media(max-width:991px) {
		//loat:right;
		display:inline-block;
		position:relative;
		padding-right: 30px;
	}
	&.open {
		margin-bottom:15px;
	}
}

.acknowledgements {
	.table-group {
		&:last-child {
			margin-bottom: 0px;
		}
	}
	#checkout {
		section {
			header {
				margin-bottom: 9px;
				h2{

				}
			}
		}
		.summary-order {
			dl {
				@media(max-width:480px) {
					margin-left: 6px;
				}
			}
			
		}
	}
}

.node-type-summary-delivery-payment {

	.title-section {
		&+#summary-panel-product {
			@media(max-width: 767px) {
				display:none;
			}

		}
	}
	#order-show-products {
			display:block;
		}
	.opened-panel-group {
		.title-section {
			&+#summary-panel-product {
				display:block
			}
		}
		#order-show-products {
			display:none;
		}
	}

}