* {
	outline: none !important;
}
body {
	&> .modal-backdrop {
		display:none!important;
	}
	&.modal-open {
		overflow:hidden!important;
		
		#sb-site {
			overflow:hidden!important;
			
		}
	}
}
.container-fluid {
	max-width: 1206px;
}
.browsehappy {
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	z-index: 9000;
	background:$color_fff;
	padding:50px;
	text-align: center;
	color:red;
}

.popular-shops {
    ul {
        -webkit-padding-start:0;
    }
}
.modal-content {
	button.close {
    background: url('../images/btn-close.png') no-repeat scroll 0px 0px transparent;
    height: 32px;
    width: 34px;
    position: absolute;
    top: -16px;
    right: -16px;
    z-index: 900;
    opacity: 1;
    color: $color_fff;
    text-shadow: none;
}
}
.node-type-summary-checkout {
	&.checkout {
		#header {
			#header_top_block_right {
			    width: 65%;
			    position: absolute;
			    float: left;
			}
		}
	}
}


.modal-dialog {
	@media(max-width:767px) {
		margin: 20px 20px;
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	img[src*=".svg"] {
		width: 100%;
	}
}