.clr {clear:both}


ul.messages, ul.messages ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
ul.messages ul {
    padding-left: 0;
}
ul.messages >li.error-msg ul, ul.messages >li.notice-msg ul, ul.messages >li.success-msg ul {
	>li {
		margin-top: 10px;
	}
	>li:last-child {
		@include max-screen($screen-xs-max) {
			margin-bottom: 10px;
		}
	}
}

body.mypromotions-index-index {
	ul.messages >li.error-msg ul, ul.messages >li.notice-msg ul, ul.messages >li.success-msg ul {
		>li:last-child {
			margin-bottom: 10px !important;
		}
	}
}

ul.messages >li ul>li>span {
	background-color:$color_dff0d8;
	color: $color_767676;
    margin-left: 0;
    height: 100%;
    display: block;
    min-height: 50px;
    padding: 15px 30px 15px 15px;
    position: relative;
	&:before {
		font-family: FontAwesome;
		font-size:22px;
		padding-right:14px;
		content:"\f00c";
	}
}

ul.messages >li.error-msg ul>li>span {
    background-color: $color_f2dede;
	&:before {
		content:"\f00d";
		font-family: FontAwesome;
		font-size:22px;
		padding-right:14px;
	}
}

ul.messages ul>li>span>i {
    position: absolute;
    right: 16px;
    top: 23px;
    cursor: pointer;
}
ul#admin_messages{
	margin:0;
	padding:0;
}

.wf-home {
	ul.messages:not(:empty) {
		margin-bottom: 15px !important;
	}
}