<?xml version="1.0"?>
<config>
    <modules>
        <Wf_Wf>
            <version>0.2.2</version>
        </Wf_Wf>
    </modules>
    <global>
        <models>
            <wfwf>
                <class>Wf_Wf_Model</class>
                <resourceModel>wfwf_resource</resourceModel>
            </wfwf>
            <wfwf_resource>
                <class>Wf_Wf_Model_Resource</class>
            </wfwf_resource>
        </models>
        <helpers>
            <wfwf>
                <class>Wf_Wf_Helper</class>
            </wfwf>
            <zolagosolrsearch>
                <rewrite>
                    <data>Wf_Wf_Helper_Solrsearch_Data</data>
                </rewrite>
            </zolagosolrsearch>
			<orbacommon>
				<rewrite>
					<ajax_customer_cache>Wf_Wf_Helper_Orbacommon_Ajax_Customer_Cache</ajax_customer_cache>
				</rewrite>
			</orbacommon>
        </helpers>
        <resources>
            <wfwf_setup>
                <setup>
                    <module>Wf_Wf</module>
                </setup>
            </wfwf_setup>
        </resources>
		<template>
			<email>
				<wf_email_template module="wfwf">
					<label>WF email template</label>
					<file>wf_email_template.html</file>
					<type>html</type>
				</wf_email_template>
			</email>
		</template>
    </global>
    <frontend>
		<!--for map-->
		<routers>
			<zolagomodago>
				<use>standard</use>
				<args>
					<module>Zolago_Modago</module>
					<frontName>wf</frontName>
				</args>
			</zolagomodago>
		</routers>
		<translate>
			<modules>
				<Wf_Wf>
					<files>
						<default>Wf_Wf.csv</default>
					</files>
				</Wf_Wf>
			</modules>
		</translate>		
    </frontend>
</config>