div.steps.step-3 {
	.rma-summary-container {
		border: 1px solid #bfbfbf;
		padding: 12px 10px;
		table#review-items {
			td {
				border: none;
				padding: 0;
			}
			.summary-image {
				width: 60px;
				padding: 0 15px 20px 0;
				img {
					border: 1px solid #cccccc;
				}
			}
			.summary-item-desc {
				vertical-align: top;
			}
			.summary-comment {
				padding-bottom: 20px;
			}
			.summary-reason {
				padding-bottom: 20px;
				vertical-align: bottom;
			}
		}
		p#review-comment-text {
			white-space: pre;           /* CSS 2.0 */
			white-space: pre-wrap;      /* CSS 2.1 */
			white-space: pre-line;      /* CSS 3.0 */
			white-space: -pre-wrap;     /* Opera 4-6 */
			white-space: -o-pre-wrap;   /* Opera 7 */
			white-space: -moz-pre-wrap; /* Mozilla */
			white-space: -hp-pre-wrap;  /* HP Printers */
			word-wrap: break-word;      /* IE 5+ */
			width: 100px;
			min-width: 100%;
		}
		p, address#review-shipping-address, address#review-shipping-address dl {
			margin-bottom: 0;
		}
		address#review-shipping-address dl.pull-left {
			float: none !important;
		}
		.customer-account-fieldset {
			display: none;
		}

	}
	.rma-summary-table-container {
		padding: 20px 20px 0;
	}
	h5.legend {
		font-family: latoblack;
		font-weight: normal;
		padding: 15px 0 10px;
	}
	div.summary-bottom {
		padding-top: 40px;
	}
	p#overview-message {
		font-size: 15px;
		margin-bottom: 10px;
	}
}
