<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Zolago_Faq>
            <version>0.0.1</version>
        </Zolago_Faq>
    </modules>
    <frontend>
        <routers>
            <faq>
                <args>
                    <modules>
                        <Zolago_Faq before="Inic_Faq">Zolago_Faq</Zolago_Faq>
                    </modules>
                </args>
            </faq>
        </routers>
    </frontend>
    <global>
        <blocks>
            <faq>
                <rewrite>
                    <frontend_faqsearch_result>Zolago_Faq_Block_Frontend_Faqsearch_Result</frontend_faqsearch_result>
                </rewrite>
            </faq>
        </blocks>
    </global>
</config>
