//MODAL AND MOBILE MENU CONTENT
#seller_description, #brand_description {
  img {
    max-width: 60%;
    float: left;
    padding: 0 15px 20px 0;
  }

  .modal-content {
    ul {
      margin-left: 10px;
      overflow: hidden;
      li {
        list-style: initial;
        margin-left: 15px;
      }
    }
  }
}

#terms_delivery, //warunki dostawy i zwrotu
#trigger_conditions_shipping //shopping cart popup
{
  .delivery-table {
    padding-bottom: 10px;
    div.row {
      padding-top: 18px;
      padding-bottom: 18px;
      border: 1px solid $color-gray3;
    }
  }
  h4 {
    padding: 10px 0 !important;
  }
  h4:first-child {
    padding-top: 0px !important;
  }
  ul {
    margin-left: 10px;
    margin-bottom: 10px;
    li {
      list-style: initial;
      margin-left: 10px;
      display: list-item;
    }
  }
  a {
    color: $brand-primary;
    text-decoration: underline;
  }
}

#shop_nav_mobile, //vendor page
#seller-box-bundle //product page
{
  #termsDeliveryInformation, #termsReturnInformation {
    .delivery-table {
      div.row {
        padding-top: 18px;
        padding-bottom: 18px;
        border: 1px solid $color-gray3;
      }
      max-width: 450px;
    }
  }

  .vendor-menu-mobile-content {
    li {
      img {
        max-width: 100%;
        padding: 0 0 20px 0;
      }
      ul {
        display: block;
        padding-left: 10px;
        margin-bottom: 10px;
        li {
          list-style: initial;
          //margin-left: 20px;
          display: list-item;
          height: auto;
        }
      }
      h4 {
        padding: 10px 0 !important;
      }
      h4:first-child {
        padding-top: 0px !important;
      }
    }

    h4 {
      padding: 10px 0 !important;
    }
    h4:first-child {
      padding-top: 0px !important;
    }
    img {
      max-width: 100%;
      padding: 0 0 20px 0;
    }
    ul {
      display: block;
      padding-left: 25px !important;
      margin-bottom: 10px !important;
      li {
        list-style: initial;
        margin-left: 20px;
        display: list-item;
        height: auto;
      }
    }
    a {
      color: $brand-primary;
      text-decoration: underline;
      display: inline;
      text-transform: none;
      font-size: 12px;
      padding-left: 0 !important;
    }

    .delivery-table {
      //padding-bottom: 20px;
      div.row {
        padding-top: 18px;
        padding-bottom: 18px;
        border: 1px solid $color-gray3;
      }
      max-width: 450px;
    }
  }
}

.no-padding {
  padding: 0;
}
//MODAL AND MOBILE MENU CONTENT