.account-content {
    margin-top: 0px;
    min-height: 400px;
}

.lower-breadcrumbs {
    #header-main {
        @media (min-width: $screen-sm-min) {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }
}

.newsletter-manage-index {
  .my-account{
    .page-title {
      h1 {
        padding: 20px 28px 0 !important;
        @media (min-width: $screen-xs-max) {
          padding: 0 20px !important;
        }
      }
    }
  }
}

.customer-account-edit,
.customer-account-password {
  .my-account{
    .page-title {
      h1 {
        padding: 20px 24px 0 !important;
        @media (min-width: $screen-xs-max) {
          padding: 0 15px !important;
        }
      }
    }
  }
}

.newsletter-manage-index,
.customer-account-privacy {
  .more-info-txt {
    display: none;
  }
  #general-subscription {
    display: table-cell !important;
  }

  .label-bold {
    font-family: $fontBlack;
    font-size: 13px;
  }
  .form-group {
    margin-bottom: 0;
  }

  .newsletter-border,
  .privacy-border {
    border: solid;
    border-width: 1px;
    border-color: $color_000000;
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 30px;

    @media (max-width: $screen-xs-max) {
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 20px;
      padding-bottom: 20px;
      margin: 0;
      margin-bottom: 10px;
    }
  }
  .bigger-padding {
    padding-left: 15px;
    padding-right: 15px;
  }
  .more-info {
    text-decoration: underline !important;
  }
  .pseudo-label {
    position: relative;
    top: -23px;
    left: 28px;
    width: 90%;
  }
  label {
    font-family: $fontBlack;
    font-weight: normal !important;
  }
}


.wishlist-index-index {
  p {
    margin-bottom: 5px;
  }
  h1 {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  #content {
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
  }
  .wishlist-cms {
    background-color: $color_ffffff;

  }

  .wrapp-section {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .span-title {
     font-size: 17px;
  }

  @media (max-width: $screen-md-max) {

    #header {
      min-height: inherit;
    }

    #header-main {
      margin: 0;
      padding: 0;
      visibility: hidden;
      display: none;
    }
  }

  #wishlist-items-col {
    @media  (max-width: $screen-lg-min) {
      padding-left: 0px!important;
      padding-right: 0px!important;

    }
  }

}







