
#summary-delivery-payment {
	figure {
		text-align: right;
	}
	img {
		border:1px solid $color_1a1a1a;

	}
}

.table-summary-product {
	.table-heading {
		font-weight: bold;
		text-transform: uppercase;
		div {
			text-align: center;
			&.hcena,
			&.hwartosc {
				text-align: right;
			}
		}
	}
	.table-group {
		.tabcol-2 {
			.cena {
				.stara_cena {
					text-decoration: line-through;
				}
			}
			.ilosc {

				@media (max-width: $screen-xs-max) {
					text-align:right;
				}
			}

		}
	}
}

    
#podsumowanie_popup {
	h2 {
		font-size: 14px;
		font-weight: bold;
	}
}