// dimensions
.small-banners {
    .row {
        margin: 0 -20px;
        @media (max-width: 767px) {
            div:nth-child(3) {
                clear:both;
            }
        }
    }
}

// smaller paddings
.tight-padding {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 5px;
    img {
        width: 100%;
    }
}

.inner-padding-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.popular-shops {
    overflow-y:hidden;
    max-height: 503px;
    >h3 {
        margin-top: 20px;
        margin-bottom:28px;
    }
    .pop-shop-lst {
        display: inline-block;
        vertical-align: top;
        width: 130px;
        zoom:1;
        *display: inline;
        >li:last-child{
            margin-bottom: 100px;
            padding-left: 0!important;
            -webkit-padding-start: 0px !important;
        }
        >li {
            >a {
                width: 130px;
                display: block;
                margin-bottom:35px;
                >span {
                    margin-top: 15px;
                    display: block;
                }
                >span.pop-shop-img-wr {
                    line-height: 74px;
                    height: 74px;
                    width: 100%;
                    margin-top: 0;
                }
            }
            >a:hover {
                text-decoration: underline;
            }
        }
    }
}

.pop-shop-seemore {
    display: block;
    width: 245px;
    height: 38px;
    line-height: 38px;
    margin: 0 auto;
    margin-top:-38px;
    margin-bottom: 28px;
}

.popular-shops:after {
    content: "";width: 100%;display: inline-block;
}


#product-gallery {
    
    &.col-lg-5 {
        @media (min-width: $screen-lg-min) {
            width:38.66667%;
            padding-right: 9px;
        }
         @media (min-width: 932px) and (max-width: 1199px) { 
            //width:38.66667%;
            width:449.683px;
            padding-right: 9px;
            float:left;
        }
        @media (min-width: 768px) and (max-width: 931px){
            width:350px;
            float:left;
        }
        @media (min-width: 481px) and (max-width: 767px){
            width:360px;
            float:none;
            margin: 0 auto;
        }
        @media (max-width: 480px){
            width:360px;
            float:none;
            margin: 0 auto;
        }
       

    }
    &.col-xs-12 {
        @media  (max-width: 767px) {
            float:none;
            margin: 0 auto;
        }
    }
}

#block-bundle {

    &.col-lg-7 {
        float: none;
        margin-left: 435px;
        width: auto;
        padding-right: 20px;
        @media (min-width: 767px) and (max-width: 931px) {
            margin-left: 335px;
        }
        @media  (max-width: 767px) {
            margin-left: inherit;
            float:inherit;
            margin-left: inherit;
            width: inherit;
        }
        @media  (max-width: 360px) {
            padding-right: 10px;
            padding-left: 10px;
        }

         /*@media (min-width: $screen-lg-min) { 
            width:61.33333%;
            padding-left:0px;

            //padding-right: 0px;
        } 
        @media (min-width: 1166px) and (max-width: 1199px) { 
            width:59.333%;
            padding-left:0px;
            float:left;
        }
        @media (min-width: 932px) and (max-width: 1165px) { 
            width:60.333%;
            padding-left:0px;
            float:left;
        }
        @media (min-width: 1111px) and (max-width: 1165px) { 
            width:58.333%;
            padding-left:0px;
            //padding-right: 0px;
            float:left;
        }
        @media (min-width: 1062px) and (max-width: 1110px) { 
            width:56.333%;
            padding-left:0px;
            padding-right: 0px;
            float:left;
        }
        @media (min-width: 974px) and (max-width: 1161px) { 
            width:51.333%;
            padding-left:0px;
            padding-right: 0px;
            float:left;
        }
         @media (min-width: 932px) and (max-width: 973px) { 
            width:48.333%;
            padding-left:0px;
            float:left;
        }
        @media (min-width: 891px) and (max-width: 931px) { 
            width:58.333%;
            padding-left:0px;
            float:left;
        }
         @media (min-width: 815px) and (max-width: 890px) { 
            width:54.333%;
            padding-left:0px;
            float:left;
        }
         @media (min-width: 768px) and (max-width: 814px) { 
            width:51.333%;
            padding-left:0px;
            float:left;
        }*/

        .col-lg-4 {
             @media (min-width: $screen-lg-min) { 
                padding-left: 0px;
                //padding-right: 0px;
                width:30.33333%;
             }
        }

    }
    
    #product-shop {
        overflow-x: hidden;
        &.col-lg-8 {
            padding-left:0px;
            //padding-right: 0px;
            //overflow: hidden;
            @media (max-width: 1199px) { //$screen-lg-min
                padding-right: 0px;
            }
             @media (max-width: 320px) { 
                padding-right: 0;
            }
        }
    }

  //  outline: 1px solid red;
  //  width:41.26712328767123%;
  //  padding-left:35px;
   // float:left;
  //  margin-right:10px;
}
#seller-box-bundle {
  //  outline: 1px solid red;
   // width:20.63356164383562%;
    //float:right;
}