.carousel {
	@media (max-width: $screen-xs-max) {
		 max-width: 100%;
    	 margin: 0 auto;
	}
	@media (max-width: $screen-sm-min) { 
		clear:both;
	 }
	.carousel-inner {
		.item {
			
			img {
				width:100%;
				height:auto;
				
			}
			.carousel-caption {
				bottom:0px;
				text-align: left;
				@media (min-width: $screen-sm-min) { padding-bottom: 5px; }
				/* Medium devices (desktops, 992px and up) */
				@media (min-width: $screen-md-min) { padding-bottom: 12px; }
				/* Large devices (large desktops, 1200px and up) */
				@media (min-width: $screen-lg-min) { padding-bottom: 12px; }
				a:link,
				a:visited {
					text-transform: uppercase;
					font-weight: bold;
					font-size: 13px;
					margin: 0 auto;
					margin-top: 20px;
					display: block;
					text-shadow: rgba(0,0,0,0.6) 0 1px 1px;
					margin-left: 35%;
					@media (min-width: 480px) { margin-top: 5px; margin-left: 25%; }
					@media (min-width: $screen-sm-min) { margin-top: 5px; }
					/* Medium devices (desktops, 992px and up) */
					@media (min-width: $screen-md-min) { margin-top: 20px; }
					/* Large devices (large desktops, 1200px and up) */
					@media (min-width: $screen-lg-min) { margin-top: 20px; }
				}
                a:hover {
                  text-decoration: underline;
                }
                .fa-caret-right {
                  color: #73f2ba;
                }
			}
		}
	}
}


#carousel-top-indicators, 
#carousel-top-mobile-indicators {
    background-color: #2a2a2a;
    bottom:0;
    right:0;
    margin-bottom:0;
    margin-left:0;
    width: 10%;
    height: 30px;
    line-height: 30px;
    left:90%;
}
#carousel-top-mobile-generic {
	.item {
		>img {
	    	margin: 0 auto;
		}
	}
}
#carousel-top-mobile-indicators {
    left: 50%;
    right: 50%;
}



.carousel-control {
	background:none;
	i {
		position:absolute;
		top:50%;
		font-size: 50px;
		margin-top:-16px;
	}
	&.left {
		background:none;
		i {
			left:-60px;

		}
	}
	&.right {
		background:none;
		i {
			right:-60px;
		}
	}
	
}