.node-type-customer-account-login {
	h2 
	#content {
		padding-top: 0px;
	}
	#header-main {
		padding-top:0px;
		padding-bottom:0px;
	}
}

#logIn {
	padding-top:30px;
	.main {
		padding:30px 30px;
			@media (min-width: $screen-lg-min) { 
				min-height:390px;
			}
			@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
				min-height:390px;
			}
			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				min-height:464px;
			}
			@media (max-width: $screen-xs-max) {
				margin-left: -15px;
				margin-right: -15px;
			}
		.section {
			padding:0px;
		}
		header {
			margin-left:-30px;
			margin-bottom:30px;
			h2 {
				font-weight: bold;
				font-family: $fontRegular;
			}
			p {
				margin-left: 35px;
			}
		}
	}
	.form-list {
		margin:0px 0px 10px 0px;
		padding:0px;
		list-style: none;
		label {
			font-weight: normal;
			line-height: 16px;
			white-space:nowrap;
			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				text-align: left;
			}
			@media (max-width: $screen-xs-max) {
				//text-align: right;
			}
		}
		input[type="text"],
		input[type="email"],
		input[type="password"] {
			height:29px;
			line-height: 29px;
			padding:0 0 0 15px;
		}
		input[type="text"]:focus,
		input[type="email"]:focus,
		input[type="password"]:focus {
			background:#fff;
		}
		#forgot-password {
			float:left;
			clear:left;
			position:relative;
			top:-10px;
			margin-bottom: -15px;
			font-size: 12px;
			left:5px;
			@media (max-width: $screen-sm-max) {
				position:absolute;
				top:4px;
				left:auto;
				right:17px;
			}
			@media (max-width: $screen-xs-max) {
				position:absolute;
				top:4px;
				left:auto;
				right:17px;
			}
		}
		.form-checkbox {
			margin-left: 5px!important;
			label {
				line-height: 17px;
				&.remember_this {
					.badge {
						border-radius: 0;
						background: #5e5e5e;
						font-weight: normal;
						margin-left:4px;
					}
				}
			}
		}	
		.col-sm-offset-3 {
			padding-left: 25px;
		}	
	}
	footer {
		padding-top:19px;
		border-top:1px solid #999999;
		margin:0 -15px;
		text-align: left;
		.button {
			margin: 0 9px 0 0;
			@media (max-width: $screen-xs-max) {
				margin-bottom: 5px;
			}
		}
		.btn-social.fb {
			
		}
	}
	.buttons-set {

	}
	.benefits {
		margin-left:10px;
		margin-bottom: 10px;
		//height: 102px;
		@media (min-width: $screen-lg) {
			height: 102px;
		}
		@media (min-width: 889px) and (max-width: 991px) {
			height: 147px!important;
		}
		@media (max-width: $screen-md-max) {
			height: 102px;
		}
		@media (max-width: $screen-sm-max) {
			height: 161px;
		}
		@media (max-width: $screen-xs-max) {
			height: auto;
		}
	}
}