body.noscroll{
    overflow: hidden; height: 100% ;
}
div.noscroll {
	background:rgba(0,0,0,.5);
	position:fixed;
	overflow:hidden;
	top:0px;
	left: 240px;
	z-index: 20;
}
.sb-open {
	div.noscroll {
	background:rgba(0,0,0,.5);
	position:fixed;
	overflow:hidden;
	top:0px;
	left: 288px;
	z-index: 20;
}
}
.bg-w {
	background:#fff;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	&#complementary_product,
	&#description_product,
	&#note_product {
		border-top: 1px solid #eeedf0;
	}
	&.wrapp-section {
		border-top:none;
	}
}
.border-gray-1x {
border: 1px solid #dbdbdb;
border-radius: 2px;
}

.visible-xxs {display: none !important;}
@media (max-width: 490px) {
    .visible-xxs {display: block !important;}
}
@media (max-width: 490px) {
    .hidden-xxs {display: none !important;}
}
.noborder-lft-rgt {border-right: none;border-left: none;}
.lh-45 {line-height: 48px;}
.clr {clear: both}
.talcen {text-align: center;}
.border1px-rd2-img-gray {border: 1px solid #dbdbdb;border-radius: 2px;}