

.tableWrapper {
        display: block;
        &.group_01 {
			width:397px;
			float:left;
        }
        &.group_02 {
			width:391px;
			float:left;
        }
        .table-header-group {
        	border-bottom: 1px solid #ebeaed;
        	@media (max-width: $screen-xs-max) {
        		border:none;
        		margin-bottom: -5px;
        		text-transform: uppercase;
        		font-size: 11px;
        	}
        	.table-row {
        		@media (max-width: $screen-xs-max) {
        			margin-bottom: 0;
        		}
        	}
        	 
        }
        .table-footer-group {
        	.table-row {
        		@media (max-width: $screen-xs-max) {
        			margin-bottom: 0;
        		}
        	}
        }
        .table-row {
            display: block;
            @media (max-width: $screen-xs-max) {
            	margin-bottom: 15px;
            }
             .table-cell {
                display: inline-block;
                float:left;
                vertical-align: top;
                &.th {
                	
                	padding-bottom: 7px;
                	@media (max-width: $screen-xs-max) {
                		margin-bottom: 0px;
                	}
                }
                
                &.cell-01 {
                	width:50.5703422053%; //397px;
                	@media (max-width: $screen-xs-max) {
                		width:100%;
                	}
                }
                &.cell-02 {
                	width:22.0%; // 175px;
                	@media (max-width: $screen-xs-max) {
						width:80px;
						text-align: left;
                	}
                }
                &.cell-03 {
                	width:6.9708491762%; //55px;
                	@media (max-width: $screen-xs-max) {
						width:96px;
						padding-left:13px;
                	}
                }
                &.cell-04 {
                	width:17.321926%; //113px;
                	@media (max-width: $screen-xs-max) {
						width:87px;
					}
 
                }
                &.cell-05 {
                	width:3.08365%; //48px;
                	@media (max-width: $screen-xs-max) {
						width:35px;
                	}
                }
            }
        }
    }

.node-type-shopping-cart {
	color:#000;
	#content-main {
		section {
			> header {
				h1 {
					margin:22px 0 25px 0px;
					padding:0px;
					font-size: 24px;
					font-weight: normal;
					font-family: $fontLight;
					text-transform: uppercase;
					@media (max-width: $screen-xs-max) {
						font-size: 18px;
						text-align: center;
						margin: 10px 0
					}
				}
			}
			> footer {
			 	padding-bottom: 15px;
				a#clearAllShopping {
					line-height: image-height(sprite-file($bulletMap, remove-table-item));
					font-size: 10px;
					text-transform: uppercase;
					i {
						position:relative;
						top:2px;
						margin-right: 1.267427122940431%;
					}
				}
				#btn_continue_shopping {
					float:right;
					height:28px;
					position:relative;
					top:-5px;
				}
			}
		}
		.tableWrapper {
			.table-row {
				.table-cell {
					text-align: center;
					@media (max-width: $screen-xs-max) {
						text-align: left;
					}
					&.td {
						padding:15px 0 15px 0;
						@media (max-width: $screen-xs-max) {
							padding:0 0 15px 0;
						}
					}
					&.cell-01.td {
						text-align: left;
						padding-left:3.422053231939163%;
						@media (max-width: $screen-xs-max) {
							padding-left:12px;
						}
					}
					&.cell-02 {
						@media (max-width: $screen-xs-max) {
						text-align: left;
						padding-left:12px;
                		}
					}
					&.cell-03 {
						@media (max-width: $screen-xs-max) {
						
                		}
					}
					&.cell-04.td {
	                	text-align: right;
						padding-right: 2.534854245880862%;
						@media (max-width: $screen-xs-max) {
							padding-top: 23px;
						}
	                }
					&.cell-05 {
						text-align: left;
						.delet_product {
							display: inline-block;
							margin-top: 5px;
							@media (max-width: $screen-xs-max) {
								@include inline-block;
							position: relative;
							top: 22px;
							margin-top: 0px;
							}
						}
					}
					figure {
						float:left;
						width:55px;
						border:1px solid #f1f1f1;
						margin-right: 3.168567807351077%;
						@media (max-width: $screen-xs-max) {
							margin-right:12px;
						}
					}
					.description_checked_product {
						float:left;
						position:relative;
						padding-top:3px;
						min-height: 69px;
						.product_name {
							font-size: 16px;
							color:#000;
							margin-bottom: 5px;
						}
						.product_size {
							font-size: 12px;

						}
						.product_availability {
							position:absolute;
							bottom:-8px;
							left:0px;
							.icons-checked,
							.icons-interjection {
								display:inline-block;
								width:250px;
								font-size: 12px;
								text-transform: none;
								padding-left: 15px;
							}
							
						}
					}
					.product_price {
						font-size: 16px;
						font-family: $fontRegular;
						position:relative;
						span {
							font-size: 11px;
							color:#565655;
							text-decoration:line-through;
							margin-right: 10px;
		                	@media (max-width: $screen-xs-max) {
								@include inline-block;
								margin-left:0px!important;
								width:80px!important;
							}
						}
					}
					.amount_product {
						width:22px;
						height:22px;
						text-align: center;
						font-size: 11px;
						border:1px solid $gray;
						line-height: 22px;
					}
					&.cell-03 {
						padding-left:12px;
						.styledSelected {
							top:12px;
							width:60px;

						}
						.select-group.medium {
							width:60px;
							margin-top: 13px;
							.button-select {
								min-width: 60px;
								font-size: 11px;
								text-align: center;
							}
						}
					}
					&.cell-04 {
						&.td {
							font-size: 16px;
                			font-family: $fontBlack;
						}
                		
                	}

				}
			}
		}
		.tableWrapper {
			.table-footer-group {
				display:block;
				.table-row {
					.table-cell {
						display:block;
						&.td {
							border-top: 1px solid #ebeaed;
						}
						&.cell-01 {
							width:31.93916349809886%;
							@media (max-width: $screen-xs-max) {
								width:100%;
							}
							p {
								font-size: 14px;
								margin-bottom: 0px;
								@media (max-width: $screen-xs-max) {
									font-size: 11px;
								}
								&+a {
									position:relative;
								}
							}
						}
						&.cell-02 {
							width:1px;
							float:left;
							display:inline-block;
						}
						&.cell-03 {
							width:47.52851711026616%;
							@media (max-width: $screen-xs-max) {
								width:50%;
							}
						}
						&.cell-04 {
							width:17.11026615969582%;
							@media (max-width: $screen-xs-max) {
								width:50%;
								padding-top: 24px!important;
							}
						}
						&.cell-05{
							width:3.29531051964512%;
						}
						
						&.label_value {
							text-align: right;
							font-size: 16px;
							@media (max-width: $screen-xs-max) {
								text-align: left;
								font-size: 11px;
							}
						}
						&.cell-04 {
							text-align: right;
							padding-right: 2.534854245880862%;
						
						}
						
					}
				}		
			}
		}
	}
}
.value_quality_price {
	margin-bottom: 15px;
	@media (max-width: $screen-xs-max) {
		padding-top: 11px;
	}

}
.value_quality_delivery {
	position:relative;

}
.bubble {
		background:#e5e5e5;
		@include border-radius(5px);
		width:187px;
		text-align: center;
		position:absolute;
		top: -31px;
		right: 161px;
		@media (max-width: $screen-xs-max) {
			position:relative;
			top:inherit;
			right:inherit;
			margin-left:11px;
			margin-top:-5px;
			margin-bottom: 10px;
		}
		> div {
			padding:15px;
		}
		&:before {
			content:' ';
			@include inline-block;
			background:$bulletMap;
			@include sprite($bulletMap, bubble_arrow);	
			@include sprite-dimensions($bulletMap, bubble_arrow);
			position:absolute;
			top:20px;
			right:-26px;
		}
		p {
			margin:0px;
			padding:0px;
			font-size: 11.46px;
			strong {
				font-size: 13.43px;
			}
		}
	}
.quality_price {
		margin-bottom: 15px;
		display:block;
		@media (max-width: $screen-xs-max) {
			margin-bottom: 11px;
			padding-right: 9px;
		}
	}
.quality_delivery {
	@media (max-width: $screen-xs-max) {
			margin-bottom: 11px;
			padding-right: 9px;
		}
}


#sidebar-secondary {
	aside {
		margin-bottom: 12px;
	}
	#cart-summary {
		padding:24px 20px;
		@media (max-width: $screen-xs-max) {
			padding:4px 4px;
		}
		.inner-cart-summary {
			border: 1px solid #BFBFBF;
			padding: 12px;
			> header {
				margin-bottom: 27px;
				h2 {
					font-size: 18px;
					font-family: $fontRegular;
					margin: 0;
					padding: 0;
					strong {
						font-weight: bold;
					}
				}
			}
		}
		#product_summary {
			margin: 0px 0px 8px;
			padding:0px;
			list-style: none;
			li {
				margin-bottom: 4px;
				text-transform: uppercase;
				overflow:hidden;
				span + span{

					text-transform: none;
					@media (max-width: 360px) {
						float:right;
						margin-right: 17px;
					}
				}
				span:first-child {
					@include inline-block;
					width:174px;
					font-size: 14px;
					line-height: 0px;
				}
				span:last-child {
					@include inline-block;
					font-size: 16px;
					font-family: $fontBlack;
					text-align: right;
					width:90px;
				}
			}
		}
		#discount_voucher {
			margin-bottom: 36px;
			.form-group {
				margin-bottom:11px; 
				.info_discount_voucher {
					@include inline-block;
					margin-bottom: 8px;
					clear: both;
					float: left;
				}
				
				input[type="text"] {
					@include inline-block;
					background:$formMap repeat-x;
				    @include sprite($formMap, bg-form-text-coupon);	
					height: image-height(sprite-file($formMap, bg-form-text-coupon))+2;
					line-height: image-height(sprite-file($formMap, bg-form-text-coupon))+2;
					max-width: image-width(sprite-file($formMap, bg-form-text-coupon));
					border:1px solid #d6d6d6;
					padding:0px 7px;
					font-size: 12px;
					width:56.38629283489097%;
					margin-right:10px;
					float:left;
					clear:left;
				}
				input[type="submit"] {
					@include inline-block;
					background:#000;
					line-height: 22px;
					height: 22px;
					width:72px;
					border:none;
					color:#fff;
					font-size: 12px;
					text-align: center;
					text-transform: uppercase;
					float:left;
				}
			}
			.coupon-list {
				margin-bottom:0px;
				dt {
					@include inline-block;
					margin-bottom: 6px;
					text-transform: uppercase;
					font-size: 11px;
					@media (max-width: 360px) {
						display:block;
					}
				}
				dd {
					background:$bgMap repeat-x;
				    @include inline-block;
				    @include sprite($bgMap, bg-coupon);	
					height: image-height(sprite-file($bgMap, bg-coupon));
					line-height: image-height(sprite-file($bgMap, bg-coupon));
					padding: 0 5px;
					box-shadow:0 0 9px rgba(1,1,1, 0.21);
					padding-right: 20px;
					position:relative;
					border-left: 1px solid #ededed;
					border-right: 1px solid #ededed;
					width:195px;
					i {
						position:absolute;
						right: 4px;
						top:5px;
						cursor:pointer;

					}
				}
			}
		}
		#sum_price {
			text-transform: uppercase;
			color:#000;
			margin-bottom: 13px;
			.val_value_sum_price {
				@include inline-block;
				font-size: 18px;
				width: 167px;
			}
			.value_sum_price {
				@include inline-block;
				font-size: 16px;
				font-family: $fontBlack;
				text-transform: none;
			}
		}
		.form-action {
			
		}
		.btn-buy {
			@include inline-block;
			background:$formMap repeat-x;
		    @include sprite($formMap, btn-buy);	
			height: image-height(sprite-file($formMap, btn-buy));
			line-height: image-height(sprite-file($formMap, btn-buy));
			width: image-width(sprite-file($formMap, btn-buy));
			text-align: center;
			border:none;
			margin: 0 auto 0 21px;
			font-size: 14.93px;
			color:#fff;
			font-family: $fontBlack;
			text-transform: uppercase;
			&:focus {
				outline:none;
			}
		}
	}
	#payment-methods {
		padding:24px 20px;
		@media (max-width: $screen-xs-max) {
			padding:4px 4px;
		}
		.inner-payment-methods {
			border: 1px solid #BFBFBF;
			padding: 12px;

			> header {
				margin-bottom: 27px;
				h2 {
					font-size: 18px;
					font-family: $fontRegular;
					margin: 0;
					padding: 0;
					strong {
						font-family: $fontBlack;
					}
				}
			}
		}
		.payment-methods-list {
			a {
				@include inline-block;
				margin-bottom: 12px;
				&:nth-child(4n+0) {
					@media (max-width: $screen-xs-max) {

					}
				}
			}
		}
	}
}

#aside-shopping-cart {
	padding: 15px 5px;
	padding-top: 15px;
	margin:0 5px 0;
				a#clearAllShopping {
					line-height: image-height(sprite-file($bulletMap, remove-table-item));
					font-size: 10px;
					text-transform: uppercase;
					i {
						position:relative;
						top:2px;
						margin-right: 10px;
					}
				}
				#btn_continue_shopping {
					float:right;
					height:28px;
					position:relative;
					top:-5px;
				}
}

