<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Pos>
            <version>0.0.1</version>
        </Zolago_Pos>
    </modules>
    <global>
        <models>
            <zolagopos>
                <class>Zolago_Pos_Model</class>
                <resourceModel>zolagopos_resource</resourceModel>
            </zolagopos>
            <zolagopos_resource>
                <class>Zolago_Pos_Model_Resource</class>
                <entities>
                    <pos>
                        <table>zolago_pos</table>
                    </pos>
                    <pos_vendor>
                        <table>zolago_pos_vendor</table>
                    </pos_vendor>
                </entities>
            </zolagopos_resource>
        </models>
        <!-- 
        <helpers>
            <zolagopos>
                <class>Zolago_Pos_Helper</class>
            </zolagopos>
        </helpers>
        -->
        <resources>
            <zolagopos_setup>
                <setup>
                    <module>Zolago_Pos</module>
                </setup>
            </zolagopos_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <zolagopos>
                <use>standard</use>
                <args>
                    <module>Zolago_Pos</module>
                    <frontName>zolagopos</frontName>
                </args>
            </zolagopos>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Zolago_Pos.csv>
                    <files>
                        <default>Zolago_Pos.csv</default>
                    </files>
                </Zolago_Pos.csv>
            </modules>
        </translate>
        <layout>
            <updates>
                <zolagopos>
                    <file>zolagopos.xml</file>
                </zolagopos>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <zolagopos before="Mage_Adminhtml">Zolago_Pos_Adminhtml</zolagopos>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
