<?xml version="1.0"?>
<config>
	<modules>
		<Zolago_Pos>
			<version>0.1.0</version>
		</Zolago_Pos>
	</modules>
	<global>
		<models>
			<zolagopos>
				<class>Zolago_Pos_Model</class>
				<resourceModel>zolagopos_resource</resourceModel>
			</zolagopos>
			<zolagopos_resource>
				<class>Zolago_Pos_Model_Resource</class>
				<entities>
					<pos>
						<table>zolago_pos</table>
					</pos>
					<pos_vendor>
						<table>zolago_pos_vendor</table>
					</pos_vendor>
				</entities>
			</zolagopos_resource>
		</models>
		<blocks>
			<zolagopos>
				<class>Zolago_Pos_Block</class>
			</zolagopos>
		</blocks>
		<helpers>
			<zolagopos>
				<class>Zolago_Pos_Helper</class>
			</zolagopos>
		</helpers>
		<resources>
			<zolagopos_setup>
				<setup>
					<module>Zolago_Pos</module>
				</setup>
			</zolagopos_setup>
		</resources>
		<events>
            <udpo_order_save_before>
                <observers>
                    <zolagopos>
                        <type>singleton</type>
                        <class>zolagopos/observer</class>
                        <method>udpoOrderSaveBefore</method>
                    </zolagopos>
                </observers>
            </udpo_order_save_before>
		</events>
		<udropship>
		    <vendor>
		        <fields>
		            <problem_pos_id>	
		                <label>Problem POS</label>
                        <fieldset>vendor_info</fieldset>
                        <source_model>zolagopos/source</source_model>
                        <type>select</type>
		            </problem_pos_id>
		        </fields>
		    </vendor>
		</udropship>
	</global>
	<frontend>
		<routers>
			<zolagopos>
				<use>standard</use>
				<args>
					<module>Zolago_Pos</module>
					<frontName>zolagopos</frontName>
				</args>
			</zolagopos>
			
			<udropship>
				<args>
					<modules>
						<Zolago_Pos before="ZolagoOs_OmniChannel">Zolago_Pos_Dropship</Zolago_Pos>
					</modules>
				</args>
			</udropship>
		</routers>
		<layout>
			<updates>
				<zolagopos>
					<file>zolagopos.xml</file>
				</zolagopos>
			</updates>
		</layout>
		<translate>
			<modules>
				<Zolago_Pos>
					<files>
						<default>Zolago_Pos.csv</default>
					</files>
				</Zolago_Pos>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Zolago_Pos>
					<files>
						<default>Zolago_Pos.csv</default>
					</files>
				</Zolago_Pos>
			</modules>
		</translate>
		<layout>
			<updates>
				<zolagopos>
					<file>zolagopos.xml</file>
				</zolagopos>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<zolagopos before="Mage_Adminhtml">Zolago_Pos_Adminhtml</zolagopos>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
</config>
