<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_DropshipVendorAskQuestion>
            <version>0.0.7</version>
        </Zolago_DropshipVendorAskQuestion>
    </modules>
    <global>
        <blocks>
            <zolagoudqa>
                <class>Zolago_DropshipVendorAskQuestion_Block</class>
            </zolagoudqa>
            <udqa>
                <rewrite>
                    <product_question>Zolago_DropshipVendorAskQuestion_Block_Product_Question</product_question>
                    <adminhtml_question_grid>Zolago_DropshipVendorAskQuestion_Block_Adminhtml_Question_Grid</adminhtml_question_grid>
                </rewrite>
            </udqa>
        </blocks>
        <models>
            <udqa>
                <rewrite>
                    <question>Zolago_DropshipVendorAskQuestion_Model_Question</question>
                </rewrite>
            </udqa>
            <zolagoudqa>
                <class>Zolago_DropshipVendorAskQuestion_Model</class>
                <resourceModel>zolagoudqa_resource</resourceModel>
            </zolagoudqa>
            <zolagoudqa_resource>
                <class>Zolago_DropshipVendorAskQuestion_Model_Resource</class>
            </zolagoudqa_resource>
        </models>
        <resources>
            <zolagoudqa_setup>
                <setup>
                    <module>Zolago_DropshipVendorAskQuestion</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zolagoudqa_setup>
            <zolagoudqa_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </zolagoudqa_write>
            <zolagoudqa_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </zolagoudqa_read>
        </resources>
        <helpers>
            <zolagoudqa>
                <class>Zolago_DropshipVendorAskQuestion_Helper</class>
            </zolagoudqa>
            <udqa>
                <rewrite>
                    <data>Zolago_DropshipVendorAskQuestion_Helper_Data</data>
                </rewrite>
            </udqa>
        </helpers>
        <template>
            <email>
                <udqa_general_customer_new_question_confirmation translate="label" module="zolagoudqa">
                    <label>Customer new question confirmation</label>
                    <file>customer_new_question_confirmation.html</file>
                    <type>html</type>
                </udqa_general_customer_new_question_confirmation>
            </email>
        </template>
    </global>
    <frontend>
        <routers>
            <udqa>
                <args>
                    <modules>
                        <Zolago_DropshipVendorAskQuestion before="ZolagoOs_OmniChannelVendorAskQuestion">Zolago_DropshipVendorAskQuestion</Zolago_DropshipVendorAskQuestion>
                    </modules>
                </args>
            </udqa>
        </routers>
        <layout>
            <updates>
                <zolago_udqa>
                    <file>zolagoudqa.xml</file>
                </zolago_udqa>
            </updates>
        </layout>
        <translate>
            <modules>
                <Zolago_DropshipVendorAskQuestion>
                    <files>
                        <default>Zolago_DropshipVendorAskQuestion.csv</default>
                    </files>
                </Zolago_DropshipVendorAskQuestion>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Zolago_DropshipVendorAskQuestion>
                    <files>
                        <default>Zolago_DropshipVendorAskQuestion.csv</default>
                    </files>
                </Zolago_DropshipVendorAskQuestion>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <udqa>
            <general>
                <send_vendor_agent_notifications>1</send_vendor_agent_notifications>
                <customer_new_question_confirmation>udqa_general_customer_new_question_confirmation</customer_new_question_confirmation>
            </general>
        </udqa>
    </default>
    <admin>
        <routers>
            <zosqaadmin>
                <args>
                    <modules>
                        <Zolago_DropshipVendorAskQuestion before="ZolagoOs_OmniChannelVendorAskQuestion">Zolago_DropshipVendorAskQuestion_Adminhtml</Zolago_DropshipVendorAskQuestion>
                    </modules>
                </args>
            </zosqaadmin>
        </routers>
    </admin>
</config>
