<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_DropshipVendorAskQuestion>
            <version>0.0.1</version>
        </Zolago_DropshipVendorAskQuestion>
    </modules>
	<global>
		<blocks>
			<zolagoudqa>
				<class>Zolago_DropshipVendorAskQuestion_Block</class>
			</zolagoudqa>
		</blocks>
	</global>
    <frontend>
        <layout>
            <updates>
                <zolago_udqa>
                    <file>zolagoudqa.xml</file>
                </zolago_udqa>
            </updates>
        </layout>
    </frontend>
</config>
