#checkout {
	.panel {
		&.panel-custom {
			.panel-heading {
				padding-top: 15px;
				padding-bottom: 15px;
			}
		}
	}
}

.node-type-summary-checkout {
	&.node-type-summary-checkout {
		#change_payment {
			legend {
				margin-bottom: 5px;
			}
		}
	}
	#checkout {
		.summary-order {
			 form {
			 	&#change_payment {
			 		margin-bottom: 7px;
			 	}
			 	.panel {
			 		&+ .panel {
			 			margin-bottom: 10px;
			 		}
			 	}
			 }
		}
	}
}

.node-type-summary-delivery-payment {
	#checkout {
		.sidebar-second {
			header {
				
				@media(max-width: 767px) {
					margin-left: -15px;
				}
				@media(max-width: 480px) {
					margin-left: -30px;
				}
				&.open {
					@media(max-width: 767px) {
					margin-bottom: -5px;
					
					}
				}
			}
		}
	}
}