#active-filters, #view-current-filter {
	
	h1 {
		text-transform: uppercase;
		@media (max-width: $screen-sm-min) { 
			font-size: 18px;
		 }
	}
	dl {
	    dt {
	        text-transform:uppercase;
	        line-height: 20px;
	        font-weight:normal;
	        @media (max-width: $screen-sm-min) { 
			font-weight:normal;
		 }
	    }
	    dd {	        
	        .label {
	            color:#000;
	            font-size: 12px;
	            text-align: left;
	            line-height:20px;
	            border:1px solid #ededed;
	            font-weight: normal;
	        }
	            .fa {
	                color:#949494;
	                font-size: 11px;
	            }
	             &:hover {
	                .fa {
	                    cursor:pointer;
	                 }
	             }
	        
	        &.action {
	        	@include border-radius(3px);
	        }
	    }   
	}
	.actionViewFilter {
        margin-bottom: 10px;

		white-space: nowrap;
		-webkit-border-top-right-radius: 5px!important;
		-webkit-border-bottom-right-radius: 5px!important;
		-moz-border-radius-topright: 5px!important;
		-moz-border-radius-bottomright: 5px!important;
		border-top-right-radius: 5px!important;
		border-bottom-right-radius: 5px!important;

		-webkit-border-top-left-radius: 0px!important;
		-webkit-border-bottom-left-radius: 0px!important;
		-moz-border-radius-topleft: 0px!important;
		-moz-border-radius-bottomleft: 0px!important;
		border-top-left-radius: 0px!important;
		border-bottom-left-radius: 0px!important;		
	}
	.backToCategory {  
		text-decoration: underline; 
		font-size: 12px; 		
	        }
}

.solrsearch-index-index #header-main {
  padding-top: 0px;
}

#header-main {
    .wrapp-section {
        border: none;
    }
  #category-header-left {
    width: 195px;
    float: left;
    margin-right: 20px;

    @media (max-width: $screen-xs-max){
      width: 100%;
      border-bottom: solid 2px #F2F1F0;
    }
  }

  #category-header-right {
    position: relative;


    @media (min-width: $screen-sm-min) {
      margin-left: 215px;
      .right-wrapper:before {
        content: '';
        position: absolute;
        height: 70%;
        top: 15%;
        border-right: solid 2px #F2F1F0;
        left: -20px;
      }
    }
  }

  #category-header-vendor-box {
    min-height: 77px;
    margin-top: 20px;
    @media (max-width: $screen-xs-max){
      min-height: inherit;
      margin-top: 12px;
      margin-bottom: 12px;
    }
    img {
      width: 185px;
    }
    .vendor-type{
      display: inline-block;
      vertical-align: bottom;
      text-transform: uppercase;
    }
  }

  #active-filters {
    margin-left: -15px;
  }
}

.catalog-category-view {
    .breadcrumb {
      background-attachment: scroll;
      background-clip: border-box;
      background-color: rgba(0, 0, 0, 0);
      background-image: none;
      background-origin: padding-box;
      background-size: auto;


      color: rgb(30, 30, 30);

      font-family: OpenSansRegular;
      font-size: 11px;


      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 20px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
    }
}