.checkout {
	#step {
		text-align: right;
		ol {
			list-style: none;
			list-style-type: none;
			background:#6c6c6c;
			&.step_02 ,
			&.step_03,
			&.step_04{
				&:before {
					background:#6FFFCF;
				}
			}
			li {
				color:#7c7c7c;
				
				text-transform: uppercase;
				font-size: 13px;
				white-space: nowrap;
				background: #6c6c6c;
				@include border-radius(50px);
				>span {
					@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
						margin-top: 3px;
						font-size: 10px;
					}
					@media (max-width: $screen-xs-max) { 
						font-size: 10px;
					 }
				}
				&.current-checkout {
					> span {
						@media (max-width: $screen-xs-max) { 
						font-size: 10px;
					 	}
					}
				}
				&#step_04 {
					span {
						span {
							@media (max-width:  $screen-xs-max) {
								text-align: center;
								
							}
						}
					}
				}
				&.current-checkout {
					color:#fff;
					background: #6FFFCF;
					
				}
			}
		}
	}
}