#header {
    [role="search"] {
        border-bottom:none;
        .form-group {
            input[type="text"] {
                color: #000;
                font-size: 12px;
                @include border-radius(0px);
                box-shadow: none;
            	background-color: #FFFFFF;
            	border:none;
	            padding: 0 10px;
            }
        }
        .select-box {
            &:before {
                border-right:1px solid #a4a4a4;
                border-left:1px solid #e3e3e3;
            }
        }

        input[type="image"] {
            float:left;
        }


    }
}