.helpful-vote {
	.main {
		border: 1px solid #EBEBEB;
		.bg-w {
			background: none repeat scroll 0% 0% #FFF;
		}
	}
	header {
		h2 {
			font-weight: 300;
			font-style: normal;
			font-size: 35px;
			color: #1E1E1E;
			@media (max-width: $screen-xs-max) {font-size: 25px;}
			@media (max-width: 360px) {font-size: 20px;}
			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {font-size: 30px;}
			@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {font-size: 35px;}
		}
	}
}

.block_info_order {
	.block {
		@include bc-primary;
		h4 {
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;
		}
		.fa-3 {
			font-size: 4em;
		}
		.fa-2 {
			font-size: 3em;
		}
		.fa-1 {
			font-size: 2em;
		}
	}
	.summary-order {
		.popover-dismiss {
			&.badge {
				border:1px solid $bc-secondary;
				background:#fff!important;
				border-radius: 50%;
				box-shadow: none;
				text-shadow:none;
			}
		}
		.popover {
			box-shadow: none;
		}
	}

}


.summary-order {
	
	dl {
		
	}
	.popover-dismiss {
			&.badge {
				border:1px solid $bc-secondary;
				background:#fff!important;
				border-radius: 50%;
				box-shadow: none;
				text-shadow:none;
				color:#333;
			}
		}
		.popover {
			box-shadow: none;
		}
	}


#bank_transfer_details {
	border:none;
	tr {
		border:none;
		th {
			font-weight: 700;
			border:none;
			text-align: left;
		}
		td{
			border:none;
			vertical-align: bottom;
		}
	}
}



#checkout {
	.summary-order {
		form {
			.panel {
				background:none;
			}
		}
	}
}

#breadcrumbs_checkout_helpful_votes {
    h1 {
        font-size: 36px;
        @media (max-width: 480px) {
        	font-size: 18px;
        }
    }
}