/** Stage container **/
.connected-carousels-modd {
	.carousel {
	    ul {
	        list-style: none;
	    }
	}
	.carousel-navigation-modd {
	    background: #fff;
	    
		li {
		    cursor: pointer;
			border:1px solid #f0f0f0;

		    &.active {
		    	.shadow {
		    		-moz-box-shadow:    inset 0 0 0 3px #e5621b;
		    		-webkit-box-shadow: inset 0 0 0 3px #e5621b;
		    		box-shadow:         inset 0 0 0 3px #e5621b;
		    	}
		    }
		}
	}
}


/** Stage carousel controls **/

.connected-carousels-modd {
	.prev-stage-modd,
			.next-stage-modd {
			    background:$allMap;
			}
			.prev-stage-modd {
		    	@include sprite($allMap, arrow-complementary-left);
			    &:hover {
			    	@include sprite($allMap, arrow-complementary-left-h);
			    }
			}
			.next-stage-modd {
			    @include sprite($allMap, arrow-complementary-right);
			    &:hover {
			    	@include sprite($allMap, arrow-complementary-right-h);
			    }
			}
}


/** Navigation carousel controls **/

.connected-carousels-modd {
	.prev-navigation-modd,
	.next-navigation-modd {
		background:#fff;
		background:$allMap;
	}
	.prev-navigation-modd {
	    @include sprite($allMap, arrow_top_j);
	}
	.next-navigation-modd {
	    @include sprite($allMap,arrow_bottom_j);
	}
}