#new-rma{
	.rma-bordered{
		border: 1px #bfbfbf solid;
		margin-bottom: 30px;
	}

	.desc-holder{
		width: 49%;
		float: left;
		@media (max-width: $screen-xs-max) {
           width: auto;
           float: none;
		   margin:0;
        }
	}
	.reason-holder{
		width: 49%;
		float:right;
		margin-left: 2%;
		@media (max-width: $screen-xs-max) {
           width: auto;
           float: none;
		   margin: 20px 0 0 0;
        }
		@media (max-width: $screen-xs-min) {
		   margin: 5px 0 0 0;
		}
	}
	
	
	
	.condition-wrapper {
		
		margin-top: -6px;
		.sbHolder{
			display: block;
			width: auto;
			margin-left: 110px;
			@media (max-width: $screen-xs-min) {
				margin-left:0;
			}
		}
		&.has-error, &.has-success{
			.sbHolder{
				border-color: #e2e2e2;
			}
		}
		label{
			width: 110px;
			float: left;
			margin-top: 6px;
			@media (max-width: $screen-xs-min) {
				float:none;
				margin-bottom:0;
			 }
		}
		.error{
			display: none;
		}
		&.active{
			.error{
				display: block;
			}
			&.has-success .sbHolder{
				border-color: #3c763d;
			}
			&.has-error .sbHolder{
				border-color: #e84c3d;
			}
		}
	}
	.step-1{
		h5{
			font-family: "latoblack";
			border-bottom: #ebebeb 1px solid;
			padding: 12px 12px 11px 10px;
		}
		.table-wrapper{
			margin: 20px 25px;
		}
		table td{
			padding:7px 5px 8px 5px;
			label{
				font-weight: normal;
			}
		}
		textarea{
			box-sizing: border-box;
			height: 100px;
			-moz-box-sizing: border-box;
		}
		.error{
			padding-left:0 !important;
		}
		.form-ico-times{
			display: none;
		}
		.comment_text{
			margin-bottom: 5px;
		}
		.form-group{
			margin-bottom:0;
		}
	}
}
.rma-section{
	margin-bottom: 15px;
	border: 1px #bfbfbf solid;
	padding: 15px;
	p{
		margin:0;
	}
}
.rma-caption{
	padding:0;
	border:0;
}
.rma-monit{
	min-height: 70px;
	padding:0;
	border: 1px #c6a662 solid;
	background: url('../images/rma_monit.png') 16px 13px no-repeat;
	@include box-shadow(rgba(0,0,0,0.2) 0 3px 5px);
	p{margin: 16px 16px 16px 82px;padding:0;}
	.download-doc{
		display: inline-block;
		margin-top: 15px;
	}
}
.rma-status{
	span.uppercase{
		display: inline-block;
		margin-right: 20px;
	}
}
.rma-content{
	p{
		margin-bottom: 15px;
	}
	
	table td{
		vertical-align: top;
	}
	.img{
		width: 60px;
	}
	.desc{
		padding-left: 10px;
	} 
	.comment-text{
		margin-top: 15px;
	}
}
.rma-comments{
	p{
		margin-bottom: 15px;
	}
	table td{
		padding-top: 2px; 
		padding-bottom: 2px;
	}
	td.author{
		width: 130px;
		vertical-align: top;
	}
	td.desc{
		padding-left: 10px;
	}
	@media (max-width: $screen-xs-min) {
		table,tr,td{
			display: block;
			padding-left:0 !important;
		}
	}
}
.rma-cancel{
	text-align: right;
	a{
		color: #bbb;
		text-decoration: underline;
	}
}