
	.sbHolder{
		background-color: #fff;
		border: solid 1px #afafaf;
		font-family: Arial, sans-serif;
		font-size: 11px;
		font-weight: normal;
		color:#1e1e1e;
		&:hover {
			border-color:#4f4f4f;
		}
	}

	.sbSelector{
		line-height: 29px;
		outline: none;
		text-indent: 10px;
		&:link,
		&:visited,
		&:hover {
			color: #1e1e1e;
			outline: none;
			text-decoration: none;
		}
	}
	.sbToggle{

		background: $selectMap;
		@include sprite($selectMap, select_styled);	
		line-height:  image-height(sprite-file($selectMap, select_styled));	
		&:link {
			@include sprite($selectMap, select_styled);
		}
		&:visited {
			@include sprite($selectMap, select_styled);
		}
		&:hover {
			@include sprite($selectMap, select_styled_hover);
		}
	}
	.sbHolderDisabled{
		background-color: #f5f5f5;
		border: solid 1px #e2e2e2;
		.sbToggle{
			@include sprite($selectMap, select_styled_disabled);
		}
	}
.sbOptionsWrapper {
	background-color: #fff;
	border: solid 1px #afafaf;
	list-style: none;
	
	.sbOptions{
		
		a {
			outline: none;
			&:link,
			&:visited {
				color:#1e1e1e;
				text-decoration: none;
			}
			&:hover,
			&:focus,
			&.sbFocus{
				color:#1e1e1e;
				background:#f2f1f0;
			}
		}
		li {
			&.last {
				a {
					border-bottom: none;
				}
			}
		}
		.sbDisabled{
			border-bottom: dotted 1px #515151;
			color: #999;
		}
		.sbGroup{
			border-bottom: dotted 1px #515151;
			color: #EBB52D;
			font-weight: bold;
		}
	}
}