#sort-criteria {
	ul {
		list-style: none;
		li {
			line-height: 27px;
			color:#000;
			span, label {
				font-size: 12px!important;
				font-family: $fontRegular;
				font-weight: normal;
				color:#000;
			}
			.sort-by-container {
				width: 160px;
				display: inline-block;
				vertical-align: middle;
				margin-left: 5px;
			}
		}
	}

	#navigation_products {
		.navigation-category {
			display: inline-block;
			padding: 1px 21px;
			background-color: white;
			border: 1px solid $gray;
			text-align: center;
			font-size: 19px;
			color: $gray;
		}
	}
}

