#sort-criteria {
	ul {
		list-style: none;
		li {
			line-height: 27px;
			color:#000;
			label,
			.label,
			.value {
				font-size: 12px!important;
				font-family: $fontRegular;
				font-weight: normal;
				color:#000;
			}
			.sort-by-container {
				width: 160px;
				display: inline-block;
				vertical-align: middle;
				margin-left: 5px;
			}
		}
	}
}


