<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Zolago_Holidays>
            <version>0.0.4</version>
        </Zolago_Holidays>
    </modules>
    <global>
    	<models>
			<zolagoholidays>
				<class>Zolago_Holidays_Model</class>
				<resourceModel>zolagoholidays_resource</resourceModel>
			</zolagoholidays>
			<zolagoholidays_resource>
				<class>Zolago_Holidays_Model_Resource</class>
				<entities>
					<holiday>
						<table>zolago_holidays</table>
					</holiday>
					<!-- Needed for backwards compatibility -->
					<processingtime>
						<table>zolago_processingtime</table>
					</processingtime>
				</entities>
			</zolagoholidays_resource>
		</models>
		<blocks>
			<zolagoholidays>
				<class>Zolago_Holidays_Block</class>
			</zolagoholidays>
		</blocks>
		<helpers>
			<zolagoholidays>
				<class>Zolago_Holidays_Helper</class>
			</zolagoholidays>
		</helpers>
		<resources>
			<zolagoholidays_setup>
				<setup>
					<module>Zolago_Holidays</module>
					<class>Zolago_Holidays_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</zolagoholidays_setup>
			<zolagoholidays_write>
				<connection>
					<use>core_write</use>
				</connection>
			</zolagoholidays_write>
			<zolagoholidays_read>
				<connection>
					<use>core_read</use>
				</connection>
			</zolagoholidays_read>
		</resources>
		<udropship>
            <vendor>
                <fields>
                	<max_shipping_days>
                        <label>Max shipping days</label>
						<note>Number of days. Leave empty or enter negative number to use default value.</note>
                        <type>text</type>
                        <fieldset>vendor_info_moved</fieldset>
                        <position>0</position>
					</max_shipping_days>
					<max_shipping_time>
                        <label>Max shipping time</label>
						<note>Time after which one day will be added to Max shipping days. Enter 00:00:00 to use default value.</note>
                        <type>time</type>
                        <fieldset>vendor_info_moved</fieldset>
                        <position>1</position>
					</max_shipping_time>
				</fields>
			</vendor>
		</udropship>
    </global>
    <adminhtml>
    	<translate>
            <modules>
                <Zolago_Holidays>
                    <files>
                        <default>Zolago_Holidays.csv</default>
                    </files>
                </Zolago_Holidays>
            </modules>
        </translate>
    	<layout>
            <updates>
                <zolagoholidays>
                    <file>zolagoholidays.xml</file>
                </zolagoholidays>
            </updates>
        </layout>
    </adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<zolagoholidays before="Mage_Adminhtml">Zolago_Holidays_Adminhtml</zolagoholidays>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
</config>