<?xml version="1.0"?>
<config>
	<modules>
		<GH_Api>
			<version>0.0.5</version>
		</GH_Api>
	</modules>
	<global>
		<helpers>
			<ghapi>
				<class>GH_Api_Helper</class>
			</ghapi>
		</helpers>
		<models>
			<ghapi>
				<class>GH_Api_Model</class>
				<resourceModel>ghapi_resource</resourceModel>
			</ghapi>
			<ghapi_resource>
				<class>GH_Api_Model_Resource</class>
				<entities>
					<user>
						<table>gh_api_user</table>
					</user>
					<session>
						<table>gh_api_session</table>
					</session>
					<message>
						<table>gh_api_message</table>
					</message>
				</entities>
			</ghapi_resource>
		</models>
		<blocks>
		    <ghapi>
		        <class>GH_Api_Block</class>
		    </ghapi>
		</blocks>
		<resources>
			<ghapi_setup>
				<setup>
					<module>GH_Api</module>
				</setup>
			</ghapi_setup>
		</resources>
	</global>
  <frontend>
    <routers>
      <ghapi>
        <use>standard</use>
        <args>
          <module>GH_Api</module>
          <frontName>ghapi</frontName>
        </args>
      </ghapi>
        <udropship>
            <args>
                <modules>
                    <GH_Api before="ZolagoOs_OmniChannel">GH_Api_Dropship</GH_Api>
                </modules>
            </args>
        </udropship>
    </routers>
    <layout>
        <updates>
            <ghapi>
                <file>ghapi.xml</file> 
            </ghapi>
        </updates>
    </layout>
      <translate>
          <modules>
              <GH_Api>
                  <files>
                      <default>GH_Api.csv</default>
                  </files>
              </GH_Api>
          </modules>
      </translate>
      <secure_url>
          <ghapi>/ghapi</ghapi>
      </secure_url>
  </frontend>
    <adminhtml>
        <translate>
            <modules>
                <GH_Api>
                    <files>
                        <default>GH_Api.csv</default>
                    </files>
                </GH_Api>
            </modules>
        </translate>
        <events>
            <udropship_adminhtml_vendor_tabs_after>
                <observers>
                    <ghapi>
                        <class>ghapi/observer</class>
                        <method>udropship_adminhtml_vendor_tabs_after</method>
                    </ghapi>
                </observers>
            </udropship_adminhtml_vendor_tabs_after>
        </events>
    </adminhtml>
    <default>
        <ghapi_options>
            <ghapi_messages>
                <ghapi_message_batch_size>100</ghapi_message_batch_size>
            </ghapi_messages>
            <ghapi_general>
                <ghapi_token_session_time>60</ghapi_token_session_time>
            </ghapi_general>
        </ghapi_options>
    </default>
    <admin>
        <routers>
            <ghapi>
                <use>admin</use>
                <args>
                    <frontName>ghapi</frontName>
                    <module>GH_Api</module>
                </args>
            </ghapi>
        </routers>
    </admin>
</config>
