<?xml version="1.0"?>
<config>
    <tabs>
        <ghapi translate="label" module="ghapi">
            <label>Vendor Integration</label>
            <sort_order>300</sort_order>
        </ghapi>
    </tabs>
    <sections>
        <ghapi_options translate="label" module="ghapi">
            <label>GH API Options</label>
            <tab>ghapi</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>

            <groups>
                <ghapi_general>
                    <label>GH API general settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>

                    <fields>
                        <ghapi_token_session_time translate="label">
                            <label>Token session time</label>
                            <comment>Time in minutes</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_class>validate-number</frontend_class>
                        </ghapi_token_session_time>
                        <ghapi_order_email>
                            <label>Email for API orders</label>
                            <comment>%s is replaced with order ID</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ghapi_order_email>
                    </fields>
                </ghapi_general>
                <ghapi_messages translate="label" module="ghapi">
                    <label>GH API Messages</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>

                    <fields>
                        <ghapi_message_batch_size translate="label">
                            <label>Max message batch size </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_class>validate-number</frontend_class>
                        </ghapi_message_batch_size>
                        <ghapi_add_rma translate="label">
                            <label>Show RMA as new orders </label>
		            <frontend_type>select</frontend_type>
		            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ghapi_add_rma>
                    </fields>
                </ghapi_messages>
            </groups>
        </ghapi_options>
    </sections>
</config>
