<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <sections>
        <mana_filters translate="label" module="manapro_filteradmin">
            <show_in_default>0</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
        </mana_filters>
        <mana translate="label" module="mana_core">
            <show_in_default>0</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
        </mana>
    </sections>
</config>