<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Adminhtml>
            <version>0.0.6</version>
        </Zolago_Adminhtml>
    </modules>
    <global>
        <blocks>
			<zolagoadminhtml>
				<class>Zolago_Adminhtml_Block</class>
			</zolagoadminhtml>
            <adminhtml>
                <rewrite>
					<catalog_category_edit_form>Zolago_Adminhtml_Block_Catalog_Category_Edit_Form</catalog_category_edit_form>
					<catalog_category_tree>Zolago_Adminhtml_Block_Catalog_Category_Tree</catalog_category_tree>
                    <review_edit_form>Zolago_Adminhtml_Block_Review_Edit_Form</review_edit_form>
					<catalog_product_grid>Zolago_Adminhtml_Block_Catalog_Product_Grid</catalog_product_grid>
					<catalog_product_attribute_grid>Zolago_Adminhtml_Block_Catalog_Product_Attribute_Grid</catalog_product_attribute_grid>
                    <catalog_product_attribute_set_main>Zolago_Adminhtml_Block_Catalog_Product_Attribute_Set_Main</catalog_product_attribute_set_main>
                    <catalog_product_attribute_set_main_formset>Zolago_Adminhtml_Block_Catalog_Product_Attribute_Set_Main_Formset</catalog_product_attribute_set_main_formset>
                    <catalog_product_edit_tab_settings>Zolago_Adminhtml_Block_Catalog_Product_Edit_Tab_Settings</catalog_product_edit_tab_settings>
                    <catalog_product_attribute_set_grid>Zolago_Adminhtml_Block_Catalog_Product_Attribute_Set_Grid</catalog_product_attribute_set_grid>
                    <catalog_product_attribute_grid>Zolago_Adminhtml_Block_Catalog_Product_Attribute_Grid</catalog_product_attribute_grid>
                    <promo_quote_edit_form>Zolago_Adminhtml_Block_Promo_Quote_Edit_Form</promo_quote_edit_form>
                    <page_footer>Zolago_Adminhtml_Block_Page_Footer</page_footer>
                    <newsletter_subscriber_grid>Zolago_Adminhtml_Block_Newsletter_Subscriber_Grid</newsletter_subscriber_grid>
                    <promo_quote_edit_tab_coupons_grid>Zolago_Adminhtml_Block_Promo_Quote_Edit_Tab_Coupons_Grid</promo_quote_edit_tab_coupons_grid>
                    <sales_transactions_grid>Zolago_Adminhtml_Block_Sales_Transactions_Grid</sales_transactions_grid>
                    <sales_order_view_tab_transactions>Zolago_Adminhtml_Block_Sales_Order_View_Tab_Transactions</sales_order_view_tab_transactions>
                    <sales_transactions_child_grid>Zolago_Adminhtml_Block_Sales_Transactions_Child_Grid</sales_transactions_child_grid>
                    <cms_block_edit_form>Zolago_Adminhtml_Block_Cms_Block_Edit_Form</cms_block_edit_form>
                    <sales_transactions_detail>Zolago_Adminhtml_Block_Sales_Transactions_Detail</sales_transactions_detail>
                    <system_store_tree>Zolago_Adminhtml_Block_System_Store_Tree</system_store_tree>
                    <customer_edit_tabs>Zolago_Adminhtml_Block_Customer_Edit_Tabs</customer_edit_tabs>
                    <sales_transactions_grid>Zolago_Adminhtml_Block_Sales_Transactions_Grid</sales_transactions_grid>
                    <sales_transactions>Zolago_Adminhtml_Block_Sales_Transactions</sales_transactions>
                    <catalog_product_edit_tab_attributes>Zolago_Adminhtml_Block_Catalog_Product_Edit_Tab_Attributes</catalog_product_edit_tab_attributes>
                    <catalog_helper_form_wysiwyg>Zolago_Adminhtml_Block_Catalog_Helper_Form_Wysiwyg</catalog_helper_form_wysiwyg>
                    <catalog_helper_form_wysiwyg_content>Zolago_Adminhtml_Block_Catalog_Helper_Form_Wysiwyg_Content</catalog_helper_form_wysiwyg_content>
                </rewrite>
            </adminhtml>
            <cmsmart_admintheme>
                <rewrite>
                    <adminhtml_block_sales_order_view>Zolago_Adminhtml_Block_AdminTheme_Adminhtml_Block_Sales_Order_View</adminhtml_block_sales_order_view>
                </rewrite>
            </cmsmart_admintheme>
        </blocks>
        <helpers>
            <zolagoadminhtml>
                <class>Zolago_Adminhtml_Helper</class>
            </zolagoadminhtml>
        </helpers>
        <models>
            <zolagoadminhtml>
                <class>Zolago_Adminhtml_Model</class>
            </zolagoadminhtml>
        </models>		
        <resources>
            <zolagoadminhtml_setup>
                <setup>
                    <module>Zolago_Adminhtml</module>
                </setup>
            </zolagoadminhtml_setup>
        </resources>
    </global>
	<adminhtml>
		<translate>
			<modules>
				<Zolago_Adminhtml>
					<files>
						<default>Zolago_Adminhtml.csv</default>
					</files>
				</Zolago_Adminhtml>
			</modules>
		</translate>
		<layout>
			<updates>
				<zolagoadminhtml>
					<file>zolagoadminhtml.xml</file>
				</zolagoadminhtml>
			</updates>
		</layout>
        <events>
            <adminhtml_catalog_product_grid_prepare_massaction>
                <observers>
                    <zolagoadminhtml_catalog_product_grid_prepare_massaction_push_to_solr>
                        <class>zolagoadminhtml/observer</class>
                        <method>addPushToSolrMassaction</method>
                    </zolagoadminhtml_catalog_product_grid_prepare_massaction_push_to_solr>
                </observers>
            </adminhtml_catalog_product_grid_prepare_massaction>
            <adminhtml_customer_prepare_save>
                <observers>
                    <zolagoadminhtml_customer_prepare_save>
                        <class>zolagoadminhtml/observer</class>
                        <method>saveOfflineCustomerData</method>
                    </zolagoadminhtml_customer_prepare_save>
                </observers>
            </adminhtml_customer_prepare_save>
        </events>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<zolagoadminhtml before="Mage_Adminhtml">Zolago_Adminhtml</zolagoadminhtml>
                        <zolago_adminhtml before="Mage_Adminhtml">Zolago_Adminhtml_Adminhtml</zolago_adminhtml>
                    </modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
    <frontend>
        <translate>
            <modules>
                <Zolago_Adminhtml>
                    <files>
                        <default>Zolago_Adminhtml.csv</default>
                    </files>
                </Zolago_Adminhtml>
            </modules>
        </translate>
    </frontend>
</config>
