<?xml version="1.0"?>
<config>
    <modules>
        <Zolago_Adminhtml>
            <version>0.0.1</version>
        </Zolago_Adminhtml>
    </modules>
    <global>
        <blocks>
			<zolagoadminhtml>
				<class>Zolago_Adminhtml_Block</class>
			</zolagoadminhtml>
            <adminhtml>
                <rewrite>
					<catalog_product_attribute_grid>Zolago_Adminhtml_Block_Catalog_Product_Attribute_Grid</catalog_product_attribute_grid>
                    <catalog_product_attribute_set_main>Zolago_Adminhtml_Block_Catalog_Product_Attribute_Set_Main</catalog_product_attribute_set_main>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <zolagoadminhtml>
                <class>Zolago_Adminhtml_Helper</class>
            </zolagoadminhtml>
        </helpers>
        <models>
            <zolagoadminhtml>
                <class>Zolago_Adminhtml_Model</class>
            </zolagoadminhtml>
        </models>		
        <resources>
            <zolagoadminhtml_setup>
                <setup>
                    <module>Zolago_Adminhtml</module>
                </setup>
            </zolagoadminhtml_setup>
        </resources>
    </global>
	<adminhtml>
		<translate>
			<modules>
				<zolagoadminhtml>
					<files>
						<default>Zolago_Adminhtml.csv</default>
					</files>
				</zolagoadminhtml>
			</modules>
		</translate>	
	</adminhtml>
	<admin>
        <routers>
            <adminhtml>
				<use>admin</use>
                <args>
                    <modules>
                        <Zolago_Adminhtml before="Mage_Adminhtml">Zolago_Adminhtml</Zolago_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>		
	</admin>
</config>
