#boxesSlider {
	margin-top: 25px;
	text-align: center;
	.boxesSlide {
		background-color: #FFF;
		display: inline-block;
		vertical-align: middle;
		float: none;
		margin: 0 5px;
		border: 1px solid #dbdbdb;
		.boxesSlideIn {
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			background-color: #FFFFFF;
			@include max-screen($screen-sm-max) {
				width: 50%;
			}
		}
		@include max-screen($screen-sm-max) {
			vertical-align: top;
			margin-bottom: 10px;
			&:nth-last-child(2), &:last-child {
				margin-bottom: 0;
			}
		}
	}

}