#boxesSlider {
	margin-top: 25px;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
	position: relative;
	.boxesSlide {
		background-color: #FFF;
		display: inline-block;
		vertical-align: top;
		float: none;
		margin: 0 5px 2px 0;
		border: 1px solid #dbdbdb;
		.boxesSlideIn {
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			background-color: #FFFFFF;
		}
	}
	.boxesArrow {
		color: $color-gray1;
		font-size: 30px;
		position: absolute;
		height: 100%;
		top: 0;
		cursor: pointer;
		&.boxesArrowNext {
			right: 0;
		}
		&.boxesArrowPrev {
			left: 0;
		}
		i {
			transition: margin 200ms ease;
		}
	}
}